Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

chore: refactors
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionHeader/LibraryActionHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryNotificationCard/LibraryNotificationCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryNotificationDropdown/LibraryNotificationDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/LibrarySearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/useLibrarySearchbar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/components/molecules/Form/Form.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: more updates
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionSubHeader/LibraryActionSubHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 01-02-2303-5C4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-02_230322_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-02_230322_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-02_230322_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 01-02-2303-5C4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-02_230322_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 01-02-2303-5C4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 01-02-2303-5C4B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

ghrs: snap 01-03-2303-6E08 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-03_230336_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-03_230336_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-03_230336_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 01-03-2303-6E08 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 01-03-2303-6E08 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-03_230336_views_clones_series_fragment.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 01-03-2303-6E08 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

chore: move node input
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeTableInput.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/[creator]/page.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): keep anyOf field visible on empty
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/useAnyOfField.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): enforce strict port validation in OAuth callback URLs
  autogpt_platform/backend/backend/api/external/v1/integrations.py
  autogpt_platform/backend/backend/api/external/v1/integrations_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(blocks): add ConcatenateListsBlock for list concatenation
  autogpt_platform/backend/backend/blocks/basic.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): add TextEncoderBlock for escape sequence encoding
  autogpt_platform/backend/backend/blocks/decoder_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ghrs: snap 01-04-2303-1CC3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-04_230325_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-04_230325_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-04_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 01-04-2303-1CC3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-04_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 01-04-2303-1CC3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 01-04-2303-1CC3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Add delete key bindings to ReactFlow editor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): simplify edge data handling in useEdgeStore
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): fix new builder buttons
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/BuilderActionButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/PublishToMarketplace/PublishToMarketplace.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenu/GraphMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/UndoRedoButtons.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/useBuilderView.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): fix new builder buttons (#11696)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/BuilderActionButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/PublishToMarketplace/PublishToMarketplace.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSearchGraph/GraphMenu/GraphMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/UndoRedoButtons.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/useBuilderView.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Add LLM model creator support to registry and admin UI
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/llm_registry/__init__.py
  autogpt_platform/backend/backend/data/llm_registry/registry.py
  autogpt_platform/backend/backend/data/llm_registry/schema_utils.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/migrations/20251224100000_add_llm_model_creator/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddCreatorModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/CreatorsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/LlmRegistryDashboard.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/useLlmRegistryPage.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/utils/input-schema-pre-processor.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @0ubbe, @kcze, @Abhi1992002

feat(frontend): Add delete key bindings to ReactFlow editor (#11693)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): move NodeInput files (#11695)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeTableInput.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/[creator]/page.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: update imports to use new api/features paths
  autogpt_platform/backend/backend/api/features/chat/tools/add_understanding.py
  autogpt_platform/backend/backend/api/features/chat/tools/agent_generator/core.py
  autogpt_platform/backend/backend/api/features/chat/tools/agent_output.py
  autogpt_platform/backend/backend/api/features/chat/tools/create_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/edit_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/find_block.py
  autogpt_platform/backend/backend/api/features/chat/tools/find_library_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/run_block.py
  autogpt_platform/backend/backend/api/features/chat/tools/search_docs.py
  autogpt_platform/backend/backend/api/features/store/backfill_embeddings.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/setup-wizard/page.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

first draft (missing migrations)
  autogpt_platform/backend/backend/api/external/fastapi_app.py
  autogpt_platform/backend/backend/api/external/v1/app.py
  autogpt_platform/backend/backend/api/external/v2/__init__.py
  autogpt_platform/backend/backend/api/external/v2/app.py
  autogpt_platform/backend/backend/api/external/v2/blocks.py
  autogpt_platform/backend/backend/api/external/v2/common.py
  autogpt_platform/backend/backend/api/external/v2/credits.py
  autogpt_platform/backend/backend/api/external/v2/files.py
  autogpt_platform/backend/backend/api/external/v2/graphs.py
  autogpt_platform/backend/backend/api/external/v2/integrations.py
  autogpt_platform/backend/backend/api/external/v2/library.py
  autogpt_platform/backend/backend/api/external/v2/marketplace.py
  autogpt_platform/backend/backend/api/external/v2/models.py
  autogpt_platform/backend/backend/api/external/v2/routes.py
  autogpt_platform/backend/backend/api/external/v2/runs.py
  autogpt_platform/backend/backend/api/external/v2/schedules.py
  autogpt_platform/backend/backend/api/features/v1.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/schema.prisma
  docs/content/platform/contributing/oauth-integration-flow.md
  docs/content/platform/integrating/api-guide.md
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

Improve LLM model migration and add AgentNode index
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/migrations/20260105120000_add_agent_node_model_index/migration.sql
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

Refactor LLM model cost and update logic, remove 'Enabled' checkbox
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Improve model modal UX and credential provider selection
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): allow empty values in number inputs and fix AnyOfField toggle (#11661)
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/useAnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/TextInputWidget/TextInputWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(blocks): add YouTube Shorts URL support (#11659)
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/backend/test/blocks/test_youtube.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

feat(backend): Add `GPT-5.2` and update default models (#11652)
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/blocks/ai_condition.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Abhi1992002

refactor(backend/blocks): remove redundant test file for ConcatenateListsBlock
  autogpt_platform/backend/test/blocks/test_concatenate_lists.py
Owners: @Abhi1992002

Refactor LLM admin UI for improved consistency and API support
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddProviderModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DeleteModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DisableModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/LlmRegistryDashboard.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/MigrationsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

feat(blocks): Add Google Docs integration blocks (#11608)
  autogpt_platform/backend/backend/blocks/google/docs.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/blocks/test_google_docs_format_text_color.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

fixing ci issues
  autogpt_platform/backend/backend/api/features/chat/db.py
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/backend/backend/api/features/chat/tools/add_understanding.py
  autogpt_platform/backend/backend/api/features/chat/tools/agent_generator/core.py
  autogpt_platform/backend/backend/api/features/chat/tools/agent_output.py
  autogpt_platform/backend/backend/api/features/chat/tools/run_agent.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: clean up and test + fix all the blcoks + add missing gaps
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/integrations/oauth/reddit.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

Discard changes to autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
