Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

Update provider
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Use `getV1RecommendedOnboardingAgents`
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Use `getV1IsOnboardingEnabled`
  autogpt_platform/frontend/src/app/api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): enable admin impersonation for server-side rendered requests
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(security): add Secure flag to admin impersonation cookies
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): supabase + zustand for speed (#11333)
  autogpt_platform/frontend/src/lib/supabase/hooks/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add cross-tab support for admin impersonation
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): centralize admin impersonation logic with WebSocket support
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/impersonation.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): simplify impersonation code without WebSocket changes
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/impersonation.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): remove unused IMPERSONATION_STORAGE_KEY import
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): generate unique IDs for copied blocks in graph editor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useCopyPaste.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Fix copy-paste node positioning in FlowEditor and legacy builder
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useCopyPaste.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/useCopyPaste.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): use marketplace name/description for downloaded agents in library
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/migrations/20251110000000_add_library_agent_custom_name_description/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): use marketplace name/description for downloaded agents in library
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/migrations/20251110000000_add_library_agent_custom_name_description/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): enable admin impersonation for server-side rendered requests (#11343)
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/impersonation.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform/blocks): implement ConcatenateListsBlock
  autogpt_platform/backend/backend/blocks/concatenate_lists.py
  autogpt_platform/backend/test/blocks/test_concatenate_lists.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

feat(frontend): add copy paste functionality in new builder (#11339)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useCopyPasteKeyboard.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/copyPasteStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

GITBOOK-83: No subject
  docs/.gitbook/assets/Ollama-Add-Prompts.png
  docs/.gitbook/assets/Ollama-Output.png
  docs/.gitbook/assets/Ollama-Remote-Host.png
  docs/.gitbook/assets/Ollama-Select-Llama32.png
  docs/.gitbook/assets/Select-AI-block.png
  docs/.gitbook/assets/e2b-dashboard.png
  docs/.gitbook/assets/e2b-log-url.png
  docs/.gitbook/assets/e2b-new-tag.png
  docs/.gitbook/assets/e2b-tag-button.png
  docs/.gitbook/assets/get-repo-dialog.png
  docs/README.md
  docs/SUMMARY.md
  docs/advanced-setup.md
  docs/agent-blocks.md
  docs/aimlapi.md
  docs/block-sdk-guide.md
  docs/create-basic-agent.md
  docs/delete-agent.md
  docs/download-agent-from-marketplace-local.md
  docs/edit-agent.md
  docs/getting-started.md
  docs/installer.md
  docs/new-blocks-1.md
  docs/new-blocks.md
  docs/ollama.md
  docs/submit-agent-to-marketplace.md
Owners: @Bentlybro, @Pwuts

fix(blocks): Make Smart Decision Maker tool pin handling consistent and reliable
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/dynamic_fields.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @0ubbe, @kcze, @Abhi1992002

ghrs: snap 11-10-2302-06A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-10_230257_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-10-2302-06A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-10_230257_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-10-2302-06A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-10-2302-06A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Backend increment runs logic
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

refactor(frontend): streamline drag-and-drop functionality and improve block drag preview
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/style.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add context menu in custom node (#11342)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): integrate drag-and-drop functionality in new builder (#11341)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/AllBlocksContent/AllBlocksContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockList/BlockList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/style.ts
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Backend `GET_RESULTS`
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Backend `MARKETPLACE_ADD_AGENT`
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/backend/backend/blocks/google/sheet.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/backend/backend/blocks/google/sheet.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
Owners: @Swiftyos, @ntindle, @Bentlybro

add beads inside the custom edge
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/components/Beads.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform/blocks): add ConcatenateListsBlock implementation
  autogpt_platform/backend/backend/blocks/concatenate_lists.py
Owners: @Swiftyos, @ntindle, @Bentlybro

test(platform/blocks): add tests for ConcatenateListsBlock
  autogpt_platform/backend/test/blocks/test_concatenate_lists.py
Owners: @Abhi1992002

fix beads removal stuff
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/components/Beads.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Rename migration file for agent custom name/description
  autogpt_platform/backend/migrations/20251110134206_add_library_agent_custom_name_description/migration.sql
Owners: @majdyz

fix tool pin routing
  autogpt_platform/backend/backend/data/dynamic_fields.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

add beads JS animation
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/components/JSBeads.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/components/SVGBeads.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Cleaning dependencies
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
