Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix(platform/blocks): update linear oauth to use refresh tokens (#10998)
  autogpt_platform/backend/backend/blocks/linear/_config.py
  autogpt_platform/backend/backend/blocks/linear/_oauth.py
  autogpt_platform/backend/backend/data/model.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

Discard changes to autogpt_platform/frontend/scripts/generate-api-queries.ts
  autogpt_platform/frontend/scripts/generate-api-queries.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Discard changes to autogpt_platform/frontend/src/lib/env-config.ts
  autogpt_platform/frontend/src/lib/env-config.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 10-20-2302-B924 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-20_230247_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-20-2302-B924 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-20-2302-B924 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-20_230247_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-20-2302-B924 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(backend): Add language fallback for YouTube transcription block (#11057)
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/backend/test/blocks/test_youtube.py
  docs/content/platform/blocks/youtube.md
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @Pwuts

feat(backend): Add language fallback for YouTube transcription block (#11057)
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/backend/test/blocks/test_youtube.py
  docs/content/platform/blocks/youtube.md
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @Pwuts

adding designs for custom nodes based on status
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeCost.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

WIP: backend MVP, frontend models and UI need updating
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/migrations/20251016151116_migrate_preset_trigger_params/migration.sql
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/BlocksControl.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(backend): Handle LaunchDarkly init failure
  autogpt_platform/backend/backend/util/metrics.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Handle LaunchDarkly init failure (#11221)
  autogpt_platform/backend/backend/util/metrics.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Handle LaunchDarkly init failure (#11221)
  autogpt_platform/backend/backend/util/metrics.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Only try to initialize LaunchDarkly once
  autogpt_platform/backend/backend/util/feature_flag.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): Limit Sentry console capture to warnings and errors
  autogpt_platform/frontend/sentry.edge.config.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Only try to initialize LaunchDarkly once (#11222)
  autogpt_platform/backend/backend/util/feature_flag.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Only try to initialize LaunchDarkly once (#11222)
  autogpt_platform/backend/backend/util/feature_flag.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): update tooltip and alert styles (#11212)
  autogpt_platform/frontend/src/components/atoms/Tooltip/BaseTooltip.tsx
  autogpt_platform/frontend/src/components/molecules/Alert/Alert.tsx
Owners: @0ubbe

feat(frontend): update tooltip and alert styles (#11212)
  autogpt_platform/frontend/src/components/atoms/Tooltip/BaseTooltip.tsx
  autogpt_platform/frontend/src/components/molecules/Alert/Alert.tsx
Owners: @0ubbe

docs(frontend): contributing guidelines (#11210)
  .github/copilot-instructions.md
  autogpt_platform/CLAUDE.md
  autogpt_platform/frontend/CONTRIBUTING.md
  autogpt_platform/frontend/README.md
Owners: @Bentlybro, @Pwuts

docs(frontend): contributing guidelines (#11210)
  .github/copilot-instructions.md
  autogpt_platform/CLAUDE.md
  autogpt_platform/frontend/CONTRIBUTING.md
  autogpt_platform/frontend/README.md
Owners: @Bentlybro, @Pwuts

fix(backend/executor): Improve database connection resilience in get_user_context
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(frontend): standardise with environment service (#11209)
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/scripts/generate-api-queries.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/OttoChatWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/auth/AuthFeedback.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/env-config.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/src/lib/utils/is-server-side.ts
  autogpt_platform/frontend/src/services/environment/index.ts
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): standardise with environment service (#11209)
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/scripts/generate-api-queries.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/OttoChatWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/auth/AuthFeedback.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/env-config.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/src/lib/utils/is-server-side.ts
  autogpt_platform/frontend/src/services/environment/index.ts
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/executor): Avoid running direct query in executor (#11224)
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/executor): Avoid running direct query in executor (#11224)
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Revert "Merge branch 'swiftyos/secrt-1709-store-provider-names-and-env-vars-in-db' into dev"
  autogpt_platform/backend/backend/blocks/generic_webhook/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/sdk/builder.py
  autogpt_platform/backend/backend/sdk/db.py
  autogpt_platform/backend/backend/sdk/db_test.py
  autogpt_platform/backend/backend/sdk/provider.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20251017130227_add_block_provider_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/sdk/test_sdk_patching.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Abhi1992002, @Pwuts, @0ubbe, @kcze

Revert "Merge branch 'swiftyos/secrt-1709-store-provider-names-and-en… (#11225)
  autogpt_platform/backend/backend/blocks/generic_webhook/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/sdk/builder.py
  autogpt_platform/backend/backend/sdk/db.py
  autogpt_platform/backend/backend/sdk/db_test.py
  autogpt_platform/backend/backend/sdk/provider.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20251017130227_add_block_provider_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/sdk/test_sdk_patching.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Abhi1992002, @Pwuts, @0ubbe, @kcze

Revert "Merge branch 'swiftyos/secrt-1709-store-provider-names-and-en… (#11225)
  autogpt_platform/backend/backend/blocks/generic_webhook/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/sdk/builder.py
  autogpt_platform/backend/backend/sdk/db.py
  autogpt_platform/backend/backend/sdk/db_test.py
  autogpt_platform/backend/backend/sdk/provider.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20251017130227_add_block_provider_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/sdk/test_sdk_patching.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Abhi1992002, @Pwuts, @0ubbe, @kcze

fix(backend): Fix structured logging for cloud environments
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Owners: @Significant-Gravitas/maintainers

fix format
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Owners: @Significant-Gravitas/maintainers

fix format more
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Owners: @Significant-Gravitas/maintainers

get rid of huge log prefixes in structured logging
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/logging.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

sanitize sql
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Fix structured logging for cloud environments (#11227)
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/logging.py
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Fix structured logging for cloud environments (#11227)
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/logging.py
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos

chat system core
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/models.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

yield pydantic models in the pure streaming function
  autogpt_platform/backend/backend/server/v2/chat/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): setup datafast custom events
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/tutorial.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/__legacy__/AgentInfo.tsx
  autogpt_platform/frontend/src/services/analytics/google-analytics.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002
