Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

ghrs: vc agg 09-19-2302-8A68 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-19_230236_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-19-2302-8A68 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-19-2302-8A68 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend): resolve undefined variable in SDK registry test
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
Owners: @Abhi1992002

ghrs: snap 09-20-2302-A950 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-20_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-20-2302-A950 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-20-2302-A950 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-20_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-20-2302-A950 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix anyOfField rendering
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditorContext.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/InputRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/useAnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/processors/input-schema-pre-processor.ts
Owners: @0ubbe, @kcze, @Abhi1992002

avoid depends of widgets on InputRenderer
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/NullField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/ObjectField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/DateInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/DateTImeInput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/FileWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/SelectWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/SwitchWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/TextInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/TimeInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

remove InputRenderer
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/InputRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/NullField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/TextInputWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Fix advanced toggle + allow user to add block from all sections of new block menu
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/IntegrationBlocks/IntegrationBlocks.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(blocks): Implement lenient JSON parsing in AI Structured Response block
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

add tests
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Abhi1992002

ghrs: snap 09-21-2302-DF05 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-21_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-21-2302-DF05 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-21_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-21-2302-DF05 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-21-2302-DF05 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(backend): Add k6 load testing infrastructure + fix critical performance issues (#10941)
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
  autogpt_platform/docker-compose.platform.yml
Owners: @ntindle, @Bentlybro, @0ubbe, @majdyz, @Pwuts, @Swiftyos, @Abhi1992002

New tasks completion code
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Hidden task group
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix output handler hiding issue
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

removing some unused comments
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

sanitize handle id creation
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add type display info helper for schema types
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update import paths for edgeStore and nodeStore
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/AllBlocksContent/AllBlocksContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockList/BlockList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/IntegrationBlocks/IntegrationBlocks.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/RIghtSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/credentialStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): clean up FlowEditor components and update import paths
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/uiSchema.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/credentialStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

revert changes from backend
  autogpt_platform/backend/backend/blocks/io.py
Owners: @Swiftyos, @ntindle, @Bentlybro

basic docs
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/docs/FORM_CREATOR.md
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/docs/README.md
Owners: @Bentlybro, @Pwuts

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/useAnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/useNewControlPanel.ts
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix types
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderViewTabs/BuilderViewTabs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/FileWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/SelectWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/AllBlocksContent/AllBlocksContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockList/BlockList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/RIghtSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/components/atoms/DateInput/DateInput.tsx
  autogpt_platform/frontend/src/components/atoms/DateTimeInput/DateTimeInput.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Fixes
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Migration
  autogpt_platform/backend/migrations/20250922050939_update_onboarding/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

Format
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(load-tests): resolve k6 VU crashes and authentication distribution issues
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(load-tests): resolve k6 VU crashes and authentication distribution issues
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(load-tests): complete k6 cloud compatibility and null auth handling
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: wip
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/RunActions/RunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/context.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(load-tests): resolve k6 VU crashes and authentication distribution issues (#10962)
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): improve database health check and service retry resilience
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos
