Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix
  autogpt_platform/backend/backend/data/rabbitmq.py
Owners: @majdyz

feat(frontend): add an API key modal for adding credentials in new builder. (#11105)
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): add an API key modal for adding credentials in new builder. (#11105)
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance OAuth credential handling and UI
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

update the frontend ci to generate the api files before running the tests
  .github/workflows/platform-frontend-ci.yml
Owners: @Significant-Gravitas/devops

add make file for running core services
  autogpt_platform/Makefile
  autogpt_platform/README.md
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

update commands
  autogpt_platform/Makefile
Owners: @Significant-Gravitas/maintainers

instrument prometheus for internal services
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

added clamav and udpated readme
  autogpt_platform/Makefile
  autogpt_platform/README.md
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(backend): instrument prometheus for internal services (#11114)
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): instrument prometheus for internal services (#11114)
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

use deps instead of listing each image
  autogpt_platform/Makefile
Owners: @Significant-Gravitas/maintainers

add migrate and run commands
  autogpt_platform/Makefile
Owners: @Significant-Gravitas/maintainers

feat: track users with sentry on client side (not backend yet) (#11077)
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/monitor/SentryUserTracker.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat: track users with sentry on client side (not backend yet) (#11077)
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/monitor/SentryUserTracker.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Refactor SmartDecisionMaker dynamic field handling and validation
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

Refactor notification error handling tests
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/test_notifications.py
Owners: @ntindle, @Abhi1992002

Allow Project.content to be optional
  autogpt_platform/backend/backend/blocks/linear/models.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): Allow Project.content to be optional for linear search projects (#11118)
  autogpt_platform/backend/backend/blocks/linear/models.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): Allow Project.content to be optional for linear search projects (#11118)
  autogpt_platform/backend/backend/blocks/linear/models.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend/notifications): handle processing notifiactions one at a time so we dont resend everything in a batch
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/notifications/notifications.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Remove oversized notifications from batch permanently
  autogpt_platform/backend/backend/notifications/notifications.py
Owners: @ntindle

Reformat test_notifications.py for improved readability
  autogpt_platform/backend/backend/notifications/test_notifications.py
Owners: @Abhi1992002

feat(backend/notifications): implement user notification management for inactive users
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/notifications/notifications.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 10-07-2302-4CE2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-07_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-07-2302-4CE2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-07_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-07-2302-4CE2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-07-2302-4CE2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

lint
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(frontend): replace BlockMenuStateProvider with blockMenuStore
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuContent/BlockMenuContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuDefaultContent/BlockMenuDefaultContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuSearchBar/useBlockMenuSearchBar.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuSidebar/BlockMenuSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuSidebar/useBlockMenuSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/IntegrationBlocks/IntegrationBlocks.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/IntegrationBlocks/useIntegrationBlocks.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/IntegrationsContent/IntegrationsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/PaginatedIntegrationList/PaginatedIntegrationList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/block-menu-provider.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/blockMenuStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/credentialStore.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(backend): update search API to use GET method and simplify request parameters
  autogpt_platform/backend/backend/server/v2/builder/model.py
  autogpt_platform/backend/backend/server/v2/builder/routes.py
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuSearch/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuSearch/useBlockMenuSearch.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance BlockMenuSearch with addBlock functionality
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix format
  autogpt_platform/backend/backend/server/v2/builder/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): add support for user password credentials in FlowEditor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix flag
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/usePasswordCredentialModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(integrations): add CometAPI support with models and credentials
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

feat(frontend): enhance CustomNode with uiType support
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/TextInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
