Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

speeding up tests
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
  autogpt_platform/backend/backend/util/cache_test.py
  autogpt_platform/backend/backend/util/retry_test.py
  autogpt_platform/backend/backend/util/service_test.py
  autogpt_platform/backend/docker-compose.test.yaml
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

update settings nav drawer
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api-keys/components/APIKeySection/APIKeySection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api-keys/components/APIKeySection/useAPISection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api-keys/components/APIKeysModals/APIKeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api-keys/components/APIKeysModals/useAPIkeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api-keys/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/tests/api-keys.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

update integration setup wizard text
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/setup-wizard/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): implement real changelog and fix marketplace agent display
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/AgentVersionChangelog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/useMainAgentPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/AgentSelectStep.tsx
  autogpt_platform/frontend/src/components/contextual/marketplaceHelpers.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(frontend): replace status === 200 checks with okData() helper in marketplace files
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/AgentVersionChangelog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): replace remaining status !== 200 checks with okData() helper
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ci(platform): enable CI workflows for native-auth branch
  .github/workflows/platform-backend-ci.yml
  .github/workflows/platform-frontend-ci.yml
  .github/workflows/platform-fullstack-ci.yml
Owners: @Significant-Gravitas/devops

fix(frontend): replace all 'any' types with proper pre-generated TypeScript types
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/PublishToMarketplace/usePublishToMarketplace.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/AgentSelectStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

style(frontend): remove unnecessary !important text color overrides
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentReviewStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/AgentSelectStep.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): format migrate_supabase_users.py for black compliance
  autogpt_platform/backend/scripts/migrate_supabase_users.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

clean up & tweak
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/README.md
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/setup-wizard/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api-keys/components/APIKeySection/useAPISection.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api-keys/components/APIKeysModals/useAPIkeysModals.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/oauth-apps/components/useOAuthApps.ts
  autogpt_platform/frontend/src/components/molecules/ErrorCard/ErrorCard.tsx
  autogpt_platform/frontend/src/components/molecules/ErrorCard/components/ErrorMessage.tsx
Owners: @Bentlybro, @Pwuts, @0ubbe, @kcze, @Abhi1992002

appease the robot
  autogpt_platform/backend/backend/data/auth/oauth.py
  autogpt_platform/backend/backend/server/external/middleware.py
  autogpt_platform/backend/backend/server/routers/oauth_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(frontend): fix infinite loop in PublishAgentModal and simplify useThumbnailImages
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/components/useThumbnailImages.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): add missing data-testid='agent-title' to NewAgentLibraryView
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedViewLayout.tsx
  autogpt_platform/frontend/src/components/molecules/Breadcrumbs/Breadcrumbs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix failing test
  autogpt_platform/backend/snapshots/agt_details
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(frontend): move MarketplaceBanners to contextual components
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
  autogpt_platform/frontend/src/components/contextual/MarketplaceBanners/MarketplaceBanners.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): fix changesSummary rendering in dashboard and admin review
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ExpandleRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/MainDashboardPage.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix failing test
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): rename password-related log variables to avoid security scan false positives
  autogpt_platform/backend/scripts/migrate_supabase_users.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix failing test
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): format migrate_supabase_users.py line 148
  autogpt_platform/backend/scripts/migrate_supabase_users.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Improve migration script with nuke step and table exclusions
  autogpt_platform/backend/scripts/migrate_to_gcp.sh
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): Add script to migrate large execution tables
  autogpt_platform/backend/scripts/migrate_big_tables.sh
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Resolve pyright type errors for Prisma TypedDict inputs
  autogpt_platform/backend/backend/cli/oauth_tool.py
  autogpt_platform/backend/backend/data/auth/api_key.py
  autogpt_platform/backend/backend/data/auth/oauth.py
  autogpt_platform/backend/backend/data/credit_ceiling_test.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_integration_test.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/credit_underflow_test.py
  autogpt_platform/backend/backend/data/credit_user_balance_migration_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/auth/email.py
  autogpt_platform/backend/backend/server/auth/service.py
  autogpt_platform/backend/backend/server/routers/oauth_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/_test_data.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/backend/test/test_data_updater.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

sort OpenAPI schema
  autogpt_platform/autogpt_libs/autogpt_libs/auth/helpers.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/api/utils/openapi.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Pwuts, @majdyz, @ntindle, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

update openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

add rust migration tool
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/tools/db-migrate/.env.example
  autogpt_platform/backend/tools/db-migrate/.gitignore
  autogpt_platform/backend/tools/db-migrate/Cargo.lock
  autogpt_platform/backend/tools/db-migrate/Cargo.toml
  autogpt_platform/backend/tools/db-migrate/Dockerfile
  autogpt_platform/backend/tools/db-migrate/README.md
  autogpt_platform/backend/tools/db-migrate/deploy.sh
  autogpt_platform/backend/tools/db-migrate/run-local.sh
  autogpt_platform/backend/tools/db-migrate/src/auth.rs
  autogpt_platform/backend/tools/db-migrate/src/db.rs
  autogpt_platform/backend/tools/db-migrate/src/main.rs
  autogpt_platform/backend/tools/db-migrate/src/migrate.rs
  autogpt_platform/backend/tools/db-migrate/src/verify.rs
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @0ubbe

added oauth login
  .github/workflows/platform-fullstack-ci.yml
  autogpt_platform/backend/backend/server/auth/email.py
  autogpt_platform/backend/backend/server/auth/routes.py
Owners: @Significant-Gravitas/devops, @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(ci): Use correct poetry command 'rest' instead of 'serve'
  .github/workflows/platform-fullstack-ci.yml
Owners: @Significant-Gravitas/devops

fix(frontend): Fix Google OAuth callback URL and error handling
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/lib/auth/api.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(ci): Use export-api-schema instead of running server
  .github/workflows/platform-fullstack-ci.yml
Owners: @Significant-Gravitas/devops

fix(ci): Add boolean argument to --pretty flag
  .github/workflows/platform-fullstack-ci.yml
Owners: @Significant-Gravitas/devops

fix(frontend): Handle 401 errors gracefully in onboarding provider
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

update openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 12-19-2303-36F0 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-19_230318_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-19-2303-36F0 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-19_230318_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-19-2303-36F0 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-19-2303-36F0 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fmt
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(ci): Simplify fullstack CI by removing backend dependencies
  .github/workflows/platform-fullstack-ci.yml
Owners: @Significant-Gravitas/devops

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
