Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix(backend): improve onboarding reward concurrency and test reliability
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @Abhi1992002

feat(backend): complete credit system latency improvements with underflow protection
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_ceiling_test.py
  autogpt_platform/backend/backend/data/credit_user_balance_migration_test.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @Abhi1992002

docs(backend/credit): document FOR UPDATE locking design decision
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
Owners: @majdyz, @Abhi1992002

chore(frontend): fix Next.js / Vercel sourcemaps
  autogpt_platform/frontend/next.config.mjs
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/credit): resolve schema context issue in raw SQL queries
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

fix
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_metadata_test.py
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @Abhi1992002, @ntindle, @Pwuts, @Swiftyos

fix
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_metadata_test.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
Owners: @majdyz, @Abhi1992002

added toast on agent upload failure
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
Owners: @0ubbe, @kcze, @Abhi1992002

moved toast to the catch
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_integration_test.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
Owners: @majdyz, @Abhi1992002

fix
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

only fill block input defaults on initial node creation
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: config
  autogpt_platform/frontend/next.config.mjs
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix 2
  autogpt_platform/frontend/next.config.mjs
Owners: @0ubbe, @kcze, @Abhi1992002

fix
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_integration_test.py
Owners: @majdyz, @Abhi1992002

feat(backend): Make execution limit per user per graph and reduce to 25
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/credit): use TOP_UP transaction type for immediate auto-top-up
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

ghrs: snap 10-14-2302-A43A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-14_230248_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-14-2302-A43A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-14_230248_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-14-2302-A43A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-14-2302-A43A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend/credit): clean up auto-top-up logic and improve tests
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_integration_test.py
Owners: @majdyz, @Abhi1992002

feat(backend): Make execution limit per user per graph and reduce to 25 (#11169)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): Make execution limit per user per graph and reduce to 25 (#11169)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/credit): resolve test data contamination in auto-top-up integration tests
  autogpt_platform/backend/backend/data/credit_integration_test.py
Owners: @Abhi1992002

feat(backend): Add Sentry user and tag tracking to node execution
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

drop exec ids
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): also track launchdarkly
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/metrics.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Set default UserContext timezone to UTC in execute_node
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): enhance CredentialField functionality and UI
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

format
  autogpt_platform/backend/backend/blocks/jina/fact_checker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

format
  autogpt_platform/backend/backend/blocks/perplexity.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Refactor annotation extraction logic in PerplexityBlock
  autogpt_platform/backend/backend/blocks/perplexity.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): add dedicated Perplexity block (#11164)
  autogpt_platform/backend/backend/blocks/perplexity.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): add dedicated Perplexity block (#11164)
  autogpt_platform/backend/backend/blocks/perplexity.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): fix auto select credential mechanism in new builder (#11171)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): fix auto select credential mechanism in new builder (#11171)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
Owners: @0ubbe, @kcze, @Abhi1992002

dx(frontend): enable Next.js sourcemaps for Sentry (#11161)
  autogpt_platform/frontend/next.config.mjs
Owners: @0ubbe, @kcze, @Abhi1992002

dx(frontend): enable Next.js sourcemaps for Sentry (#11161)
  autogpt_platform/frontend/next.config.mjs
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
