Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

Refactor LLM model registry to use database
  autogpt_platform/backend/backend/blocks/ai_condition.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/data/llm_model_types.py
  autogpt_platform/backend/backend/data/llm_registry.py
  autogpt_platform/backend/backend/data/llm_registry_notifications.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/conn_manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/backend/server/v2/llm/routes.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/migrations/20251126113000_add_llm_registry/migration.sql
  autogpt_platform/backend/migrations/20251126120000_seed_llm_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddProviderForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ProviderList.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/AllBlocksContent/useAllBlockContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/utils.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

type hinting and code cleaning
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

Refactor LLM registry integration and schema updates
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/llm_schema_utils.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/llm_registry_init.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Remove Google Sheets API scopes from block inputs (#11484)
  autogpt_platform/backend/backend/blocks/google/_drive.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ci(claude): add free disk space step to prevent runner out of space
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

fix(backend): Fix Youtube blocking our cloud ips (#11456)
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test/blocks/test_youtube.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

feat(platform): Explain None Message in BlockError Messages (#11490)
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/backend/util/exceptions_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(platform): Simplify the chat tool system to use only 2 tools (#11464)
  autogpt_platform/backend/backend/server/external/routes/tools.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/utils.py
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatMessage/useChatMessage.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Abhi1992002, @0ubbe, @kcze

feat(backend/blocks): add Discord create thread block (#11131)
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ci(claude): add free disk space step to prevent runner out of space (#11503)
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

ghrs: snap 12-01-2303-E2C7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-01_230326_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-01-2303-E2C7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-01_230326_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-01-2303-E2C7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-01-2303-E2C7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(frontend): add flatbush dependency and enhance Flow component
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/helpers/resolve-collision.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(feature-flags): update mock feature flags to disable NEW_FLOW_EDITOR and BUILDER_VIEW_SWITCH
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/helpers/resolve-collision.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): update dynamic property connection in ObjectEditorWidget
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): prune empty values in nodeStore input defaults
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): implement graph-level Safe Mode toggle for HITL blocks (#11455)
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/data/human_review_test.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/backend/util/timezone_utils.py
  autogpt_platform/backend/migrations/20251128112407_add_library_agent_settings/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/backend/test_requeue_integration.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/useRunDetailHeader.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/molecules/FloatingSafeModeToggle/FloatingSafeModeToggle.tsx
  autogpt_platform/frontend/src/components/organisms/FloatingReviewsPanel/FloatingReviewsPanel.tsx
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Abhi1992002, @Pwuts, @0ubbe, @kcze

fix(backend): resolve HITL execution context validation and re-enable tests
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review_test.py
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
Owners: @majdyz, @Abhi1992002

pr comments
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/server/external/routes/integrations.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fixed security warning
  autogpt_platform/backend/backend/server/external/routes/integrations.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): resolve HITL execution context validation and re-enable tests (#11509)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review_test.py
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
Owners: @majdyz, @Abhi1992002

revery change
  autogpt_platform/backend/backend/integrations/credentials_store.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(frontend): restructure TextInputWidget import path and remove unused file
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/TextInputWidget/InputExpanderModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/TextInputWidget/TextInputWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Update isGraphRunning state when manually executing graphs (#11489)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/RunningBackground.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): prune empty values from node inputs and fix object editor connection detection (#11507)
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(backend): create helper method for updating library agent version and HITL settings
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): fix broken update_agent_version_in_library and reduce the method code duplication (#11514)
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Add LLM model deletion and migration feature
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes_test.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DeleteModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ProviderList.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/atoms/Table/Table.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

format
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/llm_model_types.py
  autogpt_platform/backend/backend/data/llm_registry.py
  autogpt_platform/backend/backend/data/llm_registry_notifications.py
  autogpt_platform/backend/backend/data/llm_schema_utils.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/llm_registry_init.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/admin/llm_routes_test.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/backend/server/v2/llm/routes.py
  autogpt_platform/backend/backend/server/ws_api.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

improve UI; support running presets; fix event handlers
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/WebhookTriggerBanner/WebhookTriggerBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedTemplateView/SelectedTemplateView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: Remove unnecessary whitespace in run method
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Remove unnecessary newline in llm.py
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Update autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/model.py
Owners: @majdyz

fix(blocks): clamp Twitter search start_time to 10 seconds before now (#11461)
  autogpt_platform/backend/backend/blocks/twitter/_builders.py
  autogpt_platform/backend/backend/blocks/twitter/_serializer.py
  autogpt_platform/backend/backend/blocks/twitter/_types.py
Owners: @Swiftyos, @ntindle, @Bentlybro

pr comment changes
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/server/external/routes/integrations.py
  autogpt_platform/backend/migrations/20251127144817_add_api_key_integration_permissions/migration.sql
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
