Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix(backend): Remove advisory locks for atomic credit operations (#11143)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_ceiling_test.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_integration_test.py
  autogpt_platform/backend/backend/data/credit_metadata_test.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/credit_underflow_test.py
  autogpt_platform/backend/backend/data/credit_user_balance_migration_test.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @Abhi1992002, @ntindle, @Pwuts, @Swiftyos

Improve Turnstile error handling and logging
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
Owners: @0ubbe, @kcze, @Abhi1992002

store providers in db
  autogpt_platform/backend/backend/blocks/generic_webhook/__init__.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/sdk/builder.py
  autogpt_platform/backend/backend/sdk/db.py
  autogpt_platform/backend/backend/sdk/provider.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20251017113143_provider_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/sdk/test_sdk_patching.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

store providers in db
  autogpt_platform/backend/backend/blocks/generic_webhook/__init__.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/sdk/builder.py
  autogpt_platform/backend/backend/sdk/db.py
  autogpt_platform/backend/backend/sdk/provider.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20251017113143_provider_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/sdk/test_sdk_patching.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

fix(backend): resolve UserBalance migration issues and credit spending bug
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

updated openapi spec
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

updated openapi spec
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

fix(backend/server): resolve all test failures and improve testing infrastructure
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/conftest.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/snapshots/auth_user
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
Owners: @majdyz, @Abhi1992002, @ntindle, @Pwuts, @Swiftyos

fix(backend): resolve UserBalance migration issues and credit spending bug (#11192)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/conftest.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
  autogpt_platform/backend/snapshots/auth_user
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): resolve UserBalance migration issues and credit spending bug (#11192)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/conftest.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
  autogpt_platform/backend/snapshots/auth_user
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

prettier
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Add block registry and updated
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/sdk/db.py
  autogpt_platform/backend/backend/sdk/db_test.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20251017113143_provider_registry/migration.sql
  autogpt_platform/backend/migrations/20251017130227_add_block_provider_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
Owners: @majdyz, @Abhi1992002, @Swiftyos, @ntindle, @Pwuts, @0ubbe, @kcze

Add block registry and updated
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_test.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/sdk/db.py
  autogpt_platform/backend/backend/sdk/db_test.py
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20251017113143_provider_registry/migration.sql
  autogpt_platform/backend/migrations/20251017130227_add_block_provider_registry/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
Owners: @majdyz, @Abhi1992002, @Swiftyos, @ntindle, @Pwuts, @0ubbe, @kcze

removed error handling from routes
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

removed error handling from routes
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix tests
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_test.py
Owners: @majdyz, @Abhi1992002

fix tests
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_test.py
Owners: @majdyz, @Abhi1992002

revert frontend type change
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

revert frontend type change
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix import
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix import
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): improve waitlist error display for users not on allowlist
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/components/auth/EmailNotAllowedModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: lint
  autogpt_platform/backend/backend/notifications/email.py
Owners: @ntindle

ref: add some comments back with clarificaitions
  autogpt_platform/backend/backend/notifications/email.py
Owners: @ntindle

Apply suggestion from @Pwuts
  autogpt_platform/frontend/src/components/auth/EmailNotAllowedModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): improve waitlist error detection with centralized utilities
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/api/auth/provider/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/app/api/auth/utils.ts
  autogpt_platform/frontend/src/components/auth/EmailNotAllowedModal.tsx
  autogpt_platform/frontend/src/components/auth/WaitlistErrorContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix incorrect type import
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix incorrect type import
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

formatting
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/app/api/auth/utils.ts
  autogpt_platform/frontend/src/components/auth/WaitlistErrorContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): correct waitlist error detection in auth-code-error page
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/api/auth/utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: lint
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/api/auth/utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 10-17-2302-81FE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-17_230303_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-17-2302-81FE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-17-2302-81FE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-17_230303_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-17-2302-81FE for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(frontend): improve waitlist error display for users not on allowlist (#11196)
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/auth/provider/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/app/api/auth/utils.ts
  autogpt_platform/frontend/src/components/auth/EmailNotAllowedModal.tsx
  autogpt_platform/frontend/src/components/auth/WaitlistErrorContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): improve waitlist error display for users not on allowlist (#11196)
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/auth/provider/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/app/api/auth/utils.ts
  autogpt_platform/frontend/src/components/auth/EmailNotAllowedModal.tsx
  autogpt_platform/frontend/src/components/auth/WaitlistErrorContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat: add error code check
  autogpt_platform/frontend/src/app/api/auth/utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: same thing
  autogpt_platform/frontend/src/app/api/auth/utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): improve waitlist error display for users not on allowlist (#11198)
  autogpt_platform/frontend/src/app/api/auth/utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002
