Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

Add 'Bash(gh pr edit:*)' to allowed tools
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

Add 'Bash(gh pr edit:*)' to allowed tools
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

ci: Add 'Bash(gh pr edit:*)' to allowed tools for claude (#10885)
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

ci: Add 'Bash(gh pr edit:*)' to allowed tools for claude (#10885)
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

Delete autogpt_platform/frontend/src/components/examples/tracked-api-example.tsx
  autogpt_platform/frontend/src/components/examples/tracked-api-example.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Revert "fix(backend): Improve GitHub PR URL validation and API URL generation…"
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Owners: @Swiftyos, @ntindle, @Bentlybro

refactor(backend): Clean up API key DB & API code (#10797)
  autogpt_platform/backend/backend/data/api_key.py
  autogpt_platform/backend/backend/server/external/middleware.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/APIKeySection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/useAPISection.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

Revert "fix(backend): Improve GitHub PR URL validation and API URL generation" (#10890)
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Revert "fix(backend): Improve GitHub PR URL validation and API URL generation" (#10890)
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): Add Airtable record normalization and upsert features
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(backend): Add support for finding existing Airtable bases
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Refactor Airtable create records block API
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ref: Move imports for Airtable API functions to module level
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ghrs: snap 09-09-2302-C432 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-09_230236_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-09_230236_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-09-2302-C432 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-09_230236_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-09-2302-C432 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-09-2302-C432 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(blocks): Add Gmail Draft Reply Block (#10882)
  autogpt_platform/backend/backend/blocks/google/gmail.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): Add Gmail Draft Reply Block (#10882)
  autogpt_platform/backend/backend/blocks/google/gmail.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): Add Airtable record normalization + find/create base (#10891)
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): Add Airtable record normalization + find/create base (#10891)
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

add tll chaching
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/cache_test.py
  autogpt_platform/backend/backend/util/metrics.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(frontend): add Zustand for state management and enhance layout structure
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/build/components/Flow/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/Flow/CustomNode/useCustomNode.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/store/nodeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: tidy
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/ImageRenderer.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown/ActivityDropdown.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): run agent page improvements (#10879)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/ImageRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/MarkdownRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/CronScheduler.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/CustomInterval.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/FrequencySelect.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/MonthlyPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/TimeAt.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/WeeklyPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/YearlyPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/DefaultRunView/DefaultRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleView/ScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/components/AgentActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetails/components/RunOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/useRunsSidebar.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown/ActivityDropdown.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): run agent page improvements (#10879)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/ImageRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/MarkdownRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/CronScheduler.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/CustomInterval.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/FrequencySelect.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/MonthlyPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/TimeAt.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/WeeklyPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/YearlyPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/DefaultRunView/DefaultRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleView/ScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/components/AgentActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetails/components/RunOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/useRunsSidebar.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown/ActivityDropdown.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

adding more cache coverage
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/server/cache_config.py
  autogpt_platform/backend/backend/server/cache_decorator.py
  autogpt_platform/backend/backend/server/cache_manager.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/admin/cache_routes.py
  autogpt_platform/backend/backend/server/v2/library/cache.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/otto/routes.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/cache_test.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

revent frontend changes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/ImageRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/MarkdownRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/CronScheduler.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/CustomInterval.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/FrequencySelect.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/MonthlyPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/TimeAt.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/WeeklyPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/CronScheduler/YearlyPicker.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/DefaultRunView/DefaultRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleView/ScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/components/AgentActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetails/components/RunOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/useRunsSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/[creator]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown/ActivityDropdown.tsx
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): update NewBlockMenu components and enhance error handling
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/AllBlocksContent/useAllBlockContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuDefaultContent/BlockMenuDefaultContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/IntergrationBlock.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): remove unused ToyBrick import from BlockMenu component
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/BlockMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/external-api): Improve security & reliability of API key storage (#10796)
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/key_manager.py
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/keysmith.py
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/test_keysmith.py
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
  autogpt_platform/backend/backend/data/api_key.py
  autogpt_platform/backend/backend/server/external/middleware.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20250901104517_fix_api_key_table/migration.sql
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/APIKeySection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/useAPISection.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze

fix(backend/external-api): Improve security & reliability of API key storage (#10796)
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/key_manager.py
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/keysmith.py
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/test_keysmith.py
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
  autogpt_platform/backend/backend/data/api_key.py
  autogpt_platform/backend/backend/server/external/middleware.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20250901104517_fix_api_key_table/migration.sql
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/APIKeySection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/useAPISection.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze

feat(frontend): add RJSF schemas for Flow component nodes
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/build/components/Flow/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/Flow/CustomNode/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/Flow/Flow.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): remove priority attribute from image components in LibraryAgentCard, CreatorCard, and StoreCard
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorCard/CreatorCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): allow lazy loading of images (#10895)
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorCard/CreatorCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): allow lazy loading of images (#10895)
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorCard/CreatorCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): restructure Flow components and update imports
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/useCustomNode.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuDefaultContent/BlockMenuDefaultContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/store/nodeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat: use new avatar component
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorInfoCard/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/MobileNavbar/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/ui/avatar.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): new `<Avatar />` component using next/image (#10897)
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorInfoCard/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/MobileNavbar/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/ui/avatar.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): new `<Avatar />` component using next/image (#10897)
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorInfoCard/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/MobileNavbar/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/ui/avatar.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
