Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

feat(blocks/claude): Remove Claude 3.5 Sonnet and Haiku model (#11260)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/migrations/20251027162201_migrate_claude_3_5_to_4_5_models/migration.sql
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

fix(frontend/builder): Fix unnecessary graph re-saving (#11145)
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

address Reiner's comments
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/integrations/webhooks/_base.py
  autogpt_platform/backend/backend/server/integrations/router.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 10-27-2302-012D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-27_230246_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-27-2302-012D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-27-2302-012D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-27_230246_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-27-2302-012D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix tests
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

add tests
  autogpt_platform/backend/backend/util/request_test.py
Owners: @Abhi1992002

fix(onboarding): Fix onboarding error when there are not two agents to provide
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

fmt
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Safely parse error response body in handleFetchError
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

test(frontend): Add test documentation for handleFetchError JSON parsing fix
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.test.ts
Owners: @Abhi1992002

fmt
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.test.ts
Owners: @Abhi1992002

fix(frontend): feedback button copy (#11246)
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
  autogpt_platform/frontend/src/components/molecules/TallyPoup/useTallyPopup.ts
Owners: @0ubbe

fix(frontend): feedback button copy (#11246)
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
  autogpt_platform/frontend/src/components/molecules/TallyPoup/useTallyPopup.ts
Owners: @0ubbe

fix(frontend): login not visible mobile (#11245)
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): login not visible mobile (#11245)
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): waitlist modal copy (#11263)
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/components/auth/EmailNotAllowedModal.tsx
  autogpt_platform/frontend/src/components/auth/WaitlistErrorContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): waitlist modal copy (#11263)
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/components/auth/EmailNotAllowedModal.tsx
  autogpt_platform/frontend/src/components/auth/WaitlistErrorContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

add tests
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

fix(frontend): onboarding step 5 adjustments
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: wip
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Fix various warnings (#11252)
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/poetry.lock
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix(backend): Fix various warnings (#11252)
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/poetry.lock
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

feat(backend/executor): Implement cascading stop for nested graph executions
  CASCADING_STOP_IMPLEMENTATION.md
  GRAPH_EXECUTION_ANALYSIS_INDEX.md
  GRAPH_EXECUTION_KEY_FILES.md
  GRAPH_EXECUTION_STOPPING_ANALYSIS.md
  STOP_FAILURE_SCENARIOS.md
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/migrations/20251028000000_add_parent_graph_execution_tracking/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @Bentlybro, @Pwuts, @Swiftyos, @ntindle, @majdyz

chore: fix lint
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): onboarding step 5 adjustments (#11276)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): onboarding step 5 adjustments (#11276)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/executor): Address PR review comments
  CASCADING_STOP_IMPLEMENTATION.md
  GRAPH_EXECUTION_ANALYSIS_INDEX.md
  GRAPH_EXECUTION_KEY_FILES.md
  GRAPH_EXECUTION_STOPPING_ANALYSIS.md
  STOP_FAILURE_SCENARIOS.md
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/migrations/20251028000000_add_parent_graph_execution_tracking/migration.sql
Owners: @Bentlybro, @Pwuts, @Swiftyos, @ntindle, @majdyz

fix
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

make store queries parameterised
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

dx(frontend): Fix .env.default
  autogpt_platform/frontend/.env.default
Owners: @0ubbe, @kcze, @Abhi1992002

Remove duplicate import and unused variable in metrics.py
  autogpt_platform/backend/backend/util/metrics.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Update tests to use system_alert instead of discord_system_alert
  autogpt_platform/backend/backend/executor/manager_low_balance_test.py
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @Abhi1992002

wip
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/blocks/exa/_api.py
  autogpt_platform/backend/backend/blocks/exa/helpers.py
  autogpt_platform/backend/backend/blocks/exa/websets.py
  autogpt_platform/backend/backend/blocks/exa/websets_enrichment.py
  autogpt_platform/backend/backend/blocks/exa/websets_import_export.py
  autogpt_platform/backend/backend/blocks/exa/websets_items.py
  autogpt_platform/backend/backend/blocks/exa/websets_monitor.py
  autogpt_platform/backend/backend/blocks/exa/websets_polling.py
  autogpt_platform/backend/backend/blocks/exa/websets_search.py
  docs/content/platform/new_blocks.md
Owners: @Bentlybro, @Pwuts, @Swiftyos, @ntindle

Refactor Exa blocks to use shared API helpers
  autogpt_platform/backend/backend/blocks/exa/_api.py
  autogpt_platform/backend/backend/blocks/exa/websets.py
  autogpt_platform/backend/backend/blocks/exa/websets_enrichment.py
  autogpt_platform/backend/backend/blocks/exa/websets_import_export.py
  autogpt_platform/backend/backend/blocks/exa/websets_items.py
  autogpt_platform/backend/backend/blocks/exa/websets_monitor.py
  autogpt_platform/backend/backend/blocks/exa/websets_polling.py
  autogpt_platform/backend/backend/blocks/exa/websets_search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ghrs: snap 10-28-2302-439F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-28_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-28-2302-439F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
