Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

add external auth flows
  autogpt_platform/backend/backend/data/credential_grants.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/integration_scopes.py
  autogpt_platform/backend/backend/data/oauth_audit.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/grant_resolver.py
  autogpt_platform/backend/backend/integrations/webhook_notifier.py
  autogpt_platform/backend/backend/server/external/api.py
  autogpt_platform/backend/backend/server/external/oauth_middleware.py
  autogpt_platform/backend/backend/server/external/routes/execution.py
  autogpt_platform/backend/backend/server/external/routes/grants.py
  autogpt_platform/backend/backend/server/integrations/connect_router.py
  autogpt_platform/backend/backend/server/integrations/connect_security.py
  autogpt_platform/backend/backend/server/oauth/__init__.py
  autogpt_platform/backend/backend/server/oauth/client_router.py
  autogpt_platform/backend/backend/server/oauth/consent_templates.py
  autogpt_platform/backend/backend/server/oauth/discovery_router.py
  autogpt_platform/backend/backend/server/oauth/errors.py
  autogpt_platform/backend/backend/server/oauth/models.py
  autogpt_platform/backend/backend/server/oauth/pkce.py
  autogpt_platform/backend/backend/server/oauth/router.py
  autogpt_platform/backend/backend/server/oauth/service.py
  autogpt_platform/backend/backend/server/oauth/token_service.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/rate_limiter.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/time.py
  autogpt_platform/backend/backend/util/url.py
  autogpt_platform/backend/schema.prisma
  docs/content/platform/external-api-integration.md
  docs/mkdocs.yml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

feat(frontend): enhance useFlow hook with state management
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): fix XSS vulnerability and type errors in OAuth provider
  autogpt_platform/backend/backend/data/credential_grants.py
  autogpt_platform/backend/backend/data/oauth_audit.py
  autogpt_platform/backend/backend/server/integrations/connect_router.py
  autogpt_platform/backend/backend/server/oauth/client_router.py
  autogpt_platform/backend/backend/server/oauth/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

remove dead props
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyTasks.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): complete OAuth provider integration
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/oauth/router.py
  autogpt_platform/backend/migrations/20251209130753_add_oauth_provider_tables/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): switch copied graph storage from local storage to clipboard (#11578)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useCopyPaste.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): preserve button shape in credential select when content is long (#11577)
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/SelectCredential.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): sync flowVersion to URL when loading graph from Library (#11585)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): use typed Prisma input classes for strict type checking
  autogpt_platform/backend/backend/data/api_key.py
  autogpt_platform/backend/backend/data/credit_ceiling_test.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_integration_test.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/credit_underflow_test.py
  autogpt_platform/backend/backend/data/credit_user_balance_migration_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/v2/chat/tools/_test_data.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/backend/test/test_data_updater.py
Owners: @majdyz, @Abhi1992002, @ntindle, @Pwuts, @Swiftyos

Refactor LlmModel to support dynamic registry slugs
  autogpt_platform/backend/backend/blocks/ai_condition.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/llm_registry.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

chore: fixes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyTasks.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/AnchorLinksWrap.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedActionsWrap.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/SelectedRunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/components/SelectedTemplateActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTriggerView/components/SelectedTriggerActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedViewLayout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/SidebarRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/IconWrapper.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/SidebarItemCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TaskActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TaskListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TemplateActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TemplateListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TriggerActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TriggerListItem.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/skeleton.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DrawerWrap.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/styles.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): prevent file upload buttons from triggering form submission (#11576)
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
Owners: @0ubbe

Improve column selection logic in Google Sheets blocks
  autogpt_platform/backend/backend/blocks/google/sheets.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(frontend): add OAuth client management UI
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientModals/OAuthClientModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientModals/useOAuthClientModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientSection/OAuthClientSection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientSection/useOAuthClientSection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/page.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/icons.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/helpers.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): library page adjustments (#11587)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyTasks.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/AnchorLinksWrap.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedActionsWrap.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/SelectedRunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/components/SelectedTemplateActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTriggerView/components/SelectedTriggerActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedViewLayout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/SidebarRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/IconWrapper.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/ScheduleListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/SidebarItemCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TaskActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TaskListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TemplateActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TemplateListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TriggerActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/components/TriggerListItem.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/skeleton.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DrawerWrap.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/styles.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Improve error handling in Google Sheets blocks
  autogpt_platform/backend/backend/blocks/google/sheets.py
Owners: @Swiftyos, @ntindle, @Bentlybro

added editing oauth clients
  autogpt_platform/backend/backend/server/external/routes/execution.py
  autogpt_platform/backend/backend/server/oauth/client_router.py
  autogpt_platform/backend/backend/server/oauth/models.py
  autogpt_platform/backend/migrations/20251209170000_add_webhook_secret_to_oauth_client/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientModals/OAuthClientModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientModals/useOAuthClientModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientSection/OAuthClientSection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientSection/useOAuthClientSection.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  docs/content/platform/integrations/nextjs.md
  docs/content/platform/integrations/rails.md
  docs/mkdocs.yml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002, @Bentlybro

feat(blocks): add many new spreadsheet blocks (#11574)
  autogpt_platform/backend/backend/blocks/google/sheets.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Update autogpt_platform/backend/backend/blocks/github/triggers.py
  autogpt_platform/backend/backend/blocks/github/triggers.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Update autogpt_platform/backend/backend/blocks/github/triggers.py
  autogpt_platform/backend/backend/blocks/github/triggers.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Update autogpt_platform/backend/backend/blocks/github/triggers.py
  autogpt_platform/backend/backend/blocks/github/triggers.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix trigger flows
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/RunActions/RunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/SelectedTemplateView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Remove GitHub Sponsorship trigger block
  autogpt_platform/backend/backend/blocks/github/example_payloads/sponsorship.created.json
  autogpt_platform/backend/backend/blocks/github/triggers.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix: add ignores
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Owners: @Abhi1992002

feat(blocks): Add 4 new GitHub webhook trigger blocks (#11588)
  autogpt_platform/backend/backend/blocks/github/example_payloads/discussion.created.json
  autogpt_platform/backend/backend/blocks/github/example_payloads/issues.opened.json
  autogpt_platform/backend/backend/blocks/github/example_payloads/release.published.json
  autogpt_platform/backend/backend/blocks/github/example_payloads/star.created.json
  autogpt_platform/backend/backend/blocks/github/triggers.py
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

ghrs: snap 12-09-2302-112C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-09_230256_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-09-2302-112C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-09-2302-112C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-09_230256_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-09-2302-112C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Update search
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/builder/model.py
  autogpt_platform/backend/backend/server/v2/builder/routes.py
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/useBlockMenuSearch.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Format
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/migrations/20251209182537_add_builder_search/migration.sql
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Use search id
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/useBlockMenuSearch.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchBar/useBlockMenuSearchBar.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

Fix `openapi.json`
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Add long-running agent framework
  autogpt_platform/backend/backend/blocks/long_running/__init__.py
  autogpt_platform/backend/backend/blocks/long_running/coding.py
  autogpt_platform/backend/backend/blocks/long_running/initializer.py
  autogpt_platform/backend/backend/blocks/long_running/models.py
  autogpt_platform/backend/backend/blocks/long_running/progress.py
  autogpt_platform/backend/backend/blocks/long_running/session_manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/long_running/__init__.py
  autogpt_platform/backend/backend/server/v2/long_running/db.py
  autogpt_platform/backend/backend/server/v2/long_running/model.py
  autogpt_platform/backend/backend/server/v2/long_running/routes.py
  autogpt_platform/backend/schema.prisma
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix(platform): address OAuth security vulnerabilities and improve code quality
  autogpt_platform/backend/backend/server/external/api.py
  autogpt_platform/backend/backend/server/external/middleware.py
  autogpt_platform/backend/backend/server/external/routes/integrations.py
  autogpt_platform/backend/backend/server/external/routes/tools.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/oauth/consent_templates.py
  autogpt_platform/backend/backend/server/oauth/router.py
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/oauth_callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientModals/OAuthClientModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientModals/useOAuthClientModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientSection/OAuthClientSection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/developer/components/OAuthClientSection/useOAuthClientSection.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/utils.ts
  docs/content/platform/external-api-integration.md
  docs/content/platform/integrations/nextjs.md
  docs/content/platform/integrations/rails.md
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002, @Bentlybro

refactor(flow-editor): enhance FormCreator and OutputHandler components with uiType handling
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MarketplaceAgentsContent/useMarketplaceAgentsContent.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Scrollable recent searches chips
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Add `HorizontalScroll` component
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/HorizontalScroll.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

remove unused onCreateSchedule
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix button visibility & logic in selected run view
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/SelectedRunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/useSelectedRunActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
