Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers, @Significant-Gravitas/admins

feat(blocks): Enrichlayer integration (#9924)
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/enrichlayer/_api.py
  autogpt_platform/backend/backend/blocks/enrichlayer/_auth.py
  autogpt_platform/backend/backend/blocks/enrichlayer/linkedin.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
Owners: @Significant-Gravitas/maintainers

feat(blocks): Enrichlayer integration (#9924)
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/enrichlayer/_api.py
  autogpt_platform/backend/backend/blocks/enrichlayer/_auth.py
  autogpt_platform/backend/backend/blocks/enrichlayer/linkedin.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
Owners: @Significant-Gravitas/maintainers

feat(backend): add support for v0 by Vercel models and credentials (#10641)
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @Significant-Gravitas/maintainers

feat(backend): add support for v0 by Vercel models and credentials (#10641)
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @Significant-Gravitas/maintainers

chore: explain
  autogpt_platform/frontend/README.md
Owners: @Significant-Gravitas/maintainers

chore: updates
  autogpt_platform/frontend/README.md
Owners: @Significant-Gravitas/maintainers

chore: clarification
  autogpt_platform/frontend/README.md
Owners: @Significant-Gravitas/maintainers

chore: wip
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentRunViewLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentRunsLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Owners: @Significant-Gravitas/maintainers

chore: disallow console errors
  autogpt_platform/frontend/.eslintrc.json
Owners: @Significant-Gravitas/maintainers

fix(frontend): remove console.log
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Owners: @Significant-Gravitas/maintainers

fix(frontend): remove console.log (#10649)
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Owners: @Significant-Gravitas/maintainers

fix(frontend): remove console.log (#10649)
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Owners: @Significant-Gravitas/maintainers

chore: wip
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/actions.ts
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/oauth_callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/build/actions.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SearchBar/useSearchBar.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.tsx
  autogpt_platform/frontend/src/components/agptui/SearchBar.tsx
  autogpt_platform/frontend/src/components/agptui/SearchFilterChips.tsx
  autogpt_platform/frontend/src/components/agptui/SortDropdown.tsx
  autogpt_platform/frontend/src/components/agptui/WalletRefill.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/useNavbar.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/Dialog.stories.tsx
  autogpt_platform/frontend/src/lib/supabase/SESSION_VALIDATION.md
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/global-setup.ts
  autogpt_platform/frontend/src/tests/marketplace.spec.ts
  autogpt_platform/frontend/src/tests/monitor.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  autogpt_platform/frontend/src/tests/pages/library.page.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
  autogpt_platform/frontend/src/tests/pages/monitor.page.ts
  autogpt_platform/frontend/src/tests/signin.spec.ts
  autogpt_platform/frontend/src/tests/signup.spec.ts
  autogpt_platform/frontend/src/tests/utils/auth.ts
  autogpt_platform/frontend/src/tests/utils/signin.ts
  autogpt_platform/frontend/src/tests/utils/signup.ts
Owners: @Significant-Gravitas/maintainers

chore: review suggestions (1)
  autogpt_platform/frontend/README.md
Owners: @Significant-Gravitas/maintainers

chore: more work
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentRunsLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/molecules/Breadcrumbs/Breadcrumbs.tsx
  autogpt_platform/frontend/src/components/molecules/ErrorCard/ErrorCard.tsx
  autogpt_platform/frontend/src/components/molecules/ErrorCard/components/LoadingState.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputUI.tsx
Owners: @Significant-Gravitas/maintainers

fix linting errors on both backend and frontend
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
Owners: @Significant-Gravitas/maintainers

update autogenerated client
  autogpt_platform/frontend/src/app/api/__generated__/models/storeSubmissionEditRequest.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers

chore: update error message ui
  autogpt_platform/frontend/src/components/molecules/ErrorCard/components/CardWrapper.tsx
  autogpt_platform/frontend/src/components/molecules/ErrorCard/components/ErrorHeader.tsx
  autogpt_platform/frontend/src/components/molecules/ErrorCard/components/ErrorMessage.tsx
Owners: @Significant-Gravitas/maintainers

refactor(profile): update submission handling in AgentTable and related components
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTable/AgentTable.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/useMainDashboardPage.ts
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/EditAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
Owners: @Significant-Gravitas/maintainers

Update edit agent behaviour
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
Owners: @Significant-Gravitas/maintainers

chore: amendments
  autogpt_platform/frontend/src/components/molecules/ErrorCard/ErrorCard.tsx
  autogpt_platform/frontend/src/components/molecules/ErrorCard/components/LoadingState.tsx
  autogpt_platform/frontend/src/components/molecules/ErrorCard/helpers.ts
Owners: @Significant-Gravitas/maintainers

chore: run API generation check on Back-end only file changes also
  .github/workflows/platform-frontend-ci.yml
  .github/workflows/platform-fullstack-ci.yml
Owners: @Significant-Gravitas/devops

docs(frontend): update README with Docker instructions (#10648)
  autogpt_platform/frontend/README.md
Owners: @Significant-Gravitas/maintainers

docs(frontend): update README with Docker instructions (#10648)
  autogpt_platform/frontend/README.md
Owners: @Significant-Gravitas/maintainers

chore: fix workflows
  .github/workflows/platform-frontend-ci.yml
Owners: @Significant-Gravitas/devops

build(backend): Change base image to `debian:13-slim` w/ Python 3.13
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

chore: generate
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers

chore: fix types
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
Owners: @Significant-Gravitas/maintainers

chore: remove debug console.log statements and fix security issue
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/spending/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/spending/page.tsx
  autogpt_platform/frontend/src/components/admin/spending/admin-grant-history-data-table.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/proxy-action.ts
Owners: @Significant-Gravitas/maintainers

fix Python 3.13 issue
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
Owners: @Significant-Gravitas/maintainers

feat(setup): enhance Sentry prompt for case-insensitive input - works in sh, bash, zsh
  autogpt_platform/installer/setup-autogpt.sh
Owners: @Significant-Gravitas/maintainers

fix(frontend): remove unused variable to fix linter error
  autogpt_platform/frontend/src/app/(platform)/admin/spending/actions.ts
Owners: @Significant-Gravitas/maintainers

dx(frontend): improve format script to run lint fix before prettier
  autogpt_platform/frontend/package.json
Owners: @Significant-Gravitas/maintainers

fix(platform): fix admin dashboard credit tool search, pagination, and modal feedback issues (#10644)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/(platform)/admin/spending/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/spending/page.tsx
  autogpt_platform/frontend/src/components/admin/spending/add-money-button.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/proxy-action.ts
Owners: @Significant-Gravitas/maintainers

fix(platform): fix admin dashboard credit tool search, pagination, and modal feedback issues (#10644)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/(platform)/admin/spending/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/spending/page.tsx
  autogpt_platform/frontend/src/components/admin/spending/add-money-button.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/proxy-action.ts
Owners: @Significant-Gravitas/maintainers

feat(backend): implement low balance and insufficient funds notifications -- untested
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/notification_credit_test.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/notifications/templates/zero_balance.html.jinja2
Owners: @Significant-Gravitas/maintainers

fix(backend): Remove exception handling from agent operations blocks
  autogpt_platform/backend/backend/blocks/system/library_operations.py
  autogpt_platform/backend/backend/blocks/system/store_operations.py
Owners: @Significant-Gravitas/maintainers

fix(infra): change frontend watch to rebuild instead of sync
  autogpt_platform/CLAUDE.md
  autogpt_platform/README.md
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers

fix(backend): update comments for clarity on pydantic model duplication
  autogpt_platform/backend/backend/blocks/system/library_operations.py
  autogpt_platform/backend/backend/blocks/system/store_operations.py
Owners: @Significant-Gravitas/maintainers

refactor(test): remove redundant tests for agent addition and retrieval
  autogpt_platform/backend/backend/blocks/test/test_store_operations.py
Owners: @Significant-Gravitas/maintainers

.github/CODEOWNERS:

* @Significant-Gravitas/maintainers
.github/workflows/ @Significant-Gravitas/devops
classic/forge/ @Significant-Gravitas/forge-maintainers
classic/benchmark/ @Significant-Gravitas/benchmark-maintainers
classic/frontend/ @Significant-Gravitas/frontend-maintainers
autogpt_platform/infra @Significant-Gravitas/devops
.github/CODEOWNERS @Significant-Gravitas/admins
