Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

moved helper function into chat
  autogpt_platform/frontend/src/app/(platform)/chat/useChatSession.ts
  autogpt_platform/frontend/src/lib/utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

put chat behind feature flag
  autogpt_platform/frontend/src/app/(platform)/chat/page.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/icons.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarLink.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/helpers.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

simplified redis caching
  autogpt_platform/backend/backend/server/v2/chat/model.py
  autogpt_platform/backend/backend/util/cache.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

address review feedback
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/test/e2e_test_data.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(backend): Add correctness score to execution activity generation
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/activity_status_generator_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/llm_utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

tidied up caching changes
  autogpt_platform/backend/backend/server/v2/chat/model.py
  autogpt_platform/backend/backend/server/v2/chat/model_test.py
  autogpt_platform/backend/backend/util/cache.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

switch to using get_optional_user_id from autogpt_libs
  autogpt_platform/backend/backend/util/feature_flag.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

minor tidy up of feature flag
  autogpt_platform/backend/backend/util/feature_flag.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

update and simplify logic
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

improve exceptions & handling
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

don't clean up on `GraphNotAccessibleError`
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/integrations/router.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix await check :')
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

feat(frontend): Change copywriting for execution task summary (#11324)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

update next.config.mjs
  autogpt_platform/frontend/next.config.mjs
Owners: @0ubbe, @kcze, @Abhi1992002

Feedback
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Chat system backend (#11230)
  autogpt_platform/autogpt_libs/autogpt_libs/auth/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/model.py
  autogpt_platform/backend/backend/server/v2/chat/model_test.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/response_model.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/service_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/_test_data.py
  autogpt_platform/backend/backend/server/v2/chat/tools/base.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent_test.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Pwuts, @majdyz, @ntindle, @Swiftyos, @Abhi1992002, @Bentlybro, @0ubbe, @kcze

fix(platform): Wallet fixes (#11304)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/SelectedAgentCard.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomEdge/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeHandle.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTaskGroups.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(backend): Remove duplicate LLM utils and use existing AIStructuredResponseGeneratorBlock
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/activity_status_generator_test.py
  autogpt_platform/backend/backend/util/llm_utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

hotfix(backend): fix rate-limited messages blocking queue by republishing to back
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test_requeue_integration.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): resolve type error and clean up integration test
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/test_requeue_integration.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

refactor(backend): inline _requeue_message_to_back and improve error handling
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): resolve integration test consumption issues
  autogpt_platform/backend/test_requeue_integration.py
Owners: @Abhi1992002

feat(backend): add comprehensive requeue behavior validation in single test file
  autogpt_platform/backend/test_requeue_integration.py
Owners: @Abhi1992002

hotfix(backend): fix rate-limited messages blocking queue by republishing to back (#11326)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test_requeue_integration.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(backend): Add correctness_score to API response models
  autogpt_platform/backend/backend/data/execution.py
Owners: @majdyz

feat(frontend): Update UI labels to use "Success Estimate" for correctness score
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/executor): Improve graph execution permission check (#11323)
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/test/e2e_test_data.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

feat(frontend): Improve Success Estimate tooltips with better bridging text
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(blocks)!: Update Exa search block to match latest API specification (#11185)
  .gitignore
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/blocks/exa/_test.py
  autogpt_platform/backend/backend/blocks/exa/answers.py
  autogpt_platform/backend/backend/blocks/exa/code_context.py
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/helpers.py
  autogpt_platform/backend/backend/blocks/exa/model.py
  autogpt_platform/backend/backend/blocks/exa/research.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
  autogpt_platform/backend/backend/blocks/exa/webhook_blocks.py
  autogpt_platform/backend/backend/blocks/exa/websets.py
  autogpt_platform/backend/backend/blocks/exa/websets_enrichment.py
  autogpt_platform/backend/backend/blocks/exa/websets_import_export.py
  autogpt_platform/backend/backend/blocks/exa/websets_items.py
  autogpt_platform/backend/backend/blocks/exa/websets_monitor.py
  autogpt_platform/backend/backend/blocks/exa/websets_polling.py
  autogpt_platform/backend/backend/blocks/exa/websets_search.py
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  docs/content/platform/new_blocks.md
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts, @Abhi1992002, @Swiftyos, @ntindle

fix(backend): Fix database client and add feature flag bypass for admin
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

ci: Change @claude's model from 'opus' to 'sonnet[1m]'
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

ghrs: snap 11-05-2303-85B6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-05_230315_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-05-2303-85B6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-05_230315_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-05-2303-85B6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-05-2303-85B6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Redis notification bus
  autogpt_platform/backend/backend/data/notification_bus.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): Add correctness score to execution activity generation (#11325)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/activity_status_generator_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

chore: fix types
  autogpt_platform/frontend/src/components/atoms/Button/Button.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
Owners: @0ubbe

chore: cleanup
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002
