Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

feat(load-tests): relax thresholds to 10+ seconds for stress testing
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(load-tests): use proper /health endpoint instead of non-existent root endpoint
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(load-tests): add dynamic VUS scaling support to all k6 tests
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

make docker compose file not require redis password
  autogpt_platform/docker-compose.platform.yml
Owners: @ntindle, @Bentlybro, @0ubbe

fix(ci, backend): Update Redis image & amend config to work with it (#10952)
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/limiter.py
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @0ubbe

fix(ci, backend): Update Redis image & amend config to work with it (#10952)
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/limiter.py
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @0ubbe

fix(frontend/builder): Fix moved blocks disappearing on save (#10951)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/builder): Fix moved blocks disappearing on save (#10951)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): properly pass user_context to block execution API
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): pass user_id parameter to block execution
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(blocks): Default disable HTML escaping in all blocks with templating features
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/util/text.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix(load-tests): resolve authentication rate limiting and improve thresholds
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(load-tests): implement batch authentication for high VU counts
  autogpt_platform/backend/load-tests/utils/auth.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: Add analytics tracking for agent and marketplace events
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/1-welcome/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SearchBar/useSearchBar.ts
  autogpt_platform/frontend/src/components/agent-import-form.tsx
  autogpt_platform/frontend/src/hooks/use-agent-tracking.ts
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Refactor and unify agent table input block implementation
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/table_input.py
  autogpt_platform/backend/backend/blocks/test/test_table_input.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/node-table-input.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @0ubbe, @kcze

ref: lint
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/components/node-table-input.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 09-18-2302-15B3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-18_230248_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-18-2302-15B3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-18_230248_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-18-2302-15B3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-18-2302-15B3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(load-tests): add REQUESTS_PER_VU parameter for concentrated load testing
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): force dynamic for marketplace page
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(load-tests): optimize rate limits and update configuration
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

fix(frontend): force dynamic rendering on marketplace (#10957)
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): force dynamic rendering on marketplace (#10957)
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix handleId management for object and array
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/HandleContext.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/InputRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/useAnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/ObjectField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/SelectWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/SwitchWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/TextInputWidget.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Swiftyos, @ntindle, @Bentlybro, @0ubbe, @kcze, @Abhi1992002

fix(load-tests): implement true concurrent graph execution using http.batch()
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(load-tests): add maxDuration configuration to resolve k6 cloud timeout
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: add to defaults for the notion
  autogpt_platform/backend/.env.default
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ref: we don't need init
  autogpt_platform/backend/backend/blocks/notion/__init__.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ref: add a few more types of blocks
  autogpt_platform/backend/backend/blocks/notion/_api.py
  autogpt_platform/backend/backend/blocks/notion/_auth.py
  autogpt_platform/backend/backend/blocks/notion/create_page.py
  autogpt_platform/backend/backend/blocks/notion/read_database.py
  autogpt_platform/backend/backend/blocks/notion/read_page.py
  autogpt_platform/backend/backend/blocks/notion/read_page_markdown.py
  autogpt_platform/backend/backend/blocks/notion/search.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

Discard changes to autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: minor test issues + oops typo
  autogpt_platform/backend/backend/blocks/notion/_auth.py
  autogpt_platform/backend/backend/blocks/notion/read_database.py
  autogpt_platform/backend/backend/blocks/notion/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): add NotionReadPage block (#10760)
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/notion/_api.py
  autogpt_platform/backend/backend/blocks/notion/_auth.py
  autogpt_platform/backend/backend/blocks/notion/create_page.py
  autogpt_platform/backend/backend/blocks/notion/read_database.py
  autogpt_platform/backend/backend/blocks/notion/read_page.py
  autogpt_platform/backend/backend/blocks/notion/read_page_markdown.py
  autogpt_platform/backend/backend/blocks/notion/search.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Abhi1992002

feat(blocks): add NotionReadPage block (#10760)
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/notion/_api.py
  autogpt_platform/backend/backend/blocks/notion/_auth.py
  autogpt_platform/backend/backend/blocks/notion/create_page.py
  autogpt_platform/backend/backend/blocks/notion/read_database.py
  autogpt_platform/backend/backend/blocks/notion/read_page.py
  autogpt_platform/backend/backend/blocks/notion/read_page_markdown.py
  autogpt_platform/backend/backend/blocks/notion/search.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Abhi1992002

ref: update
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/components/node-table-input.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: clarify use of the two input types
  autogpt_platform/frontend/src/components/node-table-input.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix db timeout
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/load-tests/configs/environment.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

test
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
Owners: @Abhi1992002

ghrs: snap 09-19-2302-8A68 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-19_230236_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
