Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

feat(blocks): add NotionReadPage block
  autogpt_platform/backend/backend/blocks/notion/__init__.py
  autogpt_platform/backend/backend/blocks/notion/read_page.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Revert "fix(backend): Add Airtable record normalization + find/create base (#10891)"
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Revert "fix(backend): Add Airtable record normalization + find/create base (#10891)"
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix formatting and tests
  autogpt_platform/backend/backend/server/cache_config.py
  autogpt_platform/backend/backend/server/cache_decorator.py
  autogpt_platform/backend/backend/server/cache_manager.py
  autogpt_platform/backend/backend/server/v2/otto/routes.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/util/cache.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

remove search client
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/SearchResults.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/SearchResultsClient.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

tests(rate-limit): cover middleware behavior for non-api, missing auth, allowed and blocked requests
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/middleware_test.py
Owners: @Abhi1992002

ghrs: snap 09-10-2302-9090 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-10_230240_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-10_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-10-2302-9090 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-10-2302-9090 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-10_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-10-2302-9090 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

chore: improve
  autogpt_platform/frontend/next.config.mjs
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

added ability to disable cors at the backend
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

disable caching during tests
  autogpt_platform/backend/backend/conftest.py
  autogpt_platform/backend/backend/server/cache_decorator.py
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

add vercel speed insights and analytics
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Fix cache eviction tests for Python 3.12+ compatibility
  K6_TEST_README.md
  autogpt_platform/backend/backend-api-test-k6.js
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/cache_test.py
  backend-api-test-k6.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos, @Abhi1992002, @Significant-Gravitas/maintainers

feat(frontend): Add Vercel Analytics and Speed Insights (#10904)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Add Vercel Analytics and Speed Insights (#10904)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Make cache tests more robust across Python versions
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/cache_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(ci): Disable backend caching during frontend E2E tests
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/backend/backend/server/cache_decorator.py
Owners: @Significant-Gravitas/devops, @majdyz, @ntindle, @Pwuts, @Swiftyos

delete unneeded files
  K6_TEST_README.md
  autogpt_platform/backend/backend-api-test-k6.js
  backend-api-test-k6.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos, @Significant-Gravitas/maintainers

fix formatting
  autogpt_platform/backend/backend/server/cache_decorator.py
  autogpt_platform/backend/backend/util/cache_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend/db): Unbreak store materialized views refresh job
  autogpt_platform/backend/migrations/20250910161617_fix_store_materialized_views_refresh_job/migration.sql
Owners: @majdyz

delete slop
  autogpt_platform/backend/CHAT.md
  autogpt_platform/backend/poc.sh
  autogpt_platform/backend/test_agent_details.py
  autogpt_platform/backend/test_credential_detection.py
  autogpt_platform/backend/test_full_chat.sh
  autogpt_platform/backend/test_full_user_journey.py
  autogpt_platform/backend/test_run_agent_creds.py
  autogpt_platform/backend/test_system_creds.py
  autogpt_platform/frontend/debug-session.js
  autogpt_platform/frontend/jest.config.js
  autogpt_platform/frontend/jest.setup.js
  autogpt_platform/frontend/src/tests/components/chat/AgentSetupCard.test.tsx
  autogpt_platform/frontend/src/tests/components/chat/AuthPromptWidget.test.tsx
  autogpt_platform/frontend/src/tests/components/chat/ChatInterface.test.tsx
  autogpt_platform/frontend/src/tests/components/chat/CredentialsSetupWidget.test.tsx
  autogpt_platform/frontend/src/tests/components/chat/SimpleComponents.test.tsx
  autogpt_platform/frontend/src/tests/integration/ChatFlow.integration.test.tsx
  autogpt_platform/frontend/src/tests/mocks/chatApi.mock.ts
  autogpt_platform/frontend/test-streaming.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix: Use package.json and pnpm-lock.yaml from origin/dev
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
Owners: @0ubbe, @kcze, @Abhi1992002

delete tests that are not working
  autogpt_platform/backend/backend/server/v2/chat/chat_test.py
  autogpt_platform/backend/backend/server/v2/chat/config_test.py
  autogpt_platform/backend/backend/server/v2/chat/db_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent_test.py
Owners: @Abhi1992002

delete demo file
  autogpt_platform/backend/demo-dont-use.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

day-2
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/fields/AnyField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/fields/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/fields/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/schema.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/store/customNodeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/templates/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/templates/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/DateInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/FileWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/SelectWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/SwitchWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/TextInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/AllBlocksContent/AllBlocksContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockList/BlockList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/useBlockMenu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/useNewControlPanel.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/store/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

simplify
  autogpt_platform/backend/migrations/20250910161617_fix_store_materialized_views_refresh_job/migration.sql
Owners: @majdyz

fix: don't drop the field :(
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat: re-add output
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): Add Airtable schema normalization and metadata support
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): Add Airtable record normalization and upsert features (#10908)
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): Add Airtable record normalization and upsert features (#10908)
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ghrs: snap 09-11-2302-C9EA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-11_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-11-2302-C9EA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-11_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-11-2302-C9EA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-11-2302-C9EA for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Rename Wallet
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Show Wallet by default after Onboarding
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.ts
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @Abhi1992002, @0ubbe, @kcze

Collapse completed sections
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
