Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Pwuts, @Significant-Gravitas/benchmarkers, @Swiftyos, @hunteraraujo

.github/CODEOWNERS:

.github/workflows/  @Significant-Gravitas/maintainers
autogpts/autogpt/   @Pwuts
benchmark/  @Significant-Gravitas/benchmarkers
forge/      @Swiftyos
frontend/   @hunteraraujo

Added abstract memstore and base/helper functions
  forge/autogpt/sdk/memory/memstore.py
  forge/poetry.lock
  forge/pyproject.toml
Owners: @Swiftyos

Added abstract memstore and base/helper functions
  forge/autogpt/sdk/memory/memstore.py
  forge/poetry.lock
  forge/pyproject.toml
Owners: @Swiftyos

Added abstract memstore and base/helper functions
  forge/autogpt/sdk/memory/memstore.py
  forge/poetry.lock
  forge/pyproject.toml
Owners: @Swiftyos

Added forge llm functions
  forge/autogpt/sdk/llm.py
Owners: @Swiftyos

Make input and additionalInput optional in StepRequestBody
  frontend/lib/models/step_request_body.dart
Owners: @hunteraraujo

Make input and additionalInput optional in StepRequestBody
  frontend/lib/models/step_request_body.dart
Owners: @hunteraraujo

Make input and additionalInput optional in StepRequestBody
  frontend/lib/models/step_request_body.dart
Owners: @hunteraraujo

Implement Continuous Mode in ChatViewModel
  frontend/lib/viewmodels/chat_viewmodel.dart
Owners: @hunteraraujo

Implement Continuous Mode in ChatViewModel
  frontend/lib/viewmodels/chat_viewmodel.dart
Owners: @hunteraraujo

Implement Continuous Mode in ChatViewModel
  frontend/lib/viewmodels/chat_viewmodel.dart
Owners: @hunteraraujo

Refactor ChatInputField to Support Continuous Mode
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

Refactor ChatInputField to Support Continuous Mode
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

Refactor ChatInputField to Support Continuous Mode
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

Update parameters for ChatInputField to support continuous mode
  frontend/lib/views/chat/chat_view.dart
Owners: @hunteraraujo

Update parameters for ChatInputField to support continuous mode
  frontend/lib/views/chat/chat_view.dart
Owners: @hunteraraujo

Update parameters for ChatInputField to support continuous mode
  frontend/lib/views/chat/chat_view.dart
Owners: @hunteraraujo

Deselect text field after user goes into continuous mode
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

Deselect text field after user goes into continuous mode
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

Deselect text field after user goes into continuous mode
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

Include tooltips for single message + continuous mode
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

Include tooltips for single message + continuous mode
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

Include tooltips for single message + continuous mode
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

End continuous mode when clicking text field
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

End continuous mode when clicking text field
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

End continuous mode when clicking text field
  frontend/lib/views/chat/chat_input_field.dart
Owners: @hunteraraujo

Fix empty user chats
  frontend/lib/viewmodels/chat_viewmodel.dart
Owners: @hunteraraujo

Fix empty user chats
  frontend/lib/viewmodels/chat_viewmodel.dart
Owners: @hunteraraujo

Fix empty user chats
  frontend/lib/viewmodels/chat_viewmodel.dart
Owners: @hunteraraujo

Add the ability to deselect a task
  frontend/lib/viewmodels/task_viewmodel.dart
  frontend/lib/views/task/task_view.dart
Owners: @hunteraraujo

Add the ability to deselect a task
  frontend/lib/viewmodels/task_viewmodel.dart
  frontend/lib/views/task/task_view.dart
Owners: @hunteraraujo

Add the ability to deselect a task
  frontend/lib/viewmodels/task_viewmodel.dart
  frontend/lib/views/task/task_view.dart
Owners: @hunteraraujo

Add stalebot for issues
  .github/workflows/close-stale-issues.yml
Owners: @Significant-Gravitas/maintainers

Add stalebot for issues
  .github/workflows/close-stale-issues.yml
Owners: @Significant-Gravitas/maintainers

Add stalebot for issues
  .github/workflows/close-stale-issues.yml
Owners: @Significant-Gravitas/maintainers

Increase autostale cap to process backlog
  .github/workflows/close-stale-issues.yml
Owners: @Significant-Gravitas/maintainers

Increase autostale cap to process backlog
  .github/workflows/close-stale-issues.yml
Owners: @Significant-Gravitas/maintainers

Increase autostale cap to process backlog
  .github/workflows/close-stale-issues.yml
Owners: @Significant-Gravitas/maintainers

Fix docs: sample docker-compose.yml broken indents
  docs/content/setup.md
Owners: none

Another increase of stalebot's operations cap
  .github/workflows/close-stale-issues.yml
Owners: @Significant-Gravitas/maintainers

Another increase of stalebot's operations cap
  .github/workflows/close-stale-issues.yml
Owners: @Significant-Gravitas/maintainers
