Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

ghrs: report 11-28-2303-BFE8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(tests): skip failing human review tests in CI due to mocking issues
  autogpt_platform/backend/backend/data/human_review_test.py
Owners: @Abhi1992002

add some changes in service.py
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(service): add missing newline at end of file in service.py
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix format
  autogpt_platform/backend/backend/data/human_review_test.py
  autogpt_platform/backend/backend/util/service.py
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

skipping more tests
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
Owners: @Abhi1992002

fix format
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
Owners: @Abhi1992002

fix(tests): skip specific block tests that require external services
  autogpt_platform/backend/backend/blocks/test/test_block.py
Owners: @Abhi1992002

ghrs: snap 11-29-2303-2602 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-29_230328_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-29-2303-2602 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-29_230328_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-29-2303-2602 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-29-2303-2602 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

ghrs: snap 11-30-2302-7C28 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-30_230255_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-30-2302-7C28 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-30_230255_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-30-2302-7C28 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-30-2302-7C28 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(platform): enhance BlockMenuSearch with agent addition (#11474)
  autogpt_platform/backend/backend/blocks/test/test_block.py
  autogpt_platform/backend/backend/data/human_review_test.py
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/useBlockMenuSearch.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MarketplaceAgentsContent/useMarketplaceAgentsContent.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MyAgentsContent/useMyAgentsContent.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/hooks/useAddAgentToBuilder.ts
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze

fix(frontend): Preserve customized_name only when explicitly set in node metadata (#11477)
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Include edges when copying multiple nodes with Shift+Select (#11478)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useCopyPaste.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Add trigger agent banner for webhook-based flows (#11480)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/TriggerAgentBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Add minimum movement threshold for node position history tracking (#11481)
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Default node output accordion to expanded state (#11483)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/useNodeOutput.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): update empty task view designs
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyAgentRuns.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyRunsIllustration.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/molecules/ShowMoreText/ShowMoreText.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

chore: update font styles
  autogpt_platform/frontend/src/components/atoms/Text/Text.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Text/helpers.ts
Owners: @0ubbe

fix(backend): replace print() statements with proper logging
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/integrations/webhooks/_manual_base.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

chore: update colors
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown/ActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
  autogpt_platform/frontend/src/components/styles/colors.ts
  autogpt_platform/frontend/src/components/tokens/colors.stories.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: format
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown/ActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: test changes
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/snapshots/lib_agts_search
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

fixed code warnings
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

removed deplicated dependencies
  autogpt_platform/backend/backend/server/external/routes/tools.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Potential fix for code scanning alert no. 164: Clear-text logging of sensitive information
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): design system tokens update (#11501)
  autogpt_platform/frontend/src/components/atoms/Text/Text.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Text/helpers.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown/ActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
  autogpt_platform/frontend/src/components/styles/colors.ts
  autogpt_platform/frontend/src/components/tokens/colors.stories.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/backend/snapshots/lib_agts_search
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: formatting
  autogpt_platform/backend/snapshots/lib_agts_search
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(platform): add external api routes for store search and tool usage (#11463)
  autogpt_platform/backend/backend/server/external/api.py
  autogpt_platform/backend/backend/server/external/routes/tools.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/migrations/20251126141555_add_api_key_store_permissions/migration.sql
  autogpt_platform/backend/migrations/20251127092500_add_api_key_tools_permission/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

chore: updates
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/EmailForm.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountLogoutOption.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/LoginButton.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarLink.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/helpers.tsx
  autogpt_platform/frontend/src/components/molecules/Breadcrumbs/Breadcrumbs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: lint
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): update empty task view designs (#11498)
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyAgentRuns.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyRunsIllustration.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/EmailForm.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountLogoutOption.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/LoginButton.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarLink.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/helpers.tsx
  autogpt_platform/frontend/src/components/molecules/Breadcrumbs/Breadcrumbs.tsx
  autogpt_platform/frontend/src/components/molecules/ShowMoreText/ShowMoreText.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

chore: experiment
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Revert "chore: experiment"
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002
