Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

use lifespan for cleanup and shutdown of AppService
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Add cost configs for new video ad blocks
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @majdyz

ghrs: snap 10-22-2302-0E9B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-22_230231_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-22-2302-0E9B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-22-2302-0E9B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-22_230231_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-22-2302-0E9B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend): refactor library validation and fix test compatibility
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): complete NotAuthorizedError to GraphNotInLibraryError refactor
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/migrations/20251023000000_cleanup_orphaned_schedules_and_webhooks/migration.sql
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): consolidate authorization functions to eliminate redundancy
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/migrations/20251023000000_cleanup_orphaned_schedules_and_webhooks/migration.sql
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): remove unnecessary migration and fix imports
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/migrations/20251023000000_cleanup_orphaned_schedules_and_webhooks/migration.sql
Owners: @majdyz

refactor(backend): simplify authorization to single function pattern
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

refactor(backend): remove duplicate authorization functions - use only validate_graph_execution_permissions
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): remove unnecessary fallback and inner imports
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

docs(backend): clarify webhook error handling behavior
  autogpt_platform/backend/backend/server/integrations/router.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

perf(backend/integrations): optimize webhook processing with concurrent execution
  autogpt_platform/backend/backend/server/integrations/router.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(blocks/revid): Add cost configs for revid video blocks (#11242)
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @majdyz

feat(blocks/revid): Add cost configs for revid video blocks (#11242)
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @majdyz

do actual graceful shutdown: wait for pending requests to finish
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix wordings
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

improve log message
  autogpt_platform/backend/backend/util/process.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): address Pwuts' review feedback on schedule/webhook cleanup
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

deal with stopped event loop
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): use proper relation disconnect in unlink_webhook_from_graph
  autogpt_platform/backend/backend/data/integrations.py
Owners: @majdyz

fix(frontend): run button disabled when it should not
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/AgentOnboardingCredentials.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/types.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/RunAgentHint.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/SelectedAgentCard.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/StarRating.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: cleanup
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: loaded
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/AgentOnboardingCredentials.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix cleanup implementations
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

tweak test
  autogpt_platform/backend/backend/util/service_test.py
Owners: @Abhi1992002

fix test
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

clean up more rogue cleanup()
  autogpt_platform/backend/backend/cli.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix tests
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix event loop warning
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 10-23-2302-323E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-23_230303_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-23-2302-323E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-23_230303_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-23-2302-323E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-23-2302-323E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

refactor(backend): address all remaining review feedback
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): correct import order in router.py
  autogpt_platform/backend/backend/server/integrations/router.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): enhance FlowEditor components with styling updates and TODO notes
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeDataRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002
