Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

Remove unused request_id field from ExaSearchBlock
  autogpt_platform/backend/backend/blocks/exa/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Fix typos in error handling documentation
  docs/content/platform/new_blocks.md
Owners: @Bentlybro, @Pwuts

feat(admin): Enhance diagnostics with comprehensive execution monitoring and management
  autogpt_platform/backend/backend/data/diagnostics.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/model.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/DiagnosticsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/ExecutionsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/useDiagnosticsContent.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

ghrs: snap 11-03-2302-E8C6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-03_230304_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-03-2302-E8C6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-03-2302-E8C6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-03_230304_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-03-2302-E8C6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Add admin diagnostics for agent schedules
  autogpt_platform/backend/backend/data/diagnostics.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/model.py
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/DiagnosticsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/SchedulesTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/useDiagnosticsContent.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Improve failed executions error extraction and counting
  autogpt_platform/backend/backend/data/diagnostics.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Add admin endpoints for bulk stopping and cleanup of executions
  autogpt_platform/backend/backend/data/diagnostics.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/ExecutionsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Add total upcoming execution runs to diagnostics
  autogpt_platform/backend/backend/data/diagnostics.py
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/DiagnosticsContent.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

Move error toast to useEffect in ExecutionsTable
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/ExecutionsTable.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update SchedulesTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/SchedulesTable.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Fix formatting in EmptyAgentRuns component
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/EmptyAgentRuns/EmptyAgentRuns.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update CodeRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/CodeRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Reset beads on run (#11303)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Google Drive Picker component (#11286)
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/helpers.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/types.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/services/scripts/scripts.tsx
  autogpt_platform/frontend/src/types/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update ArrayEditor and remove unused NodeData components
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Add dynamic input dialog for agent execution with credential support (#11301)
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): implement admin user impersonation with header-based authentication (#11298)
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_test.py
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminImpersonationBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminImpersonationPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
  autogpt_platform/frontend/src/app/(platform)/admin/impersonation/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/constants.ts
Owners: @Pwuts, @Abhi1992002, @0ubbe, @kcze

wip
  autogpt_platform/backend/backend/blocks/google/sheet.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @0ubbe, @kcze, @Abhi1992002

Update sheet.py
  autogpt_platform/backend/backend/blocks/google/sheet.py
Owners: @Swiftyos, @ntindle, @Bentlybro

chore: hookup fe
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

wip
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add undo/redo functionality with keyboard shortcuts to flow builder (#11307)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/UndoRedoButtons.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/historyStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

wip
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Refactor Google Sheets blocks to use Drive Picker
  autogpt_platform/backend/backend/blocks/google/sheet.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(frontend): enhance BuilderActions with new components and tooltips
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/CronSchedulerDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/useCronSchedulerDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/useScheduleGraph.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend/ui): Increase contrast of `Switch` component (#11309)
  autogpt_platform/frontend/src/components/atoms/Switch/Switch.tsx
Owners: @0ubbe

feat(frontend): Enhance chat functionality and session management
  autogpt_platform/frontend/next.config.mjs
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/app/(platform)/chat/useChatPage.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/hooks/useChatSession.ts
  autogpt_platform/frontend/src/hooks/useChatStream.ts
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Add markdown rendering and credentials setup to chat
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatCredentialsSetup/ChatCredentialsSetup.stories.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatCredentialsSetup/ChatCredentialsSetup.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatCredentialsSetup/useChatCredentialsSetup.ts
  autogpt_platform/frontend/src/components/atoms/MarkdownContent/MarkdownContent.stories.tsx
  autogpt_platform/frontend/src/components/atoms/MarkdownContent/MarkdownContent.tsx
  autogpt_platform/frontend/src/components/molecules/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/components/molecules/ChatMessage/useChatMessage.ts
  autogpt_platform/frontend/src/components/molecules/MessageList/MessageList.stories.tsx
  autogpt_platform/frontend/src/components/molecules/MessageList/MessageList.tsx
  autogpt_platform/frontend/src/components/molecules/StreamingMessage/StreamingMessage.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

working on credentials flow
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatCredentialsSetup/ChatCredentialsSetup.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatCredentialsSetup/useChatCredentialsSetup.ts
  autogpt_platform/frontend/src/components/molecules/CredentialsNeededPrompt/CredentialsNeededPrompt.stories.tsx
  autogpt_platform/frontend/src/components/molecules/CredentialsNeededPrompt/CredentialsNeededPrompt.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

updated prompt and tool naming
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

refactor(frontend): rename `runFor` prop to `purpose` in RunInputDialog and related components
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

added-encoder
  autogpt_platform/backend/backend/blocks/encoder_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): update feature flags and add TODO in AgentOutputs component
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/CronSchedulerDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/useCronSchedulerDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/useScheduleGraph.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Add cron-based scheduling functionality to new builder with input/credential support (#11312)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/CronSchedulerDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/CronSchedulerDialog/useCronSchedulerDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/useScheduleGraph.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fixed-encoder
  autogpt_platform/backend/backend/blocks/encoder_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

added
  autogpt_platform/backend/backend/blocks/encoder_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
