Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

Fix GPT-5 pro
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

feat(backend): OAuth API + DB logic
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/keysmith.py
  autogpt_platform/backend/backend/cli/__init__.py
  autogpt_platform/backend/backend/cli/oauth_admin.py
  autogpt_platform/backend/backend/data/auth/api_key.py
  autogpt_platform/backend/backend/data/auth/base.py
  autogpt_platform/backend/backend/data/auth/oauth.py
  autogpt_platform/backend/backend/server/external/middleware.py
  autogpt_platform/backend/backend/server/external/routes/integrations.py
  autogpt_platform/backend/backend/server/external/routes/tools.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/oauth.py
  autogpt_platform/backend/backend/server/routers/oauth_integration_test.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20251212165920_add_oauth_provider_support/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

Refactor add model/provider forms to modal dialogs
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddProviderForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddProviderModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/LlmRegistryDashboard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): forward to original destionation post-login
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 12-13-2303-BB06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-13_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-13-2303-BB06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-13-2303-BB06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-13_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-13-2303-BB06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(frontend): OAuth authorization flow
  autogpt_platform/backend/backend/cli/oauth_admin.py
  autogpt_platform/backend/backend/server/routers/oauth.py
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/README.md
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @0ubbe, @kcze, @Abhi1992002

fix authorization flow
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/oauth.py
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

add integration setup wizard + test server
  autogpt_platform/backend/backend/cli/oauth_admin.py
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/setup-wizard/page.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

debug `CredentialsInputs`
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/useCredentialsInputs.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix login/signup redirects
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/middleware.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix test app
  autogpt_platform/backend/backend/cli/oauth_admin.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add documentation & make OAuth API more consistent
  autogpt_platform/SSO.md
  autogpt_platform/backend/backend/server/routers/oauth.py
  autogpt_platform/backend/backend/server/routers/oauth_test.py
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

update endpoint list
  autogpt_platform/SSO.md
Owners: @Bentlybro, @Pwuts

update docs
  autogpt_platform/SSO.md
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/README.md
Owners: @Bentlybro, @Pwuts

fix log statements
  autogpt_platform/backend/backend/server/routers/oauth.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): replace multiprocessing.Manager().Queue() with queue.Queue()
  autogpt_platform/backend/backend/data/execution.py
Owners: @majdyz

Added test_execution_queue.py and test the execution part and the test got passed
  autogpt_platform/backend/test_execution_queue.py
Owners: @Abhi1992002

fix(backend): format test_execution_queue.py and remove unused variable
  autogpt_platform/backend/test_execution_queue.py
Owners: @Abhi1992002

feat: Import EY brand assets for ACA Track prototype
  autogpt_platform/frontend/public/ey-brand/icons/calendar-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/calendar-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/check-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/check-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/csv-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/csv-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/download-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/download-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/edit-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/edit-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/filter-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/filter-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/info-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/info-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/mail-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/mail-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/notifications-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/notifications-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/pod-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/pod-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/search-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/search-outlined.svg
  autogpt_platform/frontend/public/ey-brand/icons/warning-filled.svg
  autogpt_platform/frontend/public/ey-brand/icons/warning-outlined.svg
  autogpt_platform/frontend/public/ey-brand/logos/aca-track-logo-dark.svg
  autogpt_platform/frontend/public/ey-brand/logos/aca-track-logo-mono.svg
  autogpt_platform/frontend/public/ey-brand/logos/ey-logo-primary-120.svg
  autogpt_platform/frontend/public/ey-brand/logos/ey-logo-primary-48.svg
  autogpt_platform/frontend/public/ey-brand/logos/ey-logo-stacked-120.svg
  autogpt_platform/frontend/public/ey-brand/logos/ey-logo-stacked-48.svg
  autogpt_platform/frontend/src/components/styles/ey-brand/colors.ts
  autogpt_platform/frontend/src/components/styles/ey-brand/components.ts
  autogpt_platform/frontend/src/components/styles/ey-brand/icons.ts
  autogpt_platform/frontend/src/components/styles/ey-brand/index.ts
  autogpt_platform/frontend/src/components/styles/ey-brand/typography.ts
  autogpt_platform/frontend/src/components/styles/ey-brand/variables.css
  autogpt_platform/frontend/src/data/aca-track-api.ts
  autogpt_platform/frontend/src/data/aca-track-sample-data.csv
  autogpt_platform/frontend/src/data/aca-track-sample-data.json
  autogpt_platform/frontend/src/data/aca-track-types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fixes
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/tailwind.config.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): improve inputs library read only
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/EditInputsModal/EditInputsModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/EditInputsModal/useEditInputsModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/SelectedTemplateView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTriggerView/SelectedTriggerView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/molecules/InformationTooltip/InformationTooltip.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): force light mode for now (#11619)
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/tailwind.config.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): imporve agent inputs read-only (#11621)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/EditInputsModal/EditInputsModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/EditInputsModal/useEditInputsModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/SelectedTemplateView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTriggerView/SelectedTriggerView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/molecules/InformationTooltip/InformationTooltip.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Improve table content validation in GoogleDocsInsertTableBlock
  autogpt_platform/backend/backend/blocks/google/docs.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat!(blocks): Add Reddit OAuth2 integration and advanced Reddit blocks
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/reddit.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/instrumentation-client.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @0ubbe, @kcze, @Abhi1992002

ghrs: snap 12-14-2303-79B5 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-14_230317_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-14-2303-79B5 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-14-2303-79B5 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-14_230317_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-14-2303-79B5 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

chore: undo Open API JSON changes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/ScrollableTabs.stories.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/ScrollableTabs.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/components/ScrollableTabsContent.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/components/ScrollableTabsList.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/components/ScrollableTabsTrigger.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/context.ts
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/helpers.ts
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/useScrollableTabs.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add nice scrollable tabs on Selected Run view (#11596)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/ScrollableTabs.stories.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/ScrollableTabs.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/components/ScrollableTabsContent.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/components/ScrollableTabsList.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/components/ScrollableTabsTrigger.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/context.ts
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/helpers.ts
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/useScrollableTabs.ts
Owners: @0ubbe, @kcze, @Abhi1992002

add shortcuts for CLI tools
  autogpt_platform/backend/backend/cli/__init__.py
  autogpt_platform/backend/backend/cli/generate_openapi_json.py
  autogpt_platform/backend/backend/cli/oauth_tool.py
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/README.md
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

fix backend test
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
Owners: @Abhi1992002

address comment
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

add `/me` endpoint so apps can fetch user info
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: improvements
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/CredentialRow/CredentialRow.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/components/atoms/OverflowText/OverflowText.stories.tsx
  autogpt_platform/frontend/src/components/atoms/OverflowText/OverflowText.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/MobileNavbar/components/MobileNavbarMenuItem.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

clean up external API file structure
  autogpt_platform/backend/backend/server/external/fastapi_app.py
  autogpt_platform/backend/backend/server/external/v1/__init__.py
  autogpt_platform/backend/backend/server/external/v1/integrations.py
  autogpt_platform/backend/backend/server/external/v1/routes.py
  autogpt_platform/backend/backend/server/external/v1/tools.py
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
