Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix test
  autogpt_platform/backend/backend/server/routers/v1_test.py
Owners: @Abhi1992002

added redis caching
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/test_redis_cache.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/cache.py
  autogpt_platform/backend/backend/server/v2/library/cache.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/util/cache_redis_init.py
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

better handle pure JSON mode
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

add output issue warning so we can do prompt refinement in the future
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

incorporate feedback
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): Improve JSON generation+parsing in AI Structured Response block (#10960)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts

feat(blocks): Improve JSON generation+parsing in AI Structured Response block (#10960)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts

Update autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Discard changes to autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/io.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Discard changes to autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Discard changes to autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Discard changes to autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Owners: @Abhi1992002

Discard changes to autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/blocks/text.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Discard changes to autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/backend/util/text.py
  autogpt_platform/backend/backend/util/text.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/README.md
Owners: @Bentlybro, @Pwuts

Discard changes to autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Delete autogpt_platform/backend/load-tests/.gitignore
  autogpt_platform/backend/load-tests/.gitignore
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/configs/environment.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/data/test-users.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Delete autogpt_platform/backend/load-tests/configs/k6-credentials.env.example
  autogpt_platform/backend/load-tests/configs/k6-credentials.env.example
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Delete autogpt_platform/backend/load-tests/configs/pre-authenticated-tokens.example.js
  autogpt_platform/backend/load-tests/configs/pre-authenticated-tokens.example.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/setup-test-users.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/single-endpoint-test.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/run-tests.sh
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/auth.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/utils/test-data.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

Delete autogpt_platform/backend/migrations/20250924230049_enhance_graph_and_execution_index/migration.sql
  autogpt_platform/backend/migrations/20250924230049_enhance_graph_and_execution_index/migration.sql
Owners: @majdyz

Delete autogpt_platform/backend/load-tests/generate-tokens.js
  autogpt_platform/backend/load-tests/generate-tokens.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Delete autogpt_platform/backend/load-tests/tests/marketplace/library-access-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/library-access-test.js
Owners: @Abhi1992002

Delete autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
  autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Delete autogpt_platform/backend/load-tests/run-tests.js
  autogpt_platform/backend/load-tests/run-tests.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Delete autogpt_platform/backend/load-tests/tests/api/core-api-test.js
  autogpt_platform/backend/load-tests/tests/api/core-api-test.js
Owners: @Abhi1992002

Delete autogpt_platform/backend/load-tests/tests/api/graph-execution-test.js
  autogpt_platform/backend/load-tests/tests/api/graph-execution-test.js
Owners: @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
