Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix(frontend): improve navbar on mobile (#11137)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/components/WalletRefill.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/MobileNavbar/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): improve navbar on mobile (#11137)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/components/WalletRefill.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/MobileNavbar/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

updated StoreAgent view to list all versions
  autogpt_platform/backend/migrations/20251003085016_update_store_agent_view_latest_version_only/migration.sql
Owners: @majdyz

Update autogpt_platform/Makefile
  autogpt_platform/Makefile
Owners: @Significant-Gravitas/maintainers

updated based on feedback
  autogpt_platform/Makefile
  autogpt_platform/README.md
  docs/content/platform/getting-started.md
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend): Update store agent view to return only latest version (#11065)
  autogpt_platform/backend/migrations/20251003085016_update_store_agent_view_latest_version_only/migration.sql
Owners: @majdyz

fix(backend): Update store agent view to return only latest version (#11065)
  autogpt_platform/backend/migrations/20251003085016_update_store_agent_view_latest_version_only/migration.sql
Owners: @majdyz

feat(platform): Simplify running of core docker services (#11113)
  autogpt_platform/Makefile
  autogpt_platform/README.md
  docs/content/platform/getting-started.md
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(platform): Simplify running of core docker services (#11113)
  autogpt_platform/Makefile
  autogpt_platform/README.md
  docs/content/platform/getting-started.md
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(platform): Log Marketplace Search Terms (#11092)
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251007084233_log_search_terms/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(platform): Log Marketplace Search Terms (#11092)
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251007084233_log_search_terms/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

simplify store cache
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

handling case where a previously approved agent is unapproved
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fmt
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update function doc strings
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

ghrs: snap 10-10-2302-E9D9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-10_230246_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-10-2302-E9D9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-10-2302-E9D9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-10_230246_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-10-2302-E9D9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(backend): implement user rate limiting for concurrent graph executions (#11128)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): implement user rate limiting for concurrent graph executions (#11128)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend/builder): Sync frontend node IDs with backend after save (#11075)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/builder): Sync frontend node IDs with backend after save (#11075)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): add endpoint to retrieve specific blocks by IDs
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/builder/routes.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditorContext.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/ObjectField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SearchBar/useSearchBar.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix format
  autogpt_platform/backend/backend/server/v2/builder/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(platform): load graph on new builder (#11141)
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/builder/routes.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditorContext.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/ObjectField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SearchBar/useSearchBar.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(platform): load graph on new builder (#11141)
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/builder/routes.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditorContext.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/ObjectField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SearchBar/useSearchBar.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

ghrs: snap 10-11-2302-BE06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-11_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-11-2302-BE06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-11-2302-BE06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-11_230237_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-11-2302-BE06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

ghrs: snap 10-12-2302-9733 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-12_230239_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-12-2302-9733 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-12-2302-9733 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-12_230239_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-12-2302-9733 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix: make it not contentious
  autogpt_platform/backend/backend/data/notifications.py
Owners: @majdyz

fix: bulk set retry to false for notifications
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/clients.py
Owners: @ntindle, @majdyz, @Pwuts, @Swiftyos

Revert "fix(frontend/builder): Sync frontend node IDs with backend after save…"
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: disable queuing and processing in prod
  autogpt_platform/backend/backend/notifications/notifications.py
Owners: @ntindle

Update use-get-flag.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
