Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

add-feature
  autogpt_platform/backend/backend/blocks/encoder_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix encoder
  autogpt_platform/backend/backend/blocks/encoder_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

new-fix
  autogpt_platform/backend/backend/blocks/encoder_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): typo in marketplace agent page breadcrumbs
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(block/ai): Make AI List Generator block more reliable
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

fix(frontend): marketplace breadcrumbs typo (#11315)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

hotfix(backend): Temporarily disable library existence check for graph execution
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update frontend
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatCredentialsSetup/ChatCredentialsSetup.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatCredentialsSetup/useChatCredentialsSetup.ts
  autogpt_platform/frontend/src/app/(platform)/chat/useChatPage.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/components/atoms/MarkdownContent/MarkdownContent.tsx
  autogpt_platform/frontend/src/components/molecules/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/components/molecules/MessageList/MessageList.stories.tsx
  autogpt_platform/frontend/src/components/molecules/MessageList/MessageList.tsx
  autogpt_platform/frontend/src/components/molecules/ToolCallMessage/ToolCallMessage.tsx
  autogpt_platform/frontend/src/components/molecules/ToolResponseMessage/ToolResponseMessage.tsx
  autogpt_platform/frontend/src/hooks/useChatStream.ts
  autogpt_platform/frontend/src/lib/chat/tool-display-names.ts
Owners: @0ubbe, @kcze, @Abhi1992002

hotfix(backend): Temporarily disable library existence check for graph execution (#11318)
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: update pnpm and approved build scripts changes
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-workspace.yaml
  autogpt_platform/frontend/public/mockServiceWorker.js
Owners: @0ubbe, @kcze, @Abhi1992002

chore: enforce node version
  .github/workflows/platform-frontend-ci.yml
  .github/workflows/platform-fullstack-ci.yml
  autogpt_platform/frontend/.npmrc
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-workspace.yaml
Owners: @Significant-Gravitas/devops, @0ubbe, @kcze, @Abhi1992002

chore: update workflows
  .github/workflows/platform-frontend-ci.yml
  .github/workflows/platform-fullstack-ci.yml
Owners: @Significant-Gravitas/devops

Refactor cookie consent logic and structure
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsent/index.ts
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/CookieConsentBanner.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/components/CookieSettingsModal/CookieSettingsModal.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/components/CookieSettingsModal/useCookieSettingsModal.ts
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/useCookieConsent.ts
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/useCookieConsentBanner.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/components/BaseFooter.tsx
  autogpt_platform/frontend/src/lib/consent/index.ts
  autogpt_platform/frontend/src/lib/consent/storage.ts
  autogpt_platform/frontend/src/lib/consent/types.ts
  autogpt_platform/frontend/src/lib/consent/useConsent.ts
  autogpt_platform/frontend/src/services/analytics/VercelAnalyticsWrapper.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
  autogpt_platform/frontend/src/services/consent/cookies.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

update frontend
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatCredentialsSetup/ChatCredentialsSetup.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/useChatPage.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/api/chat/sessions/[sessionId]/stream/route.ts
  autogpt_platform/frontend/src/components/molecules/AuthPromptWidget/AuthPromptWidget.tsx
  autogpt_platform/frontend/src/components/molecules/AuthPromptWidget/index.ts
  autogpt_platform/frontend/src/components/molecules/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/components/molecules/ChatMessage/useChatMessage.ts
  autogpt_platform/frontend/src/components/molecules/LoginPrompt/LoginPrompt.stories.tsx
  autogpt_platform/frontend/src/components/molecules/LoginPrompt/LoginPrompt.tsx
  autogpt_platform/frontend/src/components/molecules/MessageList/MessageList.stories.tsx
  autogpt_platform/frontend/src/hooks/useChatStream.ts
  autogpt_platform/frontend/src/tests/pages/chat.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

update backend
  autogpt_platform/backend/backend/server/v2/chat/models.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

chore: updates
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
Owners: @0ubbe, @kcze, @Abhi1992002

changed flag to default false
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Update consent import in instrumentation-client.ts
  autogpt_platform/frontend/instrumentation-client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Auto-accept cookie consent in Playwright tests
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/tests/utils/auth.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat: add link variant to button
  autogpt_platform/frontend/src/components/atoms/Button/Button.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Button/Button.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/atoms/Link/Link.tsx
Owners: @0ubbe

chore: add stories
  autogpt_platform/frontend/src/components/atoms/Button/Button.stories.tsx
Owners: @0ubbe

chore: cleanup
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
Owners: @0ubbe

refactor chat container
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/createStreamEventDispatcher.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.ts
Owners: @0ubbe, @kcze, @Abhi1992002

renamed model files and moved get_optional_user_id to lib
  autogpt_platform/autogpt_libs/autogpt_libs/auth/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/backend/backend/server/v2/chat/model.py
  autogpt_platform/backend/backend/server/v2/chat/model_test.py
  autogpt_platform/backend/backend/server/v2/chat/response_model.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/service_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/base.py
Owners: @Pwuts, @majdyz, @ntindle, @Swiftyos, @Abhi1992002

feat(frontend/marketplace): Update agent download UI
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

update spacing
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

disable when already downloading
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/executor): Improve graph execution permission check
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

ghrs: snap 11-04-2302-EA74 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-04_230309_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-04-2302-EA74 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-04-2302-EA74 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-04_230309_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-04-2302-EA74 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Add new test for adding blocks starting with 'e'
  autogpt_platform/frontend/src/tests/build.spec.ts
Owners: @Abhi1992002

Feedback
  autogpt_platform/backend/backend/server/conn_manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Move check inside `setTimeout`
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update types
  autogpt_platform/backend/backend/server/conn_manager.py
  autogpt_platform/backend/backend/server/conn_manager_test.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

Increase test timeouts and improve block card handling
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Owners: @Abhi1992002

fix(frontend): Correctly rendering all types of outputs in the custom node in the new builder (#11258)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeDataRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/NodeOutput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ContentRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/NodeDataViewer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/useNodeDataViewer.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ViewMoreData.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/useNodeOutput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/components/OutputActions.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Change copywriting for execution task summary
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor chat container
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/createStreamEventDispatcher.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.ts
Owners: @0ubbe, @kcze, @Abhi1992002
