Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Pwuts, @Significant-Gravitas/benchmarkers, @Swiftyos, @hunteraraujo

Another increase of stalebot's operations cap
  .github/workflows/close-stale-issues.yml
Owners: @Significant-Gravitas/maintainers

Add auto-scroll behavior to chat message list
  frontend/lib/views/chat/chat_view.dart
Owners: @hunteraraujo

Add auto-scroll behavior to chat message list
  frontend/lib/views/chat/chat_view.dart
Owners: @hunteraraujo

Add auto-scroll behavior to chat message list
  frontend/lib/views/chat/chat_view.dart
Owners: @hunteraraujo

Implement artifact download functionality in Flutter web app
  frontend/lib/services/chat_service.dart
  frontend/lib/utils/rest_api_utility.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Owners: @hunteraraujo

Implement artifact download functionality in Flutter web app
  frontend/lib/services/chat_service.dart
  frontend/lib/utils/rest_api_utility.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Owners: @hunteraraujo

Implement artifact download functionality in Flutter web app
  frontend/lib/services/chat_service.dart
  frontend/lib/utils/rest_api_utility.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Owners: @hunteraraujo

Add benchmark CI
  .github/workflows/benchmark-ci.yml
  benchmark/.gitmodules
  benchmark/agbenchmark/__init__.py
  benchmark/agbenchmark/challenges/library/ethereum/check_price/data_draft.json
  benchmark/paper/agent_action_regex.py
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Add benchmark CI
  .github/workflows/benchmark-ci.yml
  benchmark/.gitmodules
  benchmark/agbenchmark/__init__.py
  benchmark/agbenchmark/challenges/library/ethereum/check_price/data_draft.json
  benchmark/paper/agent_action_regex.py
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Add benchmark CI
  .github/workflows/benchmark-ci.yml
  benchmark/.gitmodules
  benchmark/agbenchmark/__init__.py
  benchmark/agbenchmark/challenges/library/ethereum/check_price/data_draft.json
  benchmark/paper/agent_action_regex.py
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Benchmark all agents
  .github/workflows/benchmark-ci.yml
  benchmark/agents_to_benchmark.json
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Benchmark all agents
  .github/workflows/benchmark-ci.yml
  benchmark/agents_to_benchmark.json
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Benchmark all agents
  .github/workflows/benchmark-ci.yml
  benchmark/agents_to_benchmark.json
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

finalizing regex function & get jsons for memory
  benchmark/paper/TestRememberMultipleIds/auto-gpt/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/auto-gpt/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/auto-gpt/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/babyagi/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/babyagi/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/babyagi/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/beebot/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/beebot/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/beebot/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/gpt-engineer/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/gpt-engineer/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/gpt-engineer/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/mini-agi/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/mini-agi/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/mini-agi/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/polygpt/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/polygpt/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/polygpt/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/smol-developer/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/smol-developer/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/smol-developer/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/turbo/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/turbo/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/turbo/selected_logs_response.json
  benchmark/paper/TestThreeSum/evo/flagged_actions.json
  benchmark/paper/TestThreeSum/evo/selected_logs.json
  benchmark/paper/TestThreeSum/evo/selected_logs_nested.json
  benchmark/paper/TestThreeSum/evo/selected_logs_request.json
  benchmark/paper/agent_action_regex.py
  benchmark/paper/combined_data.ipynb
Owners: @Significant-Gravitas/benchmarkers

finalizing regex function & get jsons for memory
  benchmark/paper/TestRememberMultipleIds/auto-gpt/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/auto-gpt/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/auto-gpt/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/babyagi/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/babyagi/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/babyagi/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/beebot/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/beebot/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/beebot/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/gpt-engineer/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/gpt-engineer/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/gpt-engineer/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/mini-agi/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/mini-agi/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/mini-agi/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/polygpt/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/polygpt/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/polygpt/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/smol-developer/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/smol-developer/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/smol-developer/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/turbo/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/turbo/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/turbo/selected_logs_response.json
  benchmark/paper/TestThreeSum/evo/flagged_actions.json
  benchmark/paper/TestThreeSum/evo/selected_logs.json
  benchmark/paper/TestThreeSum/evo/selected_logs_nested.json
  benchmark/paper/TestThreeSum/evo/selected_logs_request.json
  benchmark/paper/agent_action_regex.py
  benchmark/paper/combined_data.ipynb
Owners: @Significant-Gravitas/benchmarkers

finalizing regex function & get jsons for memory
  benchmark/paper/TestRememberMultipleIds/auto-gpt/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/auto-gpt/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/auto-gpt/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/babyagi/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/babyagi/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/babyagi/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/beebot/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/beebot/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/beebot/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/gpt-engineer/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/gpt-engineer/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/gpt-engineer/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/mini-agi/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/mini-agi/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/mini-agi/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/polygpt/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/polygpt/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/polygpt/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/smol-developer/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/smol-developer/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/smol-developer/selected_logs_response.json
  benchmark/paper/TestRememberMultipleIds/turbo/flagged_actions.json
  benchmark/paper/TestRememberMultipleIds/turbo/selected_logs_nested_response.json
  benchmark/paper/TestRememberMultipleIds/turbo/selected_logs_response.json
  benchmark/paper/TestThreeSum/evo/flagged_actions.json
  benchmark/paper/TestThreeSum/evo/selected_logs.json
  benchmark/paper/TestThreeSum/evo/selected_logs_nested.json
  benchmark/paper/TestThreeSum/evo/selected_logs_request.json
  benchmark/paper/agent_action_regex.py
  benchmark/paper/combined_data.ipynb
Owners: @Significant-Gravitas/benchmarkers

Update README.md
  frontend/README.md
Owners: @hunteraraujo

Update README.md
  frontend/README.md
Owners: @hunteraraujo

Update README.md
  frontend/README.md
Owners: @hunteraraujo

Add back api mode
  .github/workflows/benchmark-ci.yml
  benchmark/agbenchmark/generate_test.py
  benchmark/agbenchmark/start_benchmark.py
  benchmark/poetry.lock
  benchmark/pyproject.toml
  benchmark/server.py
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Add back api mode
  .github/workflows/benchmark-ci.yml
  benchmark/agbenchmark/generate_test.py
  benchmark/agbenchmark/start_benchmark.py
  benchmark/poetry.lock
  benchmark/pyproject.toml
  benchmark/server.py
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Add back api mode
  .github/workflows/benchmark-ci.yml
  benchmark/agbenchmark/generate_test.py
  benchmark/agbenchmark/start_benchmark.py
  benchmark/poetry.lock
  benchmark/pyproject.toml
  benchmark/server.py
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Less data in spreadsheet
  benchmark/reports/send_to_googledrive.py
Owners: @Significant-Gravitas/benchmarkers

Less data in spreadsheet
  benchmark/reports/send_to_googledrive.py
Owners: @Significant-Gravitas/benchmarkers

Less data in spreadsheet
  benchmark/reports/send_to_googledrive.py
Owners: @Significant-Gravitas/benchmarkers

Fix docs: sample docker-compose.yml broken indents (#5168)
  docs/content/setup.md
Owners: none

Fix docs: sample docker-compose.yml broken indents (#5168)
  docs/content/setup.md
Owners: none

Fix docs: sample docker-compose.yml broken indents (#5168)
  docs/content/setup.md
Owners: none

Remove dart:html from pubspec
  frontend/pubspec.lock
  frontend/pubspec.yaml
Owners: @hunteraraujo

Remove dart:html from pubspec
  frontend/pubspec.lock
  frontend/pubspec.yaml
Owners: @hunteraraujo

Remove dart:html from pubspec
  frontend/pubspec.lock
  frontend/pubspec.yaml
Owners: @hunteraraujo

read me changes
  README.md
  README1.md
  autogpts/autogpt/README.md
Owners: @Pwuts

read me changes
  README.md
  README1.md
  autogpts/autogpt/README.md
Owners: @Pwuts

read me changes
  README.md
  README1.md
  autogpts/autogpt/README.md
Owners: @Pwuts

Benchmark agents without submodule + ability to pin a specific commit.
  .github/workflows/benchmark-ci.yml
  benchmark/agents_to_benchmark.json
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Benchmark agents without submodule + ability to pin a specific commit.
  .github/workflows/benchmark-ci.yml
  benchmark/agents_to_benchmark.json
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

Benchmark agents without submodule + ability to pin a specific commit.
  .github/workflows/benchmark-ci.yml
  benchmark/agents_to_benchmark.json
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/benchmarkers

mini-agi-20230908002003
  benchmark/reports/mini-agi/20230908T001050_full_run/radar_chart.png
  benchmark/reports/mini-agi/20230908T001050_full_run/report.json
  benchmark/reports/mini-agi/folder1_TestWriteFile/report.json
Owners: @Significant-Gravitas/benchmarkers

mini-agi-20230908002003
  benchmark/reports/mini-agi/20230908T001050_full_run/radar_chart.png
  benchmark/reports/mini-agi/20230908T001050_full_run/report.json
  benchmark/reports/mini-agi/folder1_TestWriteFile/report.json
Owners: @Significant-Gravitas/benchmarkers

mini-agi-20230908002003
  benchmark/reports/mini-agi/20230908T001050_full_run/radar_chart.png
  benchmark/reports/mini-agi/20230908T001050_full_run/report.json
  benchmark/reports/mini-agi/folder1_TestWriteFile/report.json
Owners: @Significant-Gravitas/benchmarkers

.github/CODEOWNERS:

.github/workflows/  @Significant-Gravitas/maintainers
autogpts/autogpt/   @Pwuts
benchmark/  @Significant-Gravitas/benchmarkers
forge/      @Swiftyos
frontend/   @hunteraraujo
