Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

ghrs: vc agg 10-28-2302-439F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-28_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-28-2302-439F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/test/sdk/test_sdk_block_creation.py
  docs/content/platform/block-sdk-guide.md
  docs/content/platform/new_blocks.md
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

fix(backend): prevent execution of deleted agents and cleanup orphaned resources (#11243)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/integrations/webhooks/_base.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): prevent execution of deleted agents and cleanup orphaned resources (#11243)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/integrations/webhooks/_base.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

wip
  autogpt_platform/backend/backend/blocks/exa/websets.py
  autogpt_platform/backend/backend/blocks/exa/websets_enrichment.py
  autogpt_platform/backend/backend/blocks/exa/websets_import_export.py
  autogpt_platform/backend/backend/blocks/exa/websets_items.py
  autogpt_platform/backend/backend/blocks/exa/websets_monitor.py
  autogpt_platform/backend/backend/blocks/exa/websets_polling.py
  autogpt_platform/backend/backend/blocks/exa/websets_search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: handle oversized notifications by sending summary email (#11119) (#11130)
  autogpt_platform/backend/backend/notifications/email.py
Owners: @ntindle

fix: handle oversized notifications by sending summary email (#11119) (#11130)
  autogpt_platform/backend/backend/notifications/email.py
Owners: @ntindle

feat(backend/executor): add comprehensive executor_id logging for pod tracking
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/executor): ensure cluster lock release on all execution submission failures
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/executor): release cluster lock before requeue on executor submit failure
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/executor): wrap entire post-acquisition block to prevent cluster lock leaks
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

remove sanitize_query function
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/executor): ensure cluster lock release on all execution submission failures (#11281)
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/executor): ensure cluster lock release on all execution submission failures (#11281)
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update tool paramerter
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add run agent tool
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add setup agent tool for scheduled agents
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add test fixtures
  autogpt_platform/backend/backend/server/v2/chat/tools/_test_data.py
Owners: @Abhi1992002

feat(backend/executor): Implement cascading stop for nested graph executions (#11277)
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/migrations/20251028000000_add_parent_graph_execution_tracking/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

feat(backend/executor): Implement cascading stop for nested graph executions (#11277)
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/migrations/20251028000000_add_parent_graph_execution_tracking/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

added tests
  autogpt_platform/backend/backend/server/v2/chat/tools/_test_data.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent_test.py
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

use truncate.py and json.py in error messages
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

fix(frontend): wallet render twice causing issues
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletRefill.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTaskGroups.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: remove log
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/executor): make graph execution permission check version-agnostic
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): prevent Wallet rendering twice (#11282)
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletRefill.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTaskGroups.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): prevent Wallet rendering twice (#11282)
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletRefill.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTaskGroups.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/executor): make graph execution permission check version-agnostic (#11283)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/executor): make graph execution permission check version-agnostic (#11283)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add updated_at as an option
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add updated_at as an option
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add updated_at as an option
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: wip
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/components/OAuthLogin/OAuthLogin.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/helpers.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/types/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/blocks): remove automatic error field from Agent Input/Output blocks
  autogpt_platform/backend/backend/blocks/io.py
Owners: @Swiftyos, @ntindle, @Bentlybro

add type hints and fix fe sortby
  autogpt_platform/backend/backend/blocks/system/store_operations.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/MainSearchResultPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/useMainSearchResultPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/__legacy__/SortDropdown.tsx
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002, @0ubbe, @kcze

fix typo
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix typo
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
