Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

chore: wip
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/store.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: review suggestions
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: wip
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/useCopyPaste.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/useTimezoneDetection.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/store.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/useLibraryAgents.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Potential fix for code scanning alert no. 145: Incomplete URL substring sanitization
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/MarkdownRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: lint
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/MarkdownRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Add AllQuiet alert integration alongside Discord alerts
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/monitoring/block_error_monitor.py
  autogpt_platform/backend/backend/monitoring/late_execution_monitor.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

style(platform): Apply linters and formatters to AllQuiet integration
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/monitoring/block_error_monitor.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(admin): Add system diagnostics page for execution and agent monitoring
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/model.py
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/DiagnosticsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

refactor(admin): Refactor diagnostics page to follow frontend contribution guidelines
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/DiagnosticsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/useDiagnosticsContent.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Add standalone mode for running without external dependencies
  STANDALONE_MODE.md
  autogpt_platform/backend/.env.standalone
  autogpt_platform/backend/backend/data/event_bus.py
  autogpt_platform/backend/backend/data/inmemory_event_bus.py
  autogpt_platform/backend/backend/data/inmemory_queue.py
  autogpt_platform/backend/backend/data/inmemory_redis.py
  autogpt_platform/backend/backend/data/rabbitmq.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

ghrs: snap 10-21-2303-D0F7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-21_230305_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-21-2303-D0F7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-21_230305_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-21-2303-D0F7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-21-2303-D0F7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(frontend): enhance FlowEditor with new components and execution status tracking
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/RunningBackground.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeDataRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/useNewSaveControl.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): update RunGraph component to include stop functionality
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: Make Jinja Error on TextFormatter as value error
  autogpt_platform/backend/backend/util/text.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

I don't think we even need warning here
  autogpt_platform/backend/backend/util/text.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Make Jinja Error on TextFormatter as value error (#11236)
  autogpt_platform/backend/backend/util/text.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Make Jinja Error on TextFormatter as value error (#11236)
  autogpt_platform/backend/backend/util/text.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): Limit Sentry console capture to warnings and errors (#11223)
  autogpt_platform/frontend/sentry.edge.config.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Limit Sentry console capture to warnings and errors (#11223)
  autogpt_platform/frontend/sentry.edge.config.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Filter out `undefined` query params in API requests
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): URL substring sanitazion issue (#11232)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/MarkdownRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): URL substring sanitazion issue (#11232)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/renderers/MarkdownRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): setup datafast custom events (#11231)
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/tutorial.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/__legacy__/AgentInfo.tsx
  autogpt_platform/frontend/src/services/analytics/google-analytics.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): setup datafast custom events (#11231)
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/tutorial.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/__legacy__/AgentInfo.tsx
  autogpt_platform/frontend/src/services/analytics/google-analytics.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Potential fix for code scanning alert no. 155: Information exposure through an exception
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix empty query
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Merge commit from fork
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Merge commit from fork
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Merge commit from fork
  autogpt_platform/backend/backend/blocks/rss.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Merge commit from fork
  autogpt_platform/backend/backend/blocks/rss.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): Filter out `undefined` query params in API requests (#11238)
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Filter out `undefined` query params in API requests (#11238)
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Improve waitlist error display & messages (#11206)
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/auth/provider/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/app/api/auth/utils.ts
  autogpt_platform/frontend/src/components/auth/WaitlistErrorContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Improve waitlist error display & messages (#11206)
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/auth/provider/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/app/api/auth/utils.ts
  autogpt_platform/frontend/src/components/auth/WaitlistErrorContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Fix `AppService` endpoint error logging
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Prevent `AppService` accepting requests during shutdown
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos
