Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

refactor(FormRenderer): remove debug logging for preprocessedSchema
  autogpt_platform/frontend/src/components/renderers/InputRenderer/FormRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance NodeHeader and AnyOfField components for better usability
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/MultiSelectField/MultiSelectField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/MultiSelectField/index.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/MultiSelectField/useMultiSelectField.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/custom-registry.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/schema-utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): cover webhook ingress URL route
  autogpt_platform/backend/backend/integrations/webhooks/utils_test.py
Owners: @Abhi1992002

dx(backend): reduce webhook ingress URL test brittleness
  autogpt_platform/backend/backend/integrations/webhooks/utils_test.py
Owners: @Abhi1992002

dx(backend): narrow route type in webhook URL test
  autogpt_platform/backend/backend/integrations/webhooks/utils_test.py
Owners: @Abhi1992002

feat: Add EDA and 3D visualization notebook for Stanford RNA 3D Folding Part 2
  rna_3d_folding_eda.ipynb
  rna_3d_folding_eda.py
Owners: @Significant-Gravitas/maintainers
