Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

added redis data storage
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/data.py
  autogpt_platform/backend/backend/server/v2/chat/data_test.py
  autogpt_platform/backend/backend/util/cache.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

use session as the key object
  autogpt_platform/backend/backend/server/v2/chat/data.py
  autogpt_platform/backend/backend/server/v2/chat/data_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

update service to process chunks
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/data.py
  autogpt_platform/backend/backend/server/v2/chat/data_test.py
  autogpt_platform/backend/backend/server/v2/chat/models.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/util/cache.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

address feedback
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/service.py
Owners: @ntindle, @majdyz, @Pwuts, @Swiftyos

fix event loop warning
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update routes to use chat service
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

address further feedback
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: fix login button
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix tests
  autogpt_platform/backend/backend/util/service_test.py
Owners: @Abhi1992002

added inital tool calling
  autogpt_platform/backend/backend/server/v2/chat/tools/base.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): update tally popup copy
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
  autogpt_platform/frontend/src/components/molecules/TallyPoup/useTallyPopup.ts
Owners: @0ubbe

chore: improve cache
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/store.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/useLibraryAgents.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: invalidate queries
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: review suggestions
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor: suggestion
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/AgentOnboardingCredentials.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

added tool execution
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fmt
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/base.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): add agent execution functionality in new builder (#11186)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/RunningBackground.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeCost.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeDataRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/useNewSaveControl.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add agent execution functionality in new builder (#11186)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/RunningBackground.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ObjectEditor/ObjectEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeCost.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeDataRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/useNewSaveControl.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

suppress false-positive litellm cleanup warning
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
Owners: @Swiftyos, @ntindle, @Bentlybro

tested streaming service with tool calling
  autogpt_platform/backend/backend/server/v2/chat/data.py
  autogpt_platform/backend/backend/server/v2/chat/data_test.py
  autogpt_platform/backend/backend/server/v2/chat/models.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/service_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

added get_agent_details tool
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

trim down agent details
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

make event loop thread daemonic
  autogpt_platform/backend/backend/util/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(blocks/revid): Add cost configs for revid video blocks (#11242)
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @majdyz

feat(blocks/revid): Add cost configs for revid video blocks (#11242)
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @majdyz

ghrs: snap 10-24-2302-F331 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-24_230303_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-24-2302-F331 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-24_230303_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-24-2302-F331 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-24-2302-F331 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend): Implement graceful shutdown in `AppService` to prevent RPC errors (#11240)
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
  autogpt_platform/backend/backend/cli.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

fix(backend): Implement graceful shutdown in `AppService` to prevent RPC errors (#11240)
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
  autogpt_platform/backend/backend/cli.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

feat(frontend): enhance NodeDataRenderer and OutputActions components
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeDataRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeDataViewer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OutputRenderers/components/OutputActions.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Fix various warnings
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/poetry.lock
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

Improve handling of error "APIKeyAuthenticator.expected_token is not set; either specify it or provide a custom validator"
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 10-25-2302-6A06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-25_230244_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-25-2302-6A06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-25-2302-6A06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-25_230244_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-25-2302-6A06 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts
