Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix: the teests --no-verify
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
Owners: @Abhi1992002

fix: the api key credentials weren't registering correctly (#10936)
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
Owners: @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix: the api key credentials weren't registering correctly (#10936)
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
Owners: @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix: use optimistic updates on the ui instead of re-querying everyting
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend/backend): add first pass of share
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20250916191832_add_share_page/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(no-navbar)/share/[token]/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/ShareButton.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix: remove mess
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/components/ShareButton.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

ref: remove useless
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

ref: format
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ref: formatting fixes from types
  autogpt_platform/frontend/src/app/(no-navbar)/share/[token]/page.tsx
  autogpt_platform/frontend/src/components/ShareButton.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ref: lint + fix
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: formatting
  autogpt_platform/frontend/src/components/ShareButton.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat: allow you to go back to the shared resource
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/components/ShareButton.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: Address PR review comments
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/frontend/src/components/ShareButton.tsx
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

fix: better output handling
  autogpt_platform/backend/backend/data/execution.py
Owners: @majdyz

fix: remove caching on endpoint
  autogpt_platform/backend/backend/server/middleware/security.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Update LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ref: formatting
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(library): Add agent favoriting functionality (#10828)
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/library/hooks/useFavoriteAgents.ts
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(library): Add agent favoriting functionality (#10828)
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/library/hooks/useFavoriteAgents.ts
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix(blocks): Fix feedback loops in AI Structured Response Generator (#10932)
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Fix feedback loops in AI Structured Response Generator (#10932)
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(platform): Disable Trigger Setup through Builder (#10418)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/CustomEdge.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/customnode.css
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(platform): Disable Trigger Setup through Builder (#10418)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/CustomEdge.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/customnode.css
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat: feature flag
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 09-16-2302-A453 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-16_230238_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-16-2302-A453 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-16_230238_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-16-2302-A453 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-16-2302-A453 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

style(frontend): match Setup Instructions styling to recommended scheduling tip
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): move Setup Instructions and add missing features to RunAgentModal
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): enhance agent retrieval logic in store agent page (#10933)
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(backend): enhance agent retrieval logic in store agent page (#10933)
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix styling on new page
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

update icon
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
Owners: @0ubbe, @kcze, @Abhi1992002
