Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers, @Significant-Gravitas/admins

chore: try to fix flags
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

feat(backend/external-api): Make API key auth work in Swagger UI (#10783)
  autogpt_platform/backend/backend/server/external/middleware.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
Owners: @Significant-Gravitas/maintainers

feat(backend/external-api): Make API key auth work in Swagger UI (#10783)
  autogpt_platform/backend/backend/server/external/middleware.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
Owners: @Significant-Gravitas/maintainers

feat(platform/library): Support UX for manual-setup triggers (#10309)
  autogpt_platform/backend/backend/data/__init__.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-status-chip.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-summary-card.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-status-chip.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

feat(platform/library): Support UX for manual-setup triggers (#10309)
  autogpt_platform/backend/backend/data/__init__.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-status-chip.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-summary-card.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-status-chip.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

fix: Update poetry.lock for CI compatibility
  autogpt_platform/backend/poetry.lock
Owners: @Significant-Gravitas/maintainers

fix: Move imports to top level to follow best practices
  autogpt_platform/backend/backend/blocks/rss.py
  autogpt_platform/backend/backend/blocks/text.py
Owners: @Significant-Gravitas/maintainers

remove redundant `response_model` from several endpoints
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @Significant-Gravitas/maintainers

feat(frontend): Add enhanced output rendering for agent runs
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-output-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/components/OutputActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/components/OutputItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/index.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/CodeRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/ImageRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/JSONRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/TextRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/VideoRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/types.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/utils/download.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/maintainers

added enhanced search functionality
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/test_advanced_search.py
Owners: @Significant-Gravitas/maintainers

fix(frontend): prevent using mock feature flags (#10792)
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/Dockerfile
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

fix(frontend): prevent using mock feature flags (#10792)
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/Dockerfile
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

feat(backend/executor): Store passed-in credentials on `GraphExecution`
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/schema.prisma
Owners: @Significant-Gravitas/maintainers

fix(frontend): the copy buttons now work for content + markdown
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-output-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/components/OutputActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/components/OutputItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/index.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/CodeRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/ImageRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/JSONRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/MarkdownRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/TextRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/VideoRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/types.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/utils/copy.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/utils/download.ts
Owners: @Significant-Gravitas/maintainers

chore: wip
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/RunsSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/components/RunCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/components/RunIconWrapper.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/components/RunListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/components/ScheduleListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/useRunsSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/molecules/ErrorCard/ErrorCard.tsx
  autogpt_platform/frontend/src/components/molecules/InfiniteList/InfiniteList.stories.tsx
  autogpt_platform/frontend/src/components/molecules/InfiniteList/InfiniteList.tsx
  autogpt_platform/frontend/src/components/molecules/TabsLine/TabsLine.tsx
Owners: @Significant-Gravitas/maintainers

feat(frontend): add mermaid rendering
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/MarkdownRenderer.tsx
Owners: @Significant-Gravitas/maintainers

Modify Claude workflow permissions and action version
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

fix frontend types
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/conn_manager_test.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

feat: Add workflow for auto-fixing CI failures
  .github/workflows/claude-ci-failure-auto-fix.yml
Owners: @Significant-Gravitas/devops

undo unintended change
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
Owners: @Significant-Gravitas/maintainers

ci: Modify Claude workflow permissions and action version (#10818)
  .github/workflows/claude-ci-failure-auto-fix.yml
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

ci: Modify Claude workflow permissions and action version (#10818)
  .github/workflows/claude-ci-failure-auto-fix.yml
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

feat(frontend/library): Make "Run Again" button work for runs with credentials
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
Owners: @Significant-Gravitas/maintainers

listing-block-part-1
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/AllBlocksContent/AllBlocksContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/AllBlocksContent/useAllBlockContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuDefaultContent/BlockMenuDefaultContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/IntegrationsContent/IntegrationsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/MarketplaceAgentsContent/MarketplaceAgentsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/MyAgentsContent/MyAgentsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/PaginatedBlocksContent/PaginatedBlocksContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/components/styles/scrollbar.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/maintainers

fix(backend): update versioning logic in review store submission
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @Significant-Gravitas/maintainers

Update GitHub Actions workflow for Claude integration
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

Update allowed tools in Claude workflow
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

Update claude.yml
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

chore: wip
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetails/RunDetails.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetails/useRunDetails.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/RunsSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/components/RunCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/components/RunListItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/useRunsSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/useAgentRunsView.ts
Owners: @Significant-Gravitas/maintainers

ci: Update GitHub Actions workflow for Claude integration (#10822)
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

ci: Update GitHub Actions workflow for Claude integration (#10822)
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

fix: formatting
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-output-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/components/OutputActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/CodeRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/ImageRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/JSONRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/MarkdownRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/TextRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/renderers/VideoRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/output-renderers/utils/copy.ts
Owners: @Significant-Gravitas/maintainers

feat(library): Create presets from runs
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-summary-card.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/create-preset-dialog.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

Add favorites feature for library agents with sorting and UI updates
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AgentDetails/AgentDetails.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AgentInputFields/AgentInputFields.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/context.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/useAgentRunsView.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/useFavoriteAgent.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/LibrarySortMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/useLibrarySortMenu.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/state-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

add migration
  autogpt_platform/backend/migrations/20250902171554_add_credentials_to_graph_execution/migration.sql
Owners: @Significant-Gravitas/maintainers

Add table input block with dynamic headers and rows support
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

fix execution of presets with credentials
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers

fix responses of execute requests
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @Significant-Gravitas/maintainers

fix preset execution test
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
Owners: @Significant-Gravitas/maintainers

fix `runAgain` for presets
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
Owners: @Significant-Gravitas/maintainers

.github/CODEOWNERS:

* @Significant-Gravitas/maintainers
.github/workflows/ @Significant-Gravitas/devops
classic/forge/ @Significant-Gravitas/forge-maintainers
classic/benchmark/ @Significant-Gravitas/benchmark-maintainers
classic/frontend/ @Significant-Gravitas/frontend-maintainers
autogpt_platform/infra @Significant-Gravitas/devops
.github/CODEOWNERS @Significant-Gravitas/admins
