Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix(frontend): remove unused variables and imports to fix ESLint errors
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/components/molecules/FloatingSafeModeToggle/FloatingSafeModeToggle.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update `openapi.json`
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add breadcrumbs to settings page and fix font sizes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/SelectedRunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedSettingsView/SelectedSettingsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedViewLayout.tsx
  autogpt_platform/frontend/src/components/molecules/Breadcrumbs/Breadcrumbs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
  autogpt_platform/frontend/src/components/styles/colors.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Backend completion of Onboarding tasks (#11375)
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/notification_bus.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/RunnerInputUI.tsx
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/useSelectedRunActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/AgentImportForm.tsx
  autogpt_platform/frontend/src/app/api/helpers.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(platform): add execution accuracy alert system
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/monitoring/__init__.py
  autogpt_platform/backend/backend/monitoring/accuracy_monitor.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AccuracyTrendsChart.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/page.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(platform): enhance execution accuracy alert system with comprehensive improvements
  autogpt_platform/backend/backend/data/analytics.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/monitoring/accuracy_monitor.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AccuracyTrendsChart.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

refactor(platform): make execution accuracy monitor fully sync
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/monitoring/accuracy_monitor.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(platform): configure execution accuracy alerts for daily product alerts
  autogpt_platform/backend/backend/monitoring/accuracy_monitor.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(platform): improve accuracy alert format with detailed information
  autogpt_platform/backend/backend/monitoring/accuracy_monitor.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): fix SmartDecisionMaker dynamic fields test failures
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
Owners: @Abhi1992002

fix(backend): replace print() statements with proper logging (#11499)
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/integrations/webhooks/_manual_base.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

remove comment
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Mark ValueError as known block errors (#11537)
  autogpt_platform/backend/backend/data/block.py
Owners: @majdyz

feat(platform): add Agent Output Demo field to marketplace submission form (#11538)
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/model_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/migrations/20251204012214_add_marketplace_agent_output_video_column/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/agt_details
  autogpt_platform/backend/snapshots/sub_success
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/lib/utils.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix(backend): pass credential type from SDK registry to integrations API (#11544)
  autogpt_platform/backend/backend/server/external/routes/integrations.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

used transaction and added make command to pyproject
  autogpt_platform/Makefile
  autogpt_platform/backend/backend/check_db.py
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/load_store_agents.py
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(backend): add default store agents for seeding test databases (#11552)
  autogpt_platform/Makefile
  autogpt_platform/backend/agents/StoreAgent_rows.csv
  autogpt_platform/backend/agents/agent_00fdd42c-a14c-4d19-a567-65374ea0e87f.json
  autogpt_platform/backend/agents/agent_31daf49d-31d3-476b-aa4c-099abc59b458.json
  autogpt_platform/backend/agents/agent_415b7352-0dc6-4214-9d87-0ad3751b711d.json
  autogpt_platform/backend/agents/agent_516d813b-d1bc-470f-add7-c63a4b2c2bad.json
  autogpt_platform/backend/agents/agent_55d40473-0f31-4ada-9e40-d3a7139fcbd4.json
  autogpt_platform/backend/agents/agent_6e16e65a-ad34-4108-b4fd-4a23fced5ea2.json
  autogpt_platform/backend/agents/agent_a03b0d8c-4751-43d6-a54e-c3b7856ba4e3.json
  autogpt_platform/backend/agents/agent_a548e507-09a7-4b30-909c-f63fcda10fff.json
  autogpt_platform/backend/agents/agent_b6f6f0d3-49f4-4e3b-8155-ffe9141b32c0.json
  autogpt_platform/backend/agents/agent_b8ceb480-a7a2-4c90-8513-181a49f7071f.json
  autogpt_platform/backend/agents/agent_c775f60d-b99f-418b-8fe0-53172258c3ce.json
  autogpt_platform/backend/agents/agent_d85882b8-633f-44ce-a315-c20a8c123d19.json
  autogpt_platform/backend/agents/agent_e437cc95-e671-489d-b915-76561fba8c7f.json
  autogpt_platform/backend/agents/agent_e7bb29a1-23c7-4fee-aa3b-5426174b8c52.json
  autogpt_platform/backend/agents/agent_eafa21d3-bf14-4f63-a97f-a5ee41df83b3.json
  autogpt_platform/backend/agents/agent_f2cc74bb-f43f-4395-9c35-ecb30b5b4fc9.json
  autogpt_platform/backend/agents/agent_fc2c9976-0962-4625-a27b-d316573a9e7f.json
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/load_store_agents.py
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): include agent_output_demo in vector search migration view
  autogpt_platform/backend/migrations/20251204121212_add_vector_search/migration.sql
Owners: @majdyz

attempting to fix ci
  autogpt_platform/backend/migrations/20251204121212_add_vector_search/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

fix(platform/frontend): security upgrade next from 15.4.7 to 15.4.8 (#11536)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Improve Google Sheets/Drive integration with unified credentials (#11520)
  autogpt_platform/backend/backend/blocks/google/_drive.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/test/test_block.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/__legacy__/ui/dialog.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts, @0ubbe, @kcze

implemented ConcatenateListsBlock
  autogpt_platform/backend/backend/blocks/data_manipulation.py
  autogpt_platform/backend/test/blocks/test_concatenate_lists.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

implemented ConcatenateListsBlock
  autogpt_platform/backend/backend/blocks/data_manipulation.py
  autogpt_platform/backend/test/blocks/test_concatenate_lists.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

feat(backend/blocks): add ConcatenateListsBlock
  autogpt_platform/backend/backend/blocks/data_manipulation.py
  autogpt_platform/backend/test/blocks/test_concatenate_lists.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

ghrs: snap 12-05-2303-3ADD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-05_230345_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-05-2303-3ADD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-05-2303-3ADD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-05_230345_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-05-2303-3ADD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Add Instagram automation blocks
  autogpt_platform/backend/backend/blocks/instagram/README.md
  autogpt_platform/backend/backend/blocks/instagram/__init__.py
  autogpt_platform/backend/backend/blocks/instagram/auth.py
  autogpt_platform/backend/backend/blocks/instagram/comment.py
  autogpt_platform/backend/backend/blocks/instagram/follow.py
  autogpt_platform/backend/backend/blocks/instagram/like.py
  autogpt_platform/backend/backend/blocks/instagram/login.py
  autogpt_platform/backend/backend/blocks/instagram/post.py
  autogpt_platform/backend/backend/blocks/instagram/search.py
  autogpt_platform/backend/pyproject.toml
Owners: @Bentlybro, @Pwuts, @Swiftyos, @ntindle, @majdyz

Fix Instagram blocks to download URLs before uploading
  autogpt_platform/backend/backend/blocks/instagram/post.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ghrs: snap 12-06-2303-213F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-06_230312_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-06-2303-213F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-06-2303-213F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-06_230312_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-06-2303-213F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

ghrs: snap 12-07-2303-F63F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-07_230317_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-07-2303-F63F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-07_230317_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-07-2303-F63F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-07-2303-F63F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

chore: wip
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/APIKeyCredentialsModal/APIKeyCredentialsModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/APIKeyCredentialsModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/HotScopedCredentialsModal/HotScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/OAuthWaitingModal/OAuthWaitingModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/PasswordCredentialsModal/PasswordCredentialsModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/AgentCostSection/AgentCostSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/AgentDetails/AgentDetails.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/AgentSectionHeader/AgentSectionHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/ModalSection/ModalSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/RunActions/RunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/atoms/Button/Button.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/components/ThumbnailImages.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
Owners: @0ubbe, @kcze, @Abhi1992002
