Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix(backend): make migration not crash the system
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Update autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Update autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Fix: Improve virus scanner and file input error handling
  TIMEOUT_FIX_EXPLANATION.md
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/util/virus_scanner.py
Owners: @Bentlybro, @Pwuts, @Swiftyos, @ntindle, @majdyz

fix(backend): make preset migration not crash the system (#10966)
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): enhance logging in media file storage and virus scanning processes
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/virus_scanner.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): enhance async GCS client initialization and add detailed logging
  autogpt_platform/backend/backend/util/cloud_storage.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 09-22-2302-28B7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-22_230246_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-22-2302-28B7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-22_230246_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-22-2302-28B7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-22-2302-28B7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(load-tests): optimize comprehensive platform test for better performance
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): implement comprehensive load testing performance fixes
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): optimize API endpoints to reduce response sizes and improve performance
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): add pagination to /api/graphs endpoint
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): use pagination internally for /api/graphs with 500 limit
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): optimize API performance with internal pagination limits
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): cache /api/blocks endpoint to eliminate performance bottleneck
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(load-tests): add interactive CLI and enhanced single-endpoint testing
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

feat(frontend): Add Vercel Analytics and Speed Insights (#10904)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/executor): Make graph execution status transitions atomic and enforce state machine (#10863)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

Revert "fix(backend): Add Airtable record normalization + find/create base (#10891)"
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): handle avatar missing images better (#10903)
  autogpt_platform/frontend/next.config.mjs
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/db): Keep `CreditTransaction` entries on `User` delete (#10917)
  autogpt_platform/backend/migrations/20250912164006_keep_credit_transactions_on_user_delete/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

fix(backend): Add Airtable record normalization and upsert features (#10908)
  autogpt_platform/backend/backend/blocks/airtable/_api.py
  autogpt_platform/backend/backend/blocks/airtable/bases.py
  autogpt_platform/backend/backend/blocks/airtable/records.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend/db): Unbreak store materialized views refresh job (#10906)
  autogpt_platform/backend/migrations/20250910161617_fix_store_materialized_views_refresh_job/migration.sql
Owners: @majdyz

fix(frontend): improve agent runs page loading state (#10914)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentRunsLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/RunsSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/useRunsSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/useAgentRunsView.ts
  autogpt_platform/frontend/src/app/api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): delete actions behind dialogs in agent runs view (#10915)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/DefaultRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalScheduleSection/ScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalScheduleSection/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalScheduleSection/useModalScheduleSection.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/components/AgentActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/useRunDetailHeader.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/ScheduleDetails/ScheduleDetails.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/ScheduleDetails/components/EditScheduleModal/useEditScheduleModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/ScheduleDetails/components/ScheduleActions.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/atoms/Button/helpers.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(platform): add timezone awareness to scheduler (#10921)
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/ScheduleDetails/ScheduleDetails.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/cron-expression-utils.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): Add expandable view for block output (#10773)
  autogpt_platform/frontend/src/components/DataTable.tsx
  autogpt_platform/frontend/src/components/ExpandableOutputDialog.tsx
  autogpt_platform/frontend/src/components/NodeOutputs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): resolve merge conflict in v1.py
  autogpt_platform/backend/backend/monitoring/instrumentation.py
  autogpt_platform/backend/backend/server/external/api.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(cache): implement thundering herd safe caching decorators and replace all functools.cache
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/load-tests/COMPREHENSIVE_METRICS_REPORT.md
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

feat(platform): implement unified @cached decorator with thundering herd protection
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix(caching): resolve pydantic import conflict by reinstalling dependencies
  autogpt_platform/backend/load-tests/MARKETPLACE_TEST_RESULTS.md
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

fix(caching): add support for unhashable types in cache keys and fix test imports
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
Owners: @Significant-Gravitas/maintainers, @Abhi1992002

test(cache): add verification that async functions return results, not coroutines
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
Owners: @Abhi1992002

extremely bump failed requests
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): make /api/blocks endpoint async to handle high concurrency
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): implement selective user cache invalidation and clean up test files
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/load-tests/COMPREHENSIVE_METRICS_REPORT.md
  autogpt_platform/backend/load-tests/MARKETPLACE_TEST_RESULTS.md
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

feat(backend): implement comprehensive load testing performance fixes + database health improvements (#10965)
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro
