Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix(backend/store): improve store exception hierarchy for proper HTTP status codes (#11176)
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/store): improve store exception hierarchy for proper HTTP status codes (#11176)
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): move DatabaseError to backend.util.exceptions for better layer separation
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): update all DatabaseError imports to use new location
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/generate_data.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix circular import
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Reorder CLAUDE_4_5_SONNET entry in MODEL_COST dict
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @majdyz

add full text search
  autogpt_platform/backend/backend/data/partial_types.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251016093049_add_full_text_search/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add full text search
  autogpt_platform/backend/backend/data/partial_types.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251016093049_add_full_text_search/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): move DatabaseError to backend.util.exceptions for better layer separation (#11177)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/generate_data.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): move DatabaseError to backend.util.exceptions for better layer separation (#11177)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/generate_data.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update docker file to include partial types
  autogpt_platform/backend/Dockerfile
Owners: @ntindle, @Bentlybro, @0ubbe

update docker file to include partial types
  autogpt_platform/backend/Dockerfile
Owners: @ntindle, @Bentlybro, @0ubbe

include parital types in second place
  autogpt_platform/backend/Dockerfile
Owners: @ntindle, @Bentlybro, @0ubbe

include parital types in second place
  autogpt_platform/backend/Dockerfile
Owners: @ntindle, @Bentlybro, @0ubbe

feat(platform/backend): Add Claude Haiku 4.5 model support (#11179)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

feat(platform/backend): Add Claude Haiku 4.5 model support (#11179)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

ai sucks - fixing
  autogpt_platform/backend/Dockerfile
Owners: @ntindle, @Bentlybro, @0ubbe

ai sucks - fixing
  autogpt_platform/backend/Dockerfile
Owners: @ntindle, @Bentlybro, @0ubbe

updated migration and query
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251016093049_add_full_text_search/migration.sql
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

updated migration and query
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251016093049_add_full_text_search/migration.sql
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update existing rows when migration is ran
  autogpt_platform/backend/migrations/20251016093049_add_full_text_search/migration.sql
Owners: @majdyz

update existing rows when migration is ran
  autogpt_platform/backend/migrations/20251016093049_add_full_text_search/migration.sql
Owners: @majdyz

feat(platform): Add LaunchDarkly flag for platform payment system
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(frontend): setup DataFast analytics
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

debug: Add comprehensive LaunchDarkly flag debugging and fallback handling
  autogpt_platform/backend/backend/util/feature_flag.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: Reset payment flag default to false
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix lint
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

clean: Remove debug logging from LaunchDarkly flag implementation
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

simplify: Combine redundant flag fallback conditions
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: wip
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/components/OAuthLogin/OAuthLogin.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fixed indentation error
  autogpt_platform/backend/backend/notifications/email.py
Owners: @ntindle

ghrs: snap 10-16-2302-A4CF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-16_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-16-2302-A4CF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-16-2302-A4CF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-16_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-16-2302-A4CF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(blocks)!: Update Exa search block to match latest API specification
  autogpt_platform/backend/backend/blocks/exa/helpers.py
  autogpt_platform/backend/backend/blocks/exa/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): Update Exa contents block to match latest API specification
  autogpt_platform/backend/backend/blocks/exa/contents.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(frontend): add status field to CustomNode data type
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix types
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002
