Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

feat(frontend): launchdarkly tracking on frontend browser
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

wip
  autogpt_platform/backend/backend/data/optional_block.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/test/executor/test_optional_blocks.py
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/RunnerInputUI.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix test
  autogpt_platform/backend/backend/server/v2/store/model.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: track users with sentry on client side (not backend yet)
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/monitor/SentryUserTracker.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 10-03-2302-C08F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-03_230244_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-03-2302-C08F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-03-2302-C08F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-03_230244_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-03-2302-C08F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Create pyrightconfig.json
  pyrightconfig.json
Owners: @Significant-Gravitas/maintainers

fix(frontend): collapse unconnected object sub-outputs by default.
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update platform-backend-ci.yml
  .github/workflows/platform-backend-ci.yml
Owners: @Significant-Gravitas/devops

fix(backend): add automatic tool_result messages for Anthropic API compatibility
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): remove stupid fake tool_result generation
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): prevent malformed conversation on validation retry for Anthropic
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): generate tool schemas for base fields instead of dynamic fields
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

rename
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
  autogpt_platform/backend/backend/data/dynamic_fields.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz

fix
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
Owners: @Abhi1992002

fix
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

fix
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

refactor(backend): improve SmartDecisionMaker retry loop structure
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
  autogpt_platform/backend/backend/data/dynamic_fields.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/util/dynamic_fields.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts

fix
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/data/dynamic_fields.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz

fix
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

fix(backend): Add dynamic input pin support for Smart Decision Maker Block (#11082)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
  autogpt_platform/backend/backend/data/dynamic_fields.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/util/dynamic_fields.py
  autogpt_platform/backend/backend/util/dynamic_fields_test.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts

fix(backend): Add dynamic input pin support for Smart Decision Maker Block (#11082)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
  autogpt_platform/backend/backend/data/dynamic_fields.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/util/dynamic_fields.py
  autogpt_platform/backend/backend/util/dynamic_fields_test.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts

ghrs: snap 10-04-2302-05F6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-04_230234_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-04-2302-05F6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-04_230234_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-04-2302-05F6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-04-2302-05F6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

ghrs: snap 10-05-2302-0433 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-05_230226_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-05-2302-0433 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-05_230226_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-05-2302-0433 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-05-2302-0433 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix format on backend
  autogpt_platform/backend/backend/server/integrations/router.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): update feature flags for flow editor and builder view
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix linting issues on frontend
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): refactor BuilderPage and improve metadata generation
  autogpt_platform/frontend/src/app/(platform)/build/components/MainBuilderPage.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): await searchParams in metadata generation for accurate flowID and flowVersion
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
