Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix tests
  autogpt_platform/backend/backend/blocks/code_executor.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): implement retry mechanism for SmartDecisionMaker tool call validation (#11015)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
  autogpt_platform/backend/load-tests/orchestrator/orchestrator.js
  autogpt_platform/backend/load-tests/run-tests.js
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @Pwuts, @majdyz

fix(backend): implement retry mechanism for SmartDecisionMaker tool call validation (#11015)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
  autogpt_platform/backend/load-tests/orchestrator/orchestrator.js
  autogpt_platform/backend/load-tests/run-tests.js
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @Pwuts, @majdyz

Add MCP Tools & Integrations section with Roundtable MCP Server
  README.md
Owners: @Bentlybro, @Pwuts

feat: authentication status to TallyPopup component
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Owners: @0ubbe

feat: Add user email to TallyPopup data attributes
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Owners: @0ubbe

fix: lintin
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Owners: @0ubbe

Add CLAUDE_4_5_SONNET model support
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

"alphabetical order"
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

Delete pr_reviewer section in .pr_agent.toml
  .pr_agent.toml
Owners: @Significant-Gravitas/maintainers

feat(blocks): Add claude-sonnet-4.5 (#11023)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

feat(blocks): Add claude-sonnet-4.5 (#11023)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

feat(platform/blocks): Add table input UI and builder block (#10829)
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/test/test_table_input.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/components/node-table-input.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @0ubbe, @kcze

feat(platform/blocks): Add table input UI and builder block (#10829)
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/test/test_table_input.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/components/node-table-input.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @0ubbe, @kcze

ref: reduce the duplicates
  autogpt_platform/backend/backend/blocks/firecrawl/_api.py
  autogpt_platform/backend/backend/blocks/firecrawl/_format_utils.py
  autogpt_platform/backend/backend/blocks/firecrawl/crawl.py
  autogpt_platform/backend/backend/blocks/firecrawl/scrape.py
  autogpt_platform/backend/backend/blocks/firecrawl/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat: Add detailed results to FirecrawlMapWebsiteBlock output
  autogpt_platform/backend/backend/blocks/firecrawl/map.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ghrs: snap 09-30-2302-84A3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-30_230256_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-30-2302-84A3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-30_230256_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-30-2302-84A3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-30-2302-84A3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

refactor(backend/firecrawl): Simplify scrape_options handling in FirecrawlSearchBlock
  autogpt_platform/backend/backend/blocks/firecrawl/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Remove unused import
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): New retention-focused tasks and wallet update (#10977)
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/migrations/20250922050939_update_onboarding/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/RunnerInputUI.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(platform): New retention-focused tasks and wallet update (#10977)
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/migrations/20250922050939_update_onboarding/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/RunnerInputUI.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix(platform): resolve authentication performance and infinite loading issues
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Restore completion codepaths
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update comment in prisma schema
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

fix(frontend): handle malformed redirect URLs in auth callback
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Enhance Sentry integration and TallyPopup telemetry (#10862)
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): Enhance Sentry integration and TallyPopup telemetry (#10862)
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(ci): Delete pr_reviewer section in .pr_agent.toml (#11024)
  .pr_agent.toml
Owners: @Significant-Gravitas/maintainers

fix(ci): Delete pr_reviewer section in .pr_agent.toml (#11024)
  .pr_agent.toml
Owners: @Significant-Gravitas/maintainers

fix(platform): prevent unnecessary timezone API calls during authentication
  autogpt_platform/frontend/src/hooks/useOnboardingTimezoneDetection.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): improve redirect URL validation with cleaner constants
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(platform): implement proper fire-and-forget for timezone updates
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/hooks/useOnboardingTimezoneDetection.ts
  autogpt_platform/frontend/src/hooks/useTimezoneDetection.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(frontend/auth): simplify redundant URL validation logic
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/onboarding): replace setTimeout with proper auth state checks
  autogpt_platform/frontend/src/hooks/useOnboardingTimezoneDetection.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/onboarding): optimize timezone detection re-renders and logging
  autogpt_platform/frontend/src/hooks/useOnboardingTimezoneDetection.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/onboarding): optimize OnboardingProvider re-renders
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Restore onboarding steps (#11027)
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
