Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

Remove unnecessary orjson comments
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Fix dumps() indent parameter handling
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Major performance optimization: string-level null byte sanitization
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor: optimize Cache-Control handling for /api/blocks endpoint
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

improve: enhance retry logging and Unicode sanitization performance
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: add control character sanitization test and improve dumps kwargs
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

refactor: eliminate redundant retry failure alerts
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: alert at threshold, not threshold-1
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: handle stdlib json kwargs in dumps() function
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(blocks): Handle NoneType in DataForSEO Blocks and Add missing Err (#11004)
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Handle NoneType in DataForSEO Blocks and Add missing Err (#11004)
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Swiftyos, @ntindle, @Bentlybro

docs(load-tests): comprehensive README update with k6 cloud fixes and verified performance metrics
  autogpt_platform/backend/load-tests/README.md
Owners: @Bentlybro, @Pwuts

fix linter
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: disable workers when passing app object directly to uvicorn
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: enable multiple uvicorn workers for production performance
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

revert: remove uvicorn workers in favor of horizontal scaling
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: format code after removing worker configuration
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: clean up orjson usage to use json.dumps helper consistently
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: implement Shippo-inspired FastAPI performance optimizations
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: implement complete Kludex FastAPI performance optimization suite
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: Comprehensive FastAPI performance optimizations
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/jwt_utils.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/jwt_utils_test.py
  autogpt_platform/backend/backend/data/api_key.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Pwuts, @Abhi1992002, @majdyz, @ntindle, @Swiftyos, @0ubbe, @kcze

reduce thread pool
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

match threads
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/data): comprehensive library agents performance optimization
  autogpt_platform/backend/backend/data/includes.py
Owners: @majdyz

fix(backend/data): remove unnecessary nodes and executions from library agent listings
  autogpt_platform/backend/backend/data/includes.py
Owners: @majdyz

feat(backend): implement fully configurable library_agent_include function
  autogpt_platform/backend/backend/data/includes.py
Owners: @majdyz

fix(backend): properly cast AgentGraph include type instead of using type: ignore
  autogpt_platform/backend/backend/data/includes.py
Owners: @majdyz

feat(backend): implement safer defaults for library_agent_include function
  autogpt_platform/backend/backend/data/includes.py
Owners: @majdyz

cleanup(backend/data): remove unnecessary comment from AGENT_NODE_INCLUDE
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/clean_test_db.py
  autogpt_platform/backend/run_test_data.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix db
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

try higher pool size fast api
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 09-26-2302-4E5E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-26_230258_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-26-2302-4E5E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-26-2302-4E5E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-26_230258_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-26-2302-4E5E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend): resolve event loop binding issues and improve client management
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/virus_scanner.py
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): address ntindle PR feedback
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): clean up uvloop platform detection
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): resolve OpenAPI schema conflict in blocks endpoint
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

adress comments
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002
