Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix(backend): Convert generic exceptions to appropriate typed exceptions
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/blocks/branching.py
  autogpt_platform/backend/backend/blocks/firecrawl/extract.py
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/jina/search.py
  autogpt_platform/backend/backend/blocks/replicate/replicate_block.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/type.py
  autogpt_platform/backend/backend/util/type_test.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

Fix: Ensure agent description falls back to graph description
  autogpt_platform/backend/backend/server/v2/library/model.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

hotfix(frontend): chat should be disabled by default (#11639)
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/builder): automatically frame agent when opening in builder (#11640)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix
  autogpt_platform/frontend/src/components/molecules/Dialog/components/styles.ts
Owners: @0ubbe

fix(backend): restore sorted_by support for hybrid search
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

simplify: Reduce overly complex error handling branching
  autogpt_platform/backend/backend/blocks/firecrawl/extract.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/jina/search.py
  autogpt_platform/backend/backend/blocks/replicate/replicate_block.py
  autogpt_platform/backend/backend/blocks/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): use new dialog in old builder
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/ExpandableOutputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/RunnerInputUI.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(backend): simplify EmbeddingService client property
  autogpt_platform/backend/backend/integrations/embeddings.py
  autogpt_platform/backend/backend/integrations/embeddings_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

changed-uuid
  autogpt_platform/backend/backend/blocks/encoder_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): small library/mobile improvements (#11626)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/CredentialRow/CredentialRow.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/components/atoms/OverflowText/OverflowText.stories.tsx
  autogpt_platform/frontend/src/components/atoms/OverflowText/OverflowText.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/MobileNavbar/components/MobileNavbarMenuItem.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(blocks): add video transcription and editing blocks
  autogpt_platform/backend/backend/blocks/edit_video_by_text.py
  autogpt_platform/backend/backend/blocks/transcribe_video.py
Owners: @Swiftyos, @ntindle, @Bentlybro

move SSO guide to docs and split into API + OAuth guide
  docs/content/platform/integrating/api-guide.md
  docs/content/platform/integrating/oauth-guide.md
  docs/mkdocs.yml
Owners: @Bentlybro, @Pwuts

add openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

changed uuid
  autogpt_platform/backend/backend/blocks/encoder_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

update openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): modal hidden overflow (#11642)
  autogpt_platform/frontend/src/components/molecules/Dialog/components/styles.ts
Owners: @0ubbe

fix(backend): update route tests to include filter_mode parameter
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
Owners: @Abhi1992002

fix(frontend): hide better chat link if not enabled
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

update docs and token prefixes to match
  autogpt_platform/backend/backend/data/auth/oauth.py
  docs/content/platform/integrating/api-guide.md
  docs/content/platform/integrating/oauth-guide.md
Owners: @majdyz, @Bentlybro, @Pwuts

add token cleanup job
  autogpt_platform/backend/backend/data/auth/oauth.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 12-18-2303-E102 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-18_230331_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-18-2303-E102 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-18_230331_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-18-2303-E102 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-18-2303-E102 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Enhance LLM model toggle functionality with migration support
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DisableModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Add migration management for LLM models
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/migrations/20251218100000_add_llm_model_migration/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DisableModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/LlmRegistryDashboard.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/MigrationsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/useLlmRegistryPage.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(backend): graceful fallback to BM25-only when embedding unavailable
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ci(platform): optimize CI pipelines for faster builds
  .github/workflows/platform-backend-ci.yml
  .github/workflows/platform-backend-security-ci.yml
  .github/workflows/platform-frontend-ci.yml
  .github/workflows/platform-fullstack-ci.yml
Owners: @Significant-Gravitas/devops

ci: trigger CI to test optimizations
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/package.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): fix marketplace banner layout and placement
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/PublishToMarketplace/PublishToMarketplace.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/PublishToMarketplace/usePublishToMarketplace.ts
  autogpt_platform/frontend/src/app/(platform)/components/MarketplaceBanners/MarketplaceBanners.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/SelectedTemplateView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTriggerView/SelectedTriggerView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedViewLayout.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): fix infinite loop in thumbnail images hook
  autogpt_platform/frontend/src/app/(platform)/components/MarketplaceBanners/MarketplaceBanners.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/components/useThumbnailImages.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): polish changelog Read more button to match design specs
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

update cis
  .github/workflows/platform-backend-ci.yml
  .github/workflows/platform-frontend-ci.yml
  .github/workflows/platform-fullstack-ci.yml
  .github/workflows/platform-security-ci.yml
Owners: @Significant-Gravitas/devops

fix testing
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(ci): revert frontend test runner to big-boi
  .github/workflows/platform-frontend-ci.yml
Owners: @Significant-Gravitas/devops

fix(backend): Convert generic exceptions to appropriate typed exceptions (#11641)
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/blocks/branching.py
  autogpt_platform/backend/backend/blocks/firecrawl/extract.py
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/jina/search.py
  autogpt_platform/backend/backend/blocks/replicate/replicate_block.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/type.py
  autogpt_platform/backend/backend/util/type_test.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

Add OAuth app logos and `/profile/oauth-apps` page
  autogpt_platform/backend/backend/data/auth/oauth.py
  autogpt_platform/backend/backend/server/routers/oauth.py
  autogpt_platform/backend/migrations/20251218231330_add_oauth_app_logo/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/oauth-apps/components/OAuthAppsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/oauth-apps/components/useOAuthApps.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/oauth-apps/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

UI tweaks
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix text on OAuth Apps page
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/oauth-apps/components/OAuthAppsSection.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
