Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix(backend): clean up code extraction block per PR feedback
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix lock
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix lock
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(blocks, security): Fixes for various DoS vulnerabilities (#10798)
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/rss.py
  autogpt_platform/backend/backend/blocks/test/test_blocks_dos_vulnerability.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/blocks/xml_parser.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers, @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts, @0ubbe

fix(blocks, security): Fixes for various DoS vulnerabilities (#10798)
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/rss.py
  autogpt_platform/backend/backend/blocks/test/test_blocks_dos_vulnerability.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/blocks/xml_parser.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers, @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts, @0ubbe

feat(cache): refactor caching system and address PR review feedback
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/retry.py
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/routers/cache.py
  autogpt_platform/backend/backend/server/routers/cache_test.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/library/cache.py
  autogpt_platform/backend/backend/server/v2/library/cache_test.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test/util_cache_test.py
Owners: @Significant-Gravitas/maintainers, @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Abhi1992002, @Pwuts

fix: lock
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Delete autogpt_platform/backend/test/util/__init__.py
  autogpt_platform/backend/test/util/__init__.py
Owners: @Abhi1992002

refactor(blocks/code): Clean up & rename code execution blocks (#11019)
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/test/test_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

refactor(blocks/code): Clean up & rename code execution blocks (#11019)
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/test/test_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

fix(backend): convert ChatCompletionMessage to dict in SmartDecisionMaker
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend/util): enhance prompt compression to handle tool calls correctly
  autogpt_platform/backend/backend/util/prompt.py
  autogpt_platform/backend/backend/util/prompt_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

ghrs: snap 10-02-2302-F135 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-02_230254_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-02-2302-F135 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-02-2302-F135 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-02_230254_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-02-2302-F135 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend): resolve SmartDecisionMaker ChatCompletionMessage error and enhance tool call token counting
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/util/prompt_test.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

fix(tests): use backend.util.json for consistent token counting in prompt tests
  autogpt_platform/backend/backend/util/prompt_test.py
Owners: @Abhi1992002

fix(blocks): fix GetCurrentDateBlock and GetCurrentDateAndTimeBlock test failures
  autogpt_platform/backend/backend/blocks/time_blocks.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(tests): add comprehensive test for SmartDecisionMaker ChatCompletionMessage error retry
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
Owners: @Abhi1992002

fix(backend): resolve SmartDecisionMaker ChatCompletionMessage error and enhance tool call token counting (#11059)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/util/prompt.py
  autogpt_platform/backend/backend/util/prompt_test.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts

fix(backend): resolve SmartDecisionMaker ChatCompletionMessage error and enhance tool call token counting (#11059)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/util/prompt.py
  autogpt_platform/backend/backend/util/prompt_test.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts

feat(frontend): update credential endpoints and enhance UI components
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/credentialStore.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

refactor(frontend): simplify marketplace search page and update sort options
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/MainSearchResultPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/useMainSearchResultPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
  autogpt_platform/frontend/src/components/__legacy__/SortDropdown.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): improve error handling on marketplace search page
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/MainSearchResultPage.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

updated store agents to only return the latest version
  autogpt_platform/backend/migrations/20251003085016_update_store_agent_view_latest_version_only/migration.sql
Owners: @majdyz

feat(frontend): enhance CredentialField with loading state and UI improvements
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): correct error handling logic in MainSearchResultPage and refine search input handling
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/MainSearchResultPage.tsx
  autogpt_platform/frontend/src/tests/pages/marketplace.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add Bearer token fallback for proxy load testing
  autogpt_platform/backend/load-tests/tests/basic/backend-vs-proxy-comparison-test.js
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @Abhi1992002, @0ubbe, @kcze

update page_size invalidation
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): remove unused imports from proxy route
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix cache clear helper function
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

moved clear cache helper function to cache
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): performance and layout issues (#11036)
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/error.tsx
  autogpt_platform/frontend/src/app/(platform)/error/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainCreatorPage/MainCreatorPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/LoginButton.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/services/storage/local-storage.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): performance and layout issues (#11036)
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/error.tsx
  autogpt_platform/frontend/src/app/(platform)/error/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainCreatorPage/MainCreatorPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/LoginButton.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/services/storage/local-storage.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

added more tests and central place to set page_size to make the caching more robust
  autogpt_platform/backend/backend/server/cache_config.py
  autogpt_platform/backend/backend/server/routers/cache_test.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/test_cache_audit.py
  autogpt_platform/backend/backend/server/test_cache_constants.py
  autogpt_platform/backend/backend/server/test_cache_invalidation_consistency.py
  autogpt_platform/backend/backend/server/utils/api_key_auth_test.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
  autogpt_platform/backend/backend/server/v2/library/cache_test.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/model_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/lib/pagination-config.ts
  autogpt_platform/frontend/src/tests/cache-invalidation.test.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix(frontend/builder): sync frontend node IDs with backend after save
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Delete LINEAR_OAUTH_IMPLEMENTATION.md
  LINEAR_OAUTH_IMPLEMENTATION.md
Owners: @Bentlybro, @Pwuts

Discard changes to autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Discard changes to autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Swiftyos, @ntindle, @Bentlybro
