Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

chore: cleanup listeners
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): support regex in cors allow origins
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/test_helpers.py
  autogpt_platform/backend/backend/server/utils/cors.py
  autogpt_platform/backend/backend/server/utils/cors_test.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/server/ws_api_test.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

chore: agent review suggestions
  autogpt_platform/backend/backend/server/test_helpers.py
  autogpt_platform/backend/backend/server/utils/cors.py
  autogpt_platform/backend/backend/server/utils/cors_test.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: fix tests
  autogpt_platform/backend/backend/server/utils/cors.py
  autogpt_platform/backend/backend/server/utils/cors_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(backend): Enhance tool call responses with tool name and update UI components
  autogpt_platform/backend/backend/server/v2/chat/response_model.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatMessage/useChatMessage.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ToolCallMessage/ToolCallMessage.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ToolResponseMessage/ToolResponseMessage.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/helpers.ts
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix: format, lint and types
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/test_helpers.py
  autogpt_platform/backend/backend/server/utils/cors.py
  autogpt_platform/backend/backend/server/utils/cors_test.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/server/ws_api_test.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @Abhi1992002, @ntindle, @Pwuts, @Swiftyos

Task completed: Fix agent name marketplace sync issue
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/migrations/20251107130444_add_store_listing_version_to_library_agent/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

dx(frontend): make preview deploys work + minor improvements (#11329)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.tsx
  autogpt_platform/frontend/src/app/api/auth/login/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/components/atoms/LoadingSpinner/LoadingSpinner.stories.tsx
  autogpt_platform/frontend/src/components/atoms/LoadingSpinner/LoadingSpinner.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: remove comments
  autogpt_platform/backend/backend/data/execution.py
Owners: @majdyz

feat(backend): allow regex on CORS allowed origins (#11336)
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/test_helpers.py
  autogpt_platform/backend/backend/server/utils/cors.py
  autogpt_platform/backend/backend/server/utils/cors_test.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/server/ws_api_test.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(platform): Chat UI refinements with simplified tool status indicators (#11337)
  autogpt_platform/backend/backend/server/v2/chat/response_model.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatMessage/useChatMessage.ts
  autogpt_platform/frontend/src/app/(platform)/chat/components/ToolCallMessage/ToolCallMessage.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ToolResponseMessage/ToolResponseMessage.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/helpers.ts
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

ghrs: snap 11-07-2302-3D4C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-07_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-07-2302-3D4C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-07_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-07-2302-3D4C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-07-2302-3D4C for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(frontend): implement copy-paste functionality in FlowEditor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useCopyPasteKeyboard.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/copyPasteStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/stores/copyPasteStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): ensure all agents with graph_id appear in activity dropdown
  autogpt_platform/frontend/src/hooks/useLibraryAgents/store.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): integrate drag-and-drop functionality for block menu in Flow Editor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/AllBlocksContent/AllBlocksContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockList/BlockList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance StandardNodeBlock with context menu
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): WebSocket-based notifications (#11297)
  autogpt_platform/backend/backend/data/notification_bus.py
  autogpt_platform/backend/backend/server/conn_manager.py
  autogpt_platform/backend/backend/server/conn_manager_test.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/server/ws_api_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(platform): Refactor edge handling in FlowEditor components
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/RIghtSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/historyStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Update endpoints
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Backend `SCHEDULE_AGENT`
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/cron-scheduler-dialog.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Add `resolveResponse` helper function
  autogpt_platform/frontend/src/app/api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Use `postV2AddMarketplaceAgent`
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Use `getV1OnboardingState`
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Use `patchV1UpdateOnboardingState`
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

ghrs: snap 11-09-2302-DD6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-09_230243_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-09-2302-DD6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-09_230243_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-09-2302-DD6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-09-2302-DD6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Use `postV1CompleteOnboardingStep`
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

revert changes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): Replace legacy UI components with design system components
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): Use generated API types and improve type safety
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): onboarding provider calls only when user is logged in
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): onboarding provider calls only when user is logged in
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Add execution analytics admin endpoint with feature flag bypass (#11327)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
