Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

feat(frontend): add new integration images for Webshare and WordPress
  autogpt_platform/frontend/public/integrations/webshare_proxy.png
  autogpt_platform/frontend/public/integrations/wordpress.png
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): enhance CodeRenderer for better code display
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/OutputRenderers/renderers/CodeRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): update NodeDataViewer to require multiple output items for actions
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/NodeDataViewer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: improvements
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionHeader/LibraryActionHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionSubHeader/LibraryActionSubHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/LibrarySearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/useLibrarySearchbar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/LibrarySortMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/useLibrarySortMenu.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/state-provider.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/useLibraryListPage.ts
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/InfiniteScroll.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/store.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/useLibraryAgents.ts
Owners: @0ubbe, @kcze, @Abhi1992002

update migration
  autogpt_platform/backend/migrations/20260108110428_add_chat_tables/migration.sql
Owners: @majdyz

port backend changes ontop of a fresh dev branch
  autogpt_platform/Makefile
  autogpt_platform/backend/backend/api/features/chat/config.py
  autogpt_platform/backend/backend/api/features/chat/db.py
  autogpt_platform/backend/backend/api/features/chat/model.py
  autogpt_platform/backend/backend/api/features/chat/model_test.py
  autogpt_platform/backend/backend/api/features/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/api/features/chat/prompts/onboarding_system.md
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/backend/backend/api/features/chat/tools/__init__.py
  autogpt_platform/backend/backend/api/features/chat/tools/_test_data.py
  autogpt_platform/backend/backend/api/features/chat/tools/add_understanding.py
  autogpt_platform/backend/backend/api/features/chat/tools/agent_output.py
  autogpt_platform/backend/backend/api/features/chat/tools/find_library_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/models.py
  autogpt_platform/backend/backend/api/features/chat/tools/run_agent.py
  autogpt_platform/backend/backend/data/understanding.py
  autogpt_platform/backend/migrations/20260108110428_add_chat_tables/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @Bentlybro, @0ubbe, @kcze

feat(frontend): add new integration images for Webshare and WordPress (#11725)
  autogpt_platform/frontend/public/integrations/webshare_proxy.png
  autogpt_platform/frontend/public/integrations/wordpress.png
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): add word wrapping to CodeRenderer and improve output actions visibility (#11724)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/NodeDataViewer.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/OutputRenderers/renderers/CodeRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): update library agent cards to use DS (#11720)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyTasks.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/useSelectedScheduleActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionHeader/LibraryActionHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionSubHeader/LibraryActionSubHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/components/AgentCardMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/components/FavoriteButton.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/useLibraryAgentCard.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryNotificationCard/LibraryNotificationCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryNotificationDropdown/LibraryNotificationDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/LibrarySearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/useLibrarySearchbar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/LibrarySortMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/useLibrarySortMenu.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/state-provider.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/useLibraryListPage.ts
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/InfiniteScroll.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/components/molecules/Form/Form.tsx
  autogpt_platform/frontend/src/hooks/useLibraryAgents/store.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/useLibraryAgents.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/library.spec.ts
  autogpt_platform/frontend/src/tests/pages/library.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: wip
  autogpt_platform/backend/backend/api/features/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix linter errors
  autogpt_platform/backend/backend/api/features/chat/tools/_test_data.py
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/backend/backend/api/features/oauth_test.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/cli/oauth_tool.py
  autogpt_platform/backend/backend/data/auth/api_key.py
  autogpt_platform/backend/backend/data/auth/oauth.py
  autogpt_platform/backend/backend/data/credit_ceiling_test.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_integration_test.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/credit_underflow_test.py
  autogpt_platform/backend/backend/data/credit_user_balance_migration_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/data/onboarding.py
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

fix addintal formatting issues
  autogpt_platform/backend/backend/api/features/chat/tools/_test_data.py
  autogpt_platform/backend/backend/data/credit_ceiling_test.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
  autogpt_platform/backend/backend/data/credit_underflow_test.py
  autogpt_platform/backend/backend/data/credit_user_balance_migration_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/backend/test/test_data_updater.py
Owners: @Abhi1992002, @majdyz

fix more linting issues
  autogpt_platform/backend/backend/data/onboarding.py
Owners: @majdyz

address reviews
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

address reviews
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

pr comments
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/onboarding.py
Owners: @majdyz

fix hook issue
  autogpt_platform/frontend/src/app/(platform)/PlatformLayoutContent.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

fix credentials inport
  autogpt_platform/Makefile
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/CredentialField.tsx
Owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002

remove useless comments
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(platform): store submission validation and marketplace improvements (#11706)
  autogpt_platform/backend/backend/api/features/library/model.py
  autogpt_platform/backend/backend/api/features/library/routes_test.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/model.py
  autogpt_platform/backend/backend/api/features/store/model_test.py
  autogpt_platform/backend/backend/api/features/store/routes_test.py
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/backend/snapshots/sub_success
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/MainDashboardPage.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/EditAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(backend): fix hybrid search implementation and add comprehensive tests
  autogpt_platform/backend/backend/api/features/store/backfill_embeddings.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/embeddings_test.py
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): library agent creation and version update improvements
  autogpt_platform/backend/backend/api/features/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 01-08-2303-4889 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-08_230328_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-08_230328_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-08_230328_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 01-08-2303-4889 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-08_230328_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 01-08-2303-4889 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 01-08-2303-4889 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(backend): add human-in-the-loop review for blocks requiring approval
  autogpt_platform/backend/backend/blocks/helpers/review.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/pyproject.toml
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

refactor: improve review result handling with early returns and type safety
  autogpt_platform/backend/backend/blocks/helpers/review.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix: make ReviewDecision.review_result non-nullable for better type safety
  autogpt_platform/backend/backend/blocks/helpers/review.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix: add exhaustive handling for review status in HumanInTheLoopBlock
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
Owners: @Swiftyos, @ntindle, @Bentlybro

refactor: remove redundant try-catch-log-reraise patterns
  autogpt_platform/backend/backend/blocks/helpers/review.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
Owners: @Swiftyos, @ntindle, @Bentlybro

remove useless comments
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): resolve critical HITL review system bugs
  autogpt_platform/backend/backend/blocks/helpers/review.py
  autogpt_platform/backend/backend/data/block.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

fix(frontend): improve marketplace update logic and form behavior
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): clean up marketplace update logic
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
Owners: @0ubbe, @kcze, @Abhi1992002

remove useless comments
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/components/FavoriteButton.tsx
  autogpt_platform/frontend/src/components/molecules/Toast/styles.module.css
  autogpt_platform/frontend/src/components/molecules/Toast/toaster.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/components/FavoriteButton.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/useLibraryAgentCard.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix unreachable code
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: filter favorites too
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/hooks/useFavoriteAgents.ts
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
