Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers, @Significant-Gravitas/admins

.github/CODEOWNERS:

* @Significant-Gravitas/maintainers
.github/workflows/ @Significant-Gravitas/devops
classic/forge/ @Significant-Gravitas/forge-maintainers
classic/benchmark/ @Significant-Gravitas/benchmark-maintainers
classic/frontend/ @Significant-Gravitas/frontend-maintainers
autogpt_platform/infra @Significant-Gravitas/devops
.github/CODEOWNERS @Significant-Gravitas/admins

fix(backend): run once a week not once an hour
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @Significant-Gravitas/maintainers

feat(frontend): enhance SettingsForm with data-testid attributes for improved testing
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/SettingsForm.tsx
  autogpt_platform/frontend/src/tests/pages/settings.page.ts
  autogpt_platform/frontend/src/tests/settings.spec.ts
Owners: @Significant-Gravitas/maintainers

fix(backend): resolve scheduler deadlock and improve health checks (#10589)
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/scheduler_debug.py
Owners: @Significant-Gravitas/maintainers

ghrs: snap 08-10-2302-B229 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-10_230303_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-10_230303_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-10_230303_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 08-10-2302-B229 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 08-10-2302-B229 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-10_230303_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 08-10-2302-B229 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers

feat(feature-flag): add LaunchDarkly segment support with 24h caching
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/database.py
Owners: @Significant-Gravitas/maintainers

fix(service): prevent retry of HTTP 4xx client errors
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Owners: @Significant-Gravitas/maintainers

feat(frontend): add data-testid attributes to ProfileInfoForm for improved testing
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/tests/pages/profile-form.page.ts
  autogpt_platform/frontend/src/tests/profile-form.spec.ts
Owners: @Significant-Gravitas/maintainers

feat(platform): implement application-layer User model with proper type safety
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/service.py
Owners: @Significant-Gravitas/maintainers

refactor(feature-flag): eliminate code duplication in role handling
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
Owners: @Significant-Gravitas/maintainers

Add timeout to future result calls in ExecutionProcessor
  autogpt_platform/backend/backend/executor/manager.py
Owners: @Significant-Gravitas/maintainers

Parallelize execution status updates and notifications
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
Owners: @Significant-Gravitas/maintainers

Bypass moderation on timeout in execution flow
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
Owners: @Significant-Gravitas/maintainers

Format
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
Owners: @Significant-Gravitas/maintainers

feat(backend/AM): Integrate AutoMod content moderation (#10539)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/__init__.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/models.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Significant-Gravitas/maintainers

feat(backend/AM): Integrate AutoMod content moderation (#10539)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/__init__.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/models.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Significant-Gravitas/maintainers

Update README.md
  README.md
Owners: @Significant-Gravitas/maintainers

fix(frontend): remove state limits from agent activity dropdown
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
Owners: @Significant-Gravitas/maintainers

fix(frontend): remove state limits from agent activity dropdown
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
Owners: @Significant-Gravitas/maintainers

refactor(frontend): remove data-testid attributes and update form field IDs in ProfileInfoForm
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/tests/pages/profile-form.page.ts
  autogpt_platform/frontend/src/tests/profile-form.spec.ts
Owners: @Significant-Gravitas/maintainers

test(frontend): add e2e test for profile form page (#10596)
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/tests/pages/profile-form.page.ts
  autogpt_platform/frontend/src/tests/profile-form.spec.ts
Owners: @Significant-Gravitas/maintainers

test(frontend): add e2e test for profile form page (#10596)
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/tests/pages/profile-form.page.ts
  autogpt_platform/frontend/src/tests/profile-form.spec.ts
Owners: @Significant-Gravitas/maintainers

feat(docker): add frontend service to docker-compose with env config improvements
  .github/workflows/platform-frontend-ci.yml
  .gitignore
  autogpt_platform/README.md
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/db/docker/.gitignore
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
  autogpt_platform/frontend/.env
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/proxy-action.ts
  autogpt_platform/frontend/src/lib/env-config.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
  docs/content/platform/getting-started.md
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

remove logging
  .dockerignore
  autogpt_platform/frontend/src/lib/env-config.ts
Owners: @Significant-Gravitas/maintainers

fix ci
  .github/workflows/platform-frontend-ci.yml
Owners: @Significant-Gravitas/devops

cleanup
  .github/workflows/platform-frontend-ci.yml
Owners: @Significant-Gravitas/devops

add turbo
  autogpt_platform/frontend/Dockerfile
Owners: @Significant-Gravitas/maintainers

fix ci
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/.env
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

chore: fix flaky tests
  autogpt_platform/frontend/src/tests/publish-agent.spec.ts
Owners: @Significant-Gravitas/maintainers

chore: fix tests
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
Owners: @Significant-Gravitas/maintainers

ref(backend): user summary aggregation and cleanup API
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/summary.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/notifications/notifications.py
Owners: @Significant-Gravitas/maintainers

fix(backend): restore critical infrastructure variables to .env.example
  autogpt_platform/backend/.env.example
Owners: @Significant-Gravitas/maintainers

fix(backend): remove redundant comments from .env.example
  autogpt_platform/backend/.env.example
Owners: @Significant-Gravitas/maintainers

ref(backend):env config and docker-compose setup
  .gitignore
  autogpt_platform/backend/.env.example
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers

Update .gitignore
  .gitignore
Owners: @Significant-Gravitas/maintainers

feat(frontend): env_file order in docker-compose for frontend
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers

Update .gitignore
  .gitignore
Owners: @Significant-Gravitas/maintainers

fix: add .env to .gitignore in both frontend and backend
  autogpt_platform/backend/.gitignore
  autogpt_platform/frontend/.gitignore
Owners: @Significant-Gravitas/maintainers
