Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

add block name
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(autogpt_libs): add comprehensive ClusterLock integration tests
  autogpt_platform/autogpt_libs/autogpt_libs/utils/synchronize.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/synchronize_test.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend/executor): move ClusterLock to executor folder with comprehensive tests
  autogpt_platform/autogpt_libs/autogpt_libs/utils/synchronize.py
  autogpt_platform/backend/backend/executor/cluster_lock.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(tests): add missing is_available field to StoreAgent test fixtures
  autogpt_platform/autogpt_libs/autogpt_libs/utils/synchronize.py
  autogpt_platform/backend/backend/executor/cluster_lock.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix
  autogpt_platform/backend/backend/executor/cluster_lock.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

implement
  autogpt_platform/backend/backend/executor/cluster_lock.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

cleanup
  autogpt_platform/backend/backend/executor/cluster_lock.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

refactor(backend/executor): change ClusterLock.try_acquire() semantics for clearer ownership checking
  autogpt_platform/backend/backend/executor/cluster_lock.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): prevent duplicate graph executions across multiple executor pods (#11008)
  autogpt_platform/backend/backend/executor/cluster_lock.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): prevent duplicate graph executions across multiple executor pods (#11008)
  autogpt_platform/backend/backend/executor/cluster_lock.py
  autogpt_platform/backend/backend/executor/cluster_lock_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

ghrs: snap 09-27-2302-EE86 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-27_230235_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-27-2302-EE86 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-27_230235_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-27-2302-EE86 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-27-2302-EE86 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

ghrs: snap 09-28-2302-9779 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-28_230238_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-28-2302-9779 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-28-2302-9779 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-28_230238_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-28-2302-9779 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(backend): optimize FastAPI endpoints performance and alert system (#11000)
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/jwt_utils.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/jwt_utils_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/data/api_key.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test_json.py
  autogpt_platform/backend/backend/util/virus_scanner.py
  autogpt_platform/backend/clean_test_db.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/run_test_data.py
Owners: @Pwuts, @Abhi1992002, @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Swiftyos, @Bentlybro

feat(backend): optimize FastAPI endpoints performance and alert system (#11000)
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/jwt_utils.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/jwt_utils_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/data/api_key.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test_json.py
  autogpt_platform/backend/backend/util/virus_scanner.py
  autogpt_platform/backend/clean_test_db.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/run_test_data.py
Owners: @Pwuts, @Abhi1992002, @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Swiftyos, @Bentlybro

fix merge error
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

invalidating cache for favoriates
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fixed test
  autogpt_platform/backend/backend/server/routers/v1_test.py
Owners: @Abhi1992002

fixing tests
  autogpt_platform/backend/backend/server/routers/v1_test.py
Owners: @Abhi1992002

Update autogpt_platform/backend/backend/blocks/wordpress/_api.py
  autogpt_platform/backend/backend/blocks/wordpress/_api.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): resolve two critical production execution failures
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

refactor(backend): clean up code duplication in SmartDecisionMakerBlock parameter validation
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(backend): resolve two critical long-running agent execution failures (#11011)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix(backend): resolve two critical long-running agent execution failures (#11011)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

ghrs: snap 09-29-2303-BC0B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-29_230305_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-29-2303-BC0B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-29_230305_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-29-2303-BC0B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-29-2303-BC0B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend): implement retry mechanism for SmartDecisionMaker tool call validation
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

docs(load-tests): update README to reflect current orchestrator architecture
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
  autogpt_platform/backend/load-tests/run-tests.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

add missing orchestrator
  autogpt_platform/backend/load-tests/orchestrator/orchestrator.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Add Task progress bar
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(blocks): Improve data output of code execution block
  autogpt_platform/backend/backend/blocks/code_executor.py
Owners: @Swiftyos, @ntindle, @Bentlybro

also do the other code blocks
  autogpt_platform/backend/backend/blocks/code_executor.py
Owners: @Swiftyos, @ntindle, @Bentlybro

refactor(blocks/code): Clean up & rename code execution blocks
  autogpt_platform/backend/backend/blocks/code_executor.py
Owners: @Swiftyos, @ntindle, @Bentlybro
