Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers

.github/CODEOWNERS:

.github/workflows/  @Significant-Gravitas/devops
autogpts/autogpt/   @Significant-Gravitas/maintainers
autogpts/forge/     @Significant-Gravitas/forge-maintainers
benchmark/          @Significant-Gravitas/benchmark-maintainers
frontend/           @Significant-Gravitas/frontend-maintainers

ghrs: vc agg 02-24-2302-04DD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-24_230229_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: none

ghrs: stars and forks 02-24-2302-04DD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: none

ghrs: report 02-24-2302-04DD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: none

HelloAutoGPT entering the arena
  arena/HelloAutoGPT.json
Owners: none

Benchmark report for autogpt @ 2024-02-25
  benchmark/reports/autogpt/20240225T021032_full_run/radar_chart.png
  benchmark/reports/autogpt/20240225T021032_full_run/report.json
  benchmark/reports/autogpt/20240225T021032_full_run/report.md
Owners: @Significant-Gravitas/benchmark-maintainers

EricAgent entering the arena
  arena/EricAgent.json
Owners: none

BlogSiteCreator entering the arena
  arena/BlogSiteCreator.json
Owners: none

Type Pipeline functions
  AFAAS/core/agents/routing/pipeline.py
  AFAAS/interfaces/pipeline.py
Owners: none

Remove code mistakenly commited
  AFAAS/interfaces/pipeline.py
Owners: none

Create `OutputTypeManager`, `Output` and rewrite `ToolOutput`
  AFAAS/interfaces/tools/tool_output.py
  AFAAS/lib/task/task.py
Owners: none

SEOEntradas entering the arena
  arena/SEOEntradas.json
Owners: none

nicsr7_QualityCodeAuto_1 entering the arena
  arena/nicsr7_QualityCodeAuto_1.json
Owners: none

ghrs: snap 02-25-2302-6071 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-25_230233_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-25_230233_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-25_230233_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: none

ghrs: vc agg 02-25-2302-6071 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-25_230233_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: none

ghrs: stars and forks 02-25-2302-6071 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: none

ghrs: report 02-25-2302-6071 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: none

Benchmark report for autogpt @ 2024-02-26
  benchmark/reports/autogpt/20240226T021005_full_run/radar_chart.png
  benchmark/reports/autogpt/20240226T021005_full_run/report.json
  benchmark/reports/autogpt/20240226T021005_full_run/report.md
Owners: @Significant-Gravitas/benchmark-maintainers

MuskGPT entering the arena
  arena/MuskGPT.json
Owners: none

portal entering the arena
  arena/portal.json
Owners: none

namg entering the arena
  arena/namg.json
Owners: none

namg entering the arena
  arena/namg.json
Owners: none

test_agent entering the arena
  arena/test_agent.json
Owners: none

Update codebase
  autogpts/autogpt/agbenchmark_config/benchmarks.py
  autogpts/autogpt/autogpt/agent_factory/configurators.py
  autogpts/autogpt/autogpt/agent_factory/generators.py
  autogpts/autogpt/autogpt/agent_manager/agent_manager.py
  autogpts/autogpt/autogpt/agents/agent.py
  autogpts/autogpt/autogpt/agents/base.py
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/agents/utils/file_manager.py
  autogpts/autogpt/autogpt/app/agent_protocol_server.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/commands/file_operations.py
  autogpts/autogpt/autogpt/core/runner/cli_web_app/server/api.py
  autogpts/autogpt/autogpt/file_storage/__init__.py
  autogpts/autogpt/autogpt/file_storage/base.py
  autogpts/autogpt/autogpt/file_storage/gcs.py
  autogpts/autogpt/autogpt/file_storage/local.py
  autogpts/autogpt/autogpt/file_storage/s3.py
  autogpts/autogpt/tests/conftest.py
  autogpts/autogpt/tests/integration/memory/_test_json_file_memory.py
  autogpts/autogpt/tests/unit/test_file_operations.py
  autogpts/autogpt/tests/unit/test_gcs_file_workspace.py
  autogpts/autogpt/tests/unit/test_s3_file_workspace.py
Owners: @Significant-Gravitas/maintainers

Fix file_operations
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/commands/file_operations.py
  autogpts/autogpt/tests/unit/test_file_operations.py
Owners: @Significant-Gravitas/maintainers

lzc_agent entering the arena
  arena/lzc_agent.json
Owners: none

fix lint
  autogpts/autogpt/autogpt/commands/execute_code.py
  autogpts/autogpt/autogpt/speech/macos_tts.py
Owners: @Significant-Gravitas/maintainers

ghrs: snap 02-26-2302-E23B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-26_230232_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-26_230232_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-26_230232_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: none

ghrs: stars and forks 02-26-2302-E23B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: none

ghrs: vc agg 02-26-2302-E23B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-26_230232_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: none

ghrs: report 02-26-2302-E23B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: none

Benchmark report for autogpt @ 2024-02-27
  benchmark/reports/autogpt/20240227T020804_full_run/radar_chart.png
  benchmark/reports/autogpt/20240227T020804_full_run/report.json
  benchmark/reports/autogpt/20240227T020804_full_run/report.md
Owners: @Significant-Gravitas/benchmark-maintainers

AlexGPT entering the arena
  arena/AlexGPT.json
Owners: none

py_build_test entering the arena
  arena/py_build_test.json
Owners: none

goat entering the arena
  arena/goat.json
Owners: none

autogpt_demo entering the arena
  arena/autogpt_demo.json
Owners: none

refactor: Simplify logic for checking shell commands and reduce diff with `master`
  autogpts/autogpt/autogpt/commands/execute_code.py
Owners: @Significant-Gravitas/maintainers

refactor & docs: Clarify `validate_command` function
  autogpts/autogpt/autogpt/commands/execute_code.py
Owners: @Significant-Gravitas/maintainers

fix(agent/security): Mitigate shell injection vulnerabilities (#6903)
  autogpts/autogpt/autogpt/commands/execute_code.py
  autogpts/autogpt/autogpt/speech/macos_tts.py
Owners: @Significant-Gravitas/maintainers

fix(agent/security): Mitigate shell injection vulnerabilities (#6903)
  autogpts/autogpt/autogpt/commands/execute_code.py
  autogpts/autogpt/autogpt/speech/macos_tts.py
Owners: @Significant-Gravitas/maintainers

fix(agent/security): Mitigate shell injection vulnerabilities (#6903)
  autogpts/autogpt/autogpt/commands/execute_code.py
  autogpts/autogpt/autogpt/speech/macos_tts.py
Owners: @Significant-Gravitas/maintainers
