Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

feat(platform): Add Get Linear Issues Block (#11415)
  autogpt_platform/backend/backend/blocks/linear/_api.py
  autogpt_platform/backend/backend/blocks/linear/issues.py
  autogpt_platform/backend/backend/blocks/linear/models.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Add CodexBlock for OpenAI Codex model integration
  autogpt_platform/backend/backend/blocks/codex.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

format
  autogpt_platform/backend/backend/blocks/codex.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Update schema base classes in CreateDiscordThreadBlock
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Improve token usage extraction in CodexBlock
  autogpt_platform/backend/backend/blocks/codex.py
Owners: @Swiftyos, @ntindle, @Bentlybro

refactor(frontend): implement reviewer feedback - improve HITL architecture
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
  autogpt_platform/frontend/src/components/organisms/FloatingReviewsPanel/FloatingReviewsPanel.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Improve auto-framing logic in flow editors
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend/blocks): Add google banana pro (#11425)
  autogpt_platform/backend/backend/blocks/ai_image_customizer.py
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

feat(backend/blocks): add latest grok models (#11422)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

Refactor CodexBlock to use CodexCallResult dataclass
  autogpt_platform/backend/backend/blocks/codex.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Refactor response handling in CodexBlock
  autogpt_platform/backend/backend/blocks/codex.py
Owners: @Swiftyos, @ntindle, @Bentlybro

format
  autogpt_platform/backend/backend/blocks/codex.py
Owners: @Swiftyos, @ntindle, @Bentlybro

chore: updates
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/tests/signin.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): environment aware favicon
  autogpt_platform/frontend/public/favicon-dev.ico
  autogpt_platform/frontend/public/favicon-local.ico
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: clear log
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: set page titles
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/LibraryPageContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: ammend
  autogpt_platform/frontend/src/app/(platform)/library/LibraryPageContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): enhance AI image customization with media file storage
  autogpt_platform/backend/backend/blocks/ai_image_customizer.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ghrs: snap 11-24-2302-6A3A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-24_230300_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-24-2302-6A3A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-24-2302-6A3A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-24_230300_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-24-2302-6A3A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Add CLAUDE_4_5_OPUS model support
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

refactor: Completely transform CodexBlock - eliminate all duck typing
  autogpt_platform/backend/backend/blocks/codex.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): login/signup pages away redirects (#11430)
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/tests/signin.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): fix tab titles (#11432)
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

update poetry
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Rename CodexBlock to CodeGenerationBlock
  autogpt_platform/backend/backend/blocks/codex.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

feat(backend/blocks): Add claude opus 4.5 (#11446)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

fix: z-index
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedRunView/components/RunOutputs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: improvements
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountLogoutOption.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend/blocks): Add GPT-5.1 and GPT-5.1-codex (#11406)
  autogpt_platform/backend/backend/blocks/codex.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

chore: handle button reset
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountLogoutOption.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend/blocks): add aspect ratio support to AIImageCustomizerBlock
  autogpt_platform/backend/backend/blocks/ai_image_customizer.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(frontend): environment aware favicon (#11431)
  autogpt_platform/frontend/public/favicon-dev.ico
  autogpt_platform/frontend/public/favicon-local.ico
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): make agent ouput clickable (#11433)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedRunView/components/RunOutputs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): show spinner login/logout (#11447)
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountLogoutOption.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

perf(backend/blocks): optimize image processing in AIImageCustomizerBlock
  autogpt_platform/backend/backend/blocks/ai_image_customizer.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Update Node.js version from 21 to 22
  .github/workflows/claude.yml
Owners: @Significant-Gravitas/devops

fix(dx): Update Node.js versions in GitHub workflows to match requirement
  .github/workflows/claude-dependabot.yml
  .github/workflows/claude.yml
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops
