Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

chore: use reset field
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Import TypedDict from typing_extensions
  autogpt_platform/backend/backend/blocks/jina/fact_checker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): optimize state selection in CredentialField using shallow comparison
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(blocks): Add references output pin to Fact Checker block (#11166)
  autogpt_platform/backend/backend/blocks/jina/fact_checker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): Add references output pin to Fact Checker block (#11166)
  autogpt_platform/backend/backend/blocks/jina/fact_checker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

pr comments
  autogpt_platform/backend/backend/util/cache.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fmt fix?
  autogpt_platform/backend/backend/util/cache.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(platform): Include default input values in graph export
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

added tests for shared cache
  autogpt_platform/backend/backend/util/cache_test.py
Owners: @Abhi1992002

cleanup get balance logic
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

fix(backend/util): comprehensive SafeJson sanitization to prevent PostgreSQL null character errors
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

gic
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Abhi1992002

fix(backend): Add channel ID support to SendDiscordMessageBlock for consistency with other Discord blocks (#11055)
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
  docs/content/platform/blocks/discord.md
Owners: @Swiftyos, @ntindle, @Bentlybro, @Pwuts

fix(backend): Add channel ID support to SendDiscordMessageBlock for consistency with other Discord blocks (#11055)
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
  docs/content/platform/blocks/discord.md
Owners: @Swiftyos, @ntindle, @Bentlybro, @Pwuts

fix tests for graph export secret stripping
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
Owners: @majdyz, @Abhi1992002

fixinf lint issues
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/HeroSection.tsx
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/components/chat/AgentCarousel.tsx
  autogpt_platform/frontend/src/components/chat/AgentRunCard.tsx
  autogpt_platform/frontend/src/components/chat/ChatInterface.tsx
  autogpt_platform/frontend/src/components/chat/CredentialsSetupWidget.tsx
  autogpt_platform/frontend/src/components/chat/StreamingMessage.tsx
  autogpt_platform/frontend/src/hooks/useChatSession.ts
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/chat.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(backend): Include default input values in graph export (#11173)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
Owners: @majdyz, @Abhi1992002

feat(backend): Include default input values in graph export (#11173)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
Owners: @majdyz, @Abhi1992002

add chat page
  autogpt_platform/frontend/src/app/(platform)/chat/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix frontend issues
  autogpt_platform/frontend/src/app/(platform)/marketplace/test-chat/page.tsx
  autogpt_platform/frontend/src/components/chat/AgentCarousel.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fixing lint issues
  autogpt_platform/frontend/src/app/(platform)/chat/page.tsx
  autogpt_platform/frontend/src/components/chat/AgentDiscoveryCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix another issue
  autogpt_platform/frontend/src/components/chat/AgentSetupCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): Add Sentry user and tag tracking to node execution (#11170)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/metrics.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): Add Sentry user and tag tracking to node execution (#11170)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/metrics.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fixed the rest of type errors
  autogpt_platform/frontend/src/components/chat/AuthPromptWidget.tsx
  autogpt_platform/frontend/src/components/chat/ChatInput.tsx
  autogpt_platform/frontend/src/hooks/useChatSession.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/chat.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(builder): Unhide "Add to Dictionary" block's `dictionary` input
  autogpt_platform/backend/backend/blocks/data_manipulation.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Unhide "Add to Dictionary" block's `dictionary` input (#11175)
  autogpt_platform/backend/backend/blocks/data_manipulation.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Unhide "Add to Dictionary" block's `dictionary` input (#11175)
  autogpt_platform/backend/backend/blocks/data_manipulation.py
Owners: @Swiftyos, @ntindle, @Bentlybro

chore: wip
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/helpers.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/types.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/services/scripts/scripts.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

setup websocket handlers on new builder
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

docs(frontend): share romantic gallery link
  classic/frontend/README.md
Owners: @Pwuts, @Bentlybro

docs(frontend): explain vscode build flow
  classic/frontend/README.md
Owners: @Pwuts, @Bentlybro

fix(backend/util): comprehensive SafeJson sanitization to prevent PostgreSQL null character errors (#11174)
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend/util): comprehensive SafeJson sanitization to prevent PostgreSQL null character errors (#11174)
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix poetry run format errors
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 10-15-2302-8210 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-15_230247_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-15-2302-8210 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-15-2302-8210 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-15_230247_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-15-2302-8210 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend/store): improve store exception hierarchy for proper HTTP status codes
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
