Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

feat(frontend): enhance agent block functionality and loading indicators
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MyAgentsContent/MyAgentsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MyAgentsContent/useMyAgentsContent.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/UGCAgentBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(platform): address code review feedback for Google Drive picker integration
  autogpt_platform/backend/backend/blocks/google/_drive.py
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/backend/backend/data/model.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

fix(platform): extract shared GoogleDrivePickerInput component to eliminate code duplication
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/backend): address CodeRabbit review feedback for Google Drive Picker
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

add-gemini-3-pro-preview
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

refactor(backend): clean up GoogleDrivePickerField implementation to use SchemaField
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/model.py
Owners: @majdyz

refactor(backend): move GoogleDrive types to proper location
  autogpt_platform/backend/backend/blocks/google/_drive.py
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/backend/backend/data/model.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

refactor(frontend): update agent block ID handling in NewBlockMenu
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/helpers.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance node positioning and block addition in NewBlockMenu
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockList/BlockList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/IntegrationBlocks/IntegrationBlocks.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/IntergrationBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MyAgentsContent/useMyAgentsContent.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

style(frontend): adjust FieldTemplate styling for better layout
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/blocks): update Google Sheets blocks test inputs for Drive Picker integration
  autogpt_platform/backend/backend/blocks/google/sheets.py
Owners: @Swiftyos, @ntindle, @Bentlybro

refactor(frontend): unify Google Drive picker config detection logic
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): address PR review comments for execution analytics configuration
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

cleanup
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): implement custom controls and locking mechanism in FlowEditor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
Owners: @0ubbe, @kcze, @Abhi1992002

added get linear issues block
  autogpt_platform/backend/backend/blocks/linear/_api.py
  autogpt_platform/backend/backend/blocks/linear/issues.py
  autogpt_platform/backend/backend/blocks/linear/models.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(platform): Capture Sentry Block Errors Correctly (#11404)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(frontend): optimize component performance with memoization and state management
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): update feature flags for NEW_FLOW_EDITOR and BUILDER_VIEW_SWITCH
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): improve component structure and performance
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/IntegrationBlocks/IntegrationBlocks.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): correct node width calculation in nodeStore
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/blocks): improve Google Sheets error handling for MIME type mismatches
  autogpt_platform/backend/backend/blocks/google/sheets.py
Owners: @Swiftyos, @ntindle, @Bentlybro

refactor(platform): enhance Google Drive security by removing embedded access tokens
  autogpt_platform/backend/backend/blocks/google/_drive.py
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/helpers.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @0ubbe, @kcze, @Abhi1992002

feat(backend): parameterize activity status generation with customizable prompts (#11407)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

refactor(frontend): improve new builder performance and UX with position handling and store optimizations (#11397)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/BuilderActionButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/RunningBackground.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockList/BlockList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/IntegrationBlocks/IntegrationBlocks.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/IntergrationBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MyAgentsContent/MyAgentsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MyAgentsContent/useMyAgentsContent.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/UGCAgentBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform/backend): add gemini-3-pro-preview (#11413)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

added sqlalchemy plumbing
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/data/sqlalchemy.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): prevent PlayIcon from displaying during execution in RunInputDialog
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/historyStore.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): update loading spinner colors in GraphLoadingBox component
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 11-19-2302-D822 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-19_230251_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-19-2302-D822 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-19-2302-D822 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-19_230251_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-19-2302-D822 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Remove duplicated call
  autogpt_platform/backend/backend/data/onboarding.py
Owners: @majdyz

Format
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Move `UserOnboarding` to `model.py`
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

initial
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

integrate into database manager and rest api.
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

added sqlalchemy plumbing
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/data/sqlalchemy.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

added tests and toggle for sqlalchemy integration
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/data/sqlalchemy.py
  autogpt_platform/backend/backend/data/sqlalchemy_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002
