Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

feat(frontend): add saving ability in new builder (#11148)
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): refactor CustomNode structure and enhance block categorization
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeBadges.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeCost.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add extra info in custom node in new builder (#11172)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeBadges.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeCost.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add extra info in custom node in new builder (#11172)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeBadges.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeCost.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/util): rewrite SafeJson to prevent Invalid \escape errors
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): add extra info in custom node in new builder (#11172)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeBadges.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeCost.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

fix(backend/util): rewrite SafeJson to prevent Invalid \escape errors (#11187)
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

fix(backend/util): rewrite SafeJson to prevent Invalid \escape errors (#11187)
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

feat(blocks)!: Simplify Exa blocks and update to latest API specification
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/helpers.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks)!: Update Exa answer block to match latest API specification
  autogpt_platform/backend/backend/blocks/exa/answers.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(platform): Add LaunchDarkly flag for platform payment system (#11181)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(platform): Add LaunchDarkly flag for platform payment system (#11181)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix(backend/util): rewrite SafeJson to prevent Invalid \escape errors
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix error import
  autogpt_platform/backend/backend/data/user.py
Owners: @majdyz

Revert "fix(backend/util): rewrite SafeJson to prevent Invalid \escape errors (#11187)"
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

Revert "fix(backend/util): rewrite SafeJson to prevent Invalid \escape errors (#11187)"
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

fmt
  autogpt_platform/backend/backend/data/user.py
Owners: @majdyz

feat(platform): Shared cache (#11150)
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/cache_test.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @Significant-Gravitas/maintainers, @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

feat(platform): Shared cache (#11150)
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/cache_test.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @Significant-Gravitas/maintainers, @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

fix(backend/util): handle nested Pydantic models in SafeJson _sanitize_value
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

refactor(backend/util): remove redundant BaseModel check in SafeJson
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Revert "Revert "fix(backend/util): rewrite SafeJson to prevent Invalid \escape errors (#11187)""
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

Revert "Revert "fix(backend/util): rewrite SafeJson to prevent Invalid \escape errors (#11187)""
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

refactor(backend): replace convert_pydantic_to_json with to_dict
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend/util): simplify to_dict and SafeJson using jsonable_encoder
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

cleanup
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add test data creation to makefile and test it
  autogpt_platform/Makefile
  autogpt_platform/backend/test/test_data_creator.py
Owners: @Significant-Gravitas/maintainers, @Abhi1992002

add test data creation to makefile and test it
  autogpt_platform/Makefile
  autogpt_platform/backend/test/test_data_creator.py
Owners: @Significant-Gravitas/maintainers, @Abhi1992002

fix formatting
  autogpt_platform/backend/test/test_data_creator.py
Owners: @Abhi1992002

fix formatting
  autogpt_platform/backend/test/test_data_creator.py
Owners: @Abhi1992002

fix(backend/util): resolve SafeJson nested Pydantic serialization with comprehensive testing
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

simplify test and add reset-db make command
  autogpt_platform/Makefile
  autogpt_platform/backend/test/test_data_creator.py
Owners: @Significant-Gravitas/maintainers, @Abhi1992002

simplify test and add reset-db make command
  autogpt_platform/Makefile
  autogpt_platform/backend/test/test_data_creator.py
Owners: @Significant-Gravitas/maintainers, @Abhi1992002

refactor(backend/util): simplify SafeJson with to_dict import alias
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

cleanup
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/util): handle nested Pydantic models in SafeJson (#11188)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend/util): handle nested Pydantic models in SafeJson (#11188)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/test_json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

Fix
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Remove advisory locks for atomic credit operations (#11143)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_ceiling_test.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_integration_test.py
  autogpt_platform/backend/backend/data/credit_metadata_test.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/credit_underflow_test.py
  autogpt_platform/backend/backend/data/credit_user_balance_migration_test.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @Abhi1992002, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
