Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers

feat(rnd): Add template of the next gen autogpt project (#7162)
  rnd/nextgenautogpt/README.md
  rnd/nextgenautogpt/nextgenautogpt/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/__main__.py
  rnd/nextgenautogpt/nextgenautogpt/cli.py
  rnd/nextgenautogpt/nextgenautogpt/executor/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/executor/executor.py
  rnd/nextgenautogpt/nextgenautogpt/manager/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/manager/manager.py
  rnd/nextgenautogpt/nextgenautogpt/server/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/server/server.py
  rnd/nextgenautogpt/poetry.lock
  rnd/nextgenautogpt/pyproject.toml
Owners: none

feat(rnd): Add template of the next gen autogpt project (#7162)
  rnd/nextgenautogpt/README.md
  rnd/nextgenautogpt/nextgenautogpt/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/__main__.py
  rnd/nextgenautogpt/nextgenautogpt/cli.py
  rnd/nextgenautogpt/nextgenautogpt/executor/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/executor/executor.py
  rnd/nextgenautogpt/nextgenautogpt/manager/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/manager/manager.py
  rnd/nextgenautogpt/nextgenautogpt/server/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/server/server.py
  rnd/nextgenautogpt/poetry.lock
  rnd/nextgenautogpt/pyproject.toml
Owners: none

feat(rnd): Add template of the next gen autogpt project (#7162)
  rnd/nextgenautogpt/README.md
  rnd/nextgenautogpt/nextgenautogpt/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/__main__.py
  rnd/nextgenautogpt/nextgenautogpt/cli.py
  rnd/nextgenautogpt/nextgenautogpt/executor/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/executor/executor.py
  rnd/nextgenautogpt/nextgenautogpt/manager/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/manager/manager.py
  rnd/nextgenautogpt/nextgenautogpt/server/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/server/server.py
  rnd/nextgenautogpt/poetry.lock
  rnd/nextgenautogpt/pyproject.toml
Owners: none

fix(agent): Fix docker builds
  .dockerignore
  Dockerfile.autogpt
  autogpt/.dockerignore
Owners: @Significant-Gravitas/maintainers

fix docker-compose.yml to work with new Dockerfile
  autogpt/docker-compose.yml
Owners: @Significant-Gravitas/maintainers

add frontend to docker build
  .dockerignore
  Dockerfile.autogpt
Owners: none

fix autogpt-docker-ci.yml and autogpt-docker-release.yml to work with new Dockerfile
  .github/workflows/autogpt-docker-ci.yml
  .github/workflows/autogpt-docker-release.yml
Owners: @Significant-Gravitas/devops

fix dev build path
  .dockerignore
  Dockerfile.autogpt
Owners: none

Add FastAPI
  autogpts/autogpt/agbenchmark_config/challenges_already_beaten.json
  autogpts/autogpt/output.csv
  rnd/autogpt_server/README.md
  rnd/autogpt_server/autogpt_server/agent_api/__init__.py
  rnd/autogpt_server/autogpt_server/agent_api/server.py
  rnd/autogpt_server/autogpt_server/agent_executor/__init__.py
  rnd/autogpt_server/autogpt_server/agent_executor/executor.py
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/data.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/run.sh
  rnd/nextgenautogpt/README.md
  rnd/nextgenautogpt/nextgenautogpt/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/__main__.py
  rnd/nextgenautogpt/nextgenautogpt/cli.py
  rnd/nextgenautogpt/nextgenautogpt/executor/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/executor/executor.py
  rnd/nextgenautogpt/nextgenautogpt/manager/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/manager/manager.py
  rnd/nextgenautogpt/nextgenautogpt/server/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/server/server.py
Owners: @Significant-Gravitas/maintainers

.github/CODEOWNERS:

.github/workflows/  @Significant-Gravitas/devops
autogpt/   @Significant-Gravitas/maintainers
forge/     @Significant-Gravitas/forge-maintainers
benchmark/          @Significant-Gravitas/benchmark-maintainers
frontend/           @Significant-Gravitas/frontend-maintainers
