Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers

kir_gpt entering the arena
  arena/kir_gpt.json
Owners: none

kir_agent entering the arena
  arena/kir_agent.json
Owners: none

Fix tests
  autogpts/autogpt/agbenchmark_config/benchmarks.py
  autogpts/autogpt/autogpt/agent_factory/generators.py
  autogpts/autogpt/autogpt/agents/base.py
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/agents/utils/file_manager.py
  autogpts/autogpt/autogpt/app/agent_protocol_server.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/commands/file_operations.py
  autogpts/autogpt/autogpt/file_storage/__init__.py
  autogpts/autogpt/autogpt/file_storage/base.py
  autogpts/autogpt/autogpt/file_storage/gcs.py
  autogpts/autogpt/autogpt/file_storage/local.py
  autogpts/autogpt/autogpt/file_storage/s3.py
  autogpts/autogpt/test_directory/file_a.txt
  autogpts/autogpt/test_file.txt
  autogpts/autogpt/tests/conftest.py
  autogpts/autogpt/tests/integration/memory/_test_json_file_memory.py
  autogpts/autogpt/tests/unit/test_ai_profile.py
  autogpts/autogpt/tests/unit/test_file_operations.py
  autogpts/autogpt/tests/unit/test_gcs_file_storage.py
  autogpts/autogpt/tests/unit/test_git_commands.py
  autogpts/autogpt/tests/unit/test_local_file_storage.py
  autogpts/autogpt/tests/unit/test_s3_file_storage.py
  autogpts/autogpt/tests/utils.py
Owners: @Significant-Gravitas/maintainers

Fix agent_id override
  autogpts/autogpt/autogpt/agent_factory/configurators.py
Owners: @Significant-Gravitas/maintainers

Fixing support for AzureOpenAI
  autogpts/autogpt/autogpt/core/resource/model_providers/openai.py
  autogpts/autogpt/autogpt/llm/api_manager.py
Owners: @Significant-Gravitas/maintainers

Remove redundant def and fix string format
  autogpts/autogpt/autogpt/commands/execute_code.py
Owners: @Significant-Gravitas/maintainers

Cache logs in AgentFileManagerMixin
  autogpts/autogpt/autogpt/agent_factory/configurators.py
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/tests/unit/test_local_file_storage.py
Owners: @Significant-Gravitas/maintainers

tui entering the arena
  arena/tui.json
Owners: none

ghrs: snap 02-27-2302-C84E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-27_230231_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-27_230231_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-27_230231_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: none

ghrs: vc agg 02-27-2302-C84E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-27_230231_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: none

ghrs: stars and forks 02-27-2302-C84E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: none

ghrs: report 02-27-2302-C84E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: none

ExAgent entering the arena
  arena/ExAgent.json
Owners: none

Benchmark report for autogpt @ 2024-02-28
  benchmark/reports/autogpt/20240228T020854_full_run/radar_chart.png
  benchmark/reports/autogpt/20240228T020854_full_run/report.json
  benchmark/reports/autogpt/20240228T020854_full_run/report.md
Owners: @Significant-Gravitas/benchmark-maintainers

my_first_agent entering the arena
  arena/my_first_agent.json
Owners: none

Add comments
  autogpts/autogpt/autogpt/agent_manager/agent_manager.py
  autogpts/autogpt/autogpt/agents/agent.py
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
Owners: @Significant-Gravitas/maintainers

.github/CODEOWNERS:

.github/workflows/  @Significant-Gravitas/devops
autogpts/autogpt/   @Significant-Gravitas/maintainers
autogpts/forge/     @Significant-Gravitas/forge-maintainers
benchmark/          @Significant-Gravitas/benchmark-maintainers
frontend/           @Significant-Gravitas/frontend-maintainers
