Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

Fixes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Make JSON output optional in LLM calls
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts

minimize changes to poetry files
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): add caching layer to store API endpoints
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

test(backend): add comprehensive tests for cache_delete functionality
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
Owners: @Abhi1992002

style(backend): apply formatter to store routes
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): remove unnecessary cache invalidation and management endpoints
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(backend): add Prometheus-compatible cache metrics endpoint
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): improve async GCS client management and error handling
  autogpt_platform/backend/backend/util/cloud_storage.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix regex hanging
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/util/json.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

ghrs: snap 09-23-2302-8D80 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-23_230233_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-23-2302-8D80 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-23_230233_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-23-2302-8D80 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-23-2302-8D80 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Update Wallet design
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): implement clean k6 load testing infrastructure
  autogpt_platform/backend/load-tests/.gitignore
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/k6-credentials.env.example
  autogpt_platform/backend/load-tests/configs/pre-authenticated-tokens.example.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/generate-tokens.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/run-cloud-tests.js
  autogpt_platform/backend/load-tests/run-tests.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

fix(load-tests): add proper service key setup and commit example files
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/configs/pre-authenticated-tokens.example.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

feat(load-tests): Fix token expiry, improve auth failure tracking, add k8s pod testing
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/comprehensive-load-test-orchestrator.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/generate-tokens.js
  autogpt_platform/backend/load-tests/k6-loadtesting-pod.yaml
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

Format
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/integrations/router.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update openai.json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): implement comprehensive load testing performance fixes + database health improvements (#10965)
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @0ubbe

feat(backend): implement comprehensive load testing performance fixes + database health improvements (#10965)
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @0ubbe

fix(backend): make preset migration not crash the system (#10966)
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): make preset migration not crash the system (#10966)
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fixed caching of store submissions
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

updated caching ttl for store routes
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fixed cache clears when deleting a submission
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(load-tests): unified orchestrator with k6 cloud integration
  autogpt_platform/backend/load-tests/analyze-metrics.js
  autogpt_platform/backend/load-tests/comprehensive-load-test-orchestrator.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/load-test-orchestrator.js
  autogpt_platform/backend/load-tests/run-cloud-tests.js
  autogpt_platform/backend/load-tests/run-tests.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

group caching at top of file
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

docs(load-tests): update README for unified orchestrator
  autogpt_platform/backend/load-tests/README.md
Owners: @Bentlybro, @Pwuts

feat(backend): implement caching layer for store API endpoints (Part 1) (#10975)
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(backend): implement caching layer for store API endpoints (Part 1) (#10975)
  autogpt_platform/backend/.gitignore
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(load-tests): migrate all test suites to pre-authenticated tokens
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

feat(backend): implement comprehensive caching layer for all GET endpoints (Part 2)
  autogpt_platform/backend/backend/server/routers/cache.py
  autogpt_platform/backend/backend/server/routers/cache_test.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/cache.py
  autogpt_platform/backend/backend/server/v2/library/cache_test.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): update library favorites test to mock cache function instead of db
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
Owners: @Abhi1992002

fix(backend): include subgraphs in cached graph retrieval
  autogpt_platform/backend/backend/server/routers/cache.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): prevent caching of None graph results to handle dynamic permissions
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/file.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/backend/util/virus_scanner.py
  autogpt_platform/backend/backend/util/virus_scanner.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos
