Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Pwuts, @Significant-Gravitas/benchmarkers, @Swiftyos, @hunteraraujo

babyagi-20230908080830
  benchmark/reports/babyagi/20230908T080803_full_run/radar_chart.png
  benchmark/reports/babyagi/20230908T080803_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

babyagi-20230908080830
  benchmark/reports/babyagi/20230908T080803_full_run/radar_chart.png
  benchmark/reports/babyagi/20230908T080803_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

Auto-GPT-20230908080910
  benchmark/reports/Auto-GPT/20230908T080530_full_run/radar_chart.png
  benchmark/reports/Auto-GPT/20230908T080530_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

Auto-GPT-20230908080910
  benchmark/reports/Auto-GPT/20230908T080530_full_run/radar_chart.png
  benchmark/reports/Auto-GPT/20230908T080530_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

Auto-GPT-20230908080910
  benchmark/reports/Auto-GPT/20230908T080530_full_run/radar_chart.png
  benchmark/reports/Auto-GPT/20230908T080530_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

gpt-engineer-20230908080916
  benchmark/reports/gpt-engineer/20230908T080511_full_run/radar_chart.png
  benchmark/reports/gpt-engineer/20230908T080511_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

gpt-engineer-20230908080916
  benchmark/reports/gpt-engineer/20230908T080511_full_run/radar_chart.png
  benchmark/reports/gpt-engineer/20230908T080511_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

gpt-engineer-20230908080916
  benchmark/reports/gpt-engineer/20230908T080511_full_run/radar_chart.png
  benchmark/reports/gpt-engineer/20230908T080511_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

mini-agi-20230908081451
  benchmark/reports/mini-agi/20230908T080426_full_run/radar_chart.png
  benchmark/reports/mini-agi/20230908T080426_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

mini-agi-20230908081451
  benchmark/reports/mini-agi/20230908T080426_full_run/radar_chart.png
  benchmark/reports/mini-agi/20230908T080426_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

mini-agi-20230908081451
  benchmark/reports/mini-agi/20230908T080426_full_run/radar_chart.png
  benchmark/reports/mini-agi/20230908T080426_full_run/report.json
Owners: @Significant-Gravitas/benchmarkers

Use smart LLM for automatic config generation
  autogpts/autogpt/autogpt/app/setup.py
Owners: @Pwuts

Use smart LLM for automatic config generation
  autogpts/autogpt/autogpt/app/setup.py
Owners: @Pwuts

Use smart LLM for automatic config generation
  autogpts/autogpt/autogpt/app/setup.py
Owners: @Pwuts

Fix CI trigger path selectors
  .github/workflows/autogpt-ci.yml
  .github/workflows/autogpt-docker-ci.yml
  .github/workflows/pr-label.yml
Owners: @Significant-Gravitas/maintainers

Fix CI trigger path selectors
  .github/workflows/autogpt-ci.yml
  .github/workflows/autogpt-docker-ci.yml
  .github/workflows/pr-label.yml
Owners: @Significant-Gravitas/maintainers

Fix CI trigger path selectors
  .github/workflows/autogpt-ci.yml
  .github/workflows/autogpt-docker-ci.yml
  .github/workflows/pr-label.yml
Owners: @Significant-Gravitas/maintainers

Move SIdeBarView to new directory
  frontend/lib/views/side_bar/side_bar_view.dart
Owners: @hunteraraujo

Move SIdeBarView to new directory
  frontend/lib/views/side_bar/side_bar_view.dart
Owners: @hunteraraujo

Move SIdeBarView to new directory
  frontend/lib/views/side_bar/side_bar_view.dart
Owners: @hunteraraujo

Create placeholder SkillTreeView
  frontend/lib/views/main_layout.dart
  frontend/lib/views/skill_tree/skill_tree_view.dart
Owners: @hunteraraujo

Create placeholder SkillTreeView
  frontend/lib/views/main_layout.dart
  frontend/lib/views/skill_tree/skill_tree_view.dart
Owners: @hunteraraujo

Create placeholder SkillTreeView
  frontend/lib/views/main_layout.dart
  frontend/lib/views/skill_tree/skill_tree_view.dart
Owners: @hunteraraujo

.github/CODEOWNERS:

.github/workflows/  @Significant-Gravitas/maintainers
autogpts/autogpt/   @Pwuts
benchmark/  @Significant-Gravitas/benchmarkers
forge/      @Swiftyos
frontend/   @hunteraraujo
