Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix(frontend/marketplace): fix store submission and image generation errors
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Add recommended LLM model feature to admin UI and API
  autogpt_platform/backend/backend/api/features/admin/execution_analytics_routes.py
  autogpt_platform/backend/backend/api/features/admin/llm_routes.py
  autogpt_platform/backend/backend/data/llm_registry/registry.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/backend/migrations/20260107100000_add_llm_recommended_model/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DeleteModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/LlmRegistryDashboard.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/RecommendedModelSelector.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix: simplify store submission deletion and improve creator detection
  autogpt_platform/backend/backend/api/features/library/model.py
  autogpt_platform/backend/backend/api/features/library/routes_test.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/model.py
  autogpt_platform/backend/backend/api/features/store/model_test.py
  autogpt_platform/backend/backend/api/features/store/routes_test.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/MainDashboardPage.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix: restrict store submission edit and delete to pending status only
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: modal close button not clickable on small screens
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/EditAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: backend edit submission restrictions for consistency
  autogpt_platform/backend/backend/api/features/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: remove unused StepHeader import
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: EditAgentModal submit and duplicate images issues
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat: show version next to agent name and fix modal closing
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 01-07-2303-5E58 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-07_230339_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-07_230339_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-07_230339_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 01-07-2303-5E58 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 01-07-2303-5E58 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-07_230339_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 01-07-2303-5E58 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

simplify backend changes
  autogpt_platform/backend/backend/api/features/library/model.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(platform): Add waitlist feature with admin management and user notifications
  autogpt_platform/backend/backend/api/features/admin/waitlist_admin_routes.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/model.py
  autogpt_platform/backend/backend/api/features/store/routes.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/migrations/20260107000001_add_apscheduler_tables/migration.sql
  autogpt_platform/backend/migrations/20260108032037_add_waitlist_launch_notification/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/CreateWaitlistButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/EditWaitlistDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/WaitlistSignupsDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/WaitlistTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/JoinWaitlistModal/JoinWaitlistModal.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistCard/WaitlistCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistDetailModal/WaitlistDetailModal.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistSection/WaitlistSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistSection/useWaitlistSection.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix lint and flags
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/generate-ui-schema.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Show "On the waitlist" status for joined users
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/routes.py
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/JoinWaitlistModal/JoinWaitlistModal.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistCard/WaitlistCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistDetailModal/WaitlistDetailModal.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistSection/WaitlistSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistSection/useWaitlistSection.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

simplify backend changes
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/backend/snapshots/sub_success
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(backend): Use Prisma connect pattern for waitlist-listing relation
  autogpt_platform/backend/backend/api/features/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(admin): add OAuth admin page for managing OAuth applications
  autogpt_platform/backend/backend/api/features/admin/oauth_admin_routes.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/data/auth/oauth.py
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/oauth/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/oauth/components/CreateOAuthAppDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/oauth/components/OAuthAppList.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/oauth/page.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(frontend): Fix lint and type errors in waitlist admin components
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/WaitlistSignupsDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/WaitlistTable.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(oauth): add user self-service OAuth app management
  autogpt_platform/backend/backend/api/features/oauth.py
  autogpt_platform/backend/backend/data/auth/oauth.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/oauth-apps/components/OAuthAppsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/oauth-apps/components/useOAuthApps.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Delete docs/.gitbook.yaml
  docs/.gitbook.yaml
Owners: @Bentlybro, @Pwuts

Delete .claude/settings.json
  .claude/settings.json
Owners: @Significant-Gravitas/maintainers

Delete docs/content/SUMMARY.md
  docs/content/SUMMARY.md
Owners: @Bentlybro, @Pwuts

Generated code
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/LlmModelField/LlmModelField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/LlmModelField/components/LlmIcon.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/LlmModelField/components/LlmMenuHeader.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/LlmModelField/components/LlmMenuItem.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/LlmModelField/components/LlmModelPicker.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/LlmModelField/components/LlmPriceTier.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/LlmModelField/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/LlmModelField/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend/builder): add filters to blocks menu (#11654)
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuFilters/BlockMenuFilters.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuFilters/constants.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuFilters/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchContent/BlockMenuSearchContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchContent/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchContent/useBlockMenuSearchContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/FilterChip.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/FilterSheet/FilterSheet.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/FilterSheet/constant.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/FilterSheet/useFilterSheet.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/blockMenuStore.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): complete optional credentials implementation
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/renderers/input-renderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @0ubbe, @kcze, @Abhi1992002

fixing linting errors
  autogpt_platform/backend/backend/api/features/chat/db.py
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/backend/backend/api/features/chat/tools/_test_data.py
  autogpt_platform/backend/backend/api/features/chat/tools/add_understanding.py
  autogpt_platform/backend/backend/api/features/chat/tools/create_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/edit_agent.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(frontend): add CustomSchemaField wrapper for dynamic form field routing (#11722)
  autogpt_platform/frontend/src/components/renderers/InputRenderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/generate-ui-schema.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/input-schema-pre-processor.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add "None" option for optional credentials in run dialog
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/CredentialsSelect/CredentialsSelect.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/useCredentialsInput.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix tests
  autogpt_platform/backend/backend/api/features/chat/db.py
  autogpt_platform/backend/backend/api/features/chat/model_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

update openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): remove getCredentialsOptional and add custom field ID handling in input schema pre-processor
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/input-schema-pre-processor.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Migrate to new FormRenderer
  autogpt_platform/frontend/src/components/renderers/InputRenderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/LlmModelField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmIcon.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmMenuHeader.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmMenuItem.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmModelPicker.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/components/LlmPriceTier.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/helpers.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/LlmModelField/types.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/custom-registry.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/LlmModelField/components/LlmMenuItem.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

test(backend): add tests for optional credentials feature
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002, @majdyz, @Pwuts

chore: improvements
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/components/AgentCardMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/components/FavoriteButton.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/useLibraryAgentCard.ts
  autogpt_platform/frontend/src/tests/library.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

testing linting
  autogpt_platform/backend/migrations/20260108101600_test/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

feat(frontend): context menu right click new builder (#11703)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeRightClickMenu.tsx
  autogpt_platform/frontend/src/components/molecules/SecondaryMenu/SecondaryMenu.stories.tsx
  autogpt_platform/frontend/src/components/molecules/SecondaryMenu/SecondaryMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: review suggestions
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions/useSelectedScheduleActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionSubHeader/LibraryActionSubHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/useLibraryAgentCard.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/LibrarySearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/useLibrarySearchbar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/LibrarySortMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/useLibrarySortMenu.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
