Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance credential handling in FlowEditor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/auth/login/route.ts
  autogpt_platform/frontend/src/app/api/auth/provider/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: tidy
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/api/auth/login/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/app/api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): login redirects + onboarding (#11125)
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/auth/login/route.ts
  autogpt_platform/frontend/src/app/api/auth/provider/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/app/api/helpers.ts
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): login redirects + onboarding (#11125)
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/auth/login/route.ts
  autogpt_platform/frontend/src/app/api/auth/provider/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/app/api/helpers.ts
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fixes
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): onboarding re-directs (#11126)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): onboarding re-directs (#11126)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): remove unnecessary type assertion in TextInputWidget
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/TextInputWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): implement rate limiting for critical retry alerts to prevent spam
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): simplify retry alert rate limiting - remove excessive logging
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

test(backend): add comprehensive tests for retry alert rate limiting
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @Abhi1992002

fix
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @Abhi1992002

fix: seperate out the tests for speciifc purposes and test that purpose
  autogpt_platform/backend/backend/notifications/test_notifications.py
Owners: @Abhi1992002

fix(test): fix failing rate limiting tests
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @Abhi1992002

feat(backend): implement user rate limiting for concurrent graph executions
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/util): reduce test execution time for retry decorator test
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @Abhi1992002

fix(backend): implement rate limiting for critical retry alerts to prevent spam (#11127)
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): implement rate limiting for critical retry alerts to prevent spam (#11127)
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

rate-limit graph exec alert error
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

cleanup
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

ghrs: snap 10-08-2302-D6DF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-08_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-08-2302-D6DF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-08-2302-D6DF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-08_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-08-2302-D6DF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

refactor(backend): inline Discord alert message for cleaner code
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

cleanup
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): inline alert message in _send_critical_retry_alert
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): improve conn_retry alerting consistency
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): implement comprehensive rate-limited Discord alerting system (#11106)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(backend): implement comprehensive rate-limited Discord alerting system (#11106)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/retry_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): improve rate limiting logic and fix type issues
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): inline rate limiting variables for cleaner code
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Update use-get-flag.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: cometapi.png
  autogpt_platform/frontend/public/integrations/cometapi.png
Owners: @0ubbe, @kcze, @Abhi1992002

fix(llm): format ModelMetadata entries for better readability
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(frontend): add oauth2 credential support in new builder (#11107)
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): add oauth2 credential support in new builder (#11107)
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002
