Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers, @Significant-Gravitas/admins

fix(backend): update Python version markers in poetry.lock for compatibility
  autogpt_platform/backend/poetry.lock
Owners: @Significant-Gravitas/maintainers

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Owners: @Significant-Gravitas/maintainers

feat(platform): Enhance GitHub Copilot agent setup with CI-aligned environment and comprehensive platform documentation integration (#10708)
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops

feat(platform): Enhance GitHub Copilot agent setup with CI-aligned environment and comprehensive platform documentation integration (#10708)
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops

feat(blocks): Add DataForSEO keyword research blocks (#10711)
  autogpt_platform/backend/backend/blocks/dataforseo/__init__.py
  autogpt_platform/backend/backend/blocks/dataforseo/_api.py
  autogpt_platform/backend/backend/blocks/dataforseo/_config.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
  autogpt_platform/backend/backend/sdk/provider.py
Owners: @Significant-Gravitas/maintainers

feat(blocks): Add DataForSEO keyword research blocks (#10711)
  autogpt_platform/backend/backend/blocks/dataforseo/__init__.py
  autogpt_platform/backend/backend/blocks/dataforseo/_api.py
  autogpt_platform/backend/backend/blocks/dataforseo/_config.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
  autogpt_platform/backend/backend/sdk/provider.py
Owners: @Significant-Gravitas/maintainers

feat(docs): Update Ollama setup docs with new methods (#10693)
  docs/content/imgs/ollama/Ollama-Expose-Network.png
  docs/content/imgs/ollama/Ollama-Select-llama3.2.png
  docs/content/platform/ollama.md
Owners: @Significant-Gravitas/maintainers

feat(docs): Update Ollama setup docs with new methods (#10693)
  docs/content/imgs/ollama/Ollama-Expose-Network.png
  docs/content/imgs/ollama/Ollama-Select-llama3.2.png
  docs/content/platform/ollama.md
Owners: @Significant-Gravitas/maintainers

ghrs: snap 08-21-2302-3004 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-21_230300_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-21_230300_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-21_230300_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 08-21-2302-3004 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 08-21-2302-3004 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-21_230300_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 08-21-2302-3004 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers

agent1 entering the arena
  arena/agent1.json
Owners: @Significant-Gravitas/maintainers

fix breakage in publish agent dialog
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
Owners: @Significant-Gravitas/maintainers

Fixed BAAS integration
  autogpt_platform/backend/backend/blocks/baas/_api.py
  autogpt_platform/backend/backend/blocks/baas/bots.py
  autogpt_platform/backend/backend/blocks/baas/calendars.py
  autogpt_platform/backend/backend/blocks/baas/events.py
Owners: @Significant-Gravitas/maintainers

feat(backend): Add BaaS integration blocks (#10350)
  autogpt_platform/backend/backend/blocks/baas/__init__.py
  autogpt_platform/backend/backend/blocks/baas/_api.py
  autogpt_platform/backend/backend/blocks/baas/_config.py
  autogpt_platform/backend/backend/blocks/baas/bots.py
Owners: @Significant-Gravitas/maintainers

feat(backend): Add BaaS integration blocks (#10350)
  autogpt_platform/backend/backend/blocks/baas/__init__.py
  autogpt_platform/backend/backend/blocks/baas/_api.py
  autogpt_platform/backend/backend/blocks/baas/_config.py
  autogpt_platform/backend/backend/blocks/baas/bots.py
Owners: @Significant-Gravitas/maintainers

propagate API auth errors to original caller
  autogpt_platform/autogpt_libs/autogpt_libs/auth/middleware.py
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/proxy-action.ts
Owners: @Significant-Gravitas/maintainers

feat(platform/library): Infinite scroll in Agent Runs list (#10709)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/use-agent-runs.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/MainDashboardPage.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/mutators/date-transformer.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/InfiniteScroll.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/components/ui/scroll-area.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

feat(platform/library): Infinite scroll in Agent Runs list (#10709)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/use-agent-runs.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/MainDashboardPage.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/mutators/date-transformer.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/InfiniteScroll.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/components/ui/scroll-area.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

feat(docs): Update Ollama setup docs with new methods (#10693)
  docs/content/imgs/ollama/Ollama-Expose-Network.png
  docs/content/imgs/ollama/Ollama-Select-llama3.2.png
  docs/content/platform/ollama.md
Owners: @Significant-Gravitas/maintainers

feat(platform): Enhance GitHub Copilot agent setup with CI-aligned environment and comprehensive platform documentation integration (#10708)
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops

feat(backend): Add BaaS integration blocks (#10350)
  autogpt_platform/backend/backend/blocks/baas/__init__.py
  autogpt_platform/backend/backend/blocks/baas/_api.py
  autogpt_platform/backend/backend/blocks/baas/_config.py
  autogpt_platform/backend/backend/blocks/baas/bots.py
Owners: @Significant-Gravitas/maintainers

feat(platform/library): Infinite scroll in Agent Runs list (#10709)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/use-agent-runs.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/MainDashboardPage.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/mutators/date-transformer.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/InfiniteScroll.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/components/ui/scroll-area.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

fix(frontend): clear agent name and description on agent file removal (#10703)
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
Owners: @Significant-Gravitas/maintainers

build(backend): Change base image to `debian:13-slim` w/ Python 3.13 (#10654)
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

feat(blocks): Add DataForSEO keyword research blocks (#10711)
  autogpt_platform/backend/backend/blocks/dataforseo/__init__.py
  autogpt_platform/backend/backend/blocks/dataforseo/_api.py
  autogpt_platform/backend/backend/blocks/dataforseo/_config.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
  autogpt_platform/backend/backend/sdk/provider.py
Owners: @Significant-Gravitas/maintainers

Add agent approval/rejection notifications with email templates
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/notifications/templates/agent_approved.html.jinja2
  autogpt_platform/backend/backend/notifications/templates/agent_rejected.html.jinja2
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @Significant-Gravitas/maintainers

Add cron expression validation and improve scheduling UI feedback
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/frontend/src/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/components/cron-scheduler.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/cron-expression-utils.test.ts
  autogpt_platform/frontend/src/lib/cron-expression-utils.ts
Owners: @Significant-Gravitas/maintainers

Refactor scheduler and frontend code, update MSW service worker
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/frontend/public/mockServiceWorker.js
  autogpt_platform/frontend/src/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/cron-expression-utils.test.ts
Owners: @Significant-Gravitas/maintainers

Remove OpenAPI specification file from frontend source
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/cron-expression-utils.test.ts
Owners: @Significant-Gravitas/maintainers

feat(backend): cache timezone data to improve performance and reduce computation
  autogpt_platform/backend/backend/util/timezone_name.py
  autogpt_platform/backend/backend/util/timezone_utils.py
Owners: @Significant-Gravitas/maintainers

feat(frontend): refactor timezone detection logic for better clarity and efficiency
  autogpt_platform/frontend/src/hooks/useTimezoneDetection.ts
  autogpt_platform/frontend/src/lib/timezone-utils.ts
Owners: @Significant-Gravitas/maintainers

refactor(backend): Improve auth setup & OpenAPI generation
  autogpt_platform/autogpt_libs/autogpt_libs/auth/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_tests.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/depends.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/helpers.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/jwt_utils.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/middleware.py
  autogpt_platform/backend/TESTING.md
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/analytics.py
  autogpt_platform/backend/backend/server/routers/analytics_improved_test.py
  autogpt_platform/backend/backend/server/routers/analytics_parametrized_test.py
  autogpt_platform/backend/backend/server/routers/analytics_test.py
  autogpt_platform/backend/backend/server/routers/postmark/postmark.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/utils.py
  autogpt_platform/backend/backend/server/utils/api_key_auth.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/otto/routes.py
  autogpt_platform/backend/backend/server/v2/otto/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers

ghrs: snap 08-22-2302-0211 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-22_230256_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-22_230256_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-22_230256_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 08-22-2302-0211 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 08-22-2302-0211 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-22_230256_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 08-22-2302-0211 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers

feat(frontend): enhance cron expression handling to support user timezone display
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/timezone_utils.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
  autogpt_platform/frontend/src/lib/cron-expression-utils.ts
Owners: @Significant-Gravitas/maintainers

feat: implement eventual consistency for agent executor performance
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/test_eventual_consistency.py
Owners: @Significant-Gravitas/maintainers

.github/CODEOWNERS:

* @Significant-Gravitas/maintainers
.github/workflows/ @Significant-Gravitas/devops
classic/forge/ @Significant-Gravitas/forge-maintainers
classic/benchmark/ @Significant-Gravitas/benchmark-maintainers
classic/frontend/ @Significant-Gravitas/frontend-maintainers
autogpt_platform/infra @Significant-Gravitas/devops
.github/CODEOWNERS @Significant-Gravitas/admins
