Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

feat(platform): Add instructions field to agent submissions (#10931)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/migrations/20250916193100_add_instructions_field/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/agt_details
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/backend/snapshots/sub_success
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(platform): Add instructions field to agent submissions (#10931)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/migrations/20250916193100_add_instructions_field/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/agt_details
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/backend/snapshots/sub_success
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

add tab to switch between new and old builder under launch darkly
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderViewTabs/BuilderViewTabs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderViewTabs/useBuilderViewTabs.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/RIghtSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix old builder layout
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Add public share links for agent run results (#10938)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20250916191832_add_share_page/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(no-navbar)/share/[token]/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/ShareButton.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(platform): Add public share links for agent run results (#10938)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/middleware/security.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20250916191832_add_share_page/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(no-navbar)/share/[token]/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/ShareButton.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(frontend): marketplace page load and caching (#10934)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): marketplace page load and caching (#10934)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: tidy
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/AdminAgentsDataTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ApproveRejectButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/DownloadAgentButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ExpandleRow.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/SearchFilterForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AddMoneyButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AdminUserGrantHistory.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/SearchAndFilterAdminSpending.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/AgentFlowList.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunStatusBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsTimeline.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/SchedulesTable.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/skeletons/AgentFlowListSkeleton.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/skeletons/FlowRunsListSkeleton.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/skeletons/FlowRunsStatusSkeleton.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/marketplace/AgentDetailContent.tsx
  autogpt_platform/frontend/src/components/marketplace/actions.ts
  autogpt_platform/frontend/src/components/monitor/index.ts
  autogpt_platform/frontend/src/components/tutorial.ts
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  autogpt_platform/frontend/src/services/agent-credentials/credentials-provider.tsx
  autogpt_platform/frontend/src/services/agent-credentials/helper.ts
  autogpt_platform/frontend/src/services/analytics/google-analytics.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: types...
  autogpt_platform/frontend/src/app/(platform)/monitoring/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix
  autogpt_platform/frontend/src/app/(platform)/monitoring/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): add comprehensive k6 load testing infrastructure
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/TESTING_RESULTS.md
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/configs/grafana-cloud.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/fix-credits.sh
  autogpt_platform/backend/load-tests/results/load_test_20250917_164827.json
  autogpt_platform/backend/load-tests/results/load_test_20250917_165500.json
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/api-stress-test.js
  autogpt_platform/backend/load-tests/scenarios/load-test.js
  autogpt_platform/backend/load-tests/scenarios/websocket-stress-test.js
  autogpt_platform/backend/load-tests/setup-test-users.sh
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

refactor(frontend): tidy up on components folder (#10940)
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/AdminAgentsDataTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ApproveRejectButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/DownloadAgentButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ExpandleRow.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/SearchFilterForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AddMoneyButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AdminUserGrantHistory.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/SearchAndFilterAdminSpending.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/AgentFlowList.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunStatusBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsTimeline.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/SchedulesTable.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/skeletons/AgentFlowListSkeleton.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/skeletons/FlowRunsListSkeleton.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/skeletons/FlowRunsStatusSkeleton.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/marketplace/AgentDetailContent.tsx
  autogpt_platform/frontend/src/components/marketplace/actions.ts
  autogpt_platform/frontend/src/components/monitor/index.ts
  autogpt_platform/frontend/src/components/tutorial.ts
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  autogpt_platform/frontend/src/services/agent-credentials/credentials-provider.tsx
  autogpt_platform/frontend/src/services/agent-credentials/helper.ts
  autogpt_platform/frontend/src/services/analytics/google-analytics.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): tidy up on components folder (#10940)
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/AdminAgentsDataTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ApproveRejectButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/DownloadAgentButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/ExpandleRow.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/components/SearchFilterForm.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AddMoneyButton.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/AdminUserGrantHistory.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/components/SearchAndFilterAdminSpending.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/spending/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/AgentFlowList.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunInfo.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunStatusBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsTimeline.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/SchedulesTable.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/skeletons/AgentFlowListSkeleton.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/skeletons/FlowRunsListSkeleton.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/skeletons/FlowRunsStatusSkeleton.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/marketplace/AgentDetailContent.tsx
  autogpt_platform/frontend/src/components/marketplace/actions.ts
  autogpt_platform/frontend/src/components/monitor/index.ts
  autogpt_platform/frontend/src/components/tutorial.ts
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  autogpt_platform/frontend/src/services/agent-credentials/credentials-provider.tsx
  autogpt_platform/frontend/src/services/agent-credentials/helper.ts
  autogpt_platform/frontend/src/services/analytics/google-analytics.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fixes
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/ShareRunButton/ShareRunButton.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix flag
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/builder): Fix moved blocks disappearing on save
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ci(backend): Update redis image
  .github/workflows/platform-backend-ci.yml
Owners: @Significant-Gravitas/devops

remove REDIS_PASSWORD for local and CI use
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/limiter.py
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/data/redis_client.py
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 09-17-2302-7A8A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-17_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-17-2302-7A8A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-17_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-17-2302-7A8A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-17-2302-7A8A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Update rewards
  autogpt_platform/backend/backend/data/onboarding.py
Owners: @majdyz

Re run agent task
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputUI.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(load-tests): rename all test files with descriptive, clear names
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/block-id-discovery-test.js
  autogpt_platform/backend/load-tests/comprehensive-error-diagnostic-test.js
  autogpt_platform/backend/load-tests/core-api-success-validation-test.js
  autogpt_platform/backend/load-tests/core-api-validation-test.js
  autogpt_platform/backend/load-tests/graph-creation-validation-test.js
  autogpt_platform/backend/load-tests/reduced-load-debugging-test.js
  autogpt_platform/backend/load-tests/results/debug-summary.json
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/scenarios/high-concurrency-api-stress-test.js
  autogpt_platform/backend/load-tests/scenarios/real-time-websocket-stress-test.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

fix(load-tests): resolve block execution API errors
  autogpt_platform/backend/load-tests/error-diagnostic.js
  autogpt_platform/backend/load-tests/find-block-id.js
  autogpt_platform/backend/load-tests/scenarios/load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(load-tests): resolve graph creation failures with correct block IDs
  autogpt_platform/backend/load-tests/failure-analysis.js
  autogpt_platform/backend/load-tests/quick-load-test.js
  autogpt_platform/backend/load-tests/test-graph-creation.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

docs(load-tests): final comprehensive results with all issues resolved
  autogpt_platform/backend/load-tests/TESTING_RESULTS.md
Owners: @Bentlybro, @Pwuts

docs(load-tests): update results with successful API fixes
  autogpt_platform/backend/load-tests/TESTING_RESULTS.md
Owners: @Bentlybro, @Pwuts

feat(load-tests): add graph execution to error diagnostics and validate all tests
  autogpt_platform/backend/load-tests/comprehensive-error-diagnostic-test.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(load-tests): fix graph creation and add comprehensive graph execution testing
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

fix(backend/load-tests): clean up PR by removing unnecessary files
  autogpt_platform/backend/load-tests/TESTING_RESULTS.md
  autogpt_platform/backend/load-tests/block-id-discovery-test.js
  autogpt_platform/backend/load-tests/comprehensive-error-diagnostic-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/configs/grafana-cloud.js
  autogpt_platform/backend/load-tests/core-api-success-validation-test.js
  autogpt_platform/backend/load-tests/fix-credits.sh
  autogpt_platform/backend/load-tests/graph-creation-validation-test.js
  autogpt_platform/backend/load-tests/reduced-load-debugging-test.js
  autogpt_platform/backend/load-tests/results/debug-summary.json
  autogpt_platform/backend/load-tests/results/load_test_20250917_164827.json
  autogpt_platform/backend/load-tests/results/load_test_20250917_165500.json
  autogpt_platform/backend/load-tests/scenarios/high-concurrency-api-stress-test.js
  autogpt_platform/backend/load-tests/scenarios/real-time-websocket-stress-test.js
  autogpt_platform/backend/load-tests/setup-test-users.sh
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

fix
  autogpt_platform/backend/test/sdk/test_sdk_registry.py
Owners: @Abhi1992002

feat(backend/load-tests): finalize production-ready load testing infrastructure
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

chore: rename old components to legacy
  autogpt_platform/frontend/src/components/__legacy__/AgentImageItem.tsx
  autogpt_platform/frontend/src/components/__legacy__/AgentImages.tsx
  autogpt_platform/frontend/src/components/__legacy__/AgentInfo.tsx
  autogpt_platform/frontend/src/components/__legacy__/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/__legacy__/Button.tsx
  autogpt_platform/frontend/src/components/__legacy__/CreatorCard.tsx
  autogpt_platform/frontend/src/components/__legacy__/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/__legacy__/CreatorLinks.tsx
  autogpt_platform/frontend/src/components/__legacy__/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/components/__legacy__/FilterChips.tsx
  autogpt_platform/frontend/src/components/__legacy__/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/__legacy__/RatingCard.tsx
  autogpt_platform/frontend/src/components/__legacy__/SearchBar.tsx
  autogpt_platform/frontend/src/components/__legacy__/SearchFilterChips.tsx
  autogpt_platform/frontend/src/components/__legacy__/Sidebar.tsx
  autogpt_platform/frontend/src/components/__legacy__/SmartImage.tsx
  autogpt_platform/frontend/src/components/__legacy__/SortDropdown.tsx
  autogpt_platform/frontend/src/components/__legacy__/Status.tsx
  autogpt_platform/frontend/src/components/__legacy__/StoreCard.tsx
  autogpt_platform/frontend/src/components/__legacy__/ThemeToggle.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/components/__legacy__/WalletRefill.tsx
  autogpt_platform/frontend/src/components/__legacy__/action-button-group.tsx
  autogpt_platform/frontend/src/components/__legacy__/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/__legacy__/composite/FeaturedCreators.tsx
  autogpt_platform/frontend/src/components/__legacy__/composite/FeaturedSection.tsx
  autogpt_platform/frontend/src/components/__legacy__/composite/HeroSection.tsx
  autogpt_platform/frontend/src/components/__legacy__/delete-confirm-dialog.tsx
  autogpt_platform/frontend/src/components/__legacy__/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fixes + alert
  autogpt_platform/frontend/.storybook/main.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/OnboardingGrid.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/share/[token]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/ShareRunButton/ShareRunButton.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryNotificationDropdown/LibraryNotificationDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/page.tsx
  autogpt_platform/frontend/src/components/__legacy__/action-button-group.tsx
  autogpt_platform/frontend/src/components/__legacy__/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/__legacy__/composite/FeaturedCreators.tsx
  autogpt_platform/frontend/src/components/__legacy__/composite/FeaturedSection.tsx
  autogpt_platform/frontend/src/components/__legacy__/composite/HeroSection.tsx
  autogpt_platform/frontend/src/components/__legacy__/delete-confirm-dialog.tsx
  autogpt_platform/frontend/src/components/__legacy__/types.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/molecules/Alert/Alert.stories.tsx
  autogpt_platform/frontend/src/components/molecules/Alert/Alert.tsx
  autogpt_platform/frontend/src/components/ui/alert-dialog.tsx
  autogpt_platform/frontend/src/components/ui/alert.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/load-tests): complete working load testing infrastructure
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/docker-compose.platform.yml
Owners: @ntindle, @Bentlybro, @0ubbe, @majdyz, @Pwuts, @Swiftyos

fix(load-tests): correct complex graph field linking for 100% success rate
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix load test
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
