Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat: remove advisory locks for atomic credit operations
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @Abhi1992002

reduce cache time to 5 mins
  autogpt_platform/backend/backend/server/v2/store/cache.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Revert "fix(frontend/builder): Sync frontend node IDs with backend after save" (#11142)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Revert "fix(frontend/builder): Sync frontend node IDs with backend after save" (#11142)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): Simplify caching to just store routes (#11140)
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(backend): Simplify caching to just store routes (#11140)
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/test_cache_delete.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

fix: ensure monotonic transaction ordering with database timestamps
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
Owners: @majdyz, @Abhi1992002

fix: address seer-by-sentry review comments
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

fix(frontend): handle websocket disconnect issue
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

revert complicated fix and explain simple fix
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: suggestions
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

map link IDs to backend IDs
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: undo openapi changes
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Implement discriminator logic in the new builder’s credential system. (#11124)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Implement discriminator logic in the new builder’s credential system. (#11124)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): handle websocket disconnect issue (#11144)
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): handle websocket disconnect issue (#11144)
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

stop logging store terms
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): enhance FlowEditor with loading state and UI improvements
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/useNewSaveControl.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): ask for credentials in onboarding agent run (#11146)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): ask for credentials in onboarding agent run (#11146)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): add z-index to GraphLoadingBox for improved visibility
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/GraphLoadingBox.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(platform): Disable logging store terms (#11147)
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(platform): Disable logging store terms (#11147)
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): add graph comparison before save in NewSaveControl
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/useNewSaveControl.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/useNewSaveControl.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Whitelist
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/migrations/20251013071709_add_use_for_onboarding/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @Abhi1992002

adding simple shared cache
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/data/redis_client.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/cache_test.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @Significant-Gravitas/maintainers, @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002

feat(backend): Whitelist Onboarding Agents (#11149)
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/migrations/20251013071709_add_use_for_onboarding/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @Abhi1992002

feat(backend): Whitelist Onboarding Agents (#11149)
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/migrations/20251013071709_add_use_for_onboarding/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @Abhi1992002

refactor: Unify credit transaction queries to eliminate duplication
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
Owners: @majdyz, @Abhi1992002

ghrs: snap 10-13-2302-2A6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-13_230304_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-13-2302-2A6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-13_230304_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-13-2302-2A6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-13-2302-2A6D for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

refactor: Use _add_transaction consistently and remove unused helper functions
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

fix: Remove duplicate POSTGRES_INT_MAX parameter in _enable_transaction
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

fix failing test
  autogpt_platform/backend/backend/data/credit_refund_test.py
Owners: @Abhi1992002

fix: rewrite _add_transaction with unified atomic query
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
