Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix: critical error handling and SQL syntax issues
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

fix: eliminate race condition in concurrent transactions
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
Owners: @majdyz, @Abhi1992002

fix: Address all unresolved PR review comments
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
Owners: @majdyz, @Abhi1992002

Update use-get-flag.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: Address remaining coderabbitai actionable comments
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

fix: Add missing return type annotations and fix test mocking
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
Owners: @majdyz, @Abhi1992002

feat(frontned): dynamic search terms
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/HeroSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/useHeroSection.ts
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): update FieldTemplate to use current state for credential provider
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: better fallback
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/HeroSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/useHeroSection.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix some flaky tests
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/tests/signup.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: circular import
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/HeroSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/useHeroSection.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): add vercel preview cors on dev
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): dynamic search terms (#11156)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/HeroSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/useHeroSection.ts
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): dynamic search terms (#11156)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/HeroSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/useHeroSection.ts
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: Resolve type checking issues in concurrency tests
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/migrations/20251011120000_add_user_balance_column/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @Abhi1992002

fix(frontend): improve error handling in custom mutator
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): simplify error handling in custom mutator
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Update custom-mutator.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: Complete UserBalance migration with comprehensive fixes
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_ceiling_test.py
  autogpt_platform/backend/backend/data/credit_user_balance_migration_test.py
Owners: @majdyz, @Abhi1992002

feat(frontend): add user authentication prompt in agent selection modal
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/AgentSelectStep.tsx
  autogpt_platform/frontend/src/tests/publish-agent.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): update signup button link in AgentSelectStep component
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/AgentSelectStep.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance PublishAgentModal with user authentication prompts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/PublishAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/AgentSelectStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/PublishAuthPrompt.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: Address critical issues in credit system atomic operations
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_ceiling_test.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
  autogpt_platform/backend/backend/data/credit_underflow_test.py
  autogpt_platform/backend/backend/data/credit_user_balance_migration_test.py
Owners: @majdyz, @Abhi1992002

fix(frontend): improve error handling in custom mutator
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): simplify error handling in custom mutator
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Updated error toast to include specific error message
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix test
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @Abhi1992002

fix
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
Owners: @majdyz, @Abhi1992002

raise on unique violation
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): fix publish agent behavior when user is logged out (#11159)
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/PublishAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/PublishAuthPrompt.tsx
  autogpt_platform/frontend/src/tests/publish-agent.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): fix publish agent behavior when user is logged out (#11159)
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/PublishAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/PublishAuthPrompt.tsx
  autogpt_platform/frontend/src/tests/publish-agent.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): fix client side error handling in custom mutator (#11160)
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): fix client side error handling in custom mutator (#11160)
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: Finalize atomic credit system with comprehensive race condition fixes
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_concurrency_test.py
Owners: @majdyz, @Abhi1992002

fix: Address CodeRabbit review comments for test robustness
  autogpt_platform/backend/backend/data/credit_refund_test.py
  autogpt_platform/backend/backend/data/credit_underflow_test.py
Owners: @Abhi1992002

feat: implement atomic credit transactions with UserBalance integration
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

fix: resolve KeyError in metadata handling for top_up_credits
  autogpt_platform/backend/backend/data/credit.py
Owners: @majdyz

test(backend): update concurrent refunds test to demonstrate race condition
  autogpt_platform/backend/backend/data/credit_refund_test.py
Owners: @Abhi1992002

wip: atomic CTE implementation with UserBalance support
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/credit_refund_test.py
Owners: @majdyz, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
