Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix(backend): diagnostics
  autogpt_platform/backend/backend/util/cloud_storage.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): clarify logs comming from cloud storage
  autogpt_platform/backend/backend/util/cloud_storage.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Update cloud storage tests to mock Storage class directly
  autogpt_platform/backend/backend/util/cloud_storage_test.py
Owners: @Abhi1992002

fix(backend): Fix GCS timeout error in FileInput blocks (#10976)
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/backend/util/cloud_storage_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): Fix GCS timeout error in FileInput blocks (#10976)
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/backend/util/cloud_storage_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

more specific prompting is easier than lenient parsing
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

feat(load-tests): add session headers and dynamic token count for load testing
  autogpt_platform/backend/load-tests/generate-tokens.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Fix GCS timeout error in FileInput blocks (#10976)
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/backend/util/cloud_storage_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): Fix GCS timeout error in FileInput blocks (#10976)
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/backend/util/cloud_storage_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

remove tests for removed JSON parsing code
  autogpt_platform/backend/backend/util/test_json.py
Owners: @Abhi1992002

feat: Add 'depth' parameter to DataForSEO Related Keywords block (#10983)
  autogpt_platform/backend/backend/blocks/dataforseo/_api.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat: Add 'depth' parameter to DataForSEO Related Keywords block (#10983)
  autogpt_platform/backend/backend/blocks/dataforseo/_api.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Swiftyos, @ntindle, @Bentlybro

tweak system prompt
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(backend): enhance database indexes for AgentGraph and AgentGraphExecution performance
  autogpt_platform/backend/migrations/20250924230049_enhance_graph_and_execution_index/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

fix tests
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/test/test_llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

fix(load-tests): improve performance and error handling in core test scripts
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(load-tests): create unified test runner and clean up infrastructure
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/run-tests.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

feat(load-tests): restructure files into logical directories with clean organization
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/configs/pre-authenticated-tokens.example.js
  autogpt_platform/backend/load-tests/generate-tokens.js
  autogpt_platform/backend/load-tests/load-test-orchestrator.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
  autogpt_platform/backend/load-tests/run-tests.js
  autogpt_platform/backend/load-tests/tests/api/core-api-test.js
  autogpt_platform/backend/load-tests/tests/api/graph-execution-test.js
  autogpt_platform/backend/load-tests/tests/basic/connectivity-test.js
  autogpt_platform/backend/load-tests/tests/basic/single-endpoint-test.js
  autogpt_platform/backend/load-tests/tests/comprehensive/platform-journey-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/library-access-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/public-access-test.js
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos, @Abhi1992002

fix(load-tests): resolve ES module compatibility in generate-tokens.js
  autogpt_platform/backend/load-tests/generate-tokens.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

docs(load-tests): update README for restructured file organization
  autogpt_platform/backend/load-tests/README.md
Owners: @Bentlybro, @Pwuts

remove(load-tests): remove unnecessary k6 pod configuration
  autogpt_platform/backend/load-tests/k6-loadtesting-pod.yaml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): implement clean k6 load testing infrastructure (#10978)
  autogpt_platform/backend/load-tests/.gitignore
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/configs/k6-credentials.env.example
  autogpt_platform/backend/load-tests/configs/pre-authenticated-tokens.example.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/generate-tokens.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
  autogpt_platform/backend/load-tests/run-tests.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
  autogpt_platform/backend/load-tests/tests/api/core-api-test.js
  autogpt_platform/backend/load-tests/tests/api/graph-execution-test.js
  autogpt_platform/backend/load-tests/tests/basic/connectivity-test.js
  autogpt_platform/backend/load-tests/tests/basic/single-endpoint-test.js
  autogpt_platform/backend/load-tests/tests/comprehensive/platform-journey-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/library-access-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/public-access-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Abhi1992002

feat(backend): implement clean k6 load testing infrastructure (#10978)
  autogpt_platform/backend/load-tests/.gitignore
  autogpt_platform/backend/load-tests/README.md
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/configs/k6-credentials.env.example
  autogpt_platform/backend/load-tests/configs/pre-authenticated-tokens.example.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/generate-tokens.js
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/marketplace-access-load-test.js
  autogpt_platform/backend/load-tests/marketplace-library-load-test.js
  autogpt_platform/backend/load-tests/orchestrator/comprehensive-orchestrator.js
  autogpt_platform/backend/load-tests/run-tests.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/single-endpoint-test.js
  autogpt_platform/backend/load-tests/tests/api/core-api-test.js
  autogpt_platform/backend/load-tests/tests/api/graph-execution-test.js
  autogpt_platform/backend/load-tests/tests/basic/connectivity-test.js
  autogpt_platform/backend/load-tests/tests/basic/single-endpoint-test.js
  autogpt_platform/backend/load-tests/tests/comprehensive/platform-journey-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/library-access-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/public-access-test.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Abhi1992002

Restore`include=AGENT_GRAPH_INCLUDE`
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

hotfix: Fix Agent node missing inputs and outputs (#10987)
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

hotfix: Fix Agent node missing inputs and outputs (#10987)
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

feat(backend): enhance database indexes for AgentGraph and AgentGraphExecution performance (#10985)
  autogpt_platform/backend/migrations/20250924230049_enhance_graph_and_execution_index/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

feat(backend): enhance database indexes for AgentGraph and AgentGraphExecution performance (#10985)
  autogpt_platform/backend/migrations/20250924230049_enhance_graph_and_execution_index/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

fixed caching when adding agent from library
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fixed caching when saving an agent
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

remove some changes
  autogpt_platform/backend/load-tests/basic-connectivity-test.js
  autogpt_platform/backend/load-tests/configs/environment.js
  autogpt_platform/backend/load-tests/core-api-load-test.js
  autogpt_platform/backend/load-tests/data/test-users.json
  autogpt_platform/backend/load-tests/graph-execution-load-test.js
  autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/setup-test-users.js
  autogpt_platform/backend/load-tests/utils/auth.js
  autogpt_platform/backend/load-tests/utils/test-data.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): update mock feature flags to disable new flow editor and builder view switch
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix date time input
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/DateTImeInput.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): remove DateTimeInput widget and update import path
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/DateTimeInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix duplicated caching code
  autogpt_platform/backend/backend/server/routers/cache.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fmt
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): set default view to "old" in BuilderViewTabs
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderViewTabs/useBuilderViewTabs.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(blocks): Default disable HTML escaping in all blocks with templating features (#10955)
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/util/text.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix(blocks): Default disable HTML escaping in all blocks with templating features (#10955)
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/util/text.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

updated caching invalidation rules
  autogpt_platform/backend/backend/server/routers/cache.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
