Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix trigger input rendering
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix running template with edited inputs
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/useSelectedTemplateView.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix updating initial values
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

go to trigger view after setup
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyTasks.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat: add scrollable tabs
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/ScrollableTabs.stories.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/ScrollableTabs.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/components/ScrollableTabsContent.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/components/ScrollableTabsList.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/components/ScrollableTabsTrigger.tsx
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/context.ts
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/helpers.ts
  autogpt_platform/frontend/src/components/molecules/ScrollableTabs/useScrollableTabs.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Hide recent searches when empty
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix merge with upstream
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/RunAgentModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Remove unnecessary `useMemo`
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/useBlockMenuSearch.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchBar/useBlockMenuSearchBar.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix smol type issue
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

minor cleanup
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/RunAgentModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Fix assertion
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Disable single dollar sign LaTeX mode in markdown renderer
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/OutputRenderers/renderers/MarkdownRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Disable single dollar sign LaTeX mode in markdown renderer
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/OutputRenderers/renderers/MarkdownRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

rename BuilderSearch to BuilderSearchHistory
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/migrations/20251209182537_add_builder_search/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend/library): Fix trigger UX flows in v3 library (#11589)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/AgentInputsReadOnly.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/AgentInputsReadOnly/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/RunActions/RunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyTasks.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/SelectedRunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/useSelectedRunActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/SelectedTemplateView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedTemplateView/useSelectedTemplateView.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Disable single dollar sign LaTeX mode in markdown rend… (#11598)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/OutputRenderers/renderers/MarkdownRenderer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform): Builder search history (#11457)
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/builder/model.py
  autogpt_platform/backend/backend/server/v2/builder/routes.py
  autogpt_platform/backend/migrations/20251209182537_add_builder_search/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/useBlockMenuSearch.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchBar/useBlockMenuSearchBar.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/HorizontalScroll.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(frontend/library): Transition from empty tasks view on task init
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyTasks.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/useSidebarRunsList.ts
Owners: @0ubbe, @kcze, @Abhi1992002

remove unused import
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix marketplace agent block on search page
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/useBlockMenuSearch.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Enhance CustomEdge component with hover effects
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

handle comment
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/library): Transition from empty tasks view on task init (#11600)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyTasks.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/useSidebarRunsList.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
Owners: @0ubbe, @kcze, @Abhi1992002

style: Format Instagram blocks with Black, isort, and Ruff
  autogpt_platform/backend/backend/blocks/instagram/__init__.py
  autogpt_platform/backend/backend/blocks/instagram/comment.py
  autogpt_platform/backend/backend/blocks/instagram/follow.py
  autogpt_platform/backend/backend/blocks/instagram/like.py
  autogpt_platform/backend/backend/blocks/instagram/login.py
  autogpt_platform/backend/backend/blocks/instagram/post.py
  autogpt_platform/backend/backend/blocks/instagram/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix: Mark instagram dependency group as optional
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

security: Fix URL validation vulnerabilities in Instagram blocks
  autogpt_platform/backend/backend/blocks/instagram/comment.py
  autogpt_platform/backend/backend/blocks/instagram/like.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix: Remove instagrapi from Poetry dependencies, document pip install
  autogpt_platform/backend/backend/blocks/instagram/README.md
  autogpt_platform/backend/pyproject.toml
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

Fix Instagram blocks to download URLs before uploading
  autogpt_platform/backend/backend/blocks/instagram/post.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Add Instagram automation blocks
  autogpt_platform/backend/backend/blocks/instagram/README.md
  autogpt_platform/backend/backend/blocks/instagram/__init__.py
  autogpt_platform/backend/backend/blocks/instagram/auth.py
  autogpt_platform/backend/backend/blocks/instagram/comment.py
  autogpt_platform/backend/backend/blocks/instagram/follow.py
  autogpt_platform/backend/backend/blocks/instagram/like.py
  autogpt_platform/backend/backend/blocks/instagram/login.py
  autogpt_platform/backend/backend/blocks/instagram/post.py
  autogpt_platform/backend/backend/blocks/instagram/search.py
  autogpt_platform/backend/pyproject.toml
Owners: @Bentlybro, @Pwuts, @Swiftyos, @ntindle, @majdyz

fix: Exclude Instagram blocks from pyright type checking
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: Make Instagram block imports optional when instagrapi not installed
  autogpt_platform/backend/backend/blocks/instagram/__init__.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix: Handle ImportError when loading blocks with missing dependencies
  autogpt_platform/backend/backend/blocks/__init__.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix: Move instagrapi to optional dependency group to resolve conflicts
  autogpt_platform/backend/backend/blocks/instagram/README.md
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/pyproject.toml
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos

fix: Skip Instagram blocks in automated tests
  autogpt_platform/backend/backend/blocks/test/test_block.py
Owners: @Abhi1992002

fix: Add section comment to Instagram auth.py to trigger lint re-check
  autogpt_platform/backend/backend/blocks/instagram/auth.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Format Instagram blocks with isort and black
  autogpt_platform/backend/backend/blocks/instagram/auth.py
  autogpt_platform/backend/backend/blocks/instagram/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Add mobile Instagram URL support (m.instagram.com)
  autogpt_platform/backend/backend/blocks/instagram/comment.py
  autogpt_platform/backend/backend/blocks/instagram/like.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Improve Instagram blocks dependency and test strategy
  autogpt_platform/backend/backend/blocks/instagram/README.md
  autogpt_platform/backend/backend/blocks/test/test_block.py
  autogpt_platform/backend/pyproject.toml
Owners: @Bentlybro, @Pwuts, @Abhi1992002, @majdyz, @ntindle, @Swiftyos

fix(blocks): Remove instagrapi from poetry deps to fix CI
  autogpt_platform/backend/backend/blocks/instagram/README.md
  autogpt_platform/backend/backend/blocks/instagram/auth.py
  autogpt_platform/backend/pyproject.toml
Owners: @Bentlybro, @Pwuts, @Swiftyos, @ntindle, @majdyz

chore: Update poetry.lock after removing instagrapi
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos
