Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

fix(frontend): ensure rejected review data is properly sent instead of null
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): unify approve/reject logic in PendingReviewsList
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(platform): resolve null rejected data issue and simplify review processing
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): simplify review route logic to remove duplication
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): ensure rejected reviews return actual data in human_review.py
  autogpt_platform/backend/backend/data/human_review.py
Owners: @majdyz

fix(backend): resolve variable naming conflict in review routes
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Remove the text
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): forward X-API-Key header through proxy (#11530)
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/constants.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance FileInput component with new variants and modes
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.stories.tsx
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/FileWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): add copy functionality to NodeContextMenu
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): add copy functionality to NodeContextMenu
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: autogpt_platform/frontend/package.json to reduce vulnerabilities
  autogpt_platform/frontend/package.json
Owners: @0ubbe, @kcze, @Abhi1992002

Update Next.js and related dependencies to 15.4.8
  autogpt_platform/frontend/pnpm-lock.yaml
Owners: @0ubbe, @kcze, @Abhi1992002

fix: PR Fixes
  autogpt_platform/backend/backend/blocks/google/_drive.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @0ubbe, @kcze, @Abhi1992002

feat(backend): Add Google Drive file input block and improve credential error handling
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

ghrs: snap 12-03-2302-C2D2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-03_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-03-2302-C2D2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-03_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-03-2302-C2D2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-03-2302-C2D2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend): Mark ValueError as known block errors
  autogpt_platform/backend/backend/data/block.py
Owners: @majdyz

cleanup
  autogpt_platform/backend/backend/data/block.py
Owners: @majdyz

feat(platform): add Agent Output Demo field to marketplace submission form
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/model_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/migrations/20251204012214_add_marketplace_agent_output_video_column/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/lib/utils.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(platform): update API types for Agent Output Demo field
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

Improve dialog behavior with Google Drive Picker
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/__legacy__/ui/dialog.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix
  autogpt_platform/backend/migrations/20251204012214_add_marketplace_agent_output_video_column/migration.sql
  autogpt_platform/backend/snapshots/agt_details
  autogpt_platform/backend/snapshots/sub_success
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Discard changes to autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Remove unused `get_credentials_blocks`
  autogpt_platform/backend/backend/data/onboarding.py
Owners: @majdyz

fix: Detect duplicate auto_credentials kwarg_name in BlockSchema (#11539)
  autogpt_platform/backend/backend/blocks/test/test_block.py
  autogpt_platform/backend/backend/data/block.py
Owners: @Abhi1992002, @majdyz

fix: Handle _credentials_id=None vs missing key in credential handling (#11541)
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Update schema field types and improve provider lookup
  autogpt_platform/backend/backend/blocks/test/test_block.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/executor): credential lock management in block execution (#11540)
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Remove multiselect option from GoogleDriveFileInputBlock (#11542)
  autogpt_platform/backend/backend/blocks/io.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Refactor credential lock handling in execute_node
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

pass credential type
  autogpt_platform/backend/backend/server/external/routes/integrations.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

formatting
  autogpt_platform/backend/backend/server/external/routes/integrations.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): implement new actions sidebar
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/AgentActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/LoadingSelectedContent.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/OutputRenderers/components/OutputItem.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailCard/RunDetailCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/RunOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/RunSummary.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/SelectedRunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedRunView/components/SelectedRunActions/useSelectedRunActions.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/SelectedScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/ScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedScheduleView/components/SelectedScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/SelectedViewLayout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/ShareRunButton/ShareRunButton.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/sidebar/SidebarRunsList/SidebarRunsList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/useNewAgentLibraryView.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/atoms/Button/Button.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
  autogpt_platform/frontend/src/components/molecules/FloatingSafeModeToggle/FloatingSafeModeToggle.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add support for host-scoped credentials in CredentialField
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/HostScopedCredentialsModal/HostScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/HostScopedCredentialsModal/useHostScopedCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/useCredentialField.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(backend): improve SmartDecisionMakerBlock tool execution with proper database operations
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

refactor: simplify agent mode iteration conditions
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): conditionally render NodeHandle component in NodeArrayInput
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002
