Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

ghrs: snap 10-26-2302-493E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-26_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-26-2302-493E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-26_230245_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-26-2302-493E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-26-2302-493E for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(backend): Address review feedback on webhook cleanup
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): Move safe imports to top-level in integrations.py
  autogpt_platform/backend/backend/data/integrations.py
Owners: @majdyz

refactor(frontend): update ArrayEditor and remove unused NodeData components
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/components/ArrayEditor/ArrayEditor.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeDataRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/NodeOutput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ContentRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ViewMoreData.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/useNodeOutput.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: persist Agent Executor title after save/reload
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: properly display agent title with version in CustomNode title rendering
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(blocks): Add missing error output pins to all Firecrawl blocks (#11256)
  autogpt_platform/backend/backend/blocks/firecrawl/crawl.py
  autogpt_platform/backend/backend/blocks/firecrawl/extract.py
  autogpt_platform/backend/backend/blocks/firecrawl/map.py
  autogpt_platform/backend/backend/blocks/firecrawl/scrape.py
  autogpt_platform/backend/backend/blocks/firecrawl/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Add missing error output pins to all Firecrawl blocks (#11256)
  autogpt_platform/backend/backend/blocks/firecrawl/crawl.py
  autogpt_platform/backend/backend/blocks/firecrawl/extract.py
  autogpt_platform/backend/backend/blocks/firecrawl/map.py
  autogpt_platform/backend/backend/blocks/firecrawl/scrape.py
  autogpt_platform/backend/backend/blocks/firecrawl/search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(frontend): enhance NodeOutput and NodeDataViewer components
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/NodeOutput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/NodeDataViewer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/useNodeDataViewer.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ViewMoreData.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Update test_get_input_schema to use BlockSchema base
  autogpt_platform/backend/backend/data/graph_test.py
Owners: @Abhi1992002

fix(backend): Add missing BlockSchema import in graph_test.py
  autogpt_platform/backend/backend/data/graph_test.py
Owners: @Abhi1992002

fix flags and lint
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/NodeDataViewer/NodeDataViewer.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

WARNING Skipped queueing -> INFO
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: peer deps...
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
Owners: @0ubbe, @kcze, @Abhi1992002

Update use-get-flag.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: remove annoying test
  autogpt_platform/frontend/src/tests/library.spec.ts
Owners: @Abhi1992002

refactor: suggestion
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/AgentOnboardingCredentials.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/store): Sanitize all sql terms (#11228)
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/store): Sanitize all sql terms (#11228)
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/store): Sanitize all sql terms (#11228)
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend/store): Sanitize all sql terms (#11228)
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Support channel name and server name for thread creation
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
Owners: @Swiftyos, @ntindle, @Bentlybro

format
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
Owners: @Swiftyos, @ntindle, @Bentlybro

added get setup info tool
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Remove Claude 3.5 Sonnet and Haiku model references
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

chore: remove boilerplate file
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/AgentOnboardingCredentials.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/types.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: prettier
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/__legacy__/ui/checkbox.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/dialog.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/dropdown-menu.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/select.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/sheet.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/table.tsx
  autogpt_platform/frontend/src/components/atoms/Switch/Switch.tsx
  autogpt_platform/frontend/src/components/molecules/DropdownMenu/DropdownMenu.tsx
  autogpt_platform/frontend/src/components/molecules/TabsLine/TabsLine.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Credentials disabling onboarding `Run` button (#11244)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/AgentOnboardingCredentials.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/RunAgentHint.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/SelectedAgentCard.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/StarRating.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/__legacy__/ui/checkbox.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/dialog.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/dropdown-menu.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/select.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/sheet.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/table.tsx
  autogpt_platform/frontend/src/components/atoms/Switch/Switch.tsx
  autogpt_platform/frontend/src/components/molecules/DropdownMenu/DropdownMenu.tsx
  autogpt_platform/frontend/src/components/molecules/TabsLine/TabsLine.tsx
  autogpt_platform/frontend/src/tests/library.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Credentials disabling onboarding `Run` button (#11244)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/AgentOnboardingCredentials.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/AgentOnboardingCredentials/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/RunAgentHint.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/SelectedAgentCard.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/helpers.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/useOnboardingRunStep.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/StarRating.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/__legacy__/ui/checkbox.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/dialog.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/dropdown-menu.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/select.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/sheet.tsx
  autogpt_platform/frontend/src/components/__legacy__/ui/table.tsx
  autogpt_platform/frontend/src/components/atoms/Switch/Switch.tsx
  autogpt_platform/frontend/src/components/molecules/DropdownMenu/DropdownMenu.tsx
  autogpt_platform/frontend/src/components/molecules/TabsLine/TabsLine.tsx
  autogpt_platform/frontend/src/tests/library.spec.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): agent activity graph names (#11233)
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/useCopyPaste.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/useTimezoneDetection.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/hooks/useLibraryAgents/store.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/useLibraryAgents.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): agent activity graph names (#11233)
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/useCopyPaste.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/useAgentInfo.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/useTimezoneDetection.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/hooks/useLibraryAgents/store.ts
  autogpt_platform/frontend/src/hooks/useLibraryAgents/useLibraryAgents.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): waitlist modal copy
  autogpt_platform/frontend/src/app/(platform)/auth/auth-code-error/page.tsx
  autogpt_platform/frontend/src/components/auth/EmailNotAllowedModal.tsx
  autogpt_platform/frontend/src/components/auth/WaitlistErrorContent.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix
  autogpt_platform/frontend/src/components/auth/EmailNotAllowedModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Add migration to update Claude 3.5 to 4.5 models
  autogpt_platform/backend/migrations/20251027162201_migrate_claude_3_5_to_4_5_models/migration.sql
Owners: @majdyz

Simplify Claude model migration SQL script
  autogpt_platform/backend/migrations/20251027162201_migrate_claude_3_5_to_4_5_models/migration.sql
Owners: @majdyz

feat(blocks/claude): Remove Claude 3.5 Sonnet and Haiku model (#11260)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/migrations/20251027162201_migrate_claude_3_5_to_4_5_models/migration.sql
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

fix(frontend/builder): Fix unnecessary graph re-saving (#11145)
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002
