Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

feat(frontend): enhance CustomNode styling with conditional border and shadow
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

log search terms
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251006084123_log_search_terms/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): wallet popover position
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): login issues possibly turnstile
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/auth/Turnstile2.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: types
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add new credential field for new builder (#11066)
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/credentialStore.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): add new credential field for new builder (#11066)
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/credentialStore.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

refactor(frontend): simplify marketplace search page and update data fetching (#11061)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/MainSearchResultPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/useMainSearchResultPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
  autogpt_platform/frontend/src/components/__legacy__/SortDropdown.tsx
  autogpt_platform/frontend/src/tests/pages/marketplace.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): simplify marketplace search page and update data fetching (#11061)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/MainSearchResultPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/useMainSearchResultPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
  autogpt_platform/frontend/src/components/__legacy__/SortDropdown.tsx
  autogpt_platform/frontend/src/tests/pages/marketplace.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add selecting UI for custom node in new builder (#11091)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add selecting UI for custom node in new builder (#11091)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): possible login issues related to turnstile (#11094)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile2.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): possible login issues related to turnstile (#11094)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile2.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): remove captcha ref reset
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): remove captcha ref reset
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): launchdarkly tracking on frontend browser (#11076)
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): launchdarkly tracking on frontend browser (#11076)
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): fix captcha reset
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/auth/Turnstile2.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): fix captcha reset
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/auth/Turnstile2.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix for Bearer token
  autogpt_platform/backend/backend/data/model.py
Owners: @majdyz

fix(frontend): more turnstile experiments
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile2.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): more turnstile experiments
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile2.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): more turnstile experiments (2)
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): more turnstile experiments (2)
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

this is a simpler fix
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

properly clear execution results
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 10-06-2303-A228 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-06_230327_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-06-2303-A228 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-06-2303-A228 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-06_230327_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-06-2303-A228 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

renamed search history to search term and moved logging it until after the function returns
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251006084123_log_search_terms/migration.sql
  autogpt_platform/backend/migrations/20251007002516_log_search_terms/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix merge conlict correction error
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

FEAT: Optimize scheduler for full autonomous execution - 10x performance improvement
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): enhance credential field UI and functionality
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): update OpenAPI documentation for provider field
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend/executor): add Discord alerts for unknown graph execution errors
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Anonymize the data by preventing correlation with other logs
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20251007084233_log_search_terms/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

move to platform
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix
  autogpt_platform/backend/backend/data/rabbitmq.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
