Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers, @Significant-Gravitas/admins

.github/CODEOWNERS:

* @Significant-Gravitas/maintainers
.github/workflows/ @Significant-Gravitas/devops
classic/forge/ @Significant-Gravitas/forge-maintainers
classic/benchmark/ @Significant-Gravitas/benchmark-maintainers
classic/frontend/ @Significant-Gravitas/frontend-maintainers
autogpt_platform/infra @Significant-Gravitas/devops
.github/CODEOWNERS @Significant-Gravitas/admins

ghrs: vc agg 08-20-2302-9726 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-20_230251_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 08-20-2302-9726 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers

Apply suggestion from @Copilot
  .github/copilot-instructions.md
Owners: @Significant-Gravitas/maintainers

fix: address PR review feedback for Copilot setup
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops

fix: improve Copilot setup configuration
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops

fix: remove redundant migration step from Copilot setup
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

feat(backend): refactor timezone handling by moving TimeZoneName to a new utility module
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/util/timezone_name.py
Owners: @Significant-Gravitas/maintainers

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Owners: @Significant-Gravitas/maintainers

fix(frontend): remove deprecated timezone 'Factory' from API definitions
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers

perf: optimize Copilot setup workflow to reduce runtime from 7m to ~3m
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

perf: implement two-phase Docker build to reduce setup time
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

perf: only build migrate service for Copilot
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

fix: configure pnpm store directory for proper caching
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

fix: restore bake step to build migrate image properly
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

fix: use buildx directly with correct image tag for migrate
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

feat(ci): pre-pull Supabase images for faster Copilot setup
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

feat(ci): implement Docker image caching with save/load
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

Delete autogpt_platform/TIMEZONE_IMPLEMENTATION_HANDOFF.md
  autogpt_platform/TIMEZONE_IMPLEMENTATION_HANDOFF.md
Owners: @Significant-Gravitas/maintainers

perf(ci): parallelize Docker image loading from cache
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

perf(ci): save Docker images to cache in background
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

fix(ci): improve Docker cache strategy for branch workflow
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

chore(ci): remove Supabase CLI setup from Copilot workflow
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

chore(ci): remove GitHub CLI installation step
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

feat(ci): add detailed logging for service startup debugging
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

fix(ci): use POSIX-compatible shell syntax for migration check
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

fix(ci): improve migrate service detection using docker ps
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

fix(backend): remove unnecessary logging of user timezone in time block classes
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @Significant-Gravitas/maintainers

Added DataForSEO blocks
  autogpt_platform/backend/backend/blocks/dataforseo/__init__.py
  autogpt_platform/backend/backend/blocks/dataforseo/_api.py
  autogpt_platform/backend/backend/blocks/dataforseo/_config.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
  autogpt_platform/backend/backend/sdk/provider.py
Owners: @Significant-Gravitas/maintainers

Added Extractor block
  autogpt_platform/backend/backend/blocks/dataforseo/_api.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Significant-Gravitas/maintainers

Fix formatting
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Significant-Gravitas/maintainers

add data transformer to parse dates in responses
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/use-agent-runs.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/app/api/mutators/date-transformer.ts
Owners: @Significant-Gravitas/maintainers

fix vertical + horizontal scroll behavior
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/InfiniteScroll.tsx
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
  autogpt_platform/frontend/src/components/ui/scroll-area.tsx
Owners: @Significant-Gravitas/maintainers

fix: instructions
  .github/copilot-instructions.md
Owners: @Significant-Gravitas/maintainers

fix return type of `getGraphExecutions`
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

fix Publish Agent dialog breakage
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
Owners: @Significant-Gravitas/maintainers

fix double load on scroll
  autogpt_platform/frontend/src/components/contextual/InfiniteScroll/useInfiniteScroll.ts
Owners: @Significant-Gravitas/maintainers

prevent API calls with undefined parameter
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/use-agent-runs.ts
Owners: @Significant-Gravitas/maintainers

feat(backend): pull requrest changes
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/data/credit_test.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/backend/util/timezone_utils.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Significant-Gravitas/maintainers

fix(frontend): remove timezone field from API schema
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers

feat(frontend): integrate user timezone retrieval for schedule display
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/timezone-utils.ts
Owners: @Significant-Gravitas/maintainers
