Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

Update autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/execution.py
Owners: @majdyz

chore: fixes
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
Owners: @0ubbe

fix(frontend): handle avatar missing images better (#10903)
  autogpt_platform/frontend/next.config.mjs
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): handle avatar missing images better (#10903)
  autogpt_platform/frontend/next.config.mjs
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Move groups and add tasks, hover text
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

fix: Properly address PR review comments
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/data/execution.py
Owners: @ntindle, @Bentlybro, @0ubbe, @majdyz

ci: run Pyright type-checking for specific Python versions in CI (closes #10657)
  .github/workflows/platform-backend-ci.yml
  pyrightconfig.json
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

fix: Revert unnecessary Dockerfile changes
  autogpt_platform/backend/Dockerfile
Owners: @ntindle, @Bentlybro, @0ubbe

fix: Restore migrate dependency in docker-compose.yml
  autogpt_platform/docker-compose.yml
Owners: @ntindle, @Bentlybro, @0ubbe

fix(frontend): improve loading state for agent runs view
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentRunsLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/RunsSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunsSidebar/useRunsSidebar.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/useAgentRunsView.ts
  autogpt_platform/frontend/src/app/api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): delete actions behind dialogs in agent runs view
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/AgentActionsDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/DefaultRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalScheduleSection/ScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalScheduleSection/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalScheduleSection/useModalScheduleSection.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/components/AgentActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/ScheduleDetails/ScheduleDetails.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/ScheduleDetails/components/EditScheduleModal/useEditScheduleModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/ScheduleDetails/components/ScheduleActions.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/atoms/Button/helpers.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: tidy up
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/useRunDetailHeader.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Input rendering from jsonSchema
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/InputRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/fields/AnyField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/fields/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/fields/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/fields/ObjectField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/fields/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/processors/input-schema-pre-processor.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/schema.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/templates/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/DateTImeInput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/FileWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/SelectWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/SwitchWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/TextInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/TimeInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/widgets/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/store/nodeStore.ts
  autogpt_platform/frontend/src/components/atoms/DateInput/DateInput.tsx
  autogpt_platform/frontend/src/components/atoms/DateTimeInput/DateTimeInput.tsx
  autogpt_platform/frontend/src/components/atoms/Select/Select.tsx
  autogpt_platform/frontend/src/components/atoms/TimeInput/TimeInput.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

create handle store
  autogpt_platform/frontend/src/app/(platform)/build/components/store/handleStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/db): Keep `CreditTransaction` entries on `User` delete
  autogpt_platform/backend/migrations/20250912164006_keep_credit_transactions_on_user_delete/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

fix(backend/db): Keep `CreditTransaction` entries on `User` delete (#10917)
  autogpt_platform/backend/migrations/20250912164006_keep_credit_transactions_on_user_delete/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

fix(backend/db): Keep `CreditTransaction` entries on `User` delete (#10917)
  autogpt_platform/backend/migrations/20250912164006_keep_credit_transactions_on_user_delete/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

fix(backend/db): Keep `CreditTransaction` entries on `User` delete (#10917)
  autogpt_platform/backend/migrations/20250912164006_keep_credit_transactions_on_user_delete/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

fix(backend/db): Keep `CreditTransaction` entries on `User` delete (#10917)
  autogpt_platform/backend/migrations/20250912164006_keep_credit_transactions_on_user_delete/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz

add manual dispatch to deploy workflows
  .github/workflows/platform-autogpt-deploy-prod.yml
Owners: @Significant-Gravitas/devops

dev as well
  .github/workflows/platform-autogpt-deploy-dev.yaml
Owners: @Significant-Gravitas/devops

prod deploy only master
  .github/workflows/platform-autogpt-deploy-prod.yml
Owners: @Significant-Gravitas/devops

ghrs: snap 09-12-2302-A414 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-12_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-12-2302-A414 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-12_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-12-2302-A414 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-12-2302-A414 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

day-3
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomEdge/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/InputRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/fields/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/hooks/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/RIghtSidebar.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helpers/edge_helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/store/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/store/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

reshuffling
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/CustomNode/store/customNodeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/InputRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/AnyOfField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/ObjectField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/schema.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/templates/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/DateInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/DateTImeInput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/FileWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/SelectWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/SwitchWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/TextInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/TimeInputWidget.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/widgets/index.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/processors/input-schema-pre-processor.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/store/credentialStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/store/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/store/handleStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/store/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 09-13-2302-575B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-13_230235_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-13-2302-575B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-13-2302-575B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-13_230235_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-13-2302-575B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Fix: Preserve timezone-independent cron schedules
  SCHEDULE_RESET_BUG_FIX.md
  autogpt_platform/backend/backend/util/timezone_utils.py
  autogpt_platform/backend/test/test_timezone_utils.py
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos, @Abhi1992002

Discard changes to autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/pnpm-lock.yaml
Owners: @0ubbe, @kcze, @Abhi1992002

Discard changes to autogpt_platform/frontend/package.json
  autogpt_platform/frontend/package.json
Owners: @0ubbe, @kcze, @Abhi1992002

feat: on hover + similarness of header to existing
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

ref: pr fixes
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/hooks/useFavoriteAgents.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 09-14-2302-F82A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-14_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-14-2302-F82A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-14-2302-F82A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-14_230240_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
