Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

ghrs: stars and forks 09-15-2302-12C6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-15-2302-12C6 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

ref: pull request changes
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/hooks/useFavoriteAgents.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ref: Remove unused import in useFavoriteAgents hook
  autogpt_platform/frontend/src/app/(platform)/library/hooks/useFavoriteAgents.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Remove unnecessary block categorization from metrics
  autogpt_platform/backend/backend/monitoring/instrumentation.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Address PR review feedback on metrics
  autogpt_platform/backend/backend/monitoring/instrumentation.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

docs(backend): Document unused parameters kept for future use
  autogpt_platform/backend/backend/monitoring/instrumentation.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

style: Apply formatting from poetry run format
  autogpt_platform/backend/backend/monitoring/instrumentation.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): Add comprehensive Prometheus instrumentation for observability (#10923)
  autogpt_platform/backend/backend/monitoring/instrumentation.py
  autogpt_platform/backend/backend/server/external/api.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): Add comprehensive Prometheus instrumentation for observability (#10923)
  autogpt_platform/backend/backend/monitoring/instrumentation.py
  autogpt_platform/backend/backend/server/external/api.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend/builder): Fix moved blocks disappearing on no-op save (#10927)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend/builder): Fix moved blocks disappearing on no-op save (#10927)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat: Separate OpenAI key for smart agent execution summary and other internal AI calls
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix failing test
  autogpt_platform/backend/backend/executor/activity_status_generator_test.py
Owners: @Abhi1992002

feat: Separate OpenAI key for smart agent execution summary and other internal AI calls (#10930)
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/activity_status_generator_test.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat: Separate OpenAI key for smart agent execution summary and other internal AI calls (#10930)
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/activity_status_generator_test.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

feat(platform): add instructions field to agent submissions
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/DefaultRunView.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(blocks): Fix feedback loops in AI Structured Response Generator Block
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

dx(platform): Add manual dispatch to deploy workflows (#10918)
  .github/workflows/platform-autogpt-deploy-dev.yaml
  .github/workflows/platform-autogpt-deploy-prod.yml
Owners: @Significant-Gravitas/devops

dx(platform): Add manual dispatch to deploy workflows (#10918)
  .github/workflows/platform-autogpt-deploy-dev.yaml
  .github/workflows/platform-autogpt-deploy-prod.yml
Owners: @Significant-Gravitas/devops

improve system prompt
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix: regenerate API types with instructions field
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20250916193100_add_instructions_field/migration.sql
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalRunSection/DefaultRunView.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/helpers.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(migration): wrap instructions field migration in transaction
  autogpt_platform/backend/migrations/20250916193100_add_instructions_field/migration.sql
Owners: @majdyz

fix json repr
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): improve instructions field placement in submission form
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix: add instructions field to agent approval flow and update test snapshots
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20250916193100_add_instructions_field/migration.sql
  autogpt_platform/backend/snapshots/agt_details
  autogpt_platform/backend/snapshots/sub_success
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): add Setup Instructions section to agent sidebar
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

debug: temporarily show Setup Instructions section always with debug info
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

debug: add visible debug indicators to diagnose sidebar visibility issue
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add Setup Instructions to both agent run views
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): enhance agent retrieval logic in store database
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): update test snapshots for instructions field
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
  autogpt_platform/backend/snapshots/lib_agts_search
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: improvements
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/loading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: cache
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): enhance store agent details retrieval in tests
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @Abhi1992002

small fix
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @Abhi1992002

fix format
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @Abhi1992002

fix(backend): improve test for store agent details retrieval
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @Abhi1992002

fix: the api key credentilas weren't registering correctly
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
Owners: @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix: the api key credentilas weren't registering correctly
  autogpt_platform/backend/backend/sdk/registry.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
Owners: @Swiftyos, @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
