Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

fix(frontend): agent favorites layout (#11733)
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/components/FavoriteButton.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/useLibraryAgentCard.ts
  autogpt_platform/frontend/src/app/(platform)/library/hooks/useFavoriteAgents.ts
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/components/molecules/Toast/styles.module.css
  autogpt_platform/frontend/src/components/molecules/Toast/toaster.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend,frontend): optional credentials flag for blocks at agent level (#11716)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/graph_test.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/uiSchema.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/components/CredentialsSelect/CredentialsSelect.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/useCredentialsInput.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/components/ModalRunSection/ModalRunSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/RunAgentModal/useAgentRunModal.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/custom/CredentialField/components/CredentialFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Abhi1992002, @Pwuts, @0ubbe, @kcze

feat(backend): add prisma types stub generator for pyright compatibility
  .github/workflows/claude-dependabot.yml
  .github/workflows/claude.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/Makefile
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/blocks/airtable/_webhook.py
  autogpt_platform/backend/gen_prisma_types_stub.py
  autogpt_platform/backend/linter.py
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers, @ntindle, @Bentlybro, @0ubbe, @majdyz, @Pwuts, @Swiftyos

added stub generator to docker ignore
  .dockerignore
Owners: @Significant-Gravitas/maintainers

standarisd stub generation invokation
  .github/workflows/claude-dependabot.yml
  .github/workflows/claude.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/linter.py
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/devops, @ntindle, @Bentlybro, @0ubbe, @majdyz, @Pwuts, @Swiftyos

add disk clean up setp to avoid oom issues
  .github/workflows/copilot-setup-steps.yml
Owners: @Significant-Gravitas/devops

Improve LLM model default selection and admin actions
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/llm_registry/registry.py
  autogpt_platform/backend/migrations/20260107100000_add_llm_recommended_model/migration.sql
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @0ubbe, @kcze, @Abhi1992002

make hybrid search work in platform schema
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/migrations/20251216181700_add_store_embeddings/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): add prisma types stub generator for pyright compatibility (#11736)
  .dockerignore
  .github/workflows/claude-dependabot.yml
  .github/workflows/claude.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/Makefile
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/blocks/airtable/_webhook.py
  autogpt_platform/backend/gen_prisma_types_stub.py
  autogpt_platform/backend/linter.py
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops, @ntindle, @Bentlybro, @0ubbe, @majdyz, @Pwuts, @Swiftyos

fix(platform): fix library agent version updates and image prepopulation
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix: use unqualified vector type for operator compatibility
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/migrations/20251216181700_add_store_embeddings/migration.sql
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

wip: fixes
  docs/.gitbook/assets/AGPT_Platform.png
  docs/.gitbook/assets/Banner_image.png
  docs/.gitbook/assets/Contribute.png
  docs/.gitbook/assets/Integrations.png
  docs/.gitbook/assets/Screenshot 2025-08-11 at 12.21.17 PM.png
  docs/.gitbook/assets/api-reference.jpg
  docs/.gitbook/assets/hosted.jpg
  docs/.gitbook/assets/no-code.jpg
  docs/.gitbook/assets/replicate-prediction-yt6p2d3gjhrma0ctdsv8vp1t70.jpeg
  docs/SUMMARY.md
Owners: @Bentlybro, @Pwuts

wip: fixes
  docs/.gitbook/assets/AGPT_Platform.png
  docs/.gitbook/assets/Banner_image.png
  docs/.gitbook/assets/Contribute.png
  docs/.gitbook/assets/Integrations.png
  docs/.gitbook/assets/Screenshot 2025-08-11 at 12.21.17 PM.png
  docs/.gitbook/assets/api-reference.jpg
  docs/.gitbook/assets/hosted.jpg
  docs/.gitbook/assets/no-code.jpg
  docs/.gitbook/assets/replicate-prediction-yt6p2d3gjhrma0ctdsv8vp1t70.jpeg
  docs/README.md
  docs/SUMMARY.md
Owners: @Bentlybro, @Pwuts

wip: fixes
  docs/platform/README.md
Owners: @Bentlybro, @Pwuts

fix(backend): set search_path for vector type visibility in hybrid search
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): add AutoGPT logo to share page and zip download for outputs
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/(no-navbar)/share/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/selected-views/OutputRenderers/utils/download.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): implement unified content embeddings with userId support
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/embeddings_test.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/migrations/20260107092806_add_store_listing_embeddings/migration.sql
  autogpt_platform/backend/migrations/20260107140000_add_search_gin_index/migration.sql
  autogpt_platform/backend/migrations/20260109181714_add_docs_embedding/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

docs(blocks): Improve documentation clarity and consistency across various blocks
  docs/content/platform/blocks/basic.md
  docs/content/platform/blocks/data.md
  docs/content/platform/blocks/github/issues.md
  docs/content/platform/blocks/google/gmail.md
  docs/content/platform/blocks/google/sheets.md
  docs/content/platform/blocks/jina/search.md
  docs/content/platform/blocks/llm.md
  docs/content/platform/blocks/text.md
Owners: @Bentlybro, @Pwuts

increase length limit
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): move share page logo to top right and link to login
  autogpt_platform/frontend/src/app/(no-navbar)/share/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(test): add timing delays to fix flaky queue ordering test
  autogpt_platform/backend/test_requeue_integration.py
Owners: @Abhi1992002

feat!(blocks): Add Reddit OAuth2 integration and advanced Reddit blocks (#11623)
  .branchlet.json
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/reddit.py
  autogpt_platform/backend/backend/util/settings.py
  docs/platform/block-sdk-guide.md
  docs/platform/new_blocks.md
Owners: @Significant-Gravitas/maintainers, @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

refactor(backend): improve HITL review system code quality
  autogpt_platform/backend/backend/blocks/helpers/review.py
  autogpt_platform/backend/backend/data/block.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

fix(backend): enforce type contract for review data in blocks
  autogpt_platform/backend/backend/data/block.py
Owners: @majdyz

fix(backend): library agent creation and version update improvements (#11731)
  autogpt_platform/backend/backend/api/features/library/db.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(backend): add human-in-the-loop review system for blocks requiring approval (#11732)
  autogpt_platform/backend/backend/blocks/helpers/review.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/pyproject.toml
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix: qol improvements + uuid regen
  autogpt_platform/backend/backend/blocks/wordpress/_api.py
  autogpt_platform/backend/backend/blocks/wordpress/blog.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat: type the post correctly
  autogpt_platform/backend/backend/blocks/wordpress/_api.py
  autogpt_platform/backend/backend/blocks/wordpress/blog.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): enable WordPress API error handling with raise_for_status=False
  autogpt_platform/backend/backend/blocks/wordpress/_api.py
Owners: @Swiftyos, @ntindle, @Bentlybro

refactor(platform): simplify waitlist code and remove type duplication
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/EditWaitlistDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/WaitlistSignupsDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/WaitlistTable.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistCard/WaitlistCard.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

ghrs: snap 01-09-2303-55BF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-09_230328_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-09_230328_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-09_230328_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 01-09-2303-55BF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 01-09-2303-55BF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-09_230328_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 01-09-2303-55BF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(platform): address PR review feedback for waitlist feature
  autogpt_platform/backend/backend/api/features/admin/waitlist_admin_routes.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/routes.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/WaitlistSignupsDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/WaitlistCard/WaitlistCard.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(docs): Update generate_block_docs.py output path
  autogpt_platform/backend/scripts/generate_block_docs.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(frontend): migrate EditWaitlistDialog to design system and generated API
  autogpt_platform/frontend/src/app/(platform)/admin/waitlist/components/EditWaitlistDialog.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): use customized block names in smart decision maker
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

do not treat schema as anyOf if it has enum
  autogpt_platform/frontend/src/components/renderers/InputRenderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/schema-utils.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(feature-flags): update mock feature flags to disable NEW_FLOW_EDITOR and BUILDER_VIEW_SWITCH
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
