Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

Discard changes to autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/instrumentation-client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 01-05-2303-15E3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-05_230309_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-05_230309_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-05_230309_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 01-05-2303-15E3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-05_230309_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 01-05-2303-15E3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 01-05-2303-15E3 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

refactor(frontend): update styling and remove unused components in input-renderer-2
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/AnyOfSelector.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/MultiSchemaFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/components/AnyOfFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/index.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/useAnyOfField.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/buttons/AddButton.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/buttons/SubmitButton.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/errors/ErrorList.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldHelpTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/CheckboxInput/CheckBoxWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/SelectInput/SelectWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/OptionalDataControlsTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/Theme.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/field.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/templates.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): simplify GoogleDrivePickerField component and improve data handling
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/GoogleDrivePickerField/GoogleDrivePickerField.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance edge store functionality and input handling
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/anyof/components/AnyOfFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/anyof/useAnyOfField.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/object/ObjectFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/object/WrapIfAdditionalTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/docs/HEIRARCHY.md
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002, @Bentlybro, @Pwuts

refactor(frontend): enhance FieldTemplate and schema-utils for improved label handling
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/utils/schema-utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): streamline input rendering components by removing unused imports and simplifying props
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/components/AnyOfFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/useAnyOfField.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArraySchemaField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/buttons/AddButton.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/buttons/IconButton.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/buttons/SubmitButton.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/buttons/index.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/errors/ErrorList.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/DescriptionField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldErrorTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldHelpTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/constants.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/CheckboxInput/CheckBoxWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/DateInput/DateWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/DateTimeInput/DateTimeWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/FileInput/FileWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/SelectInput/SelectWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/TextInput/TextWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/TimeInput/TimeWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/ObjectFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/OptionalDataControlsTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/WrapIfAdditionalTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/Form.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/Theme.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/custom-field.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/field.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/templates.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/widgets.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance FlowEditor and input-renderer components
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/useCustomEdge.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/anyof/components/AnyOfFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/array/ArraySchemaField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/utils/schema-utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): split NodeHandle into InputNodeHandle and OutputNodeHandle for better clarity
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance FlowEditor components with color handling and output rendering
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/anyof/components/AnyOfFieldTitle.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update GoogleDrivePicker and clean up input-renderer components
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/base-registry.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/FieldError.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/FieldErrorTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/FieldHelpTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): clean up FlowEditor and FormRenderer components
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): streamline CredentialField and edgeStore functionality
  autogpt_platform/frontend/src/app/(platform)/build/stores/edgeStore.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/modals/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/SelectCredential.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/HostScopedCredentialsModal/HostScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/HostScopedCredentialsModal/useHostScopedCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/useCredentialField.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update useAnyOfField to return last option index for better default selection
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/useAnyOfField.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): simplify CredentialField and remove unused credential components
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/SelectCredential.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/HostScopedCredentialsModal/HostScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/HostScopedCredentialsModal/useHostScopedCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/useCredentialField.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/custom-field.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/field.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/utils/input-schema-pre-processor.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance FlowEditor helpers and input rendering components for improved functionality
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/components/AnyOfFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/useAnyOfField.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArraySchemaField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/context/array-item-context.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/index.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/index.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/ObjectFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/WrapIfAdditionalTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/registry/field.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/utils/input-schema-pre-processor.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance input rendering components with improved schema handling and UI updates
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/useAnyOfField.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/buttons/IconButton.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/ObjectFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/WrapIfAdditionalTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/utils/input-schema-pre-processor.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): streamline FlowEditor components and enhance handle ID generation
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/helpers/resolve-collision.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/components/AnyOfFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArraySchemaField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/ObjectFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/WrapIfAdditionalTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update ArrayFieldItemTemplate and WrapIfAdditionalTemplate for improved layout and functionality
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/WrapIfAdditionalTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance styling and clean up components in input-renderer-2
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/components/AnyOfFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/SelectInput/SelectWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): synchronize hardcoded values with handle IDs in FlowEditor
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance handle ID generation and cleanup in input-renderer
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance input rendering helpers and streamline handle ID generation
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArraySchemaField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/SelectCredential.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/HostScopedCredentialsModal/HostScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/HostScopedCredentialsModal/useHostScopedCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/credentials/useCredentialField.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/ObjectFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/WrapIfAdditionalTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update RunInputDialog to use FormRenderer2 and enhance FlowEditor helpers
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/anyof/components/AnyOfFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/array/context/array-item-context.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/common/field-templates/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/inputs/CheckboxInput/index.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/object/ObjectFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/ObjectField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update imports and enhance CredentialField handling
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/oauth_callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/handlers/NodeHandle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/array/ArrayFieldItemTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/array/ArraySchemaField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/TitleField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/CredentialFieldTitle.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/SelectCredential.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/HostScopedCredentialsModal/HostScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/HostScopedCredentialsModal/useHostScopedCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/components/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/GoogleDrivePickerField/GoogleDrivePickerField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/custom/custom-registry.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/index.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update TitleField and WrapIfAdditionalTemplate components
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/object/WrapIfAdditionalTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer-2/base/standard/TitleField.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update styling in FlowEditor components
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeAdvancedToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/NodeOutput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance DraftRecoveryPopup with draft diff summary
  autogpt_platform/frontend/src/app/(platform)/build/components/DraftRecoveryDialog/DraftRecoveryPopup.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/DraftRecoveryDialog/useDraftRecoveryPopup.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useDraftManager.ts
  autogpt_platform/frontend/src/lib/dexie/draft-utils.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): synchronize hardcoded values with node IDs in useDraftManager
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useDraftManager.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update feature flags for flow editor and builder view
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Refactor LLM admin to use generated API and types
  autogpt_platform/backend/backend/server/v2/admin/llm_routes.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/CreatorsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DeleteModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DisableModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/LlmRegistryDashboard.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/MigrationsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ProviderList.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

chore: wip
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeRightClickMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeRightClickMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: sync
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeRightClickMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeRightClickMenu.tsx
  autogpt_platform/frontend/src/components/molecules/SecondaryMenu/SecondaryMenu.stories.tsx
  autogpt_platform/frontend/src/components/molecules/SecondaryMenu/SecondaryMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: use phosphor icons
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeRightClickMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Add GPT-5.2 model and admin LLM endpoints
  autogpt_platform/backend/backend/api/features/builder/db.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/migrations/20260106150000_add_gpt52_model/migration.sql
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @0ubbe, @kcze, @Abhi1992002
