Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

ghrs: snap 12-15-2303-C56F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-15_230333_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 12-15-2303-C56F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-12-15_230333_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 12-15-2303-C56F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 12-15-2303-C56F for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(block): Human in The Loop Block restructure
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

feat(block): Human in The Loop Block restructure (#11627)
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

feat(blocks): add SmartAgentBlock using Claude Agent SDK
  autogpt_platform/backend/autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/backend/blocks/smart_agent.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

added search tool and pushed index
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/docs_index.json
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
  autogpt_platform/backend/backend/server/v2/chat/tools/search_docs.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

added indexer and search example
  docs/index.py
  docs/search.py
Owners: @Bentlybro, @Pwuts

chore: move out of page into component
  autogpt_platform/Makefile
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/WebhookDisclaimer.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/ChatDrawer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/AgentCarouselMessage/AgentCarouselMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/AuthPromptWidget/AuthPromptWidget.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/createStreamEventDispatcher.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatCredentialsSetup/ChatCredentialsSetup.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatCredentialsSetup/useChatCredentialsSetup.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatErrorState/ChatErrorState.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatInput/useChatInput.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatLoadingState/ChatLoadingState.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/useChatMessage.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ExecutionStartedMessage/ExecutionStartedMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MarkdownContent/MarkdownContent.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MessageBubble/MessageBubble.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MessageList/MessageList.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MessageList/useMessageList.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/NoResultsMessage/NoResultsMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/QuickActionsWelcome/QuickActionsWelcome.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/StreamingMessage/StreamingMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/StreamingMessage/useStreamingMessage.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ToolCallMessage/ToolCallMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ToolResponseMessage/ToolResponseMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/helpers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChat.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatDrawer.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatSession.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatStream.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarLink.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002

added a support faq to docs and updated search index
  autogpt_platform/backend/backend/server/v2/chat/tools/docs_index.json
  autogpt_platform/backend/backend/server/v2/chat/tools/search_docs.py
  docs/content/platform/support-guide.md
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

update OAuth tests
  autogpt_platform/backend/backend/server/routers/oauth_test.py
  autogpt_platform/frontend/src/app/(platform)/auth/authorize/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Abhi1992002, @0ubbe, @kcze

chore: wip
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/atoms/Input/Input.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/ChatDrawer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/AgentCarouselMessage/AgentCarouselMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/AuthPromptWidget/AuthPromptWidget.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatCredentialsSetup/ChatCredentialsSetup.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatInput/ChatInput.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatInput/useChatInput.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatLoadingState/ChatLoadingState.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ExecutionStartedMessage/ExecutionStartedMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MarkdownContent/MarkdownContent.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MessageBubble/MessageBubble.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MessageList/MessageList.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/NoResultsMessage/NoResultsMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/QuickActionsWelcome/QuickActionsWelcome.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ThinkingMessage/ThinkingMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ToolCallMessage/ToolCallMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ToolResponseMessage/ToolResponseMessage.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

add agent output tool, find_library_agent tool and update run_agent to be able to run library agents directly
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_output.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_library_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: refinements frontend
  autogpt_platform/frontend/src/components/contextual/Chat/Chat.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/ChatDrawer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/AgentCarouselMessage/AgentCarouselMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatLoadingState/ChatLoadingState.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/useChatMessage.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/QuickActionsWelcome/QuickActionsWelcome.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix store tests
  autogpt_platform/backend/backend/data/db.py
Owners: @majdyz

chore: add page content and url to stream message
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/frontend/src/app/api/chat/sessions/[sessionId]/stream/route.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatStream.ts
  autogpt_platform/frontend/src/components/contextual/Chat/usePageContext.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

added logging understanding can chat persistance
  autogpt_platform/backend/backend/data/understanding.py
  autogpt_platform/backend/backend/server/v2/chat/db.py
  autogpt_platform/backend/backend/server/v2/chat/model.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/add_understanding.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_block.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_block.py
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

fixing db queries
  autogpt_platform/backend/backend/server/v2/chat/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fixes
  autogpt_platform/backend/backend/server/v2/chat/db.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

added migrations
  autogpt_platform/backend/migrations/20251216153446_add_chat_tables/migration.sql
Owners: @majdyz

cache understanding
  autogpt_platform/backend/backend/data/understanding.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: more frontend nice ui changes
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/contextual/Chat/Chat.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/ChatDrawer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MessageBubble/MessageBubble.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MessageList/MessageList.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/QuickActionsWelcome/QuickActionsWelcome.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/StreamingMessage/StreamingMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ThinkingMessage/ThinkingMessage.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

add credntials popup for run_block
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatStream.ts
  autogpt_platform/frontend/src/components/contextual/Chat/usePageContext.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: sessions drawer
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/Chat/Chat.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/SessionsDrawer/SessionsDrawer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/useChat.ts
Owners: @0ubbe, @kcze, @Abhi1992002

added agent generator
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_generator.py
  autogpt_platform/backend/backend/server/v2/chat/tools/create_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/edit_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/models.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: make sessions nicer
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/helpers.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/components/contextual/Chat/components/SessionsDrawer/SessionsDrawer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/useChatSession.ts
Owners: @0ubbe, @kcze, @Abhi1992002

updated prompt
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
Owners: @Bentlybro, @Pwuts

add onboarding endpoints
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/onboarding_system.md
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

added block indexing
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/tools/blocks_index.json
  autogpt_platform/backend/backend/server/v2/chat/tools/find_block.py
  autogpt_platform/backend/backend/server/v2/chat/tools/index_blocks.py
  autogpt_platform/backend/backend/server/v2/chat/tools/search_blocks.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: more changes
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/ChatDrawer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/ChatMessage.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/MessageList/MessageList.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ToolResponseMessage/ToolResponseMessage.tsx
  autogpt_platform/frontend/src/components/contextual/RunAgentInputs/RunAgentInputs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: improvements
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/Chat.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/ChatDrawer.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fixes
  autogpt_platform/frontend/src/app/(platform)/PlatformLayoutContent.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/ChatDrawer.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/usePageContext.ts
  autogpt_platform/frontend/src/components/contextual/RunAgentInputs/RunAgentInputs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

added embedded store search
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/embeddings.py
  autogpt_platform/backend/backend/server/v2/store/hybrid_search.py
  autogpt_platform/backend/migrations/20251216181700_add_store_embeddings/migration.sql
  autogpt_platform/backend/migrations/20251216181803_enhance_search/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update graph generator to match graph generation project
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_generator.py
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_generator/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_generator/client.py
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_generator/core.py
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_generator/fixer.py
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_generator/prompts.py
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_generator/utils.py
  autogpt_platform/backend/backend/server/v2/chat/tools/agent_generator/validator.py
  autogpt_platform/backend/backend/server/v2/chat/tools/create_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/edit_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/index_blocks.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add backfill command
  autogpt_platform/Makefile
  autogpt_platform/backend/backend/server/v2/store/backfill_embeddings.py
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: improvements
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatCredentialsSetup/ChatCredentialsSetup.tsx
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatMessage/ChatMessage.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix chat history
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/frontend/src/components/contextual/Chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/components/contextual/Chat/useChatSession.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add marketplace update notification banner
  autogpt_platform/backend/migrations/20251216182139_fix_store_submission_agent_version/migration.sql
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/NewAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/hooks/useMarketplaceUpdate.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/PublishAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/AgentInfoStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/AgentSelectStep.tsx
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/helpers.ts
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/usePublishAgentModal.ts
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002
