Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

feat(frontend): Restore onboarding steps (#11027)
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

feat(blocks): Implement AI Condition Block for natural language condition evaluation (#10996)
  autogpt_platform/backend/backend/blocks/ai_condition.py
  docs/content/platform/blocks/ai_condition.md
Owners: @Swiftyos, @ntindle, @Bentlybro, @Pwuts

feat(blocks): Implement AI Condition Block for natural language condition evaluation (#10996)
  autogpt_platform/backend/backend/blocks/ai_condition.py
  docs/content/platform/blocks/ai_condition.md
Owners: @Swiftyos, @ntindle, @Bentlybro, @Pwuts

fix cache invalidation for agent activity dropdown
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

moved cache invalidation earlier in flow to avoid race condition
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add detailed log messages
  autogpt_platform/frontend/src/tests/agent-activity.spec.ts
Owners: @Abhi1992002

feat(blocks): Improve data output of code execution block (#11017)
  autogpt_platform/backend/backend/blocks/code_executor.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): Improve data output of code execution block (#11017)
  autogpt_platform/backend/backend/blocks/code_executor.py
Owners: @Swiftyos, @ntindle, @Bentlybro

thanks rabbit
  autogpt_platform/backend/backend/blocks/code_executor.py
Owners: @Swiftyos, @ntindle, @Bentlybro

dedup output processing
  autogpt_platform/backend/backend/blocks/code_executor.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix tests
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/test/test_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @Abhi1992002

invalidate more caches - we have many with very similar names...
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update caching rules
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

revet over logging in test
  autogpt_platform/frontend/src/tests/agent-activity.spec.ts
Owners: @Abhi1992002

added shared caching
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/retry.py
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
  autogpt_platform/backend/backend/server/routers/cache.py
  autogpt_platform/backend/backend/server/v2/library/cache.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
Owners: @Significant-Gravitas/maintainers, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos

update lock file
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

ghrs: snap 10-01-2303-ECCF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-01_230322_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-01-2303-ECCF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-01_230322_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-01-2303-ECCF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-01-2303-ECCF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(platform): resolve authentication performance bottlenecks and improve reliability (#11028)
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/hooks/useOnboardingTimezoneDetection.ts
  autogpt_platform/frontend/src/hooks/useTimezoneDetection.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

fix(platform): resolve authentication performance bottlenecks and improve reliability (#11028)
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/hooks/useOnboardingTimezoneDetection.ts
  autogpt_platform/frontend/src/hooks/useTimezoneDetection.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @majdyz, @0ubbe, @kcze, @Abhi1992002

Fix confetti
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Fix confetti (#11031)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Fix confetti (#11031)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: improvements
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/error/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainCreatorPage/MainCreatorPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/LoginButton.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: prevent wallet opening every time
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

create helper functions for clearing caches
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: set storage
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/services/storage/local-storage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix tests
  autogpt_platform/frontend/src/app/(platform)/error.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Display run cost correctly - convert cents to dollars run detail components (#10997)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsStatus.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Display run cost correctly - convert cents to dollars run detail components (#10997)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunDetailHeader/RunDetailHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/monitoring/components/FlowRunsStatus.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): performance and layout issues (#11036)
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/error.tsx
  autogpt_platform/frontend/src/app/(platform)/error/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainCreatorPage/MainCreatorPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/LoginButton.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/services/storage/local-storage.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): performance and layout issues (#11036)
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/error.tsx
  autogpt_platform/frontend/src/app/(platform)/error/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainCreatorPage/MainCreatorPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/LoginButton.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/services/storage/local-storage.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix lint
  autogpt_platform/backend/backend/blocks/test/test_blocks_dos_vulnerability.py
Owners: @Abhi1992002

fix(backend): improve activity status generation accuracy and handle missing blocks gracefully
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): improve _UnknownBlock type compatibility
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

fix(backend): perfect _UnknownBlockBase implementation
  autogpt_platform/backend/backend/data/graph.py
Owners: @majdyz

fix(backend): improve activity status generation accuracy and handle missing blocks gracefully (#11039)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): improve activity status generation accuracy and handle missing blocks gracefully (#11039)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos
