Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

feat(frontend): PR preview banner (#11412)
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/molecules/PreviewBanner/PreviewBanner.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(platform/backend): add gemini-3-pro-preview (#11413)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

feat(frontend): add mobile warning banner to login and signup pages (#11383)
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): resolve marketplace agent access in get_graph_execution endpoint (#11396)
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/otto/service.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(platform): Capture Sentry Block Errors Correctly (#11404)
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(frontend): Replace question mark icon with "Give Feedback" text button (#11381)
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Owners: @0ubbe

fix(frontend): Add custom validator to handle short-text and long-text formats in form renderer (#11395)
  autogpt_platform/frontend/src/components/renderers/input-renderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/utils/custom-validator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): logout console issues (#11400)
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/components/AccountLogoutOption.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/actions.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): improve new builder performance and UX with position handling and store optimizations (#11397)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/BuilderActionButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/ScheduleGraph/ScheduleGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/CustomControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/RunningBackground.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/Block.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockList/BlockList.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearch/BlockMenuSearch.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/IntegrationBlocks/IntegrationBlocks.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/IntergrationBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MyAgentsContent/MyAgentsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/MyAgentsContent/useMyAgentsContent.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/SuggestionContent/SuggestionContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/UGCAgentBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): parameterize activity status generation with customizable prompts (#11407)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/ExecutionAnalyticsForm.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

refactor(frontend): improve customNode reusability and add multi-block support (#11368)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/AyrshareConnectButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeAdvancedToggle.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeExecutionBadge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/WebhookDisclaimer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): resolve production failures with comprehensive token handling and conversation safety fixes (#11394)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix(frontend/builder): Fix save-and-run with no agent inputs (#11401)
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(platform): Remove un-runnable agents from schedule (#11374)
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(frontend): add inline node title editing with double-click (#11370)
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/helper.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): implement agent outputs viewer and improve UI/UX in new builder (#11421)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/ARCHITECTURE_FLOW_EDITOR.md
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchBar/useBlockMenuSearchBar.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/historyStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/ARCHITECTURE_INPUT_RENDERER.md
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002, @Bentlybro, @Pwuts

fix(frontend): preview banner ammend
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat: add Cloudflare Worker for docs.agpt.co redirect migration
  autogpt_platform/cloudflare_worker.js
Owners: @Significant-Gravitas/maintainers

refactor(frontend): debug preview stealing dev
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/Navbar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/PreviewBanner/PreviewBanner.tsx
  autogpt_platform/frontend/src/components/molecules/PreviewBanner/PreviewBanner.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

{ new file: .devcontainer/devcontainer.json modified: autogpt_platform/backend/backend/app.py pull request C:\Users\blood\Downloads\node.exe }
  .devcontainer/devcontainer.json
  autogpt_platform/backend/backend/app.py
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos

add-google-banana-pro
  autogpt_platform/backend/backend/blocks/ai_image_customizer.py
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

fix pricing
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @majdyz

format
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @majdyz

feat(platform): enhance Human-in-the-Loop block with improved review UX
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/server/v2/executions/review/model.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @0ubbe, @kcze, @Abhi1992002

fix(frontend): remove unused reviewData prop from PendingReviewsList
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): critical simplification and cleanup of HITL components
  autogpt_platform/frontend/src/components/organisms/FloatingReviewsPanel/FloatingReviewsPanel.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
  autogpt_platform/frontend/src/hooks/usePendingReviews.ts
Owners: @0ubbe, @kcze, @Abhi1992002

GitBook: No commit message
  docs/.gitbook/assets/AGPT_Platform.png
  docs/.gitbook/assets/Banner_image.png
  docs/.gitbook/assets/Contribute.png
  docs/.gitbook/assets/Integrations.png
  docs/.gitbook/assets/Ollama-Add-Prompts.png
  docs/.gitbook/assets/Ollama-Output.png
  docs/.gitbook/assets/Ollama-Remote-Host.png
  docs/.gitbook/assets/Ollama-Select-Llama32.png
  docs/.gitbook/assets/Screenshot 2025-08-11 at 12.21.17 PM.png
  docs/.gitbook/assets/Select-AI-block.png
  docs/.gitbook/assets/api-reference.jpg
  docs/.gitbook/assets/e2b-dashboard.png
  docs/.gitbook/assets/e2b-log-url.png
  docs/.gitbook/assets/e2b-new-tag.png
  docs/.gitbook/assets/e2b-tag-button.png
  docs/.gitbook/assets/get-repo-dialog.png
  docs/.gitbook/assets/hosted.jpg
  docs/.gitbook/assets/no-code.jpg
  docs/.gitbook/assets/replicate-prediction-yt6p2d3gjhrma0ctdsv8vp1t70.jpeg
  docs/README.md
  docs/SUMMARY.md
  docs/advanced-setup.md
  docs/agent-blocks.md
  docs/aimlapi.md
  docs/block-sdk-guide.md
  docs/create-basic-agent.md
  docs/delete-agent.md
  docs/download-agent-from-marketplace-local.md
  docs/edit-agent.md
  docs/getting-started.md
  docs/installer.md
  docs/new-blocks-1.md
  docs/new-blocks.md
  docs/ollama.md
  docs/submit-agent-to-marketplace.md
Owners: @Bentlybro, @Pwuts

ghrs: snap 11-21-2303-DC69 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-21_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-21-2303-DC69 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-21_230325_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-21-2303-DC69 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-21-2303-DC69 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

ghrs: snap 11-22-2302-6E63 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-22_230253_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-22-2302-6E63 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-22-2302-6E63 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-22_230253_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-22-2302-6E63 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

ghrs: snap 11-23-2303-792B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-23_230312_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-23-2303-792B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-23_230312_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-23-2303-792B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-23-2303-792B for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(block): Improve error handling of SendEmailBlock (#11420)
  autogpt_platform/backend/backend/blocks/email_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
