Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

Notify the user if there agent is unscheduled
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Add schedule_id to GraphExecutionJobArgs
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Ensure schedule_id is always a string
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

add _handle_graph_validation_error function
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

removed sending notification
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

await delete_schedule
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

gracefully handle old jobs
  autogpt_platform/backend/backend/executor/scheduler.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor: onboarding ....
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.tsx
  autogpt_platform/frontend/src/lib/onboarding/middleware.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: delete
  autogpt_platform/frontend/src/lib/onboarding/middleware.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Add mobile warning banner to login and signup pages
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Update MobileWarningBanner placement and messaging
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: larger spinner
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Revert "Update MobileWarningBanner placement and messaging"
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Revert "Add mobile warning banner to login and signup pages"
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

style: apply lint fixes
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop_service.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Add mobile warning banner to login and signup pages
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/MobileWarningBanner.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

style: apply lint fixes to manager.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): optimize execution queue and fix API route conflicts
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): Add maxLength validation to HITL review message textarea
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Include WAITING_FOR_REVIEW in active status for ActivityItem
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Improve HITL block execution status handling
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

feat(backend): Use Literal type for HITL block status field
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
Owners: @Swiftyos, @ntindle, @Bentlybro

chore: review suggestions
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: suggestions
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(backend): Move HITL database operations to data layer
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop_service.py
  autogpt_platform/backend/backend/data/human_review.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

fix(frontend): post login/signup/onboarding redirect clash (#11382)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): Add status transition validation and improve architecture
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/executor/manager.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

remove init
  autogpt_platform/backend/backend/server/v2/executions/__init__.py
  autogpt_platform/backend/backend/server/v2/executions/review/__init__.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor(backend): Improve Human In The Loop block architecture and database patterns
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/blocks/human_in_the_loop_service.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/executor/database.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

refactor(backend/executor): Simplify node status update using batch pattern
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/execution.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

refactor(backend/data): Inline wrapper methods in human_review.py
  autogpt_platform/backend/backend/data/human_review.py
Owners: @majdyz

fix(frontend): redirects improvements...
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): onboarding fixes... (2)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/auth/login/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): simplify login redirect
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
Owners: @0ubbe, @kcze, @Abhi1992002

remove duplicated environment import
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): improve UX for expired or duplicate password reset links
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/app/api/auth/callback/reset-password/route.ts
  autogpt_platform/frontend/src/components/auth/ExpiredLinkMessage.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 11-14-2302-4A9A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-14_230300_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-14-2302-4A9A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-14_230300_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-14-2302-4A9A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-14-2302-4A9A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts
