Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

add tests
  autogpt_platform/backend/backend/data/sqlalchemy_test.py
Owners: @Abhi1992002

update poetry lock
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Added docs and more specific error handling
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update asyncpg to version ^0.30.0
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: check if saved credentials have sufficient scopes
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: handle multiple credentials
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): enhance BuilderActions and AgentOutputs components
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): synchronize local query with global search query in BlockMenuSearchBar
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchBar/useBlockMenuSearchBar.ts
Owners: @0ubbe, @kcze, @Abhi1992002

added better error handling for email_block.py
  autogpt_platform/backend/backend/blocks/email_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

simplifed the error handling
  autogpt_platform/backend/backend/blocks/email_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

removed some error capture
  autogpt_platform/backend/backend/blocks/email_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

chore: cleanup
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: update
  .github/workflows/platform-frontend-ci.yml
Owners: @Significant-Gravitas/devops

feat(frontend): enhance AgentOutputs component with output handling and UI improvements
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: more changes...
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/playwright.config.ts
Owners: @Significant-Gravitas/devops, @0ubbe, @kcze, @Abhi1992002

feat(platform): enhance human-in-the-loop functionality with real-time UI updates
  autogpt_platform/backend/backend/blocks/human_in_the_loop.py
  autogpt_platform/backend/backend/data/human_review.py
  autogpt_platform/backend/backend/data/human_review_test.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/executions/review/model.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes.py
  autogpt_platform/backend/backend/server/v2/executions/review/routes_test.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlowRealtime.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedRunView/SelectedRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/SelectedRunView/useSelectedRunView.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/components/organisms/FloatingReviewsPanel/FloatingReviewsPanel.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewCard/PendingReviewCard.tsx
  autogpt_platform/frontend/src/components/organisms/PendingReviewsList/PendingReviewsList.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/hooks/usePendingReviews.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Abhi1992002, @Pwuts, @0ubbe, @kcze

add latest grok models
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz

requested pr changes
  autogpt_platform/backend/backend/blocks/linear/_api.py
  autogpt_platform/backend/backend/blocks/linear/issues.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix types and lint
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/SelectCredential.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix ci
  autogpt_platform/backend/backend/server/v2/executions/review/review_routes_test.py
Owners: @Abhi1992002

revert(backend): revert unintended store changes from HITL implementation
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): add Human-in-the-Loop block to beta blocks feature flag
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: moar
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
Owners: @Significant-Gravitas/devops, @0ubbe, @kcze, @Abhi1992002

feat(frontend): PR preview banner (#11412)
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/molecules/PreviewBanner/PreviewBanner.tsx
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): preview banner ammend
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

adding docs for new builder
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/ARCHITECTURE_FLOW_EDITOR.md
  autogpt_platform/frontend/src/components/renderers/input-renderer/ARCHITECTURE_INPUT_RENDERER.md
Owners: @Bentlybro, @Pwuts

fix lint
  autogpt_platform/frontend/src/components/renderers/input-renderer/ARCHITECTURE_INPUT_RENDERER.md
Owners: @Bentlybro, @Pwuts

feat(frontend): implement agent outputs viewer and improve UI/UX in new builder (#11421)
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/BuilderActions.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/AgentOutputs/AgentOutputs.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/ARCHITECTURE_FLOW_EDITOR.md
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/components/GraphLoadingBox.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenuSearchBar/useBlockMenuSearchBar.ts
  autogpt_platform/frontend/src/app/(platform)/build/hooks/useSaveGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/graphStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/historyStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/ARCHITECTURE_INPUT_RENDERER.md
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
Owners: @0ubbe, @kcze, @Abhi1992002, @Bentlybro, @Pwuts

ghrs: snap 11-20-2302-31B8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-20_230254_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-20-2302-31B8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-20-2302-31B8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-20_230254_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-20-2302-31B8 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

GITBOOK-51: No subject
  docs/README.md
Owners: @Bentlybro, @Pwuts

GitBook: No commit message
  docs/.gitbook/assets/AGPT_Platform.png
  docs/.gitbook/assets/Banner_image.png
  docs/.gitbook/assets/Contribute.png
  docs/.gitbook/assets/Integrations.png
  docs/.gitbook/assets/Ollama-Add-Prompts.png
  docs/.gitbook/assets/Ollama-Output.png
  docs/.gitbook/assets/Ollama-Remote-Host.png
  docs/.gitbook/assets/Ollama-Select-Llama32.png
  docs/.gitbook/assets/Screenshot 2025-08-11 at 12.21.17 PM.png
  docs/.gitbook/assets/Select-AI-block.png
  docs/.gitbook/assets/api-reference.jpg
  docs/.gitbook/assets/e2b-dashboard.png
  docs/.gitbook/assets/e2b-log-url.png
  docs/.gitbook/assets/e2b-new-tag.png
  docs/.gitbook/assets/e2b-tag-button.png
  docs/.gitbook/assets/get-repo-dialog.png
  docs/.gitbook/assets/hosted.jpg
  docs/.gitbook/assets/no-code.jpg
  docs/.gitbook/assets/replicate-prediction-yt6p2d3gjhrma0ctdsv8vp1t70.jpeg
  docs/README.md
  docs/SUMMARY.md
Owners: @Bentlybro, @Pwuts

GITBOOK-92: No subject
  docs/new-blocks.md
Owners: @Bentlybro, @Pwuts

GITBOOK-93: No subject
  docs/block-sdk-guide.md
Owners: @Bentlybro, @Pwuts

GITBOOK-94: No subject
  docs/SUMMARY.md
  docs/block-sdk-guide.md
Owners: @Bentlybro, @Pwuts

GITBOOK-95: No subject
  docs/block-sdk-guide.md
Owners: @Bentlybro, @Pwuts

refactor(turnstile): Remove turnstile (#11387)
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/turnstile/__init__.py
  autogpt_platform/backend/backend/server/v2/turnstile/models.py
  autogpt_platform/backend/backend/server/v2/turnstile/routes.py
  autogpt_platform/backend/backend/server/v2/turnstile/routes_test.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/reset-password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze
