Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers, @Significant-Gravitas/admins

.github/CODEOWNERS:

* @Significant-Gravitas/maintainers
.github/workflows/ @Significant-Gravitas/devops
classic/forge/ @Significant-Gravitas/forge-maintainers
classic/benchmark/ @Significant-Gravitas/benchmark-maintainers
classic/frontend/ @Significant-Gravitas/frontend-maintainers
autogpt_platform/infra @Significant-Gravitas/devops
.github/CODEOWNERS @Significant-Gravitas/admins

small changes in e2e script
  autogpt_platform/backend/test/e2e_test_data.py
Owners: @Significant-Gravitas/maintainers

wip
  autogpt_platform/backend/backend/blocks/stagehand/_config.py
  autogpt_platform/backend/backend/blocks/stagehand/blocks.py
Owners: @Significant-Gravitas/maintainers

add new block menu
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/useBlockMenu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuContent/BlockMenuContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/ControlButton/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/useNewControlPanel.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/SaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/maintainers

fix lint
  autogpt_platform/frontend/src/components/Flow.tsx
Owners: @Significant-Gravitas/maintainers

chore: fix
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @Significant-Gravitas/maintainers

refactor: simplify icon usage in FlowEditor and update feature flag for new block menu
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/maintainers

chore: wip
  .github/workflows/platform-frontend-ci.yml
  .github/workflows/platform-fullstack-ci.yml
  .pre-commit-config.yaml
  autogpt_platform/CLAUDE.md
  autogpt_platform/README.md
  autogpt_platform/frontend/Dockerfile
  autogpt_platform/frontend/README.md
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/scripts/generate-api-queries.ts
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

chore: more
  autogpt_platform/frontend/Dockerfile
Owners: @Significant-Gravitas/maintainers

refactor: remove unused feature flag for new block menu and update related components to manage popover states
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/ControlButton/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/useNewControlPanel.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/SaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/maintainers

chore: more changes
  autogpt_platform/frontend/Dockerfile
  autogpt_platform/frontend/scripts/generate-api-queries.ts
Owners: @Significant-Gravitas/maintainers

exclude script from dockerignore
  .dockerignore
  autogpt_platform/frontend/Dockerfile
Owners: @Significant-Gravitas/maintainers

fix output schema to be a dict rather than string
  autogpt_platform/backend/backend/blocks/firecrawl/extract.py
Owners: @Significant-Gravitas/maintainers

Update feature flag for new block menu to false in preparation for future implementation
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/maintainers

doc(readme): add links to translated README versions (#10659)
  README.md
Owners: @Significant-Gravitas/maintainers

doc(readme): add links to translated README versions (#10659)
  README.md
Owners: @Significant-Gravitas/maintainers

optimize pnpm install, add missing curl for generate:api
  autogpt_platform/frontend/Dockerfile
Owners: @Significant-Gravitas/maintainers

chore: flag
  .github/workflows/platform-fullstack-ci.yml
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/scripts/generate-api-queries.ts
Owners: @Significant-Gravitas/devops, @Significant-Gravitas/maintainers

Update autogpt_platform/backend/backend/blocks/firecrawl/extract.py
  autogpt_platform/backend/backend/blocks/firecrawl/extract.py
Owners: @Significant-Gravitas/maintainers

Extract pagination into util/models
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/server/v2/admin/model.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/util/models.py
Owners: @Significant-Gravitas/maintainers

fix(backend/executor): Propagate passed-in credentials to sub-agent execution
  autogpt_platform/backend/backend/executor/utils.py
Owners: @Significant-Gravitas/maintainers

DEBUG
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @Significant-Gravitas/maintainers

DEBUG(2)
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @Significant-Gravitas/maintainers

Fix credentials input schema in `update_graph` and `get_library_agent_by_graph_id` return
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
Owners: @Significant-Gravitas/maintainers

hotfix(backend/executor): Fix propagation of passed-in credentials to sub-agents (#10668)
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @Significant-Gravitas/maintainers

hotfix(backend/executor): Fix propagation of passed-in credentials to sub-agents (#10668)
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @Significant-Gravitas/maintainers

dx(frontend): Fix typing of `Graph.sub_graphs` (and its variants)
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Significant-Gravitas/maintainers

Make `graphsEquivalent` insensitive to link and node order
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @Significant-Gravitas/maintainers

feat(platform): add ability to reject approved agents in admin dashboard
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/frontend/src/components/admin/marketplace/approve-reject-buttons.tsx
  autogpt_platform/frontend/src/components/admin/marketplace/expandable-row.tsx
Owners: @Significant-Gravitas/maintainers

feat(platform): add ability to reject approved agents in admin dashboard
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/frontend/src/components/admin/marketplace/approve-reject-buttons.tsx
  autogpt_platform/frontend/src/components/admin/marketplace/expandable-row.tsx
Owners: @Significant-Gravitas/maintainers

chore: fixes
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentSelectStep/useAgentSelectStep.ts
Owners: @Significant-Gravitas/maintainers

fix filling default inputs for sub-agent blocks
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @Significant-Gravitas/maintainers

chore: more fixes
  .github/workflows/platform-frontend-ci.yml
  .github/workflows/platform-fullstack-ci.yml
Owners: @Significant-Gravitas/devops

fix `sortLinks`
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @Significant-Gravitas/maintainers

feat(platform/builder): implement launchdarkly feature flag for block menu redesign (#10667)
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/useBlockMenu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuContent/BlockMenuContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/ControlButton/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/useNewControlPanel.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/SaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/maintainers

feat(platform/builder): implement launchdarkly feature flag for block menu redesign (#10667)
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenu/useBlockMenu.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/BlockMenuContent/BlockMenuContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/ControlButton/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/NewControlPanel/useNewControlPanel.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/NewBlockMenu/SaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @Significant-Gravitas/maintainers

fix(backend/credit): prevent double-application of transactions due to race condition
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @Significant-Gravitas/maintainers

fix(backend/credit): prevent double-application of transactions due to race condition (#10672)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @Significant-Gravitas/maintainers

fix(backend/credit): prevent double-application of transactions due to race condition (#10672)
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/routers/v1.py
Owners: @Significant-Gravitas/maintainers

chore: force generate on dev
  autogpt_platform/frontend/package.json
Owners: @Significant-Gravitas/maintainers

chore: address suggestions
  autogpt_platform/frontend/Dockerfile
Owners: @Significant-Gravitas/maintainers
