Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

chore: use nice amount
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/components/atoms/Input/Input.tsx
  autogpt_platform/frontend/src/components/atoms/Input/useInput.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletRefill.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): more wallet issues fix
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend): Further enhance sanitization of SQL raw queries (#11279)
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend): Further enhance sanitization of SQL raw queries (#11279)
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

fix(backend/blocks): use BlockSchema instead of BlockSchemaInput for Agent I/O outputs
  autogpt_platform/backend/backend/blocks/io.py
Owners: @Swiftyos, @ntindle, @Bentlybro

chore: fix validation and decimals
  autogpt_platform/frontend/src/components/atoms/Input/Input.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletRefill.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix types
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/MainSearchResultPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/useMainSearchResultPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: remove non-needed rules
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletRefill.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): add new GoogleDrivePicker component
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/types/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Safely parse error response body in handleFetchError (#11274)
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.test.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @Abhi1992002, @0ubbe, @kcze

fix(frontend): Safely parse error response body in handleFetchError (#11274)
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.test.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @Abhi1992002, @0ubbe, @kcze

ghrs: snap 10-29-2303-F27A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-29_230308_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-29-2303-F27A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-29-2303-F27A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-29_230308_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-29-2303-F27A for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Refactor Exa blocks to use exa_py SDK and remove legacy API code
  .gitignore
  autogpt_platform/backend/backend/blocks/exa/_api.py
  autogpt_platform/backend/backend/blocks/exa/answers.py
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/helpers.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
  autogpt_platform/backend/backend/blocks/exa/webhook_blocks.py
  autogpt_platform/backend/backend/blocks/exa/websets.py
  autogpt_platform/backend/backend/blocks/exa/websets_import_export.py
  autogpt_platform/backend/backend/blocks/exa/websets_items.py
  autogpt_platform/backend/backend/blocks/exa/websets_polling.py
Owners: @Significant-Gravitas/maintainers, @Swiftyos, @ntindle, @Bentlybro

Remove redundant comments and unused fields in Exa blocks
  autogpt_platform/backend/backend/blocks/exa/answers.py
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/helpers.py
  autogpt_platform/backend/backend/blocks/exa/model.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
  autogpt_platform/backend/backend/blocks/exa/websets.py
  autogpt_platform/backend/backend/blocks/exa/websets_enrichment.py
  autogpt_platform/backend/backend/blocks/exa/websets_import_export.py
  autogpt_platform/backend/backend/blocks/exa/websets_items.py
  autogpt_platform/backend/backend/blocks/exa/websets_monitor.py
  autogpt_platform/backend/backend/blocks/exa/websets_polling.py
  autogpt_platform/backend/backend/blocks/exa/websets_search.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(frontend): Fix marketplace sort by (#11284)
  autogpt_platform/backend/backend/blocks/system/store_operations.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/MainSearchResultPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/useMainSearchResultPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/__legacy__/SortDropdown.tsx
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002, @0ubbe, @kcze

fix(frontend): Fix marketplace sort by (#11284)
  autogpt_platform/backend/backend/blocks/system/store_operations.py
  autogpt_platform/backend/backend/server/v2/store/cache.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/MainSearchResultPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainSearchResultPage/useMainSearchResultPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/__legacy__/SortDropdown.tsx
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002, @0ubbe, @kcze

chore: add to env default
  autogpt_platform/frontend/.env.default
Owners: @0ubbe, @kcze, @Abhi1992002

Fix issues
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Sentry unmask
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomEdge/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeHandle.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Lint
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/components/SelectedAgentCard.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/components/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix tests
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Owners: @Abhi1992002

fix(frontend): more wallet popover fixes (#11285)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/components/atoms/Input/Input.tsx
  autogpt_platform/frontend/src/components/atoms/Input/useInput.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletRefill.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): more wallet popover fixes (#11285)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/components/atoms/Input/Input.tsx
  autogpt_platform/frontend/src/components/atoms/Input/useInput.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletRefill.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: skip for now
  autogpt_platform/frontend/src/tests/build.spec.ts
Owners: @Abhi1992002

feat(chat): Enhance chat session management and error handling
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/chat/data.py
  autogpt_platform/backend/backend/server/v2/chat/models.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/util/exceptions.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update backend to use feature flag
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fmt
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore(frontend): Update OpenAPI spec with relaxed sorting constraints
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Prevent duplicate tool response UI elements
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.ts
  autogpt_platform/frontend/src/app/(platform)/chat/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 10-30-2303-E2A7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-30_230333_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 10-30-2303-E2A7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 10-30-2303-E2A7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-10-30_230333_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 10-30-2303-E2A7 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

update openapi schema
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

fix useChatSession typing
  autogpt_platform/frontend/src/hooks/useChatSession.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fmt
  autogpt_platform/frontend/src/hooks/useChatSession.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(backend/scheduler): Use DST-fixed APScheduler version
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos
