Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

ghrs: report 11-02-2302-F969 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat(blocks): implement ConcatenateListsBlock to merge multiple lists (#11139)
  autogpt_platform/backend/backend/blocks/concatenate_lists_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat(blocks): implement ConcatenateListsBlock (#11139)
  autogpt_platform/backend/backend/blocks/concatenate_lists_block.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Revert hover change
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomEdge/CustomEdge.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): consolidate and update RunInputDialog component
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StickyNoteBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/FormCreator.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/AnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/AnyOfField/useAnyOfField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/OAuthCredentialModal/OAuthCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/OAuthCredentialModal/useOAuthCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/PasswordCredentialModal/PasswordCredentialModal.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/models/PasswordCredentialModal/usePasswordCredentialModal.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/ObjectField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/index.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/ArrayFieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/FieldTemplate.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/templates/index.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/utils/input-schema-pre-processor.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorContext.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ArrayEditorWidget/ArrayEditorWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/DateInputWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/DateTimeInputWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/FileWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/ObjectEditorWidget/ObjectEditorWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/SelectWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/SwitchWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/TextInputWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/TimeInputWidget.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/widgets/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): update OutputHandler and StandardNodeBlock styles, enhance ContentRenderer functionality
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/StandardNodeBlock.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/NodeOutput.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ContentRenderer.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeOutput/components/ViewMoreData.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance RunGraph component with execution controls
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/RunGraph.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunGraph/useRunGraph.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/RunInputDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/useRunInputDialog.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/useFlow.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix flags
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(frontend): remove FieldTemplate component from RunInputDialog
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/RunInputDialog/FieldTemplate.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Reset beads when saving agent
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

revert pg full text search
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fmt
  autogpt_platform/backend/backend/server/v2/store/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Prevent confetti on null source
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomEdge/CustomEdge.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTaskGroups.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): Reset beads on run (#11303)
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

enable all tools
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: remove picker types...
  autogpt_platform/frontend/package.json
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Add GDPR-compliant cookie consent system
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsent/CookieConsentBanner.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsent/CookieSettingsModal.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsent/index.ts
  autogpt_platform/frontend/src/components/molecules/CookieConsent/useCookieConsentBanner.ts
  autogpt_platform/frontend/src/components/molecules/CookieConsent/useCookieSettingsModal.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/components/BaseFooter.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
  autogpt_platform/frontend/src/lib/consent/index.ts
  autogpt_platform/frontend/src/lib/consent/storage.ts
  autogpt_platform/frontend/src/lib/consent/types.ts
  autogpt_platform/frontend/src/lib/consent/useConsent.ts
  autogpt_platform/frontend/src/services/analytics/VercelAnalyticsWrapper.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

prettier
  autogpt_platform/frontend/src/components/molecules/CookieConsent/CookieSettingsModal.tsx
Owners: @0ubbe

prettier
  autogpt_platform/frontend/src/components/molecules/CookieConsent/CookieSettingsModal.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
  autogpt_platform/frontend/src/lib/consent/storage.ts
  autogpt_platform/frontend/src/lib/consent/useConsent.ts
  autogpt_platform/frontend/src/services/analytics/index.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Google Drive Picker component (#11286)
  autogpt_platform/frontend/.env.default
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePicker.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/helpers.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/types.ts
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/useGoogleDrivePicker.ts
  autogpt_platform/frontend/src/services/scripts/scripts.tsx
  autogpt_platform/frontend/src/types/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): use named export for AdminImpersonationPage
  autogpt_platform/frontend/src/app/(platform)/admin/impersonation/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): replace lucide-react with Phosphor icons in admin layout
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): clean up custom-mutator code per review feedback
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): remove JSDoc comments per review feedback
  autogpt_platform/frontend/src/components/admin/AdminImpersonationBanner.tsx
  autogpt_platform/frontend/src/hooks/useAdminImpersonation.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): use proper contentType parameter in makeAuthenticatedFileUpload
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance control panel and flow editor components
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/ControlPanelButton.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewControlPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/UndoRedoButtons.tsx
  autogpt_platform/frontend/src/app/(platform)/build/stores/historyStore.ts
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

remove unused comments
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/BlockMenu/BlockMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewSaveControl/NewSaveControl.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): correct React Query DevTools conditional rendering
  autogpt_platform/frontend/src/app/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): complete remaining review feedback items
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminImpersonationBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminImpersonationPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/impersonation/page.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): replace type assertions with proper type guards and string conversion
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminImpersonationPanel.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend/ui): Increase contrast of Switch component
  autogpt_platform/frontend/src/components/atoms/Switch/Switch.tsx
Owners: @0ubbe

updated backend to auto restream after tool calls
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/models.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update openapi json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

fix(frontend): address remaining Ubbe review comments
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminImpersonationBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminImpersonationPanel.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/components/useAdminImpersonation.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): add comprehensive admin impersonation test coverage
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_test.py
Owners: @Abhi1992002

fix
  autogpt_platform/frontend/src/app/(platform)/admin/impersonation/page.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix
  autogpt_platform/frontend/src/app/(platform)/admin/components/AdminImpersonationBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies.py
Owners: @Pwuts

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
