Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

feat(frontend): `<Button variant="link" />` (#11320)
  autogpt_platform/frontend/src/components/atoms/Button/Button.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Button/Button.tsx
  autogpt_platform/frontend/src/components/atoms/Button/helpers.ts
  autogpt_platform/frontend/src/components/atoms/Link/Link.tsx
Owners: @0ubbe

fix test ID
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: disable CAPTCHA on preview deployments
  autogpt_platform/frontend/src/app/api/auth/login/route.ts
  autogpt_platform/frontend/src/app/api/auth/signup/route.ts
  autogpt_platform/frontend/src/services/environment/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Remove deprecated Groq and Gemini model references
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  classic/forge/forge/llm/providers/groq.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

chore: add spinner
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/reset/page.tsx
  autogpt_platform/frontend/src/components/atoms/LoadingSpinner/LoadingSpinner.stories.tsx
  autogpt_platform/frontend/src/components/atoms/LoadingSpinner/LoadingSpinner.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend/marketplace): Update agent download UI (#11322)
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentInfo/AgentInfo.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): Cookie consent banner and settings (#11306)
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/CookieConsentBanner.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/components/CookieSettingsModal/CookieSettingsModal.tsx
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/components/CookieSettingsModal/useCookieSettingsModal.ts
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/useCookieConsent.ts
  autogpt_platform/frontend/src/components/molecules/CookieConsentBanner/useCookieConsentBanner.ts
  autogpt_platform/frontend/src/components/molecules/Dialog/components/DialogWrap.tsx
  autogpt_platform/frontend/src/services/analytics/VercelAnalyticsWrapper.tsx
  autogpt_platform/frontend/src/services/analytics/index.tsx
  autogpt_platform/frontend/src/services/consent/cookies.ts
  autogpt_platform/frontend/src/services/storage/local-storage.ts
  autogpt_platform/frontend/src/tests/utils/auth.ts
Owners: @0ubbe, @kcze, @Abhi1992002

refactor(backend): Simplify feature flag imports and enhance chat session model
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/model.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/_test_data.py
  autogpt_platform/backend/backend/server/v2/chat/tools/base.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

updated openapi.json
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

removed chat link when logged out
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

use correct limit check
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update openapi.json again
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

Create migration.sql
  autogpt_platform/backend/migrations/20251106091413_migrate_deprecated_groq_openrouter_models/migration.sql
Owners: @majdyz

remove debug logging
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feature(backend): Limit Chat to Auth Users, Limit Agent Runs Per Chat (#11330)
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/model.py
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/backend/backend/server/v2/chat/tools/__init__.py
  autogpt_platform/backend/backend/server/v2/chat/tools/_test_data.py
  autogpt_platform/backend/backend/server/v2/chat/tools/base.py
  autogpt_platform/backend/backend/server/v2/chat/tools/find_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_agent_details_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info.py
  autogpt_platform/backend/backend/server/v2/chat/tools/get_required_setup_info_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/run_agent_test.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent.py
  autogpt_platform/backend/backend/server/v2/chat/tools/setup_agent_test.py
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @0ubbe, @kcze

feat(backend): Remove deprecated LLM models and add migration script (#11331)
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/migrations/20251106091413_migrate_deprecated_groq_openrouter_models/migration.sql
  classic/forge/forge/llm/providers/groq.py
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix duplicate messages in chat
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/useChatStream.ts
Owners: @Bentlybro, @Pwuts, @majdyz, @ntindle, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix bug
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/useChatSession.ts
Owners: @Bentlybro, @Pwuts, @0ubbe, @kcze, @Abhi1992002

updated system prompt again
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
Owners: @Bentlybro, @Pwuts

update prompt and switch to qwen
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro

fmt
  autogpt_platform/backend/backend/server/v2/chat/config.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): add zustand store for supabase
  autogpt_platform/frontend/src/lib/supabase/hooks/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: simplify
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: undo
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabaseStore.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix(platform): chat duplicate messages (#11332)
  autogpt_platform/backend/backend/server/v2/chat/config.py
  autogpt_platform/backend/backend/server/v2/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/server/v2/chat/routes.py
  autogpt_platform/backend/backend/server/v2/chat/service.py
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/ChatContainer.tsx
  autogpt_platform/frontend/src/app/(platform)/chat/components/ChatContainer/useChatContainer.handlers.ts
  autogpt_platform/frontend/src/app/(platform)/chat/useChatSession.ts
  autogpt_platform/frontend/src/app/(platform)/chat/useChatStream.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @0ubbe, @kcze, @Abhi1992002

fix(backend): Fix type issues in execution analytics routes
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): Add click-to-copy functionality for IDs in execution analytics table
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

feat(backend): Simplify execution analytics to always include all executions
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
  autogpt_platform/frontend/src/app/(platform)/admin/execution-analytics/components/AnalyticsResultsTable.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

fix(backend): Remove error message for skipped executions
  autogpt_platform/backend/backend/server/v2/admin/execution_analytics_routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Refactor diagnostics admin routes and add utility functions
  autogpt_platform/backend/backend/data/diagnostics.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Add diagnostics for invalid execution states
  autogpt_platform/backend/backend/data/diagnostics.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/model.py
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/DiagnosticsContent.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/diagnostics/components/ExecutionsTable.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Refactor admin execution stop/requeue logic and tests
  autogpt_platform/backend/backend/data/diagnostics.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/diagnostics_admin_routes_test.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002

Clarify admin execution API descriptions
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @0ubbe, @kcze, @Abhi1992002

ghrs: snap 11-06-2303-A128 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-06_230338_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 11-06-2303-A128 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 11-06-2303-A128 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-11-06_230338_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 11-06-2303-A128 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

Confetti on ws notification
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/Wallet.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

Scroll completed task into view
  autogpt_platform/frontend/src/components/layout/Navbar/components/Wallet/components/WalletTaskGroups.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

Complete rerun task on Run again
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-details-view.tsx
Owners: @0ubbe, @kcze, @Abhi1992002
