Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

Delete autogpt_platform/backend/load-tests/tests/basic/single-endpoint-test.js
  autogpt_platform/backend/load-tests/tests/basic/single-endpoint-test.js
Owners: @Abhi1992002

Delete autogpt_platform/backend/load-tests/tests/basic/connectivity-test.js
  autogpt_platform/backend/load-tests/tests/basic/connectivity-test.js
Owners: @Abhi1992002

Delete autogpt_platform/backend/load-tests/tests/marketplace/public-access-test.js
  autogpt_platform/backend/load-tests/tests/marketplace/public-access-test.js
Owners: @Abhi1992002

Delete autogpt_platform/backend/load-tests/tests/comprehensive/platform-journey-test.js
  autogpt_platform/backend/load-tests/tests/comprehensive/platform-journey-test.js
Owners: @Abhi1992002

Discard changes to autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
  autogpt_platform/backend/load-tests/scenarios/comprehensive-platform-load-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Delete autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Delete autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/run-tests.sh
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/interactive-test.js
  autogpt_platform/backend/load-tests/interactive-test.js
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Discard changes to autogpt_platform/backend/load-tests/run-tests.sh
  autogpt_platform/backend/load-tests/run-tests.sh
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: determine the data type where we should lmao
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

fix: use the type correctly
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(blocks): Handle NoneType in DataForSEO Blocks and Add missing Error pins (#10995)
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Handle NoneType in DataForSEO Blocks and Add missing Error pins (#10995)
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix: yay types
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat: baseline backend for optional
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/optional_block.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/migrations/add_skipped_status.sql
  autogpt_platform/backend/schema.prisma
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

Discard changes to autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Discard changes to autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Swiftyos, @ntindle, @Bentlybro

feat: Implement Linear OAuth refresh token and migration
  LINEAR_OAUTH_IMPLEMENTATION.md
  autogpt_platform/backend/backend/blocks/linear/_config.py
  autogpt_platform/backend/backend/blocks/linear/_oauth.py
Owners: @Bentlybro, @Pwuts, @Swiftyos, @ntindle

feat: baseline impl
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/test/executor/test_optional_blocks.py
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts, @Abhi1992002, @0ubbe, @kcze

Discard changes to autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
  autogpt_platform/backend/backend/blocks/dataforseo/keyword_suggestions.py
Owners: @Swiftyos, @ntindle, @Bentlybro

Discard changes to autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
  autogpt_platform/backend/backend/blocks/dataforseo/related_keywords.py
Owners: @Swiftyos, @ntindle, @Bentlybro

ghrs: snap 09-25-2303-E972 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-25_230311_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 09-25-2303-E972 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 09-25-2303-E972 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-09-25_230311_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 09-25-2303-E972 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

feat: optimize /api/blocks endpoint performance
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: add intelligent uvicorn worker configuration
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix: simplify uvicorn worker logic and remove invalid parameter
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

fix(backend): Sanitize null bytes in SafeJson to prevent PostgreSQL 22P05 errors
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

refactor: simplify uvicorn configuration
  autogpt_platform/backend/backend/server/rest_api.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: use settings for uvicorn worker configuration
  autogpt_platform/backend/autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat: increase default workers from 4 to 8 for I/O workloads
  autogpt_platform/backend/backend/util/settings.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

remove lock
  autogpt_platform/backend/autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Revert "remove lock"
  autogpt_platform/backend/autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(backend): Add orjson support to SafeJson for improved performance
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update
  autogpt_platform/backend/autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

style: Format code after orjson integration
  autogpt_platform/backend/backend/util/json.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

update
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/poetry.lock
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Integrate improvements from PR #11001
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Improve retry alerts and optimize SafeJson
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/retry.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins
