Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops, @Significant-Gravitas/forge-maintainers, @Significant-Gravitas/benchmark-maintainers, @Significant-Gravitas/frontend-maintainers, @Significant-Gravitas/admins

.github/CODEOWNERS:

* @Significant-Gravitas/maintainers
.github/workflows/ @Significant-Gravitas/devops
classic/forge/ @Significant-Gravitas/forge-maintainers
classic/benchmark/ @Significant-Gravitas/benchmark-maintainers
classic/frontend/ @Significant-Gravitas/frontend-maintainers
autogpt_platform/infra @Significant-Gravitas/devops
.github/CODEOWNERS @Significant-Gravitas/admins

fix: clean up .gitignore for .env files
  .gitignore
Owners: @Significant-Gravitas/maintainers

fix: cleanup dupes
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers

Update env files and docker-compose env_file syntax
  autogpt_platform/backend/.env.example
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers

rename example to default
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/platform-frontend-ci.yml
  .gitignore
  autogpt_platform/.env.default
  autogpt_platform/README.md
  autogpt_platform/backend/.env.default
  autogpt_platform/db/docker/.env.default
  autogpt_platform/db/docker/reset.sh
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/installer/setup-autogpt.bat
  autogpt_platform/installer/setup-autogpt.sh
  docs/content/platform/advanced_setup.md
  docs/content/platform/getting-started.md
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops

ghrs: snap 08-11-2302-CD41 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-11_230247_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-11_230247_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-11_230247_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 08-11-2302-CD41 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 08-11-2302-CD41 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-11_230247_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 08-11-2302-CD41 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers

ref(infra): Supabase DB Docker env management and compose
  .gitignore
  autogpt_platform/db/docker/.env.default
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/docker-compose.yml
Owners: @Significant-Gravitas/maintainers

Update CLAUDE.md
  autogpt_platform/CLAUDE.md
Owners: @Significant-Gravitas/maintainers

feat(backend): in progress laucnhdarkly role lookup
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/backend/backend/data/supabase_auth.py
  autogpt_platform/backend/backend/data/supabase_auth_test.py
  autogpt_platform/backend/test_feature_flag.py
  autogpt_platform/backend/test_supabase_role.py
Owners: @Significant-Gravitas/maintainers

refactor(feature-flag): simplify LaunchDarkly client and remove supabase_auth
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/integrations/utils.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/test/e2e_test_data.py
Owners: @Significant-Gravitas/maintainers

ref(infra): Supabase DB Docker env management and compose (#10622)
  .gitignore
  autogpt_platform/CLAUDE.md
  autogpt_platform/db/docker/.env.default
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/docker-compose.yml
Owners: @Significant-Gravitas/maintainers

ref(backend):env config and docker-compose setup (#10621)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/platform-frontend-ci.yml
  .gitignore
  autogpt_platform/.env.default
  autogpt_platform/CLAUDE.md
  autogpt_platform/README.md
  autogpt_platform/backend/.env.default
  autogpt_platform/db/docker/.env.example
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/db/docker/reset.sh
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
  autogpt_platform/installer/setup-autogpt.bat
  autogpt_platform/installer/setup-autogpt.sh
  docs/content/platform/advanced_setup.md
  docs/content/platform/getting-started.md
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops

feat(feature-flag): add LaunchDarkly user context and metadata support (#10595)
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/server/integrations/utils.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
  autogpt_platform/backend/test/e2e_test_data.py
Owners: @Significant-Gravitas/maintainers

feat(feature-flag): add LaunchDarkly user context and metadata support (#10595)
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/server/integrations/utils.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
  autogpt_platform/backend/test/e2e_test_data.py
Owners: @Significant-Gravitas/maintainers

undo gitignore change, restore .env.default for frontend
  .gitignore
  autogpt_platform/frontend/.env.default
Owners: @Significant-Gravitas/maintainers

remove tracked .env
  autogpt_platform/frontend/.env
Owners: @Significant-Gravitas/maintainers

feat(platform): add py-spy profiling support
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers

feat(platform): add py-spy profiling support
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers

Revert "feat(platform): add py-spy profiling support"
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers

Revert "feat(platform): add py-spy profiling support"
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Owners: @Significant-Gravitas/maintainers

rebase
  .github/workflows/platform-frontend-ci.yml
Owners: @Significant-Gravitas/devops

chore: fix settings forms
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/SettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/EmailForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/useEmailForm.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/NotificationForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/useNotificationForm.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/helper.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/useSettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
Owners: @Significant-Gravitas/maintainers

chore: more changes
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/EmailForm/useEmailForm.ts
  autogpt_platform/frontend/src/app/api/auth/user/route.ts
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Owners: @Significant-Gravitas/maintainers

chore: tests
  autogpt_platform/frontend/src/tests/settings.spec.ts
Owners: @Significant-Gravitas/maintainers

feat(block): Remove paralel tool-call system prompting
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Significant-Gravitas/maintainers

feat(block): Remove paralel tool-call system prompting (#10627)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Significant-Gravitas/maintainers

feat(block): Remove paralel tool-call system prompting (#10627)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Owners: @Significant-Gravitas/maintainers

chore: fix loading state
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
Owners: @Significant-Gravitas/maintainers

margin edit
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
Owners: @Significant-Gravitas/maintainers

fix(backend): gmail reply reads the email its replying to
  autogpt_platform/backend/backend/blocks/google/gmail.py
Owners: @Significant-Gravitas/maintainers

feat(backend): add forward block + clean up code a bit
  autogpt_platform/backend/backend/blocks/google/gmail.py
Owners: @Significant-Gravitas/maintainers

chore: add Dependabot config and auto-merge workflow
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/workflows/auto_format.yml
  .github/workflows/dependabot-auto-merge.yml
Owners: @Significant-Gravitas/maintainers, @Significant-Gravitas/devops

Update llm.py
  autogpt_platform/backend/backend/blocks/llm.py
Owners: @Significant-Gravitas/maintainers

ref(backend): Make Gmail API calls async using asyncio.to_thread
  autogpt_platform/backend/backend/blocks/google/gmail.py
Owners: @Significant-Gravitas/maintainers

feat(backend): enhance dynamic field handling in SmartDecisionMakerBlock and CreateDictionaryBlock
  autogpt_platform/backend/backend/blocks/data_manipulation.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
Owners: @Significant-Gravitas/maintainers

fix(backend): Support dynamic values_#_* fields in CreateDictionaryBlock (#10587)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
Owners: @Significant-Gravitas/maintainers

fix(backend): Support dynamic values_#_* fields in CreateDictionaryBlock (#10587)
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
Owners: @Significant-Gravitas/maintainers

ghrs: snap 08-12-2302-F3A4 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-12_230250_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-12_230250_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2025-08-12_230250_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers
