Repository Significant-Gravitas/AutoGPT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/maintainers, @0ubbe, @kcze, @Abhi1992002, @majdyz, @ntindle, @Pwuts, @Swiftyos, @Bentlybro, @Significant-Gravitas/devops, @Significant-Gravitas/admins

.github/CODEOWNERS:

# Global fallback
* @Significant-Gravitas/maintainers

# Frontend
autogpt_platform/frontend/ @0ubbe @kcze @Abhi1992002
classic/frontend/ @0ubbe @kcze @Abhi1992002

# Backend
autogpt_platform/backend/ @majdyz @ntindle @Pwuts @Swiftyos

# Blocks
autogpt_platform/backend/backend/blocks/ @Swiftyos @ntindle @Bentlybro

# Install / Docs
autogpt_platform/installer/ @Bentlybro @Pwuts
docs/ @Bentlybro @Pwuts
*.md @Bentlybro @Pwuts
README* @Bentlybro @Pwuts

# Docker changes
**/Dockerfile* @ntindle @Bentlybro @0ubbe
docker-compose*.yml @ntindle @Bentlybro @0ubbe
docker-compose*.yaml @ntindle @Bentlybro @0ubbe

# Database manager changes
autogpt_platform/backend/backend/data/ @majdyz
schema.prisma @majdyz
**/migrations/ @majdyz

# Notification changes
autogpt_platform/backend/backend/notifications/ @ntindle
autogpt_platform/backend/backend/notification.py @ntindle

# Block SDK changes
autogpt_platform/backend/backend/sdk/ @Swiftyos

# Auth changes
autogpt_platform/autogpt_libs/autogpt_libs/auth/ @Pwuts

# Molecule/Atom changes
autogpt_platform/frontend/src/components/molecules/ @0ubbe
autogpt_platform/frontend/src/components/atoms/ @0ubbe

# Classic changes
classic/ @Pwuts @Bentlybro

# Test changes
**/test/ @Abhi1992002
**/*test*.py @Abhi1992002
**/*test*.ts @Abhi1992002
**/*test*.tsx @Abhi1992002
**/tests/ @Abhi1992002
**/*.test.* @Abhi1992002

# DevOps and workflows
.github/workflows/ @Significant-Gravitas/devops
autogpt_platform/infra @Significant-Gravitas/devops

# Admin files
.github/CODEOWNERS @Significant-Gravitas/admins

Refactor LLM registry admin backend and frontend
  autogpt_platform/backend/backend/api/features/admin/execution_analytics_routes.py
  autogpt_platform/backend/backend/api/features/admin/llm_routes.py
  autogpt_platform/backend/backend/api/features/admin/llm_routes_test.py
  autogpt_platform/backend/backend/api/features/builder/db.py
  autogpt_platform/backend/backend/api/rest_api.py
  autogpt_platform/backend/backend/blocks/ai_condition.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/llm_registry/__init__.py
  autogpt_platform/backend/backend/data/llm_registry/model_types.py
  autogpt_platform/backend/backend/data/llm_registry/notifications.py
  autogpt_platform/backend/backend/data/llm_registry/registry.py
  autogpt_platform/backend/backend/data/llm_registry/schema_utils.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/backend/backend/server/v2/llm/model.py
  autogpt_platform/frontend/src/app/(platform)/admin/llms/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddProviderModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/CreatorsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DeleteModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DisableModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/EditModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/LlmRegistryDashboard.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/MigrationsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ModelsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/ProviderList.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/page.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/useLlmRegistryPage.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @Bentlybro, @0ubbe, @kcze

prettier
  autogpt_platform/frontend/src/app/(platform)/build/components/NewControlPanel/NewBlockMenu/AllBlocksContent/useAllBlockContent.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/NodeInputs.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Delete settings.local.json
  autogpt_platform/.claude/settings.local.json
Owners: @Significant-Gravitas/maintainers

format
  autogpt_platform/backend/backend/data/llm_registry/registry.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

Replace delete button with DeleteCreatorModal
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/CreatorsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DeleteCreatorModal.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

fix(blocks): Address PR review feedback for Reddit blocks
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/integrations/oauth/reddit.py
  autogpt_platform/backend/backend/util/settings.py
  docs/content/platform/new_blocks.md
Owners: @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

Update block-sdk-guide.md
  docs/content/platform/block-sdk-guide.md
Owners: @Bentlybro, @Pwuts

feat: add automatic deployment workflow for VPS
  .github/workflows/deploy-vps.yml
Owners: @Significant-Gravitas/devops

refactor(blocks): Add strip_reddit_prefix helper for Reddit ID normalization
  autogpt_platform/backend/backend/blocks/reddit.py
Owners: @Swiftyos, @ntindle, @Bentlybro

config: update ports to avoid conflicts on existing server
  .github/workflows/deploy-vps.yml
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
Owners: @Significant-Gravitas/devops, @ntindle, @Bentlybro, @0ubbe

fix(blocks): Update test mock to use over18 attribute name
  autogpt_platform/backend/backend/blocks/reddit.py
Owners: @Swiftyos, @ntindle, @Bentlybro

fix(blocks): Add missing strip_reddit_prefix in PostRedditCommentBlock
  .branchlet.json
  autogpt_platform/backend/backend/blocks/reddit.py
Owners: @Significant-Gravitas/maintainers, @Swiftyos, @ntindle, @Bentlybro

fix(platform/blocks): XMLParserBlock list object error (#11517)
  autogpt_platform/backend/backend/blocks/test/test_blocks_dos_vulnerability.py
  autogpt_platform/backend/backend/blocks/xml_parser.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Owners: @Abhi1992002, @Swiftyos, @ntindle, @Bentlybro, @majdyz, @Pwuts

fix(platform): prevent store submission with empty agent_id
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/model.py
  autogpt_platform/frontend/src/components/contextual/PublishAgentModal/components/AgentInfoStep/useAgentInfoStep.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

ghrs: snap 01-06-2302-F6A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-06_230305_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-06_230305_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-06_230305_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Owners: @Significant-Gravitas/maintainers

ghrs: stars and forks 01-06-2302-F6A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Owners: @Significant-Gravitas/maintainers

ghrs: vc agg 01-06-2302-F6A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2026-01-06_230305_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Owners: @Significant-Gravitas/maintainers

ghrs: report 01-06-2302-F6A9 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(gitbook): remove resurrected files that dev deleted/moved
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/build/components/BuilderActions/components/BuilderActionButton.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/molecules/PreviewBanner/PreviewBanner.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

docs(gitbook): sync documentation updates with dev branch (#11709)
  autogpt_platform/cloudflare_worker.js
  docs/.gitbook/assets/AGPT_Platform.png
  docs/.gitbook/assets/Banner_image.png
  docs/.gitbook/assets/Contribute.png
  docs/.gitbook/assets/Integrations.png
  docs/.gitbook/assets/Screenshot 2025-08-11 at 12.21.17 PM.png
  docs/.gitbook/assets/api-reference.jpg
  docs/.gitbook/assets/hosted.jpg
  docs/.gitbook/assets/no-code.jpg
  docs/.gitbook/assets/replicate-prediction-yt6p2d3gjhrma0ctdsv8vp1t70.jpeg
  docs/README.md
  docs/SUMMARY.md
Owners: @Significant-Gravitas/maintainers, @Bentlybro, @Pwuts

fix(infra): Add missing .claude/** pattern to worktreeCopyPatterns
  .branchlet.json
Owners: @Significant-Gravitas/maintainers

wip: adding waitlist
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/model.py
  autogpt_platform/backend/backend/api/features/store/routes.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/api/openapi.json
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

feat(platform): add optional credentials flag for agent blocks
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/frontend/src/app/(platform)/build/stores/nodeStore.ts
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/components/renderers/input-renderer/fields/CredentialField/useCredentialField.ts
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

extracted core chat changes from hackathon/copilot
  autogpt_platform/backend/backend/api/features/chat/config.py
  autogpt_platform/backend/backend/api/features/chat/db.py
  autogpt_platform/backend/backend/api/features/chat/model.py
  autogpt_platform/backend/backend/api/features/chat/model_test.py
  autogpt_platform/backend/backend/api/features/chat/prompts/chat_system.md
  autogpt_platform/backend/backend/api/features/chat/prompts/onboarding_system.md
  autogpt_platform/backend/backend/api/features/chat/routes.py
  autogpt_platform/backend/backend/api/features/chat/service.py
  autogpt_platform/backend/backend/api/features/chat/tools/__init__.py
  autogpt_platform/backend/backend/api/features/chat/tools/agent_output.py
  autogpt_platform/backend/backend/api/features/chat/tools/create_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/edit_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/find_library_agent.py
  autogpt_platform/backend/backend/api/features/chat/tools/models.py
  autogpt_platform/backend/backend/api/features/chat/tools/run_agent.py
  autogpt_platform/backend/migrations/20251216153446_add_chat_tables/migration.sql
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @Abhi1992002, @Bentlybro

added prisma schame changes and understanding tool
  autogpt_platform/Makefile
  autogpt_platform/backend/backend/api/features/chat/tools/add_understanding.py
  autogpt_platform/backend/backend/data/understanding.py
  autogpt_platform/backend/schema.prisma
Owners: @Significant-Gravitas/maintainers, @majdyz, @ntindle, @Pwuts, @Swiftyos

chore: update designs
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/LibrarySearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: space
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: updates
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: changes
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/helpers.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/base-registry.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/GoogleDrivePicker/GoogleDrivePicketWidget.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/GoogleDrivePicker/index.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): use Google Drive Picker on new builder (#11702)
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/GoogleDrivePickerInput.tsx
  autogpt_platform/frontend/src/components/contextual/GoogleDrivePicker/helpers.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/base-registry.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/GoogleDrivePicker/GoogleDrivePicketWidget.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/GoogleDrivePicker/index.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/base/standard/widgets/index.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: updates
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/NewAgentLibraryView/components/other/EmptyTasks.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/library.spec.ts
  autogpt_platform/frontend/src/tests/pages/library.page.ts
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fix favourite button
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

refactor: review suggestions
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeContextMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeRightClickMenu.tsx
  autogpt_platform/frontend/src/components/molecules/SecondaryMenu/SecondaryMenu.stories.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: fixes
  autogpt_platform/frontend/src/app/(platform)/library/components/FavoritesSection/FavoritesSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/useLibrarySearchbar.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

chore: double-click native menu
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode/components/NodeRightClickMenu.tsx
Owners: @0ubbe, @kcze, @Abhi1992002

adding hybrid based searching
  autogpt_platform/backend/backend/api/features/store/backfill_embeddings.py
  autogpt_platform/backend/backend/api/features/store/db.py
  autogpt_platform/backend/backend/api/features/store/embeddings.py
  autogpt_platform/backend/backend/api/features/store/hybrid_search.py
  autogpt_platform/backend/migrations/20260107092806_add_store_listing_embeddings/migration.sql
  autogpt_platform/backend/migrations/20260107140000_add_search_gin_index/migration.sql
  autogpt_platform/backend/schema.prisma
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos

feat(frontend): integrate CustomSchemaField into form generation and enhance input schema processing
  autogpt_platform/frontend/src/components/renderers/InputRenderer/registry/CustomSchemaField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/registry/Form.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/input-schema-pre-processor.ts
Owners: @0ubbe, @kcze, @Abhi1992002

feat(frontend): enhance FormRenderer with custom field handling and UI schema integration
  autogpt_platform/frontend/src/components/renderers/InputRenderer/FormRenderer.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/registry/CustomSchemaField.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/registry/Form.tsx
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/generate-ui-schema.ts
  autogpt_platform/frontend/src/components/renderers/InputRenderer/utils/input-schema-pre-processor.ts
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
Owners: @0ubbe, @kcze, @Abhi1992002

Improve admin LLM registry UX and error handling
  autogpt_platform/backend/backend/api/features/admin/execution_analytics_routes.py
  autogpt_platform/backend/backend/executor/llm_registry_init.py
  autogpt_platform/backend/backend/server/v2/llm/db.py
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddCreatorModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/AddProviderModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/CreatorsTable.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/components/DeleteModelModal.tsx
  autogpt_platform/frontend/src/app/(platform)/admin/llms/page.tsx
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos, @0ubbe, @kcze, @Abhi1992002

remove tool imports from tools we have not added yet
  autogpt_platform/backend/backend/api/features/chat/tools/__init__.py
Owners: @majdyz, @ntindle, @Pwuts, @Swiftyos
