Repository Significant-Gravitas/AutoGPT, changes with the labels that .github/labeler.yml gives for each.
All labels: AutoGPT Agent, Forge, Benchmark, Frontend, Arena, documentation

.github/labeler.yml:

AutoGPT Agent:
- changed-files:
  - any-glob-to-any-file: autogpts/autogpt/**

Forge:
- changed-files:
  - any-glob-to-any-file: autogpts/forge/**

Benchmark:
- changed-files:
  - any-glob-to-any-file: benchmark/**

Frontend:
- changed-files:
  - any-glob-to-any-file: frontend/**

Arena:
- changed-files:
  - any-glob-to-any-file: arena/**

documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

ghrs: snap 02-29-2302-C6F2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-29_230232_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-29_230232_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-29_230232_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Labels: none

ghrs: vc agg 02-29-2302-C6F2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-02-29_230232_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Labels: none

ghrs: stars and forks 02-29-2302-C6F2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Labels: none

ghrs: report 02-29-2302-C6F2 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Labels: none

ci: Add 'Arena intake' workflow to automatically check 'entering the arena' PRs
  .github/workflows/arena-intake.yml
Labels: none

ci: Add 'Arena intake' workflow to automatically check 'entering the arena' PRs
  .github/workflows/arena-intake.yml
Labels: none

ci: Add 'Arena intake' workflow to automatically check 'entering the arena' PRs
  .github/workflows/arena-intake.yml
Labels: none

Benchmark report for autogpt @ 2024-03-01
  benchmark/reports/autogpt/20240301T021145_full_run/radar_chart.png
  benchmark/reports/autogpt/20240301T021145_full_run/report.json
  benchmark/reports/autogpt/20240301T021145_full_run/report.md
Labels: Benchmark

ci(arena): Fix `arena-intake` workflow
  .github/workflows/arena-intake.yml
Labels: none

ci(arena): Fix `arena-intake` workflow
  .github/workflows/arena-intake.yml
Labels: none

ci(arena): Fix `arena-intake` workflow
  .github/workflows/arena-intake.yml
Labels: none

Minor changes
  autogpts/autogpt/agbenchmark_config/benchmarks.py
  autogpts/autogpt/autogpt/agent_factory/generators.py
  autogpts/autogpt/autogpt/agent_manager/agent_manager.py
  autogpts/autogpt/autogpt/agents/agent.py
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/commands/file_operations.py
  autogpts/autogpt/autogpt/file_storage/base.py
  autogpts/autogpt/autogpt/file_storage/gcs.py
  autogpts/autogpt/tests/unit/test_file_operations.py
  autogpts/autogpt/tests/utils.py
Labels: AutoGPT Agent

Add autogpt-pwuts.json as duplicate of autogpt.json
  arena/autogpt-pwuts.json
Labels: Arena

ci(arena): Fix `arena-intake` workflow
  .github/workflows/arena-intake.yml
Labels: none

ci(arena): Fix `arena-intake` workflow
  .github/workflows/arena-intake.yml
Labels: none

ci(arena): Fix `arena-intake` workflow
  .github/workflows/arena-intake.yml
Labels: none

feat(ci/arena): Add logging and debug output to workflow script
  .github/workflows/arena-intake.yml
Labels: none

feat(ci/arena): Add logging and debug output to workflow script
  .github/workflows/arena-intake.yml
Labels: none

feat(ci/arena): Add logging and debug output to workflow script
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix syntax & formatting errors
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix syntax & formatting errors
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix syntax & formatting errors
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix error accessing `context` & improve log output readability
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix error accessing `context` & improve log output readability
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix error accessing `context` & improve log output readability
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Make check for `pr.mergeable` more specific
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Make check for `pr.mergeable` more specific
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Make check for `pr.mergeable` more specific
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Reverse check for `pr.mergeable`
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Reverse check for `pr.mergeable`
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Reverse check for `pr.mergeable`
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Improve output format
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Improve output format
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Improve output format
  .github/workflows/arena-intake.yml
Labels: none

dedup
  arena/autogpt-pwuts.json
Labels: Arena

fix(ci/arena): Skip checking file against itself for duplicates
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Skip checking file against itself for duplicates
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Skip checking file against itself for duplicates
  .github/workflows/arena-intake.yml
Labels: none

add second file
  arena/autogpt-pwuts2.json
Labels: Arena

modify existing entry autogpt.json
  arena/autogpt.json
Labels: Arena
