Repository Significant-Gravitas/AutoGPT, changes with the labels that .github/labeler.yml gives for each.
All labels: AutoGPT Agent, Forge, Benchmark, Frontend, Arena, documentation

ghrs: vc agg 03-03-2302-8BBF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-03_230224_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Labels: none

ghrs: stars and forks 03-03-2302-8BBF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Labels: none

ghrs: report 03-03-2302-8BBF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Labels: none

11010010 entering the arena
  arena/11010010.json
Labels: Arena

XiuyuanAgent entering the arena
  arena/XiuyuanAgent.json
Labels: Arena

Benchmark report for autogpt @ 2024-03-04
  benchmark/reports/autogpt/20240304T021938_full_run/radar_chart.png
  benchmark/reports/autogpt/20240304T021938_full_run/report.json
  benchmark/reports/autogpt/20240304T021938_full_run/report.md
Labels: Benchmark

.github/labeler.yml:

AutoGPT Agent:
- changed-files:
  - any-glob-to-any-file: autogpts/autogpt/**

Forge:
- changed-files:
  - any-glob-to-any-file: autogpts/forge/**

Benchmark:
- changed-files:
  - any-glob-to-any-file: benchmark/**

Frontend:
- changed-files:
  - any-glob-to-any-file: frontend/**

Arena:
- changed-files:
  - any-glob-to-any-file: arena/**

documentation:
- changed-files:
  - any-glob-to-any-file: docs/**
