Repository Significant-Gravitas/AutoGPT, changes with the labels that .github/labeler.yml gives for each.
All labels: AutoGPT Agent, Forge, Benchmark, Frontend, Arena, documentation

fix(ci/arena): Fix requesting manual review
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix requesting manual review
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix requesting manual review
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix requesting manual review
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix requesting manual review
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix requesting manual review
  .github/workflows/arena-intake.yml
Labels: none

docs: replace `polyfill.io`
  docs/mkdocs.yml
Labels: documentation

Add clone_with_subroot to FileStorage
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/file_storage/base.py
  autogpts/autogpt/autogpt/file_storage/gcs.py
  autogpts/autogpt/autogpt/file_storage/local.py
  autogpts/autogpt/autogpt/file_storage/s3.py
Labels: AutoGPT Agent

fix(ci/arena): Fix requesting manual review
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix requesting manual review
  .github/workflows/arena-intake.yml
Labels: none

fix(ci/arena): Fix requesting manual review
  .github/workflows/arena-intake.yml
Labels: none

ci: Disable annoying auto-message discouraging big PRs
  .github/workflows/pr-label.yml
Labels: none

ci: Disable annoying auto-message discouraging big PRs
  .github/workflows/pr-label.yml
Labels: none

ci: Disable annoying auto-message discouraging big PRs
  .github/workflows/pr-label.yml
Labels: none

Remove FileManager
  autogpts/autogpt/autogpt/agent_manager/agent_manager.py
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/agents/utils/file_manager.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/file_storage/local.py
Labels: AutoGPT Agent

Add rename to FileStorage
  autogpts/autogpt/autogpt/file_storage/base.py
  autogpts/autogpt/autogpt/file_storage/gcs.py
  autogpts/autogpt/autogpt/file_storage/local.py
  autogpts/autogpt/autogpt/file_storage/s3.py
Labels: AutoGPT Agent

Add change_agent_id to AgentFileManagerMixin
  autogpts/autogpt/autogpt/agent_manager/agent_manager.py
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/app/main.py
Labels: AutoGPT Agent

Remove unused agent_data_dir
  autogpts/autogpt/autogpt/agents/base.py
Labels: AutoGPT Agent

Update tests
  autogpts/autogpt/autogpt/agent_manager/agent_manager.py
  autogpts/autogpt/autogpt/file_storage/base.py
  autogpts/autogpt/autogpt/file_storage/gcs.py
  autogpts/autogpt/autogpt/file_storage/local.py
  autogpts/autogpt/autogpt/file_storage/s3.py
  autogpts/autogpt/tests/unit/test_file_operations.py
  autogpts/autogpt/tests/unit/test_local_file_storage.py
Labels: AutoGPT Agent

ghrs: snap 03-01-2302-3279 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-01_230251_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-01_230251_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-01_230251_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Labels: none

ghrs: stars and forks 03-01-2302-3279 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Labels: none

ghrs: vc agg 03-01-2302-3279 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-01_230251_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Labels: none

ghrs: report 03-01-2302-3279 for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Labels: none

JeremiAssistant entering the arena
  arena/JeremiAssistant.json
Labels: Arena

Benchmark report for autogpt @ 2024-03-02
  benchmark/reports/autogpt/20240302T020848_full_run/radar_chart.png
  benchmark/reports/autogpt/20240302T020848_full_run/report.json
  benchmark/reports/autogpt/20240302T020848_full_run/report.md
Labels: Benchmark

Singleflying entering the arena
  arena/Singleflying.json
Labels: Arena

test_autogpt entering the arena
  arena/test_autogpt.json
Labels: Arena

my_agent entering the arena
  arena/my_agent.json
Labels: Arena

TestRunJunkAgent entering the arena
  arena/TestRunJunkAgent.json
Labels: Arena

ghrs: snap 03-02-2302-4DCD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-02_230233_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-02_230233_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-02_230233_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Labels: none

ghrs: stars and forks 03-02-2302-4DCD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/forks.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazers.csv
Labels: none

ghrs: vc agg 03-02-2302-4DCD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-02_230233_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/views_clones_aggregate.csv
Labels: none

ghrs: report 03-02-2302-4DCD for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/latest-report/report.html
  Significant-Gravitas/AutoGPT/latest-report/report.md
  Significant-Gravitas/AutoGPT/latest-report/report.pdf
  Significant-Gravitas/AutoGPT/latest-report/report_for_pdf.html
Labels: none

summarizer entering the arena
  arena/summarizer.json
Labels: Arena

Benchmark report for autogpt @ 2024-03-03
  benchmark/reports/autogpt/20240303T021002_full_run/radar_chart.png
  benchmark/reports/autogpt/20240303T021002_full_run/report.json
  benchmark/reports/autogpt/20240303T021002_full_run/report.md
Labels: Benchmark

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

agent entering the arena
  arena/agent.json
Labels: Arena

ghrs: snap 03-03-2302-8BBF for Significant-Gravitas/AutoGPT
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-03_230224_top_paths_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-03_230224_top_referrers_snapshot.csv
  Significant-Gravitas/AutoGPT/ghrs-data/snapshots/2024-03-03_230224_views_clones_series_fragment.csv
  Significant-Gravitas/AutoGPT/ghrs-data/stargazer-snapshots.csv
Labels: none

.github/labeler.yml:

AutoGPT Agent:
- changed-files:
  - any-glob-to-any-file: autogpts/autogpt/**

Forge:
- changed-files:
  - any-glob-to-any-file: autogpts/forge/**

Benchmark:
- changed-files:
  - any-glob-to-any-file: benchmark/**

Frontend:
- changed-files:
  - any-glob-to-any-file: frontend/**

Arena:
- changed-files:
  - any-glob-to-any-file: arena/**

documentation:
- changed-files:
  - any-glob-to-any-file: docs/**
