Repository Significant-Gravitas/AutoGPT, pull requests merged in 2023-07, with the labels that each got.

#4867 Update existing abilities to return all fields in the AbilityResult
  autogpt/core/ability/builtins/file_operations.py
  autogpt/core/ability/schema.py
Labels: size/m

#4876 fix for #4813
  autogpt/processing/text.py
Labels: bug, high priority, hotfix, size/s

#4883 Update config for benchmark changes
  config.json
Labels: size/m

#4884 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/s

#4858 Hotfix - call model_post_init explicitly until pydantic 2.0
  autogpt/config/config.py
Labels: hotfix, size/s

#4870 Simplified plugin log messages
  autogpt/plugins/__init__.py
  autogpt/plugins/plugins_config.py
Labels: hotfix, size/m

#4889 Update OpenAI model ID mappings
  autogpt/llm/providers/openai.py
Labels: size/s, API costs

#4888 Fix plugin loading issues
  autogpt/config/config.py
  autogpt/plugins/plugins_config.py
  scripts/install_plugin_deps.py
  tests/conftest.py
  tests/unit/test_plugins.py
Labels: bug, size/l, function: plugins

#4893 Fix errors in Mandatory Tasks of Benchmarks
  tests/challenges/basic_abilities/test_write_file.py
  tests/challenges/memory/test_memory_challenge_a.py
Labels: size/s

#4855 New Challenge test_information_retrieval_challenge_c
  tests/challenges/current_score.json
  tests/challenges/information_retrieval/test_information_retrieval_challenge_c.py
Labels: size/m

#4471 Update Wiki to reflect changes with `docker-compose`
  docker-compose.yml
  docs/setup.md
  docs/usage.md
Labels: documentation, docker, size/m, behaviour change

#3774 Utilize environment variables for all agent key bindings
  autogpt/agent/agent.py
Labels: size/s, ready-for-maintainer

#4882 Fix potential passing of NoneType to remove_ansi_escape
  autogpt/logs.py
Labels: bug, hotfix, size/s

#4875 Fix Azure OpenAI setup problems
  .env.template
  autogpt/config/config.py
  autogpt/llm/utils/__init__.py
  autogpt/memory/vector/utils.py
  tests/unit/test_config.py
Labels: size/l

#4899 Use GPT-4 in Agent loop by default
  .env.template
  autogpt/agent/agent.py
  autogpt/config/config.py
  autogpt/configurator.py
  autogpt/llm/chat.py
  autogpt/llm/utils/__init__.py
  autogpt/memory/message_history.py
  autogpt/processing/text.py
  autogpt/setup.py
  azure.yaml.template
  docs/configuration/options.md
  docs/setup.md
  docs/usage.md
  tests/unit/test_agent_manager.py
  tests/unit/test_config.py
  tests/unit/test_message_history.py
Labels: API access, AI efficacy, size/l, behaviour change

#3250 Add CLI args for `ai_name`, `ai_role`, and `ai_goals`
  autogpt/cli.py
  autogpt/config/ai_config.py
  autogpt/config/config.py
  autogpt/main.py
  autogpt/prompts/prompt.py
  autogpt/setup.py
  run.sh
  tests/unit/data/test_ai_config.yaml
Labels: enhancement, size/l, function: config, needs manual testing

#4902 Bugfix fixtts
  autogpt/agent/agent.py
  autogpt/logs.py
  autogpt/main.py
  autogpt/speech/base.py
  autogpt/speech/gtts.py
  autogpt/speech/macos_tts.py
  autogpt/speech/say.py
  autogpt/speech/stream_elements_speech.py
Labels: size/m

#4098 Fix the incompatibility bug of azure deployment id configuration with gpt4/3-only
  autogpt/config/config.py
  autogpt/configurator.py
  azure.yaml.template
  tests/unit/test_config.py
Labels: size/l, Azure, behaviour change

#4904 Fix PLAIN_OUTPUT for normal execution
  autogpt/logs.py
  autogpt/main.py
  tests/conftest.py
Labels: ci, size/m, testing

#4863 Bug Fix: summarize_text function usage
  autogpt/memory/vector/memory_item.py
  autogpt/processing/text.py
Labels: size/s

#4907 Sync `stable` into `release-v0.4.4` (#4876)
  autogpt/processing/text.py
Labels: project management, size/s

#1296 Document function get_memory in autogpt.memory.vector
  autogpt/memory/vector/__init__.py
Labels: size/m, code quality ⬆️

#4912 Bugfix/broken azure config
  autogpt/configurator.py
  autogpt/llm/api_manager.py
  autogpt/llm/utils/__init__.py
Labels: bug, size/m, Azure

#4905 Fix bugs running the core cli-app
  autogpt/core/README.md
  autogpt/core/ability/schema.py
  autogpt/core/agent/simple.py
  autogpt/core/planning/strategies/next_ability.py
  autogpt/core/runner/cli_app/cli.py
  autogpt/core/runner/cli_app/main.py
  requirements.txt
Labels: size/m, re-arch

#2635 Improve command system; add aliases for commands
  autogpt/agent/agent.py
  autogpt/app.py
  autogpt/command_decorator.py
  autogpt/commands/file_operations.py
  autogpt/commands/web_search.py
  autogpt/main.py
  autogpt/models/command.py
  autogpt/models/command_registry.py
  autogpt/prompts/generator.py
  tests/unit/test_commands.py
  tests/unit/test_execute_command.py
  tests/unit/test_prompt_generator.py
Labels: Needs Benchmark, AI efficacy, size/xl, behaviour change

#4913 Organize the configuration args
  autogpt/config/config.py
Labels: size/l, behaviour change, code quality ⬆️

#4901 Drop AbstractSingleton as a parent class of the vector memory
  autogpt/memory/vector/providers/base.py
  tests/integration/memory/test_json_file_memory.py
Labels: size/s, re-arch, behaviour change

#4900 Remove dead agent manager
  autogpt/agent/__init__.py
  autogpt/agent/agent_manager.py
  prompt_settings.yaml
  tests/unit/test_agent_manager.py
Labels: size/l, re-arch, behaviour change

#4925 Fix test_browse_website
  tests/integration/test_web_selenium.py
Labels: size/s, testing, behaviour change

#4922 Rebase `MessageHistory` on `ChatSequence`
  autogpt/agent/agent.py
  autogpt/llm/base.py
  autogpt/llm/chat.py
  autogpt/llm/utils/token_counter.py
  autogpt/memory/message_history.py
  tests/unit/test_message_history.py
Labels: size/l, behaviour change, code quality ⬆️

#4924 Fix type of `Config.plugins` as `AutoGPTPluginTemplate`
  autogpt/config/config.py
Labels: size/m, behaviour change, code quality ⬆️

#4921 Restructure logs.py into a module; include log_cycle
  .gitignore
  autogpt/agent/agent.py
  autogpt/llm/chat.py
  autogpt/log_cycle/__init__.py
  autogpt/log_cycle/json_handler.py
  autogpt/logs/__init__.py
  autogpt/logs/formatters.py
  autogpt/logs/handlers.py
  autogpt/logs/log_cycle.py
  autogpt/logs/logger.py
  autogpt/logs/utils.py
  autogpt/memory/message_history.py
  tests/challenges/utils.py
Labels: size/l, function: logging, behaviour change, code quality ⬆️

#4919 Improve token counting; account for functions
  autogpt/llm/base.py
  autogpt/llm/chat.py
  autogpt/llm/providers/openai.py
  autogpt/llm/utils/__init__.py
Labels: size/l, API costs, behaviour change, token limts

#4918 Move path argument sanitization for commands to a decorator
  autogpt/agent/agent.py
  autogpt/commands/decorators.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/git_operations.py
  autogpt/commands/image_gen.py
  tests/integration/test_execute_code.py
  tests/unit/test_file_operations.py
Labels: function: workspace, size/l, behaviour change, code quality ⬆️

#4933 Fix regression where we lost the api base and organization
  autogpt/config/config.py
  autogpt/llm/utils/__init__.py
  autogpt/memory/vector/utils.py
  tests/unit/test_config.py
Labels: size/m, behaviour change

#4937 Bulletin & version update for 0.4.4
  BULLETIN.md
  pyproject.toml
Labels: size/m, behaviour change

#4947 Sync release v0.4.4 + `stable` back into `master`
  .github/workflows/ci.yml
  BULLETIN.md
  autogpt/config/config.py
  autogpt/llm/utils/__init__.py
  autogpt/memory/vector/utils.py
  autogpt/processing/text.py
  pyproject.toml
  tests/unit/test_config.py
Labels: project management, size/l

#4953 Disable proxy for internal pull requests
  .github/workflows/ci.yml
Labels: ci, API access, size/s, testing

#4954 Add links to github issues in the README and clarify run instructions
  autogpt/core/README.md
Labels: size/m

#4958 Documentation/collate rearch notes
  autogpt/core/ARCHITECTURE_NOTES.md
  autogpt/core/README.md
Labels: size/l

#4957 Refactor/move functions in app to agent
  autogpt/agent/agent.py
  autogpt/app.py
  autogpt/main.py
  tests/unit/test_agent.py
  tests/unit/test_execute_command.py
Labels: size/l

#4961 Refactor/rename agent subpackage to agents
  autogpt/agent/__init__.py
  autogpt/agents/__init__.py
  autogpt/agents/agent.py
  autogpt/commands/decorators.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/git_operations.py
  autogpt/commands/image_gen.py
  autogpt/commands/task_statuses.py
  autogpt/commands/web_search.py
  autogpt/commands/web_selenium.py
  autogpt/llm/chat.py
  autogpt/main.py
  autogpt/memory/message_history.py
  benchmarks.py
  tests/challenges/debug_code/test_debug_code_challenge_a.py
  tests/conftest.py
  tests/integration/agent_factory.py
  tests/integration/test_execute_code.py
  tests/integration/test_image_gen.py
  tests/integration/test_web_selenium.py
  tests/unit/test_agent.py
  tests/unit/test_file_operations.py
  tests/unit/test_git_commands.py
  tests/unit/test_message_history.py
  tests/unit/test_web_search.py
Labels: size/m, re-arch

#4965 Add initial share logs page
  docs/imgs/e2b-dashboard.png
  docs/imgs/e2b-log-url.png
  docs/imgs/e2b-new-tag.png
  docs/imgs/e2b-tag-button.png
  docs/share-your-logs.md
  docs/usage.md
  mkdocs.yml
Labels: documentation, size/m

#4972 Replaced Fictitious color name Fore.ORANGE
  autogpt/config/config.py
Labels: size/s

#3666 Fix orjson encoding text with UTF-8 surrogates
  autogpt/memory/vector/memory_item.py
  requirements.txt
Labels: size/s

#4982 Extract application code from the agent
  autogpt/agents/agent.py
  autogpt/agents/base.py
  autogpt/main.py
  benchmarks.py
Labels: size/xl

#2804 Integrate `plugin.handle_text_embedding` hook
  autogpt/memory/vector/utils.py
  autogpt/models/base_open_ai_plugin.py
  tests/unit/models/test_base_open_api_plugin.py
Labels: enhancement, needs discussion, size/m, function: plugins

#4997 hot fix the SIGINT handler
  autogpt/utils.py
Labels: size/s

#5000 Fix loading the plugins config
  autogpt/config/config.py
Labels: bug, size/m

#4996 Fix `execute_python_file` workspace mount & Windows path formatting
  autogpt/commands/execute_code.py
Labels: bug, docker, size/s

#5002 Update BULLETIN.md and version numbers
  BULLETIN.md
  pyproject.toml
Labels: size/m

#4999 Update the sigint handler to be smart enough to actually work
  autogpt/agents/__init__.py
  autogpt/main.py
  autogpt/spinner.py
  tests/unit/test_spinner.py
Labels: size/l

#5005 Fix configuring TTS engine
  autogpt/config/config.py
Labels: bug, size/m, function: config, function: speech

#5021 runner.cli parsers set as a library
  autogpt/core/runner/cli_app/main.py
  autogpt/core/runner/client_lib/parser.py
Labels: size/m

#5020 Merging v0.4.5 into master
  BULLETIN.md
  autogpt/config/config.py
  pyproject.toml
Labels: project management, size/m

#5022 Bugfix/remove breakpoint from embedding function
  autogpt/memory/vector/utils.py
Labels: size/s, behaviour change

#5033 Bugfix/bad null byte
  autogpt/workspace/workspace.py
Labels: bug, platform dependent, function: workspace, behaviour change

#5032 Fix path processing
  .gitignore
  autogpt/cli.py
  autogpt/commands/execute_code.py
  autogpt/commands/image_gen.py
  autogpt/config/ai_config.py
  autogpt/config/config.py
  autogpt/logs/handlers.py
  autogpt/logs/log_cycle.py
  autogpt/logs/logger.py
  autogpt/main.py
  autogpt/memory/vector/providers/json_file.py
  autogpt/plugins/__init__.py
  autogpt/plugins/plugins_config.py
  autogpt/prompts/prompt.py
  autogpt/workspace/workspace.py
  benchmarks.py
  docs/configuration/memory.md
  docs/setup.md
  tests/conftest.py
  tests/unit/test_config.py
  tests/unit/test_plugins.py
Labels: function: workspace, size/l, function: logging, code quality ⬆️

#5028 fix the forgotten + symbol in parse_ability_result(...) in parser.py
  autogpt/core/runner/client_lib/parser.py
Labels: size/s

#5034 Add config options to documentation site
  mkdocs.yml
Labels: documentation, size/xs

#5026 Move all application code to an application subpackage
  autogpt/__main__.py
  autogpt/app/__init__.py
  autogpt/app/cli.py
  autogpt/app/configurator.py
  autogpt/app/main.py
  autogpt/app/setup.py
  autogpt/commands/__init__.py
  autogpt/llm/utils/__init__.py
  autogpt/logs/__init__.py
  autogpt/logs/utils.py
  autogpt/prompts/prompt.py
  benchmarks.py
  main.py
  tests.py
  tests/integration/test_setup.py
  tests/unit/test_config.py
Labels: size/l, re-arch, code quality ⬆️

#4994 Gracefully handle plugin loading failure
  autogpt/plugins/__init__.py
Labels: size/m, function: plugins

#5008 Update memory.md with more warnings about memory being disabled
  docs/configuration/memory.md
Labels: size/m

#4987 Integrate Auto-GPT with Auto-GPT-Benchmarks
  agbenchmark/__init__.py
  agbenchmark/benchmarks.py
  agbenchmark/config.json
  agbenchmark/regression_tests.json
  requirements.txt
  tests/challenges/utils.py
Labels: size/m

#5044 Add API via agent-protocol SDK
  autogpt/core/runner/cli_web_app/cli.py
  autogpt/core/runner/cli_web_app/client/__init__.py
  autogpt/core/runner/cli_web_app/client/client.py
  autogpt/core/runner/cli_web_app/server/api.py
  autogpt/core/runner/cli_web_app/server/schema.py
  autogpt/core/runner/cli_web_app/server/services/__init__.py
  autogpt/core/runner/cli_web_app/server/services/users.py
  requirements.txt
Labels: size/l

#5041 Fix workspace crashing
  agbenchmark/benchmarks.py
  autogpt/agents/agent.py
  autogpt/app/main.py
  autogpt/workspace/workspace.py
  docs/challenges/building_challenges.md
  tests/conftest.py
  tests/integration/agent_factory.py
  tests/unit/test_message_history.py
Labels: size/m

#5047 Fix runtime error in the API
  autogpt/core/runner/cli_web_app/cli.py
  autogpt/core/runner/cli_web_app/server/api.py
Labels: size/m

#5048 Change workspace location
  agbenchmark/config.json
Labels: size/s

#5042 Filepath fixes and docs updates to specify when relative paths are expected
  .env.template
  autogpt/app/cli.py
  autogpt/app/main.py
  autogpt/config/config.py
  docs/configuration/options.md
Labels: size/m

#5050 Remove delete file
  autogpt/agents/base.py
  autogpt/commands/file_operations.py
  autogpt/core/planning/templates.py
  tests/unit/test_file_operations.py
Labels: size/m

#5076 Improve prompting and prompt generation infrastructure
  autogpt/agents/agent.py
  autogpt/agents/base.py
  autogpt/app/setup.py
  autogpt/config/ai_config.py
  autogpt/config/prompt_config.py
  autogpt/llm/utils/__init__.py
  autogpt/prompts/generator.py
  autogpt/prompts/prompt.py
  prompt_settings.yaml
  tests/unit/test_prompt_config.py
  tests/unit/test_prompt_generator.py
Labels: size/l, function: prompt generation, prompt change, behaviour change, code quality ⬆️

#5051 Remove append to file
  agbenchmark/benchmarks.py
  autogpt/commands/file_operations.py
  autogpt/config/config.py
  autogpt/llm/utils/__init__.py
  tests/unit/test_config.py
Labels: size/m, behaviour change

#5063 Add categories to command registry
  agbenchmark/benchmarks.py
  autogpt/app/main.py
  autogpt/commands/__init__.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/git_operations.py
  autogpt/commands/image_gen.py
  autogpt/commands/system.py
  autogpt/commands/web_search.py
  autogpt/commands/web_selenium.py
  autogpt/core/runner/cli_web_app/server/api.py
  autogpt/models/command_registry.py
  tests/mocks/mock_commands.py
  tests/unit/test_commands.py
Labels: size/l, command system

#5078 Do not load disabled commands (faster exec & benchmark runs)
  agbenchmark/benchmarks.py
  autogpt/core/runner/cli_web_app/server/api.py
  benchmarks.py
Labels: size/m
