Repository Significant-Gravitas/AutoGPT, pull requests merged in 2023-04, with the labels that each got.

#45 Makes it possible to use gpt-3.5
  .env.template
  .gitignore
  requirements-alternative.txt
  requirements.txt
  scripts/agent_manager.py
  scripts/ai_config.py
  scripts/ai_functions.py
  scripts/browse.py
  scripts/call_ai_function.py
  scripts/chat.py
  scripts/commands.py
  scripts/config.py
  scripts/data.py
  scripts/data/prompt.txt
  scripts/execute_code.py
  scripts/json_parser.py
  scripts/llm_utils.py
  scripts/main.py
  scripts/speak.py
  scripts/token_counter.py
  tests/json_tests.py
Labels: enhancement, high priority

#372 Implement Local Cache and Redis Memory backend
  README.md
  requirements.txt
  scripts/commands.py
  scripts/config.py
  scripts/main.py
  scripts/memory/__init__.py
  scripts/memory/base.py
  scripts/memory/local.py
  scripts/memory/pinecone.py
  scripts/memory/redismem.py
Labels: enhancement, high priority

#618 Fixes for common json errors, cleanup json_parser file.
  scripts/json_parser.py
  scripts/json_utils.py
Labels: bug

#637 add config to use mac os tts instead of elevenlabs or gtts
  .env.template
  scripts/config.py
  scripts/speak.py
Labels: enhancement

#923 Add flake8 linter workflow
  .github/workflows/ci.yml
  .gitignore
  README.md
  main.py
  requirements.txt
  tests/context.py
Labels: enhancement

#801 enable milvus as memory backend
  .env.template
  README.md
  autogpt/config/config.py
  autogpt/memory/__init__.py
  requirements.txt
  scripts/memory/milvus.py
Labels: enhancement, needs discussion

#1787 README fix, update Table Of Contents, fix and better memory backend s…
  README.md
Labels: documentation

#1796 Create Docker Image CI
  .github/workflows/docker-image.yml
Labels: enhancement

#424 Feature/weaviate memory
  .env.template
  README.md
  autogpt/config/config.py
  autogpt/memory/__init__.py
  autogpt/memory/weaviate.py
  requirements.txt
  tests/integration/weaviate_memory_tests.py
Labels: enhancement, needs discussion, potential plugin

#1817 Create a Docker image on DockerHub on release to stable
  .github/workflows/dockerhub-imagepush.yml
Labels: enhancement

#1868 Fix README
  README.md
Labels: documentation, B7

#1947 Consolidate and fix workspace resolution
  autogpt/commands/audio_text.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/image_gen.py
  autogpt/workspace.py
Labels: B7

#1932 Fix .env.template documentation, incorrect default value for TEMPERATURE
  .env.template
Labels: documentation, B7, one-liner

#1904 Improve bug report template
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: documentation, B7

#1857 fixes #1821 by installing required drivers and adding options to chro…
  autogpt/commands/web_selenium.py
Labels: B7

#1925 Fix README.md
  README.md
Labels: documentation, B7, one-liner

#1743 Add run scripts for shell
  run.sh
  run_continuous.sh
Labels: B7, one-liner

#1679 data_ingestion.py 'no module named 'autogpt'" fix and ReadMe update
  README.md
  data_ingestion.py
Labels: B7

#1859 minimall add pytest
  .pre-commit-config.yaml
  README.md
  requirements.txt
  tests/integration/milvus_memory_tests.py
  tests/local_cache_test.py
  tests/milvus_memory_test.py
  tests/smoke_test.py
  tests/unit/test_commands.py
Labels: B7

#1942 Improve dev containers so autogpt can browse the web
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  autogpt/commands/web_selenium.py
Labels: B7

#1916 add utf-8 encoding to file handlers for logging
  autogpt/logs.py
Labels: bug, B7

#2040 Clean up README
  README.md
Labels: documentation, B7

#2041 Implement new demo video into README.md
  README.md
Labels: documentation, B7

#2022 Added one space after period for better formatting
  autogpt/memory/local.py
Labels: B7, one-liner

#1680 Add File Downloading Capabilities
  .gitignore
  autogpt/app.py
  autogpt/args.py
  autogpt/commands/file_operations.py
  autogpt/config/config.py
  autogpt/prompt.py
  autogpt/spinner.py
  autogpt/utils.py
Labels: B7

#1555 move comment to correct position
  autogpt/commands/execute_code.py
Labels: B7, one-liner

#905 Remove irrelevant noqa comments
  autogpt/json_fixes/auto_fix.py
Labels: BOld, one-liner

#1091 Add Nix flakes support through direnv
  .envrc
  .gitignore
Labels: needs discussion, BOld

#1240 Don't incapacitate yourself!
  autogpt/app.py
  autogpt/commands/execute_code.py
  autogpt/prompt.py
Labels: BOld

#1192 Use latest alpine image for code execution
  autogpt/commands/execute_code.py
Labels: BOld

#1723 install chrome/firefox for headless browing when running in docker co…
  Dockerfile
Labels: bug, B7

#2062 Fix split file to handle edge case where overlap size > last chunk size
  autogpt/commands/file_operations.py
Labels: bug, B7

#2108 【fix】config.py format
  autogpt/config/config.py
Labels: one-liner, B8

#2129 fix a missing import
  autogpt/memory/local.py
Labels: bug, one-liner, B8

#2132 Update .env.template
  .env.template
Labels: documentation, one-liner, B8

#2137 config.py: update OpenAI link to platform.openai.com
  autogpt/config/config.py
Labels: documentation, one-liner, B8

#2024 Remove requirements-docker.txt
  Dockerfile
  requirements-docker.txt
  requirements.txt
Labels: B8

#2105 Fix BRIAN_TTS - Prevent TypeError exception in _speech method
  autogpt/speech/brian.py
Labels: bug, one-liner, B8

#1987 Improve the error logging for OAI Issues
  autogpt/llm_utils.py
Labels: B7

#2093 memory object move to memory_add block
  autogpt/app.py
Labels: B7, one-liner

#1836 fixes Weaviate index name to classname conversion
  autogpt/memory/weaviate.py
  tests/integration/weaviate_memory_tests.py
Labels: B7

#2369 Move to Python 3.10 & improve CI workflow
  .devcontainer/Dockerfile
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .sourcery.yaml
  Dockerfile
Labels: ci

#2231 fix(python-run): prompt users to install Docker when execute_python_file encounters a Docker error
  autogpt/commands/execute_code.py
Labels: bug, function: run code, docker

#1815 Ensure Python 3.10 & 3.11 compatability
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
Labels: B7, ci

#1875 Option to disable working directory restrictions
  .env.template
  autogpt/commands/file_operations.py
  autogpt/config/config.py
  autogpt/workspace.py
Labels: enhancement, B7, function: workspace

#1371 Rename `evaluate_code` to `analyze_code`
  autogpt/app.py
  autogpt/commands/analyze_code.py
  autogpt/prompt.py
Labels: enhancement

#1477 Image generation improvements
  .env.template
  autogpt/commands/image_gen.py
  autogpt/config/config.py
  tests/test_image_gen.py
Labels: B7

#1130 Delete unused folder /outputs/
  .gitignore
  outputs/guest_post_email.txt
  outputs/how_to_save_money_on_energy_bills.txt
  outputs/logs/message-log-1.txt
  outputs/logs/message-log-2.txt
  outputs/logs/message-log-3.txt
  outputs/logs/message-log-4.txt
  outputs/post1_output.txt
  outputs/post2_output.txt
Labels: needs discussion

#2032 refactoring all json utilities
  autogpt/agent/agent.py
  autogpt/app.py
  autogpt/json_fixes/auto_fix.py
  autogpt/json_fixes/bracket_termination.py
  autogpt/json_fixes/escaping.py
  autogpt/json_fixes/master_json_fix_method.py
  autogpt/json_fixes/missing_quotes.py
  autogpt/json_fixes/utilities.py
  autogpt/json_utils/__init__.py
  autogpt/json_utils/json_fix_general.py
  autogpt/json_utils/json_fix_llm.py
  autogpt/json_utils/llm_response_format_1.json
  autogpt/json_utils/utilities.py
  autogpt/logs.py
  tests/test_json_parser.py
  tests/unit/json_tests.py
Labels: invalid_json, B8

#2324 Fix Issue #1211 - gpt-3.5 chunk is less than the default
  autogpt/processing/text.py
Labels: bug, B8

#2351 Update config.py fix: azure_model_to_deployment_id_map default type should be a dict, not list
  autogpt/config/config.py
Labels: bug, B8

#2355 Fix azure config
  autogpt/config/config.py
  azure.yaml.template
Labels: bug, B8

#2573 fix(workspace): resolve symlinks in workspace path before checking
  autogpt/workspace.py
Labels: one-liner, function: workspace, hotfix

#757 Plugin Support
  .env.template
  .gitignore
  .isort.cfg
  README.md
  autogpt/agent/agent.py
  autogpt/agent/agent_manager.py
  autogpt/app.py
  autogpt/chat.py
  autogpt/cli.py
  autogpt/commands/analyze_code.py
  autogpt/commands/audio_text.py
  autogpt/commands/command.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/git_operations.py
  autogpt/commands/google_search.py
  autogpt/commands/image_gen.py
  autogpt/commands/improve_code.py
  autogpt/commands/twitter.py
  autogpt/commands/web_selenium.py
  autogpt/commands/write_tests.py
  autogpt/config/ai_config.py
  autogpt/config/config.py
  autogpt/llm_utils.py
  autogpt/models/base_open_ai_plugin.py
  autogpt/plugins.py
  autogpt/prompts/__init__.py
  autogpt/prompts/generator.py
  autogpt/prompts/prompt.py
  autogpt/token_counter.py
  autogpt/types/openai.py
  autogpt/utils.py
  plugin.png
  plugins/__PUT_PLUGIN_ZIPS_HERE__
  requirements.txt
  scripts/__init__.py
  tests/mocks/__init__.py
  tests/mocks/mock_commands.py
  tests/test_commands.py
  tests/test_prompt_generator.py
  tests/unit/data/test_plugins/Auto-GPT-Plugin-Test-master.zip
  tests/unit/models/test_base_open_api_plugin.py
  tests/unit/test_browse_scrape_text.py
  tests/unit/test_plugins.py
Labels: high priority

#2467 Shirt size labeling for PRs
  .github/workflows/pr-label.yml
Labels: project management

#2605 fix shirt-sizing workflow permissions
  .github/workflows/pr-label.yml
Labels: project management

#1986 Update docker-hub image push action
  .github/workflows/dockerhub-imagepush.yml
Labels: B7

#2272 Stable
  .github/workflows/dockerhub-imagepush.yml
Labels: size/xs

#2523 Fix README `./run.sh start` -> `./run.sh`
  README.md
Labels: documentation, needs discussion, one-liner, B8, size/xs

#2619 Cancel in-progress docker CI on outdate
  .github/workflows/docker-image.yml
Labels: ci, size/xs

#2667 doc: update git clone command to use stable branch
  README.md
Labels: size/xs

#2644 Use inclusive language: Rename 'blacklist' to 'denylist' and 'whitelist' to 'allowlist'
  autogpt/config/config.py
  autogpt/plugins.py
  tests/unit/test_plugins.py
Labels: size/l

#2680 Pin BeautifulSoup version to fix `browse_website`
  requirements.txt
Labels: size/xs

#2727 fix #2654 spacy language model installation
  requirements.txt
  scripts/check_requirements.py
Labels: size/xs, bootstrapping

#2665 Fix `validate_json` file error when cwd != project root
  autogpt/json_utils/utilities.py
Labels: bug, one-liner

#2691 Add missing `size` param to generate_image_with_dalle
  autogpt/commands/image_gen.py
Labels: bug, one-liner, size/xs

#2753 Fix label of `download_file` command
  autogpt/commands/file_operations.py
Labels: AI efficacy, size/xs

#2735 Fix typo's
  autogpt/commands/analyze_code.py
  autogpt/commands/git_operations.py
  autogpt/commands/improve_code.py
Labels: size/m

#2628 Add Coverage reporting to CI pipeline
  .github/workflows/ci.yml
Labels: size/xs

#2758 Make `load_azure_config` throw if `azure.yaml` does not exist
  autogpt/config/config.py
Labels: bug, size/xs

#2752 docs: fix small typo in README
  README.md
Labels: size/xs

#2709 Update README.md
  README.md
Labels: documentation, one-liner, size/xs

#2705 add instruction to show .env
  README.md
Labels: documentation, size/xs

#2682 Update pre-commit version
  .pre-commit-config.yaml
Labels: size/xs

#2651 Improve plugin section in README.md to prevent dependency errors
  README.md
Labels: size/m

#2313 only adjust argument order
  autogpt/configurator.py
Labels: one-liner, B8

#2788 Make config load and override for every new run
  autogpt/config/config.py
Labels: setup, one-liner, size/xs

#2785 Update README.md
  README.md
Labels: documentation, size/l

#2832 fix indentation of bug template yml
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: high priority, one-liner

#2406 Fix docker usage readme
  README.md
  docker-compose.yml
Labels: documentation, B8, docker, size/xs

#2802 Update README.md ( `IMAGE_PROVIDER=sd`=> `IMAGE_PROVIDER=huggingface` )
  README.md
Labels: size/xs

#2771 [Hotfix] Fix coverage tooling
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: high priority, ci, hotfix, size/l

#2587 Add OS Info into the initial prompt
  autogpt/config/ai_config.py
  requirements.txt
Labels: Needs Benchmark, AI efficacy, size/m, function: run shell commands

#2837 Update readme to more clearly describe usage between platforms
  README.md
Labels: size/xs

#2558 Use readline if available
  autogpt/utils.py
Labels: one-liner, size/xs

#2205 Add file op tests
  autogpt/commands/file_operations.py
  tests/unit/__init__.py
  tests/unit/test_file_operations.py
Labels: size/l, testing

#2851 fixed typo
  autogpt/commands/google_search.py
Labels: bug, one-liner, size/xs

#2679 [feat] Update milvus_memory_test.py error log
  tests/milvus_memory_test.py
Labels: size/xs

#2877 Add Code Cov
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: size/l

#2855 Added basic spinner tests and modified spinner method docstring
  autogpt/spinner.py
  tests/unit/test_spinner.py
Labels: enhancement, size/l, testing

#2886 Documentation: fixing typos in README.md
  README.md
Labels: size/xs

#2884 Update README to include Eleven Labs speech setup
  README.md
Labels: size/m

#2888 Fixing header of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/xs

#2756 adjust file_operations.py code format
  autogpt/commands/file_operations.py
Labels: one-liner, size/xs

#2904 Fix(tests): restore config values after changing them in tests
  tests/test_config.py
Labels: size/m

#2881 Add CodeCov CI coverage requirements
  CONTRIBUTING.md
  codecov.yml
Labels: size/xs, testing

#2894 Re-work Docs and split out README (using MkDocs)
  .github/workflows/documentation.yml
  .gitignore
  README.md
  docs/configuration/imagegen.md
  docs/configuration/memory.md
  docs/configuration/search.md
  docs/configuration/voice.md
  docs/index.md
  docs/installation.md
  docs/plugins.md
  docs/testing.md
  docs/usage.md
  mkdocs.yml
  requirements.txt
Labels: documentation, size/xl

#2915 ci: selenium safari bug fixed
  requirements.txt
Labels: size/xs

#2708 Replace print statements with logging.error
  autogpt/speech/brian.py
Labels: one-liner, size/xs, function: logging

#2631 Fix plugin command arg ordering issue.
  autogpt/app.py
Labels: size/xs

#2521 misc: fix typo in benchmark
  .github/workflows/benchmark.yml
  benchmark/benchmark_entrepreneur_gpt_with_difficult_user.py
Labels: size/xs

#2461 Feature/create smoke test
  .github/workflows/goal_oriented_tasks.yml
  autogpt/config/config.py
  requirements.txt
  tests/integration/goal_oriented/cassettes/write_file.vcr.yml
  tests/integration/goal_oriented/goal_oriented_tasks.md
  tests/integration/goal_oriented/test_write_file.py
  tests/integration/goal_oriented/vcr_helper.py
  tests/smoke_test.py
Labels: ci, size/xl, testing

#2931 Enable support for loading multiple plugins per zip file
  autogpt/plugins.py
  tests/unit/test_plugins.py
Labels: high priority, hotfix, size/l

#2936 Plugins: debug line always printed in plugin load
  autogpt/plugins.py
Labels: size/xs

#2946 add decorator to tests so it's skipped if api key required but not present in the environment
  .github/workflows/ci.yml
  .github/workflows/goal_oriented_tasks.yml
  tests/conftest.py
  tests/integration/goal_oriented/test_write_file.py
  tests/local_cache_test.py
  tests/test_image_gen.py
  tests/utils.py
Labels: size/l

#2950 Adding tests for the utils module
  autogpt/utils.py
  tests/test_utils.py
  tests/utils.py
Labels: enhancement, size/xl, testing

#2961 Tests utils suite
  autogpt/utils.py
  tests/test_utils.py
  tests/utils.py
Labels: size/xl

#2896 Automatic prompting
  autogpt/prompts/prompt.py
  autogpt/setup.py
  tests/unit/test_setup.py
Labels: enhancement, AI efficacy, size/xl

#2977 Documentation typo: serach -> search
  docs/configuration/search.md
Labels: size/xs

#2981 Mark test test_generate_aiconfig_automatic_typical as @requires_api_…
  tests/unit/test_setup.py
Labels: size/xs

#2970 Add note for windows install
  docs/installation.md
Labels: size/xs

#2980 Fix to prompt generator - "Ensure the response can beparsed"
  autogpt/prompts/generator.py
Labels: size/xs

#2989 Add missing test decorator
  tests/unit/test_setup.py
Labels: size/xs

#2985 update weaviate.py for weaviate compatibility
  autogpt/memory/weaviate.py
Labels: size/xs

#2978 Documentation: fixing typos
  docs/configuration/memory.md
Labels: size/xs

#2975 Documentation: ensuring naming consistency
  docs/configuration/voice.md
Labels: size/xs

#3030 update documentation deploy gh action
  .github/workflows/documentation.yml
Labels: size/m

#2127 Support secure and authenticated Milvus memory backends
  .env.template
  autogpt/config/config.py
  autogpt/memory/__init__.py
  autogpt/memory/milvus.py
  docs/configuration/memory.md
Labels: enhancement, B8, function: memory, size/l

#3036 Fix Milvus module config import
  autogpt/memory/milvus.py
Labels: size/xs

#2982 Add workspace abstraction
  autogpt/agent/agent.py
  autogpt/cli.py
  autogpt/commands/audio_text.py
  autogpt/commands/command.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/git_operations.py
  autogpt/commands/image_gen.py
  autogpt/config/config.py
  autogpt/workspace.py
  autogpt/workspace/__init__.py
  autogpt/workspace/workspace.py
  tests/conftest.py
  tests/integration/goal_oriented/test_write_file.py
  tests/test_image_gen.py
  tests/test_workspace.py
  tests/unit/test_file_operations.py
  tests/unit/test_setup.py
  tests/utils.py
Labels: size/xl

#3044 Fix typo in warning message when non allowlisted plugins found
  autogpt/plugins.py
Labels: size/xs

#762 Make Auto-GPT aware of its running cost
  autogpt/api_manager.py
  autogpt/chat.py
  autogpt/config/ai_config.py
  autogpt/llm_utils.py
  autogpt/memory/base.py
  autogpt/modelsinfo.py
  autogpt/prompts/prompt.py
  autogpt/setup.py
  tests/test_api_manager.py
  tests/unit/test_commands.py
  tests/unit/test_setup.py
Labels: enhancement, B8, size/xl, API costs

#2952 Add tests for json_utils.json_fix_llm
  tests/unit/test_json_utils_llm.py
Labels: size/l, testing

#2996 Perm memory test cases
  tests/test_permanent_memory.py
Labels: size/l, testing

#3060 Refactor/collect embeddings code
  autogpt/llm_utils.py
  autogpt/memory/base.py
  autogpt/memory/milvus.py
  autogpt/memory/weaviate.py
  tests/integration/weaviate_memory_tests.py
Labels: size/m

#3066 Bugfix/make local memory json when it doesnt exist
  autogpt/commands/web_requests.py
  autogpt/memory/local.py
  autogpt/processing/text.py
  tests/conftest.py
  tests/local_cache_test.py
  tests/test_local_cache.py
Labels: size/xl

#3089 Resolve sequencing issue in global state management
  autogpt/cli.py
Labels: size/m

#3092 Fixed incorrect comment: Clear memory instead of Redis
  autogpt/memory/local.py
Labels: size/xs

#2616 Validate URLs in web commands before execution
  autogpt/app.py
  autogpt/commands/git_operations.py
  autogpt/commands/web_requests.py
  autogpt/commands/web_selenium.py
  autogpt/url_utils/__init__.py
  autogpt/url_utils/validators.py
  tests/unit/test_browse_scrape_text.py
Labels: size/xl

#2715 Add function and class descriptions to tests
  tests/browse_tests.py
  tests/context.py
  tests/integration/memory_tests.py
  tests/integration/milvus_memory_tests.py
  tests/integration/weaviate_memory_tests.py
  tests/milvus_memory_test.py
  tests/mocks/mock_commands.py
  tests/test_commands.py
  tests/test_image_gen.py
  tests/test_json_parser.py
  tests/test_token_counter.py
  tests/unit/json_tests.py
  tests/unit/models/test_base_open_api_plugin.py
  tests/unit/test_browse_scrape_links.py
  tests/unit/test_browse_scrape_text.py
  tests/unit/test_chat.py
  tests/unit/test_commands.py
  tests/unit/test_plugins.py
  tests/unit/test_spinner.py
Labels: documentation, size/xl, testing

#1843 Improve docker setup & config
  .devcontainer/Dockerfile
  .dockerignore
  .github/workflows/docker-image.yml
  BULLETIN.md
  Dockerfile
  README.md
  autogpt/commands/web_selenium.py
  docker-compose.yml
  docs/installation.md
  docs/usage.md
Labels: docker, size/xl

#3090 Add <reason> arg to do_nothing command
  autogpt/app.py
  autogpt/prompts/prompt.py
Labels: size/xs

#3073 fix test_search_files for windows
  tests/unit/test_file_operations.py
Labels: bug, one-liner, size/xs, testing

#1935 Adjust test_json_parser file
  tests/unit/_test_json_parser.py
  tests/unit/test_json_parser.py
Labels: size/l, testing

#3147 Error if null bytes are included in the path on windows
  autogpt/workspace/workspace.py
  tests/test_workspace.py
Labels: size/l

#3116 Agent and agent manager tests
  tests/test_agent.py
  tests/test_agent_manager.py
Labels: size/l

#3152 Add indirection layer to entry point
  autogpt/cli.py
  autogpt/main.py
Labels: size/xl

#3018 anontation fix
  autogpt/config/config.py
Labels: one-liner, size/s

#3157 Hotfix/global agent manager workaround
  autogpt/main.py
  mem.sqlite3
  tests/test_agent_manager.py
Labels: size/s

#3145 Remove dead permanent memory module
  autogpt/permanent_memory/__init__.py
  autogpt/permanent_memory/sqlite3_store.py
  mem.sqlite3
  tests/test_permanent_memory.py
Labels: size/l

#3161 Refactor/move singleton out of config module
  .gitignore
  autogpt/agent/agent_manager.py
  autogpt/config/__init__.py
  autogpt/config/config.py
  autogpt/logs.py
  autogpt/memory/base.py
  autogpt/singleton.py
  autogpt/speech/base.py
Labels: size/m

#3068 Add option to install plugin dependencies
  scripts/install_plugin_deps.py
Labels: size/m

#3170 Re-add install-plugin-deps to CLI
  autogpt/cli.py
  autogpt/main.py
  scripts/install_plugin_deps.py
Labels: size/m

#3179 Update ci.yml
  .github/workflows/ci.yml
Labels: size/s

#3181 Bulletin patch - Updating 'BULLETIN.MD' to warn about the deprecation of baked-in 'send_tweet' command
  BULLETIN.md
Labels: size/s

#3182 Ensure Fore.RED is followed by Fore.RESET
  autogpt/config/config.py
Labels: size/xs

#3180 Add a little more descriptive installation instruction
  docs/installation.md
Labels: size/s

#3166 Update installation.md
  docs/installation.md
Labels: size/xs

#3171 Refactor/decouple logger from global configuration
  autogpt/agent/agent.py
  autogpt/logs.py
  autogpt/main.py
  autogpt/speech/say.py
Labels: size/l

#3186 docs fix to image generation
  docs/configuration/imagegen.md
Labels: size/s
