Repository Significant-Gravitas/AutoGPT, pull requests merged in 2023-08, with the labels that each got.

#5079 fix: Nonetype error from command_name.startswith()
  autogpt/app/main.py
  tests/integration/test_update_user.py
Labels: size/m

#5045 slips of the pen (bloopers) in autogpt/core part of the repo
  autogpt/core/ability/base.py
  autogpt/core/resource/model_providers/openai.py
Labels: size/m

#5035 Use modern material theme for docs
  docs/_javascript/mathjax.js
  docs/_javascript/tablesort.js
  docs/challenges/memory/challenge_b.md
  docs/challenges/memory/challenge_c.md
  docs/challenges/memory/challenge_d.md
  docs/configuration/imagegen.md
  docs/configuration/memory.md
  docs/configuration/voice.md
  docs/imgs/Auto_GPT_Logo.png
  docs/setup.md
  docs/share-your-logs.md
  docs/testing.md
  docs/usage.md
  mkdocs.yml
  requirements.txt
  tests/unit/test_config.py
Labels: documentation, size/l

#5036 Move more app files to app package
  autogpt/app/main.py
  autogpt/app/setup.py
  autogpt/app/spinner.py
  autogpt/app/utils.py
  autogpt/processing/text.py
  autogpt/utils.py
  tests/challenges/utils.py
  tests/integration/test_setup.py
  tests/unit/test_spinner.py
  tests/unit/test_utils.py
Labels: size/l

#5092 Pass TestSearch benchmark consistently (Add browse_website TOKENS_TO_TRIGGER_SUMMARY)
  autogpt/commands/web_selenium.py
Labels: size/m

#5112 Bulleting update & version bump
  .gitignore
  BULLETIN.md
  docs/configuration/memory.md
  pyproject.toml
Labels: size/m

#5118 Sync release into master
  .gitignore
  BULLETIN.md
  docs/configuration/memory.md
  pyproject.toml
Labels: size/m

#5130 Add files via upload
  CITATION.cff
Labels: size/m

#5059 fix(docker): add gcc installation in order to build psutil
  Dockerfile
Labels: size/s

#5137 Update __init__.py to support image_gen commands
  autogpt/commands/__init__.py
Labels: size/xs

#5146 Fixed stream elements speech function
  autogpt/speech/stream_elements_speech.py
Labels: size/s
