Repository Significant-Gravitas/AutoGPT, pull requests merged in 2023-05, with the labels that each got.

#3601 [bug] `list_files` api signature change in `data_ingestion.py` and lo…
  data_ingestion.py
Labels: size/s

#3621 Update documentation URLs to docs.agpt.co
  CONTRIBUTING.md
  README.md
  autogpt/llm/llm_utils.py
  docs/index.md
  mkdocs.yml
Labels: documentation, size/m

#3619 Fix side effects on message history
  autogpt/memory_management/summary_memory.py
Labels: bug, high priority, size/m

#3489 Fix file operations logger
  autogpt/commands/file_operations.py
  tests/unit/test_file_operations.py
Labels: function: workspace, function: process text, size/xl

#2988 update web_selenium.py to use try-with for headers
  autogpt/commands/web_selenium.py
Labels: restructure, one-liner, size/s

#3173 Fix multi-byte character handling in `read_file`
  autogpt/commands/file_operations.py
  requirements.txt
Labels: size/s, i18n

#3631 Fix `validate_json` scheme path
  autogpt/json_utils/utilities.py
Labels: bug, invalid_json, size/s

#3222 Fix the maximum context length issue by chunking
  .env.template
  autogpt/config/config.py
  autogpt/llm/__init__.py
  autogpt/llm/llm_utils.py
  autogpt/llm/modelsinfo.py
  tests/integration/cassettes/test_llm_utils/test_get_ada_embedding.yaml
  tests/integration/cassettes/test_llm_utils/test_get_ada_embedding_large_context.yaml
  tests/integration/test_llm_utils.py
  tests/unit/test_llm_utils.py
Labels: function: workspace, function: memory, function: process text, size/xl

#3646 Add warning for LLM to avoid context overflow
  autogpt/agent/agent.py
Labels: bug, AI model limitation, size/m

#3629 Fix MACOS Zip Import Error when compressing plugin
  autogpt/plugins.py
Labels: size/s, function: plugins

#3677 Synchronize `stable` -> `master`
  autogpt/json_utils/utilities.py
Labels: high priority, size/s

#3700 Feature/tighten up ci pipeline
  .github/workflows/ci.yml
  tests/integration/cassettes/test_local_cache/test_get_relevant.yaml
  tests/integration/cassettes/test_memory_management/test_save_memory_trimmed_from_context_window.yaml
  tests/integration/challenges/memory/cassettes/test_memory_challenge_a/test_memory_challenge_a.yaml
  tests/integration/challenges/memory/cassettes/test_memory_challenge_b/test_memory_challenge_b.yaml
  tests/integration/challenges/memory/test_memory_challenge_b.py
  tests/integration/conftest.py
  tests/integration/goal_oriented/cassettes/test_browse_website/test_browse_website.yaml
  tests/integration/goal_oriented/cassettes/test_write_file/test_write_file.yaml
  tests/vcr/vcr_filter.py
Labels: size/xl

#3710 Fix docker volume mounts
  Dockerfile
  autogpt/utils.py
  data/.keep
  docs/setup.md
  tests/test_utils.py
Labels: docker, size/m

#3695 Feature/enable intuitive logs for community challenge step 1
  autogpt/agent/agent.py
  autogpt/llm/chat.py
  autogpt/log_cycle/__init__.py
  autogpt/log_cycle/json_handler.py
  autogpt/log_cycle/log_cycle.py
  autogpt/logs.py
Labels: size/l

#3697 Feature/enable intuitive logs summarization
  autogpt/llm/chat.py
  autogpt/log_cycle/log_cycle.py
  autogpt/memory_management/summary_memory.py
Labels: size/m

#3663 Move task_complete command out of prompt
  autogpt/app.py
  autogpt/commands/task_statuses.py
  autogpt/main.py
  autogpt/prompts/prompt.py
  tests/integration/agent_factory.py
  tests/integration/challenges/memory/cassettes/test_memory_challenge_a/test_memory_challenge_a.yaml
  tests/integration/goal_oriented/cassettes/test_browse_website/test_browse_website.yaml
  tests/integration/goal_oriented/cassettes/test_write_file/test_write_file.yaml
  tests/integration/goal_oriented/test_browse_website.py
Labels: size/xl, architecture

#3667 Allow users to Disable Commands via the .env
  .env.template
  autogpt/config/config.py
  autogpt/main.py
Labels: enhancement, size/l, architecture

#3669 Document Disabling command categories
  docs/usage.md
Labels: documentation, conflicts, size/m

#3688 Enable denylist handling for plugins
  .env.template
  autogpt/config/config.py
  autogpt/plugins.py
Labels: size/m, function: plugins

#3414 Fix call to `plugin.post_planning`
  autogpt/agent/agent.py
Labels: size/s, function: plugins

#3798 fix typos
  autogpt/agent/agent.py
  autogpt/memory_management/summary_memory.py
  autogpt/url_utils/validators.py
Labels: size/s

#3701 ADD: Bash block in the contributing markdown
  CONTRIBUTING.md
Labels: size/s

#3642 BUGFIX: Selenium Driver object reference was included in the browsing results for some reason
  autogpt/commands/web_selenium.py
  tests/integration/goal_oriented/cassettes/test_browse_website/test_browse_website.yaml
  tests/unit/test_web_selenium.py
Labels: size/xl

#3805 Proposed Configuration ABC
  autogpt/core/configuration/base.py
Labels: size/m

#3790 Update Planner Interface
  autogpt/core/planning/base.py
Labels: size/l, re-arch

#3795 Set up the workspace base class
  autogpt/core/workspace/base.py
Labels: size/l, re-arch

#3680 Self feedback Improvement
  autogpt/agent/agent.py
  tests/unit/test_get_self_feedback.py
Labels: size/m

#3764 community challenges in the wiki
  docs/challenges/beat.md
  docs/challenges/challenge_template.md
  docs/challenges/introduction.md
  docs/challenges/list.md
  docs/challenges/memory/challenge_a.md
  docs/challenges/memory/challenge_b.md
  docs/challenges/memory/introduction.md
  docs/challenges/submit.md
  mkdocs.yml
Labels: size/l

#3867 Implement Logging of User Input in logs/Debug Folder
  autogpt/agent/agent.py
  autogpt/log_cycle/log_cycle.py
Labels: size/s

#3876 add information retrieval challenge to the wiki
  docs/challenges/information_retrieval/challenge_a.md
  docs/challenges/information_retrieval/introduction.md
  mkdocs.yml
Labels: documentation, size/m

#3850 Add language model base and work out interactions with planning manager
  autogpt/core/configuration/base.py
  autogpt/core/llm/base.py
  autogpt/core/planning/base.py
Labels: size/l, re-arch

#3853 Rearch: logging interface
  autogpt/core/logging/base.py
Labels: size/l, re-arch

#3831 Initial base.py for message broker agent-state-encapsulation
  autogpt/core/messaging/base.py
Labels: size/l, re-arch

#3919 re-arch: Initial BudgetManager impl
  autogpt/core/budget/base.py
Labels: size/l, re-arch

#3824 Command Base Class Interface
  autogpt/core/command/base.py
Labels: size/l, re-arch

#3981 add code owners policy
  .github/CODEOWNERS
Labels: size/xs

#3908 Memory Challenge C
  docs/challenges/memory/challenge_c.md
  mkdocs.yml
  tests/integration/challenges/memory/cassettes/test_memory_challenge_c/test_memory_challenge_c.yaml
  tests/integration/challenges/memory/test_memory_challenge_c.py
Labels: size/xl

#3985 memory challenge c cassette is inconsistent
  docs/challenges/memory/challenge_c.md
  tests/integration/challenges/memory/test_memory_challenge_c.py
Labels: size/s

#3989 Fix for Memory Challenge B & C Documentations
  docs/challenges/memory/challenge_b.md
  docs/challenges/memory/challenge_c.md
Labels: size/s

#3990 Feature/centralize prompt
  autogpt/prompts/default_prompts.py
  autogpt/setup.py
  tests/integration/cassettes/test_setup/test_generate_aiconfig_automatic_default.yaml
  tests/integration/cassettes/test_setup/test_generate_aiconfig_automatic_fallback.yaml
  tests/integration/cassettes/test_setup/test_generate_aiconfig_automatic_typical.yaml
Labels: size/xl

#4011 Use correct reference to prompt_generator in autogpt/llm/chat.py
  autogpt/llm/chat.py
Labels: size/s

#3998 fix typos
  autogpt/processing/text.py
  docs/challenges/introduction.md
  tests/integration/goal_oriented/goal_oriented_tasks.md
  tests/vcr/vcr_filter.py
Labels: size/m

#3997 fix typo in the getting started docs
  docs/setup.md
Labels: size/s

#4005 Added in a click entry point and status report
  autogpt/__main__.py
  autogpt/core/__init__.py
  autogpt/core/agent/__init__.py
  autogpt/core/agent/base.py
  autogpt/core/agent/factory.py
  autogpt/core/app_sketch/__init__.py
  autogpt/core/budget/__init__.py
  autogpt/core/command/__init__.py
  autogpt/core/configuration/__init__.py
  autogpt/core/llm/__init__.py
  autogpt/core/llm/base.py
  autogpt/core/logging/__init__.py
  autogpt/core/memory/__init__.py
  autogpt/core/messaging/__init__.py
  autogpt/core/planning/__init__.py
  autogpt/core/planning/base.py
  autogpt/core/plugin/__init__.py
  autogpt/core/runner/__init__.py
  autogpt/core/runner/cli.py
  autogpt/core/runner/client.py
  autogpt/core/runner/server.py
  autogpt/core/status.py
  autogpt/core/workspace/__init__.py
Labels: size/xl, re-arch

#3986 Revise message broker interface
  autogpt/core/command/base.py
  autogpt/core/messaging/base.py
Labels: size/xl, re-arch

#3995 Re-arch: plugins base
  autogpt/core/plugin/base.py
Labels: size/m, re-arch

#3927 Fix path to workspace directory in setup guide
  docs/setup.md
Labels: size/s

#3963 document that docker-compose 1.29.0 is minimally required
  docker-compose.yml
  docs/setup.md
Labels: size/m

#4040 Revise budget manager
  autogpt/core/budget/base.py
Labels: size/l, re-arch

#4096 Revise the initial implementation of the plugin manager interface to …
  autogpt/core/plugin/__init__.py
  autogpt/core/plugin/base.py
Labels: size/l, re-arch

#3870 Integrate pytest-xdist Plugin for Parallel and Concurrent Testing
  .github/workflows/ci.yml
  .github/workflows/docker-ci.yml
  requirements.txt
Labels: ci, size/s, testing

#4140 explain temperature setting in env file
  .env.template
Labels: size/m

#3996 Catch JSON error in summary_memory.py
  autogpt/memory_management/summary_memory.py
Labels: size/m

#4142 Update duckduckgo dependency - min should be 2.9.5
  requirements.txt
Labels: bug, high priority, function: browse, size/s

#3706 Update Dockerfile - add missing scripts and plugins directories.
  Dockerfile
Labels: bug, high priority, docker, size/s

#3829 Updated memory setup links
  autogpt/memory/pinecone.py
  autogpt/memory/redismem.py
Labels: bug, documentation, size/s

#4149 Parse package versions so upgrades can be forced
  scripts/check_requirements.py
Labels: size/m

#3747 fix typo in autopgt/agent/agent.py
  autogpt/agent/agent.py
Labels: one-liner, size/s

#4152 Re arch/http server
  autogpt/core/messaging/base.py
  autogpt/core/model/language/base.py
  autogpt/core/planning/base.py
  autogpt/core/planning/simple.py
  autogpt/core/plugin/base.py
  autogpt/core/runner/cli.py
  autogpt/core/runner/server.py
  requirements.txt
Labels: size/l

#4154 Re arch/cli stuff
  autogpt/core/runner/cli.py
  autogpt/core/runner/client.py
Labels: size/l

#3424 Fix `milvus_memory_test.py` mock `Config`
  tests/milvus_memory_test.py
Labels: size/m

#3322 Implemented showing the number of preauthorised commands left. #1035
  autogpt/agent/agent.py
Labels: size/m

#4121 Challenge: Kubernetes and documentation
  docs/challenges/building_challenges.md
  tests/integration/agent_factory.py
  tests/integration/challenges/kubernetes/test_kubernetes_template_challenge_a.py
Labels: size/xl

#3721 Make sdwebui tests pass (when SD is running)
  tests/test_image_gen.py
Labels: size/s, testing

#3058 Add Edge browser support using EdgeChromiumDriverManager
  .env.template
  autogpt/commands/web_selenium.py
Labels: size/s

#4151 Added --install-plugin-deps to Docker
  Dockerfile
Labels: size/s

#4164 Feature/basic proxy
  .github/workflows/add-cassettes.yml
  .github/workflows/ci.yml
  autogpt/llm/api_manager.py
  autogpt/llm/llm_utils.py
  tests/conftest.py
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_b.py
  tests/integration/challenges/memory/test_memory_challenge_c.py
  tests/integration/conftest.py
  tests/integration/goal_oriented/cassettes/test_write_file/test_write_file.yaml
  tests/integration/goal_oriented/test_browse_website.py
  tests/integration/goal_oriented/test_write_file.py
  tests/integration/test_commands.py
  tests/integration/test_llm_utils.py
  tests/integration/test_local_cache.py
  tests/integration/test_memory_management.py
  tests/integration/test_setup.py
  tests/test_api_manager.py
  tests/test_image_gen.py
  tests/utils.py
  tests/vcr/vcr_filter.py
Labels: size/xl

#4168 test new CI
  .github/workflows/ci.yml
Labels: size/s

#4169 Feature/test new ci pipeline 2
  .github/workflows/ci.yml
Labels: size/s

#4170 Test New CI Pipeline
  .github/workflows/ci.yml
  autogpt/llm/llm_utils.py
Labels: size/s

#4173 Feature/fix rate limiting issue Step 1
  .github/workflows/ci.yml
Labels: size/s

#4185 Put back 3.11 until it's removed as a requirement
  .github/workflows/ci.yml
Labels: size/s

#4191 Revert "Put back 3.11 until it's removed as a requirement"
  .github/workflows/ci.yml
Labels: size/s

#4027 Update prompt.py to clarify how to call commands
  autogpt/prompts/prompt.py
  tests/integration/challenges/memory/cassettes/test_memory_challenge_a/test_memory_challenge_a.yaml
  tests/integration/goal_oriented/cassettes/test_browse_website/test_browse_website.yaml
  tests/integration/goal_oriented/cassettes/test_write_file/test_write_file.yaml
Labels: size/xl, prompt issue

#4226 Fix commands with same name overwriting
  autogpt/commands/command.py
Labels: size/m

#3606 Fixed error in safe_google_results, added tests
  autogpt/commands/google_search.py
  tests/integration/test_google_search.py
Labels: size/l, testing

#3964 Improve error message by providing the name of the env file
  autogpt/commands/execute_code.py
Labels: documentation, one-liner, size/s

#4082 Show workspace during startup / fix for #2793
  autogpt/prompts/prompt.py
Labels: enhancement, function: workspace, size/s

#4222 Refactor challenges to use cycle count instead of time
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  mypy.ini
  requirements.txt
  tests/integration/agent_factory.py
  tests/integration/agent_utils.py
  tests/integration/challenges/basic_abilities/__init__.py
  tests/integration/challenges/basic_abilities/cassettes/test_browse_website/test_browse_website.yaml
  tests/integration/challenges/basic_abilities/cassettes/test_write_file/test_write_file.yaml
  tests/integration/challenges/basic_abilities/goal_oriented_tasks.md
  tests/integration/challenges/basic_abilities/test_browse_website.py
  tests/integration/challenges/basic_abilities/test_write_file.py
  tests/integration/challenges/conftest.py
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/integration/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/integration/challenges/memory/cassettes/test_memory_challenge_c/test_memory_challenge_c.yaml
  tests/integration/challenges/memory/test_memory_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_b.py
  tests/integration/challenges/memory/test_memory_challenge_c.py
  tests/integration/challenges/test_challenge_should_be_formatted_properly.py
  tests/integration/challenges/utils.py
  tests/integration/goal_oriented/test_browse_website.py
  tests/integration/goal_oriented/test_write_file.py
Labels: size/xl

#4230 Added feature to interrupt y -N continuous commands.
  autogpt/agent/agent.py
Labels: size/m

#4234 fix ci cassettes
  .github/workflows/add-cassettes.yml
  .github/workflows/ci.yml
Labels: size/m

#3948 Fix ai_name not passed to Agent
  autogpt/main.py
Labels: enhancement, size/s

#3720 Clarify .env.template image-provider options
  .env.template
Labels: documentation, size/s

#3598 Adds check for Python 3.10 and print error message if required version not detected.
  run.sh
Labels: size/m

#3702 Update README.md - make stable branch less shouty
  README.md
Labels: documentation, size/s

#4257 CI Pipeline: create cassettes in fork
  .github/workflows/add-cassettes.yml
  .github/workflows/ci.yml
Labels: size/l

#3961 encourage people to use a separate user account w/o VM/docker
  docs/index.md
Labels: documentation, Security 🛡️, size/s

#4228 Added custom_search_engine_id as mandatory for official google search
  autogpt/commands/google_search.py
Labels: enhancement, size/s

#4136 mention docker rebuild is necessary if changing requirements.txt
  docs/setup.md
Labels: documentation, docker, size/s

#3625 Update PULL_REQUEST_TEMPLATE.md to include linting
  .github/PULL_REQUEST_TEMPLATE.md
Labels: one-liner, size/s

#3868 Implement Logging of Self-Feedback in logs/Debug Folder
  autogpt/agent/agent.py
  autogpt/log_cycle/log_cycle.py
  tests/unit/test_get_self_feedback.py
Labels: size/m, function: logging, testing, challenge

#3375 Make prompt parameters configurable
  .env.template
  autogpt/cli.py
  autogpt/config/config.py
  autogpt/config/prompt_config.py
  autogpt/configurator.py
  autogpt/main.py
  autogpt/prompts/prompt.py
  docs/usage.md
  prompt_settings.yaml
  tests/test_prompt_config.py
Labels: size/xl, prompt issue, function: prompt generation, ready-for-maintainer

#3715 Logs output to console if we're not on speak mode
  autogpt/logs.py
Labels: size/s, function: logging

#3481 switching from unittest to pytest in test_json_parser
  tests/unit/_test_json_parser.py
Labels: size/l, testing

#4236 Incremented Version BULLETIN.md
  BULLETIN.md
Labels: one-liner, size/l

#4180 Prevent test collection errors in devcontainer
  .devcontainer/devcontainer.json
Labels: setup, size/m

#4212 Added unittest cases for commands/analyze_code.py file
  tests/test_analyze_code.py
Labels: size/l

#4304 Delete sponsors_readme.yml workflow
  .github/workflows/sponsors_readme.yml
Labels: project management, size/m

#4194 Imagegen delay retry huggingface
  tests/test_image_gen.py
Labels: size/l, testing

#4036 Enabling/disabling none/all of plugins from .env file
  autogpt/plugins.py
Labels: size/s, function: plugins

#3690 Update setup.md
  .gitignore
  docs/setup.md
Labels: size/m

#3950 add command shell blacklist and whitelist
  .env.template
  autogpt/commands/execute_code.py
  autogpt/config/config.py
Labels: enhancement, Security 🛡️, size/l

#3763 Used a regex expression for simple URL validation and added tests
  autogpt/url_utils/validators.py
  tests/unit/test_url_validation.py
Labels: one-liner, size/l, testing

#4305 Clean up BULLETIN.md
  BULLETIN.md
Labels: documentation, project management, size/l

#4307 Added unittest cases for commands/audio_text.py
  tests/test_audio_text_read_audio.py
  tests/test_audio_text_read_audio_from_file.py
Labels: size/l

#4181 Adding devcontainer extensions
  .devcontainer/devcontainer.json
Labels: setup, size/m

#4324 fix: completion was being called with wrong data types
  autogpt/agent/agent.py
Labels: size/s

#4278 Fixed #4229
  autogpt/configurator.py
  autogpt/llm/api_manager.py
  autogpt/llm/llm_utils.py
  autogpt/main.py
  tests/test_api_manager.py
  tests/test_config.py
  tests/unit/test_llm_utils.py
Labels: size/l

#3599 Fix split_file when overlap = 0, add test
  autogpt/commands/file_operations.py
  tests/unit/test_file_operations.py
Labels: size/m

#4333 Update README.md
  README.md
Labels: size/s

#3031 Text file loaders
  autogpt/commands/file_operations.py
  autogpt/commands/file_operations_utils.py
  requirements.txt
  tests/integration/challenges/basic_abilities/cassettes/test_browse_website/test_browse_website.yaml
  tests/integration/challenges/basic_abilities/cassettes/test_write_file/test_write_file.yaml
  tests/integration/challenges/memory/cassettes/test_memory_challenge_a/test_memory_challenge_a.yaml
  tests/test_text_file_parsers.py
Labels: function: process text, size/xl

#4293 Update 1.bug.yml to improve consistency of data
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: documentation, project management, size/l

#4125 Prevent docker compose to break config by creating folders
  autogpt/config/ai_config.py
  autogpt/config/config.py
  docs/setup.md
  tests/test_ai_config.py
  tests/test_config.py
Labels: setup, docker, size/l

#4325 Improve Azure setup wording in docs
  docs/setup.md
Labels: documentation, size/s

#4355 Cassettes should be added in the same pull request, without extra pull request
  .github/workflows/ci.yml
Labels: size/l

#4363 CI: set base repo before `gh pr checkout`
  .github/workflows/ci.yml
Labels: size/xs

#4383 Migrate google search to use DDGS.text function
  autogpt/commands/google_search.py
  tests/integration/test_google_search.py
Labels: function: browse, size/m

#4381 Remove Twitter Command
  BULLETIN.md
  autogpt/commands/twitter.py
  autogpt/main.py
  requirements.txt
  tests/integration/challenges/basic_abilities/cassettes/test_write_file/test_write_file.yaml
  tests/integration/challenges/memory/cassettes/test_memory_challenge_a/test_memory_challenge_a.yaml
Labels: size/xl

#4405 Fix duckduckgo-search to 3.0.2 stable version
  requirements.txt
Labels: size/s

#4416 Add 30 min timeout for tests
  .github/workflows/ci.yml
  .github/workflows/docker-ci.yml
Labels: ci, size/s

#4402 Switch from pypi to github for auto-gpt-plugin-template
  autogpt/models/base_open_ai_plugin.py
  requirements.txt
  tests/unit/data/test_plugins/Auto-GPT-Plugin-Test-master.zip
Labels: size/l, bootstrapping

#4328 Pass Configs to Commands and remove CFG = Config() in the commands/ folder
  .env.template
  autogpt/agent/agent.py
  autogpt/app.py
  autogpt/commands/analyze_code.py
  autogpt/commands/audio_text.py
  autogpt/commands/command.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/file_operations_utils.py
  autogpt/commands/git_operations.py
  autogpt/commands/google_search.py
  autogpt/commands/image_gen.py
  autogpt/commands/improve_code.py
  autogpt/commands/task_statuses.py
  autogpt/commands/web_requests.py
  autogpt/commands/web_selenium.py
  autogpt/commands/write_tests.py
  autogpt/config/ai_config.py
  autogpt/configurator.py
  autogpt/llm/utils/__init__.py
  autogpt/main.py
  requirements.txt
  tests/integration/challenges/basic_abilities/cassettes/test_write_file/test_write_file.yaml
  tests/integration/challenges/basic_abilities/test_browse_website.py
  tests/integration/challenges/basic_abilities/test_write_file.py
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/integration/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/integration/challenges/memory/cassettes/test_memory_challenge_a/test_memory_challenge_a.yaml
  tests/integration/challenges/memory/test_memory_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_b.py
  tests/integration/challenges/memory/test_memory_challenge_c.py
  tests/integration/test_commands.py
  tests/integration/test_execute_code.py
  tests/integration/test_git_commands.py
  tests/integration/test_google_search.py
  tests/mocks/mock_commands.py
  tests/test_analyze_code.py
  tests/test_audio_text_read_audio.py
  tests/test_audio_text_read_audio_from_file.py
  tests/test_commands.py
  tests/test_config.py
  tests/test_image_gen.py
  tests/unit/test_browse_scrape_links.py
  tests/unit/test_browse_scrape_text.py
  tests/unit/test_file_operations.py
  tests/unit/test_web_selenium.py
Labels: enhancement, high priority, size/xl, needs manual testing, architecture, re-arch

#4432 remove cassettes auto commit
  .github/workflows/ci.yml
Labels: size/m

#4329 Allow spinning to be disabled
  .env.template
  autogpt/agent/agent.py
  autogpt/commands/file_operations.py
  autogpt/config/config.py
  autogpt/spinner.py
  tests/integration/agent_factory.py
Labels: ci, size/m, testing

#4440 Fix typo and links in documentation
  CONTRIBUTING.md
  docs/challenges/building_challenges.md
Labels: size/s

#4441 Added three more tests to check for edge cases in URL validation
  autogpt/url_utils/validators.py
  tests/unit/test_url_validation.py
Labels: size/m

#4448 Fix Information Retrieval Challenge
  docs/challenges/building_challenges.md
  tests/integration/agent_factory.py
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/integration/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/integration/challenges/utils.py
  tests/vcr/vcr_filter.py
Labels: size/m, prompt change

#4449 remove unused imports automatically
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  autogpt/app.py
  autogpt/commands/command.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/web_selenium.py
  autogpt/llm/base.py
  autogpt/llm/chat.py
  autogpt/memory/vector/utils.py
  autogpt/models/base_open_ai_plugin.py
  autogpt/plugins.py
  autogpt/singleton.py
  autogpt/speech/base.py
  autogpt/speech/brian.py
  autogpt/utils.py
  tests/integration/challenges/conftest.py
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/integration/challenges/utils.py
  tests/integration/memory/conftest.py
  tests/integration/test_setup.py
  tests/test_audio_text_read_audio.py
  tests/test_config.py
  tests/test_image_gen.py
  tests/test_text_file_parsers.py
  tests/test_utils.py
  tests/unit/models/test_base_open_api_plugin.py
  tests/unit/test_browse_scrape_links.py
  tests/unit/test_json_parser.py
  tests/unit/test_json_utils_llm.py
  tests/unit/test_plugins.py
  tests/vcr/vcr_filter.py
Labels: size/l

#4447 "Beat Challenges" Mode
  .gitmodules
  tests/integration/challenges/basic_abilities/test_browse_website.py
  tests/integration/challenges/basic_abilities/test_write_file.py
  tests/integration/challenges/challenge_decorator/__init__.py
  tests/integration/challenges/challenge_decorator/challenge.py
  tests/integration/challenges/challenge_decorator/challenge_decorator.py
  tests/integration/challenges/challenge_decorator/challenge_utils.py
  tests/integration/challenges/challenge_decorator/score_utils.py
  tests/integration/challenges/conftest.py
  tests/integration/challenges/current_score.json
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/integration/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_b.py
  tests/integration/challenges/memory/test_memory_challenge_c.py
  tests/integration/challenges/utils.py
  tests/integration/challenges/utils/build_current_score.py
Labels: size/xl

#4460 Master doesn't beat memory challenge b level 1 in a consistent manner
  tests/integration/challenges/current_score.json
Labels: size/s, prompt change

#4462 Improve the steps for running docker compose in the setup documentation
  docs/setup.md
Labels: documentation, size/m

#3144 Fix #942: Respect --gpt4only, --gpt3only cli args
  autogpt/agent/agent.py
  autogpt/configurator.py
  autogpt/llm/chat.py
  tests/test_config.py
Labels: size/l

#4473 Replace 'prompt change' with 'behavior change'
  .github/workflows/ci.yml
Labels: size/s

#4464 Update current score when PR merged
  .github/workflows/ci.yml
  tests/integration/challenges/challenge_decorator/challenge.py
  tests/integration/challenges/challenge_decorator/challenge_decorator.py
  tests/integration/challenges/challenge_decorator/challenge_utils.py
Labels: size/m

#4474 add vcr to dalle
  tests/integration/test_image_gen.py
Labels: size/s, behaviour change

#4468 Increase difficulty of the "information retrieval" challenge and add a new level
  autogpt/main.py
  docs/challenges/information_retrieval/challenge_a.md
  tests/integration/agent_factory.py
  tests/integration/challenges/challenge_decorator/challenge_decorator.py
  tests/integration/challenges/current_score.json
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_a.py
Labels: size/l

#4286 Create "Debug Code Challenge"
  BULLETIN.md
  requirements.txt
  tests/integration/agent_factory.py
  tests/integration/challenges/current_score.json
  tests/integration/challenges/debug_code/data/two_sum.py
  tests/integration/challenges/debug_code/data/two_sum_tests.py
  tests/integration/challenges/debug_code/test_debug_code_challenge_a.py
Labels: size/l, behaviour change

#4485 Ignore cassettes and current score for all push events
  .github/workflows/docker-ci.yml
  .github/workflows/pr-label.yml
Labels: size/s

#289 Adding support for openai_organization env variable
  .env.template
  autogpt/config/config.py
Labels: question, size/s, behaviour change

#4483 ci test
  .github/workflows/ci.yml
  tests/integration/agent_factory.py
Labels: size/s

#4495 CI test (draft, ignore)
  .github/workflows/ci.yml
  .gitmodules
  tests/integration/agent_factory.py
  tests/integration/challenges/basic_abilities/test_browse_website.py
  tests/integration/challenges/basic_abilities/test_write_file.py
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_b.py
  tests/integration/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_b.py
  tests/integration/challenges/memory/test_memory_challenge_c.py
  tests/integration/memory/test_json_file_memory.py
Labels: size/m, behaviour change
