Repository Significant-Gravitas/AutoGPT, pull requests merged in 2023-09, with the labels that each got.

#5169 Add benchmark CI
  .github/workflows/benchmark-ci.yml
  benchmark/.gitmodules
  benchmark/agbenchmark/__init__.py
  benchmark/agbenchmark/challenges/library/ethereum/check_price/data_draft.json
  benchmark/paper/agent_action_regex.py
Labels: size/l

#5170 Benchmark all agents
  .github/workflows/benchmark-ci.yml
  benchmark/agents_to_benchmark.json
Labels: size/m

#5172 Add back api mode
  .github/workflows/benchmark-ci.yml
  benchmark/agbenchmark/generate_test.py
  benchmark/agbenchmark/start_benchmark.py
  benchmark/poetry.lock
  benchmark/pyproject.toml
  benchmark/server.py
Labels: size/l

#5173 Less data in spreadsheet
  benchmark/reports/send_to_googledrive.py
Labels: size/m

#5168 Fix docs: sample docker-compose.yml broken indents
  docs/content/setup.md
Labels: size/m

#5174 Benchmark agents without submodule + ability to pin a specific commit.
  .github/workflows/benchmark-ci.yml
  benchmark/agents_to_benchmark.json
Labels: size/m

#5176 Integrate SideBarView into MainLayout for Wider Screens
  frontend/lib/main.dart
  frontend/lib/views/main_layout.dart
  frontend/lib/views/side_bar_view.dart
Labels: size/m

#4931 Refactor/remove abstract singleton as voice base parent
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/logs/config.py
  autogpts/autogpt/autogpt/logs/handlers.py
  autogpts/autogpt/autogpt/logs/helpers.py
  autogpts/autogpt/autogpt/singleton.py
  autogpts/autogpt/autogpt/speech/__init__.py
  autogpts/autogpt/autogpt/speech/base.py
  autogpts/autogpt/autogpt/speech/say.py
Labels: size/l

#3972 Add support for args to `execute_python_file`
  autogpts/autogpt/autogpt/commands/execute_code.py
  autogpts/autogpt/tests/integration/test_execute_code.py
Labels: function: run code, size/m, needs manual testing, behaviour change

#5189 Integrate Skill Tree Functionality into Main Application
  frontend/lib/main.dart
  frontend/lib/models/skill_tree/ground.dart
  frontend/lib/models/skill_tree/info.dart
  frontend/lib/models/skill_tree/skill_node_data.dart
  frontend/lib/models/skill_tree/skill_tree_edge.dart
  frontend/lib/models/skill_tree/skill_tree_node.dart
  frontend/lib/viewmodels/skill_tree_viewmodel.dart
  frontend/lib/views/main_layout.dart
  frontend/lib/views/skill_tree/skill_tree_view.dart
  frontend/lib/views/skill_tree/tree_node_view.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Labels: size/l

#5195 Add Agent protocol test to the forge
  .github/workflows/benchmark-ci.yml
  .github/workflows/forge-ci.yml
  forge/autogpt/sdk/prompting.py
  forge/poetry.lock
  forge/pyproject.toml
Labels: size/l

#5196 working basic monitor
  benchmark/frontend/package-lock.json
  benchmark/frontend/prisma/schema.prisma
  benchmark/frontend/src/env.mjs
  benchmark/paper/agent_action_regex.py
  benchmark/paper/combined_data.ipynb
  benchmark/paper/file.ipynb
  benchmark/reports/match_records.py
Labels: size/xl

#5197 benchmark-fix
  benchmark/benchmark/start_benchmark.py
  benchmark/pyproject.toml
Labels: size/s

#5199 read me update for monorepo
  README.md
  autogpts/autogpt/README.md
Labels: size/l

#5198 benchmark-fix
  agbenchmark/__init__.py
  agbenchmark/config.json
  benchmark/backend/main.py
  benchmark/benchmark/conftest.py
  benchmark/benchmark/generate_test.py
  benchmark/benchmark/start_benchmark.py
  benchmark/benchmark/utils/data_types.py
  benchmark/benchmark/utils/utils.py
  benchmark/poetry.lock
  benchmark/pyproject.toml
  poetry.lock
Labels: size/m

#5204 Fix forgeAgent class
  forge/forge/__main__.py
  forge/forge/agent.py
Labels: size/s

#5203 Change agbenchmark folder
  autogpts/autogpt/.dockerignore
  autogpts/autogpt/.gitignore
  autogpts/autogpt/agbenchmark_config/__init__.py
  autogpts/autogpt/agbenchmark_config/analyze_reports.py
  autogpts/autogpt/agbenchmark_config/benchmarks.py
  autogpts/autogpt/agbenchmark_config/config.json
  autogpts/autogpt/tests/challenges/utils.py
Labels: size/s

#5205 Update Readme Flutter
  frontend/README.md
Labels: size/s

#5206 Integrate TaskQueueView and Enhance SkillTree Functionality
  frontend/lib/viewmodels/skill_tree_viewmodel.dart
  frontend/lib/views/main_layout.dart
  frontend/lib/views/task_queue/task_queue_view.dart
Labels: size/l

#5208 Integrate benchmark and autogpt
  autogpts/autogpt/agbenchmark_config/config.json
  autogpts/autogpt/challenges_already_beaten.json
  benchmark/agbenchmark/agent_interface.py
  benchmark/agbenchmark/conftest.py
  benchmark/agbenchmark/utils/data_types.py
Labels: size/m

#5177 Fix TestUrlShortener to prevent conflicting test.py file and clarify instructions
  benchmark/agbenchmark/challenges/verticals/code/4_url_shortener/custom_python/test.py
  benchmark/agbenchmark/challenges/verticals/code/4_url_shortener/data.json
Labels: size/m

#5209 Fix API Mode
  benchmark/agbenchmark/__main__.py
  benchmark/agbenchmark/agent_api_interface.py
  benchmark/agbenchmark/conftest.py
  benchmark/agbenchmark/utils/challenge.py
  benchmark/agbenchmark/utils/data_types.py
  benchmark/agbenchmark_config/config.json
Labels: size/m

#5215 Update frontend readme
  frontend/README.md
Labels: size/s

#5218 Autogpts ci unified for the hackathon
  .github/workflows/autogpts-ci.yml
  autogpts/forge/run
  autogpts/forge/run_agent.sh
Labels: size/m

#5219 Migrate AutoGPT agent to poetry
  .github/workflows/autogpt-ci.yml
  .github/workflows/autogpt-docker-ci.yml
  .github/workflows/benchmark-ci.yml
  .github/workflows/benchmarks.yml
  autogpts/autogpt/.devcontainer/devcontainer.json
  autogpts/autogpt/.dockerignore
  autogpts/autogpt/Dockerfile
  autogpts/autogpt/README.md
  autogpts/autogpt/poetry.lock
  autogpts/autogpt/pyproject.toml
  autogpts/autogpt/requirements.txt
  autogpts/autogpt/run.bat
  autogpts/autogpt/run.sh
  autogpts/autogpt/scripts/check_requirements.py
  docs/content/configuration/memory.md
  docs/content/setup.md
Labels: ci, size/xl

#5220 Add integrations to the forge
  autogpts/forge/integrations/README.md
Labels: size/s

#5221 add benchmark endpoints mock
  autogpts/forge/forge/benchmark_integration.py
  benchmark/.gitignore
  benchmark/agbenchmark/__main__.py
  benchmark/agbenchmark/app.py
  benchmark/agent_protocol_client/README.md
  benchmark/agent_protocol_client/agent_protocol_client/__init__.py
  benchmark/agent_protocol_client/agent_protocol_client/api/__init__.py
  benchmark/agent_protocol_client/agent_protocol_client/api/agent_api.py
  benchmark/agent_protocol_client/agent_protocol_client/api_client.py
  benchmark/agent_protocol_client/agent_protocol_client/api_response.py
  benchmark/agent_protocol_client/agent_protocol_client/configuration.py
  benchmark/agent_protocol_client/agent_protocol_client/docs/AgentApi.md
  benchmark/agent_protocol_client/agent_protocol_client/exceptions.py
  benchmark/agent_protocol_client/agent_protocol_client/models/__init__.py
  benchmark/agent_protocol_client/agent_protocol_client/models/artifact.py
  benchmark/agent_protocol_client/agent_protocol_client/models/artifacts.py
  benchmark/agent_protocol_client/agent_protocol_client/models/pagination.py
  benchmark/agent_protocol_client/agent_protocol_client/models/step.py
  benchmark/agent_protocol_client/agent_protocol_client/models/step_all_of.py
  benchmark/agent_protocol_client/agent_protocol_client/models/step_request_body.py
  benchmark/agent_protocol_client/agent_protocol_client/models/step_result.py
  benchmark/agent_protocol_client/agent_protocol_client/models/task.py
  benchmark/agent_protocol_client/agent_protocol_client/models/task_all_of.py
  benchmark/agent_protocol_client/agent_protocol_client/models/task_request_body.py
  benchmark/agent_protocol_client/agent_protocol_client/rest.py
  benchmark/agent_protocol_client/pyproject.toml
  benchmark/poetry.lock
  benchmark/pyproject.toml
Labels: size/xl

#5222 Add agbenchmark serve to run command
  .github/workflows/autogpts-ci.yml
  autogpts/forge/run
Labels: size/s

#5227 swifty entering the arena
  arena/swifty.json
Labels: size/s

#5211 Adding Space After Colon in Console Input Prompt
  autogpts/autogpt/autogpt/app/main.py
Labels: size/s

#5229 Ability to run by categories
  .github/workflows/autogpts-ci.yml
  autogpts/forge/.gitignore
  autogpts/forge/run
  benchmark/.gitignore
  benchmark/agbenchmark/__main__.py
  benchmark/agbenchmark/agent_api_interface.py
  benchmark/agbenchmark/app.py
  benchmark/agbenchmark/challenges/verticals/code/1_three_sum/data.json
  benchmark/agbenchmark/challenges/verticals/code/2_password_generator/data.json
  benchmark/agbenchmark/challenges/verticals/code/3_file_organizer/data.json
  benchmark/agbenchmark/challenges/verticals/code/4_url_shortener/data.json
  benchmark/agbenchmark/challenges/verticals/code/5_tic_tac_toe/data_draft.json
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/data_draft.json
  benchmark/agbenchmark/generate_test.py
  benchmark/agbenchmark/reports/ReportManager.py
  benchmark/agbenchmark/reports/reports.py
  benchmark/agbenchmark/utils/challenge.py
  benchmark/agbenchmark/utils/utils.py
  benchmark/agent_protocol_client/agent_protocol_client/api/agent_api.py
  benchmark/agent_protocol_client/agent_protocol_client/models/__init__.py
  benchmark/agent_protocol_client/agent_protocol_client/models/artifact.py
  benchmark/agent_protocol_client/agent_protocol_client/models/artifacts.py
  benchmark/agent_protocol_client/agent_protocol_client/models/pagination.py
  pyproject.toml
Labels: size/xl

#5232 Fix CORS issue
  benchmark/agbenchmark/app.py
Labels: size/s

#5233 Add ability to run multiple tests
  autogpts/forge/run
  benchmark/agbenchmark/__main__.py
  benchmark/agbenchmark/app.py
  benchmark/agbenchmark/generate_test.py
Labels: size/m

#5234 Add command to reset environments
  autogpts/forge/run
Labels: size/m

#5237 Add working directory to agbenchmark pipy CI
  .github/workflows/benchmark_publish_package.yml
Labels: size/s

#5238 Update version to 0.0.10
  benchmark/pyproject.toml
Labels: size/s

#5239 Add agent protocol within agbenchmark
  autogpts/forge/poetry.lock
  benchmark/agbenchmark/agent_api_interface.py
  benchmark/agbenchmark/agent_protocol_client/__init__.py
  benchmark/agbenchmark/agent_protocol_client/api/__init__.py
  benchmark/agbenchmark/agent_protocol_client/api/agent_api.py
  benchmark/agbenchmark/agent_protocol_client/api_client.py
  benchmark/agbenchmark/agent_protocol_client/api_response.py
  benchmark/agbenchmark/agent_protocol_client/configuration.py
  benchmark/agbenchmark/agent_protocol_client/docs/AgentApi.md
  benchmark/agbenchmark/agent_protocol_client/exceptions.py
  benchmark/agbenchmark/agent_protocol_client/models/__init__.py
  benchmark/agbenchmark/agent_protocol_client/models/artifact.py
  benchmark/agbenchmark/agent_protocol_client/models/artifacts.py
  benchmark/agbenchmark/agent_protocol_client/models/pagination.py
  benchmark/agbenchmark/agent_protocol_client/models/step.py
  benchmark/agbenchmark/agent_protocol_client/models/step_all_of.py
  benchmark/agbenchmark/agent_protocol_client/models/step_request_body.py
  benchmark/agbenchmark/agent_protocol_client/models/step_result.py
  benchmark/agbenchmark/agent_protocol_client/models/task.py
  benchmark/agbenchmark/agent_protocol_client/models/task_all_of.py
  benchmark/agbenchmark/agent_protocol_client/models/task_request_body.py
  benchmark/agbenchmark/agent_protocol_client/rest.py
  benchmark/agbenchmark/generate_test.py
  benchmark/agent_protocol_client/README.md
  benchmark/agent_protocol_client/agent_protocol_client/__init__.py
  benchmark/agent_protocol_client/agent_protocol_client/api/__init__.py
  benchmark/agent_protocol_client/agent_protocol_client/models/__init__.py
  benchmark/agent_protocol_client/pyproject.toml
  benchmark/poetry.lock
  benchmark/pyproject.toml
Labels: size/xl

#5241 Remove start from agbenchmark
  .github/workflows/autogpts-ci.yml
  .github/workflows/benchmark-ci.yml
  autogpts/forge/README.md
  autogpts/forge/run_benchmark.sh
  benchmark/agbenchmark/README.md
  benchmark/agbenchmark/__main__.py
  benchmark/agbenchmark/challenges/CHALLENGE.md
  docs/content/challenges/introduction.md
Labels: size/m

#5246 fix broken link - Readme.md
  README.md
Labels: size/s

#5252 Serving frontend from the forge agent server
  autogpts/forge/forge/__main__.py
  autogpts/forge/forge/sdk/agent.py
  cli.py
  frontend/build.sh
  frontend/lib/main.dart
  frontend/lib/views/task/api_base_url_field.dart
Labels: size/m

#5254 Agent Protocol v1
  .github/workflows/autogpts-ci.yml
  autogpts/forge/forge/sdk/agent.py
  benchmark/agbenchmark/agent_api_interface.py
  frontend/lib/main.dart
Labels: size/m

#5255 Update quick start
  QUICKSTART.md
Labels: size/s

#5248 Implement old polling mechanism
  .github/workflows/benchmark-ci.yml
  autogpts/forge/advanced_commands/README.md
  autogpts/forge/advanced_commands/run_benchmark_dev
  autogpts/forge/forge/__main__.py
  autogpts/forge/run_benchmark
  benchmark/agbenchmark/__main__.py
  benchmark/agbenchmark/agent_interface.py
  benchmark/agbenchmark/app.py
  benchmark/agbenchmark/challenges/deprecated/content_gen/2_plan/data.json
  benchmark/agbenchmark/execute_sub_process.py
  benchmark/agbenchmark/generate_test.py
  benchmark/agbenchmark/reports/ReportManager.py
  benchmark/agbenchmark/reports/agent_benchmark_config.py
  benchmark/agbenchmark/reports/reports.py
  benchmark/tests/__init__.py
  benchmark/tests/test_web_server.py
Labels: size/xl

#5264 Refactor Benchmarking Workflow and Introduce New Data Models
  frontend/lib/models/benchmark_service/benchmark_step_request_body.dart
  frontend/lib/models/benchmark_service/benchmark_task_request_body.dart
  frontend/lib/models/benchmark_service/report_request_body.dart
  frontend/lib/models/skill_tree/skill_node_data.dart
  frontend/lib/services/benchmark_service.dart
  frontend/lib/utils/rest_api_utility.dart
  frontend/lib/viewmodels/skill_tree_viewmodel.dart
  frontend/lib/views/task_queue/task_queue_view.dart
Labels: size/l

#5266 Enhance SkillTreeViewModel to Manage Benchmark Status
  frontend/lib/viewmodels/skill_tree_viewmodel.dart
Labels: size/m

#5267 Add Early Termination to runBenchmark on Benchmark Failure
  frontend/lib/viewmodels/skill_tree_viewmodel.dart
Labels: size/s

#5285 change to stream respsonse
  autogpts/forge/forge/sdk/agent.py
  autogpts/forge/forge/sdk/forge_log.py
Labels: size/m

#5288 Fix forge not being an autogpt anymore
  autogpts/forge/run
Labels: size/m

#5296 Structure challenges
  QUICKSTART.md
  benchmark/agbenchmark/challenges/CHALLENGE.md
  benchmark/agbenchmark/challenges/abilities/write_file/data.json
  benchmark/agbenchmark/challenges/deprecated/code/1_list_animals/data.json
  benchmark/agbenchmark/challenges/deprecated/code/1_password_generator/data.json
  benchmark/agbenchmark/challenges/deprecated/code/2_file_organizer/data.json
  benchmark/agbenchmark/challenges/deprecated/code/d2.1_guided/data.json
  benchmark/agbenchmark/challenges/deprecated/code/d2.2_vague/data.json
  benchmark/agbenchmark/challenges/deprecated/code/d3.1_three_sum/data.json
  benchmark/agbenchmark/challenges/deprecated/code/d3_two_sum/data.json
  benchmark/agbenchmark/challenges/deprecated/d2.1_guided/data.json
  benchmark/agbenchmark/challenges/deprecated/interface/search/data.json
  benchmark/agbenchmark/challenges/deprecated/interface/write_file/data.json
  benchmark/agbenchmark/challenges/deprecated/memory/m1_id/data.json
  benchmark/agbenchmark/challenges/deprecated/memory/m2_multiple/data.json
  benchmark/agbenchmark/challenges/deprecated/memory/m3_noise/data.json
  benchmark/agbenchmark/challenges/deprecated/memory/m4_phrases/data.json
  benchmark/agbenchmark/challenges/deprecated/retrieval/r3/data.json
  benchmark/agbenchmark/challenges/deprecated/safety/s2_divergence/data_draft.json
  benchmark/agbenchmark/challenges/deprecated/safety/s3_instructions/data.json
  benchmark/agbenchmark/challenges/deprecated/safety/s3_instructions/data_draft.json
  benchmark/agbenchmark/challenges/library/ethereum/check_price/data_draft.json
  benchmark/agbenchmark/challenges/verticals/code/1_three_sum/data.json
  benchmark/agbenchmark/challenges/verticals/code/2_password_generator/data.json
  benchmark/agbenchmark/challenges/verticals/code/3_file_organizer/data.json
  benchmark/agbenchmark/challenges/verticals/code/4_url_shortener/custom_python/test.py
  benchmark/agbenchmark/challenges/verticals/code/4_url_shortener/data.json
  benchmark/agbenchmark/challenges/verticals/code/5_tic_tac_toe/data.json
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_out/battleship.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/data.json
  benchmark/agbenchmark/challenges/verticals/scraping/basic/data.json
  benchmark/agbenchmark/challenges/verticals/synthesize/1_basic_content_gen/artifacts_in/challenges.txt
  benchmark/agbenchmark/challenges/verticals/synthesize/1_basic_content_gen/artifacts_in/companies.txt
  benchmark/agbenchmark/challenges/verticals/synthesize/1_basic_content_gen/artifacts_out/output.txt
  benchmark/agbenchmark/challenges/verticals/synthesize/1_basic_content_gen/data.json
  benchmark/agbenchmark/challenges/verticals/synthesize/1_summary/data_draft.json
  benchmark/agbenchmark/challenges/verticals/synthesize/r3/data.json
  benchmark/agbenchmark/utils/dependencies/graphs.py
  benchmark/agbenchmark_config/reports/success_rate.json
  benchmark/frontend/public/graph.json
  benchmark/reports/match_records.py
  benchmark/reports/send_to_googledrive.py
  benchmark/tests/test_extract_subgraph.py
  frontend/assets/coding_tree_structure.json
  frontend/assets/scrape_synthesize_tree_structure.json
  frontend/assets/tree_structure.json
Labels: size/xl

#5298 Update frontend build
  frontend/build/web/flutter_service_worker.js
  frontend/build/web/index.html
Labels: size/s

#5294 Corrected Typo on QUICKSTART.md
  QUICKSTART.md
Labels: size/s

#5303 Fix skill tree
  autogpts/forge/forge/agent.py
  autogpts/forge/forge/sdk/schema.py
  benchmark/agbenchmark/challenges/CHALLENGE.md
  benchmark/agbenchmark/challenges/alignment/1_distraction/data.json
  benchmark/agbenchmark/challenges/alignment/2_injection/data_draft.json
  benchmark/agbenchmark/challenges/deprecated/1_tesla_revenue/artifacts_out/random_file.txt
  benchmark/agbenchmark/challenges/deprecated/1_tesla_revenue/data.json
  benchmark/agbenchmark/challenges/deprecated/2_specific/artifacts_out/random_file.txt
  benchmark/agbenchmark/challenges/deprecated/2_specific/data.json
  benchmark/agbenchmark/challenges/deprecated/3_formatting/artifacts_out/random_file.txt
  benchmark/agbenchmark/challenges/deprecated/3_formatting/data.json
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/data.json
  benchmark/agbenchmark/challenges/verticals/scrape/1_search/artifacts_out/random_file.txt
  benchmark/agbenchmark/challenges/verticals/scrape/1_search/data.json
  benchmark/agbenchmark/challenges/verticals/scrape/2_book_price/artifacts_out/random_file.txt
  benchmark/agbenchmark/challenges/verticals/scrape/2_book_price/data.json
  benchmark/agbenchmark/challenges/verticals/scrape/3_revenue_retrieval_2/artifacts_out/random_file.txt
  benchmark/agbenchmark/challenges/verticals/scrape/3_revenue_retrieval_2/data.json
  benchmark/agbenchmark/challenges/verticals/scrape/4_revenue_retrieval/artifacts_out/random_file.txt
  benchmark/agbenchmark/challenges/verticals/scrape/4_revenue_retrieval/data.json
  benchmark/agbenchmark/challenges/verticals/synthesize/1_basic_content_gen/data.json
  benchmark/agbenchmark_config/reports/success_rate.json
  benchmark/frontend/public/graph.json
  frontend/assets/coding_tree_structure.json
  frontend/assets/scrape_synthesize_tree_structure.json
  frontend/assets/tree_structure.json
Labels: size/xl

#5306 Validate skill tree so the UI never breaks
  benchmark/agbenchmark/challenges/verticals/scrape/2_book_price/data.json
  benchmark/agbenchmark/utils/dependencies/graphs.py
  benchmark/frontend/public/graph.json
  benchmark/tests/test_get_roots.py
  benchmark/tests/test_is_circular.py
  frontend/assets/general_tree_structure.json
  frontend/assets/tree_structure.json
Labels: size/l

#5271 accidental-agent entering the arena
  arena/accidental-agent.json
Labels: size/s, Arena

#5259 WeatherInformer entering the arena
  arena/WeatherInformer.json
Labels: size/s, Arena

#5272 QA_AGENT entering the arena
  arena/QA_AGENT.json
Labels: size/s, Arena

#5290 uply entering the arena
  arena/uply.json
Labels: size/s, Arena

#5291 YoutubePost_agent entering the arena
  arena/YoutubePost_agent.json
Labels: size/s, Arena

#5304 Portalen entering the arena
  arena/Portalen.json
Labels: size/s, Arena

#5321 Eduardo entering the arena
  arena/Eduardo.json
Labels: size/s, Arena

#5275 webagent entering the arena
  arena/webagent.json
Labels: size/s, Arena

#5322 Job_GPT entering the arena
  arena/Job_GPT.json
Labels: size/s, Arena

#5329 evo entering the arena
  arena/evo.json
Labels: size/s, Arena

#5330 AgGPT entering the arena
  arena/AgGPT.json
Labels: size/s, Arena

#5332 evlyn entering the arena
  ai_settings.yaml
  arena/evlyn.json
Labels: size/m, Arena

#5334 AskOpie entering the arena
  arena/AskOpie.json
Labels: size/s, Arena

#5338 northfork entering the arena
  arena/northfork.json
Labels: size/s, Arena

#5340 bot entering the arena
  arena/bot.json
Labels: size/s, Arena

#5336 sql entering the arena
  arena/sql.json
Labels: size/s, Arena

#5335 potato entering the arena
  arena/potato.json
Labels: size/s, Arena

#5333 pipeline entering the arena
  arena/pipeline.json
Labels: size/s, Arena

#5363 AutoGPT: Move all the Agent's prompt generation code into a PromptStrategy
  autogpts/autogpt/agbenchmark_config/benchmarks.py
  autogpts/autogpt/autogpt/agents/agent.py
  autogpts/autogpt/autogpt/agents/base.py
  autogpts/autogpt/autogpt/agents/features/context.py
  autogpts/autogpt/autogpt/agents/features/watchdog.py
  autogpts/autogpt/autogpt/agents/prompt_strategies/one_shot.py
  autogpts/autogpt/autogpt/agents/utils/prompt_scratchpad.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/command_decorator.py
  autogpts/autogpt/autogpt/commands/execute_code.py
  autogpts/autogpt/autogpt/commands/file_context.py
  autogpts/autogpt/autogpt/commands/file_operations.py
  autogpts/autogpt/autogpt/commands/git_operations.py
  autogpts/autogpt/autogpt/commands/image_gen.py
  autogpts/autogpt/autogpt/commands/system.py
  autogpts/autogpt/autogpt/commands/user_interaction.py
  autogpts/autogpt/autogpt/commands/web_search.py
  autogpts/autogpt/autogpt/commands/web_selenium.py
  autogpts/autogpt/autogpt/core/configuration/schema.py
  autogpts/autogpt/autogpt/core/prompting/base.py
  autogpts/autogpt/autogpt/core/resource/model_providers/schema.py
  autogpts/autogpt/autogpt/core/utils/json_schema.py
  autogpts/autogpt/autogpt/llm/providers/openai.py
  autogpts/autogpt/autogpt/models/command.py
  autogpts/autogpt/autogpt/models/command_parameter.py
  autogpts/autogpt/autogpt/prompts/generator.py
  autogpts/autogpt/tests/conftest.py
  autogpts/autogpt/tests/integration/agent_factory.py
  autogpts/autogpt/tests/unit/test_agent.py
  autogpts/autogpt/tests/unit/test_commands.py
  autogpts/autogpt/tests/unit/test_logs.py
Labels: size/xl, function: prompt generation, re-arch, code quality ⬆️

#5368 Add more challenges + cleanup
  .github/workflows/benchmark-ci.yml
  autogpts/forge/poetry.lock
  benchmark/agbenchmark/app.py
  benchmark/agbenchmark/challenges/abilities/read_file/data.json
  benchmark/agbenchmark/challenges/abilities/write_file/data.json
  benchmark/agbenchmark/challenges/alignment/1_distraction/data_draft.json
  benchmark/agbenchmark/challenges/deprecated/1_tesla_revenue/data.json
  benchmark/agbenchmark/challenges/deprecated/2_specific/data.json
  benchmark/agbenchmark/challenges/deprecated/3_formatting/data.json
  benchmark/agbenchmark/challenges/deprecated/adapatability/a3_book_price/data.json
  benchmark/agbenchmark/challenges/deprecated/retrieval/1_tesla_revenue/data.json
  benchmark/agbenchmark/challenges/deprecated/retrieval/2_specific/data.json
  benchmark/agbenchmark/challenges/deprecated/retrieval/3_formatting/data.json
  benchmark/agbenchmark/challenges/deprecated/retrieval/r1_book_price/data.json
  benchmark/agbenchmark/challenges/deprecated/retrieval/r3/data.json
  benchmark/agbenchmark/challenges/verticals/code/1_three_sum/data.json
  benchmark/agbenchmark/challenges/verticals/code/2_password_generator/data.json
  benchmark/agbenchmark/challenges/verticals/code/3_file_organizer/data.json
  benchmark/agbenchmark/challenges/verticals/code/4_url_shortener/data.json
  benchmark/agbenchmark/challenges/verticals/code/5_tic_tac_toe/data.json
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/data.json
  benchmark/agbenchmark/challenges/verticals/data/2_label_csv/artifacts_in/input.csv
  benchmark/agbenchmark/challenges/verticals/data/2_label_csv/artifacts_out/output.csv
  benchmark/agbenchmark/challenges/verticals/data/2_label_csv/data.json
  benchmark/agbenchmark/challenges/verticals/data/3_combine_csv/data.json
  benchmark/agbenchmark/challenges/verticals/generalist/1_sort_csv/artifacts_in/input.csv
  benchmark/agbenchmark/challenges/verticals/generalist/1_sort_csv/artifacts_out/output.csv
  benchmark/agbenchmark/challenges/verticals/generalist/1_sort_csv/data.json
  benchmark/agbenchmark/challenges/verticals/scrape/1_search/data.json
  benchmark/agbenchmark/challenges/verticals/scrape/2_book_price/data.json
  benchmark/agbenchmark/challenges/verticals/scrape/3_revenue_retrieval_2/data.json
  benchmark/agbenchmark/challenges/verticals/scrape/4_revenue_retrieval_2/artifacts_out/random_file.txt
  benchmark/agbenchmark/challenges/verticals/scrape/4_revenue_retrieval_2/data.json
  benchmark/agbenchmark/challenges/verticals/scrape/5_get_information/artifacts_out/output.txt
  benchmark/agbenchmark/challenges/verticals/scrape/5_get_information/data.json
  benchmark/agbenchmark/challenges/verticals/synthesize/1_basic_content_gen/data.json
  benchmark/agbenchmark/utils/data_types.py
  benchmark/agbenchmark_config/reports/success_rate.json
  benchmark/frontend/public/graph.json
  benchmark/poetry.lock
  benchmark/pyproject.toml
  benchmark/tests/test_extract_subgraph.py
  frontend/assets/coding_tree_structure.json
  frontend/assets/data_tree_structure.json
  frontend/assets/general_tree_structure.json
  frontend/assets/scrape_synthesize_tree_structure.json
  frontend/assets/tree_structure.json
Labels: size/xl

#5404 ghostcoder entering the arena
  arena/ghostcoder.json
Labels: size/s

#5403 fuzz_gen entering the arena
  arena/fuzz_gen.json
Labels: size/s

#5315 dy_agent entering the arena
  arena/dy_agent.json
Labels: size/s, Arena

#5364 swarms entering the arena
  arena/swarms.json
Labels: size/s

#5347 tdev entering the arena
  arena/tdev.json
Labels: size/s

#5366 iku2 entering the arena
  arena/iku2.json
Labels: size/s

#5387 JoshAgent1 entering the arena
  arena/JoshAgent1.json
Labels: size/s

#5362 Hypeman entering the arena
  arena/Hypeman.json
Labels: size/s

#5356 GG entering the arena
  arena/GG.json
Labels: size/s

#5391 EnglishTestpaperAgent entering the arena
  arena/EnglishTestpaperAgent.json
Labels: size/s

#5401 Granger entering the arena
  .gitignore
  arena/Granger.json
Labels: size/s

#5385 Stragegy_Steve entering the arena
  arena/Stragegy_Steve.json
Labels: size/s

#5374 NHAN_BOT entering the arena
  arena/NHAN_BOT.json
Labels: size/s

#5399 RandomVampirePictureBot entering the arena
  arena/RandomVampirePictureBot.json
Labels: size/s

#5342 AntlerTestGPT entering the arena
  arena/AntlerTestGPT.json
Labels: size/s

#5360 BanglaSgAgent entering the arena
  arena/BanglaSgAgent.json
Labels: size/s

#5351 monthly_summary entering the arena
  arena/monthly_summary.json
Labels: size/s

#5377 RagsToRiches entering the arena
  arena/RagsToRiches.json
Labels: size/s

#5373 frankgarcia entering the arena
  arena/frankgarcia.json
Labels: size/s

#5348 gpt-eng-forge entering the arena
  arena/gpt-eng-forge.json
Labels: size/s

#5372 Arena submission potato
  arena/potato.json
Labels: size/s

#5345 Fix typo in QUICKSTART.md
  QUICKSTART.md
Labels: size/s

#5316 dy_agent2 entering the arena
  arena/dy_agent2.json
Labels: size/s, Arena

#5407 gen_fuzz entering the arena
  arena/gen_fuzz.json
Labels: size/s

#5412 SmartGPT entering the arena
  arena/SmartGPT.json
Labels: size/s

#5411 Yutan_agent entering the arena
  arena/Yutan_agent.json
Labels: size/s

#5413 DavidsAgent entering the arena
  arena/DavidsAgent.json
Labels: size/s
