Repository Significant-Gravitas/AutoGPT, pull requests merged in 2023-10, with the labels that each got.

#5421 HekolcuAutoGPT entering the arena
  arena/HekolcuAutoGPT.json
Labels: size/s

#5423 ChadGPT entering the arena
  arena/ChadGPT.json
Labels: size/s

#5425 MojoBurrito entering the arena
  arena/MojoBurrito.json
Labels: size/s

#5427 raindrop entering the arena
  arena/raindrop.json
Labels: size/s

#5428 job_apply entering the arena
  arena/job_apply.json
Labels: size/s

#5431 Light_Agent entering the arena
  arena/Light_Agent.json
Labels: size/s

#5432 SouAgent entering the arena
  arena/SouAgent.json
Labels: size/s

#5433 NoobSupreme entering the arena
  arena/NoobSupreme.json
Labels: size/s

#5435 byl entering the arena
  arena/byl.json
Labels: size/s

#5436 umiuni_agent entering the arena
  arena/umiuni_agent.json
Labels: size/s

#5437 personal-al-website entering the arena
  arena/personal-al-website.json
Labels: size/s

#5439 test entering the arena
  arena/test.json
Labels: size/s

#5442 hall_oto entering the arena
  arena/hall_oto.json
Labels: size/s

#5443 Brillante-AI entering the arena
  arena/Brillante-AI.json
Labels: size/s

#5450 Correct Battleship Challenge
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_in/abstract_class.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_out/abstract_class.py
Labels: size/s

#5444 Maharathi entering the arena
  arena/Maharathi.json
Labels: size/s

#5446 Baptiste entering the arena
  arena/Baptiste.json
Labels: size/s

#5448 MojoBurrito entering the arena
  arena/MojoBurrito.json
Labels: size/s

#5454 proudgpt entering the arena
  arena/proudgpt.json
Labels: size/s

#5457 TheAgency entering the arena
  arena/TheAgency.json
Labels: size/s

#5461 robita entering the arena
  arena/robita.json
Labels: size/s

#5456 Update 003_crafting_agent_logic.md
  autogpts/forge/tutorials/003_crafting_agent_logic.md
Labels: size/s

#5449 Fix typos in forge/agent.py
  autogpts/forge/forge/agent.py
Labels: size/m

#5462 TestAgent entering the arena
  arena/TestAgent.json
Labels: size/s

#5464 DevOpsAgent entering the arena
  arena/DevOpsAgent.json
Labels: size/s

#5465 misslu entering the arena
  arena/misslu.json
Labels: size/s

#5467 Miao entering the arena
  arena/Miao.json
Labels: size/s

#5469 SaasWebDev entering the arena
  arena/SaasWebDev.json
Labels: size/s

#5470 hackathonishe entering the arena
  arena/hackathonishe.json
Labels: size/s

#5475 Hot reload mode
  autogpts/forge/forge/__main__.py
  autogpts/forge/forge/app.py
  autogpts/forge/forge/sdk/agent.py
  autogpts/forge/poetry.lock
  autogpts/forge/pyproject.toml
Labels: size/l

#5476 Revert hot reload
  autogpts/forge/forge/__main__.py
  autogpts/forge/forge/app.py
  autogpts/forge/forge/sdk/agent.py
  autogpts/forge/poetry.lock
  autogpts/forge/pyproject.toml
Labels: size/l

#5477 Fix AutoGPTs-CI
  .github/workflows/autogpts-ci.yml
Labels: size/s

#5478 Fix benchmark ci
  .github/workflows/benchmark-ci.yml
  benchmark/agbenchmark/__main__.py
  benchmark/tests/test_benchmark_workflow.py
Labels: size/m

#5481 Put back reload mode
  autogpts/forge/forge/__main__.py
  autogpts/forge/forge/agent.py
  autogpts/forge/forge/app.py
  autogpts/forge/forge/sdk/agent.py
  autogpts/forge/forge/sdk/routes/agent_protocol.py
  autogpts/forge/poetry.lock
  autogpts/forge/pyproject.toml
Labels: size/l

#5483 Add pycharm debug to dev dependencies
  autogpts/forge/poetry.lock
  autogpts/forge/pyproject.toml
Labels: size/m

#5479 gipity entering the arena
  arena/gipity.json
Labels: size/s

#5460 Correct create_game method definition in the challenge input
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/data.json
Labels: size/s

#5497 Alfred entering the arena
  arena/Alfred.json
Labels: size/s

#5492 my_AutoGPT entering the arena
  arena/my_AutoGPT.json
Labels: size/s

#5485 mrSabelotodo entering the arena
  arena/mrSabelotodo.json
Labels: size/s

#5504 AppleGPT entering the arena
  arena/AppleGPT.json
Labels: size/s

#5501 faran entering the arena
  arena/faran.json
Labels: size/s

#5512 Fix custom_python not being copied
  benchmark/agbenchmark/app.py
  benchmark/agbenchmark/utils/challenge.py
Labels: size/m

#5510 bosaeed_agent entering the arena
  arena/bosaeed_agent.json
Labels: size/s

#5508 MindwareGPT entering the arena
  arena/MindwareGPT.json
Labels: size/s

#5507 Update Discord invite
  README.md
Labels: size/s

#5506 Tessa_AutoGPT_agent entering the arena
  arena/Tessa_AutoGPT_agent.json
Labels: size/s

#5505 EmbeddedAg entering the arena
  arena/EmbeddedAg.json
Labels: size/s

#5503 Bunny entering the arena
  arena/Bunny.json
Labels: size/s

#5500 MEGATRON entering the arena
  arena/MEGATRON.json
Labels: size/s

#5499 mljar-agent entering the arena
  arena/mljar-agent.json
Labels: size/s

#5491 Correct create_game method definition in the challenge input (#5460)
  arena/Heisenberg.json
Labels: size/s

#5514 nawalj entering the arena
  arena/nawalj.json
Labels: size/s

#5520 Fixed stacking prompt instructions
  autogpts/autogpt/autogpt/agents/agent.py
Labels: bug, size/s, function: plugins

#5539 Add GitHub Repository Validation to Leaderboard Submission Dialog
  frontend/lib/utils/uri_utility.dart
  frontend/lib/views/task_queue/leaderboard_submission_dialog.dart
Labels: size/m

#5528 KnowledgeExtractor entering the arena
  arena/KnowledgeExtractor.json
Labels: size/s

#5531 prometheus entering the arena
  arena/prometheus.json
Labels: size/s

#5533 AUTO_ENGINEER entering the arena
  arena/AUTO_ENGINEER.json
Labels: size/s

#5535 UTC-Crew entering the arena
  arena/UTC-Crew.json
Labels: size/s

#5538 Pacific entering the arena
  arena/Pacific.json
Labels: size/s

#5543 Bravo06 entering the arena
  arena/Bravo06.json
Labels: size/s

#5545 chenzo entering the arena
  arena/chenzo.json
Labels: size/s

#5547 od_agent_1 entering the arena
  arena/od_agent_1.json
Labels: size/s

#5555 Added setup command refactored memstore
  autogpts/forge/forge/sdk/memory/__init__.py
  autogpts/forge/forge/sdk/memory/chroma_memstore.py
  autogpts/forge/forge/sdk/memory/memstore.py
  cli.py
Labels: size/l

#5561 Fix challenges
  .github/workflows/autogpts-ci.yml
  .github/workflows/benchmark-ci.yml
  benchmark/agbenchmark/challenges/verticals/data/2_label_csv/data.json
  benchmark/frontend/public/graph.json
  frontend/assets/coding_tree_structure.json
  frontend/assets/data_tree_structure.json
  frontend/assets/general_tree_structure.json
  frontend/assets/scrape_synthesize_tree_structure.json
  frontend/assets/tree_structure.json
Labels: size/m

#5534 FactoryGPT entering the arena
  arena/FactoryGPT.json
Labels: size/s

#5540 bigman entering the arena
  arena/bigman.json
Labels: size/s

#5549 ekc911_agent entering the arena
  arena/ekc911_agent.json
Labels: size/s

#5550 v-gpt entering the arena
  arena/v-gpt.json
Labels: size/s

#5551 AquaAgent entering the arena
  arena/AquaAgent.json
Labels: size/s

#5552 fritzgpt entering the arena
  arena/fritzgpt.json
Labels: size/s

#5553 codebutler entering the arena
  arena/codebutler.json
Labels: size/s

#5554 burt entering the arena
  arena/burt.json
Labels: size/s

#5578 Fix agbenchmark client
  benchmark/agbenchmark/agent_protocol_client/models/artifact.py
Labels: size/m

#5581 Fix password generator
  benchmark/agbenchmark/challenges/deprecated/code/1_password_generator/custom_python/test.py
Labels: size/s

#5597 admariner entering the arena
  arena/admariner.json
Labels: size/s

#5588 ShiviBot entering the arena
  arena/ShiviBot.json
Labels: size/s

#5587 LHRobot entering the arena
  arena/LHRobot.json
Labels: size/s

#5582 piGPT entering the arena
  arena/piGPT.json
Labels: size/s

#5580 CurieAssistant entering the arena
  arena/CurieAssistant.json
Labels: size/s

#5576 RONNIN entering the arena
  arena/RONNIN.json
Labels: size/s

#5573 thebestagent entering the arena
  arena/thebestagent.json
Labels: size/s

#5572 Melang entering the arena
  arena/Melang.json
Labels: size/s

#5564 jaxbob1 entering the arena
  arena/jaxbob1.json
Labels: size/s

#5560 NumberOne entering the arena
  arena/NumberOne.json
Labels: size/s

#5584 evo-ninja entering the arena
  arena/evo-ninja.json
Labels: size/s

#5577 ParalegalAgent entering the arena
  arena/ParalegalAgent.json
Labels: size/s

#5563 WiseAgent entering the arena
  arena/WiseAgent.json
Labels: size/s

#5599 caud entering the arena
  arena/caud.json
Labels: size/s

#5632 NASAssistant2 entering the arena
  arena/NASAssistant2.json
Labels: size/s

#5630 jarvis3 entering the arena
  arena/jarvis3.json
Labels: size/s

#5638 buddy entering the arena
  arena/buddy.json
Labels: size/s

#5654 Forge/workshop
  autogpts/forge/forge/agent.py
  autogpts/forge/forge/app.py
  autogpts/forge/forge/db.py
  autogpts/forge/forge/prompts/gpt-3.5-turbo/system-format.j2
  autogpts/forge/forge/prompts/gpt-3.5-turbo/task-step.j2
  autogpts/forge/forge/sdk/__init__.py
  autogpts/forge/forge/sdk/abilities/file_system/files.py
  autogpts/forge/forge/sdk/abilities/web/web_search.py
  autogpts/forge/forge/sdk/abilities/web/web_selenium.py
  autogpts/forge/forge/sdk/ai_actions.py
  autogpts/forge/forge/sdk/ai_memory.py
  autogpts/forge/forge/sdk/ai_planning.py
  autogpts/forge/forge/sdk/ai_profile.py
  autogpts/forge/forge/sdk/workspace.py
  autogpts/forge/poetry.lock
  autogpts/forge/pyproject.toml
  cli.py
Labels: size/xl

#5677 CISLERK entering the arena
  arena/CISLERK.json
Labels: size/s

#5692 smith entering the arena
  arena/smith.json
Labels: size/s

#5690 Verkiezingsprogrammas entering the arena
  arena/Verkiezingsprogrammas.json
Labels: size/s

#5707 Jarvis entering the arena
  arena/Jarvis.json
Labels: size/s

#5706 da-agent entering the arena
  arena/da-agent.json
Labels: size/s

#5758 searchagent entering the arena
  arena/searchagent.json
Labels: size/s

#5768 ExampleAgent entering the arena
  arena/ExampleAgent.json
Labels: size/s

#5767 Raslebot entering the arena
  arena/Raslebot.json
Labels: size/s

#5766 Auto entering the arena
  arena/Auto.json
Labels: size/s

#5765 zze entering the arena
  arena/zze.json
Labels: size/s

#5764 teacher entering the arena
  arena/teacher.json
Labels: size/s

#5757 TraceLLMAgent entering the arena
  arena/TraceLLMAgent.json
Labels: size/s

#5755 dda entering the arena
  arena/dda.json
Labels: size/s

#5754 dev_agent entering the arena
  arena/dev_agent.json
Labels: size/s

#5752 robot entering the arena
  arena/robot.json
Labels: size/s

#5749 testGPT entering the arena
  arena/testGPT.json
Labels: size/s

#5747 AutoTestGenerator entering the arena
  arena/AutoTestGenerator.json
Labels: size/s

#5746 xt0m-GPT entering the arena
  arena/xt0m-GPT.json
Labels: size/s

#5744 billy entering the arena
  arena/billy.json
Labels: size/s

#5743 MyFirstAgent entering the arena
  arena/MyFirstAgent.json
Labels: size/s

#5739 LinuzGPT entering the arena
  arena/LinuzGPT.json
Labels: size/s

#5759 Forge: add output fields to DB StepModel
  autogpts/forge/forge/sdk/db.py
  autogpts/forge/forge/sdk/schema.py
Labels: size/m, Forge

#5736 Tutorial improvement
  autogpts/forge/README.md
  autogpts/forge/forge/agent.py
  autogpts/forge/integrations/README.md
  autogpts/forge/tutorials/001_getting_started.md
  autogpts/forge/tutorials/002_blueprint_of_an_agent.md
  autogpts/forge/tutorials/003_crafting_agent_logic.md
  docs/content/imgs/quickstart/003A_clone.png
  docs/content/imgs/quickstart/t2_agent_flow.png
  docs/content/imgs/quickstart/t2_diagram.png
Labels: size/l

#5808 AutoGPT2 entering the arena
  arena/AutoGPT2.json
Labels: size/s

#5806 Marx entering the arena
  arena/Marx.json
Labels: size/s

#5804 MyTestAgent entering the arena
  arena/MyTestAgent.json
Labels: size/s

#5814 baby_agent entering the arena
  arena/baby_agent.json
Labels: size/s

#5589 shivi entering the arena
  arena/shivi.json
Labels: size/s

#5801 FynAgent entering the arena
  arena/FynAgent.json
Labels: size/s

#5799 my_fx_agent entering the arena
  arena/my_fx_agent.json
Labels: size/s

#5798 engineer entering the arena
  arena/engineer.json
Labels: size/s

#5797 martingpt entering the arena
  arena/martingpt.json
Labels: size/s

#5789 JarvisAgent entering the arena
  arena/JarvisAgent.json
Labels: size/s

#5784 researchGPT2 entering the arena
  arena/researchGPT2.json
Labels: size/s

#5783 GeorgeGPT entering the arena
  arena/GeorgeGPT.json
Labels: size/s

#5781 Adtractive_Agent entering the arena
  arena/Adtractive_Agent.json
Labels: size/s

#5780 ZhaoJianAutoGPT entering the arena
  arena/ZhaoJianAutoGPT.json
Labels: size/s

#5779 eddy entering the arena
  arena/eddy.json
Labels: size/s

#5777 lcdegpt entering the arena
  arena/lcdegpt.json
Labels: size/s

#5776 RosterAgent entering the arena
  arena/RosterAgent.json
Labels: size/s

#5772 letst entering the arena
  arena/letst.json
Labels: size/s

#5771 letstest entering the arena
  arena/letstest.json
Labels: size/s

#5770 assistant1 entering the arena
  arena/assistant1.json
Labels: size/s

#5737 XXY entering the arena
  arena/XXY.json
Labels: size/s

#5735 date-buffer entering the arena
  arena/date-buffer.json
Labels: size/s

#5733 AgentKD entering the arena
  arena/AgentKD.json
Labels: size/s

#5732 TRAVIS entering the arena
  arena/TRAVIS.json
Labels: size/s

#5730 han entering the arena
  arena/han.json
Labels: size/s

#5731 rename arena agent (hackathonishe -> dive2code)
  arena/dive2code.json
  arena/hackathonishe.json
Labels: size/m

#5725 GameSoundGPT entering the arena
  arena/GameSoundGPT.json
Labels: size/s

#5415 gpt-engineer entering the arena
  arena/gpt-engineer.json
Labels: size/s

#5600 MANU entering the arena
  arena/MANU.json
Labels: size/s

#5621 a_reverent_heart entering the arena
  arena/a_reverent_heart.json
Labels: size/s

#5619 chappigpt entering the arena
  arena/chappigpt.json
Labels: size/s

#5614 Zeus entering the arena
  arena/Zeus.json
Labels: size/s

#5611 CreaitorMarketing entering the arena
  arena/CreaitorMarketing.json
Labels: size/s

#5607 info-retrieval entering the arena
  arena/info-retrieval.json
Labels: size/s
