Repository Significant-Gravitas/AutoGPT, pull requests merged in 2023-06, with the labels that each got.

#4552 Fix CI for internal PRs with CI changes
  .github/workflows/ci.yml
Labels: size/l, behaviour change

#4553 remove news about config
  BULLETIN.md
Labels: size/s

#4488 Cache Python Packages in the CI pipeline
  .github/workflows/ci.yml
  tests/integration/challenges/current_score.json
Labels: size/m, behaviour change

#4554 Fix `test_web_selenium`
  tests/integration/test_web_selenium.py
Labels: size/s

#4573 Skip flaky challenges
  tests/integration/challenges/current_score.json
Labels: size/s

#4576 Add highlights for v0.4.0 release to BULLETIN.md
  BULLETIN.md
Labels: size/m

#4565 Add `replace_in_file` command to change occurrences of text in a file
  autogpt/commands/file_operations.py
  tests/unit/test_file_operations.py
Labels: size/l

#4585 Sync release v0.4.0 back into `master`
  .devcontainer/docker-compose.yml
  .github/workflows/ci.yml
  BULLETIN.md
  docker-compose.yml
  docs/setup.md
  pyproject.toml
  tests/integration/test_web_selenium.py
Labels: project management, size/xl

#4591 Fix "update cassettes" step
  .github/workflows/ci.yml
  tests/integration/challenges/basic_abilities/test_write_file.py
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/integration/challenges/information_retrieval/test_information_retrieval_challenge_b.py
  tests/integration/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_a.py
  tests/integration/challenges/memory/test_memory_challenge_b.py
  tests/integration/challenges/memory/test_memory_challenge_c.py
Labels: ci, size/l

#4596 Rearrange tests & fix CI
  .github/workflows/ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/pr-label.yml
  autogpt/app.py
  docs/challenges/building_challenges.md
  docs/challenges/information_retrieval/challenge_a.md
  docs/challenges/information_retrieval/challenge_b.md
  docs/challenges/memory/challenge_b.md
  docs/challenges/memory/challenge_c.md
  mypy.ini
  tests/challenges/__init__.py
  tests/challenges/basic_abilities/__init__.py
  tests/challenges/basic_abilities/goal_oriented_tasks.md
  tests/challenges/basic_abilities/test_browse_website.py
  tests/challenges/basic_abilities/test_write_file.py
  tests/challenges/challenge_decorator/__init__.py
  tests/challenges/challenge_decorator/challenge.py
  tests/challenges/challenge_decorator/challenge_decorator.py
  tests/challenges/challenge_decorator/challenge_utils.py
  tests/challenges/challenge_decorator/score_utils.py
  tests/challenges/conftest.py
  tests/challenges/current_score.json
  tests/challenges/debug_code/data/two_sum.py
  tests/challenges/debug_code/data/two_sum_tests.py
  tests/challenges/debug_code/test_debug_code_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_b.py
  tests/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/challenges/memory/__init__.py
  tests/challenges/memory/test_memory_challenge_a.py
  tests/challenges/memory/test_memory_challenge_b.py
  tests/challenges/memory/test_memory_challenge_c.py
  tests/challenges/test_challenge_should_be_formatted_properly.py
  tests/challenges/utils.py
  tests/challenges/utils/build_current_score.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_commands.py
  tests/test_analyze_code.py
  tests/test_audio_text_read_audio.py
  tests/test_audio_text_read_audio_from_file.py
  tests/unit/test_agent.py
  tests/unit/test_agent_manager.py
  tests/unit/test_ai_config.py
  tests/unit/test_api_manager.py
  tests/unit/test_commands.py
  tests/unit/test_config.py
  tests/unit/test_git_commands.py
  tests/unit/test_google_search.py
  tests/unit/test_logs.py
  tests/unit/test_make_agent.py
  tests/unit/test_prompt_config.py
  tests/unit/test_prompt_generator.py
  tests/unit/test_text_file_parsers.py
  tests/unit/test_url_validation.py
  tests/unit/test_utils.py
  tests/unit/test_workspace.py
  tests/vcr/__init__.py
  tests/vcr/vcr_filter.py
Labels: ci, size/xl, testing

#4563 Fix inverted logic for deny_command
  autogpt/commands/execute_code.py
  tests/integration/test_execute_code.py
Labels: bug, Security 🛡️, size/m, function: run shell commands

#4592 Fix duckduckgo rate limiting
  autogpt/commands/google_search.py
Labels: size/m, behaviour change

#4567 Fix issues with file reading and writing with Python code
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations_utils.py
  tests/integration/test_execute_code.py
  tests/unit/test_file_operations.py
Labels: size/m

#2821 Dockerfile: reduce layer bloat
  Dockerfile
Labels: docker, size/s

#882 Update .gitignore
  .gitignore
Labels: size/s, ready-for-maintainer

#1569 feat: log new-line so user can differentiate sections better in console
  autogpt/agent/agent.py
Labels: bug, size/s, ready-for-maintainer

#4610 Update .gitignore
  .gitignore
Labels: size/s

#4498 Feat set token limits based on model
  .env.template
  autogpt/agent/agent.py
  autogpt/config/config.py
  tests/unit/test_config.py
Labels: size/m, function: config, behaviour change

#4620 Set proxy headers as secrets
  .github/workflows/ci.yml
Labels: size/s

#4481 Make challenge "write file" harder + add level 2
  tests/challenges/basic_abilities/test_write_file.py
  tests/challenges/current_score.json
  tests/integration/agent_factory.py
Labels: size/l, behaviour change

#4632 Fix "debug code" challenge
  tests/challenges/basic_abilities/test_write_file.py
  tests/challenges/current_score.json
  tests/challenges/debug_code/data/code.py
  tests/challenges/debug_code/data/test.py
  tests/challenges/debug_code/data/two_sum_tests.py
  tests/challenges/debug_code/test_debug_code_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_b.py
  tests/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/challenges/memory/test_memory_challenge_a.py
  tests/challenges/memory/test_memory_challenge_b.py
  tests/challenges/memory/test_memory_challenge_c.py
  tests/challenges/utils.py
  tests/integration/agent_factory.py
Labels: size/l, behaviour change

#4581 Add command for directly executing python code
  autogpt/commands/execute_code.py
  tests/integration/test_execute_code.py
Labels: function: run code, size/m, command system, behaviour change

#4622 Fix issues with information retrieval challenge a
  tests/integration/agent_factory.py
Labels: size/s, behaviour change

#4628 Streamline / clarify shell command control configuration
  .env.template
  autogpt/commands/execute_code.py
  autogpt/config/config.py
  tests/integration/test_execute_code.py
Labels: size/l

#4486 Quicker logs in pytest
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/docker-ci.yml
  tests/conftest.py
Labels: size/m

#4630 Clean up and fix issues with env configuration and .env.template
  .env.template
  autogpt/commands/audio_text.py
  autogpt/commands/google_search.py
  autogpt/config/config.py
  autogpt/speech/eleven_labs.py
  autogpt/speech/say.py
  autogpt/speech/stream_elements_speech.py
  docs/configuration/options.md
  tests/unit/test_config.py
Labels: size/l, behaviour change

#4623 Fix prompt issue causing 'No Command' issues and challenge b to fail
  autogpt/agent/agent.py
  autogpt/prompts/prompt.py
Labels: size/s, behaviour change

#4639 Decrement memory challenge c
  tests/challenges/current_score.json
Labels: size/s

#2594 Add settings for custom base url
  .env.template
  autogpt/config/config.py
Labels: size/s, function: config, behaviour change

#4548 Implement directory-based plugin system
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  autogpt/plugins.py
  scripts/install_plugin_deps.py
  tests/integration/test_plugins.py
  tests/integration/test_web_selenium.py
  tests/unit/data/test_plugins/auto_gpt_guanaco/__init__.py
Labels: size/l, function: plugins

#4638 Add config as attribute to Agent, rename old config to ai_config
  autogpt/agent/agent.py
  autogpt/llm/chat.py
  autogpt/main.py
  autogpt/memory/message_history.py
  tests/integration/agent_factory.py
  tests/unit/test_agent.py
  tests/unit/test_get_self_feedback.py
Labels: size/l

#4640 Upload logs as artifact
  .github/workflows/ci.yml
Labels: size/s

#4645 Pass agent to commands instead of config
  autogpt/agent/agent.py
  autogpt/app.py
  autogpt/commands/analyze_code.py
  autogpt/commands/audio_text.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/git_operations.py
  autogpt/commands/google_search.py
  autogpt/commands/image_gen.py
  autogpt/commands/improve_code.py
  autogpt/commands/task_statuses.py
  autogpt/commands/web_requests.py
  autogpt/commands/web_selenium.py
  autogpt/commands/write_tests.py
  autogpt/llm/chat.py
  autogpt/memory/message_history.py
  tests/challenges/basic_abilities/test_write_file.py
  tests/challenges/debug_code/test_debug_code_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_b.py
  tests/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/challenges/memory/test_memory_challenge_a.py
  tests/challenges/memory/test_memory_challenge_b.py
  tests/challenges/memory/test_memory_challenge_c.py
  tests/challenges/memory/test_memory_challenge_d.py
  tests/conftest.py
  tests/integration/test_execute_code.py
  tests/integration/test_image_gen.py
  tests/integration/test_web_selenium.py
  tests/unit/test_browse_scrape_links.py
  tests/unit/test_browse_scrape_text.py
  tests/unit/test_file_operations.py
  tests/unit/test_git_commands.py
  tests/unit/test_google_search.py
  tests/unit/test_make_agent.py
Labels: size/xl

#4648 Retry regression tests
  requirements.txt
  tests/challenges/basic_abilities/test_browse_website.py
  tests/challenges/basic_abilities/test_write_file.py
  tests/challenges/challenge_decorator/challenge_decorator.py
  tests/challenges/debug_code/test_debug_code_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_b.py
  tests/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/challenges/memory/test_memory_challenge_a.py
  tests/challenges/memory/test_memory_challenge_b.py
  tests/challenges/memory/test_memory_challenge_c.py
  tests/challenges/memory/test_memory_challenge_d.py
Labels: size/l

#4653 Fix benchmark logs
  .github/workflows/benchmarks.yml
  tests/challenges/challenge_decorator/challenge_decorator.py
  tests/integration/agent_factory.py
Labels: size/m

#4652 Implement Batch Summarization in MessageHistory Class to manage context length under model's token limit
  autogpt/memory/message_history.py
  tests/unit/test_message_history.py
Labels: size/l

#4649 Use prompt_toolkit to enable keyboard navigation in CLI
  autogpt/utils.py
  docs/challenges/building_challenges.md
  requirements.txt
  tests/challenges/utils.py
  tests/integration/test_setup.py
Labels: size/m

#4657 Change memory challenge c expectations
  .github/workflows/benchmarks.yml
  tests/challenges/memory/test_memory_challenge_c.py
Labels: size/m

#4613 Update setup.md fix typo
  docs/setup.md
Labels: documentation, one-liner, size/s, ready-for-maintainer

#4561 make run.sh more compatible
  run.sh
Labels: enhancement, size/s

#4662 Add basic Netlify config
  netlify.toml
Labels: ci, size/s

#4660 Remove extra spaces in summarization prompt
  autogpt/memory/message_history.py
Labels: size/m, behaviour change

#4658 Remove unused function `split_file` from file_operations.py
  autogpt/commands/file_operations.py
  tests/unit/test_file_operations.py
Labels: size/m, behaviour change

#4661 Add challenge identifiers to pytest
  autogpt/log_cycle/log_cycle.py
  tests/challenges/basic_abilities/test_browse_website.py
  tests/challenges/basic_abilities/test_write_file.py
  tests/challenges/challenge_decorator/challenge.py
  tests/challenges/challenge_decorator/challenge_decorator.py
  tests/challenges/conftest.py
  tests/challenges/debug_code/test_debug_code_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_b.py
  tests/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/challenges/memory/test_memory_challenge_a.py
  tests/challenges/memory/test_memory_challenge_b.py
  tests/challenges/memory/test_memory_challenge_c.py
  tests/challenges/memory/test_memory_challenge_d.py
  tests/challenges/utils.py
  tests/integration/test_web_selenium.py
Labels: size/l

#4672 Strip spaces from the end of truncated ai_name in log_cycle.py
  autogpt/log_cycle/log_cycle.py
Labels: bug, size/s

#4670 Incorporating current summary length in token count calculation for the update_running_summary function
  autogpt/memory/message_history.py
Labels: size/s

#4655 Correct and clean up JSON handling
  autogpt/agent/agent.py
  autogpt/commands/execute_code.py
  autogpt/json_utils/json_fix_general.py
  autogpt/json_utils/json_fix_llm.py
  autogpt/json_utils/llm_response_format_1.json
  autogpt/json_utils/utilities.py
  autogpt/memory/message_history.py
  autogpt/prompts/generator.py
  autogpt/prompts/prompt.py
  prompt_settings.yaml
  tests/challenges/current_score.json
  tests/unit/test_json_parser.py
  tests/unit/test_json_utils_llm.py
  tests/unit/test_llm_utils.py
  tests/unit/test_utils.py
Labels: size/xl, behaviour change

#4664 Make Benchmarks write cassettes without using them
  .github/workflows/benchmarks.yml
  tests/challenges/conftest.py
  tests/vcr/__init__.py
Labels: size/m, behaviour change

#4680 Fix autogpt docker image not working because missing prompt_settings
  .dockerignore
  Dockerfile
Labels: size/s, behaviour change

#4673 Rework plugin config to be file-based
  .env.template
  autogpt/config/config.py
  autogpt/plugins/__init__.py
  autogpt/plugins/plugin_config.py
  autogpt/plugins/plugins_config.py
  docs/configuration/options.md
  docs/plugins.md
  tests/conftest.py
  tests/integration/test_plugins.py
  tests/unit/test_plugins.py
Labels: size/l, behaviour change

#3570 Introduce method to ignore unexpected command params
  autogpt/commands/command.py
  autogpt/commands/file_operations.py
Labels: size/m, behaviour change

#4260 Remove urls tts macos
  autogpt/speech/base.py
Labels: enhancement, size/s, Mac OS, behaviour change

#3696 Extract openai API calls and retry at lowest level
  autogpt/app.py
  autogpt/llm/api_manager.py
  autogpt/llm/base.py
  autogpt/llm/providers/openai.py
  autogpt/llm/utils/__init__.py
  autogpt/memory/vector/utils.py
  tests/integration/test_provider_openai.py
  tests/unit/test_api_manager.py
  tests/unit/test_make_agent.py
  tests/unit/test_retry_provider_openai.py
Labels: size/xl, ready-for-maintainer, behaviour change

#4703 Implement loading `MemoryItem`s from file in `JSONFileMemory`
  autogpt/commands/file_operations.py
  autogpt/main.py
  autogpt/memory/vector/__init__.py
  autogpt/memory/vector/memory_item.py
  autogpt/memory/vector/providers/json_file.py
  data_ingestion.py
  tests/conftest.py
  tests/integration/agent_factory.py
  tests/integration/memory/test_json_file_memory.py
Labels: function: memory, size/l

#4704 Count tokens with tiktoken
  .gitignore
  autogpt/llm/api_manager.py
  autogpt/llm/utils/token_counter.py
Labels: size/m

#4706 Refactor module layout of command classes
  autogpt/agent/agent.py
  autogpt/app.py
  autogpt/command_decorator.py
  autogpt/commands/analyze_code.py
  autogpt/commands/audio_text.py
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/git_operations.py
  autogpt/commands/google_search.py
  autogpt/commands/image_gen.py
  autogpt/commands/improve_code.py
  autogpt/commands/task_statuses.py
  autogpt/commands/web_selenium.py
  autogpt/commands/write_tests.py
  autogpt/config/ai_config.py
  autogpt/main.py
  autogpt/models/__init__.py
  autogpt/models/command.py
  autogpt/models/command_registry.py
  autogpt/prompts/generator.py
  tests/conftest.py
  tests/integration/agent_factory.py
  tests/mocks/mock_commands.py
  tests/unit/test_commands.py
Labels: size/l, behaviour change

#4707 Remove write_tests and improve_code
  autogpt/commands/improve_code.py
  autogpt/commands/write_tests.py
  autogpt/main.py
  tests/challenges/current_score.json
Labels: size/m

#4711 Remove app commands, audio text and playwright
  autogpt/agent/agent.py
  autogpt/app.py
  autogpt/commands/audio_text.py
  autogpt/commands/web_playwright.py
  autogpt/commands/web_requests.py
  autogpt/llm/chat.py
  autogpt/main.py
  tests/unit/test_browse_scrape_links.py
  tests/unit/test_browse_scrape_text.py
  tests/unit/test_get_self_feedback.py
  tests/unit/test_make_agent.py
Labels: size/xl

#4716 Improve plugin backward compatibility
  autogpt/plugins/__init__.py
Labels: size/m

#4719 Fix summarization happening in first cycle
  autogpt/json_utils/utilities.py
  autogpt/memory/message_history.py
Labels: size/m, behaviour change

#4721 Bulletin.md update for 0.4.1 release
  BULLETIN.md
  pyproject.toml
Labels: documentation, size/m

#4730 Fix execute_command coming from plugins in 0.4.1
  autogpt/agent/agent.py
  autogpt/app.py
  tests/unit/test_execute_command.py
Labels: size/m

#4729 Fix execute_command coming from plugins
  autogpt/agent/agent.py
  autogpt/app.py
  tests/unit/test_execute_command.py
Labels: size/m, behaviour change

#4736 Remove config from command decorator
  autogpt/command_decorator.py
Labels: size/m, behaviour change

#4738 Fix issues with execute_python_code responses
  autogpt/commands/execute_code.py
  autogpt/json_utils/utilities.py
Labels: size/m, behaviour change

#4745 Retry 503 OpenAI errors
  autogpt/llm/utils/__init__.py
Labels: size/s, behaviour change

#4741 Sync release v0.4.1 back into master
  .github/workflows/ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/pr-label.yml
  BULLETIN.md
  autogpt/commands/execute_code.py
  autogpt/commands/file_operations.py
  autogpt/commands/git_operations.py
  autogpt/commands/image_gen.py
  autogpt/commands/web_search.py
  autogpt/commands/web_selenium.py
  autogpt/llm/api_manager.py
  autogpt/llm/base.py
  autogpt/llm/modelsinfo.py
  autogpt/llm/providers/openai.py
  autogpt/llm/utils/token_counter.py
  autogpt/speech/base.py
  pyproject.toml
  tests/integration/test_provider_openai.py
  tests/unit/test_api_manager.py
Labels: size/l, behaviour change

#4747 Merge Release v0.4.2 back to master
  autogpt/llm/providers/openai.py
  pyproject.toml
Labels: size/s

#4737 Remove config singleton
  autogpt/config/config.py
  docs/challenges/building_challenges.md
  requirements.txt
  tests/challenges/challenge_decorator/challenge_decorator.py
  tests/conftest.py
  tests/integration/agent_factory.py
  tests/integration/memory/test_json_file_memory.py
  tests/integration/test_image_gen.py
  tests/integration/test_setup.py
  tests/integration/test_web_selenium.py
  tests/utils.py
Labels: size/m, behaviour change

#4748 Make JSON errors more silent
  autogpt/json_utils/utilities.py
Labels: size/s

#4756 Fix up Python execution commands
  autogpt/commands/execute_code.py
  tests/integration/test_execute_code.py
Labels: Security 🛡️, size/m

#4683 OpenAI Functions Support
  .env.template
  autogpt/agent/agent.py
  autogpt/agent/agent_manager.py
  autogpt/app.py
  autogpt/command_decorator.py
  autogpt/config/ai_config.py
  autogpt/config/config.py
  autogpt/json_utils/utilities.py
  autogpt/llm/base.py
  autogpt/llm/chat.py
  autogpt/llm/providers/openai.py
  autogpt/llm/utils/__init__.py
  autogpt/memory/message_history.py
  autogpt/models/command.py
  autogpt/models/command_parameter.py
  autogpt/models/command_registry.py
  autogpt/processing/text.py
  autogpt/prompts/generator.py
  autogpt/setup.py
  tests/unit/test_agent_manager.py
  tests/unit/test_commands.py
  tests/unit/test_message_history.py
  tests/unit/test_prompt_generator.py
Labels: high priority, AI efficacy, size/xl, behaviour change

#4778 Create run_task python hook to interface with benchmarks
  autogpt/main.py
  autogpt/workspace/workspace.py
  benchmark/__init__.py
  benchmark/benchmark_entrepreneur_gpt_with_difficult_user.py
  benchmarks.py
  pyproject.toml
  requirements.txt
  tests/challenges/basic_abilities/test_write_file.py
  tests/challenges/conftest.py
  tests/challenges/debug_code/test_debug_code_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_b.py
  tests/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/challenges/memory/test_memory_challenge_a.py
  tests/challenges/memory/test_memory_challenge_b.py
  tests/challenges/memory/test_memory_challenge_c.py
  tests/challenges/memory/test_memory_challenge_d.py
  tests/challenges/schema.py
  tests/challenges/utils.py
  tests/conftest.py
  tests/integration/agent_factory.py
Labels: size/l, behaviour change

#2486 :sparkle: Improved OpenAI API Key Insert to Env
  autogpt/config/config.py
Labels: needs discussion, size/m, ready-for-maintainer, behaviour change

#4786 Link all challenges to benchmark python hook
  benchmarks.py
  tests/challenges/basic_abilities/test_browse_website.py
  tests/challenges/basic_abilities/test_write_file.py
  tests/challenges/debug_code/test_debug_code_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_a.py
  tests/challenges/information_retrieval/test_information_retrieval_challenge_b.py
  tests/challenges/kubernetes/test_kubernetes_template_challenge_a.py
  tests/challenges/memory/test_memory_challenge_a.py
  tests/challenges/memory/test_memory_challenge_b.py
  tests/challenges/memory/test_memory_challenge_c.py
  tests/challenges/memory/test_memory_challenge_d.py
  tests/challenges/utils.py
  tests/integration/agent_factory.py
Labels: size/xl, behaviour change

#4787 [re-arch] Ability: Write File
  autogpt/core/ability/builtins/file_operations.py
Labels: size/m, re-arch

#4761 Prevent docker-compose.yml and Dockerfile from being written
  docker-compose.yml
Labels: Security 🛡️, size/s

#4345 Only take subclasses of AutoGPTPluginTemplate as plugins
  .gitignore
  autogpt/plugins/__init__.py
Labels: bug, size/m, function: plugins

#4789 Retry ServiceUnavailableError
  autogpt/llm/providers/openai.py
  tests/unit/test_retry_provider_openai.py
Labels: size/m

#4803 Use Configuration of rearch
  autogpt/config/config.py
  autogpt/configurator.py
  autogpt/core/configuration/__init__.py
  autogpt/core/configuration/schema.py
  autogpt/main.py
  autogpt/plugins/__init__.py
  benchmarks.py
  data_ingestion.py
  tests/conftest.py
  tests/integration/agent_factory.py
  tests/integration/memory/utils.py
  tests/unit/test_config.py
  tests/unit/test_plugins.py
Labels: size/xl

#4812 Filtering out ANSI escape codes in printed assistant thoughts
  autogpt/agent/agent.py
  autogpt/config/config.py
  autogpt/configurator.py
  autogpt/core/configuration/__init__.py
  autogpt/core/configuration/schema.py
  autogpt/llm/providers/openai.py
  autogpt/logs.py
  autogpt/main.py
  autogpt/plugins/__init__.py
  benchmarks.py
  data_ingestion.py
  tests/conftest.py
  tests/integration/agent_factory.py
  tests/integration/memory/utils.py
  tests/unit/test_config.py
  tests/unit/test_plugins.py
  tests/unit/test_retry_provider_openai.py
Labels: size/xl

#4815 Unregister commands incompatible with current config.
  autogpt/main.py
Labels: size/m

#4816 Bulletin.md updates and version toggling
  BULLETIN.md
  pyproject.toml
Labels: size/m

#4839 Add fallback token limit in llm.utils.create_chat_completion
  autogpt/llm/utils/__init__.py
Labels: high priority, hotfix, size/s
