Repository Significant-Gravitas/AutoGPT, pull requests merged in 2023-12, with the labels that each got.

#6511 Renamed abilites to actions
  autogpts/forge/forge/actions/__init__.py
  autogpts/forge/forge/actions/file_system/files.py
  autogpts/forge/forge/actions/finish.py
  autogpts/forge/forge/actions/registry.py
  autogpts/forge/forge/actions/web/web_search.py
  autogpts/forge/forge/actions/web/web_selenium.py
  autogpts/forge/forge/agent.py
  autogpts/forge/forge/sdk/__init__.py
  autogpts/forge/forge/sdk/abilities/__init__.py
  autogpts/forge/forge/sdk/agent.py
  autogpts/forge/forge/sdk/agent_test.py
  autogpts/forge/forge/sdk/db.py
  autogpts/forge/forge/sdk/db_test.py
  autogpts/forge/forge/sdk/model.py
  autogpts/forge/forge/sdk/routes/agent_protocol.py
Labels: size/l

#6510 Add GCSWorkspace Implementation to Forge
  autogpts/forge/forge/actions/__init__.py
  autogpts/forge/forge/actions/file_system/files.py
  autogpts/forge/forge/actions/finish.py
  autogpts/forge/forge/actions/registry.py
  autogpts/forge/forge/actions/web/web_search.py
  autogpts/forge/forge/actions/web/web_selenium.py
  autogpts/forge/forge/agent.py
  autogpts/forge/forge/db.py
  autogpts/forge/forge/sdk/__init__.py
  autogpts/forge/forge/sdk/abilities/__init__.py
  autogpts/forge/forge/sdk/agent.py
  autogpts/forge/forge/sdk/agent_test.py
  autogpts/forge/forge/sdk/db.py
  autogpts/forge/forge/sdk/db_test.py
  autogpts/forge/forge/sdk/model.py
  autogpts/forge/forge/sdk/routes/agent_protocol.py
  autogpts/forge/forge/sdk/workspace.py
  autogpts/forge/poetry.lock
  autogpts/forge/pyproject.toml
Labels: size/xl

#6512 Update import path in agent_protocol.py
  autogpts/forge/forge/sdk/routes/agent_protocol.py
Labels: size/s

#6485 feat(agent/workspace): Add GCS and S3 FileWorkspace providers
  .github/workflows/autogpt-ci.yml
  .github/workflows/autogpt-docker-ci.yml
  autogpts/autogpt/.env.template
  autogpts/autogpt/autogpt/agents/features/file_workspace.py
  autogpts/autogpt/autogpt/app/agent_protocol_server.py
  autogpts/autogpt/autogpt/config/config.py
  autogpts/autogpt/autogpt/core/resource/model_providers/schema.py
  autogpts/autogpt/autogpt/core/resource/schema.py
  autogpts/autogpt/autogpt/file_workspace/__init__.py
  autogpts/autogpt/autogpt/file_workspace/base.py
  autogpts/autogpt/autogpt/file_workspace/gcs.py
  autogpts/autogpt/autogpt/file_workspace/local.py
  autogpts/autogpt/autogpt/file_workspace/s3.py
  autogpts/autogpt/docker-compose.yml
  autogpts/autogpt/poetry.lock
  autogpts/autogpt/pyproject.toml
  autogpts/autogpt/tests/conftest.py
  autogpts/autogpt/tests/unit/test_gcs_file_workspace.py
  autogpts/autogpt/tests/unit/test_local_file_workspace.py
  autogpts/autogpt/tests/unit/test_s3_file_workspace.py
Labels: function: workspace, size/xl

#6558 Add dependencies required to use PostgreSQL
  autogpts/autogpt/poetry.lock
  autogpts/autogpt/pyproject.toml
Labels: setup, size/m, Agent Protocol 🤖🔄️
