Repository Significant-Gravitas/AutoGPT, pull requests merged in 2023-11, with the labels that each got.

#6088 gpt_for_beans entering the arena
  arena/gpt_for_beans.json
Labels: size/s

#6058 CONNECTBOT entering the arena
  arena/CONNECTBOT.json
Labels: size/s

#6105 wyjagent entering the arena
  arena/wyjagent.json
Labels: size/s

#6104 happy_guy entering the arena
  arena/happy_guy.json
Labels: size/s

#6102 bait entering the arena
  arena/bait.json
Labels: size/s

#6099 TeslaBot entering the arena
  arena/TeslaBot.json
Labels: size/s

#6092 GPTTest entering the arena
  arena/GPTTest.json
Labels: size/s

#6091 MyFistAgent entering the arena
  arena/MyFistAgent.json
Labels: size/s

#6087 sgpt entering the arena
  arena/sgpt.json
Labels: size/s

#6096 Improvement of the regular expression
  cli.py
Labels: size/s

#6082 AGENT_GORDON entering the arena
  arena/AGENT_GORDON.json
Labels: size/s

#6080 AI entering the arena
  arena/AI.json
Labels: size/s

#6072 Add AKBAgent.json for benchmarking
  arena/AKBAgent.json
Labels: size/s

#6084 medical-agent entering the arena
  arena/medical-agent.json
Labels: size/s

#6069 CodeAutoGPT entering the arena
  arena/CodeAutoGPT.json
Labels: size/s

#6066 davidtest1 entering the arena
  arena/davidtest1.json
Labels: size/s

#6065 MarketResearcherEduRob entering the arena
  arena/MarketResearcherEduRob.json
Labels: size/s

#6061 my_gpt entering the arena
  arena/my_gpt.json
Labels: size/s

#6056 tiffGPT entering the arena
  arena/tiffGPT.json
Labels: size/s

#6055 ChrisGPT entering the arena
  arena/ChrisGPT.json
Labels: size/s

#6044 xtest entering the arena
  arena/xtest.json
Labels: size/s

#6043 TEST_TPK entering the arena
  arena/TEST_TPK.json
Labels: size/s

#6042 TestLbAgent entering the arena
  arena/TestLbAgent.json
Labels: size/s

#6041 TheAgent entering the arena
  arena/TheAgent.json
Labels: size/s

#6039 FLASH entering the arena
  arena/FLASH.json
Labels: size/s

#6038 Arena submission project master2
  arena/project_assitant.json
  arena/project_master.json
Labels: size/m

#6037 Derpmaster entering the arena
  arena/Derpmaster.json
Labels: size/s

#6035 SkorkobaniecAgent entering the arena
  arena/SkorkobaniecAgent.json
Labels: size/s

#6031 NanAutoGPT entering the arena
  arena/NanAutoGPT.json
Labels: size/s

#6030 LbAgent entering the arena
  arena/LbAgent.json
Labels: size/s

#6029 Jean-Michel entering the arena
  arena/Jean-Michel.json
Labels: size/s

#6028 houxe entering the arena
  arena/houxe.json
Labels: size/s

#6027 CES-GPT entering the arena
  arena/CES-GPT.json
Labels: size/s

#6023 lilAgent entering the arena
  arena/lilAgent.json
Labels: size/s

#6021 ivangpt_agent entering the arena
  arena/ivangpt_agent.json
  poetry.lock
  pyproject.toml
Labels: size/m

#6016 autocoder entering the arena
  arena/autocoder.json
Labels: size/s

#6015 coder_first entering the arena
  arena/coder_first.json
Labels: size/s

#6013 ArtistManagerGPT entering the arena
  arena/ArtistManagerGPT.json
Labels: size/s

#6012 agentSmith entering the arena
  arena/agentSmith.json
Labels: size/s

#6007 agent2 entering the arena
  arena/agent2.json
Labels: size/s

#6005 N entering the arena
  arena/N.json
Labels: size/s

#6003 YOU entering the arena
  arena/YOU.json
Labels: size/s

#5996 podcast_agent entering the arena
  arena/podcast_agent.json
Labels: size/s

#5995 TMarafon entering the arena
  arena/TMarafon.json
Labels: size/s

#5993 Orange entering the arena
  arena/Orange.json
Labels: size/s

#5992 WarlockAgent entering the arena
  arena/WarlockAgent.json
Labels: size/s

#5990 Q entering the arena
  arena/Q.json
Labels: size/s

#5989 MangoAgent-4 entering the arena
  arena/MangoAgent-4.json
Labels: size/s

#6125 bingoTesting entering the arena
  arena/bingoTesting.json
Labels: size/s

#6127 Fixed typo in registry.py
  autogpts/forge/forge/sdk/abilities/registry.py
Labels: size/s

#6124 qinghu3 entering the arena
  arena/qinghu3.json
Labels: size/s

#6121 Ahmad entering the arena
  arena/Ahmad.json
Labels: size/s

#6118 AGENT_JARVIS entering the arena
  arena/AGENT_JARVIS.json
Labels: size/s

#6108 Fix for agent_name regex
  cli.py
Labels: size/s

#5871 docs: fix typos in markdown files
  QUICKSTART.md
  autogpts/autogpt/autogpt/core/ARCHITECTURE_NOTES.md
Labels: size/m

#5608 fix typos
  autogpts/forge/tutorials/001_getting_started.md
Labels: conflicts, size/s

#6147 feat: Add support for new models and features from OpenAI's November 6 update
  autogpts/autogpt/autogpt/agent_factory/profile_generator.py
  autogpts/autogpt/autogpt/agents/prompt_strategies/one_shot.py
  autogpts/autogpt/autogpt/config/config.py
  autogpts/autogpt/autogpt/core/planning/prompt_strategies/initial_plan.py
  autogpts/autogpt/autogpt/core/planning/prompt_strategies/name_and_goals.py
  autogpts/autogpt/autogpt/core/planning/prompt_strategies/next_ability.py
  autogpts/autogpt/autogpt/core/resource/model_providers/openai.py
  autogpts/autogpt/autogpt/core/resource/model_providers/schema.py
Labels: size/l

#5441 Restructuring The Docs
  docs/content/AutoGPT/Setups/Docker-setup.md
  docs/content/AutoGPT/Setups/Git-setup.md
  docs/content/AutoGPT/Setups/nogit-setup.md
  docs/content/AutoGPT/configuration/imagegen.md
  docs/content/AutoGPT/configuration/memory.md
  docs/content/AutoGPT/configuration/options.md
  docs/content/AutoGPT/configuration/search.md
  docs/content/AutoGPT/configuration/voice.md
  docs/content/AutoGPT/plugins.md
  docs/content/AutoGPT/setup.md
  docs/content/AutoGPT/share-your-logs.md
  docs/content/AutoGPT/testing.md
  docs/content/AutoGPT/usage.md
  docs/content/benchmarks/benchmark.md
  docs/content/challenges/introduction.md
  docs/content/forge/get-started.md
  docs/content/front-end/the-ui.md
  docs/content/index.md
  docs/mkdocs.yml
  docs/overrides/main.html
Labels: documentation, size/xl

#6236 Fix regex warning
  cli.py
Labels: size/s

#6107 Susan entering the arena
  arena/Susan.json
Labels: size/s, Arena

#6259 songyalei entering the arena
  arena/songyalei.json
Labels: size/s, Arena

#5458 Improve the accuracy of the extract_dict_from_response method's JSON extraction.
  autogpts/autogpt/autogpt/json_utils/utilities.py
  autogpts/autogpt/tests/unit/test_utils.py
Labels: size/m

#5318 Allow port numbers to be used in local host names. e.g. localhost:8888.
  autogpts/autogpt/autogpt/url_utils/validators.py
Labels: size/m

#6313 Clean up GitHub workflows
  .github/workflows/autogpt-ci.yml
  .github/workflows/autogpt-docker-ci.yml
  .github/workflows/autogpts-ci.yml
  .github/workflows/benchmark-ci.yml
  .github/workflows/benchmarks.yml
  .github/workflows/hackathon.yml
  benchmark/agbenchmark/challenges/deprecated/code/1_password_generator/data.json
  benchmark/agbenchmark/challenges/verticals/code/2_password_generator/artifacts_out/password_generator.py
  benchmark/agbenchmark/challenges/verticals/code/2_password_generator/data.json
  benchmark/agbenchmark/reports/processing/report_types.py
  benchmark/agbenchmark/utils/challenge.py
Labels: Security 🛡️, ci, size/l, code quality ⬆️

#6203 Include poetry install step in dockerless setup instructions
  docs/content/AutoGPT/Setups/nogit-setup.md
Labels: documentation, size/s

#6335 Streamline documentation for getting started
  CONTRIBUTING.md
  README.md
  autogpts/autogpt/README.md
  autogpts/autogpt/autogpt/core/resource/model_providers/openai.py
  docs/content/AutoGPT/Setups/Git-setup.md
  docs/content/AutoGPT/Setups/nogit-setup.md
  docs/content/AutoGPT/index.md
  docs/content/AutoGPT/setup.md
  docs/content/AutoGPT/setup/docker.md
  docs/content/AutoGPT/setup/for-developers.md
  docs/content/AutoGPT/setup/get-repo-dialog.png
  docs/content/AutoGPT/setup/index.md
  docs/content/AutoGPT/usage.md
  docs/content/benchmarks/benchmark.md
  docs/content/forge/get-started.md
  docs/content/front-end/the-ui.md
  docs/content/index.md
  docs/mkdocs.yml
Labels: documentation, size/xl

#6274 Fix docker build. Changing agbenchmark dependency as git reference instead of folder reference.
  autogpts/autogpt/poetry.lock
  autogpts/autogpt/pyproject.toml
  autogpts/forge/poetry.lock
  autogpts/forge/pyproject.toml
Labels: setup, docker, size/l

#6284 Update frontend readme doc
  frontend/README.md
Labels: documentation, size/s

#6379 feat: add evo.ninja setup script
  .gitignore
  autogpts/evo.ninja/setup
Labels: size/m
