Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-01, with the labels that each got.

#6653 [Documentation Update] Updating Using and Creating Abilities to use Action Annotations
  autogpts/forge/tutorials/003_crafting_agent_logic.md
Labels: size/m

#6650 AGBenchmark: Codebase clean-up
  .github/workflows/hackathon.yml
  benchmark/agbenchmark/__main__.py
  benchmark/agbenchmark/agent_api_interface.py
  benchmark/agbenchmark/agent_interface.py
  benchmark/agbenchmark/agent_protocol_client/__init__.py
  benchmark/agbenchmark/agent_protocol_client/api/__init__.py
  benchmark/agbenchmark/agent_protocol_client/api/agent_api.py
  benchmark/agbenchmark/agent_protocol_client/api_client.py
  benchmark/agbenchmark/agent_protocol_client/api_response.py
  benchmark/agbenchmark/agent_protocol_client/configuration.py
  benchmark/agbenchmark/agent_protocol_client/docs/AgentApi.md
  benchmark/agbenchmark/agent_protocol_client/exceptions.py
  benchmark/agbenchmark/agent_protocol_client/models/__init__.py
  benchmark/agbenchmark/agent_protocol_client/models/artifact.py
  benchmark/agbenchmark/agent_protocol_client/models/artifacts.py
  benchmark/agbenchmark/agent_protocol_client/models/pagination.py
  benchmark/agbenchmark/agent_protocol_client/models/step.py
  benchmark/agbenchmark/agent_protocol_client/models/step_all_of.py
  benchmark/agbenchmark/agent_protocol_client/models/step_request_body.py
  benchmark/agbenchmark/agent_protocol_client/models/step_result.py
  benchmark/agbenchmark/agent_protocol_client/models/task.py
  benchmark/agbenchmark/agent_protocol_client/models/task_all_of.py
  benchmark/agbenchmark/agent_protocol_client/models/task_request_body.py
  benchmark/agbenchmark/agent_protocol_client/rest.py
  benchmark/agbenchmark/app.py
  benchmark/agbenchmark/challenges/__init__.py
  benchmark/agbenchmark/challenges/verticals/scrape/4_revenue_retrieval_2/data.json
  benchmark/agbenchmark/config.py
  benchmark/agbenchmark/conftest.py
  benchmark/agbenchmark/execute_sub_process.py
  benchmark/agbenchmark/generate_test.py
  benchmark/agbenchmark/main.py
  benchmark/agbenchmark/reports/ReportManager.py
  benchmark/agbenchmark/reports/agent_benchmark_config.py
  benchmark/agbenchmark/reports/processing/process_report.py
  benchmark/agbenchmark/reports/processing/report_types_v2.py
  benchmark/agbenchmark/reports/reports.py
  benchmark/agbenchmark/schema.py
  benchmark/agbenchmark/utils/challenge.py
  benchmark/agbenchmark/utils/data_types.py
  benchmark/agbenchmark/utils/dependencies/graphs.py
  benchmark/agbenchmark/utils/get_data_from_helicone.py
  benchmark/agbenchmark/utils/logging.py
  benchmark/agbenchmark/utils/utils.py
  benchmark/poetry.lock
  benchmark/pyproject.toml
  benchmark/server.py
Labels: size/xl, code quality ⬆️, Benchmarking

#6643 fix: cast port to int
  autogpts/forge/forge/__main__.py
Labels: size/s

#6569 Add documentation on how to use Agent Protocol in .env.template
  autogpts/autogpt/.env.template
  autogpts/autogpt/autogpt/app/main.py
  docs/content/AutoGPT/usage.md
Labels: size/m, function: config, Agent Protocol 🤖🔄️

#6691 feat(benchmark): JungleGym WebArena
  benchmark/agbenchmark/challenges/__init__.py
  benchmark/agbenchmark/challenges/webarena.py
  benchmark/agbenchmark/challenges/webarena_selection.json
  benchmark/agbenchmark/generate_test.py
Labels: size/xl, Benchmark
