Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-04, with the labels that each got.

#7025 fix(agent): Make `save_state` behave like save as
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/file_storage/base.py
  autogpts/autogpt/autogpt/file_storage/gcs.py
  autogpts/autogpt/autogpt/file_storage/local.py
  autogpts/autogpt/autogpt/file_storage/s3.py
  autogpts/autogpt/tests/unit/test_gcs_file_storage.py
  autogpts/autogpt/tests/unit/test_local_file_storage.py
  autogpts/autogpt/tests/unit/test_s3_file_storage.py
Labels: size/l, AutoGPT Agent

#7082 refactor(agent): Refactor & improve `create_chat_completion`
  autogpts/autogpt/autogpt/agent_factory/profile_generator.py
  autogpts/autogpt/autogpt/agents/prompt_strategies/one_shot.py
  autogpts/autogpt/autogpt/core/planning/prompt_strategies/initial_plan.py
  autogpts/autogpt/autogpt/core/planning/prompt_strategies/name_and_goals.py
  autogpts/autogpt/autogpt/core/planning/prompt_strategies/next_ability.py
  autogpts/autogpt/autogpt/core/resource/model_providers/openai.py
  autogpts/autogpt/autogpt/core/resource/model_providers/schema.py
  autogpts/autogpt/autogpt/core/utils/json_utils.py
Labels: size/l, AutoGPT Agent

#7096 fix(agent): Logging hotfix
  autogpts/autogpt/autogpt/app/main.py
Labels: size/s, AutoGPT Agent

#7099 fix(agent): Support OpenAI Project API keys
  autogpts/autogpt/autogpt/config/config.py
Labels: size/s, AutoGPT Agent

#7098 Add all the new component docs to the site and do a tidy up of docs
  docs/content/AutoGPT/components/advanced.md
  docs/content/AutoGPT/components/agents.md
  docs/content/AutoGPT/components/built-in-components.md
  docs/content/AutoGPT/components/commands.md
  docs/content/AutoGPT/components/components.md
  docs/content/AutoGPT/components/creating-components.md
  docs/content/AutoGPT/components/introduction.md
  docs/content/AutoGPT/components/protocols.md
  docs/content/AutoGPT/configuration/options.md
  docs/content/AutoGPT/index.md
  docs/content/AutoGPT/setup/docker.md
  docs/content/AutoGPT/setup/index.md
  docs/content/AutoGPT/share-your-logs.md
  docs/content/AutoGPT/usage.md
  docs/content/challenges/list.md
  docs/content/docs/index.md
  docs/content/forge/get-started.md
  docs/mkdocs.yml
Labels: documentation, size/l

#7097 clean(autogpt): Remove old plugin system
  autogpts/autogpt/.env.template
  autogpts/autogpt/agbenchmark_config/benchmarks.py
  autogpts/autogpt/autogpt/agent_factory/configurators.py
  autogpts/autogpt/autogpt/agents/base.py
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/app/utils.py
  autogpts/autogpt/autogpt/config/config.py
  autogpts/autogpt/autogpt/logs/__init__.py
  autogpts/autogpt/autogpt/logs/config.py
  autogpts/autogpt/autogpt/logs/helpers.py
  autogpts/autogpt/autogpt/memory/vector/utils.py
  autogpts/autogpt/autogpt/models/base_open_ai_plugin.py
  autogpts/autogpt/autogpt/plugins/__init__.py
  autogpts/autogpt/autogpt/plugins/plugin_config.py
  autogpts/autogpt/autogpt/plugins/plugins_config.py
  autogpts/autogpt/poetry.lock
  autogpts/autogpt/pyproject.toml
  autogpts/autogpt/scripts/install_plugin_deps.py
  autogpts/autogpt/tests/conftest.py
  autogpts/autogpt/tests/integration/agent_factory.py
  autogpts/autogpt/tests/unit/data/test_plugins/Auto-GPT-Plugin-Test-master.zip
  autogpts/autogpt/tests/unit/data/test_plugins/auto_gpt_guanaco/__init__.py
  autogpts/autogpt/tests/unit/models/test_base_open_api_plugin.py
  autogpts/autogpt/tests/unit/test_plugins.py
  docs/content/AutoGPT/configuration/options.md
Labels: documentation, size/xl, AutoGPT Agent
