Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-02, with the labels that each got.

#6778 feat(agent/web): Add browser extensions to deal with cookie walls and ads
  autogpts/autogpt/autogpt/commands/web_selenium.py
  autogpts/autogpt/autogpt/processing/text.py
Labels: function: browse, size/m, AutoGPT Agent

#6822 fix(forge): no module named 'sdk'
  autogpts/forge/forge/actions/finish.py
Labels: size/s

#6378 Adding support to allow for sending a message with the enter key
  frontend/lib/views/chat/chat_input_field.dart
Labels: size/s, Frontend

#6777 Fixed revising constraints and best practices
  autogpts/autogpt/autogpt/app/setup.py
Labels: bug, size/m, AutoGPT Agent

#5868 Set subprocess.PIPE on stdin and stderr and just let pytest run the currentt file when running main()
  benchmark/agbenchmark/challenges/verticals/code/5_tic_tac_toe/custom_python/test.py
  benchmark/agbenchmark/challenges/verticals/code/5_tic_tac_toe/data.json
Labels: size/s

#6903 Update execute_code.py
  autogpts/autogpt/autogpt/commands/execute_code.py
  autogpts/autogpt/autogpt/speech/macos_tts.py
Labels: Security 🛡️, size/m, function: run shell commands, function: speech

#6888 fix(agent/execute_code): Disable code execution commands when Docker is unavailable
  autogpts/autogpt/autogpt/commands/execute_code.py
Labels: function: run code, size/m

#6938 OPEN-133: Fix trying to load non-existing agent
  autogpts/autogpt/autogpt/app/main.py
Labels: size/s

#6927 Fixing support for AzureOpenAI
  autogpts/autogpt/autogpt/core/resource/model_providers/openai.py
  autogpts/autogpt/autogpt/llm/api_manager.py
Labels: size/m

#6937 OPEN-165: Improvement - check for duplicate command
  autogpts/autogpt/autogpt/agents/agent.py
  autogpts/autogpt/autogpt/models/action_history.py
Labels: size/m

#6946 chore: Change `agbenchmark` to directory dependency in `autogpt` and `forge`
  autogpts/autogpt/poetry.lock
  autogpts/autogpt/pyproject.toml
  autogpts/forge/poetry.lock
  autogpts/forge/pyproject.toml
Labels: setup, docker, size/m
