Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-11, with the labels that each got.

#8521 chore(platform): Tidy up repo structure
  autogpt_platform/backend/secrets/.gitkeep
  autogpt_platform/example_files/index.html
  autogpt_platform/frontend/.env.development
  autogpt_platform/frontend/.env.production
  autogpt_platform/graph_templates/Discord Bot Chat To LLM_v5.json
  autogpt_platform/graph_templates/Discord Chatbot with History_v145.json
  autogpt_platform/graph_templates/Discord Search Bot_v17.json
  autogpt_platform/graph_templates/Medium Blogger_v28.json
  autogpt_platform/market/scripts.py
Labels: size/m, Review effort [1-5]: 3, platform/frontend, platform/backend

#8523 feat(platform): reseal revid
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8519 refactor(platform/rest): Update REST API to use standard FastAPI structure
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/test/conftest.py
  autogpt_platform/backend/test/data/test_graph.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/backend/test/executor/test_scheduler.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend

#8536 feat(platform): Toast Graph Creation Error
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/test/data/test_graph.py
  autogpt_platform/frontend/src/components/ui/toast.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend, platform/blocks

#8560 Update docker-compose.platform.yml
  autogpt_platform/docker-compose.platform.yml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8559 fix(frontend): Fix connection value clash
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/s, Review effort [1-5]: 2, platform/frontend, platform/backend

#8562 feat(backend): Reduce number of services on the local mode
  autogpt_platform/docker-compose.yml
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8563 feat(backend): Reduce number of services on the local mode
  autogpt_platform/docker-compose.yml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8557 [Snyk] Security upgrade python from 3.11-slim-buster to 3.11.10-slim-bookworm
  autogpt_platform/market/Dockerfile
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8568 fix(platform): Add local enc key
  autogpt_platform/docker-compose.platform.yml
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8570 feat: bump elliptic to 6.6.0
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/yarn.lock
Labels: size/m, Review effort [1-5]: 1, platform/frontend, platform/backend

#8571 fix: update cookie
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/yarn.lock
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#8575 fix(frontend): Broken UI caused by lack of error propagation on Run
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
Labels: size/m, Review effort [1-5]: 3

#8526 refactor(backend): Introduced Graph Input & Output Schema, Merge GraphMeta & Graph, Remove subgraph functionality
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/branching.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20241103133307_remove_subgraph/migration.sql
  autogpt_platform/backend/migrations/20241103144418_graph_exec_stats_list_to_obj/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/data/test_graph.py
Labels: size/xl, Review effort [1-5]: 4, platform/backend, platform/blocks

#8534 feat(build-page): make all content unselectable except flowEditor
  autogpt_platform/frontend/src/components/NavBar.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
Labels: size/s, Review effort [1-5]: 2, platform/frontend, platform/backend

#8500 Update codeql.yml
  .github/workflows/codeql.yml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8574 feat(backend): Improve pyro reliability by adding connection timeout, retry, cleanup, and dynamic connection thread size
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/m, Review effort [1-5]: 3, platform/backend

#8518 feat(platform): Profile page v2
  autogpt_platform/frontend/src/components/agptui/CreditsCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreditsCard.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedStoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.stories.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenu.stories.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenu.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
  autogpt_platform/frontend/src/components/agptui/pages/ProfilePage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/ProfilePage.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Labels: size/xl, platform/frontend, platform/backend

#8576 feat(platform): Add settings page
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.stories.tsx
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.tsx
  autogpt_platform/frontend/src/components/agptui/pages/SettingsPage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/SettingsPage.tsx
Labels: size/l, platform/frontend, platform/backend

#8583 fix(searchtheweb): Fix the Jina Search Block
  autogpt_platform/backend/backend/blocks/helpers/http.py
  autogpt_platform/backend/backend/blocks/jina/_auth.py
  autogpt_platform/backend/backend/blocks/jina/search.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/data/credit.py
Labels: size/l, Review effort [1-5]: 3, platform/backend, platform/blocks

#8531 fix (backend): Patching the SSRF vulnerability in Github/Web Search/Request related blocks
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/blocks/github/_api.py
  autogpt_platform/backend/backend/blocks/github/issues.py
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
  autogpt_platform/backend/backend/blocks/github/repo.py
  autogpt_platform/backend/backend/blocks/helpers/http.py
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/jina/chunking.py
  autogpt_platform/backend/backend/blocks/jina/embeddings.py
  autogpt_platform/backend/backend/blocks/medium.py
  autogpt_platform/backend/backend/blocks/talking_head.py
  autogpt_platform/backend/backend/blocks/text_to_speech_block.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/notion.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test/util/test_request.py
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#8581 refactor(backend): Remove config.default.json
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/config.default.json
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8584 dx: Fix `pre-commit` config
  .pre-commit-config.yaml
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
Labels: size/l, platform/backend

#8535 feat(blocks): Pinecone blocks
  autogpt_platform/backend/backend/blocks/pinecone.py
Labels: size/l, Review effort [1-5]: 3, platform/backend, platform/blocks

#8593 feat(backend): Add API key DB table
  autogpt_platform/backend/migrations/20241108170448_add_api_key_support/migration.sql
  autogpt_platform/backend/schema.prisma
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8496 build: add launch.json debugging for vscode
  .vscode/launch.json
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8603 feat(blocks/jina): Add default credentials for Jina
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8532 feat(block): Add AI Music Generator Block with Meta Music Gen
  autogpt_platform/backend/backend/blocks/ai_music_generator.py
  autogpt_platform/frontend/src/components/ui/render.tsx
Labels: size/l, platform/frontend, platform/backend, platform/blocks

#8620 [Snyk] Security upgrade urllib3 from 2.0.7 to 2.2.2
  docs/requirements.txt
Labels: documentation, size/xs, Review effort [1-5]: 1, platform/backend

#8622 [Snyk] Security upgrade zipp from 3.15.0 to 3.19.1
  docs/requirements.txt
Labels: documentation, size/xs, Review effort [1-5]: 1, platform/backend

#8391 fix: show error toast on Run failure when inputs or credentials are i…
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8533 feat(platform): Introduced Agent Execution Block
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/test/server/test_con_manager.py
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/l, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#8624 feat(platform): Updates to Creator page
  autogpt_platform/frontend/src/components/agptui/BreadCrumbs.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorLinks.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorLinks.tsx
  autogpt_platform/frontend/src/components/agptui/pages/CreatorPage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/CreatorPage.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Labels: size/l, platform/frontend, platform/backend

#8623 refactor(backend): Centralize Block Cost into a Single File
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/data/cost.py
  autogpt_platform/backend/backend/data/credit.py
Labels: size/l, platform/backend, platform/blocks

#8524 feat(platform): Simplify Credentials UX
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/l, platform/frontend, platform/backend, platform/blocks

#8636 fix(frontend): Unbreak credentials input on single-provider blocks
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/m, platform/frontend, platform/backend

#8639 tweak(backend): Update all block costs
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, platform/backend

#8640 Adding Google Analytics to docs site
  docs/mkdocs.yml
Labels: documentation, size/s, Review effort [1-5]: 1, platform/backend

#8643 fix(frontend): Fix client-side validation for Agent Executor Block
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8632 fix(classic): update docs for security deprecation
  classic/README.md
  docs/content/classic/index.md
Labels: documentation, size/l, Review effort [1-5]: 1, platform/backend

#8645 Create SECURITY.md
  SECURITY.md
Labels: size/m, Review effort [1-5]: 1, platform/backend

#8646 fix(platform): Remove migrate and encrypt function
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/rest_api.py
Labels: size/m, Review effort [1-5]: 1, platform/backend

#8647 fix(frontend): Fix input-field update on empty & default value
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/m, platform/frontend, platform/backend

#8644 feat(frontend): Center initial canvas
  autogpt_platform/frontend/src/components/Flow.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8630 Add provision for other languages in Youtube Video Block
  autogpt_platform/backend/backend/blocks/youtube.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#8633 feat(frontend): check auth before allowing actions to run
  autogpt_platform/frontend/src/components/admin/marketplace/actions.ts
  autogpt_platform/frontend/src/components/marketplace/actions.ts
  autogpt_platform/frontend/src/lib/supabase/server.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8525 feat(blocks): Add `AIImageGeneratorBlock`
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
Labels: size/l, platform/backend, platform/blocks

#8597 feat(platform): Add api generator functions and endpoints
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/key_manager.py
  autogpt_platform/backend/backend/data/api_key.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/xl, Review effort [1-5]: 4, platform/backend

#8655 Feat(Builder/tutorial): Updates to fix tutorial
  autogpt_platform/frontend/src/components/tutorial.ts
Labels: size/m, platform/frontend, platform/backend

#8654 Revert "fix(platform): Remove migrate and encrypt function"
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/rest_api.py
Labels: size/m, platform/backend

#8338 ci: fix classic ci
  .github/workflows/classic-autogpt-docker-cache-clean.yml
  .github/workflows/classic-autogpt-docker-ci.yml
  .github/workflows/classic-autogpt-docker-release.yml
  .github/workflows/classic-benchmark-ci.yml
  .github/workflows/classic-frontend-ci.yml
  classic/Dockerfile.autogpt
Labels: size/l, Review effort [1-5]: 2, platform/backend

#8657 fix(frontend): Newly typed text in Input fields vanishes on scroll
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/ui/input.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8578 feat(backend): Enable json parsing with typing & conversion
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/type.py
Labels: size/m, Review effort [1-5]: 3, platform/backend

#8662 tweak(docs): Update Block File Path in Documentation
  docs/content/platform/new_blocks.md
Labels: documentation, size/s, platform/backend

#8674 fix(backend): Add migrations to fix credentials inputs
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20241115170707_fix_llm_provider_credentials/migration.sql
Labels: size/m, platform/backend

#8517 Update links to images in FORGE-QUICKSTART.md
  classic/FORGE-QUICKSTART.md
Labels: size/m, Review effort [1-5]: 1, platform/backend

#8681 fix(backend): Define executionmanager hostname for local docker-mode
  autogpt_platform/docker-compose.platform.yml
Labels: size/xs, Review effort [1-5]: 1, platform/backend

#8680 fix(frontend): Typing in the NodeKeyValueInput field causes the field to un-focus
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#8687 refactor(frontend): Update buttons to edit agents in Monitor
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
Labels: size/m, platform/frontend, platform/backend

#8691 fix(backend): Avoid falling back to default user unless ENABLED_AUTH is set to False
  autogpt_platform/autogpt_libs/autogpt_libs/auth/depends.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/models.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/utils.py
  autogpt_platform/backend/backend/server/ws_api.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8682 fix(backend): Add the lower cap of the user credits to zero
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8688 fix(frontend): avoid displaying long description text for block
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#8695 build(frontend): Optimize Docker build time and image size
  autogpt_platform/frontend/Dockerfile
  autogpt_platform/frontend/next.config.mjs
Labels: size/m, platform/frontend, platform/backend

#8665 fix(platform/builder): Add heartbeat mechanism
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8417 ref(classic): Do not 'rm -rf <unquoted variable>' when removing classic env
  classic/forge/setup
Labels: size/s, Forge, Review effort [1-5]: 2, platform/backend

#8670 fix(frontend): Allow importing agent file with empty description
  autogpt_platform/frontend/src/components/agent-import-form.tsx
Labels: size/s, platform/frontend, platform/backend

#8713 fix(backend): Improve typing for blocks StepThroughItemsBlock, CountdownTimerBlock, AddToListBlock, AddToDictionaryBlock
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
Labels: size/l, Review effort [1-5]: 2, platform/backend, platform/blocks

#8715 fix(platform): Remove settings endpoint
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/m, Review effort [1-5]: 1, platform/backend

#8726 dx(backend): Fix `pre-commit` `isort` step
  .pre-commit-config.yaml
  autogpt_platform/backend/pyproject.toml
Labels: size/m, platform/backend

#8694 feat(platform): Updates to Profile and Settings page
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.tsx
Labels: size/l, platform/frontend, platform/backend

#8664 feat(platform): Updates to Agent Page
  autogpt_platform/frontend/src/components/agptui/AgentInfo.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/agptui/pages/AgentPage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/AgentPage.tsx
Labels: size/l, platform/frontend, platform/backend

#8598 feat(platform): Updates to agent dashboard
  autogpt_platform/frontend/src/components/agptui/AgentTable.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTable.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTableCard.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTableRow.tsx
  autogpt_platform/frontend/src/components/agptui/Status.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Status.tsx
  autogpt_platform/frontend/src/components/agptui/pages/CreatorDashboardPage.stories.tsx
  autogpt_platform/frontend/src/components/agptui/pages/CreatorDashboardPage.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Labels: conflicts, size/xl, platform/frontend, platform/backend

#8729 fix(block): Updated model_version to prevent conflicts with pydantic naming
  autogpt_platform/backend/backend/blocks/ai_music_generator.py
Labels: size/m, Review effort [1-5]: 1, platform/backend, platform/blocks

#8501 feat(frontend): Show Agent Output on Monitor page
  autogpt_platform/frontend/src/components/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerOutputUI.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#8675 docs(platform): update docs for security ssrf
  autogpt_platform/backend/backend/util/request.py
  docs/content/platform/new_blocks.md
Labels: documentation, size/m, Review effort [1-5]: 2, platform/backend

#8502 docs: replace docker-compose with docker compose
  classic/original_autogpt/.devcontainer/docker-compose.yml
  docs/content/classic/share-your-logs.md
  docs/content/platform/getting-started.md
Labels: documentation, size/s, Classic AutoGPT Agent, Review effort [1-5]: 1, platform/backend

#8717 feat(platform): Updates to Runner Output UI
  autogpt_platform/frontend/src/components/runner-ui/RunnerOutputUI.tsx
Labels: size/m, platform/frontend, platform/backend

#8734 fix(backend): Revert non-async routes that are changed to async
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8710 fix(backend): Re-work the connection input consumption logic for Agent Executor Block
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/json.py
Labels: size/m, Review effort [1-5]: 3, platform/backend

#8398 fix: hide content except login when not authenticated to prevent errors
  autogpt_platform/frontend/src/app/build/page.tsx
  autogpt_platform/frontend/src/components/NavBar.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8747 docs(platform): Fix url in `README.md`
  README.md
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8736 fix(backend): Fix .env file read contention on pyro connection setup
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8753 feat(platform): Updates to Home page
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorCard.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedStoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedCreators.stories.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedCreators.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
  autogpt_platform/frontend/src/components/agptui/pages/AgentPage.tsx
  autogpt_platform/frontend/src/components/agptui/pages/HomePage.tsx
Labels: size/xl, platform/frontend, platform/backend

#8666 fix(forge): Fix double `model` kwarg error in `AnthropicProvider.create_chat_completion(..)`
  classic/forge/forge/llm/providers/anthropic.py
Labels: size/xs, Forge, platform/backend

#8358 feat(platform, blocks): Webhook-triggered blocks
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/github/example_payloads/pull_request.synchronize.json
  autogpt_platform/backend/backend/blocks/github/triggers.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/queue.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/integrations/webhooks/base.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/migrations/20241017180251_add_webhooks_and_their_relation_to_nodes/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/flow.css
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/ui/alert-dialog.tsx
  autogpt_platform/frontend/src/components/ui/multiselect.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/yarn.lock
  docs/content/platform/new_blocks.md
Labels: documentation, size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#8762 docs(backend): Add `--build` to docker command in Getting Started guide
  docs/content/platform/advanced_setup.md
  docs/content/platform/getting-started.md
Labels: documentation, size/s, platform/backend

#8772 refactor(platform): Combine per-provider credentials API calls
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#8771 fix(platform): allowing condition block to compare 2 strings
  autogpt_platform/backend/backend/blocks/branching.py
  docs/content/platform/advanced_setup.md
  docs/content/platform/getting-started.md
Labels: documentation, size/m, platform/backend, platform/blocks

#8773 fix(platform): handle None value in issue body when fetching GitHub issues
  autogpt_platform/backend/backend/blocks/github/issues.py
Labels: size/s, platform/backend, platform/blocks

#8781 feat(blocks): Add Word Character Count Block
  autogpt_platform/backend/backend/blocks/count_words_and_char_block.py
Labels: size/m, platform/backend, platform/blocks

#8803 fix(frontend): Add integer type definition for node handles
  autogpt_platform/frontend/src/components/NodeHandle.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/s, platform/frontend, platform/backend

#8746 fix(frontend): Add text length limit when displaying Graph & Block name with different length in different places
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/components/monitor/AgentFlowList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsList.tsx
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
  autogpt_platform/frontend/src/components/ui/render.tsx
  autogpt_platform/frontend/src/components/ui/scroll-area.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8765 feat(tests): add baseline utility for integration testing from frontend ui
  .gitignore
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/tests/auth.spec.ts
  autogpt_platform/frontend/src/tests/fixtures/index.ts
  autogpt_platform/frontend/src/tests/pages/base.page.ts
  autogpt_platform/frontend/src/tests/pages/navbar.page.ts
  autogpt_platform/frontend/src/tests/pages/profile.page.ts
  autogpt_platform/frontend/src/tests/profile.spec.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend

#8806 feat(platform): Tweaks to Search page
  autogpt_platform/frontend/src/app/[lang]/store/search/page.tsx
Labels: size/m, platform/frontend, platform/backend

#8749 feat(blocks): Various block QoL improvements
  autogpt_platform/backend/backend/blocks/github/_api.py
  autogpt_platform/backend/backend/blocks/github/issues.py
  autogpt_platform/backend/backend/blocks/llm.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#8832 fix(backend): Spin-up Database manager on rest.py
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/rest.py
  autogpt_platform/docker-compose.platform.yml
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8834 fix(frontend): Fix missing credentials input when no credentials available
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
Labels: size/m, platform/frontend, platform/backend

#8718 feat(platform/featureflags): Setting up feature flagging
  autogpt_platform/autogpt_libs/autogpt_libs/api_key/key_manager.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/depends.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/xl, Review effort [1-5]: 3, platform/backend

#8839 feat(frontend): Make Block description searchable on Block list palette
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#8837 fix(backend): Fix `credentials` cost filter not able to filter the block cost
  autogpt_platform/backend/backend/blocks/jina/search.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/frontend/src/components/CustomNode.tsx
Labels: size/l, platform/frontend, platform/backend, platform/blocks

#8836 fix(backend): Fix conn_retry decorator possible incorrect behaviour on failed async function
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/test/util/test_decorator.py
  autogpt_platform/backend/test/util/test_retry.py
Labels: size/l, Review effort [1-5]: 3, platform/backend

#8648 refactor(backend): Rename & move `IntegrationCredentialsStore` to backend
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/types.py
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
  autogpt_platform/backend/backend/blocks/ai_music_generator.py
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/blocks/discord.py
  autogpt_platform/backend/backend/blocks/github/_auth.py
  autogpt_platform/backend/backend/blocks/google/_auth.py
  autogpt_platform/backend/backend/blocks/google_maps.py
  autogpt_platform/backend/backend/blocks/hubspot/_auth.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/jina/_auth.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/medium.py
  autogpt_platform/backend/backend/blocks/pinecone.py
  autogpt_platform/backend/backend/blocks/replicate_flux_advanced.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/blocks/talking_head.py
  autogpt_platform/backend/backend/blocks/text_to_speech_block.py
  autogpt_platform/backend/backend/cli.py
  autogpt_platform/backend/backend/data/__init__.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/integrations/oauth/base.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/notion.py
  autogpt_platform/backend/backend/integrations/webhooks/base.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  docs/content/platform/getting-started.md
  docs/content/platform/new_blocks.md
Labels: documentation, size/l, Review effort [1-5]: 3, platform/frontend, platform/backend, platform/blocks
