Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-05, with the labels that each got.

#7116 refactor(agent)!: Use Pydantic models for `Agent` process output
  autogpts/autogpt/autogpt/agents/__init__.py
  autogpts/autogpt/autogpt/agents/agent.py
  autogpts/autogpt/autogpt/agents/base.py
  autogpts/autogpt/autogpt/agents/features/watchdog.py
  autogpts/autogpt/autogpt/agents/prompt_strategies/one_shot.py
  autogpts/autogpt/autogpt/agents/protocols.py
  autogpts/autogpt/autogpt/app/agent_protocol_server.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/components/event_history.py
  autogpts/autogpt/autogpt/core/resource/model_providers/schema.py
  autogpts/autogpt/autogpt/models/action_history.py
  autogpts/autogpt/autogpt/models/utils.py
Labels: enhancement, size/xl, AutoGPT Agent, Review effort [1-5]: 3

#7085 feat(agent/core): Add Anthropic Claude 3 support
  autogpts/autogpt/.env.template
  autogpts/autogpt/agbenchmark_config/benchmarks.py
  autogpts/autogpt/autogpt/agents/agent.py
  autogpts/autogpt/autogpt/agents/base.py
  autogpts/autogpt/autogpt/agents/prompt_strategies/one_shot.py
  autogpts/autogpt/autogpt/app/agent_protocol_server.py
  autogpts/autogpt/autogpt/app/configurator.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/commands/system.py
  autogpts/autogpt/autogpt/config/config.py
  autogpts/autogpt/autogpt/core/prompting/schema.py
  autogpts/autogpt/autogpt/core/resource/model_providers/__init__.py
  autogpts/autogpt/autogpt/core/resource/model_providers/anthropic.py
  autogpts/autogpt/autogpt/core/resource/model_providers/multi.py
  autogpts/autogpt/autogpt/core/resource/model_providers/openai.py
  autogpts/autogpt/autogpt/core/resource/model_providers/schema.py
  autogpts/autogpt/autogpt/core/resource/model_providers/utils.py
  autogpts/autogpt/autogpt/llm/providers/openai.py
  autogpts/autogpt/autogpt/models/command.py
  autogpts/autogpt/poetry.lock
  autogpts/autogpt/pyproject.toml
  autogpts/autogpt/tests/conftest.py
  autogpts/autogpt/tests/unit/test_config.py
  docs/content/AutoGPT/configuration/options.md
Labels: documentation, enhancement, size/xl, AutoGPT Agent, Review effort [1-5]: 3, bug_fix

#7137 Remove arena submission from cli
  cli.py
Labels: enhancement, size/l, Review effort [1-5]: 2

#7124 fix(agent): Fix type propagation of `Command` and `@command` when used on methods
  autogpts/autogpt/autogpt/command_decorator.py
  autogpts/autogpt/autogpt/models/command.py
Labels: enhancement, size/m, AutoGPT Agent, Review effort [1-5]: 3

#7125 feat(agent): Persist `AgentContext` in `Agent.state` (and across AP steps)
  autogpts/autogpt/autogpt/agents/agent.py
  autogpts/autogpt/autogpt/agents/features/context.py
  autogpts/autogpt/autogpt/models/context_item.py
Labels: enhancement, size/m, AutoGPT Agent, Review effort [1-5]: 3

#7145 Fix poetry install issue on ARM64 & python 3.12
  autogpts/autogpt/poetry.lock
  autogpts/autogpt/pyproject.toml
Labels: size/l, AutoGPT Agent

#7162 feat(rnd): Add template of the next gen autogpt project
  rnd/nextgenautogpt/README.md
  rnd/nextgenautogpt/nextgenautogpt/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/__main__.py
  rnd/nextgenautogpt/nextgenautogpt/cli.py
  rnd/nextgenautogpt/nextgenautogpt/executor/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/executor/executor.py
  rnd/nextgenautogpt/nextgenautogpt/manager/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/manager/manager.py
  rnd/nextgenautogpt/nextgenautogpt/server/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/server/server.py
  rnd/nextgenautogpt/poetry.lock
  rnd/nextgenautogpt/pyproject.toml
Labels: enhancement, size/l, Review effort [1-5]: 2

#7164 fix(agent): Unbreak docker builds after repo restructure
  .dockerignore
  .github/workflows/autogpt-docker-cache-clean.yml
  .github/workflows/autogpt-docker-ci.yml
  .github/workflows/autogpt-docker-release.yml
  Dockerfile.autogpt
  autogpt/.dockerignore
  autogpt/docker-compose.yml
Labels: size/m, AutoGPT Agent

#7166 fix(ci): Fix cli and CI
  .github/workflows/autogpts-ci.yml
  cli.py
Labels: size/m

#7130 feat(forge/llm): Add `GroqProvider`
  autogpt/.env.template
  autogpt/poetry.lock
  docs/content/AutoGPT/configuration/options.md
  forge/forge/llm/providers/groq.py
  forge/forge/llm/providers/multi.py
  forge/forge/llm/providers/schema.py
  forge/poetry.lock
  forge/pyproject.toml
Labels: documentation, enhancement, size/l, AutoGPT Agent, Forge, Review effort [1-5]: 4

#7169 feat(forge/llm): Add basic support for GPT-4o
  forge/forge/llm/providers/openai.py
Labels: enhancement, size/m, Forge, Review effort [1-5]: 2

#7104 Update QUICKSTART.md
  QUICKSTART.md
Labels: documentation, size/s, Review effort [1-5]: 1

#7121 fix(agent): Disable profile generator -> speed up agent setup
  autogpt/autogpt/agent_factory/configurators.py
  autogpt/autogpt/agent_factory/profile_generator.py
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/agents/prompt_strategies/one_shot.py
  autogpt/autogpt/app/agent_protocol_server.py
  autogpt/autogpt/app/main.py
  forge/forge/components/system/system.py
  forge/forge/config/ai_profile.py
Labels: enhancement, size/l, AutoGPT Agent, Forge, Bug fix, Review effort [1-5]: 3, bug_fix
