Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-03, with the labels that each got.

#6900 Create Security Policy
  SECURITY.md
Labels: size/m

#6931 feat(agent): Abstract file storage access
  autogpts/autogpt/.env.template
  autogpts/autogpt/agbenchmark_config/benchmarks.py
  autogpts/autogpt/autogpt/agent_factory/configurators.py
  autogpts/autogpt/autogpt/agent_factory/generators.py
  autogpts/autogpt/autogpt/agent_manager/agent_manager.py
  autogpts/autogpt/autogpt/agents/agent.py
  autogpts/autogpt/autogpt/agents/base.py
  autogpts/autogpt/autogpt/agents/features/agent_file_manager.py
  autogpts/autogpt/autogpt/agents/features/file_workspace.py
  autogpts/autogpt/autogpt/agents/utils/agent_file_manager.py
  autogpts/autogpt/autogpt/app/agent_protocol_server.py
  autogpts/autogpt/autogpt/app/main.py
  autogpts/autogpt/autogpt/commands/file_operations.py
  autogpts/autogpt/autogpt/config/config.py
  autogpts/autogpt/autogpt/core/runner/cli_web_app/server/api.py
  autogpts/autogpt/autogpt/file_storage/__init__.py
  autogpts/autogpt/autogpt/file_storage/base.py
  autogpts/autogpt/autogpt/file_storage/gcs.py
  autogpts/autogpt/autogpt/file_storage/local.py
  autogpts/autogpt/autogpt/file_storage/s3.py
  autogpts/autogpt/autogpt/file_workspace/__init__.py
  autogpts/autogpt/autogpt/file_workspace/base.py
  autogpts/autogpt/autogpt/file_workspace/gcs.py
  autogpts/autogpt/autogpt/file_workspace/local.py
  autogpts/autogpt/autogpt/file_workspace/s3.py
  autogpts/autogpt/tests/conftest.py
  autogpts/autogpt/tests/integration/memory/_test_json_file_memory.py
  autogpts/autogpt/tests/integration/test_image_gen.py
  autogpts/autogpt/tests/unit/test_ai_profile.py
  autogpts/autogpt/tests/unit/test_file_operations.py
  autogpts/autogpt/tests/unit/test_gcs_file_storage.py
  autogpts/autogpt/tests/unit/test_gcs_file_workspace.py
  autogpts/autogpt/tests/unit/test_git_commands.py
  autogpts/autogpt/tests/unit/test_local_file_storage.py
  autogpts/autogpt/tests/unit/test_local_file_workspace.py
  autogpts/autogpt/tests/unit/test_s3_file_storage.py
  autogpts/autogpt/tests/unit/test_s3_file_workspace.py
  autogpts/autogpt/tests/utils.py
Labels: function: workspace, size/xl, AutoGPT Agent

#7010 fix(autogpt): Fix GCS and S3 root path issue
  autogpts/autogpt/autogpt/file_storage/gcs.py
  autogpts/autogpt/autogpt/file_storage/s3.py
Labels: size/s, AutoGPT Agent

#7005 feat(autogpt/forge): Send exception details in agent protocol endpoints
  autogpts/forge/forge/sdk/routes/agent_protocol.py
  autogpts/forge/forge/sdk/utils.py
Labels: size/l, Forge

#6990 fix(agent): Handle `action_history`-related exceptions gracefully
  autogpts/autogpt/autogpt/agents/base.py
  autogpts/autogpt/autogpt/app/agent_protocol_server.py
  autogpts/autogpt/autogpt/app/main.py
Labels: size/m, AutoGPT Agent

#6995 fix(autogpt/cli): Loop until non-empty task is provided by the user
  autogpts/autogpt/autogpt/app/main.py
Labels: size/m, AutoGPT Agent

#7014 docs: Redirect AutoGPT users from Forge tutorial with warning
  docs/content/forge/get-started.md
Labels: documentation, size/s

#6952 docs: replace `polyfill.io`
  docs/mkdocs.yml
Labels: documentation, size/s

#6996 feat(autogpt/cli): Check if port is available before running server
  autogpts/autogpt/autogpt/app/agent_protocol_server.py
  autogpts/autogpt/autogpt/app/utils.py
Labels: size/m, AutoGPT Agent

#6997 feat(autogpt/cli): Display info if code execution is enabled
  autogpts/autogpt/autogpt/app/main.py
Labels: size/m, AutoGPT Agent

#7016 feat(agent): Implement more tolerant `json_loads` function
  autogpts/autogpt/autogpt/agent_factory/profile_generator.py
  autogpts/autogpt/autogpt/agents/prompt_strategies/one_shot.py
  autogpts/autogpt/autogpt/core/planning/prompt_strategies/initial_plan.py
  autogpts/autogpt/autogpt/core/planning/prompt_strategies/name_and_goals.py
  autogpts/autogpt/autogpt/core/planning/prompt_strategies/next_ability.py
  autogpts/autogpt/autogpt/core/prompting/utils.py
  autogpts/autogpt/autogpt/core/resource/model_providers/openai.py
  autogpts/autogpt/autogpt/core/utils/json_utils.py
  autogpts/autogpt/autogpt/json_utils/__init__.py
  autogpts/autogpt/autogpt/json_utils/utilities.py
  autogpts/autogpt/autogpt/processing/text.py
  autogpts/autogpt/poetry.lock
  autogpts/autogpt/pyproject.toml
  autogpts/autogpt/tests/unit/test_json_utils.py
  autogpts/autogpt/tests/unit/test_utils.py
Labels: size/l, AutoGPT Agent

#7029 ci(agent): Matrix CI tests across Linux, macOS and Windows
  .github/workflows/autogpt-ci.yml
  autogpts/autogpt/tests/unit/test_s3_file_storage.py
Labels: ci, size/m, Windows, Mac OS, AutoGPT Agent

#7040 test(agent): Fix VCRpy request filter for cross-platform use
  autogpts/autogpt/tests/vcr/__init__.py
  autogpts/autogpt/tests/vcr/vcr_filter.py
Labels: ci, size/l, AutoGPT Agent

#7041 ci(agent): Add macOS ARM64 to AutoGPT Python CI matrix
  .github/workflows/autogpt-ci.yml
Labels: ci, size/s, Mac OS, AutoGPT Agent

#7035 security(agent): Replace unsafe `pyyaml` loader with `SafeLoader`
  autogpts/autogpt/autogpt/commands/file_operations_utils.py
  autogpts/autogpt/autogpt/config/ai_directives.py
  autogpts/autogpt/autogpt/config/ai_profile.py
  autogpts/autogpt/autogpt/core/resource/model_providers/openai.py
  autogpts/autogpt/autogpt/plugins/plugins_config.py
  autogpts/autogpt/autogpt/utils.py
  autogpts/autogpt/tests/unit/test_plugins.py
Labels: Security 🛡️, size/m, AutoGPT Agent

#7026 fix(agent): Fix check when loading an existing agent
  autogpts/autogpt/autogpt/app/main.py
Labels: size/s, AutoGPT Agent

#7045 fix(agent, forge): Conform `web_search.py` to `duckduckgo_search` v5
  autogpts/autogpt/autogpt/commands/web_search.py
  autogpts/autogpt/pyproject.toml
  autogpts/forge/forge/actions/web/web_search.py
  autogpts/forge/pyproject.toml
Labels: size/m, AutoGPT Agent, Forge

#7046 fix(agent, forge): Conform web_search.py to duckduckgo_search v5
  autogpts/autogpt/autogpt/commands/web_search.py
  autogpts/autogpt/poetry.lock
  autogpts/forge/forge/actions/web/web_search.py
  autogpts/forge/poetry.lock
Labels: size/m, AutoGPT Agent, Forge
