Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-10, with the labels that each got.

#8196 feat(frontend): push to cloud if needed for marketplace, and add a download agent button
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/components/NavBar.tsx
  autogpt_platform/frontend/src/components/NavBarButtons.tsx
  autogpt_platform/frontend/src/components/marketplace/AgentDetailContent.tsx
  autogpt_platform/frontend/src/components/nav/CreditButton.tsx
  autogpt_platform/frontend/src/components/nav/MarketPopup.tsx
  autogpt_platform/frontend/src/components/nav/NavBarButtons.tsx
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/yarn.lock
  autogpt_platform/infra/helm/autogpt-builder/values.dev.yaml
  autogpt_platform/market/.env.example
Labels: size/xl, Review effort [1-5]: 3, platform/frontend, platform/backend

#8229 refactor(blocks): Reassign non-random IDs
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/discord.py
  autogpt_platform/backend/backend/blocks/email_block.py
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/rss.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/graph_templates/Discord Bot Chat To LLM_v5.json
  autogpt_platform/backend/graph_templates/Discord Chatbot with History_v145.json
  autogpt_platform/backend/graph_templates/Discord Search Bot_v17.json
  autogpt_platform/backend/graph_templates/Medium Blogger_v28.json
  autogpt_platform/backend/migrations/20240930151406_reassign_block_ids/migration.sql
  autogpt_platform/frontend/src/components/agent-import-form.tsx
Labels: size/l, platform/frontend, platform/backend, platform/blocks

#8241 docs(server): Request to use UUID generators for new block ids
  docs/content/server/new_blocks.md
Labels: documentation, size/s, platform/backend

#8246 feat(market): swap to prisma direct query
  autogpt_platform/market/market/db.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8248 feat(blocks): Add text decoder block
  autogpt_platform/backend/backend/blocks/decoder_block.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#8231 feat(platform): Add implicit typing conversion of nested data-structure
  autogpt_platform/backend/backend/util/type.py
  autogpt_platform/backend/test/util/test_type.py
Labels: size/m, Review effort [1-5]: 3, platform/backend

#8249 fix(platform): Add block data db auto-update
  autogpt_platform/backend/backend/data/block.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8190 tweak(frontend): Update Blocks UI
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/marketplace/page.tsx
  autogpt_platform/frontend/src/components/CustomEdge.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
  autogpt_platform/frontend/src/components/NodeOutputs.tsx
  autogpt_platform/frontend/src/components/OutputModalComponent.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/marketplace/AgentDetailContent.tsx
  autogpt_platform/frontend/src/components/nav/CreditButton.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/ui/input.tsx
  autogpt_platform/frontend/src/components/ui/render.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend

#8239 tweak(infra): Remove cloudsql values
  autogpt_platform/infra/helm/autogpt-market/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-market/values.prod.yaml
  autogpt_platform/infra/helm/autogpt-server/values.yaml
Labels: size/m, Review effort [1-5]: 1, platform/backend

#8257 Revert "tweak(frontend): Update Blocks UI (#8190)"
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/marketplace/page.tsx
  autogpt_platform/frontend/src/components/CustomEdge.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
  autogpt_platform/frontend/src/components/NodeOutputs.tsx
  autogpt_platform/frontend/src/components/OutputModalComponent.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/marketplace/AgentDetailContent.tsx
  autogpt_platform/frontend/src/components/nav/CreditButton.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/ui/input.tsx
  autogpt_platform/frontend/src/components/ui/render.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, Review effort [1-5]: 3, platform/frontend, platform/backend

#8236 feat(platform): Add Gmail and Google Sheets blocks + fix Google OAuth
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/csv.py
  autogpt_platform/backend/backend/blocks/google/_auth.py
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/integrations/oauth/base.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/notion.py
  autogpt_platform/backend/backend/server/routers/integrations.py
  autogpt_platform/frontend/src/app/auth/integrations/oauth_callback/route.ts
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#8261 tweak(frontend): Fix broken terms of use link
  autogpt_platform/frontend/src/app/login/page.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#8250 feat(platform): Add Graph Execution error data & status
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, platform/backend

#8255 feat(market) Add on delete to market
  autogpt_platform/market/market/db.py
  autogpt_platform/market/market/routes/admin.py
  autogpt_platform/market/migrations/20241003134209_update_foreign_key_on_delete/migration.sql
  autogpt_platform/market/schema.prisma
Labels: size/m, platform/backend

#8232 Feat(Builder/tutorial): update tutorial to make it work with latest UI
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/components/tutorial.ts
Labels: size/l, platform/frontend, platform/backend

#8237 feat: Add Ideogram image generation block with customizable options
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/components/ui/render.tsx
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend, platform/blocks

#8259 fix(builder): Make edge delete button render above nodes
  autogpt_platform/frontend/src/components/customedge.css
Labels: size/s, platform/frontend, platform/backend

#8266 Updated ReplicateFluxAdvancedModel block with the latest Flux 1.1 Pro model
  autogpt_platform/backend/backend/blocks/replicate_flux_advanced.py
Labels: size/s, Review effort [1-5]: 2, platform/backend, platform/blocks

#8242 refactor(frontend): Remove unnecessary keywords in `BaseAutoGPTServerAPI`
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8197 feat(backend): Make Redis connection Sync + Use Redis as Distributed Lock
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/data/queue.py
  autogpt_platform/backend/backend/data/redis.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/lock.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/test/util/test_service.py
Labels: size/l, Review effort [1-5]: 4, platform/backend

#8271 tweak(platform): Limit templates to users
  autogpt_platform/backend/backend/server/rest_api.py
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8272 feat(platform,db): Add on deletes
  autogpt_platform/backend/migrations/20241007090536_add_on_delete_platform/migration.sql
  autogpt_platform/backend/schema.prisma
Labels: size/l, Review effort [1-5]: 2, platform/backend

#8275 fix(platform): Always filter on user id
  autogpt_platform/backend/backend/data/graph.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8265 tweak(platform): Disable docs endpoint when not local
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/market/.env.example
  autogpt_platform/market/market/app.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8273 feat(platform): Add delete agent functionality
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/migrations/20241007115713_cascade_graph_deletion/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/conftest.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/backend/test/executor/test_scheduler.py
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Labels: size/l, Review effort [1-5]: 4, platform/frontend, platform/backend

#8243 feat(docs): OAuth docs updates based on google block changes
  autogpt_platform/backend/backend/blocks/github/issues.py
  autogpt_platform/backend/backend/blocks/google/_auth.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/base.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  docs/content/server/new_blocks.md
  docs/mkdocs.yml
  docs/netlify.toml
Labels: documentation, size/l, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#8281 fix(platform): Fix marketplace leaking secrets
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/frontend/src/app/marketplace/submit/page.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Labels: size/m, Review effort [1-5]: 3, platform/frontend, platform/backend

#8284 fix(platform): Update deletion of secret values to not do it in place
  autogpt_platform/backend/backend/data/graph.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8285 feat(backend): add the capibility to disable llm models in the cloud env
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/logging.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, Review effort [1-5]: 3, platform/backend, platform/blocks

#8286 tweak(platform): Add Anthropic
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: Review effort [1-5]: 1

#8252 fix(platform): Fix unexpected connection clash on two dynamic pins link with the same keys
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, Review effort [1-5]: 2, platform/frontend, platform/backend

#8276 tweak(platform): Remove importing templates from local dir
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/rest_api.py
Labels: size/m, platform/backend

#8267 Fix block execution status in case of error
  autogpt_platform/backend/backend/data/block.py
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8287 fix(platform): Remove blind try-except for yielding error on block
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/block.py
  autogpt_platform/backend/backend/blocks/decoder_block.py
  autogpt_platform/backend/backend/blocks/email_block.py
  autogpt_platform/backend/backend/blocks/github/issues.py
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
  autogpt_platform/backend/backend/blocks/github/repo.py
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/backend/backend/blocks/google_maps.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/medium.py
  autogpt_platform/backend/backend/blocks/replicate_flux_advanced.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/blocks/talking_head.py
  autogpt_platform/backend/backend/blocks/text_to_speech_block.py
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/backend/backend/data/block.py
  docs/content/server/new_blocks.md
Labels: documentation, size/xl, Review effort [1-5]: 3, platform/backend, platform/blocks

#8191 feat(backend): Ensure validity of OAuth credentials during graph execution
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/synchronize.py
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
  autogpt_platform/backend/backend/app.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/rest.py
  autogpt_platform/backend/backend/server/__init__.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/integrations/utils.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/utils.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/executor/test_manager.py
Labels: size/xl, platform/backend, platform/backend/executor

#8316 ci(frontend): Enforce consistent `yarn.lock` + minor DX improvements
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/README.md
  autogpt_platform/frontend/Dockerfile
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, platform/frontend, platform/backend

#8318 refactor(frontend/login): Hide sign in with Google/GitHub/Discord for now
  autogpt_platform/frontend/src/app/login/page.tsx
Labels: size/s, platform/frontend, platform/backend

#8260 feat(frontend): Update block UI
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/marketplace/page.tsx
  autogpt_platform/frontend/src/components/CustomEdge.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/NavBar.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
  autogpt_platform/frontend/src/components/NodeOutputs.tsx
  autogpt_platform/frontend/src/components/OutputModalComponent.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
  autogpt_platform/frontend/src/components/customnode.css
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/edit/control/ControlPanel.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/components/marketplace/AgentDetailContent.tsx
  autogpt_platform/frontend/src/components/nav/CreditButton.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/tutorial.ts
  autogpt_platform/frontend/src/components/ui/card.tsx
  autogpt_platform/frontend/src/components/ui/input.tsx
  autogpt_platform/frontend/src/components/ui/render.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, Review effort [1-5]: 3, platform/frontend, platform/backend

#8207 feat(platform): List and revoke credentials in user profile
  autogpt_platform/backend/backend/integrations/oauth/base.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/notion.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  docs/content/server/new_blocks.md
Labels: documentation, size/l, platform/frontend, platform/backend

#8331 fix(backend): Lower the number of graph and node workers
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8339 fix(ci,platform): Add dev branch trigger to all ci
  .github/workflows/classic-autogpt-ci.yml
  .github/workflows/classic-autogpt-docker-ci.yml
  .github/workflows/classic-autogpts-ci.yml
  .github/workflows/classic-benchmark-ci.yml
  .github/workflows/classic-forge-ci.yml
  .github/workflows/classic-python-checks.yml
  .github/workflows/platform-autogpt-infra-ci.yml
  .github/workflows/platform-backend-ci.yml
  .github/workflows/platform-frontend-ci.yml
  .github/workflows/repo-pr-label.yml
Labels: size/m, Review effort [1-5]: 1, platform/backend

#8337 fix(frontend): Fix styling inconsistencies in input elements
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/ui/input.tsx
  autogpt_platform/frontend/src/components/ui/select.tsx
  autogpt_platform/frontend/src/components/ui/textarea.tsx
Labels: size/m, platform/frontend, platform/backend

#8344 fix(platform,infra): Checkin non secret values
  autogpt_platform/infra/helm/autogpt-builder/values.dev.yaml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8342 security(platform): Add sealed secrets
  autogpt_platform/infra/helm/autogpt-builder/templates/sealed-secrets.yaml
  autogpt_platform/infra/helm/autogpt-market/templates/deployment.yaml
  autogpt_platform/infra/helm/autogpt-market/templates/sealed-secrets.yaml
  autogpt_platform/infra/helm/autogpt-market/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-market/values.prod.yaml
  autogpt_platform/infra/helm/autogpt-server/templates/deployment-executor.yaml
  autogpt_platform/infra/helm/autogpt-server/templates/deployment.yaml
  autogpt_platform/infra/helm/autogpt-server/templates/sealed-secrets.yaml
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
  autogpt_platform/infra/helm/autogpt-websocket-server/templates/deployment.yaml
  autogpt_platform/infra/helm/autogpt-websocket-server/templates/sealed-secrets.yaml
  autogpt_platform/infra/helm/autogpt-websocket-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-websocket-server/values.prod.yaml
Labels: size/l, Review effort [1-5]: 4, platform/backend

#8324 Tf public media buckets
  autogpt_platform/infra/terraform/environments/dev.tfvars
  autogpt_platform/infra/terraform/environments/prod.tfvars
  autogpt_platform/infra/terraform/main.tf
  autogpt_platform/infra/terraform/modules/storage/main.tf
  autogpt_platform/infra/terraform/modules/storage/outputs.tf
  autogpt_platform/infra/terraform/modules/storage/variables.tf
  autogpt_platform/infra/terraform/variables.tf
Labels: size/l, Review effort [1-5]: 2, platform/backend

#8350 fix(infra): Fix sealed secret names
  autogpt_platform/infra/helm/autogpt-builder/templates/sealed-secrets.yaml
  autogpt_platform/infra/helm/autogpt-market/templates/sealed-secrets.yaml
  autogpt_platform/infra/helm/autogpt-server/templates/sealed-secrets.yaml
  autogpt_platform/infra/helm/autogpt-websocket-server/templates/sealed-secrets.yaml
Labels: size/m, Review effort [1-5]: 2, platform/backend, Possible security concern

#8340 feat(backend): Introduce executors shared DB connection
  autogpt_platform/backend/backend/app.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/queue.py
  autogpt_platform/backend/backend/exec.py
  autogpt_platform/backend/backend/executor/__init__.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/cache.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/backend/test/util/test_service.py
Labels: size/xl, Review effort [1-5]: 4, platform/backend

#8351 fix(infra): Update backend server health check endpoint
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/s, Review effort [1-5]: 4, platform/backend

#8289 docs(blocks): Add documentation for each block we currently have
  docs/content/server/blocks/ai_shortform_video_block.md
  docs/content/server/blocks/basic.md
  docs/content/server/blocks/blocks.md
  docs/content/server/blocks/branching.md
  docs/content/server/blocks/csv.md
  docs/content/server/blocks/decoder_block.md
  docs/content/server/blocks/discord.md
  docs/content/server/blocks/email_block.md
  docs/content/server/blocks/github/issues.md
  docs/content/server/blocks/github/pull_requests.md
  docs/content/server/blocks/github/repo.md
  docs/content/server/blocks/google/gmail.md
  docs/content/server/blocks/google/sheet.md
  docs/content/server/blocks/google_maps.md
  docs/content/server/blocks/http.md
  docs/content/server/blocks/ideogram.md
  docs/content/server/blocks/iteration.md
  docs/content/server/blocks/llm.md
  docs/content/server/blocks/maths.md
  docs/content/server/blocks/medium.md
  docs/content/server/blocks/reddit.md
  docs/content/server/blocks/replicate_flux_advanced.md
  docs/content/server/blocks/rss.md
  docs/content/server/blocks/sampling.md
  docs/content/server/blocks/search.md
  docs/content/server/blocks/talking_head.md
  docs/content/server/blocks/text.md
  docs/content/server/blocks/text_to_speech_block.md
  docs/content/server/blocks/time_blocks.md
  docs/content/server/blocks/youtube.md
  docs/mkdocs.yml
Labels: documentation, size/xl, platform/backend

#8346 feat(frontend): Allow copy and pasting of blocks between flows
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/hooks/useCopyPaste.ts
Labels: size/l, platform/frontend, platform/backend

#8362 fix(platform): Include health router
  autogpt_platform/backend/backend/server/rest_api.py
Labels: size/xs, Review effort [1-5]: 1, platform/backend

#8363 fix(market): Reseal Market URL
  autogpt_platform/infra/helm/autogpt-market/values.dev.yaml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8365 fix(platform/frontend): Add behave as var
  autogpt_platform/infra/helm/autogpt-builder/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-builder/values.prod.yaml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8361 feat(backend): Add credit for Jina/Search & LLM blocks
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/credit.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#8369 ci: Enforce `dev` as base branch for development
  .github/workflows/repo-pr-enforce-base-branch.yml
Labels: size/m, platform/backend

#8319 Update README.md
  README.md
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8360 refactor(backend): Make block fields consistently use SchemaField
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/block.py
  autogpt_platform/backend/backend/blocks/csv.py
  autogpt_platform/backend/backend/blocks/discord.py
  autogpt_platform/backend/backend/blocks/email_block.py
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/medium.py
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/blocks/talking_head.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/backend/test/util/test_service.py
Labels: size/l, Review effort [1-5]: 3, platform/backend, platform/blocks

#8366 fix: update types reference
  docs/content/server/new_blocks.md
Labels: documentation, size/s, Review effort [1-5]: 1, platform/backend

#8382 fix(platform/infra): Fix liveness probe
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8385 feat(blocks): fix output divider bar being in the wrong place
  autogpt_platform/frontend/src/components/NodeOutputs.tsx
Labels: size/s, platform/frontend, platform/backend

#8372 ci: create dependabot config
  .github/dependabot.yml
Labels: size/l, Review effort [1-5]: 2, platform/backend

#8386 fix(platform/dockercompose): Put removed services back in
  autogpt_platform/docker-compose.yml
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8355 feat(platform/ci) Set up deploys from dev
  .github/workflows/platform-autogpt-deploy.yaml
  autogpt_platform/infra/helm/autogpt-builder/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-websocket-server/values.dev.yaml
  autogpt_platform/infra/terraform/environments/dev.tfvars
  autogpt_platform/infra/terraform/main.tf
  autogpt_platform/infra/terraform/modules/iam/main.tf
  autogpt_platform/infra/terraform/modules/iam/outputs.tf
  autogpt_platform/infra/terraform/modules/iam/variables.tf
  autogpt_platform/infra/terraform/variables.tf
Labels: size/l, Review effort [1-5]: 4, platform/backend

#8279 fix(frontend): Fix broken terms of use link
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/src/app/marketplace/submit/page.tsx
Labels: size/m, bug_fix, platform/frontend, platform/backend

#8367 feat(backend): Track LLM token usage + LLM blocks cleanup
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/test/block/test_block.py
Labels: size/l, Review effort [1-5]: 4, platform/backend, platform/blocks

#8404 fix(backend): Fix DatabaseManager usage by calling it on-demand
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/test/executor/test_scheduler.py
  autogpt_platform/backend/test/util/test_service.py
Labels: size/l, Review effort [1-5]: 3, platform/backend

#8405 fix(platform): Enable auth on local-backend mode by default
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/README.md
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/test/__init__.py
  autogpt_platform/docker-compose.yml
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8395 feat(platform/ci): Run migrations in ci for dev
  .github/workflows/platform-autogpt-deploy.yaml
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8383 feat(platform/infra): Create prod service account and pool
  autogpt_platform/infra/terraform/environments/prod.tfvars
Labels: size/m, Review effort [1-5]: 4, platform/backend

#8384 feat(platform/ci) Add workflow for deploying to production
  .github/workflows/platform-autgpt-deploy-prod.yml
Labels: conflicts, size/l, Review effort [1-5]: 4, platform/backend

#8396 feat(platform/ci): Add prod migrations
  .github/workflows/platform-autgpt-deploy-prod.yml
Labels: conflicts, size/m, Review effort [1-5]: 2, platform/backend

#8412 fix(platform): Fix containerized connection issues with DB Manager
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8410 fix(backend): Reverse pyro config refactor
  autogpt_platform/backend/backend/util/service.py
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8416 fix(platform/infra): Fix spelling error
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: platform/backend

#8407 Implement custom save shortcut in SaveControl component
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8406 feat(frontend): Improve added block positioning logic to handle collisions and dynamic dimensions size
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/l, Review effort [1-5]: 4, platform/frontend, platform/backend

#8424 fix(platform): Expose DB Manager Port
  autogpt_platform/infra/helm/autogpt-server/templates/deployment-executor.yaml
  autogpt_platform/infra/helm/autogpt-server/templates/service-executor.yaml
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8425 Test
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/l, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#8393 fix(market): Handle empty agents response
  autogpt_platform/frontend/src/app/marketplace/page.tsx
  autogpt_platform/market/.env.example
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8428 fix(market): Fix DB URL not being read or upgrade correctly
  autogpt_platform/infra/helm/autogpt-market/templates/sealed-secrets.yaml
  autogpt_platform/infra/helm/autogpt-market/values.dev.yaml
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8408 fix(backend): Fix error pin output not being propagated into the next nodes
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, Review effort [1-5]: 3, platform/backend

#8430 docs(pr_template): Add reminder for config and infra changes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/m, Review effort [1-5]: 1, platform/backend

#8401 feat(blocks): Add pinecone and jina blocks
  autogpt_platform/backend/backend/blocks/jina/_auth.py
  autogpt_platform/backend/backend/blocks/jina/chunking.py
  autogpt_platform/backend/backend/blocks/jina/embeddings.py
  autogpt_platform/backend/backend/blocks/pinecone.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#8452 feat(platform): Add default secrets
  autogpt_platform/infra/helm/autogpt-market/values.prod.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
  autogpt_platform/infra/helm/autogpt-websocket-server/values.prod.yaml
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8387 feat(backend): RedisEventQueue into Pub/Sub
  autogpt_platform/backend/backend/data/queue.py
  autogpt_platform/backend/backend/data/redis.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/l, Review effort [1-5]: 4, platform/backend

#8429 fix(backend): Avoid long synchronous call to block FastAPI event-loop
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/test/executor/test_manager.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8456 fix(ci): Fix the prod workload identity pool defined in the prod yaml
  .github/workflows/platform-autgpt-deploy-prod.yml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8459 feat(platform/frontend) Remove dotenv
  autogpt_platform/frontend/next.config.mjs
Labels: size/s, Review effort [1-5]: 2, platform/frontend, platform/backend

#8458 Benchmark Broken Link Fixed in README
  README.md
Labels: size/s, platform/backend

#8390 Fix broken "You Tube" in the block
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/xs, Review effort [1-5]: 1, platform/frontend, platform/backend

#8375 refactor(platform): Update database model to reflect domain
  autogpt_platform/backend/target.prisma
Labels: size/xl, Review effort [1-5]: 5, platform/backend

#8462 feat(platform): Add Publish agent flow section
  autogpt_platform/frontend/src/components/agptui/PublishAgentAwaitingReview.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentAwaitingReview.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Labels: size/xl, platform/frontend, platform/backend

#8481 feat(frontend): Make `Save to Templates` Marketplace button create and redirect to a new agent
  autogpt_platform/frontend/src/components/marketplace/AgentDetailContent.tsx
Labels: size/l, platform/frontend, platform/backend

#8499 fix(frontend): object pollution problem
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/src/tests/util.spec.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend

#8505 feat(secrets): Rotate secrets
  autogpt_platform/frontend/.env.development
  autogpt_platform/frontend/.env.production
  autogpt_platform/infra/helm/autogpt-builder/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-builder/values.prod.yaml
  autogpt_platform/infra/helm/autogpt-market/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-market/values.prod.yaml
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/m, Review effort [1-5]: 3, platform/frontend, platform/backend

#8506 feat(secrets): Reseal new secrets
  autogpt_platform/infra/helm/autogpt-market/values.prod.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8403 feat(backend): credential swap to api keys in cred store
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/types.py
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/blocks/discord.py
  autogpt_platform/backend/backend/blocks/email_block.py
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/backend/blocks/google_maps.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/medium.py
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/blocks/replicate_flux_advanced.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/blocks/talking_head.py
  autogpt_platform/backend/backend/blocks/text_to_speech_block.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/encryption.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/migrations/20241030014950_move_integration_creds_to_platform.User/migration.sql
  autogpt_platform/backend/migrations/20241030061705_encrypt_user_metadata/migration.sql
  autogpt_platform/backend/migrations/20241030063332_drop_all_credentials_from_constant_input/migration.sql
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/target.prisma
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.prod.yaml
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#8512 fix(infra): Add missing corrected secret
  autogpt_platform/infra/helm/autogpt-websocket-server/values.prod.yaml
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8513 Update llm.py
  autogpt_platform/backend/backend/blocks/llm.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#8507 feat(pre-commit): Detect secrets
  .pre-commit-config.yaml
  autogpt_platform/backend/backend/usecases/block_autogen.py
Labels: size/m, Review effort [1-5]: 4, platform/backend

#8514 docs(platform): Update frontend instructions
  autogpt_platform/README.md
Labels: Review effort [1-5]: 1, platform/backend
