Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-08, with the labels that each got.

#7612 feat(rnd, infra): Add deployment for backend
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/infra/helm/autogpt-server/.helmignore
  rnd/infra/helm/autogpt-server/Chart.yaml
  rnd/infra/helm/autogpt-server/templates/NOTES.txt
  rnd/infra/helm/autogpt-server/templates/_helpers.tpl
  rnd/infra/helm/autogpt-server/templates/configmap.yaml
  rnd/infra/helm/autogpt-server/templates/deployment.yaml
  rnd/infra/helm/autogpt-server/templates/hpa.yaml
  rnd/infra/helm/autogpt-server/templates/ingress.yaml
  rnd/infra/helm/autogpt-server/templates/managedcert.yaml
  rnd/infra/helm/autogpt-server/templates/service.yaml
  rnd/infra/helm/autogpt-server/templates/serviceaccount.yaml
  rnd/infra/helm/autogpt-server/templates/tests/test-connection.yaml
  rnd/infra/helm/autogpt-server/values.dev.yaml
  rnd/infra/helm/autogpt-server/values.yaml
  rnd/infra/terraform/environments/dev.tfvars
  rnd/infra/terraform/main.tf
  rnd/infra/terraform/modules/gke_cluster/main.tf
  rnd/infra/terraform/modules/iam/main.tf
  rnd/infra/terraform/modules/iam/outputs.tf
  rnd/infra/terraform/modules/iam/variables.tf
  rnd/infra/terraform/modules/networking/main.tf
  rnd/infra/terraform/modules/networking/variables.tf
  rnd/infra/terraform/modules/static_ip/main.tf
  rnd/infra/terraform/modules/static_ip/outputs.tf
  rnd/infra/terraform/variables.tf
Labels: enhancement, size/xl, Review effort [1-5]: 4, Configuration changes, Server

#7633 feat(rnd,infra): Add Helm linting in CI
  .github/workflows/autogpt-infra-ci.yml
Labels: enhancement, size/m, Review effort [1-5]: 2, Configuration changes

#7642 feat(server): Add JWT validation
  rnd/__init__.py
  rnd/autogpt_libs/README.md
  rnd/autogpt_libs/autogpt_libs/__init__.py
  rnd/autogpt_libs/autogpt_libs/auth/__init__.py
  rnd/autogpt_libs/autogpt_libs/auth/config.py
  rnd/autogpt_libs/autogpt_libs/auth/jwt_utils.py
  rnd/autogpt_libs/autogpt_libs/auth/middleware.py
  rnd/autogpt_libs/poetry.lock
  rnd/autogpt_libs/pyproject.toml
  rnd/autogpt_server/.env.example
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: enhancement, size/l, Review effort [1-5]: 3, Server

#7665 feat(docs) Add how to run ollama with AutoGPT
  docs/content/server/ollama.md
Labels: documentation, size/m, Review effort [1-5]: 1

#7666 docs(ollama) Add ollama to mkdocs
  docs/mkdocs.yml
Labels: documentation, size/xs, Review effort [1-5]: 1

#7667 feat(rnd): Add postgres schema check on linting step + auto gen migration and schema sync command (poetry run schema)
  rnd/autogpt_server/linter.py
  rnd/autogpt_server/postgres/schema.prisma
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/schema.prisma
Labels: size/m, Server

#7656 Feat(Builder): Clear Status and Output upon graph edit
  rnd/autogpt_builder/src/components/CustomEdge.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Builder

#7654 feat(rnd): Add InputBlock & OutputBlock
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/blocks/block.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/usecases/sample.py
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/l, Server

#7655 feat(builder): Add Supabase Auth, session and sign in UI
  rnd/autogpt_builder/.env.example
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/auth/auth-code-error/page.tsx
  rnd/autogpt_builder/src/app/auth/callback/route.ts
  rnd/autogpt_builder/src/app/auth/confirm/route.ts
  rnd/autogpt_builder/src/app/error/page.tsx
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/app/login/actions.ts
  rnd/autogpt_builder/src/app/login/page.tsx
  rnd/autogpt_builder/src/app/profile/page.tsx
  rnd/autogpt_builder/src/app/providers.tsx
  rnd/autogpt_builder/src/components/NavBar.tsx
  rnd/autogpt_builder/src/components/PasswordInput.tsx
  rnd/autogpt_builder/src/components/ProfileDropdown.tsx
  rnd/autogpt_builder/src/components/SupabaseProvider.tsx
  rnd/autogpt_builder/src/hooks/getServerUser.ts
  rnd/autogpt_builder/src/hooks/useUser.ts
  rnd/autogpt_builder/src/lib/supabase/client.ts
  rnd/autogpt_builder/src/lib/supabase/middleware.ts
  rnd/autogpt_builder/src/lib/supabase/server.ts
  rnd/autogpt_builder/src/middleware.ts
  rnd/autogpt_builder/yarn.lock
Labels: size/xl, Builder

#7604 fix(builder): Fix `BlockSchema` handling & type propagation
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/NodeInputField.tsx
  rnd/autogpt_builder/src/components/SchemaTooltip.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_builder/src/lib/types.ts
Labels: size/l, Builder

#7608 fix(builder): Rewrite `additionalProperties` input field
  rnd/autogpt_builder/src/components/NodeInputField.tsx
  rnd/autogpt_builder/src/components/flow.css
Labels: size/l, UI, Builder

#7679 Fix(Builder): beautifyString duplicated import
  rnd/autogpt_builder/src/components/CustomNode.tsx
Labels: size/xs, Builder

#7626 feat(builder): Rewrite node input UI
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/NodeInputField.tsx
  rnd/autogpt_builder/src/components/SchemaTooltip.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/src/components/flow.css
  rnd/autogpt_builder/src/components/node-input.tsx
  rnd/autogpt_builder/src/components/ui/select.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_builder/yarn.lock
Labels: size/xl, Builder

#7670 Feat(Builder): Discord bots blocks
  rnd/autogpt_server/.env.template
  rnd/autogpt_server/autogpt_server/blocks/discordblock.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/l, Block, Server

#7678 feat(Block): Add blocks for Building Lists, Dictionaries & Strings
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
Labels: size/l, Block, Server

#7685 Revert "feat(builder): Rewrite node input UI"
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/NodeInputField.tsx
  rnd/autogpt_builder/src/components/SchemaTooltip.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/src/components/flow.css
  rnd/autogpt_builder/src/components/node-input.tsx
  rnd/autogpt_builder/src/components/ui/select.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_builder/yarn.lock
Labels: enhancement, size/xl, Bug fix, Review effort [1-5]: 4, Builder

#7684 fix(github): Update CODEOWNERS for rnd directories
  .github/CODEOWNERS
Labels: enhancement, size/m, Review effort [1-5]: 1

#7677 feat(Block): Add AdvancedLlmCallBlock
  rnd/autogpt_server/autogpt_server/blocks/llm.py
Labels: size/l, Block, Server

#7689 fix punctuation in setup.md
  docs/content/server/setup.md
  rnd/autogpt_builder/README.md
Labels: documentation, size/m, Builder

#7680 feat(builder): Addition ControlPanel and Separator components
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/edit/ControlPanel.tsx
  rnd/autogpt_builder/src/components/ui/separator.tsx
  rnd/autogpt_builder/yarn.lock
Labels: enhancement, size/l, Review effort [1-5]: 2, dependencies, Builder

#7687 feat(builder): Addition of SaveControl component for ControlPanel
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/edit/control/ControlPanel.tsx
  rnd/autogpt_builder/src/components/edit/control/SaveControl.tsx
  rnd/autogpt_builder/src/components/ui/collapsible.tsx
  rnd/autogpt_builder/yarn.lock
Labels: enhancement, size/l, Review effort [1-5]: 3, Builder

#7688 feat(builder): Addition of blocks control component
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_builder/src/components/edit/control/SaveControl.tsx
  rnd/autogpt_builder/src/components/ui/button.tsx
  rnd/autogpt_builder/src/components/ui/scroll-area.tsx
  rnd/autogpt_builder/yarn.lock
Labels: enhancement, size/l, Review effort [1-5]: 3, Builder

#7629 feat(builder): Addition of prettier for aligned of development styles
  .github/workflows/autogpt-builder-ci.yml
  rnd/autogpt_builder/.prettierignore
  rnd/autogpt_builder/.vscode/launch.json
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/yarn.lock
Labels: enhancement, size/m, Review effort [1-5]: 4, other, Builder

#7697 Eerror when creating an agent from a template installed from
  rnd/autogpt_server/autogpt_server/server/server.py
Labels: size/xs, Builder, Server

#7693 feat(rnd): Introduce Sub-Graph on Agent Server
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/migrations/20240804040756_add_subgraph/migration.sql
  rnd/autogpt_server/postgres/migrations/20240804040801_add_subgraph/migration.sql
  rnd/autogpt_server/postgres/schema.prisma
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/data/graph.py
Labels: size/l, Server

#7657 feat(rnd) Agent Marketplace MVP
  .vscode/all-projects.code-workspace
  rnd/autogpt_builder/.env.example
  rnd/autogpt_builder/next.config.mjs
  rnd/autogpt_builder/src/app/marketplace/[id]/page.tsx
  rnd/autogpt_builder/src/app/marketplace/page.tsx
  rnd/autogpt_builder/src/components/AgentDetailContent.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NavBar.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
  rnd/autogpt_builder/src/lib/marketplace-api/client.ts
  rnd/autogpt_builder/src/lib/marketplace-api/index.ts
  rnd/autogpt_builder/src/lib/marketplace-api/types.ts
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/market/.env.example
  rnd/market/.vscode/launch.json
  rnd/market/Dockerfile
  rnd/market/README.md
  rnd/market/linter.py
  rnd/market/market/app.py
  rnd/market/market/db.py
  rnd/market/market/model.py
  rnd/market/market/routes/admin.py
  rnd/market/market/routes/agents.py
  rnd/market/market/routes/search.py
  rnd/market/market/utils/analytics.py
  rnd/market/market/utils/extension_types.py
  rnd/market/market/utils/partial_types.py
  rnd/market/migrations/20240731181721_base_migration/migration.sql
  rnd/market/migrations/20240731213728_unique_agent_id/migration.sql
  rnd/market/migrations/20240802100955_add_featured_agents/migration.sql
  rnd/market/migrations/20240802174953_default_is_featured_to_false/migration.sql
  rnd/market/migrations/migration_lock.toml
  rnd/market/poetry.lock
  rnd/market/pyproject.toml
  rnd/market/schema.prisma
  rnd/market/scripts.py
  rnd/market/tests/test_agents.py
Labels: enhancement, size/xl, Review effort [1-5]: 5, tests, Builder, Server

#7709 fix(rnd): Cleanup block names and add explicit block name check
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/branching.py
  rnd/autogpt_server/autogpt_server/blocks/csv.py
  rnd/autogpt_server/autogpt_server/blocks/discord.py
  rnd/autogpt_server/autogpt_server/blocks/iteration.py
  rnd/autogpt_server/autogpt_server/blocks/medium.py
  rnd/autogpt_server/autogpt_server/blocks/rss.py
  rnd/autogpt_server/autogpt_server/blocks/search.py
  rnd/autogpt_server/autogpt_server/blocks/youtube.py
  rnd/autogpt_server/autogpt_server/server/server.py
Labels: size/m, Server

#7705 feat(rnd, infra): Add deployment for frontend
  rnd/infra/helm/autogpt_builder/.helmignore
  rnd/infra/helm/autogpt_builder/Chart.yaml
  rnd/infra/helm/autogpt_builder/templates/NOTES.txt
  rnd/infra/helm/autogpt_builder/templates/_helpers.tpl
  rnd/infra/helm/autogpt_builder/templates/deployment.yaml
  rnd/infra/helm/autogpt_builder/templates/hpa.yaml
  rnd/infra/helm/autogpt_builder/templates/ingress.yaml
  rnd/infra/helm/autogpt_builder/templates/managedcert.yaml
  rnd/infra/helm/autogpt_builder/templates/service.yaml
  rnd/infra/helm/autogpt_builder/templates/serviceaccount.yaml
  rnd/infra/helm/autogpt_builder/templates/tests/test-connection.yaml
  rnd/infra/helm/autogpt_builder/values.dev.yaml
  rnd/infra/helm/autogpt_builder/values.yaml
Labels: enhancement, size/l, Review effort [1-5]: 3, Configuration changes

#7714 feat(builder): Refactor components and types for monitoring page streamlining
  rnd/autogpt_builder/src/app/monitor/page.tsx
  rnd/autogpt_builder/src/components/monitor/AgentFlowList.tsx
  rnd/autogpt_builder/src/components/monitor/FlowInfo.tsx
  rnd/autogpt_builder/src/components/monitor/FlowRunInfo.tsx
  rnd/autogpt_builder/src/components/monitor/FlowRunStatusBadge.tsx
  rnd/autogpt_builder/src/components/monitor/FlowRunsList.tsx
  rnd/autogpt_builder/src/components/monitor/FlowRunsStatus.tsx
  rnd/autogpt_builder/src/components/monitor/FlowRunsTimeline.tsx
  rnd/autogpt_builder/src/components/monitor/index.ts
  rnd/autogpt_builder/src/lib/types.ts
Labels: enhancement, size/xl, Review effort [1-5]: 4, Builder

#7722 feat(builder): Rewrite & split up node inputs
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/CustomEdge.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/NodeInputField.tsx
  rnd/autogpt_builder/src/components/SchemaTooltip.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_builder/src/components/edit/control/ControlPanel.tsx
  rnd/autogpt_builder/src/components/edit/control/SaveControl.tsx
  rnd/autogpt_builder/src/components/flow.css
  rnd/autogpt_builder/src/components/node-input-components.tsx
  rnd/autogpt_builder/src/components/ui/select.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_builder/yarn.lock
Labels: size/xl, Builder

#7710 Feat(Builder): added time blocks
  rnd/autogpt_server/autogpt_server/blocks/time_blocks.py
Labels: size/m, Block, Server

#7711 Feat(Builder): Add discord bot templates
  rnd/autogpt_server/graph_templates/Discord Bot Chat To LLM_v5.json
  rnd/autogpt_server/graph_templates/Discord Search Bot_v17.json
Labels: size/l, Server

#7716 Add new agent ideas to docs
  docs/content/server/new_blocks.md
Labels: documentation, size/s, Review effort [1-5]: 2

#7715 fix(github): Added in fallback variables for postgres testing
  .github/workflows/autogpt-server-ci.yml
Labels: size/m, Review effort [1-5]: 1, Bug fix, Configuration changes

#7663 feat(rnd): Add user management
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
  rnd/autogpt_libs/autogpt_libs/auth/jwt_utils.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/autogpt_server/data/user.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/usecases/block_autogen.py
  rnd/autogpt_server/autogpt_server/usecases/reddit_marketing.py
  rnd/autogpt_server/autogpt_server/usecases/sample.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/autogpt_server/util/test.py
  rnd/autogpt_server/migrations/20240805115456_add_user_management/migration.sql
  rnd/autogpt_server/migrations/20240807123716_add_index_users/migration.sql
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/postgres/migrations/20240805115810_add_user_management/migration.sql
  rnd/autogpt_server/postgres/migrations/20240807123738_add_index_users/migration.sql
  rnd/autogpt_server/postgres/schema.prisma
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/executor/test_scheduler.py
Labels: enhancement, size/xl, Review effort [1-5]: 4, tests, Builder, Server

#7734 feat(builder): Add jwt support on websockets
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
Labels: enhancement, size/m, Review effort [1-5]: 3, Builder

#7741 fix(rnd): Fix flaky CurrentDateAndTimeBlock test
  rnd/autogpt_server/autogpt_server/blocks/time_blocks.py
  rnd/autogpt_server/autogpt_server/util/test.py
Labels: size/m, Server

#7717 feat(market): Added Auth to Market and Protect routes
  rnd/autogpt_builder/src/lib/marketplace-api/client.ts
  rnd/autogpt_libs/autogpt_libs/auth/__init__.py
  rnd/autogpt_libs/autogpt_libs/auth/config.py
  rnd/autogpt_libs/autogpt_libs/auth/depends.py
  rnd/autogpt_libs/autogpt_libs/auth/depends_tests.py
  rnd/autogpt_libs/autogpt_libs/auth/jwt_utils.py
  rnd/autogpt_libs/autogpt_libs/auth/middleware.py
  rnd/autogpt_libs/autogpt_libs/auth/models.py
  rnd/market/.env.example
  rnd/market/market/routes/admin.py
  rnd/market/poetry.lock
  rnd/market/pyproject.toml
Labels: enhancement, size/l, Bug fix, Review effort [1-5]: 4, Builder

#7739 fix(builder): Automatically (re)connect websocket when sending message
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
Labels: size/m, Builder

#7724 fix(builder): Always show connected optional pins on node
  rnd/autogpt_builder/src/components/CustomNode.tsx
Labels: size/m, Builder

#7742 fix(builder): Added option to pan view to center agents on build screen
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: enhancement, size/s, Review effort [1-5]: 2, Builder

#7743 feat(builder): Standardize icons and integrate with ControlPanel and NavBar
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NavBar.tsx
  rnd/autogpt_builder/src/components/TallyPopup.tsx
  rnd/autogpt_builder/src/components/edit/ControlPanel.tsx
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_builder/src/components/edit/control/ControlPanel.tsx
  rnd/autogpt_builder/src/components/edit/control/SaveControl.tsx
  rnd/autogpt_builder/src/components/ui/icons.tsx
Labels: enhancement, size/xl, Review effort [1-5]: 3, Improvement, Builder

#7736 Feat(Builder): Add email sending block
  rnd/autogpt_server/.env.template
  rnd/autogpt_server/autogpt_server/blocks/email_block.py
  rnd/autogpt_server/autogpt_server/util/settings.py
Labels: size/l, Server

#7728 Feat(Builder): Add TimerBlock
  rnd/autogpt_server/autogpt_server/blocks/time_blocks.py
Labels: size/m, Server

#7749 fix(tests): Ensure user ID is not None on schedule in tests
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/test/executor/test_scheduler.py
Labels: size/s, Bug fix, Review effort [1-5]: 2, tests, Server

#7718 feat(market): Agent Submission Process
  rnd/market/market/app.py
  rnd/market/market/config.py
  rnd/market/market/db.py
  rnd/market/market/model.py
  rnd/market/market/routes/admin.py
  rnd/market/market/routes/admin_tests.py
  rnd/market/market/routes/agents.py
  rnd/market/market/routes/submissions.py
  rnd/market/migrations/20240808080208_added_submissions/migration.sql
  rnd/market/schema.prisma
Labels: enhancement, size/l, Review effort [1-5]: 4, tests, Configuration changes

#7756 fix(builder): Added header background and moved some styling to tailwind
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/customnode.css
Labels: enhancement, size/m, Review effort [1-5]: 2, Builder

#7758 fix(builder): Fix the control panel being too narrow for its elements
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
Labels: size/s, Review effort [1-5]: 1, Bug fix, Builder

#7762 tweak(builder) block control styling
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_builder/src/components/ui/input.tsx
Labels: enhancement, size/m, Review effort [1-5]: 2, Builder

#7769 feat(builder): Move `/monitor` to `/`
  rnd/autogpt_builder/next.config.mjs
  rnd/autogpt_builder/src/app/page.tsx
  rnd/autogpt_builder/src/components/NavBar.tsx
Labels: size/s, Builder

#7755 fix(server): Make `userId` required on DB entities and apply default ID to existing entries
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/data/user.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/migrations/20240808095419_add_required_user_ids/migration.sql
  rnd/autogpt_server/postgres/migrations/20240808095419_add_required_user_ids/migration.sql
  rnd/autogpt_server/postgres/schema.prisma
  rnd/autogpt_server/schema.prisma
Labels: size/l, Server

#7740 refactor(server, builder): Remove unused/duplicate WebSocket endpoints
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
  rnd/autogpt_server/autogpt_server/server/model.py
  rnd/autogpt_server/autogpt_server/server/server.py
Labels: size/l, Builder, Server

#7777 fix(builder): Temporarily disbale TS checks
  rnd/autogpt_builder/Dockerfile
  rnd/autogpt_builder/next.config.mjs
  rnd/autogpt_builder/yarn.lock
Labels: size/xl, Bug fix, Review effort [1-5]: 2, Configuration changes, Builder

#7760 Feat(Builder): Allow for zooming out more on builder UI
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/s, Builder

#7775 fix(rnd): Added run-time implicit type conversion on agent node execution
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/util/type.py
  rnd/autogpt_server/test/util/test_type.py
Labels: size/l, Server

#7784 fix(builder,server) Add missing create user calls
  rnd/autogpt_builder/src/components/SupabaseProvider.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_server/autogpt_server/data/user.py
Labels: enhancement, size/m, Bug fix, Review effort [1-5]: 3, Builder, Server

#7786 Add Advanced Chatbot with History using Discord
  rnd/autogpt_server/graph_templates/Discord Chatbot with History_v145.json
Labels: size/l, Server

#7766 tweak(builder) Changes to transparency, connector color and title boldness
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
Labels: enhancement, size/s, Review effort [1-5]: 2, Builder

#7792 fix(rnd): Make discord bot continuously running
  rnd/autogpt_server/autogpt_server/blocks/discord.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
Labels: size/m, Server

#7790 inclusion of poetry run prisma generate in the documentation
  docs/content/server/setup.md
Labels: documentation, size/s, Review effort [1-5]: 1

#7795 fix(rnd): Fix unparsed string on HTTP block
  rnd/autogpt_server/autogpt_server/blocks/http.py
Labels: size/s, Server

#7793 Added tooltips for blocks
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/SchemaTooltip.tsx
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
Labels: enhancement, size/m, Review effort [1-5]: 3, Builder

#7794 Updated Block Categories
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_server/autogpt_server/blocks/agent.py
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/data/block.py
Labels: enhancement, size/m, Review effort [1-5]: 3, Builder, Server

#7791 feat(builder): Visualise data beads on connections
  rnd/autogpt_builder/src/components/CustomEdge.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/hooks/useBezierPath.ts
Labels: size/xl, Builder

#7797 fix(rnd): Fix graph validation error message
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
Labels: size/m, Server

#7799 feat(builder): Support static connections
  rnd/autogpt_builder/src/components/CustomEdge.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
Labels: size/m, Builder

#7802 feat(rnd): Add staticOutput field on block API
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/graph.py
Labels: size/m, Server

#7745 feat(builder): checkbox for tos on login page and submit agent
  rnd/autogpt_builder/next.config.mjs
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/login/page.tsx
  rnd/autogpt_builder/src/app/marketplace/page.tsx
  rnd/autogpt_builder/src/app/marketplace/submit/page.tsx
  rnd/autogpt_builder/src/components/ui/alert.tsx
  rnd/autogpt_builder/src/components/ui/checkbox.tsx
  rnd/autogpt_builder/src/components/ui/command.tsx
  rnd/autogpt_builder/src/components/ui/multiselect.tsx
  rnd/autogpt_builder/src/lib/marketplace-api/client.ts
  rnd/autogpt_builder/yarn.lock
  rnd/market/.vscode/launch.json
  rnd/market/market/app.py
Labels: enhancement, size/xl, Bug fix, Review effort [1-5]: 4, tests, Builder

#7805 Feat(Builder): Make blocks spawn in the center of the screen not at 0,0
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Builder

#7853 feat(infra): Ensure http is always redirected to HTTPS
  rnd/infra/helm/autogpt-server/templates/frontendconfig.yaml
Labels: enhancement, size/s, Review effort [1-5]: 1, Configuration changes

#7840 feat(infra) Create builder account with necessary permissions
  rnd/infra/terraform/environments/dev.tfvars
Labels: enhancement, size/m, Review effort [1-5]: 2, Configuration changes

#7851 fix(builder): Correctly display static links on new edges
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
Labels: size/m, Builder

#7836 lint(builder): Add Prettier plugin to sort Tailwind classes
  rnd/autogpt_builder/.prettierrc
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/app/login/page.tsx
  rnd/autogpt_builder/src/app/marketplace/page.tsx
  rnd/autogpt_builder/src/app/marketplace/submit/page.tsx
  rnd/autogpt_builder/src/app/page.tsx
  rnd/autogpt_builder/src/app/profile/page.tsx
  rnd/autogpt_builder/src/components/AgentDetailContent.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/InputModalComponent.tsx
  rnd/autogpt_builder/src/components/NavBar.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/OutputModalComponent.tsx
  rnd/autogpt_builder/src/components/PasswordInput.tsx
  rnd/autogpt_builder/src/components/SchemaTooltip.tsx
  rnd/autogpt_builder/src/components/TallyPopup.tsx
  rnd/autogpt_builder/src/components/agent-import-form.tsx
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_builder/src/components/edit/control/ControlPanel.tsx
  rnd/autogpt_builder/src/components/edit/control/SaveControl.tsx
  rnd/autogpt_builder/src/components/monitor/AgentFlowList.tsx
  rnd/autogpt_builder/src/components/monitor/FlowInfo.tsx
  rnd/autogpt_builder/src/components/monitor/FlowRunInfo.tsx
  rnd/autogpt_builder/src/components/monitor/FlowRunsTimeline.tsx
  rnd/autogpt_builder/src/components/node-input-components.tsx
  rnd/autogpt_builder/src/components/ui/checkbox.tsx
  rnd/autogpt_builder/src/components/ui/command.tsx
  rnd/autogpt_builder/src/components/ui/dialog.tsx
  rnd/autogpt_builder/src/components/ui/input.tsx
  rnd/autogpt_builder/src/components/ui/multiselect.tsx
  rnd/autogpt_builder/src/components/ui/select.tsx
  rnd/autogpt_builder/src/components/ui/sheet.tsx
  rnd/autogpt_builder/src/components/ui/table.tsx
  rnd/autogpt_builder/yarn.lock
Labels: size/l, Review effort [1-5]: 2, Builder

#7855 fix(rnd): Guarantee execution ordering per node by waiting the node completion
  rnd/autogpt_server/autogpt_server/executor/manager.py
Labels: size/m, Server

#7861 fix(rnd): Fix JS event-loop freeze caused by websocket connection retry
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
Labels: size/m, Builder

#7789 tweak(rnd): Trim Whitespace from BlockSecret to Prevent Authentication Issues
  rnd/autogpt_server/autogpt_server/data/model.py
Labels: enhancement, size/m, Bug fix, Review effort [1-5]: 2, Server

#7860 feat(builder): Add google analytics to the project
  rnd/autogpt_builder/.env.example
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/yarn.lock
Labels: enhancement, size/m, Review effort [1-5]: 2, Configuration changes, Builder

#7849 ci(all): take two on the global status checker
  .github/workflows/scripts/check_actions_status.py
  .github/workflows/workflow-checker.yml
  check_actions_status.py
Labels: enhancement, size/l, Review effort [1-5]: 3, Configuration changes

#7798 feat(rnd,blocks): Add D-ID Block
  docs/content/server/d_id.md
  docs/mkdocs.yml
  rnd/autogpt_builder/src/components/SchemaTooltip.tsx
  rnd/autogpt_builder/yarn.lock
  rnd/autogpt_server/.env.template
  rnd/autogpt_server/autogpt_server/blocks/talking_head.py
  rnd/autogpt_server/autogpt_server/util/settings.py
Labels: documentation, enhancement, size/l, Review effort [1-5]: 3, dependencies, Builder, Server

#7826 feat(libs): Add integration credentials store
  rnd/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/__init__.py
  rnd/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  rnd/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/types.py
  rnd/autogpt_libs/poetry.lock
  rnd/autogpt_libs/pyproject.toml
Labels: enhancement, size/xl, Review effort [1-5]: 3, dependencies

#7869 Add number of workers to environment variables in in charts
  rnd/infra/helm/autogpt-server/values.dev.yaml
Labels: size/s, Review effort [1-5]: 1, Configuration changes

#7886 feat(infra): Add ws server infra changes
  rnd/infra/terraform/environments/dev.tfvars
Labels: enhancement, size/m, Review effort [1-5]: 2

#7887 fix(rnd): Add missing libs folder
  rnd/autogpt_server/Dockerfile
Labels: size/xs, Review effort [1-5]: 1, bug_fix, Server

#7884 fix(rnd): Prevent boolean with no default value on AGPT-builder
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/search.py
Labels: size/m, Builder, Server

#7871 feat(rnd): Add dynamic input pin for input object construction
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/src/components/node-input-components.tsx
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/usecases/block_autogen.py
  rnd/autogpt_server/autogpt_server/usecases/reddit_marketing.py
  rnd/autogpt_server/autogpt_server/usecases/sample.py
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/l, Builder, Server

#7889 tweak(infra): Add 1 more node to GKE
  rnd/infra/terraform/environments/dev.tfvars
Labels: enhancement, size/s, Review effort [1-5]: 1

#7788 fix(server): Ensure nameserver is started before other processes
  rnd/autogpt_server/autogpt_server/app.py
Labels: enhancement, size/m, Bug fix, Review effort [1-5]: 2, Server

#7890 Remove debug
  .github/workflows/workflow-checker.yml
Labels: Review effort [1-5]: 1, Configuration changes

#7808 refactor(builder): Update ReactFlow to version 12 & split up `Flow.tsx`
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/AgentDetailContent.tsx
  rnd/autogpt_builder/src/components/ConnectionLine.tsx
  rnd/autogpt_builder/src/components/CustomEdge.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/history.ts
  rnd/autogpt_builder/src/hooks/useAgentGraph.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_builder/yarn.lock
Labels: size/xl, Builder

#7891 feat(rnd): Integrate Jinja2 into TextFormatter
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/xl, Server

#7903 Fix copy-paste of text creating unintended blocks
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Builder

#7905 feat(infra): Add websockets IP
  rnd/infra/terraform/environments/dev.tfvars
Labels: size/s, Configuration changes

#7909 fix(builder): Set default `value` in `NodeStringInput` to silence uncontrolled input warning
  rnd/autogpt_builder/src/components/node-input-components.tsx
Labels: size/s, Builder

#7912 fix(builder): Prevent overflow in node output
  rnd/autogpt_builder/src/components/CustomNode.tsx
Labels: size/s, Builder

#7868 feat(server): Add OAuth handlers for GitHub, Notion, Google & amend store data structure
  rnd/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/types.py
  rnd/autogpt_server/autogpt_server/integrations/github.py
  rnd/autogpt_server/autogpt_server/integrations/google.py
  rnd/autogpt_server/autogpt_server/integrations/notion.py
  rnd/autogpt_server/autogpt_server/integrations/oauth.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/l, Server

#7862 Feat(Builder): Add first guide tutorial
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/TallyPopup.tsx
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_builder/src/components/edit/control/ControlPanel.tsx
  rnd/autogpt_builder/src/components/tutorial.ts
  rnd/autogpt_builder/yarn.lock
Labels: size/xl, Builder

#7917 fix(rnd): Fix jumping caret problem on builder input text field
  rnd/autogpt_builder/src/components/node-input-components.tsx
  rnd/autogpt_builder/src/components/ui/input.tsx
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
Labels: size/m, Builder, Server

#7923 fix(market): fixes to submission server
  .vscode/all-projects.code-workspace
  rnd/market/market/db.py
  rnd/market/market/routes/admin.py
  rnd/market/market/routes/agents.py
  rnd/market/market/routes/search.py
  rnd/market/migrations/20240829002156_make_featured_category_a_list_of_categories_and_is_featured_is_active/migration.sql
  rnd/market/schema.prisma
Labels: enhancement, size/l, Review effort [1-5]: 3, bug_fix

#7922 Feat(Builder): Fix delete block is non-undoable
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Builder

#7920 Feat(Builder): Make the copy block button work
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/yarn.lock
Labels: size/m, Builder

#7927 fix(rnd): Add null checking & remove console logs on Input UI component
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/ui/input.tsx
Labels: size/s, Builder

#7925 feat(rnd): Rename Blocks
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/blocks/discord.py
  rnd/autogpt_server/autogpt_server/blocks/http.py
  rnd/autogpt_server/autogpt_server/blocks/iteration.py
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/blocks/maths.py
  rnd/autogpt_server/autogpt_server/blocks/medium.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/rss.py
  rnd/autogpt_server/autogpt_server/blocks/search.py
  rnd/autogpt_server/autogpt_server/blocks/talking_head.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/blocks/time_blocks.py
  rnd/autogpt_server/autogpt_server/blocks/youtube.py
  rnd/autogpt_server/autogpt_server/usecases/block_autogen.py
  rnd/autogpt_server/autogpt_server/usecases/reddit_marketing.py
  rnd/autogpt_server/autogpt_server/usecases/sample.py
  rnd/autogpt_server/test/data/test_graph.py
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/l, Server

#7910 feat(builder): Turn block border red on error
  rnd/autogpt_builder/src/components/CustomNode.tsx
Labels: size/m, Builder

#7893 feat(builder): Draw selected edges above nodes
  rnd/autogpt_builder/src/components/customedge.css
Labels: size/s, Builder

#7924 Feat(Builder): Fix Multiple Connections Between Pins
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Builder

#7931 fix(rnd): Fix overflowing card due to long block name
  rnd/autogpt_builder/src/components/ui/card.tsx
Labels: size/s, Builder

#7914 feat(builder,server): add review of agent submissions to the admin portal
  .vscode/all-projects.code-workspace
  rnd/autogpt_builder/src/app/admin/dashboard/page.tsx
  rnd/autogpt_builder/src/app/admin/layout.tsx
  rnd/autogpt_builder/src/app/admin/marketplace/page.tsx
  rnd/autogpt_builder/src/app/admin/settings/page.tsx
  rnd/autogpt_builder/src/app/admin/users/page.tsx
  rnd/autogpt_builder/src/app/marketplace/submit/page.tsx
  rnd/autogpt_builder/src/app/unauthorized/page.tsx
  rnd/autogpt_builder/src/components/AgentDetailContent.tsx
  rnd/autogpt_builder/src/components/ProfileDropdown.tsx
  rnd/autogpt_builder/src/components/RoleBasedAccess.tsx
  rnd/autogpt_builder/src/components/admin/marketplace/AdminMarketplaceAgentList.tsx
  rnd/autogpt_builder/src/components/admin/marketplace/AdminMarketplaceCard.tsx
  rnd/autogpt_builder/src/components/admin/marketplace/actions.ts
  rnd/autogpt_builder/src/hooks/getServerUser.ts
  rnd/autogpt_builder/src/hooks/useUser.ts
  rnd/autogpt_builder/src/lib/marketplace-api/client.ts
  rnd/autogpt_builder/src/lib/supabase/middleware.ts
  rnd/autogpt_builder/src/lib/withRoleAccess.ts
  rnd/autogpt_builder/yarn.lock
  rnd/autogpt_libs/autogpt_libs/auth/middleware.py
  rnd/market/market/db.py
  rnd/market/market/model.py
  rnd/market/market/routes/admin.py
  rnd/market/market/routes/agents.py
  rnd/market/market/routes/search.py
  rnd/market/migrations/20240829002156_make_featured_category_a_list_of_categories_and_is_featured_is_active/migration.sql
  rnd/market/pyproject.toml
  rnd/market/schema.prisma
Labels: enhancement, size/xl, Review effort [1-5]: 4, bug_fix, Builder

#7918 Feat(Builder): Add block categories to block menu
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
Labels: size/m, Builder
