Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-12, with the labels that each got.

#8851 hotfix(backend): Fix month credit calculation on December
  autogpt_platform/backend/backend/data/credit.py
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8751 refactor(backend): Apply lint on autogpt_lib folder on backend/linter.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/__init__.py
  autogpt_platform/backend/linter.py
Labels: size/m, Review effort [1-5]: 4, platform/backend

#8840 feat(platform): Adds rating card
  autogpt_platform/frontend/src/app/[lang]/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.tsx
Labels: size/l, platform/frontend, platform/backend

#8409 feat(blocks): Add jina fact checker block
  autogpt_platform/backend/backend/blocks/jina/fact_checker.py
Labels: size/m, platform/backend, platform/blocks

#8845 Adding Docs for Agent Blocks
  docs/content/platform/agent-blocks.md
  docs/mkdocs.yml
Labels: documentation, size/m, Review effort [1-5]: 1, platform/backend

#8841 dx: Fix dependabot PR/commit titles
  .github/dependabot.yml
Labels: size/m, platform/backend

#8418 Add URL swapping for marketplace based on environment
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/src/components/nav/MarketPopup.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8857 Allow alphanumeric block module name + fix slant3d import
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/blocks/slant3d/_api.py
  autogpt_platform/backend/backend/blocks/slant3d/base.py
  autogpt_platform/backend/backend/blocks/slant3d/filament.py
  autogpt_platform/backend/backend/blocks/slant3d/order.py
  autogpt_platform/backend/backend/blocks/slant3d/slicing.py
  autogpt_platform/backend/backend/blocks/slant3d/webhook.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/integrations/webhooks/slant3d.py
Labels: size/m, platform/backend, platform/blocks

#8862 feat(frontend): add block connecting test
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Labels: size/m, platform/frontend, platform/backend

#8872 docs: huntr no longer is offering a security bounty so remove it
  SECURITY.md
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8850 feat(libs): Add API key rate limit middleware
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/logging/test_utils.py
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/limiter.py
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/middleware.py
Labels: size/l, Review effort [1-5]: 3, platform/backend

#8855 chore(blocks/fal): Use dict instead of Dict
  autogpt_platform/autogpt_libs/autogpt_libs/rate_limit/limiter.py
  autogpt_platform/backend/backend/blocks/fal/ai_video_generator.py
Labels: size/m, Review effort [1-5]: 1, platform/backend, platform/blocks

#8873 fix: specify encoding for file with emoji in it so it loads on windows
  autogpt_platform/backend/backend/blocks/github/triggers.py
Labels: size/s, Review effort [1-5]: 1, platform/backend, platform/blocks

#8802 fix(frontend): advanced-toggle-default
  autogpt_platform/backend/backend/data/model.py
Labels: size/s, platform/backend

#8804 feat(frontend): add block tests
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/edit/control/ControlPanel.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/components/nav/NavBarButtons.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputBlock.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputUI.tsx
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  autogpt_platform/frontend/src/tests/pages/navbar.page.ts
Labels: size/xl, Review effort [1-5]: 2, platform/frontend, platform/backend

#8805 feat(blocks): Add Slant 3D printing via API service
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/blocks/slant3d/_api.py
  autogpt_platform/backend/backend/blocks/slant3d/base.py
  autogpt_platform/backend/backend/blocks/slant3d/filament.py
  autogpt_platform/backend/backend/blocks/slant3d/order.py
  autogpt_platform/backend/backend/blocks/slant3d/slicing.py
  autogpt_platform/backend/backend/blocks/slant3d/webhook.py
  autogpt_platform/backend/backend/data/cost.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/integrations/webhooks/slant3d.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#8877 docs: add docs for writing playwright tests
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/profile.page.ts
  classic/forge/forge/components/README.md
  docs/content/classic/index.md
  docs/content/classic/setup/docker.md
  docs/content/classic/setup/index.md
  docs/content/forge/components/built-in-components.md
  docs/content/forge/get-started.md
  docs/content/platform/contributing/tests.md
  docs/mkdocs.yml
Labels: documentation, size/l, Forge, Review effort [1-5]: 2, platform/frontend, platform/backend

#8838 feat(blocks): Add webhook block status indicator
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/data/queue.py
  autogpt_platform/backend/backend/integrations/webhooks/base.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/index.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#8885 ci(backend): Add `poetry.lock` check
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
Labels: size/l, platform/backend

#8768 feat(blocks): Add code execution block
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend, platform/blocks

#8890 fix(backend): Add stricter URL validation for block requests
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/test/util/test_request.py
Labels: size/l, Review effort [1-5]: 4, platform/backend

#8891 fix(backend): Enable Jinja SandboxedEnvironment for TextFormatter
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/util/text.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#8894 fix(backend): Make sure all the obtained DB connections are able to query
  autogpt_platform/backend/README.md
  autogpt_platform/backend/backend/data/db.py
Labels: size/s, platform/backend

#8883 fix(frontend): Agent output not being re-fetched on each agent output dialog opened
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
Labels: size/s, Review effort [1-5]: 2, platform/frontend, platform/backend

#8835 feat(blocks): Add Exa API Blocks
  autogpt_platform/backend/backend/blocks/exa/_auth.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend, platform/blocks

#8897 fix(platform): Stop the start up & shutdown of LaunchDarkly on local envs
  autogpt_platform/backend/backend/server/rest_api.py
Labels: size/m, platform/backend

#8847 feat(frontend/feature-flags): Add LaunchDarkly feature flagging UI
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/feature-flag/feature-flag-provider.tsx
  autogpt_platform/frontend/src/components/feature-flag/with-feature-flag.tsx
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, Review effort [1-5]: 2, platform/frontend, platform/backend

#8898 Incremental additions to platform documentation
  docs/content/platform/create-basic-agent.md
  docs/content/platform/delete-agent.md
  docs/content/platform/download-agent-from-marketplace-local.md
  docs/content/platform/edit-agent.md
  docs/content/platform/submit-agent-to-marketplace.md
  docs/mkdocs.yml
Labels: documentation, size/l, Review effort [1-5]: 2, platform/backend

#8880 feat(frontend): monitor tests
  .gitignore
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/components/agent-import-form.tsx
  autogpt_platform/frontend/src/components/monitor/AgentFlowList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsList.tsx
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/monitor.spec.ts
  autogpt_platform/frontend/src/tests/pages/base.page.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  autogpt_platform/frontend/src/tests/pages/monitor.page.ts
  autogpt_platform/frontend/src/tests/profile.spec.ts
  docs/content/platform/contributing/tests.md
Labels: documentation, size/xl, Review effort [1-5]: 2, platform/frontend, platform/backend

#8905 feat(blocks): Add new openrouter models
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/m, platform/backend, platform/blocks

#8920 fix(frontend) : Increase size of connection pin in blocks
  autogpt_platform/frontend/src/components/NodeHandle.tsx
Labels: size/s, platform/frontend, platform/backend

#8908 fix(backend): Fix Github PR blocks
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#8900 feat(frontend): Add field extraction handle for block with object output
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8929 fix(backend): Add missing DB indexes
  autogpt_platform/backend/migrations/20241210013740_add_indexes/migration.sql
  autogpt_platform/backend/schema.prisma
Labels: size/m, platform/backend

#8752 feat(platform): Include all agent versions in Runs in Monitor
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/components/monitor/AgentFlowList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunStatusBadge.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsTimeline.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/types.ts
Labels: size/l, platform/frontend, platform/backend

#8941 fix(frontend): Make pins smaller and fix hover area and highlight for input pins
  autogpt_platform/frontend/src/components/CustomEdge.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
Labels: size/m, platform/frontend, platform/backend

#8939 chore(platform):Refactor GraphExecution naming clash and remove unused Graph Execution functions
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/test/executor/test_scheduler.py
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/components/feature-flag/with-feature-flag.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend

#8944 feat(backend): Update schema for PAYG System
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/migrations/20241211160646_rename_credit_model_and_add_stripe_customer/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/data/test_credit.py
Labels: platform/backend

#8725 refactor(backend): Simplify `CredentialsField` usage + use `ProviderName` globally
  autogpt_platform/backend/backend/blocks/ai_image_generator_block.py
  autogpt_platform/backend/backend/blocks/ai_music_generator.py
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/discord.py
  autogpt_platform/backend/backend/blocks/exa/_auth.py
  autogpt_platform/backend/backend/blocks/fal/_auth.py
  autogpt_platform/backend/backend/blocks/github/_auth.py
  autogpt_platform/backend/backend/blocks/google/_auth.py
  autogpt_platform/backend/backend/blocks/google_maps.py
  autogpt_platform/backend/backend/blocks/hubspot/_auth.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/jina/_auth.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/medium.py
  autogpt_platform/backend/backend/blocks/pinecone.py
  autogpt_platform/backend/backend/blocks/replicate_flux_advanced.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/blocks/slant3d/_api.py
  autogpt_platform/backend/backend/blocks/talking_head.py
  autogpt_platform/backend/backend/blocks/text_to_speech_block.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/base.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/notion.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/integrations/webhooks/base.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/integrations/webhooks/slant3d.py
  autogpt_platform/backend/backend/server/integrations/router.py
  docs/content/platform/new_blocks.md
Labels: documentation, size/xl, platform/backend, platform/blocks

#8940 fix(frontend) : Optional number input
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/m, platform/frontend, platform/backend

#8943 feat(frontend): Update and fix tutorial
  autogpt_platform/frontend/src/components/tutorial.ts
Labels: size/m, platform/frontend, platform/backend

#8947 fix(backend): Deactivate graph on delete
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/s, platform/backend

#8949 ci(frontend): Speed up test jobs
  .github/workflows/platform-frontend-ci.yml
Labels: size/m, platform/backend

#8778 feat(blocks): Add Code extraction Block
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
Labels: size/l, platform/backend, platform/blocks

#8903 feat(blocks): Add CreateDictionaryBlock and CreateListBlock
  autogpt_platform/backend/backend/blocks/basic.py
Labels: size/m, platform/backend, platform/blocks

#8234 feat(blocks): Ollama - Remote hosts
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#8974 feat:(backend/test) update test_data_creator.py
  autogpt_platform/backend/test/test_data_creator.py
Labels: size/m, platform/backend

#9016 fix: merge issues from store -> dev
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/frontend/src/app/monitoring/page.tsx
Labels: size/m, Review effort [1-5]: 3, platform/frontend, platform/backend

#8852 feat(blocks): Add `depends_on` support for input fields
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/m, platform/frontend, platform/backend

#8982 feat(frontend) : Add optional input support for object, array, multi-select, and select as well.
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/m, platform/frontend, platform/backend

#8951 test(frontend): additional build page automation tooling
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/monitor.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Labels: size/l, Review effort [1-5]: 2, platform/frontend, platform/backend

#9032 fix(forge): Update browser extension download URL
  classic/forge/forge/components/web/selenium.py
Labels: size/s, Forge, platform/backend

#8987 feat(frontend): Reset password page
  autogpt_platform/frontend/src/app/login/page.tsx
  autogpt_platform/frontend/src/app/reset_password/page.tsx
Labels: size/l, platform/frontend, platform/backend

#9024 feat(frontend): search results updates
  autogpt_platform/frontend/src/app/store/search/page.tsx
  autogpt_platform/frontend/src/components/agptui/SearchBar.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
Labels: size/m, platform/frontend, platform/backend

#9043 feat(platform): Add basic library functionality
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/library/__init__.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/model_test.py
  autogpt_platform/backend/backend/server/v2/library/routes.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/README.md
  autogpt_platform/backend/backend/server/v2/store/media.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/monitoring/page.tsx
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend

#9047 feat(frontend): Updates to navbar
  autogpt_platform/frontend/src/components/agptui/CreditsCard.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Labels: size/l, platform/frontend, platform/backend

#9048 feat(platform): updated schema to allow featuring of specific creators
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/model_test.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/migrations/20241212142024_creator_featured_flag/migration.sql
  autogpt_platform/backend/migrations/20241212150828_agent_store_v2_views/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/target.prisma
Labels: size/xl, Review effort [1-5]: 2, platform/backend

#8750 feat(platform): Support manually setting up webhooks
  autogpt_platform/backend/backend/blocks/compass/triggers.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/integrations/webhooks/_base.py
  autogpt_platform/backend/backend/integrations/webhooks/_manual_base.py
  autogpt_platform/backend/backend/integrations/webhooks/compass.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/integrations/webhooks/slant3d.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, platform/frontend, platform/backend, platform/blocks

#9061 feat: default for is featured
  autogpt_platform/backend/backend/server/v2/store/model.py
  docs/content/platform/new_blocks.md
Labels: documentation, size/m, Review effort [1-5]: 1, platform/backend

#9062 feat(frontend): Disable theme toggle
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
Labels: size/s, platform/frontend, platform/backend

#9065 fix(store): Uploading to store selects two agents
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
Labels: size/s, platform/frontend, platform/backend

#9068 fix(store): Youtube link not showing video on agent page
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
Labels: size/s, Review effort [1-5]: 4, platform/frontend, platform/backend

#9069 fix(store): Marketplace - Navbar should say "Marketplace" rather than "Agent Store"
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/store/page.tsx
  autogpt_platform/frontend/src/components/agptui/FilterChips.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/nav/NavBarButtons.tsx
Labels: size/m, Review effort [1-5]: 1, platform/frontend, platform/backend

#9073 fix(store): Marketplace - "Integrations" link in Settings is a 404
  autogpt_platform/frontend/src/app/store/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
Labels: size/l, platform/frontend, platform/backend

#9074 feat(store): Auto-populate the agent submission form
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/m, Review effort [1-5]: 4, platform/frontend, platform/backend

#9081 feat(frontend) Remove "credentials" from export & import of agents
  autogpt_platform/frontend/src/components/agent-import-form.tsx
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/m, platform/frontend, platform/backend

#9077 fix(frontend): Disable agent save button when saving or running
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
Labels: platform/frontend, platform/backend

#9088 fix(store): Make username case insensitive
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/store/creator/[creator]/page.tsx
Labels: Review effort [1-5]: 2, platform/frontend, platform/backend

#9089 fix(store): "Publish an Agent" flow has a missing default image
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#9090 feat(store): Generate AI images for store submissions
  autogpt_platform/backend/backend/server/v2/store/image_gen.py
  autogpt_platform/backend/backend/server/v2/store/media.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, Review effort [1-5]: 4, platform/frontend, platform/backend

#9080 fix(frontend): Make clickable area bigger
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
  autogpt_platform/frontend/src/tests/pages/navbar.page.ts
Labels: size/m, platform/frontend, platform/backend

#9091 feat: swap context menu for dropdown to fix three dots doing nothing
  autogpt_platform/frontend/src/components/agptui/AgentTableRow.tsx
Labels: size/m, Review effort [1-5]: 1, platform/frontend, platform/backend

#9092 fix(store): Increase the margin below featured section
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#9093 fix(store): remove debug logging of requests
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/m, Review effort [1-5]: 1

#9094 feat(store) : Small UI changes on marketplace
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/store/creator/[creator]/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentImageItem.tsx
  autogpt_platform/frontend/src/components/agptui/AgentImages.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/BreadCrumbs.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Labels: size/m, platform/frontend, platform/backend

#9096 fix(store): Sanitize username and Agent Name in URLs
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedCreators.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#9098 fix(store): Fixing add agent to library
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/v2/library/routes.py
Labels: size/m, Review effort [1-5]: 3, platform/backend

#9112 fix(store): username not lowered when its updated
  autogpt_platform/backend/backend/server/v2/store/db.py
Labels: size/s, Review effort [1-5]: 1, platform/backend

#9114 [Platform] Creator profile description no longer ignores new lines
  autogpt_platform/frontend/src/app/store/creator/[creator]/page.tsx
Labels: size/s, platform/frontend, platform/backend

#9147 Hotfix new year
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/migrations/20241230102007_update_store_agent_view/migration.sql
  autogpt_platform/frontend/src/app/marketplace/page.tsx
  autogpt_platform/frontend/src/app/store/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/utils.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend

#9124 refactor(frontend): Auth pages update
  autogpt_platform/frontend/src/app/login/actions.ts
  autogpt_platform/frontend/src/app/login/page.tsx
  autogpt_platform/frontend/src/app/reset_password/actions.ts
  autogpt_platform/frontend/src/app/reset_password/page.tsx
  autogpt_platform/frontend/src/app/signup/actions.ts
  autogpt_platform/frontend/src/app/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/AuthBottomText.tsx
  autogpt_platform/frontend/src/components/auth/AuthButton.tsx
  autogpt_platform/frontend/src/components/auth/AuthCard.tsx
  autogpt_platform/frontend/src/components/auth/AuthFeedback.tsx
  autogpt_platform/frontend/src/components/auth/AuthHeader.tsx
  autogpt_platform/frontend/src/components/auth/PasswordInput.tsx
  autogpt_platform/frontend/src/components/auth/index.ts
  autogpt_platform/frontend/src/hooks/useSupabase.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
  autogpt_platform/frontend/src/types/auth.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, platform/frontend, platform/backend

#9135 fix(backend): Added locking status check before releasing to avoid releasing timing out lock
  autogpt_platform/autogpt_libs/autogpt_libs/utils/synchronize.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#9132 fix(frontend): Fix broken block UI layout
  autogpt_platform/frontend/src/components/customnode.css
Labels: size/m, Review effort [1-5]: 1, platform/frontend, platform/backend

#9130 fix(backend): Remove croniter
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/m, Review effort [1-5]: 1, platform/backend

#9128 fix(platform): Fields with default value are not set to advanced by default
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/test/data/test_graph.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#9149 feat(backend): Make scheduler DB connection pool configurable & prevent connection overflow
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#9157 fix(backend): Prevent HTTP requests access to internal IPV6 addresses for Agent Blocks
  autogpt_platform/backend/backend/util/request.py
Labels: size/m, Review effort [1-5]: 2, platform/backend
