Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-09, with the labels that each got.

#7930 feat(builder): Store and display output data history in nodes
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/DataTable.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/InputModalComponent.tsx
  rnd/autogpt_builder/src/components/OutputModalComponent.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/src/components/ui/toast.tsx
  rnd/autogpt_builder/src/components/ui/toaster.tsx
  rnd/autogpt_builder/src/components/ui/use-toast.ts
  rnd/autogpt_builder/src/hooks/useAgentGraph.ts
  rnd/autogpt_builder/yarn.lock
Labels: size/xl, Builder

#7944 docs(server): Update docs with new docker compose steps
  docs/content/server/setup.md
Labels: documentation, size/m, Review effort [1-5]: 1

#7946 Feat(Builder): Fix block menu width
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_builder/src/components/ui/card.tsx
Labels: size/s, Builder

#7941 fix(server): Fix type checking and propagation issues
  rnd/autogpt_server/autogpt_server/cli.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/rest_api.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/poetry.lock
Labels: size/l, Server

#7955 feat(builder): Resizable input modal
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/InputModalComponent.tsx
Labels: size/m, Review effort [1-5]: 3, Builder

#7915 feat(server): Integrate `forge.logging`
  rnd/autogpt_server/.env.example
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/util/logging.py
  rnd/autogpt_server/autogpt_server/util/process.py
  rnd/autogpt_server/autogpt_server/util/service.py
Labels: enhancement, size/l, Review effort [1-5]: 3, bug_fix, Server

#7934 feat(builder, server): Add advanced block inputs
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_server/autogpt_server/data/model.py
Labels: size/m, Builder, Server

#7962 Feat(Builder): Update tutorial to work with latest block UI
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/tutorial.ts
Labels: enhancement, size/m, Review effort [1-5]: 2, Builder

#7957 feat(rnd): Add Node & Graph level execution stats instrumentation
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/util/decorator.py
  rnd/autogpt_server/autogpt_server/util/metrics.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/migrations/20240902223334_add_stats_column/migration.sql
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/postgres/migrations/20240902223343_add_stats_column/migration.sql
  rnd/autogpt_server/postgres/schema.prisma
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/setup.py
  rnd/autogpt_server/test/util/decorator.py
  rnd/autogpt_server/test/util/test_service.py
Labels: enhancement, size/xl, Review effort [1-5]: 3, tests, Server

#7965 feat(server): Add endpoint to calculate required graph inputs
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/server/rest_api.py
  rnd/autogpt_server/test/data/test_graph.py
Labels: enhancement, size/l, Review effort [1-5]: 3, tests, Server

#7969 Feat(Builder): Replace ``Math Block`` with ``Calculator Block``
  rnd/autogpt_builder/src/components/tutorial.ts
Labels: enhancement, size/m, Review effort [1-5]: 2, Builder

#7966 tweak(rnd,docker) Remove SQLite
  .dockerignore
  .github/workflows/autogpt-server-ci.yml
  docs/content/server/setup.md
  rnd/autogpt_server/Dockerfile
  rnd/autogpt_server/Dockerfile.ws
  rnd/autogpt_server/README.md
  rnd/autogpt_server/docker-compose.test.yaml
  rnd/autogpt_server/linter.py
  rnd/autogpt_server/migrations/20240722143307_migrations/migration.sql
  rnd/autogpt_server/migrations/20240722143555_migrations/migration.sql
  rnd/autogpt_server/migrations/20240724150133_node_input_unique_constraint/migration.sql
  rnd/autogpt_server/migrations/20240726131311_node_input_unique_constraint/migration.sql
  rnd/autogpt_server/migrations/20240729051155_static_input_link/migration.sql
  rnd/autogpt_server/migrations/20240729061216_static_input_link/migration.sql
  rnd/autogpt_server/migrations/20240804040756_add_subgraph/migration.sql
  rnd/autogpt_server/migrations/20240804040801_add_subgraph/migration.sql
  rnd/autogpt_server/migrations/20240805115456_add_user_management/migration.sql
  rnd/autogpt_server/migrations/20240805115810_add_user_management/migration.sql
  rnd/autogpt_server/migrations/20240807123738_add_index_users/migration.sql
  rnd/autogpt_server/migrations/20240808095419_add_required_user_ids/migration.sql
  rnd/autogpt_server/migrations/migration_lock.toml
  rnd/autogpt_server/postgres/migrations/20240807123738_add_index_users/migration.sql
  rnd/autogpt_server/postgres/migrations/20240808095419_add_required_user_ids/migration.sql
  rnd/autogpt_server/postgres/migrations/20240902223343_add_stats_column/migration.sql
  rnd/autogpt_server/postgres/migrations/migration_lock.toml
  rnd/autogpt_server/postgres/schema.prisma
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/run_tests.py
  rnd/autogpt_server/schema.prisma
  rnd/docker-compose.yml
Labels: documentation, enhancement, size/xl, Review effort [1-5]: 3, tests, Configuration changes, Server

#7972 update docker compose
  rnd/docker-compose.yml
Labels: enhancement, Review effort [1-5]: 2, Configuration changes

#7971 fix(rnd): Dockerfile Avoid full rebuild on each file change
  .dockerignore
  rnd/autogpt_server/Dockerfile
  rnd/autogpt_server/Dockerfile.ws
Labels: size/m, Review effort [1-5]: 2, Server

#7977 tweak(rnd): Hide non required field on Blocks
  rnd/autogpt_server/.env.example
  rnd/autogpt_server/.env.template
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/model.py
Labels: enhancement, size/l, Bug fix, Review effort [1-5]: 2, Server

#7992 fix(builder): update tutorial routing to work on safari
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/s, Review effort [1-5]: 2, bug_fix, Builder

#7979 fix(rnd): avoid duplicating name on input/output pin for blocks
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/blocks/medium.py
  rnd/autogpt_server/autogpt_server/blocks/time_blocks.py
  rnd/autogpt_server/autogpt_server/usecases/sample.py
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/m, Bug fix, Review effort [1-5]: 2, Server

#7975 Feat(Builder): Add tooltips to Blocks and Save buttons
  rnd/autogpt_builder/src/components/edit/control/BlocksControl.tsx
  rnd/autogpt_builder/src/components/edit/control/SaveControl.tsx
Labels: enhancement, size/m, Review effort [1-5]: 2, Builder

#7892 feat(server, builder): Implement "STOP" button for graph runs
  .github/workflows/autogpt-server-ci.yml
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/monitor/FlowRunInfo.tsx
  rnd/autogpt_builder/src/components/ui/icons.tsx
  rnd/autogpt_builder/src/hooks/useAgentGraph.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/rest_api.py
  rnd/autogpt_server/autogpt_server/util/test.py
  rnd/autogpt_server/config.default.json
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/infra/helm/autogpt-server/values.dev.yaml
Labels: size/xl, Builder, Server

#7976 Feat(Monitor/Builder): Fix loading of "Import from file" modal
  rnd/autogpt_builder/src/app/page.tsx
  rnd/autogpt_builder/src/components/agent-import-form.tsx
  rnd/autogpt_builder/src/components/monitor/AgentFlowList.tsx
  rnd/autogpt_builder/src/components/ui/input.tsx
Labels: enhancement, size/m, Bug fix, Review effort [1-5]: 2, Builder

#7981 tweak(rnd): Post infra change cleanup - fix process creation lifecycle
  rnd/autogpt_server/Dockerfile
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/rest.py
  rnd/autogpt_server/autogpt_server/server/__init__.py
  rnd/autogpt_server/autogpt_server/server/ws_api.py
  rnd/autogpt_server/autogpt_server/util/process.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/autogpt_server/ws.py
  rnd/autogpt_server/autogpt_server/ws_app.py
  rnd/autogpt_server/pyproject.toml
Labels: enhancement, size/l, Review effort [1-5]: 3, bug_fix, Server

#7932 feat(builder): promotion/demotion of featured agents
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/admin/marketplace/page.tsx
  rnd/autogpt_builder/src/app/marketplace/[id]/page.tsx
  rnd/autogpt_builder/src/components/admin/marketplace/AdminAddFeaturedAgentDialog.tsx
  rnd/autogpt_builder/src/components/admin/marketplace/AdminFeaturedAgentsControl.tsx
  rnd/autogpt_builder/src/components/admin/marketplace/AdminMarketplaceAgentList.tsx
  rnd/autogpt_builder/src/components/admin/marketplace/FeaturedAgentsTable.tsx
  rnd/autogpt_builder/src/components/admin/marketplace/actions.ts
  rnd/autogpt_builder/src/components/marketplace/AgentDetailContent.tsx
  rnd/autogpt_builder/src/components/ui/data-table.tsx
  rnd/autogpt_builder/src/lib/marketplace-api/client.ts
  rnd/autogpt_builder/src/lib/marketplace-api/types.ts
  rnd/autogpt_builder/yarn.lock
  rnd/market/market/app.py
  rnd/market/market/db.py
  rnd/market/market/model.py
  rnd/market/market/routes/admin.py
Labels: enhancement, size/xl, Review effort [1-5]: 4, tests, Builder

#7999 fix(rnd): Fix prisma connection acquisition intermittent error on linux
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/rest_api.py
  rnd/autogpt_server/autogpt_server/util/process.py
  rnd/autogpt_server/autogpt_server/util/retry.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/poetry.lock
Labels: enhancement, size/m, Bug fix, Review effort [1-5]: 3, Server

#8000 tweak(rnd): Stop publishing custom Sentry metrics
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/util/metrics.py
  rnd/autogpt_server/autogpt_server/util/process.py
Labels: enhancement, size/l, Review effort [1-5]: 2, bug_fix, Server

#7996 update(server): Update Input Nodes
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/usecases/sample.py
  rnd/autogpt_server/test/executor/test_manager.py
Labels: enhancement, size/l, Review effort [1-5]: 3, Server

#7997 feat(server): Updated Output block
  rnd/autogpt_server/autogpt_server/blocks/basic.py
Labels: enhancement, size/l, Review effort [1-5]: 3, Server

#7938 feat(server): Clean up resources when spinning down services/processes
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/util/process.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/autogpt_server/util/test.py
Labels: size/l, Server

#8010 fix(server): Always JSON-encode `AgentNodeExecutionInputOutput` data
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
Labels: size/m, Review effort [1-5]: 2, Server

#8014 tweak(rnd,redis) Make redis logging more clear
  rnd/autogpt_server/autogpt_server/data/queue.py
Labels: size/s, Server

#7998 feat: marketplace analytics
  rnd/autogpt_builder/src/components/marketplace/AgentDetailContent.tsx
  rnd/autogpt_builder/src/components/marketplace/actions.ts
  rnd/autogpt_builder/src/lib/marketplace-api/client.ts
  rnd/autogpt_builder/src/lib/marketplace-api/types.ts
  rnd/market/market/app.py
  rnd/market/market/db.py
  rnd/market/market/model.py
  rnd/market/market/routes/analytics.py
  rnd/market/migrations/20240905162237_/migration.sql
  rnd/market/schema.prisma
Labels: enhancement, size/l, Review effort [1-5]: 3, tests, Builder

#8015 feat(rnd): Add creation & update time for AgentGraphExecutionSchedule, AgentGraphExecution, and AgentGraph
  rnd/autogpt_server/migrations/20240906155206_add_created_at_updated_at/migration.sql
  rnd/autogpt_server/migrations/migration_lock.toml
  rnd/autogpt_server/schema.prisma
Labels: size/m, Review effort [1-5]: 2, Server

#8017 fix: couple block categories improved
  rnd/autogpt_server/autogpt_server/blocks/http.py
  rnd/autogpt_server/autogpt_server/blocks/rss.py
Labels: size/s, Review effort [1-5]: 1, Server

#7894 feat(builder): Aligning error and loading for NextJS best practices
  rnd/autogpt_builder/src/app/error.tsx
  rnd/autogpt_builder/src/app/error/page.tsx
  rnd/autogpt_builder/src/app/loading.tsx
  rnd/autogpt_builder/src/components/monitor/skeletons/AgentFlowListSkeleton.tsx
  rnd/autogpt_builder/src/components/monitor/skeletons/FlowRunsListSkeleton.tsx
  rnd/autogpt_builder/src/components/monitor/skeletons/FlowRunsStatusSkeleton.tsx
Labels: size/l, Review effort [1-5]: 2, Builder

#8021 refactor(builder): Fix linting warning and errors
  rnd/autogpt_builder/src/app/error.tsx
  rnd/autogpt_builder/src/app/page.tsx
  rnd/autogpt_builder/src/components/CustomEdge.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/monitor/AgentFlowList.tsx
  rnd/autogpt_builder/src/components/monitor/FlowInfo.tsx
  rnd/autogpt_builder/src/components/node-input-components.tsx
  rnd/autogpt_builder/src/components/ui/input.tsx
  rnd/autogpt_builder/src/hooks/useAgentGraph.ts
  rnd/autogpt_builder/src/hooks/useBezierPath.ts
Labels: size/xl, Review effort [1-5]: 3, Builder

#7872 feat(server): Add OAuth flow endpoints for integrations
  rnd/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/store.py
  rnd/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/types.py
  rnd/autogpt_server/autogpt_server/integrations/oauth/__init__.py
  rnd/autogpt_server/autogpt_server/integrations/oauth/base.py
  rnd/autogpt_server/autogpt_server/integrations/oauth/github.py
  rnd/autogpt_server/autogpt_server/integrations/oauth/google.py
  rnd/autogpt_server/autogpt_server/integrations/oauth/notion.py
  rnd/autogpt_server/autogpt_server/server/integrations.py
  rnd/autogpt_server/autogpt_server/server/rest_api.py
  rnd/autogpt_server/autogpt_server/server/utils.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/xl, Review effort [1-5]: 4, Server

#8027 fix(builder): Use escaped apostrophe
  rnd/autogpt_builder/src/app/error.tsx
Labels: size/s, Review effort [1-5]: 1, Builder

#8028 feat: document the use of isolation better
  docs/content/forge/components/built-in-components.md
Labels: documentation, size/s, Review effort [1-5]: 2

#8026 Fixing docker setup for local testing
  rnd/autogpt_builder/.env.example
  rnd/autogpt_builder/Dockerfile
  rnd/autogpt_builder/yarn.lock
  rnd/autogpt_server/Dockerfile
  rnd/autogpt_server/Dockerfile.ws
  rnd/autogpt_server/pyproject.toml
  rnd/docker-compose.yml
  rnd/infra/helm/autogpt-server/templates/deployment.yaml
  rnd/infra/helm/autogpt-websocket-server/templates/deployment.yaml
  rnd/infra/helm/autogpt-websocket-server/values.dev.yaml
  rnd/market/Dockerfile
  rnd/market/scripts.py
Labels: size/xl, Review effort [1-5]: 3, Builder, Server

#8033 docker nits
  rnd/docker-compose.yml
Labels: size/m, Review effort [1-5]: 2

#8034 tweak(rnd): Use docker compose not docker-compose
  rnd/autogpt_server/README.md
  rnd/autogpt_server/run_tests.py
Labels: size/m, Review effort [1-5]: 2, Server

#8035 tweak(rnd): Ignore .env in market
  .dockerignore
Labels: Review effort [1-5]: 1

#8036 fix(rnd): Update port in market
  rnd/infra/helm/autogpt-market/values.dev.yaml
Labels: size/s, Review effort [1-5]: 1

#8037 feat(rnd): Add k8s default health check
  rnd/market/market/app.py
Labels: size/s, Review effort [1-5]: 1

#8043 fix(rnd): Fix decorator function type hint
  rnd/autogpt_server/autogpt_server/util/decorator.py
Labels: size/m, Review effort [1-5]: 2, Server

#8001 tweak(rnd) Add prefix in logs
  rnd/autogpt_server/autogpt_server/executor/manager.py
Labels: enhancement, size/m, Review effort [1-5]: 2, Server

#8040 feat(rnd): Reduce container size remove dep with forge and autogpt
  rnd/autogpt_libs/autogpt_libs/auth/depends_tests.py
  rnd/autogpt_libs/autogpt_libs/logging/__init__.py
  rnd/autogpt_libs/autogpt_libs/logging/config.py
  rnd/autogpt_libs/autogpt_libs/logging/filters.py
  rnd/autogpt_libs/autogpt_libs/logging/formatters.py
  rnd/autogpt_libs/autogpt_libs/logging/handlers.py
  rnd/autogpt_libs/autogpt_libs/logging/test_utils.py
  rnd/autogpt_libs/autogpt_libs/logging/utils.py
  rnd/autogpt_libs/poetry.lock
  rnd/autogpt_libs/pyproject.toml
  rnd/autogpt_server/.env.example
  rnd/autogpt_server/Dockerfile
  rnd/autogpt_server/autogpt_server/blocks/agent.py
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/util/logging.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/docker-compose.yml
  rnd/market/Dockerfile
Labels: size/xl, Review effort [1-5]: 4, Server

#8052 fix(rnd): Fix broken save feature on Agent Builder
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/edit/control/SaveControl.tsx
  rnd/autogpt_builder/src/hooks/useAgentGraph.ts
  rnd/autogpt_builder/src/lib/utils.ts
Labels: size/m, Builder

#8047 feat(rnd): Add initial credit accounting system for block execution
  rnd/autogpt_server/.env.example
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/data/credit.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/rest_api.py
  rnd/autogpt_server/autogpt_server/usecases/block_autogen.py
  rnd/autogpt_server/autogpt_server/usecases/reddit_marketing.py
  rnd/autogpt_server/autogpt_server/usecases/sample.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/autogpt_server/util/test.py
  rnd/autogpt_server/config.default.json
  rnd/autogpt_server/migrations/20240914033334_user_credit/migration.sql
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/data/test_credit.py
  rnd/autogpt_server/test/data/test_graph.py
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/xl, Review effort [1-5]: 4, Server

#8038 Feat(Builder): Add Runner input and ouput screens
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/RunnerUIWrapper.tsx
  rnd/autogpt_builder/src/components/runner-ui/RunnerInputBlock.tsx
  rnd/autogpt_builder/src/components/runner-ui/RunnerInputList.tsx
  rnd/autogpt_builder/src/components/runner-ui/RunnerInputUI.tsx
  rnd/autogpt_builder/src/components/runner-ui/RunnerOutputUI.tsx
  rnd/autogpt_builder/src/lib/utils.ts
Labels: size/l, Review effort [1-5]: 3, Builder

#8053 feat(builder): sentry integration
  rnd/autogpt_builder/.gitignore
  rnd/autogpt_builder/next.config.mjs
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/sentry.client.config.ts
  rnd/autogpt_builder/sentry.edge.config.ts
  rnd/autogpt_builder/sentry.server.config.ts
  rnd/autogpt_builder/src/app/global-error.tsx
  rnd/autogpt_builder/src/app/login/actions.ts
  rnd/autogpt_builder/src/components/admin/marketplace/AdminFeaturedAgentsControl.tsx
  rnd/autogpt_builder/src/components/admin/marketplace/actions.ts
  rnd/autogpt_builder/src/components/marketplace/actions.ts
  rnd/autogpt_builder/src/instrumentation.ts
  rnd/autogpt_builder/src/lib/supabase/client.ts
  rnd/autogpt_builder/src/lib/withRoleAccess.ts
  rnd/autogpt_builder/yarn.lock
Labels: size/xl, Review effort [1-5]: 4, Builder

#8054 fix(rnd): Fix execution error on non-saved agent
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/edit/control/ControlPanel.tsx
  rnd/autogpt_builder/src/components/node-input-components.tsx
  rnd/autogpt_builder/src/components/ui/input.tsx
  rnd/autogpt_builder/src/hooks/useAgentGraph.ts
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_server/autogpt_server/executor/manager.py
Labels: size/l, Review effort [1-5]: 2, Builder, Server

#8071 fix(autogpt_server): Fix vulnerability in Dockerfile
  rnd/autogpt_server/Dockerfile
  rnd/market/Dockerfile
Labels: size/m, Review effort [1-5]: 1, Server

#8024 feat(server): Add credentials API endpoints
  rnd/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/types.py
  rnd/autogpt_server/autogpt_server/integrations/github.py
  rnd/autogpt_server/autogpt_server/integrations/google.py
  rnd/autogpt_server/autogpt_server/integrations/notion.py
  rnd/autogpt_server/autogpt_server/integrations/oauth.py
  rnd/autogpt_server/autogpt_server/integrations/oauth/github.py
  rnd/autogpt_server/autogpt_server/integrations/oauth/google.py
  rnd/autogpt_server/autogpt_server/integrations/oauth/notion.py
  rnd/autogpt_server/autogpt_server/server/integrations.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/l, Review effort [1-5]: 3, Server

#8064 feat(market): add filters to the market queries
  rnd/market/market/db.py
  rnd/market/market/routes/agents.py
Labels: size/m, Review effort [1-5]: 2

#7803 feat(server): anthropic updates, csv, sampling, and code blocks
  rnd/autogpt_server/autogpt_server/blocks/csv.py
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/blocks/sampling.py
Labels: enhancement, size/l, Review effort [1-5]: 4, bug_fix, Server

#8086 fix(rnd): incorrect docker image for migrate
  rnd/docker-compose.yml
Labels: size/s, Review effort [1-5]: 1

#8089 tweak(builder) Add local supabse credentials
  rnd/autogpt_builder/.env.example
Labels: size/s, Review effort [1-5]: 2, Builder

#8091 tweak(rnd): add env var to docker compose so no messing with .env
  rnd/docker-compose.combined.yml
Labels: size/s, Review effort [1-5]: 1

#8095 docs(rnd): Update submodules info in readme
  rnd/README.md
Labels: Review effort [1-5]: 1

#8018 Fix typo in Groq setup docs
  docs/content/AutoGPT/setup/index.md
Labels: documentation, size/s

#8078 feat(rnd): Add initial block execution credit accounting UI on AutoGPT Builder
  rnd/autogpt_builder/src/components/CreditButton.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NavBar.tsx
  rnd/autogpt_builder/src/components/ui/icons.tsx
  rnd/autogpt_builder/src/hooks/useAgentGraph.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/baseClient.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_server/.env.example
  rnd/autogpt_server/autogpt_server/data/credit.py
  rnd/autogpt_server/autogpt_server/server/rest_api.py
  rnd/autogpt_server/autogpt_server/server/ws_api.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/docker-compose.yml
Labels: size/l, Review effort [1-5]: 3, Builder, Server

#8094 feat(server): Server endpoints to add `APIKeyCredentials` and remove credentials
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_server/autogpt_server/server/integrations.py
Labels: size/l, Builder, Server

#8096 tweak(rnd): Update server and postgres ports
  rnd/autogpt_builder/src/lib/autogpt-server-api/baseClient.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/clientServer.ts
Labels: size/s, Review effort [1-5]: 2, Builder

#8067 feat(builder): Authorization UI for integrations
  rnd/autogpt_builder/src/app/auth/integrations/oauth_callback/route.ts
  rnd/autogpt_builder/src/app/providers.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/integrations/credentials-input.tsx
  rnd/autogpt_builder/src/components/integrations/credentials-provider.tsx
  rnd/autogpt_builder/src/components/node-input-components.tsx
  rnd/autogpt_builder/src/components/ui/icons.tsx
  rnd/autogpt_builder/src/hooks/useCredentials.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/baseClient.ts
  rnd/autogpt_builder/src/lib/autogpt-server-api/types.ts
  rnd/autogpt_libs/autogpt_libs/auth/middleware.py
  rnd/autogpt_server/autogpt_server/blocks/github.py
  rnd/autogpt_server/autogpt_server/data/model.py
  rnd/autogpt_server/autogpt_server/server/routers/integrations.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/autogpt_server/util/settings.py
Labels: size/xl, Builder, Server

#8103 tweak(.github): Update pr template wording
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/m, Review effort [1-5]: 1

#8108 fix(rnd): Fix broken list input pin execution ordering & unlinked dynamic pins on save
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8128 fix(platform): Fix logging incomplete information & LLM missing error
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8111 feat(rnd): Route to /login on authenticated requests
  autogpt_platform/frontend/src/components/ProfileDropdown.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend

#8135 refactor(platform): Update docker compose file names
  autogpt_platform/README.md
  autogpt_platform/docker-compose.combined.yml
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
  docs/content/server/setup.md
Labels: documentation, size/xl, Review effort [1-5]: 3

#8136 fix(.dockerignore) Put dockerignore back
  .dockerignore
  classic/.dockerignore
Labels: size/m, Review effort [1-5]: 2

#8088 fix(rnd): Added updated graph meta to include runs
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/sentry.client.config.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/app/page.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend

#8123 ci(backend): Add Supabase
  .github/workflows/platform-backend-ci.yml
Labels: size/m

#8085 tweak(rnd): Move to the PG within Supabase
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/README.md
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
  autogpt_platform/market/.env.example
  docs/content/server/advanced_setup.md
Labels: documentation, size/l, Review effort [1-5]: 2, platform/backend

#8137 ci: Reduce PR Status Checker interval
  .github/workflows/scripts/check_actions_status.py
Labels: size/s

#8139 fix(platform): Monitor page crashing when agents present with no runs
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
Labels: size/s, Review effort [1-5]: 2, platform/frontend

#8124 feat(platform): Add coin icon on block cost & current credits
  autogpt_platform/frontend/src/components/CreditButton.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend

#8129 feat(frontend): add marketplace server side client
  .vscode/all-projects.code-workspace
  autogpt_platform/frontend/src/components/admin/marketplace/actions.ts
  autogpt_platform/frontend/src/lib/marketplace-api/base-client.ts
  autogpt_platform/frontend/src/lib/marketplace-api/browser-client.ts
  autogpt_platform/frontend/src/lib/marketplace-api/index.ts
  autogpt_platform/frontend/src/lib/marketplace-api/server-client.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend

#8106 ci: Set up customized CodeQL scanning
  .github/workflows/codeql.yml
Labels: size/m

#8150 Update README.md
  README.md
Labels: size/m, Review effort [1-5]: 2

#8153 Update README.md
  README.md
Labels: size/s, Review effort [1-5]: 1

#8138 fix(frontend): Remove Sentry Pop-up and add run options
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/sentry.client.config.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend

#8142 fix(platform): Refresh doc setup instruction
  autogpt_platform/README.md
  docs/content/server/setup.md
Labels: documentation, size/l

#8152 feat(platform): Add OpenAI reasoning models
  autogpt_platform/backend/backend/blocks/llm.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8143 feat(platform): Make REST & WS server host configurable
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8146 feat(marketplace): Added a list of keywords to describe agents
  autogpt_platform/frontend/src/app/marketplace/submit/page.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend

#8109 feat(builder): scaffold playwright
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/.gitignore
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/tests/title.spec.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/l, Review effort [1-5]: 3, platform/frontend

#8140 fix(platform): Fix REST API CORS issue + UI build for Firefox
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/frontend/package.json
  autogpt_platform/infra/helm/autogpt-builder/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-market/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  autogpt_platform/infra/helm/autogpt-websocket-server/values.dev.yaml
  autogpt_platform/market/market/app.py
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8163 fix(platform): Update Backend .env.example BACKEND_CORS_ALLOW_ORIGINS to be a list
  autogpt_platform/backend/.env.example
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8157 tweak(frontend): Add msg for custom error
  autogpt_platform/frontend/src/app/login/actions.ts
Labels: size/s, Review effort [1-5]: 1, platform/frontend

#8044 feat(platform): OAuth support + API key management + GitHub blocks
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/autogpt_libs/autogpt_libs/auth/middleware.py
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/types.py
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/block.py
  autogpt_platform/backend/backend/blocks/branching.py
  autogpt_platform/backend/backend/blocks/csv.py
  autogpt_platform/backend/backend/blocks/discord.py
  autogpt_platform/backend/backend/blocks/email_block.py
  autogpt_platform/backend/backend/blocks/github/_auth.py
  autogpt_platform/backend/backend/blocks/github/issues.py
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
  autogpt_platform/backend/backend/blocks/github/repo.py
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/maths.py
  autogpt_platform/backend/backend/blocks/medium.py
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/blocks/rss.py
  autogpt_platform/backend/backend/blocks/sampling.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/blocks/talking_head.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/routers/integrations.py
  autogpt_platform/backend/backend/server/utils.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/test/block/test_block.py
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/frontend/src/app/auth/integrations/oauth_callback/route.ts
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/baseClient.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
  docs/content/server/new_blocks.md
Labels: documentation, size/xl, platform/frontend, platform/backend

#8160 tweak(platform) Add frontendconfig for redirect
  autogpt_platform/infra/helm/autogpt-builder/templates/frontendconfig.yaml
  autogpt_platform/infra/helm/autogpt-builder/values.dev.yaml
Labels: size/s

#8183 fix(platform): Add missing mandatory environment variable
  autogpt_platform/backend/.env.example
Labels: size/s, Review effort [1-5]: 2, platform/backend

#8147 tweak(platform): Update block descriptions and tweak block card ui
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/csv.py
  autogpt_platform/backend/backend/blocks/discord.py
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/blocks/maths.py
  autogpt_platform/backend/backend/blocks/medium.py
  autogpt_platform/backend/backend/blocks/rss.py
  autogpt_platform/backend/backend/blocks/search.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/blocks/youtube.py
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/ui/card.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#8148 tweak(platform): Update Nav Menu styling
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/components/CreditButton.tsx
  autogpt_platform/frontend/src/components/NavBar.tsx
  autogpt_platform/frontend/yarn.lock
Labels: size/l, Review effort [1-5]: 2, platform/frontend

#8156 fix(platform): Reset Block Control filters on popover close
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend

#8182 fix(platform): UI fixes; Fix default value on input fields & fix enum custom fields
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/m, Review effort [1-5]: 3, platform/frontend, platform/backend

#8171 fix(platform): UI fixes; Fix disabled Run/Stop button
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend

#8169 fix(platform): UI fixes; Fix block note UI displayed as normal block;Json-prettify execution output
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/DataTable.tsx
  autogpt_platform/frontend/src/components/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
Labels: size/m, Review effort [1-5]: 3, platform/frontend, platform/backend

#8165 Feat(Builder): Enhance AITextSummarizerBlock with configurable summary style and focus
  autogpt_platform/backend/backend/blocks/llm.py
Labels: size/m, Review effort [1-5]: 2, Block, platform/backend

#8187 tweak(platform): Updated onOpenChange code style
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend

#8193 fix(infra): Add missing quotes in helm values
  autogpt_platform/infra/helm/autogpt-server/values.dev.yaml
Labels: Review effort [1-5]: 1

#8192 tweak(docs): Update setup.md with git instructions.
  docs/content/server/setup.md
Labels: documentation, size/m, Review effort [1-5]: 1

#8178 tweak(platform): Remove unused supabase services in docker compose
  autogpt_platform/docker-compose.yml
Labels: size/m, Review effort [1-5]: 2

#8167 Feat(Builder): Add Video and Image Rendering to Block outputs
  autogpt_platform/frontend/src/components/DataTable.tsx
  autogpt_platform/frontend/src/components/ui/render.tsx
Labels: size/l, Review effort [1-5]: 3, platform/frontend

#8176 feat(docs): add a few qol upgrades
  docs/mkdocs.yml
  docs/overrides/assets/favicon.png
  docs/requirements.txt
Labels: documentation, size/m, Review effort [1-5]: 2

#8201 feat(prod): Set up prod values infra
  autogpt_platform/infra/terraform/environments/prod.tfvars
Labels: size/l, Review effort [1-5]: 3

#8202 feat(infra): Add prod redis values
  autogpt_platform/infra/helm/redis-values.prod.yaml
Labels: size/m, Review effort [1-5]: 2

#8194 feat(platform): Sync on new UI design
  autogpt_platform/frontend/src/app/auth/callback/route.ts
  autogpt_platform/frontend/src/app/build/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/login/actions.ts
  autogpt_platform/frontend/src/app/login/page.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/NavBar.tsx
  autogpt_platform/frontend/src/components/NavBarButtons.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/edit/control/ControlPanel.tsx
  autogpt_platform/frontend/src/components/flow.css
  autogpt_platform/frontend/src/components/ui/button.tsx
Labels: size/l, Review effort [1-5]: 3, platform/frontend

#8205 tweak(infra): Update prod market ingres host
  autogpt_platform/infra/helm/autogpt-market/values.prod.yaml
Labels: size/s, Review effort [1-5]: 1

#8198 fix(platform): Fix NPM security vulnerabilities upgrade next 14.2.4 -> 14.2.13
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, Review effort [1-5]: 1, platform/frontend

#8162 Feat(Builder): Add Google Maps Search Block
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/google_maps.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/l, platform/backend

#8213 fix(platform) Fix stuck tutorial bug on add block step
  autogpt_platform/frontend/src/components/tutorial.ts
Labels: size/s, Review effort [1-5]: 2, platform/frontend

#8216 Added Replicate Flux Blocks for image generation
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/replicate_flux_advanced.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/xl, Review effort [1-5]: 3, Block, platform/backend, platform/blocks

#8222 Remove fluxdev from AI Generation block due to licence restrictions.
  autogpt_platform/backend/backend/blocks/replicate_flux_advanced.py
Labels: size/s, Review effort [1-5]: 1, platform/backend

#8217 feat(blocks): Add shortform video block
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/l, Review effort [1-5]: 4, Block, platform/backend, platform/blocks

#8221 feat(blocks): Add AI List Generator block
  autogpt_platform/backend/backend/blocks/llm.py
Labels: size/l, Review effort [1-5]: 4, platform/backend, platform/blocks

#8219 tweak(blocks): Simplify iteration block to output list items
  autogpt_platform/backend/backend/blocks/iteration.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#8228 tweak(blocks): Add option for simple raw content scraping to ExtractWebsiteContentBlock
  autogpt_platform/backend/backend/blocks/search.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#8230 dx: Auto-label block PRs
  .github/labeler.yml
Labels: project management, size/s

#8233 fix(platform): Fix unexpected closing block list on tutorial
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/NavBarButtons.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
Labels: size/m, platform/frontend, platform/backend
