Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-06, with the labels that each got.

#7178 refactor(forge/llm): Create `BaseOpenAIProvider` -> deduplicate `GroqProvider` & `OpenAIProvider`
  autogpt/autogpt/app/configurator.py
  autogpt/tests/unit/test_config.py
  forge/forge/llm/providers/_openai_base.py
  forge/forge/llm/providers/anthropic.py
  forge/forge/llm/providers/groq.py
  forge/forge/llm/providers/multi.py
  forge/forge/llm/providers/openai.py
  forge/forge/llm/providers/schema.py
Labels: size/xl, AutoGPT Agent, Forge

#7165 feat(rnd): add FastAPI support to existing project outline
  rnd/autogpt_server/README.md
  rnd/autogpt_server/autogpt_server/agent_api/__init__.py
  rnd/autogpt_server/autogpt_server/agent_api/server.py
  rnd/autogpt_server/autogpt_server/agent_executor/__init__.py
  rnd/autogpt_server/autogpt_server/agent_executor/executor.py
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/data.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/test/test_app.py
  rnd/nextgenautogpt/README.md
  rnd/nextgenautogpt/nextgenautogpt/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/__main__.py
  rnd/nextgenautogpt/nextgenautogpt/cli.py
  rnd/nextgenautogpt/nextgenautogpt/executor/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/executor/executor.py
  rnd/nextgenautogpt/nextgenautogpt/manager/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/manager/manager.py
  rnd/nextgenautogpt/nextgenautogpt/server/__init__.py
  rnd/nextgenautogpt/nextgenautogpt/server/server.py
  rnd/nextgenautogpt/poetry.lock
Labels: size/xl

#7183 docs+fix(agent): Update LLM setup instructions & remove GPT-specific flags
  .github/ISSUE_TEMPLATE/1.bug.yml
  autogpt/README.md
  autogpt/autogpt/app/cli.py
  autogpt/autogpt/app/configurator.py
  autogpt/autogpt/app/main.py
  autogpt/tests/unit/test_config.py
  docs/content/AutoGPT/setup/docker.md
  docs/content/AutoGPT/setup/index.md
Labels: documentation, size/l, AutoGPT Agent

#7168 feat(db): Initialize Database Schema for AutoGPT server
  rnd/autogpt_server/autogpt_server/.gitignore
  rnd/autogpt_server/autogpt_server/schema.prisma
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/l

#7188 feat(autogpt,autogpt_server): Build AutoGPT's Constituent Parts for deployment
  assets/gpt_dark_RGB.icns
  assets/gpt_dark_RGB.ico
  autogpt/poetry.lock
  autogpt/pyproject.toml
  autogpt/setup.py
  rnd/autogpt_server/.gitignore
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/setup.py
  rnd/autogpt_server/test/test_app.py
Labels: enhancement, size/xl, AutoGPT Agent, Review effort [1-5]: 3, Configuration changes

#7190 Update file layout for autogpt server
  rnd/autogpt_server/.gitignore
  rnd/autogpt_server/autogpt_server/.gitignore
  rnd/autogpt_server/schema.prisma
Labels: enhancement, size/s, Review effort [1-5]: 3

#7192 chore(agent): Remove `LogCycleHandler`
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/app/log_cycle.py
Labels: size/l, AutoGPT Agent

#7202 fix(frontend): Sync models with `forge.agent_protocol`
  frontend/lib/models/step_request_body.dart
  frontend/lib/models/task_request_body.dart
  frontend/lib/viewmodels/chat_viewmodel.dart
  frontend/lib/views/chat/chat_view.dart
Labels: size/m, Frontend

#7205 feat(docs): add example uses and description of autogpt to the readme
  README.md
Labels: documentation, size/m, Review effort [1-5]: 1

#7194 feat(rnd): Implement agent block execution logic for AutoGPT Server
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/data.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/executor.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/test_app.py
Labels: size/xl

#7207 fix(docs): bad link from Options to built in components config
  docs/content/AutoGPT/configuration/options.md
Labels: documentation, size/s, Review effort [1-5]: 1

#7195 feat(rnd): CLI to Run and Stop the Server
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/cli.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/executor.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/setup.py
Labels: enhancement, size/xl, Review effort [1-5]: 4, tests

#7209 feat(rnd): Add missing code on execution logic for AutoGPT Server
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/executor/executor.py
  rnd/autogpt_server/schema.prisma
Labels: size/m

#7193 ci(server): Agent Server CI
  .github/workflows/autogpt-server-ci.yml
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/setup.py
Labels: enhancement, size/l, Review effort [1-5]: 4, tests

#7196 feat(forge): Unbreak `forge` agent
  cli.py
  forge/forge/__main__.py
  forge/forge/agent/forge_agent.py
  forge/forge/agent_protocol/agent.py
  forge/forge/agent_protocol/agent_test.py
  forge/forge/agent_protocol/api_router.py
  forge/forge/app.py
  forge/pyproject.toml
  forge/tutorials/003_crafting_agent_logic.md
Labels: size/l, Forge

#7213 chore(rnd): Fix warning during server tests
  rnd/autogpt_server/autogpt_server/server/server.py
Labels: enhancement, size/m, Bug fix, Review effort [1-5]: 3

#7220 fix(agent, forge): Make LLM API key check provider-agnostic
  autogpt/autogpt/app/main.py
  forge/forge/config/__init__.py
  forge/forge/config/config.py
Labels: size/l, AutoGPT Agent, Forge

#7224 fix(agent): Fix resumption from mid-cycle state in CLI mode
  autogpt/autogpt/app/main.py
Labels: size/m, AutoGPT Agent

#7170 feat(forge): Component-specific configuration
  autogpt/.env.template
  autogpt/README.md
  autogpt/autogpt/agent_factory/configurators.py
  autogpt/autogpt/agent_factory/generators.py
  autogpt/autogpt/agent_factory/profile_generator.py
  autogpt/autogpt/agents/README.md
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/app/agent_protocol_server.py
  autogpt/autogpt/app/cli.py
  autogpt/autogpt/app/config.py
  autogpt/autogpt/app/configurator.py
  autogpt/autogpt/app/main.py
  autogpt/autogpt/app/setup.py
  autogpt/tests/conftest.py
  autogpt/tests/integration/agent_factory.py
  autogpt/tests/integration/test_execute_code.py
  autogpt/tests/integration/test_image_gen.py
  autogpt/tests/integration/test_setup.py
  autogpt/tests/unit/test_config.py
  autogpt/tests/unit/test_git_commands.py
  autogpt/tests/unit/test_web_search.py
  docs/content/AutoGPT/configuration/imagegen.md
  docs/content/AutoGPT/configuration/options.md
  docs/content/AutoGPT/configuration/search.md
  docs/content/AutoGPT/usage.md
  docs/content/forge/components/built-in-components.md
  docs/content/forge/components/creating-components.md
  docs/content/forge/components/introduction.md
  docs/mkdocs.yml
  forge/forge/agent/base.py
  forge/forge/agent/components.py
  forge/forge/components/README.md
  forge/forge/components/action_history/action_history.py
  forge/forge/components/action_history/model.py
  forge/forge/components/code_executor/__init__.py
  forge/forge/components/code_executor/code_executor.py
  forge/forge/components/file_manager/file_manager.py
  forge/forge/components/git_operations/git_operations.py
  forge/forge/components/image_gen/image_gen.py
  forge/forge/components/user_interaction/user_interaction.py
  forge/forge/components/watchdog/watchdog.py
  forge/forge/components/web/search.py
  forge/forge/components/web/selenium.py
  forge/forge/config/__init__.py
  forge/forge/config/base.py
  forge/forge/content_processing/text.py
  forge/forge/models/config.py
Labels: documentation, size/xl, AutoGPT Agent, Forge

#7212 feat(rnd): Add IPC support on autogpt_server
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/cli.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/__init__.py
  rnd/autogpt_server/autogpt_server/executor/executor.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/__init__.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/process.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/setup.py
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/test_app.py
  rnd/autogpt_server/test/util/test_service.py
Labels: size/xl

#7237 feat(rnd): Add node metadata on Agent Server Node object
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/schema.prisma
Labels: size/s

#7226 feat(rnd): Add AutoGPT server scheduling service
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/executor/test_scheduler.py
  rnd/autogpt_server/test/util/test_service.py
Labels: size/xl

#7254 Update DuckDuckGo search to 6.1.7
  autogpt/poetry.lock
  forge/poetry.lock
  forge/pyproject.toml
Labels: size/l, AutoGPT Agent, Forge

#7215 docs(forge): Update and rename QUICKSTART.md to FORGE-QUICKSTART.md
  FORGE-QUICKSTART.md
Labels: documentation, size/m, Review effort [1-5]: 2

#7231 feat(rnd): Refactor AgentServer Node Input/Output Relation & Block output interface
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/xl

#7266 Add support for nextjs based app
  .gitignore
  rnd/autogpt_builder/.eslintrc.json
  rnd/autogpt_builder/.gitignore
  rnd/autogpt_builder/README.md
  rnd/autogpt_builder/next.config.mjs
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/postcss.config.mjs
  rnd/autogpt_builder/public/autogpt.svg
  rnd/autogpt_builder/src/app/favicon.ico
  rnd/autogpt_builder/src/app/globals.css
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/app/page.tsx
  rnd/autogpt_builder/tailwind.config.ts
  rnd/autogpt_builder/tsconfig.json
Labels: enhancement, size/l, Review effort [1-5]: 3

#7270 Add reactflow component in AutoGPT builder
  rnd/autogpt_builder/.env.example
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/page.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/flow.css
Labels: size/xl

#7272 feat(server): Add settings with secrets and configuration with API updating and Saving to file
  rnd/autogpt_server/.gitignore
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/data.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/config.default.json
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/secrets/.gitkeep
Labels: enhancement, size/l, Review effort [1-5]: 4, Configuration changes

#7268 feat(rnd): Add support for dynamic input as list for AgentServer Block
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/m

#7271 feat(server, autogpt): Add Example files and update build option
  .github/workflows/autogpt-server-ci.yml
  .gitignore
  assets/gpt_dark_RGB.png
  autogpt/poetry.lock
  autogpt/pyproject.toml
  autogpt/setup.py
  rnd/autogpt_server/.gitignore
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/data.py
  rnd/autogpt_server/autogpt_server/util/process.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/config.default.json
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/secrets/.gitkeep
  rnd/autogpt_server/setup.py
  rnd/example_files/index.html
Labels: enhancement, size/xl, AutoGPT Agent, Review effort [1-5]: 4, other

#7267 ci(builder): Add CI for AutoGPT Builder
  .github/workflows/autogpt-builder-ci.yml
Labels: enhancement, size/m, Review effort [1-5]: 2, Configuration changes

#7286 chore(agent, forge, benchmark): Clean up dependencies
  autogpt/poetry.lock
  autogpt/pyproject.toml
  benchmark/poetry.lock
  benchmark/pyproject.toml
  forge/poetry.lock
  forge/pyproject.toml
Labels: size/xl, AutoGPT Agent, Forge, Benchmark

#7275 Updating api calls in AutoGPT builder
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m
