Repository Significant-Gravitas/AutoGPT, pull requests merged in 2024-07, with the labels that each got.

#7293 fix readme (broken link)
  README.md
Labels: size/s, Review effort [1-5]: 1

#7298 fix(agent): Make build dependencies optional to unbreak install
  autogpt/poetry.lock
  autogpt/pyproject.toml
Labels: setup, size/m, AutoGPT Agent

#7228 feat(agent, forge): Markdown-formatted history -> message history
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/agents/prompt_strategies/one_shot.py
  docs/content/forge/components/built-in-components.md
  forge/forge/agent/forge_agent.py
  forge/forge/components/action_history/action_history.py
  forge/forge/models/action.py
Labels: documentation, size/l, AutoGPT Agent, Forge

#7223 Update `CodeFlowPromptStrategy` with upstream changes
  autogpt/autogpt/agents/prompt_strategies/code_flow.py
Labels: size/m, AutoGPT Agent

#7296 (rnd) Add support for multiple, dynamic inputs
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/custominput.css
  rnd/autogpt_builder/src/components/customnode.css
Labels: enhancement, size/xl, Bug fix, Review effort [1-5]: 4

#7280 feat: Update pydantic to v2
  autogpt/autogpt/agent_factory/configurators.py
  autogpt/autogpt/agent_factory/profile_generator.py
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/agents/prompt_strategies/one_shot.py
  autogpt/autogpt/app/agent_protocol_server.py
  autogpt/autogpt/app/config.py
  autogpt/poetry.lock
  autogpt/pyproject.toml
  autogpt/tests/conftest.py
  autogpt/tests/integration/agent_factory.py
  benchmark/agbenchmark/__main__.py
  benchmark/agbenchmark/app.py
  benchmark/agbenchmark/challenges/builtin.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_in/abstract_class.py
  benchmark/agbenchmark/challenges/verticals/code/6_battleship/artifacts_out/abstract_class.py
  benchmark/agbenchmark/challenges/webarena.py
  benchmark/agbenchmark/config.py
  benchmark/agbenchmark/reports/ReportManager.py
  benchmark/agbenchmark/reports/processing/process_report.py
  benchmark/agbenchmark/reports/processing/report_types.py
  benchmark/agbenchmark/reports/processing/report_types_v2.py
  benchmark/agbenchmark/reports/reports.py
  benchmark/agbenchmark/schema.py
  benchmark/agbenchmark/utils/dependencies/main.py
  benchmark/agbenchmark/utils/utils.py
  benchmark/poetry.lock
  benchmark/pyproject.toml
  benchmark/reports/format.py
  benchmark/reports/match_records.py
  forge/forge/agent/base.py
  forge/forge/agent/components.py
  forge/forge/agent/forge_agent.py
  forge/forge/agent_protocol/models/artifact.py
  forge/forge/agent_protocol/models/pagination.py
  forge/forge/agent_protocol/models/task.py
  forge/forge/components/action_history/model.py
  forge/forge/components/code_executor/code_executor.py
  forge/forge/components/file_manager/file_manager.py
  forge/forge/components/git_operations/git_operations.py
  forge/forge/components/image_gen/image_gen.py
  forge/forge/components/web/search.py
  forge/forge/config/ai_directives.py
  forge/forge/llm/prompting/schema.py
  forge/forge/llm/providers/_openai_base.py
  forge/forge/llm/providers/anthropic.py
  forge/forge/llm/providers/multi.py
  forge/forge/llm/providers/openai.py
  forge/forge/llm/providers/schema.py
  forge/forge/models/action.py
  forge/forge/models/config.py
  forge/forge/models/json_schema.py
  forge/forge/models/providers.py
  forge/poetry.lock
  forge/pyproject.toml
Labels: size/xl, AutoGPT Agent, Forge, Benchmark

#7232 docs(agent, forge): Update component configuration docs
  docs/content/AutoGPT/configuration/options.md
  docs/content/AutoGPT/setup/docker.md
  docs/content/AutoGPT/setup/index.md
  docs/content/forge/components/built-in-components.md
  docs/content/forge/components/creating-components.md
  docs/content/forge/components/introduction.md
  docs/content/forge/get-started.md
  forge/forge/components/README.md
Labels: documentation, size/l, Forge

#7301 feat: Add support for Claude 3.5 Sonnet
  forge/forge/llm/providers/anthropic.py
Labels: enhancement, size/s, Forge, Review effort [1-5]: 2

#7303 fix(forge): Add `google-api-python-client-stubs` and fix type error
  autogpt/poetry.lock
  forge/forge/components/web/search.py
  forge/poetry.lock
  forge/pyproject.toml
Labels: size/m, AutoGPT Agent, Forge

#7288 feat(rnd): Add strong pydantic type & composite data extraction for Block input/output schema + add reddit agent-blocks
  rnd/autogpt_server/autogpt_server/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/blocks/object.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/sample.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/__init__.py
  rnd/autogpt_server/autogpt_server/util/json.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/test/__init__.py
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/usecases/reddit_marketing.py
Labels: size/xl

#7319 feat(autogpt_builder) Update custom node to handle deeply nested structures
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/webpack.config.js
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/setup.py
Labels: enhancement, size/xl, Bug fix, Review effort [1-5]: 4

#7316 feat(agent_builder): Add shad/cn UI library
  rnd/autogpt_builder/components.json
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/public/favicon.ico
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/components/custominput.css
  rnd/autogpt_builder/src/components/ui/button.tsx
  rnd/autogpt_builder/src/components/ui/input.tsx
  rnd/autogpt_builder/tailwind.config.ts
  rnd/autogpt_builder/yarn.lock
Labels: size/xl

#7328 feat(autogpt_builder): Add simple `AutoGPTServerAPI` client
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
  rnd/autogpt_builder/src/lib/types.ts
Labels: size/l

#7330 feat(autogpt_server): Add `GET /graphs/{graph_id}/executions` endpoint
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/usecases/reddit_marketing.py
Labels: size/m

#7291 feat(agent server): Added websocket communication
  rnd/autogpt_server/README.md
  rnd/autogpt_server/autogpt_server/cli.py
  rnd/autogpt_server/autogpt_server/data/__init__.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/conn_manager.py
  rnd/autogpt_server/autogpt_server/server/model.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/server/ws_api.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/server/test_con_manager.py
  rnd/autogpt_server/test/server/test_ws_api.py
Labels: enhancement, size/xl, Review effort [1-5]: 4, tests, dependencies

#7338 feat(autogpt_builder): Enable loading an existing flow
  rnd/autogpt_builder/src/app/page.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/l

#7342 feast(agent server) Add populate db command
  rnd/autogpt_server/README.md
  rnd/autogpt_server/autogpt_server/cli.py
Labels: enhancement, size/l, Review effort [1-5]: 3

#7343 fix(autogpt_server): Changed inconstant timestamps to all use UTC
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/test/server/test_con_manager.py
Labels: size/m, Bug fix, Review effort [1-5]: 2

#7345 feat(agent_builder): Updates to Builder GUI + Nodes
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/ModalComponent.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/src/components/flow.css
  rnd/autogpt_builder/src/components/modal.css
  rnd/autogpt_builder/src/components/ui/textarea.tsx
Labels: size/l

#7347 feat(autogpt_builder) Hook up execution progress animation to live execution data
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: enhancement, size/m, Review effort [1-5]: 3

#7348 fix(agent_server): Fix async issue with executor integration test
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/s, Bug fix, Review effort [1-5]: 2, tests

#7349 fix(rnd): Avoid expensive call of get_service_client on block execution
  rnd/autogpt_server/autogpt_server/executor/manager.py
Labels: enhancement, size/m, Bug fix, Review effort [1-5]: 4

#7310 feat(rnd): Add Agent Block sample/test input output for auto-generated unit testing for block
  rnd/autogpt_server/README.md
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/blocks/object.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/sample.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/mock.py
  rnd/autogpt_server/test/block/test_block.py
Labels: size/l

#7353 feat(autogpt_builder) Remove submit button
  rnd/autogpt_builder/src/components/CustomNode.tsx
Labels: enhancement, size/s, Review effort [1-5]: 2

#7355 fix(doc): Fix Auto GPT server `Running The Server` doc
  rnd/autogpt_server/README.md
Labels: size/s

#7356 Fix issue with node inputs
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/ModalComponent.tsx
Labels: size/m

#7357 Reads data from .env
  rnd/autogpt_builder/next.config.js
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m

#7360 fix(doc): Fix Auto GPT server Running The Server doc
  rnd/autogpt_server/README.md
Labels: size/l

#7361 feat(builder) Add save Agent functionality
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: enhancement, size/l, Review effort [1-5]: 3

#7350 feat(autogpt_server): Expose rest api via websocket
  rnd/autogpt_server/autogpt_server/server/conn_manager.py
  rnd/autogpt_server/autogpt_server/server/model.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/test/server/test_con_manager.py
  rnd/autogpt_server/test/server/test_ws_api.py
Labels: enhancement, size/l, Review effort [1-5]: 4, tests, API

#7363 feat(agpt_builder) Fix data persistance on agent execution
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/customnode.css
Labels: enhancement, size/m, Bug fix, Review effort [1-5]: 4

#7358 feat(autogpt_builder): swapping to white theme for the layout
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/build/page.tsx
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/ModalComponent.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/src/components/flow.css
  rnd/autogpt_builder/src/components/modal.css
Labels: size/l

#7366 tweak(ui): Tweaked light mode color
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/components/ui/button.tsx
Labels: enhancement, size/s, Review effort [1-5]: 2

#7369 tweak(ui): Switch from modal.css to tailwindcss classes
  rnd/autogpt_builder/src/components/ModalComponent.tsx
  rnd/autogpt_builder/src/components/modal.css
Labels: enhancement, conflicts, size/l, Bug fix, Review effort [1-5]: 3

#7335 feat(autogpt_builder): Initial Monitor page implementation
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/monitor/page.tsx
  rnd/autogpt_builder/src/components/ui/badge.tsx
  rnd/autogpt_builder/src/components/ui/calendar.tsx
  rnd/autogpt_builder/src/components/ui/popover.tsx
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_builder/yarn.lock
Labels: enhancement, size/xl, dependencies

#7370 aarushikansal/flow stats scroll legend
  rnd/autogpt_builder/src/app/monitor/page.tsx
Labels: enhancement, size/m, Review effort [1-5]: 4, dependencies

#7371 fix to make monitor use env
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
Labels: size/s

#7375 feat(builder): add button for showing/hiding optional inputs
  rnd/autogpt_builder/src/components/CustomNode.tsx
Labels: size/m

#7377 chore(rnd): Update animation direction for customnode.css to "ping-pong"
  rnd/autogpt_builder/src/components/customnode.css
Labels: enhancement, size/s, Review effort [1-5]: 1

#7285 feat(dx): add a code-workspace for vscode
  .vscode/all-projects.code-workspace
Labels: enhancement, size/m, Review effort [1-5]: 2, Configuration changes

#7379 fix(autogpt_builder): Restore node input presets when loading a flow
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/s

#7386 feat(autogpt_builder) Add logic for node disconnection
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Bug fix, Review effort [1-5]: 2

#7383 feat(autogpt_builder) Remove saving of execution data into sink node
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: enhancement, size/m, Review effort [1-5]: 2

#7373 feat(builder): Add service-level creds access for agent blocks
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/cli.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/test/usecases/reddit_marketing.py
Labels: size/l

#7384 feat(Builder): Adds node to get summary from wikipedia
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/wikipedia.py
Labels: size/m

#7340 fix(agent, forge): Silence Pydantic v2 protected namespace `model_` warning
  autogpt/autogpt/agent_factory/profile_generator.py
  autogpt/autogpt/agents/agent.py
  autogpt/autogpt/agents/prompt_strategies/one_shot.py
  docs/content/forge/components/built-in-components.md
  forge/forge/components/README.md
  forge/forge/components/action_history/action_history.py
  forge/forge/components/web/selenium.py
  forge/forge/llm/prompting/base.py
  forge/forge/llm/providers/_openai_base.py
  forge/forge/llm/providers/anthropic.py
  forge/forge/llm/providers/schema.py
Labels: documentation, size/m, AutoGPT Agent, Forge

#7381 feat(Builder): Adds node to send messages to discord webhook
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/discord.py
Labels: size/m

#7385 feat(autogpt_builder): Monitor page v0.2
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/app/monitor/page.tsx
Labels: size/l

#7390 feat: push the limit for open handles
  .github/workflows/autogpt-server-ci.yml
Labels: enhancement, size/s, AutoGPT Agent, Forge, Review effort [1-5]: 2, Configuration changes

#7395 feat(docs): add server new node docs
  docs/content/server/new_nodes.md
  docs/mkdocs.yml
Labels: documentation, size/l, Review effort [1-5]: 2

#7365 feat(rnd): AutoGPT Agent wrapper for Agent Server
  .github/workflows/autogpt-server-ci.yml
  autogpt/autogpt/agents/agent.py
  autogpt/poetry.lock
  forge/poetry.lock
  forge/pyproject.toml
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/agent.py
  rnd/autogpt_server/autogpt_server/cli.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/xl, AutoGPT Agent, Forge

#7408 tweak(rnd): Update AutoGPT logo file to be larger
  rnd/autogpt_builder/public/AUTOgpt_Logo_dark.png
  rnd/autogpt_builder/public/autogpt_logo_dark.svg
  rnd/autogpt_builder/src/app/build/page.tsx
Labels: enhancement, Review effort [1-5]: 1

#7402 tweak(docs): Make link to The AutoGPT Server more prominant in docs navbar.
  docs/mkdocs.yml
Labels: documentation, Review effort [1-5]: 1

#7432 feat(autogpt_builder): Agent Versioning
  rnd/autogpt_builder/src/app/monitor/page.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/ui/dropdown-menu.tsx
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
  rnd/autogpt_builder/src/lib/utils.ts
Labels: size/l

#7414 feat(Builder): Updates to Nodes UI
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/customnode.css
Labels: size/l

#7387 feat(autogpt_server): Implement Agent Versioning
  rnd/autogpt_builder/src/app/monitor/page.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/ui/dropdown-menu.tsx
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/model.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/executor/test_scheduler.py
  rnd/autogpt_server/test/server/test_con_manager.py
Labels: enhancement, size/xl, Review effort [1-5]: 4, tests

#7435 feat(autogpt_builder): Fixes to wikipedia block
  rnd/autogpt_server/autogpt_server/blocks/wikipedia.py
Labels: size/s, Bug fix, Block

#7434 feat(blocks): Add support for additional LLM providers to LLM Block
  rnd/autogpt_server/autogpt_server/blocks/ai.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/l, Block

#7376 feat(autogpt_server, autogpt_builder): Add Agent Versioning & Templates functionality
  rnd/autogpt_builder/src/app/monitor/page.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/ui/dropdown-menu.tsx
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_server/autogpt_server/cli.py
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/model.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/executor/test_scheduler.py
  rnd/autogpt_server/test/server/test_con_manager.py
  rnd/autogpt_server/test/usecases/reddit_marketing.py
Labels: enhancement, size/xl, Review effort [1-5]: 4

#7449 feat(autogpt_builder): Add websocket support to replace polling
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
Labels: size/m

#7405 feat(rnd): Refactor Block testing infra and Add Block auto-generation graph usecase
  rnd/autogpt_server/README.md
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/blocks/block.py
  rnd/autogpt_server/autogpt_server/blocks/discord.py
  rnd/autogpt_server/autogpt_server/blocks/http.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/sample.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/cli.py
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/usecases/block_autogen.py
  rnd/autogpt_server/autogpt_server/usecases/reddit_marketing.py
  rnd/autogpt_server/autogpt_server/usecases/sample.py
  rnd/autogpt_server/autogpt_server/util/test.py
  rnd/autogpt_server/test/block/test_block.py
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/executor/test_scheduler.py
Labels: size/xl

#7426 fix(server): Fix bug in time comparison logic in RedditGetPostsBlock
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
Labels: size/m, Bug fix, Block

#7427 feat(server): Add DictionaryLookup block for looking up values in a dictionary
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/blocks/wikipedia.py
Labels: size/m, Block

#7445 feat(blocks): Add WebSearch & WebScrapper block for searching the web with Jina Reader
  rnd/autogpt_server/README.md
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/search.py
  rnd/autogpt_server/autogpt_server/blocks/wikipedia.py
  rnd/autogpt_server/autogpt_server/usecases/reddit_marketing.py
  rnd/autogpt_server/autogpt_server/util/test.py
Labels: size/l, Block

#7431 feat(blocks): Add summariser block for recursive text summarization functionality
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/usecases/block_autogen.py
  rnd/autogpt_server/autogpt_server/usecases/reddit_marketing.py
Labels: size/l, Block

#7455 feat(autogpt_builder): Fix Read API base URL from `.env`
  rnd/autogpt_builder/next.config.js
  rnd/autogpt_builder/next.config.mjs
Labels: size/m

#7451 feat(agent_builder, agent_server): Add customizable placeholders for input fields
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_server/autogpt_server/blocks/agent.py
  rnd/autogpt_server/autogpt_server/data/model.py
Labels: size/m

#7457 feat(doc): Remove excessive docs for AutoGPT server
  rnd/README.md
  rnd/autogpt_server/README.md
Labels: size/m

#7437 feat(agent_builder): Add block input fields description tooltip
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/SchemaTooltip.tsx
  rnd/autogpt_builder/src/components/ui/tooltip.tsx
  rnd/autogpt_builder/src/lib/types.ts
  rnd/autogpt_builder/yarn.lock
  rnd/autogpt_server/autogpt_server/blocks/agent.py
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/model.py
Labels: size/xl

#7458 feat(rnd): Add code-formatter & linting on AutoGPT server
  .github/workflows/autogpt-server-ci.yml
  rnd/autogpt_server/README.md
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/agent.py
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/blocks/block.py
  rnd/autogpt_server/autogpt_server/blocks/http.py
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/search.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/cli.py
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/model.py
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/autogpt_server/executor/__init__.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/conn_manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/server/ws_api.py
  rnd/autogpt_server/autogpt_server/usecases/block_autogen.py
  rnd/autogpt_server/autogpt_server/usecases/reddit_marketing.py
  rnd/autogpt_server/autogpt_server/usecases/sample.py
  rnd/autogpt_server/autogpt_server/util/json.py
  rnd/autogpt_server/autogpt_server/util/process.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/autogpt_server/util/test.py
  rnd/autogpt_server/code.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/setup.py
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/executor/test_scheduler.py
  rnd/autogpt_server/test/server/test_con_manager.py
  rnd/autogpt_server/test/server/test_ws_api.py
  rnd/autogpt_server/test/util/test_service.py
Labels: size/xl

#7439 feat(agent_builder): Human-readable titles for blocks and fields
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/data/model.py
Labels: size/m

#7091 feat(forge/llm): Add `LlamafileProvider`
  autogpt/.env.template
  autogpt/scripts/llamafile/.gitignore
  autogpt/scripts/llamafile/serve.py
  docs/content/AutoGPT/configuration/options.md
  docs/content/AutoGPT/setup/index.md
  forge/forge/llm/providers/llamafile/README.md
  forge/forge/llm/providers/llamafile/__init__.py
  forge/forge/llm/providers/llamafile/llamafile.py
  forge/forge/llm/providers/multi.py
  forge/forge/llm/providers/schema.py
Labels: documentation, size/xl, local llm, AutoGPT Agent, Forge

#7468 refactor(builder): Clean up `AutoGPTServerAPI` implementation
  rnd/autogpt_builder/src/app/monitor/page.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
Labels: size/l

#7466 feat(builder): Importing/exporting Agents and Templates
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/app/build/page.tsx
  rnd/autogpt_builder/src/app/monitor/page.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/agent-import-form.tsx
  rnd/autogpt_builder/src/components/ui/dialog.tsx
  rnd/autogpt_builder/src/components/ui/dropdown-menu.tsx
  rnd/autogpt_builder/src/components/ui/form.tsx
  rnd/autogpt_builder/src/components/ui/input.tsx
  rnd/autogpt_builder/src/components/ui/label.tsx
  rnd/autogpt_builder/src/components/ui/switch.tsx
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_builder/yarn.lock
  rnd/autogpt_server/autogpt_server/data/graph.py
Labels: size/xl, UI, Builder

#7474 feat(builder): Fix message covering navbar on < lg screen size
  rnd/autogpt_builder/src/app/build/page.tsx
Labels: size/m, Builder

#7480 feat(block): Add support for GPT-4O Mini model in LLM block
  rnd/autogpt_server/autogpt_server/blocks/llm.py
Labels: size/s, Server

#7382 feat(blocks): Adds node to get weather from openweathermap
  rnd/autogpt_server/autogpt_server/blocks/search.py
  rnd/autogpt_server/autogpt_server/util/settings.py
Labels: size/m, Block, Server

#7487 tweak(Builder): Remove unnecessary node output heading in CustomNode component
  rnd/autogpt_builder/src/components/CustomNode.tsx
Labels: size/xs, Builder

#7490 feat(builder, server): hide secrets from the UI and mark them as secrets in the api
  rnd/autogpt_builder/.vscode/launch.json
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_server/autogpt_server/data/model.py
Labels: enhancement, size/l, Review effort [1-5]: 3, tests, Builder, Server

#7483 feat(builder): allow deletion of nodes and edges via del key
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: enhancement, size/xs, Review effort [1-5]: 1, Builder

#7489 tweak(builder): Replace erroneous mentions of "Properties" to "Output"
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/customnode.css
Labels: size/m, Builder

#7462 feat(doc): Update node creation docs
  docs/content/server/new_blocks.md
Labels: documentation, size/l

#7498 fix(server): various linting errors
  rnd/autogpt_server/autogpt_server/blocks/create_medium_post.py
  rnd/autogpt_server/autogpt_server/blocks/search.py
  rnd/autogpt_server/autogpt_server/data/model.py
  rnd/autogpt_server/autogpt_server/util/settings.py
Labels: size/m, Bug fix, Review effort [1-5]: 2, Server

#7497 fix(server): add create medium post test missing params
  rnd/autogpt_server/autogpt_server/blocks/create_medium_post.py
Labels: size/s, Review effort [1-5]: 1, tests, Server

#7496 fix(server): code.py as a filename overshadows an internal python file
  rnd/autogpt_server/linter.py
  rnd/autogpt_server/pyproject.toml
Labels: enhancement, size/s, Bug fix, Review effort [1-5]: 2, Server

#7478 Feat(Builder): Decrease the delay before a tooltip opens
  rnd/autogpt_builder/src/components/ui/tooltip.tsx
Labels: size/s, Builder

#7505 feat(blocks) Add ollama integration
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: enhancement, size/m, Review effort [1-5]: 3, Server

#7463 feat(rnd): Add block description and categories
  rnd/autogpt_server/.env.template
  rnd/autogpt_server/autogpt_server/blocks/agent.py
  rnd/autogpt_server/autogpt_server/blocks/basic.py
  rnd/autogpt_server/autogpt_server/blocks/block.py
  rnd/autogpt_server/autogpt_server/blocks/create_medium_post.py
  rnd/autogpt_server/autogpt_server/blocks/http.py
  rnd/autogpt_server/autogpt_server/blocks/llm.py
  rnd/autogpt_server/autogpt_server/blocks/reddit.py
  rnd/autogpt_server/autogpt_server/blocks/search.py
  rnd/autogpt_server/autogpt_server/blocks/text.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/usecases/block_autogen.py
  rnd/autogpt_server/autogpt_server/usecases/reddit_marketing.py
  rnd/autogpt_server/autogpt_server/util/test.py
  rnd/autogpt_server/linter.py
Labels: size/l, Server

#7477 feat(builder, server): Speed up fetching graphs
  rnd/autogpt_builder/src/app/monitor/page.tsx
  rnd/autogpt_builder/src/lib/autogpt_server_api.ts
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/server/server.py
Labels: size/m, Builder, Server

#7501 feat(rnd): Add Agent block UUID validation for Agent Server
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/data/block.py
Labels: size/m, Server

#7470 docs: fix dead links
  docs/content/AutoGPT/configuration/options.md
  docs/content/AutoGPT/usage.md
Labels: documentation, size/s, Review effort [1-5]: 1

#7499 feat(server): read_csv block
  rnd/autogpt_server/autogpt_server/blocks/read_csv.py
Labels: enhancement, size/m, Review effort [1-5]: 3, Server

#7544 feat(Builder): Fix sidebar covering navbar
  rnd/autogpt_builder/src/components/flow.css
Labels: size/s, Builder

#7548 feat(builder): fix sidebar scroll issue
  rnd/autogpt_builder/src/components/flow.css
Labels: size/s, Builder

#7211 fix(ops/issues): update template for bugs
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: size/m, Review effort [1-5]: 1

#7546 Fix(rnd): Add Prerequisites Documentation in README.md (Server)
  rnd/autogpt_server/README.md
Labels: size/m, Review effort [1-5]: 1, Server

#7500 ci(all): verify the workflows as part of each run
  .github/workflows/scripts/check_actions_status.py
  .github/workflows/workflow-checker.yml
Labels: enhancement, size/m, Review effort [1-5]: 2, tests

#7511 feat(builder): Built-in templates
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/json.py
  rnd/autogpt_server/graph_templates/Medium Blogger_v28.json
Labels: size/l, Server

#7553 Update workflow-checker.yml
  .github/workflows/workflow-checker.yml
Labels: enhancement, size/m, Review effort [1-5]: 1

#7513 feat(rnd) Add Postgres support
  .github/workflows/autogpt-server-ci.yml
  rnd/autogpt_server/.env.example
  rnd/autogpt_server/README.advanced.md
  rnd/autogpt_server/README.md
  rnd/autogpt_server/autogpt_server/data/db.py
  rnd/autogpt_server/migrations/20240722143555_migrations/migration.sql
  rnd/autogpt_server/migrations/migration_lock.toml
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/postgres/migrations/20240722143307_migrations/migration.sql
  rnd/autogpt_server/postgres/migrations/migration_lock.toml
  rnd/autogpt_server/postgres/schema.prisma
  rnd/autogpt_server/pyproject.toml
  rnd/docker-compose.yml
Labels: enhancement, size/xl, Review effort [1-5]: 4, Configuration changes, Server

#7539 fix(rnd): Make Agent Server's pin connections become the mandatory source of input
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/data/schedule.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/executor/scheduler.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/test/conftest.py
  rnd/autogpt_server/test/executor/test_manager.py
  rnd/autogpt_server/test/executor/test_scheduler.py
Labels: size/l, Server

#7550 feat(builder): UX and style updates
  rnd/autogpt_builder/src/components/ConnectionLine.tsx
  rnd/autogpt_builder/src/components/CustomEdge.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/ModalComponent.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/SchemaTooltip.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/src/lib/utils.ts
Labels: size/xl, Builder

#7531 feat(Blocks): Add For-Each Block for iterating over a List.
  rnd/autogpt_server/autogpt_server/blocks/foreach_block.py
Labels: size/m, Block, Server

#7533 feat(Blocks): Add RSS Reader Block for reading RSS feeds
  rnd/autogpt_server/autogpt_server/blocks/rss-reader-block.py
  rnd/autogpt_server/autogpt_server/util/test.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/xl, Block, Server

#7563 feat(ci) Fix migrations in CI
  .github/workflows/autogpt-server-ci.yml
Labels: enhancement, size/s, Review effort [1-5]: 1, Bug fix

#7529 feat(Blocks): Add Blocks Providing Basic Arithmetic Operations
  rnd/autogpt_server/autogpt_server/blocks/maths.py
Labels: size/l, Block, Server

#7568 feat(rnd) Fix linting and formatting
  rnd/autogpt_server/autogpt_server/blocks/llm.py
Labels: enhancement, size/s, Review effort [1-5]: 2, Server, Formatting

#7575 feat(server): author and contributor information on blocks
  rnd/autogpt_server/autogpt_server/blocks/read_csv.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/autogpt_server/data/model.py
Labels: enhancement, size/m, Review effort [1-5]: 3, Server

#7573 feat(blocks): Add 405b on ollama
  rnd/autogpt_server/autogpt_server/blocks/llm.py
Labels: enhancement, size/s, Review effort [1-5]: 2, Server

#7554 feat(Builder): Limit Output preview size
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/InputModalComponent.tsx
  rnd/autogpt_builder/src/components/OutputModalComponent.tsx
Labels: size/m, Builder

#7495 feat(blocks): Add basic YouTube transcriber block
  rnd/autogpt_server/autogpt_server/blocks/youtube_transcriber.py
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
Labels: size/l, Block, Server

#7564 feat(Builder): Work on copy and paste of blocks
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Builder

#7523 feat(rnd) Add dockerfiles
  .dockerignore
  rnd/autogpt_builder/Dockerfile
  rnd/autogpt_server/.env.example
  rnd/autogpt_server/Dockerfile
  rnd/autogpt_server/migrations/20240719161138_init/migration.sql
  rnd/autogpt_server/migrations/migration_lock.toml
  rnd/autogpt_server/schema.prisma
Labels: enhancement, size/l, Review effort [1-5]: 3, Configuration changes, Builder, Server

#7580 feat(server) Update readme
  rnd/autogpt_server/.env.example
  rnd/autogpt_server/README.advanced.md
Labels: enhancement, size/m, Review effort [1-5]: 2, Server

#7581 refactor(builder): Move `renderInputField` to `NodeInputField` component
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/NodeInputField.tsx
Labels: size/xl, Builder

#7589 feat(server) Fix schema file
  rnd/autogpt_server/migrations/20240719161138_init/migration.sql
  rnd/autogpt_server/schema.prisma
Labels: enhancement, size/l, Review effort [1-5]: 1, Configuration changes, Server

#7586 ci(server): add sqlite processing
  .github/workflows/autogpt-server-ci.yml
Labels: enhancement, conflicts, size/m, Review effort [1-5]: 2, Configuration changes

#7583 fix(rnd): Disable BlockInstallationBlock and add disable field for block
  rnd/autogpt_server/autogpt_server/blocks/__init__.py
  rnd/autogpt_server/autogpt_server/blocks/block.py
  rnd/autogpt_server/autogpt_server/data/block.py
  rnd/autogpt_server/poetry.lock
Labels: size/l, Server

#7591 fix(Builder): fixes to copy and pasted blocks
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Builder

#7593 fixes #7198
  forge/tutorials/001_getting_started.md
  forge/tutorials/002_blueprint_of_an_agent.md
  forge/tutorials/003_crafting_agent_logic.md
Labels: size/m, Forge, Bug fix, Review effort [1-5]: 2

#7592 fix(builder): Correctly load node connections
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Builder

#7565 feat(rnd,infra) Set up terraform
  .github/workflows/autogpt-infra-ci.yml
  rnd/infra/terraform/.gitignore
  rnd/infra/terraform/.terraform.lock.hcl
  rnd/infra/terraform/environments/dev.tfvars
  rnd/infra/terraform/main.tf
  rnd/infra/terraform/modules/gke_cluster/main.tf
  rnd/infra/terraform/modules/gke_cluster/outputs.tf
  rnd/infra/terraform/modules/gke_cluster/variables.tf
  rnd/infra/terraform/modules/networking/main.tf
  rnd/infra/terraform/modules/networking/ouputs.tf
  rnd/infra/terraform/modules/networking/variables.tf
  rnd/infra/terraform/variables.tf
Labels: enhancement, size/l, Review effort [1-5]: 3, Configuration changes

#7068 Improvement in web commands functionalities
  autogpt/.env.template
  docs/content/forge/components/built-in-components.md
  forge/forge/components/web/search.py
  forge/forge/components/web/selenium.py
Labels: documentation, size/m, AutoGPT Agent, Forge

#7596 fix(server): gitignore was missing new file name
  rnd/autogpt_server/.gitignore
Labels: size/s, Server

#7599 dx: Set Python type checking mode to "basic" for all subprojects
  .vscode/all-projects.code-workspace
  autogpt/.vscode/settings.json
  benchmark/.vscode/settings.json
  forge/.vscode/settings.json
  rnd/autogpt_server/.vscode/settings.json
Labels: size/m, AutoGPT Agent, Forge, Benchmark, Server

#7588 feat(rnd, infra) Add static ips module
  rnd/infra/terraform/environments/dev.tfvars
  rnd/infra/terraform/main.tf
  rnd/infra/terraform/modules/static_ip/main.tf
  rnd/infra/terraform/modules/static_ip/outputs.tf
  rnd/infra/terraform/modules/static_ip/variables.tf
  rnd/infra/terraform/variables.tf
Labels: enhancement, size/m, Review effort [1-5]: 4, Configuration changes

#7536 feat(Blocks): Add conditional logic block
  rnd/autogpt_server/autogpt_server/blocks/if_block.py
Labels: size/l, Block, Server

#7551 feat(rnd): Fix concurrency issue on Agent Server & Apply max-1-execution-per-node constraint in graph execution
  rnd/autogpt_server/autogpt_server/app.py
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/lock.py
  rnd/autogpt_server/autogpt_server/util/settings.py
  rnd/autogpt_server/autogpt_server/util/test.py
  rnd/autogpt_server/config.default.json
  rnd/autogpt_server/migrations/20240724150133_node_input_unique_constraint/migration.sql
  rnd/autogpt_server/migrations/migration_lock.toml
  rnd/autogpt_server/poetry.lock
  rnd/autogpt_server/pyproject.toml
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/l, Server

#7603 fix(builder/api): Fix websocket client types
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/lib/autogpt-server-api/client.ts
Labels: size/m, Builder

#7619 fix(server): Add missing PG migrations
  rnd/autogpt_server/postgres/migrations/20240726131311_node_input_unique_constraint/migration.sql
  rnd/autogpt_server/postgres/schema.prisma
Labels: enhancement, size/m, Bug fix, Review effort [1-5]: 2, Server

#7620 fix(rnd): Fix broken server execution update due to split prisma connection to different loops
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/service.py
Labels: size/m, Server

#7605 Add Marketplace template
  rnd/market/.env.example
  rnd/market/.gitignore
  rnd/market/README.md
  rnd/market/docker-compose.yml
  rnd/market/linter.py
  rnd/market/market/__init__.py
  rnd/market/market/app.py
  rnd/market/market/routes/agents.py
  rnd/market/poetry.lock
  rnd/market/pyproject.toml
  rnd/market/schema.prisma
Labels: enhancement, size/xl, Review effort [1-5]: 3, Configuration changes

#7622 feat(builder): Apply standard theming for shadCn and centralize providers
  rnd/autogpt_builder/src/app/globals.css
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/app/providers.tsx
  rnd/autogpt_builder/tailwind.config.ts
Labels: enhancement, size/l, Review effort [1-5]: 3, Builder

#7606 feat(builder): Add input validation on the frontend
  rnd/autogpt_builder/package.json
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
  rnd/autogpt_builder/src/components/NodeHandle.tsx
  rnd/autogpt_builder/src/components/NodeInputField.tsx
  rnd/autogpt_builder/src/components/customnode.css
  rnd/autogpt_builder/src/lib/utils.ts
  rnd/autogpt_builder/yarn.lock
Labels: size/l, Builder

#7607 Update README.advanced.md
  rnd/autogpt_server/README.advanced.md
Labels: size/s, Review effort [1-5]: 1, Server

#7625 fix(builder): show colors for all statuses
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/customnode.css
Labels: enhancement, size/m, Review effort [1-5]: 2, Builder

#7614 feat(builder): add delete handles to the edges and nodes
  rnd/autogpt_builder/src/components/CustomEdge.tsx
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/customedge.css
  rnd/autogpt_builder/src/components/customnode.css
Labels: enhancement, size/l, Bug fix, Review effort [1-5]: 4, Builder

#7636 Fix(Builder): Copy and Paste when editing textbox causes graph elemen…
  rnd/autogpt_builder/src/components/CustomNode.tsx
  rnd/autogpt_builder/src/components/Flow.tsx
Labels: size/m, Builder

#7595 docs(server): written setup guide for server
  docs/content/server/advanced_setup.md
  docs/content/server/setup.md
  docs/mkdocs.yml
Labels: documentation, size/l, Review effort [1-5]: 2

#7631 feat(rnd): Add freezed/static input link feature for retaining input data to be re-used in multiple node executions
  rnd/autogpt_server/autogpt_server/data/execution.py
  rnd/autogpt_server/autogpt_server/data/graph.py
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/migrations/20240729051155_static_input_link/migration.sql
  rnd/autogpt_server/postgres/migrations/20240729061216_static_input_link/migration.sql
  rnd/autogpt_server/postgres/schema.prisma
  rnd/autogpt_server/schema.prisma
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/l, Server

#7641 fix(rnd): Disable unused prisma connection on pyro API Server process
  rnd/autogpt_server/autogpt_server/executor/manager.py
  rnd/autogpt_server/autogpt_server/server/server.py
  rnd/autogpt_server/autogpt_server/util/service.py
  rnd/autogpt_server/test/executor/test_manager.py
Labels: size/m, Server

#7643 docs(server): block wishlist
  docs/content/server/new_blocks.md
Labels: documentation, size/m, Review effort [1-5]: 2

#7647 feat(builder): UI / UX upgrade and simplification of tailwind styles
  rnd/autogpt_builder/src/app/build/page.tsx
  rnd/autogpt_builder/src/app/globals.css
  rnd/autogpt_builder/src/app/layout.tsx
  rnd/autogpt_builder/src/components/NavBar.tsx
  rnd/autogpt_builder/src/components/flow.css
  rnd/autogpt_builder/src/components/ui/sheet.tsx
Labels: enhancement, size/l, Bug fix, Review effort [1-5]: 3, Builder

#7645 fix(server): enable other methods of setting configs outside of the config.json file
  rnd/autogpt_server/autogpt_server/util/settings.py
Labels: enhancement, size/s, Bug fix, Review effort [1-5]: 2, Server
