Repository Significant-Gravitas/AutoGPT, pull requests merged in 2025-02, with the labels that each got.

#9389 fix(frontend): Show feedback if user exists on sign up
  autogpt_platform/frontend/src/app/signup/actions.ts
  autogpt_platform/frontend/src/app/signup/page.tsx
Labels: size/m, platform/frontend, platform/backend

#9383 fix(frontend): Fix typing for `dict`/`dict[Any, Any]` `SchemaField`
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/m, platform/frontend, platform/backend

#9391 fix(backend): Fix broken top-up flow
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/user.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#9392 fix(backend): Fix return url post top-up
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/frontend/src/app/marketplace/(user)/credits/page.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#9380 fix(backend): fix missing agent object requirement
  autogpt_platform/backend/backend/server/v2/store/db.py
Labels: size/s, Review effort [1-5]: 1, platform/backend

#9308 feat: add screenshotone block
  autogpt_platform/backend/backend/blocks/screenshotone.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend, platform/blocks

#9412 fix(backend): Fix doubly reported produced output
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#9418 fix(backend): Set the minimum auto top-up amount to 500 credits
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/marketplace/(user)/credits/page.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#9419 feat(frontend): Fix wordings for auto top-up feature
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/marketplace/(user)/credits/page.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#9390 feat(backend): Update llm models
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/l, platform/backend, platform/blocks

#9423 feat(frontend): Use USD value instead of cents credit value
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/frontend/src/app/marketplace/(user)/credits/page.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/NavBar.tsx
  autogpt_platform/frontend/src/components/agptui/CreditsCard.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/nav/CreditButton.tsx
  autogpt_platform/frontend/src/components/nav/MarketPopup.tsx
  autogpt_platform/frontend/src/components/nav/NavBarButtons.tsx
  autogpt_platform/frontend/src/hooks/useCredits.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend

#9426 feat(backend): Avoid multiple auto-top-ups within the same execution
  autogpt_platform/backend/backend/data/cost.py
  autogpt_platform/backend/backend/data/credit.py
Labels: size/m, Review effort [1-5]: 3, platform/backend

#9427 fix(backend): Charge user credits before its block execution
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, Review effort [1-5]: 3, platform/backend

#9430 feat(platform/external-api): Enhance the output from the external API on agent output
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
Labels: size/m, Review effort [1-5]: 3, platform/backend, platform/blocks

#9424 platform(fix): Fix missing Profiles
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/migrations/20250205100104_add_profile_trigger/migration.sql
  autogpt_platform/backend/migrations/20250205110132_add_missing_profiles/migration.sql
  autogpt_platform/frontend/src/app/marketplace/(user)/credits/page.tsx
  autogpt_platform/frontend/src/app/signup/actions.ts
  autogpt_platform/frontend/src/tests/profile.spec.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend

#9428 feat(frontend): Show toast on low credit balance, rename `Credits` page to `Billing`
  autogpt_platform/frontend/src/app/marketplace/(user)/credits/page.tsx
  autogpt_platform/frontend/src/app/marketplace/(user)/layout.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Labels: size/m, platform/frontend, platform/backend

#9435 platform(fix): Improve performance of builder
  autogpt_platform/frontend/src/components/CustomEdge.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend

#9332 feat(platform): Support opening graphs with version and execution id
  autogpt_platform/backend/backend/cli.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/conn_manager.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/backend/test/server/test_con_manager.py
  autogpt_platform/backend/test/server/test_ws_api.py
  autogpt_platform/frontend/src/app/build/page.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/utils.ts
Labels: size/xl, platform/frontend, platform/backend

#9441 fix(frontend): Prevent exception when Stripe env var is missing
  autogpt_platform/frontend/src/hooks/useCredits.ts
Labels: size/m, platform/frontend, platform/backend

#9439 fix(frontend): Fix beads when output is array
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Labels: size/s, platform/frontend, platform/backend

#9437 feat(infra): add rabbitmq to docker compose
  autogpt_platform/backend/.env.example
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
Labels: size/m, Review effort [1-5]: 2, platform/backend

#9438 feat(backend): attach rabbitmq to the AppService
  autogpt_platform/backend/backend/data/rabbitmq.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/l, Review effort [1-5]: 3, platform/backend

#9450 feature(block): Add XML Parser Block
  autogpt_platform/backend/backend/blocks/xml_parser.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/l, Review effort [1-5]: 2, platform/backend, platform/blocks

#9463 fix(market): Market featured agent card
  autogpt_platform/frontend/src/app/marketplace/page.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedStoreCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedStoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.stories.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
Labels: size/l, Review effort [1-5]: 2, platform/frontend, platform/backend

#9468 fix(backend): Support Python 3.10
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/l, platform/backend

#9448 docs: Provide feedback when cloning submodules
  autogpt_platform/README.md
  docs/content/platform/getting-started.md
Labels: documentation, size/s, Review effort [1-5]: 1, platform/backend

#9470 feat(block): Add batch matched result and its count on ExtractTextInformationBlock
  autogpt_platform/backend/backend/blocks/text.py
Labels: size/m, Review effort [1-5]: 2, platform/backend, platform/blocks

#9471 fix(frontend) update PublishAgentAwaitingReview router push path
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
Labels: size/s, platform/frontend, platform/backend

#9258 feat(backend): Library v2 Agents and Presets
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/model_test.py
  autogpt_platform/backend/backend/server/v2/library/routes.py
  autogpt_platform/backend/backend/server/v2/library/routes/__init__.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/migrations/20250107095812_preset_soft_delete/migration.sql
  autogpt_platform/backend/migrations/20250108084101_user_agent_to_library_agent/migration.sql
  autogpt_platform/backend/migrations/20250108084305_use_graph_is_active_version/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/xl, platform/frontend, platform/backend

#9464 feat(backend): spawn the notifications service + basic test
  .github/workflows/platform-backend-ci.yml
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/backend/backend/app.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/notifications/__init__.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/rest.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/docker-compose.platform.yml
Labels: size/l, Review effort [1-5]: 3, platform/backend

#9466 feat(platform): Add Dispute & Refund resolution process
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/encryption.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/migrations/20250214092857_add_refund_request/migration.sql
  autogpt_platform/backend/migrations/20250214101759_add_transaction_types/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/profile/(user)/credits/RefundModal.tsx
  autogpt_platform/frontend/src/app/profile/(user)/credits/page.tsx
  autogpt_platform/frontend/src/components/agptui/CreditsCard.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/hooks/useCredits.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend

#9497 fix(backend): correctly check if email service is set up
  autogpt_platform/backend/backend/notifications/email.py
Labels: size/s, platform/backend, Review effort 1/5

#9498 fix(frontend): Fix return type and usage of `api.listLibraryAgents()`
  autogpt_platform/backend/migrations/20250218135013_create_library_agents_for_existing_graphs/migration.sql
  autogpt_platform/frontend/src/app/build/page.tsx
  autogpt_platform/frontend/src/app/monitoring/page.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/monitor/AgentFlowList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsTimeline.tsx
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#9476 feat(settings): Rework user settings page with Form, loading skeleton…
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/profile/(user)/settings/actions.ts
  autogpt_platform/frontend/src/app/profile/(user)/settings/loading.tsx
  autogpt_platform/frontend/src/app/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.stories.tsx
  autogpt_platform/frontend/src/components/agptui/SettingsInputForm.tsx
  autogpt_platform/frontend/src/components/profile/settings/SettingsForm.tsx
  autogpt_platform/frontend/src/components/ui/skeleton.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend

#9387 feat(blocks): add base for smartlead, apollo, and zerobounce blocks
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/apollo/_api.py
  autogpt_platform/backend/backend/blocks/apollo/_auth.py
  autogpt_platform/backend/backend/blocks/apollo/models.py
  autogpt_platform/backend/backend/blocks/apollo/organization.py
  autogpt_platform/backend/backend/blocks/apollo/people.py
  autogpt_platform/backend/backend/blocks/smartlead/_api.py
  autogpt_platform/backend/backend/blocks/smartlead/_auth.py
  autogpt_platform/backend/backend/blocks/smartlead/campaign.py
  autogpt_platform/backend/backend/blocks/smartlead/models.py
  autogpt_platform/backend/backend/blocks/zerobounce/_api.py
  autogpt_platform/backend/backend/blocks/zerobounce/_auth.py
  autogpt_platform/backend/backend/blocks/zerobounce/validate_emails.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/app/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#9499 fix(frontend): Remove invalid font class names
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTable.tsx
  autogpt_platform/frontend/src/components/agptui/BreadCrumbs.tsx
  autogpt_platform/frontend/src/components/agptui/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenu.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenuLogoutButton.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentAwaitingReview.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/SearchBar.tsx
  autogpt_platform/frontend/src/components/agptui/Status.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 1/5

#9501 feat(backend): move failed messages into a dead letter queue
  autogpt_platform/backend/backend/notifications/notifications.py
Labels: size/l, platform/backend, Review effort 2/5

#9488 feat(backend): Notification Integration for credits system
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/templates/refund_processed.html.jinja2
  autogpt_platform/backend/backend/notifications/templates/refund_request.html.jinja2
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/migrations/20250220111649_add_refund_notifications/migration.sql
  autogpt_platform/backend/schema.prisma
Labels: size/l, platform/backend, Possible security concern, Review effort 4/5

#9503 fix(frontend): Fix `Run`/`Stop` button on Builder page refresh
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/m, platform/frontend, platform/backend

#9485 feat(frontend): Onboarding flow UI
  autogpt_platform/frontend/public/gpt_dark_RGB.svg
  autogpt_platform/frontend/public/integrations/d-id.png
  autogpt_platform/frontend/public/integrations/discord.png
  autogpt_platform/frontend/public/integrations/github.png
  autogpt_platform/frontend/public/integrations/google.png
  autogpt_platform/frontend/public/integrations/hubspot.png
  autogpt_platform/frontend/public/integrations/linear.png
  autogpt_platform/frontend/public/integrations/maps.png
  autogpt_platform/frontend/public/integrations/medium.png
  autogpt_platform/frontend/public/integrations/mem0.png
  autogpt_platform/frontend/public/integrations/notion.png
  autogpt_platform/frontend/public/integrations/nvidia.jpg
  autogpt_platform/frontend/public/integrations/openweathermap.png
  autogpt_platform/frontend/public/integrations/pinecone.png
  autogpt_platform/frontend/public/integrations/reddit.png
  autogpt_platform/frontend/public/integrations/slant3d.jpeg
  autogpt_platform/frontend/public/integrations/smtp.png
  autogpt_platform/frontend/public/integrations/todoist.png
  autogpt_platform/frontend/public/integrations/unreal-speech.png
  autogpt_platform/frontend/public/integrations/x.png
  autogpt_platform/frontend/public/placeholder.png
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/onboarding/1-welcome/page.tsx
  autogpt_platform/frontend/src/app/onboarding/2-reason/page.tsx
  autogpt_platform/frontend/src/app/onboarding/3-services/page.tsx
  autogpt_platform/frontend/src/app/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/onboarding/layout.tsx
  autogpt_platform/frontend/src/app/onboarding/page.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingAgentInput.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingBackButton.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingButton.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingGrid.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingInput.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingList.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingProgress.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingStep.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingText.tsx
  autogpt_platform/frontend/src/components/onboarding/StarRating.tsx
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/middleware.ts
Labels: size/xl, platform/frontend, platform/backend

#9420 feat: add Codecov test analytics for flaky and failed tests
  .github/workflows/classic-autogpt-ci.yml
  .github/workflows/classic-benchmark-ci.yml
  .github/workflows/classic-forge-ci.yml
Labels: size/m, Review effort [1-5]: 1, platform/backend

#9504 fix(frontend): Minor UI tweak, fix non-accessible button on phone screen
  autogpt_platform/frontend/src/app/profile/(user)/credits/page.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 1/5

#9508 feat(backend): Pyro to FastAPI migration for micro service
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/l, platform/backend, Review effort 4/5

#9512 fix(frontend): Minor UI changes; Align badges & buttons on LibraryV1
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsList.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 1/5

#9407 feat(platform/library): Agent Library v2
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/model_test.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/image_gen.py
  autogpt_platform/backend/backend/server/v2/store/media.py
  autogpt_platform/backend/migrations/20250203133647_add_image_url/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/frontend/next.config.mjs
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/library/page.tsx
  autogpt_platform/frontend/src/app/library/state-provider.tsx
  autogpt_platform/frontend/src/app/monitoring/page.tsx
  autogpt_platform/frontend/src/app/profile/(user)/page.tsx
  autogpt_platform/frontend/src/components/agent-import-form.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/Button.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
  autogpt_platform/frontend/src/components/library/library-action-header.tsx
  autogpt_platform/frontend/src/components/library/library-action-sub-header.tsx
  autogpt_platform/frontend/src/components/library/library-agent-card.tsx
  autogpt_platform/frontend/src/components/library/library-agent-list.tsx
  autogpt_platform/frontend/src/components/library/library-notification-card.tsx
  autogpt_platform/frontend/src/components/library/library-notification-dropdown.tsx
  autogpt_platform/frontend/src/components/library/library-search-bar.tsx
  autogpt_platform/frontend/src/components/library/library-sort-menu.tsx
  autogpt_platform/frontend/src/components/library/library-upload-agent-dialog.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/hooks/useScrollThreshold.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/tests/monitor.spec.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, platform/frontend, platform/backend

#9514 feat(blocks): Enabled block Usage for Smart Decision Maker Block
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/test/executor/test_tool_use.py
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Labels: size/l, platform/frontend, platform/backend, platform/blocks, Review effort 4/5

#9528 fix(backend): Use Pyro for RPC by default
  autogpt_platform/backend/backend/util/settings.py
Labels: size/s, platform/backend

#9529 fix(backend): Fix exception response on RPC error & Missing Graph `Running` Status
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, platform/backend, Review effort 2/5

#9531 fix(platform): Add Block Costs for SDM Block
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/s, platform/backend, Review effort 1/5

#9533 feat(backend): Propagate error arguments on RPC exceptions
  autogpt_platform/backend/backend/util/service.py
Labels: size/m, platform/backend, Review effort 2/5

#9535 fix(backend): allow more than one arg on the tuple
  autogpt_platform/backend/backend/util/service.py
Labels: size/s, platform/backend, Review effort 1/5

#9520 feat(backend): Add cost on node & graph execution stats
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/notifications/templates/agent_run.html.jinja2
  autogpt_platform/backend/backend/notifications/templates/base.html.jinja2
  autogpt_platform/backend/backend/util/text.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/l, platform/backend, Review effort 2/5

#9536 fix(frontend): Remove unused Stripe on frontend
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/profile/(user)/credits/page.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
  autogpt_platform/frontend/src/hooks/useCredits.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9527 feat(platform): Cost indication for agent runs
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/m, platform/frontend, platform/backend

#9540 feat(backend): Add conversation history as Smart Decision Block output
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/test/executor/test_tool_use.py
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Labels: size/l, platform/frontend, platform/backend, platform/blocks, Review effort 3/5
