Repository Significant-Gravitas/AutoGPT, pull requests merged in 2025-04, with the labels that each got.

#9724 fix(frontend): Sort agents by last edited date in publish dialog
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 1/5

#9715 fix(frontend): Fix date picker ux
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/ui/calendar.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9700 feat(frontend): Implement UI for Agent Input subtypes
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/media.py
  autogpt_platform/backend/backend/blocks/nvidia/deepfake.py
  autogpt_platform/backend/backend/blocks/screenshotone.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/type.py
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/NodeHandle.tsx
  autogpt_platform/frontend/src/components/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/history.ts
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputBlock.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputList.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputUI.tsx
  autogpt_platform/frontend/src/components/type-based-input.tsx
  autogpt_platform/frontend/src/components/ui/calendar.tsx
  autogpt_platform/frontend/src/components/ui/textarea.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, platform/frontend, platform/backend, platform/blocks, Review effort 3/5

#9704 feat: different signup error message
  autogpt_platform/frontend/src/app/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/AuthFeedback.tsx
  autogpt_platform/frontend/src/components/auth/help-item.tsx
Labels: size/l, platform/frontend, platform/backend

#9584 feat(blocks): add a generic webhook block
  autogpt_platform/backend/backend/blocks/generic_webhook/triggers.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/integrations/webhooks/generic.py
Labels: size/m, platform/backend, platform/blocks, Review effort 2/5

#9729 fix(ci/backend): Use Poetry version from lockfile
  .github/workflows/platform-backend-ci.yml
Labels: ci, size/m, platform/backend, Review effort 2/5

#9734 fix(backend): handle notification service errors more elegently
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/notifications/notifications.py
Labels: size/m, platform/backend, Review effort 2/5

#9597 refactor(backend): move the router files for postmark to not the v2 folder
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/postmark/__init__.py
  autogpt_platform/backend/backend/server/routers/postmark/models.py
  autogpt_platform/backend/backend/server/routers/postmark/postmark.py
Labels: size/s, platform/backend

#9748 fix(marketplace): Reduce margin between search bar and chips to 20px
  autogpt_platform/frontend/src/components/agptui/SearchBar.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
Labels: size/s, platform/frontend, platform/backend

#9744 fix(marketplace): Fix margin between divider and section on creators page
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 1/5

#9745 fix(marketplace): Fix margin between arrows and carousel
  autogpt_platform/frontend/src/components/ui/carousel.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 1/5

#9738 fix(marketplace): Add 58px bottom padding to creator page agents section on large screens
  autogpt_platform/frontend/src/app/marketplace/creator/[creator]/page.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 1/5

#9717 refactor(frontend): Clean up graph import & export logic
  autogpt_platform/frontend/src/components/agent-import-form.tsx
  autogpt_platform/frontend/src/components/library/library-upload-agent-dialog.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/utils.ts
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/l, platform/frontend, platform/backend, Review effort 2/5, tech debt

#9742 feat(backend, libs): Tell uvicorn to use our logger + always log to stdout+stderr
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/logging/formatters.py
  autogpt_platform/autogpt_libs/autogpt_libs/logging/utils.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
Labels: size/m, platform/backend, Review effort 2/5

#9680 fix(platform/library): Fix UX for webhook-triggered runs
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend, platform/blocks

#9749 docs(platform): Add WSL 2 recommendation for Docker on Windows
  docs/content/platform/getting-started.md
Labels: documentation, size/m, platform/backend, Review effort 1/5

#9740 feat(platform/library): Add real-time "Steps" count to agent run view
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/test/server/test_con_manager.py
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsTimeline.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#9753 update(docs): Remove out dated tutorial video from docs & readme
  README.md
  docs/content/platform/getting-started.md
Labels: size/m, Review effort 1/5

#9755 feat(frontend/library): Add "Open in builder" run action
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/components/agptui/action-button-group.tsx
  autogpt_platform/frontend/src/components/agptui/types.ts
Labels: size/l, platform/frontend, platform/backend

#9754 fix(frontend): bad handling on error prompts
  autogpt_platform/frontend/src/app/login/page.tsx
  autogpt_platform/frontend/src/app/reset_password/page.tsx
  autogpt_platform/frontend/src/app/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/AuthFeedback.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9756 feat(backend): baseline sentry logging
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/l, platform/backend, Review effort 2/5

#9758 fix(backend): Update deprecated code caused by upgrades
  autogpt_platform/autogpt_libs/autogpt_libs/logging/utils.py
  autogpt_platform/backend/backend/blocks/apollo/models.py
  autogpt_platform/backend/backend/blocks/fal/ai_video_generator.py
  autogpt_platform/backend/backend/blocks/hubspot/engagement.py
  autogpt_platform/backend/backend/blocks/jina/chunking.py
  autogpt_platform/backend/backend/blocks/jina/search.py
  autogpt_platform/backend/backend/blocks/linear/issues.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_members.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_tweets_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/manage_lists.py
  autogpt_platform/backend/backend/blocks/twitter/lists/pinned_lists.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/spaces_lookup.py
  autogpt_platform/backend/backend/data/analytics.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/backend/test/data/test_graph.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/backend/test/executor/test_scheduler.py
  autogpt_platform/backend/test/executor/test_tool_use.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/backend/test/util/test_service.py
Labels: size/xl, platform/backend, platform/blocks, Review effort 3/5

#9711 feat(frontend): Add advanced block search with relevance ranking
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/yarn.lock
Labels: size/m, platform/frontend, platform/backend, Review effort 3/5

#9737 fix(marketplace): Fix typography of heading in marketplace
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedCreators.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 1/5

#9772 fix(frontend): Fill defaults from schema to `hardcodedValues` in `CustomNode.tsx`
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
Labels: size/m, platform/frontend, platform/backend

#9764 fix(backend): ProviderName behavior when loading secrets
  autogpt_platform/backend/backend/integrations/creds_manager.py
Labels: size/s, platform/backend, Review effort 1/5

#9765 fix(backend): reduce log level for retrying connection
  autogpt_platform/backend/backend/util/retry.py
Labels: size/s, platform/backend, Review effort 1/5

#9750 refactor(backend): Un-share resource initializations from AppService + Remove Pyro
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/util/test_service.py
Labels: size/l, platform/backend, Review effort 2/5

#9788 feat(backend): Add new llama 4 maverick & scout models
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/s, platform/backend, platform/blocks, Review effort 1/5

#9777 fix(ci): Fix linter exit code on failure
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/linter.py
Labels: ci, size/m, platform/backend

#9793 fix(blocks): Fix block I/O value sharing
  autogpt_platform/backend/backend/blocks/apollo/models.py
  autogpt_platform/backend/backend/blocks/apollo/organization.py
  autogpt_platform/backend/backend/blocks/apollo/people.py
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/csv.py
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
  autogpt_platform/backend/backend/blocks/generic_webhook/triggers.py
  autogpt_platform/backend/backend/blocks/github/triggers.py
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/blocks/hubspot/company.py
  autogpt_platform/backend/backend/blocks/hubspot/contact.py
  autogpt_platform/backend/backend/blocks/hubspot/engagement.py
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/mem0.py
  autogpt_platform/backend/backend/blocks/pinecone.py
  autogpt_platform/backend/backend/blocks/slant3d/webhook.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/smartlead/campaign.py
  autogpt_platform/backend/backend/blocks/smartlead/models.py
  autogpt_platform/backend/backend/blocks/twitter/direct_message/manage_direct_message.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/spaces_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/users/user_lookup.py
Labels: size/l, platform/backend, platform/blocks

#9794 feat: deep copy the schema
  autogpt_platform/backend/backend/blocks/io.py
Labels: size/s, platform/backend, platform/blocks, Review effort 1/5

#9769 fix(marketplace): Fix store card style
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9774 refactor(backend): Clean up Library & Store DB schema
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/model_test.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/backend/util/type.py
  autogpt_platform/backend/migrations/20250227140210_fix_library_presets_relations/migration.sql
  autogpt_platform/backend/migrations/20250407181043_refactor_store_relations/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/monitoring/page.tsx
  autogpt_platform/frontend/src/components/agents/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/components/library/library-agent-card.tsx
  autogpt_platform/frontend/src/components/monitor/AgentFlowList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsTimeline.tsx
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, platform/frontend, platform/backend, tech debt

#9757 fix(marketplace): Fixing margins between headers, divider and content
  autogpt_platform/frontend/src/app/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/marketplace/page.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedCreators.tsx
  autogpt_platform/frontend/src/components/ui/avatar.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9773 feat(frontend, backend): track sentry environment on frontend + sentry init in app services
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9808 fix(marketplace): Render newline in marketplace description text
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
Labels: size/s, platform/frontend, platform/backend

#9800 fix(marketplace): Fix small UI bugs
  autogpt_platform/frontend/src/app/marketplace/creator/[creator]/page.tsx
  autogpt_platform/frontend/src/app/marketplace/page.tsx
  autogpt_platform/frontend/src/components/agptui/BreadCrumbs.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedCreators.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
  autogpt_platform/frontend/src/components/library/library-search-bar.tsx
  autogpt_platform/frontend/src/components/ui/carousel.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 1/5

#9759 feat(backend/executor): Move execution queue + cancel mechanism to RabbitMQ
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/json.py
  autogpt_platform/backend/backend/util/metrics.py
Labels: size/l, platform/backend, Review effort 3/5

#9804 feat(backend): Remove RPC service from Agent Executor
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/test/executor/test_execution_functions.py
  autogpt_platform/backend/test/test_data_creator.py
Labels: size/xl, platform/backend, platform/blocks, Review effort 4/5

#9736 feat(platform): Onboarding Phase 2
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/migrations/20250411130000_update_onboarding_step/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/public/onboarding/builder-open.mp4
  autogpt_platform/frontend/public/onboarding/builder-run.mp4
  autogpt_platform/frontend/public/onboarding/builder-save.mp4
  autogpt_platform/frontend/public/onboarding/get-results.mp4
  autogpt_platform/frontend/public/onboarding/marketplace-add.mp4
  autogpt_platform/frontend/public/onboarding/marketplace-run.mp4
  autogpt_platform/frontend/public/onboarding/marketplace-visit.mp4
  autogpt_platform/frontend/src/app/build/page.tsx
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/onboarding/reset/page.ts
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/CreditsCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreditsCard.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, platform/frontend, platform/backend, Review effort 3/5

#9812 Spike/infra pooling
  .github/workflows/platform-autgpt-deploy-prod.yml
  .github/workflows/platform-autogpt-deploy-dev.yaml
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/schema.prisma
  autogpt_platform/docker-compose.platform.yml
Labels: size/m, platform/backend, Review effort 2/5

#9821 fix(frontend): Fix Input value mixup on Library page
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9825 fix(backend): Fix cancel_execution can only work once
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/m, platform/backend, Review effort 2/5

#9826 fix(frontend/builder): Fix key-value pair input for any non-string types
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/m, platform/frontend, platform/backend

#9829 fix(backend): Fix execution manager message consuming pattern
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, platform/backend, Review effort 2/5

#9830 fix(logging): Change node data logging to debug level from info
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/s, platform/backend, Review effort 1/5

#9832 fix(backend): Avoid multithreaded pika access
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/m, platform/backend, Review effort 2/5

#9834 fix(block): Disable LLM blocks parallel tool calls
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Labels: size/m, Review effort 2/5

#9835 fix(frontend/library): Prevent execution updates mixing between library agents
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
Labels: size/s, platform/frontend, platform/backend

#9836 update(docs): Remove outdated submodule command from docs
  docs/content/platform/getting-started.md
Labels: documentation, size/m, platform/backend

#9828 fix(backend): Fix array types in database
  autogpt_platform/backend/migrations/20250416140000_make_arrays_not_null/migration.sql
Labels: size/m, platform/backend

#9822 fix(frontend): Fix onboarding agent execution
  autogpt_platform/frontend/src/app/onboarding/5-run/page.tsx
Labels: size/m, platform/frontend, platform/backend

#9819 feat(frontend): Wallet top-up and auto-refill
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/app/profile/(user)/credits/page.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/agptui/WalletRefill.tsx
  autogpt_platform/frontend/src/components/customnode.css
  autogpt_platform/frontend/src/components/ui/tabs.tsx
  autogpt_platform/frontend/src/hooks/useCredits.ts
  autogpt_platform/frontend/tailwind.config.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, platform/frontend, platform/backend

#9820 feat(frontend): Update completed task group design in Wallet
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
Labels: size/l, platform/frontend, platform/backend

#9789 feat(platform/library): Add credentials UX on `/library/agents/[id]`
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/frontend/src/app/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, platform/frontend, platform/backend, platform/blocks

#9839 feat(backend): Add retry mechanism for pika publish_message
  autogpt_platform/backend/backend/data/rabbitmq.py
Labels: size/m, platform/backend

#9838 fix(backend): Handle add execution API request failure
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
Labels: size/m, platform/backend, Review effort 2/5

#9810 fix((backend): Fix migrate llm models in existing agents
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/rest_api.py
Labels: size/m, platform/backend

#9845 fix(library/run): Replace credits to cents
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
Labels: size/s, platform/frontend, platform/backend

#9856 feat(backend): Adds latest llm models
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/m, platform/backend, platform/blocks

#9848 fix(platform): Fix Google Maps API Key setting through env
  autogpt_platform/backend/backend/integrations/credentials_store.py
Labels: size/m, platform/backend, Review effort 1/5

#9861 fix(frontend): Hide Google Maps Key ID filter
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
Labels: size/xs, platform/frontend, platform/backend, Review effort 1/5

#9870 feat(platform): Forking agent in Library
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/migrations/20250422125822_add_forked_relation/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#9865 feat(backend): Add retry on executor process initialization
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/retry.py
Labels: size/m, platform/backend, Review effort 2/5

#9864 feat(backend): Use forkserver on process creation if possible
  autogpt_platform/backend/backend/util/process.py
Labels: size/s, platform/backend, Review effort 1/5

#9874 fix(backend): Strip secrets, credentials when forking agent
  autogpt_platform/backend/backend/data/graph.py
Labels: size/s, platform/backend

#9876 feat(frontend): Update "Edit a copy" modal and buttons
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/agptui/action-button-group.tsx
  autogpt_platform/frontend/src/components/agptui/types.ts
Labels: size/m, platform/frontend, platform/backend

#9875 fix(block): Fix Smart Decision Block missing input beads & incompability with input in special characters
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/m, platform/frontend, platform/backend, platform/blocks, Review effort 2/5

#9877 feat(frontend): Add billing page toggle
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9878 fix(backend): Avoid releasing lock that is no longer owned by the current thread
  autogpt_platform/autogpt_libs/autogpt_libs/utils/synchronize.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/creds_manager.py
Labels: size/m, platform/backend, Review effort 2/5

#9886 fix(backend): Fix top-up with zero transaction flow
  autogpt_platform/backend/backend/data/credit.py
Labels: size/s, platform/backend, Review effort 2/5

#9850 feat(block): bring back PrintConsoleBlock
  autogpt_platform/backend/backend/blocks/basic.py
Labels: size/m, platform/backend, platform/blocks, Review effort 1/5

#9885 fix(frontend): Add support to optional multiselect
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/m, platform/frontend, platform/backend

#9881 feat: allow admins to download agents for review
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/frontend/src/app/(platform)/admin/marketplace/actions.ts
  autogpt_platform/frontend/src/components/admin/marketplace/download-agent-button.tsx
  autogpt_platform/frontend/src/components/admin/marketplace/expandable-row.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, platform/frontend, platform/backend, Review effort 3/5

#9891 fix: use subheading for agent info not description
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 1/5

#9888 Add Note to "Getting Started" page for Raspberry Pi 5 page size issue
  docs/content/platform/getting-started.md
Labels: documentation, size/m, platform/backend, Review effort 1/5

#9887 fix: handle empty 204 responses in SendWebRequestBlock
  autogpt_platform/backend/backend/blocks/http.py
Labels: size/m, platform/backend, platform/blocks, Review effort 1/5

#9889 feat(backend): Improve cancel execution reliability
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/l, platform/backend, Review effort 3/5

#9751 feat(frontend,backend): user spending admin dashboard
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes.py
  autogpt_platform/backend/backend/server/v2/admin/model.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/page.tsx
  autogpt_platform/frontend/src/app/admin/spending/actions.ts
  autogpt_platform/frontend/src/app/admin/spending/page.tsx
  autogpt_platform/frontend/src/components/admin/spending/add-money-button.tsx
  autogpt_platform/frontend/src/components/admin/spending/admin-grant-history-data-table.tsx
  autogpt_platform/frontend/src/components/admin/spending/search-filter-form.tsx
  autogpt_platform/frontend/src/components/ui/pagination-controls.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, platform/frontend, platform/backend, Review effort 3/5

#9897 fix(backend): Failing test on a new Pydantic version
  autogpt_platform/backend/backend/server/v2/library/model_test.py
Labels: size/m, platform/backend, Review effort 1/5

#9898 feat(frontend): fix admin add dollars
  autogpt_platform/frontend/src/components/admin/spending/add-money-button.tsx
Labels: size/s, platform/frontend, platform/backend
