Repository Significant-Gravitas/AutoGPT, pull requests merged in 2025-01, with the labels that each got.

#9144 feat(blocks): Add github create file block
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Labels: size/l, platform/backend, platform/blocks

#9169 feat(blocks): Add github create repo block
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Labels: size/l, platform/backend, platform/blocks

#9171 fix(backend): Fix validation of hostname-less URLs
  autogpt_platform/backend/backend/util/request.py
Labels: size/m, platform/backend

#9172 feat(blocks): Add github list stargazers block
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Labels: size/m, platform/backend, platform/blocks

#9170 fix(frontend): Make input layout & padding consistent
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/NodeHandle.tsx
  autogpt_platform/frontend/src/components/customnode.css
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/m, platform/frontend, platform/backend

#9180 refactor(blocks): Move some GitHub blocks to correct file
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
  autogpt_platform/backend/backend/blocks/github/repo.py
Labels: size/xl, platform/backend, platform/blocks

#8932 feat(platform): Support multiple credentials inputs on blocks
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  docs/content/platform/new_blocks.md
Labels: documentation, size/l, platform/frontend, platform/backend

#9121 fix(store) : Download agent from store if user is not logged in
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/test/data/test_graph.py
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, platform/frontend, platform/backend

#9197 Fix Poetry v2.0.0 compatibility
  .dockerignore
  .github/workflows/platform-backend-ci.yml
  .github/workflows/platform-frontend-ci.yml
  .pre-commit-config.yaml
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/backend/Dockerfile
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/market/Dockerfile
  autogpt_platform/market/poetry.lock
  classic/benchmark/poetry.lock
  classic/forge/poetry.lock
  classic/original_autogpt/poetry.lock
Labels: size/xl, Classic AutoGPT Agent, Forge, Classic Benchmark, platform/backend

#9185 feat(backend/executor): Add `TERMINATED` execution status
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/migrations/20250103143207_add_terminated_execution_status/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/m, platform/frontend, platform/backend, platform/blocks

#9209 fix(backend): Fix webhook ingress URL generation
  autogpt_platform/backend/backend/data/integrations.py
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
Labels: size/s, platform/backend

#9210 fix(backend): Fix intermittent failure of `test_agent_execution`
  autogpt_platform/backend/backend/data/graph.py
Labels: size/m, platform/backend

#9164 refactor(marketplace): Delete Old marketplace code
  .github/dependabot.yml
  .github/workflows/platform-autgpt-deploy-prod.yml
  .github/workflows/platform-autogpt-deploy-dev.yaml
  .github/workflows/platform-market-ci.yml
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
  autogpt_platform/market/.env.example
  autogpt_platform/market/.gitignore
  autogpt_platform/market/Dockerfile
  autogpt_platform/market/README.md
  autogpt_platform/market/docker-compose.yml
  autogpt_platform/market/market/__init__.py
  autogpt_platform/market/market/app.py
  autogpt_platform/market/market/config.py
  autogpt_platform/market/market/db.py
  autogpt_platform/market/market/model.py
  autogpt_platform/market/market/routes/admin.py
  autogpt_platform/market/market/routes/admin_tests.py
  autogpt_platform/market/market/routes/agents.py
  autogpt_platform/market/market/routes/analytics.py
  autogpt_platform/market/market/routes/search.py
  autogpt_platform/market/market/routes/submissions.py
  autogpt_platform/market/market/utils/analytics.py
  autogpt_platform/market/market/utils/extension_types.py
  autogpt_platform/market/market/utils/partial_types.py
  autogpt_platform/market/migrations/20240731181721_base_migration/migration.sql
  autogpt_platform/market/migrations/20240731213728_unique_agent_id/migration.sql
  autogpt_platform/market/migrations/20240802100955_add_featured_agents/migration.sql
  autogpt_platform/market/migrations/20240802174953_default_is_featured_to_false/migration.sql
  autogpt_platform/market/migrations/20240808080208_added_submissions/migration.sql
  autogpt_platform/market/migrations/20240829002156_make_featured_category_a_list_of_categories_and_is_featured_is_active/migration.sql
  autogpt_platform/market/migrations/20240905162237_/migration.sql
  autogpt_platform/market/migrations/20241003134209_update_foreign_key_on_delete/migration.sql
  autogpt_platform/market/migrations/20241014173713_add_unique_restriction/migration.sql
  autogpt_platform/market/migrations/migration_lock.toml
  autogpt_platform/market/poetry.lock
  autogpt_platform/market/pyproject.toml
  autogpt_platform/market/schema.prisma
  autogpt_platform/market/scripts.py
  autogpt_platform/market/tests/test_agents.py
Labels: size/xl, Review effort [1-5]: 1, platform/backend

#9216 Fix Provider name enum being used instead of value
  autogpt_platform/backend/backend/integrations/webhooks/utils.py
Labels: size/s, Review effort [1-5]: 1, platform/backend

#9213 feat(blocks/nvidia): Add Nvidia deepfake detection block
  autogpt_platform/backend/backend/blocks/nvidia/_auth.py
  autogpt_platform/backend/backend/blocks/nvidia/deepfake.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/ui/render.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#9195 fix(platform): Add custom fonts and update layout styles
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
  autogpt_platform/frontend/tailwind.config.ts
Labels: size/m, platform/frontend, platform/backend

#9212 feat(platform) : Add api key generation frontend
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/store/(user)/api_keys/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/layout.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
  autogpt_platform/frontend/src/components/agptui/composite/APIKeySection.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#9219 fix(blocks): improve handling of plain text in send web request block
  autogpt_platform/backend/backend/blocks/http.py
Labels: size/m, platform/backend, platform/blocks

#8754 feat(platform): Add Twitter integration
  autogpt_platform/autogpt_libs/autogpt_libs/supabase_integration_credentials_store/types.py
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/twitter/_auth.py
  autogpt_platform/backend/backend/blocks/twitter/_builders.py
  autogpt_platform/backend/backend/blocks/twitter/_mappers.py
  autogpt_platform/backend/backend/blocks/twitter/_serializer.py
  autogpt_platform/backend/backend/blocks/twitter/_types.py
  autogpt_platform/backend/backend/blocks/twitter/direct_message/direct_message_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/direct_message/manage_direct_message.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_follows.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_members.py
  autogpt_platform/backend/backend/blocks/twitter/lists/list_tweets_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/lists/manage_lists.py
  autogpt_platform/backend/backend/blocks/twitter/lists/pinned_lists.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/search_spaces.py
  autogpt_platform/backend/backend/blocks/twitter/spaces/spaces_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/tweepy_exceptions.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/bookmark.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/hide.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/like.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/manage.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/quote.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/retweet.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/timeline.py
  autogpt_platform/backend/backend/blocks/twitter/tweets/tweet_lookup.py
  autogpt_platform/backend/backend/blocks/twitter/users/blocks.py
  autogpt_platform/backend/backend/blocks/twitter/users/follows.py
  autogpt_platform/backend/backend/blocks/twitter/users/mutes.py
  autogpt_platform/backend/backend/blocks/twitter/users/user_lookup.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/base.py
  autogpt_platform/backend/backend/integrations/oauth/github.py
  autogpt_platform/backend/backend/integrations/oauth/google.py
  autogpt_platform/backend/backend/integrations/oauth/notion.py
  autogpt_platform/backend/backend/integrations/oauth/twitter.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  docs/content/platform/blocks/blocks.md
  docs/content/platform/blocks/twitter/twitter.md
  docs/content/platform/new_blocks.md
Labels: documentation, size/xl, platform/frontend, platform/backend, platform/blocks

#9233 fix(backend): Add default credentials for Fal, Exa, E2B
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, platform/backend

#9230 feat(platform): fix carousel on store page
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
  autogpt_platform/frontend/src/components/ui/carousel.tsx
Labels: size/l, platform/frontend, platform/backend

#9234 docs(Ollama): Update Ollama docs
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  docs/content/imgs/ollama/Ollama-Add-Prompts.png
  docs/content/imgs/ollama/Ollama-Credentials.png
  docs/content/imgs/ollama/Ollama-Enter-API-key.png
  docs/content/imgs/ollama/Ollama-Output.png
  docs/content/imgs/ollama/Ollama-Remote-Host.png
  docs/content/imgs/ollama/Ollama-Select-Llama32.png
  docs/content/imgs/ollama/Select-AI-block.png
  docs/content/platform/ollama.md
Labels: documentation, size/l, platform/backend, platform/blocks

#9229 fix(block): Remove Python.format & Jinja templating format backward compatibility
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/text.py
  autogpt_platform/backend/migrations/20250105254106_migrate_brace_to_double_brace_string_format/migration.sql
  autogpt_platform/backend/test/executor/test_manager.py
Labels: size/l, Review effort [1-5]: 3, platform/backend, platform/blocks

#9235 feat(backend/blocks/nvidia): Provide Nvidia by default
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, Review effort [1-5]: 1, platform/backend

#9244 hotfix(backend): Increase statement timeout for the double brace migration
  autogpt_platform/backend/migrations/20250105254106_migrate_brace_to_double_brace_string_format/migration.sql
Labels: size/s, Review effort [1-5]: 1, platform/backend

#9245 hotfix(backend): Increase statement timeout for the double brace migration
  autogpt_platform/backend/migrations/20250105254106_migrate_brace_to_double_brace_string_format/migration.sql
Labels: size/m, Review effort [1-5]: 2, platform/backend

#9218 feature(platform): Implement library add, update, remove, archive functionality
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
Labels: size/s, Review effort [1-5]: 4, platform/backend

#9256 Revert broken Library v2 DB stuff (#9218, #9211)
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/model_test.py
  autogpt_platform/backend/backend/server/v2/library/routes.py
  autogpt_platform/backend/backend/server/v2/library/routes/__init__.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/migrations/20250107095812_preset_soft_delete/migration.sql
  autogpt_platform/backend/migrations/20250108084101_user_agent_to_library_agent/migration.sql
  autogpt_platform/backend/migrations/20250108084305_use_graph_is_active_version/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/backend/test/test_data_creator.py
Labels: size/xl, platform/backend

#9255 fix(blocks/Exa): Fix exa contents block advanced toggle
  autogpt_platform/backend/backend/blocks/exa/contents.py
Labels: size/s, Review effort [1-5]: 1, platform/backend, platform/blocks

#9243 [Snyk] Security upgrade next from 14.2.20 to 14.2.21
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/yarn.lock
Labels: size/l, platform/frontend, platform/backend

#9050 feat(platform): Implement top-up flow for PAYG System
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/migrations/20250115213557_add_running_balance/migration.sql
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/src/app/store/(user)/credits/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/layout.tsx
  autogpt_platform/frontend/src/app/store/search/page.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
  autogpt_platform/frontend/src/components/nav/CreditButton.tsx
  autogpt_platform/frontend/src/components/ui/icons.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
  autogpt_platform/frontend/src/hooks/useCredits.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/yarn.lock
Labels: size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#9287 feat: no longer require ollama key
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/app/store/(user)/integrations/page.tsx
Labels: size/m, platform/frontend, platform/backend

#9217 feat(backend): Add graph/node id & execution id on CreditTransaction table
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/migrations/20250115382614_reshape_transaction_metadata_column/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/backend/test/test_data_creator.py
Labels: size/l, Review effort [1-5]: 3, platform/backend

#9264 feat(platform): Add billing portal entry point
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/store/(user)/credits/page.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, Review effort [1-5]: 3, platform/frontend, platform/backend

#9288 docs(Ollama): Remove steps about adding ollama credentials
  docs/content/imgs/ollama/Ollama-Select-Llama32.png
  docs/content/platform/ollama.md
Labels: documentation, size/s, platform/backend

#9272 feat(platform): Create external API
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/external/api.py
  autogpt_platform/backend/backend/server/external/middleware.py
  autogpt_platform/backend/backend/server/external/routes/__init__.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/test/executor/test_manager.py
Labels: size/l, Review effort [1-5]: 4, platform/backend

#9290 fix(frontend): Unbreak save button after save error
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
Labels: size/xs, platform/frontend, platform/backend

#9269 feat(platform): Linear integration
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/linear/_api.py
  autogpt_platform/backend/backend/blocks/linear/_auth.py
  autogpt_platform/backend/backend/blocks/linear/comment.py
  autogpt_platform/backend/backend/blocks/linear/issues.py
  autogpt_platform/backend/backend/blocks/linear/models.py
  autogpt_platform/backend/backend/blocks/linear/projects.py
  autogpt_platform/backend/backend/blocks/linear/triggers.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/linear.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, Review effort [1-5]: 3, platform/frontend, platform/backend, platform/blocks

#9311 fix(frontend): Fix page layouts (sizing + padding)
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/app/login/page.tsx
  autogpt_platform/frontend/src/app/monitoring/page.tsx
  autogpt_platform/frontend/src/app/signup/page.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/auth/AuthCard.tsx
Labels: size/m, platform/frontend, platform/backend

#9306 feat(backend): Minimize the non caught error logic between graph exec creation and queueing
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/s, Review effort [1-5]: 2, platform/backend

#9295 fix(backend): Make monthly top-up adjust the target balance instead of top-up the target amount
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/test/data/test_credit.py
Labels: size/m, Review effort [1-5]: 3, platform/backend

#9247 Resolve for issue #9082: Marketplace - "Select All" doesn't work in Agent Dashboard
  autogpt_platform/frontend/src/app/marketplace/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTable.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTableRow.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#9330 feat(block): Add LLM prompt as the output pin
  autogpt_platform/backend/backend/blocks/llm.py
Labels: size/m, platform/backend, platform/blocks

#9333 Added autocomplete
  autogpt_platform/frontend/src/app/login/page.tsx
  autogpt_platform/frontend/src/app/signup/page.tsx
Labels: size/m, Review effort [1-5]: 1, platform/frontend, platform/backend

#9337 fix(block): Remove TwitterUnblockUserBlock & TwitterBlockUserBlock
  autogpt_platform/backend/backend/blocks/twitter/users/blocks.py
Labels: size/l, Review effort [1-5]: 1, platform/backend, platform/blocks

#9338 fix: check if linear is enabled before showing blocks
  autogpt_platform/backend/backend/blocks/linear/comment.py
  autogpt_platform/backend/backend/blocks/linear/issues.py
  autogpt_platform/backend/backend/blocks/linear/projects.py
  autogpt_platform/backend/backend/blocks/linear/triggers.py
Labels: size/s, Review effort [1-5]: 1, platform/backend, platform/blocks

#9320 feat(platform): Add multimedia file support & add basic Video blocks
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/ideogram.py
  autogpt_platform/backend/backend/blocks/media.py
  autogpt_platform/backend/backend/blocks/replicate_flux_advanced.py
  autogpt_platform/backend/backend/blocks/talking_head.py
  autogpt_platform/backend/backend/blocks/text_to_speech_block.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/components/ui/render.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.ts
Labels: size/xl, platform/frontend, platform/backend, platform/blocks

#9339 ci(repo): Update repo-close-stale-issues.yml
  .github/workflows/repo-close-stale-issues.yml
Labels: size/s, Review effort [1-5]: 1, platform/backend

#9341 fix(backend/test): Increase agent execution timeout to fix `test_agent_execution` flakiness
  autogpt_platform/backend/backend/util/test.py
Labels: size/s, Review effort [1-5]: 1, platform/backend

#9113 feat(platform): Add username+password credentials type; fix email and reddit blocks
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/email_block.py
  autogpt_platform/backend/backend/blocks/github/_api.py
  autogpt_platform/backend/backend/blocks/linear/_api.py
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/integrations/webhooks/_base.py
  autogpt_platform/backend/backend/integrations/webhooks/_manual_base.py
  autogpt_platform/backend/backend/integrations/webhooks/github.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/marketplace/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/hooks/useCredentials.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  docs/content/platform/new_blocks.md
Labels: documentation, size/xl, architecture, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#9351 fix(blocks): add ollama_host to AIConversationBlock
  autogpt_platform/backend/backend/blocks/llm.py
Labels: size/xs, platform/backend, platform/blocks

#9278 feat(platform): Implement Auto-Top-Up credits capability
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20250115432618_add_auto_top_up_config/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/frontend/src/app/marketplace/(user)/credits/page.tsx
  autogpt_platform/frontend/src/hooks/useCredits.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, Review effort [1-5]: 4, platform/frontend, platform/backend

#9267 feat(backend): Enable executing store agents without agent ownership
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/migrations/20250110084611_store_index_updates/migration.sql
  autogpt_platform/backend/migrations/20250124211747_make_store_listing_version_id_unique/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/data/test_graph.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, platform/frontend, platform/backend

#9340 fix(backend): Make spend credit failure as part of block execution failure
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/m, Review effort [1-5]: 2, platform/backend

#9158 CodeExecutionBlock split into InstantiationBlock & StepExecutionBlock
  autogpt_platform/backend/backend/blocks/code_executor.py
Labels: size/l, Review effort [1-5]: 4, platform/backend, platform/blocks

#9352 fix(frontend) : add default support in oneOf field
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/m, platform/frontend, platform/backend

#9285 feat: mem0 ai memory block
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/mem0.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/frontend/src/app/marketplace/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/profile/page.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  docs/content/platform/new_blocks.md
Labels: documentation, size/xl, Review effort [1-5]: 4, platform/frontend, platform/backend, platform/blocks

#9138 Fix broken connections when copying and pasting an agent
  autogpt_platform/frontend/src/hooks/useCopyPaste.ts
Labels: size/m, Review effort [1-5]: 2, platform/frontend, platform/backend

#9336 fix(frontend): add typechecks and fix existing type errors in frontend
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/src/app/admin/marketplace/page.tsx
  autogpt_platform/frontend/src/app/marketplace/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/marketplace/search/page.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTable.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTableCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AgentTableCard.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorLinks.stories.tsx
  autogpt_platform/frontend/src/components/agptui/FeaturedStoreCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/MobileNavBar.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/NavbarLink.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.stories.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/RatingCard.stories.tsx
  autogpt_platform/frontend/src/components/agptui/Status.stories.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.stories.tsx
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedCreators.stories.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.stories.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
  autogpt_platform/frontend/src/components/feature-flag/feature-flag-provider.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/ui/form.stories.tsx
  autogpt_platform/frontend/src/components/ui/tooltip.tsx
  autogpt_platform/frontend/src/hooks/useCopyPaste.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/tests/fixtures/test-user.fixture.ts
Labels: size/xl, Review effort [1-5]: 2, platform/frontend, platform/backend

#9361 fix(backend): Remove hardcoded auto-top-up config definition on set_auto_top_up
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/s, platform/backend

#9365 fix(backend): Fix get balance error on user with null running balance
  autogpt_platform/backend/backend/data/credit.py
Labels: size/s, Review effort [1-5]: 2, platform/backend

#9296 fix(platform): PAYG system fixes
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/hooks/useCredits.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/m, platform/frontend, platform/backend

#9368 Fix: Allow further zooming out in the builder (#9325)
  autogpt_platform/frontend/src/components/Flow.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend

#9377 fix(frontend): Center reset password page
  autogpt_platform/frontend/src/app/reset_password/page.tsx
Labels: size/l, platform/frontend, platform/backend

#9291 feat(platform): Implement User Credit Transaction History
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/app/marketplace/(user)/credits/page.tsx
  autogpt_platform/frontend/src/hooks/useCredits.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#9319 feat(blocks) : Authentication for todoist block
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/s, platform/backend

#9379 Update README.md
  autogpt_platform/backend/README.md
Labels: size/s, Review effort [1-5]: 1, platform/backend

#9358 Fixed font for Heading Issue #8971
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
Labels: size/m, platform/frontend, platform/backend

#9381 Marketplace UI changes.
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
Labels: size/s, Review effort [1-5]: 1, platform/frontend, platform/backend
