Repository Significant-Gravitas/AutoGPT, pull requests merged in 2025-05, with the labels that each got.

#9842 feat(backend): Support flexible RPC client
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/__init__.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/notifications/__init__.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/test/data/test_credit.py
  autogpt_platform/backend/test/executor/test_scheduler.py
  autogpt_platform/backend/test/util/test_service.py
Labels: size/xl, platform/backend, platform/blocks, Review effort 4/5

#9901 fix(backend): Avoid executing any agent with zero balance
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, platform/backend, Review effort 3/5

#9903 feat(backend): Continue instead of retrying aborted/broken agent execution
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/l, platform/backend, Review effort 3/5

#9905 feat(platform): Onboarding design&UX update
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/3-services/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/components/agptui/SmartImage.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingAgentCard.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingGrid.tsx
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
  autogpt_platform/frontend/tailwind.config.ts
Labels: size/l, platform/frontend, platform/backend

#9906 fix: disable google sheets in prod based on oauth review
  autogpt_platform/backend/backend/blocks/google/sheets.py
Labels: size/s, platform/backend, platform/blocks, Review effort 1/5

#9843 feat(platform): Update Marketplace Agent listing buttons
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.stories.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, platform/frontend, platform/backend

#9904 feat(backend): Move Scheduler
  autogpt_platform/backend/backend/rest.py
  autogpt_platform/backend/backend/scheduler.py
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
  docs/content/platform/getting-started.md
Labels: documentation, size/m, platform/backend, Review effort 2/5

#9914 feat(backend): Introduce late execution check scheduled job
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/migrations/20250507025350_execution_created_at_index/migration.sql
  autogpt_platform/backend/schema.prisma
Labels: size/l, platform/backend, Review effort 3/5

#9847 feat(platform): Add captcha to login, signup and password reset pages
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/turnstile/__init__.py
  autogpt_platform/backend/backend/server/v2/turnstile/models.py
  autogpt_platform/backend/backend/server/v2/turnstile/routes.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset_password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/components/auth/index.ts
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
Labels: size/xl, platform/frontend, platform/backend

#9858 feat(backend): Require discriminator value on graph save
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#9919 fix(backend/scheduler): Unbreak `Scheduler.get_execution_schedules`
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/m, platform/backend

#9922 fix(frontend/library): Quick Patch for Rendering Agent Outputs
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
Labels: size/s, platform/frontend, platform/backend

#9923 fix(frontend): Catch exception on agent listing page
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
Labels: size/m, platform/frontend, platform/backend

#9915 refactor(backend): Clear out Notification Service code blockage
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/notifications/notifications.py
Labels: size/l, platform/backend, Review effort 3/5

#9921 fix(backend): Continue stats accounting on aborted or broken executions
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9925 feat(backend): Immediate alert on late execution check job failure
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, platform/backend, Review effort 2/5

#9926 fix(blocks): Fix load_all_blocks in concurrent calls
  autogpt_platform/backend/backend/blocks/__init__.py
Labels: size/m, platform/backend, platform/blocks, Review effort 2/5

#9928 fix(backend): Unbreak existing Agent Executor nodes
  autogpt_platform/backend/migrations/20250512104735_rename_agent_executor_node_input/migration.sql
Labels: size/s, platform/backend

#9920 feat(blocks): initial google calendar
  autogpt_platform/backend/backend/blocks/google/calendar.py
Labels: size/xl, platform/backend, platform/blocks, Review effort 3/5

#9927 feat(backend): send emails daily instead of hourly
  autogpt_platform/backend/backend/data/notifications.py
Labels: size/s, platform/backend

#9932 fix(backend): Change library agents fetch sort from version to updatedAt
  autogpt_platform/backend/backend/server/v2/store/db.py
Labels: size/s, platform/backend

#9917 feat(frontend): Update login and signup feedback
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/AuthFeedback.tsx
  autogpt_platform/frontend/src/components/auth/help-item.tsx
Labels: size/l, platform/frontend, platform/backend

#9935 fix(frontend): Re-subscribe on WebSocket re-connect
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, platform/frontend, platform/backend

#9916 feat(frontend): Onboarding Updates 3
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/Spinner.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingButton.tsx
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
Labels: size/l, platform/frontend, platform/backend

#9933 refactor(frontend): Move from remote loaded GTM to local
  autogpt_platform/frontend/public/gtag.js
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/analytics/google-analytics.tsx
  autogpt_platform/frontend/src/components/tutorial.ts
  autogpt_platform/frontend/src/types/google.ts
Labels: size/xl, platform/frontend, platform/backend, Review effort 2/5

#9939 feat(backend): Truncate logging on NotificationManager and LLMBlocks
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/logging.py
Labels: size/m, platform/backend, platform/blocks, Review effort 2/5

#9943 fix(frontend): Revert congrats onboarding screen action
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/6-congrats/actions.ts
Labels: size/s, platform/frontend, platform/backend

#9899 Add Llama API Support
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  docs/content/platform/blocks/llm.md
Labels: documentation, size/l, platform/frontend, platform/backend, platform/blocks

#9940 fix(backend): Make URL pinning work with `extra_url_validator`
  .vscode/launch.json
  autogpt_platform/backend/backend/util/request.py
Labels: size/m, platform/backend, Review effort 2/5

#9938 fix: Resolve `logger.warn(..)` deprecration warnings
  autogpt_platform/autogpt_libs/autogpt_libs/auth/middleware.py
  classic/benchmark/agbenchmark/challenges/webarena.py
Labels: size/s, Classic Benchmark, platform/backend, Review effort 1/5

#9966 Fix Gmail reply for missing recipients
  autogpt_platform/backend/backend/blocks/google/gmail.py
Labels: size/m, platform/backend, platform/blocks, codex

#9967 Remove Gmail thread includeSpamTrash
  autogpt_platform/backend/backend/blocks/google/gmail.py
  docs/content/platform/blocks/google/gmail.md
Labels: documentation, size/m, platform/backend, platform/blocks, codex

#9968 Fix Gmail blocks query error
  autogpt_platform/backend/backend/blocks/google/gmail.py
  docs/content/platform/blocks/google/gmail.md
Labels: documentation, size/m, platform/backend, platform/blocks, codex

#9952 fix(backend): Graph execution update on terminate
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
Labels: size/m, platform/frontend, platform/backend

#9949 feat(frontend/library): Show toast on WebSocket (dis|re)connect
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/Spinner.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingButton.tsx
  autogpt_platform/frontend/src/components/ui/loading.tsx
  autogpt_platform/frontend/src/components/ui/toaster.tsx
  autogpt_platform/frontend/src/components/ui/use-toast.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, platform/frontend, platform/backend

#9951 refactor(frontend): Move `OttoChatWidget` out of root layout
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/OttoChatWidget.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
Labels: size/m, platform/frontend, platform/backend

#9991 ref(frontend/admin): fix location of spending page
  autogpt_platform/frontend/src/app/(platform)/admin/spending/actions.ts
  autogpt_platform/frontend/src/app/(platform)/admin/spending/page.tsx
  autogpt_platform/frontend/src/components/admin/spending/add-money-button.tsx
  autogpt_platform/frontend/src/components/admin/spending/admin-grant-history-data-table.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 2/5

#9989 fix(backend): Unbreak URL handling for GitHub blocks
  autogpt_platform/backend/backend/blocks/github/_api.py
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/test/util/test_request.py
Labels: size/l, platform/backend, platform/blocks

#9994 fix(backend): Unbreak `UserIntegrations` parsing for missing `None` values
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
Labels: size/m, platform/backend

#9833 feat(frontend): Publish Agent Dialog Agent List Pagination
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
Labels: size/l, platform/frontend, platform/backend

#10009 fix(blocks): Error messages from SendWebRequestBlock use the requested translated IP instead of the orignal URL
  autogpt_platform/backend/backend/util/request.py
Labels: size/s, platform/backend, Review effort 2/5, codex

#10013 Fix AddMemoryBlock JSON serialization error
  autogpt_platform/backend/backend/blocks/mem0.py
Labels: size/s, platform/backend, platform/blocks, codex

#9993 feat(frontend/library): Replace "Loading..." by loading spinners
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
Labels: size/m, UI, platform/frontend, platform/backend

#10002 fix(frontend): Top Agents header spacing
  autogpt_platform/frontend/src/components/agptui/composite/AgentsSection.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 1/5, codex

#10018 feat(Platform): add claude 4 sonnet and opus models to platform
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/m, platform/backend, platform/blocks

#10022 fix(frontend): Implement infinite scroll for publish agent popout
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
Labels: size/l, platform/frontend, platform/backend, Review effort 2/5, codex

#9574 fix(frontend): Fix global `<body>` styling and base fonts
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/[creator]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/search/page.tsx
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
  autogpt_platform/frontend/src/components/agptui/AgentImageItem.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/BreadCrumbs.tsx
  autogpt_platform/frontend/src/components/agptui/Button.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorCard.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/components/agptui/CreatorLinks.tsx
  autogpt_platform/frontend/src/components/agptui/FilterChips.tsx
  autogpt_platform/frontend/src/components/agptui/MobileNavBar.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentAwaitingReview.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/SortDropdown.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/Wallet.tsx
  autogpt_platform/frontend/src/components/library/library-action-header.tsx
  autogpt_platform/frontend/src/components/library/library-agent-card.tsx
  autogpt_platform/frontend/src/components/library/library-upload-agent-dialog.tsx
  autogpt_platform/frontend/src/components/onboarding/StarRating.tsx
  autogpt_platform/frontend/tailwind.config.ts
Labels: size/l, platform/frontend, platform/backend

#10020 feat(blocks/exa): Fix Exa blocks error reporting
  autogpt_platform/backend/backend/blocks/exa/contents.py
  autogpt_platform/backend/backend/blocks/exa/search.py
  autogpt_platform/backend/backend/blocks/exa/similar.py
Labels: size/s, platform/backend, platform/blocks, codex

#9995 feat(frontend): Page-specific titles
  autogpt_platform/autogpt_libs/README.md
  autogpt_platform/frontend/src/app/(platform)/build/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/tests/title.spec.ts
Labels: size/m, platform/frontend, platform/backend

#10038 fix(platform): Optimise Query Indexes
  .pre-commit-config.yaml
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/migrations/20250527091422_node_execution_indexes/migration.sql
  autogpt_platform/backend/schema.prisma
Labels: size/m, platform/backend, Review effort 2/5

#9937 feat(platform): Add `Run 10 agents` wallet task
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/migrations/20250528092000_onboarding_add_runs/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/public/onboarding/get-results.mp4
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/components/onboarding/WalletTaskGroups.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#10056 fix(platform): Turnstile CAPTCHA reset after failed login attempts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/components/auth/Turnstile.tsx
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
Labels: size/m, platform/frontend, platform/backend

#10065 fix(frontend): missed a password prompt
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Labels: size/s, platform/frontend, platform/backend

#10059 feat(ci): Add cross-repository dev deployment workflow
  .github/workflows/platform-autogpt-deploy-dev.yaml
  .github/workflows/platform-dev-deploy.yml
Labels: size/m, size/l, platform/backend, Review effort 2/5
