Repository Significant-Gravitas/AutoGPT, pull requests merged in 2025-06, with the labels that each got.

#10054 docs: add system requirements section to README
  README.md
Labels: size/m, platform/backend

#10063 feat(platform/blocks): add AI Image Editor Block powered by flux kontext
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  docs/content/platform/blocks/blocks.md
  docs/content/platform/blocks/flux_kontext.md
Labels: documentation, size/l, platform/backend, platform/blocks, codex

#10095 fix(blocks/backend): update Gmail block tests
  autogpt_platform/backend/backend/blocks/google/gmail.py
Labels: size/s, platform/backend, platform/blocks, Review effort 1/5, codex

#10081 fix(storybook): make font load in Stories
  autogpt_platform/frontend/.storybook/main.ts
  autogpt_platform/frontend/.storybook/preview.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/styles/fonts.css
  autogpt_platform/frontend/src/components/styles/fonts.ts
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#10082 feat(backend): Add nested dynamic pin-name support
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/test/executor/test_execution_functions.py
Labels: size/xl, platform/backend, Review effort 4/5

#10088 fix(github): dependabot config
  .github/dependabot.yml
Labels: size/s, platform/backend, Review effort 1/5

#10101 chore(backend): Tell Dependabot not to update Poetry
  .github/dependabot.yml
Labels: size/s, platform/backend, Review effort 1/5

#10110 fix(backend): Fix graph fetching of non-owned marketplace agent
  autogpt_platform/backend/backend/data/graph.py
Labels: size/m, platform/backend, Review effort 2/5

#10103 fix(frontend): Resolve perpetual loading state on password reset
  autogpt_platform/frontend/src/app/(platform)/reset_password/actions.ts
Labels: size/s, platform/frontend, Review effort 1/5

#10113 fix(profile): account menu layout and alignment
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenu.tsx
Labels: size/m, platform/frontend, platform/backend

#10116 update(turnstile): Add env to hide turnstile for dev deploy
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#10121 fix(frontend): pin deps
  autogpt_platform/frontend/.gitignore
  autogpt_platform/frontend/.npmrc
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
Labels: size/xl, platform/frontend, platform/backend, Review effort 2/5

#10115 dx: Fix file filter for `platform/backend` auto-label
  .github/labeler.yml
Labels: size/s, DX, Review effort 1/5

#9786 feat(backend): Agent Presets backend improvements
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/frontend/src/components/library/library-agent-card.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#10120 fix(frontend): hydration warning
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/styles/fonts.ts
  autogpt_platform/frontend/tailwind.config.ts
Labels: size/m, size/l, size/xl, platform/frontend, Review effort 1/5

#10099 dx: Add Claude Code GitHub Workflow
  .github/workflows/claude.yml
Labels: size/m, size/l, DX, Review effort 2/5

#10089 docs(ollama): Update to add info on how to properly setup ollama environment variables
  docs/content/platform/ollama.md
Labels: documentation, size/m, Review effort 1/5

#9948 fix(frontend/turnstile): Reset on failed login/register
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Labels: size/m, platform/frontend

#10129 fix(turnstile): Disable turnstile by default and rename its env
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/src/hooks/useTurnstile.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
Labels: size/s, platform/frontend, Review effort 2/5

#10117 feat(platform): allow to signin with Google
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/components/agptui/Button.tsx
  autogpt_platform/frontend/src/components/auth/AuthButton.tsx
  autogpt_platform/frontend/src/components/auth/GoogleOAuthButton.tsx
  autogpt_platform/frontend/src/components/auth/index.ts
Labels: size/l, size/xl, platform/frontend, Review effort 3/5

#10139 fix(frontend): Fix builder UI glitch
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/customnode.css
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend, Review effort 3/5

#10030 fix(backend): improve server error handling
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/analytics.py
  autogpt_platform/backend/backend/server/routers/postmark/postmark.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/otto/routes.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/turnstile/routes.py
  autogpt_platform/backend/backend/server/ws_api.py
Labels: size/l, platform/backend, Review effort 3/5, codex

#10125 fix(frontend): avoid Sentry initialisation and warnings on local dev
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
Labels: size/l, platform/frontend, Review effort 2/5

#10142 feat(executor): Improve execution ordering to allow depth-first execution
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
Labels: size/l, platform/backend, Review effort 4/5

#10144 feat(blocks): add veo3 to ai video generator
  autogpt_platform/backend/backend/blocks/fal/ai_video_generator.py
Labels: size/s, platform/blocks, Review effort 2/5

#10149 fix(backend): execution UI did not receive completed / failed execution update
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, platform/backend, Review effort 2/5

#9996 feat(blocks): Add AI/ML API support to LLM blocks
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  docs/content/index.md
Labels: documentation, size/m, platform/blocks, Review effort 2/5

#10155 docs(frontend): document spacing tokens
  autogpt_platform/frontend/src/stories/Spacing.stories.tsx
  autogpt_platform/frontend/src/stories/Typography.stories.tsx
Labels: size/l, platform/frontend, Review effort 2/5

#10158 docs(frontend): document border radius tokens
  autogpt_platform/frontend/src/stories/border-radius.stories.tsx
Labels: size/l, platform/frontend, Review effort 2/5

#10150 feat(frontend): handle cross-tab login/logout + auth architecture refactor
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/auth/confirm/route.ts
  autogpt_platform/frontend/src/app/(platform)/login/actions.ts
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/agent/[creator]/[slug]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset_password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset_password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/actions.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
  autogpt_platform/frontend/src/components/RoleBasedAccess.tsx
  autogpt_platform/frontend/src/components/agptui/Navbar.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenuLogoutButton.tsx
  autogpt_platform/frontend/src/components/agptui/composite/HeroSection.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerUser.ts
  autogpt_platform/frontend/src/lib/supabase/useSupabase.ts
  autogpt_platform/frontend/src/lib/withRoleAccess.ts
Labels: size/l, platform/frontend, Review effort 4/5

#9963 Fix(frontend): Update StoreCard component to use `bg-background` instead of hardcoded `bg-white`
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
Labels: size/s, platform/frontend, Review effort 1/5, codex

#10148 [Snyk] Security upgrade requests from 2.31.0 to 2.32.4
  docs/requirements.txt
Labels: documentation, size/l, size/xs

#10166 fix(backend): Unbreak `add_store_agent_to_library`
  autogpt_platform/backend/backend/server/v2/library/db.py
Labels: size/m, platform/backend, Review effort 2/5

#10186 docs(frontend): document new color tokens
  autogpt_platform/frontend/src/components/styles/colors.ts
  autogpt_platform/frontend/src/stories/colors.stories.tsx
  autogpt_platform/frontend/tailwind.config.ts
Labels: size/l, platform/frontend, Review effort 2/5

#10189 fix(backend): Add graph_id path parameter to fix automatic client generation from OpenAPI spec
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/s, platform/backend, Review effort 2/5

#10190 feat(frontend): Add React Query for Data Fetching
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/lib/react-query/queryClient.ts
Labels: size/m, platform/frontend, Review effort 2/5

#10194 feat(frontend): Add React Query DevTools and ESLint Rules
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/.eslintrc.json
  autogpt_platform/frontend/README.md
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/layout.tsx
Labels: size/m, size/l, platform/frontend, Review effort 2/5

#10197 fix(blocks): Fix broken Apollo Blocks
  autogpt_platform/backend/backend/blocks/apollo/_api.py
  autogpt_platform/backend/backend/blocks/apollo/models.py
  autogpt_platform/backend/backend/blocks/apollo/organization.py
  autogpt_platform/backend/backend/blocks/apollo/people.py
  autogpt_platform/frontend/src/components/NodeOutputs.tsx
Labels: size/l, platform/frontend, platform/blocks, Review effort 3/5

#10200 feat(backend): add custom openapi generator
  autogpt_platform/backend/backend/server/rest_api.py
Labels: size/m, platform/backend, Review effort 2/5

#10198 feat(blocks): Improve SmartDecisionBlock & AIStructuredResponseGeneratorBlock
  autogpt_platform/backend/backend/blocks/branching.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/migrations/20250620000924_make_data_nullable/migration.sql
  autogpt_platform/backend/schema.prisma
Labels: size/l, platform/backend, platform/blocks, Review effort 4/5

#10199 feat(block): Enable cloud Apollo integration cost
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/m, platform/backend, Review effort 2/5

#10203 feat(blocks): Enabling auto type conversion on block input schema mismatch for nested input
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/executor/utils.py
Labels: size/m, platform/backend, platform/blocks, Review effort 3/5

#10220 fix(backend/library): Split & fix `update_library_agent` endpoint
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/context.tsx
Labels: size/l, platform/frontend, platform/backend, Review effort 3/5, tech debt

#10248 refactor(frontend): update settings pages fetching using react query
  autogpt_platform/frontend/src/api/mutators/custom-mutator.ts
  autogpt_platform/frontend/src/api/openapi.json
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/APIKeySection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/useAPISection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeysModals/APIKeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeysModals/useAPIkeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/actions.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/SettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/helper.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/useSettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/page.tsx
  autogpt_platform/frontend/src/components/agptui/composite/APIKeySection.tsx
Labels: size/xl, platform/frontend

#10251 feat(block): Add enriching email feature for SearchPeopleBlock & introduce GetPersonDetailBlock
  autogpt_platform/backend/backend/blocks/apollo/_api.py
  autogpt_platform/backend/backend/blocks/apollo/get_people_detail.py
  autogpt_platform/backend/backend/blocks/apollo/models.py
  autogpt_platform/backend/backend/blocks/apollo/people.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/l, platform/backend, platform/blocks, Review effort 3/5

#9931 feat(blocks): Add more Revid.ai media generation blocks
  autogpt_platform/backend/backend/blocks/ai_shortform_video_block.py
  autogpt_platform/backend/backend/data/block.py
Labels: size/m, size/l, size/xl, platform/backend, platform/blocks

#10256 fix(blocks): Restore `GithubReadPullRequestBlock` diff output
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
Labels: size/m, platform/blocks

#10253 fix(frontend): design system feedback
  autogpt_platform/frontend/src/components/atoms/Button/Button.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Button/Button.tsx
  autogpt_platform/frontend/src/components/atoms/Link/Link.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Link/Link.tsx
  autogpt_platform/frontend/src/components/tokens/border-radius.stories.tsx
  autogpt_platform/frontend/tailwind.config.ts
Labels: size/l, platform/frontend

#10266 feat(frontend): use the new set up on library data fetching client
  autogpt_platform/frontend/orval.config.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionHeader/LibraryActionHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionSubHeader/LibraryActionSubHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryNotificationCard/LibraryNotificationCard.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryNotificationDropdown/LibraryNotificationDropdown.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/LibrarySearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/useLibrarySearchbar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/LibrarySortMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/useLibrarySortMenu.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/state-provider.tsx
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/library/library-agent-list.tsx
  autogpt_platform/frontend/src/components/library/library-search-bar.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/utils.ts
Labels: size/xl, platform/frontend

#10269 fix(frontend): fix custom mutator of orval
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/src/app/api/mutators/custom-mutator.ts
Labels: size/s, platform/frontend

#10270 fix(frontend): migrate to `NEXT_PUBLIC_FRONTEND_BASE_URL`
  autogpt_platform/backend/.env.example
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/src/app/(platform)/reset-password/actions.ts
Labels: size/m, platform/frontend, platform/backend
