Repository Significant-Gravitas/AutoGPT, pull requests merged in 2025-10, with the labels that each got.

#10862 feat(frontend): Enhance Sentry integration and TallyPopup telemetry
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/sentry.edge.config.ts
  autogpt_platform/frontend/sentry.server.config.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/legacy-builder/CustomNode/CustomNode.tsx
  autogpt_platform/frontend/src/components/molecules/TallyPoup/TallyPopup.tsx
Labels: size/m, platform/frontend, platform/backend, Possible security concern, Review effort 2/5

#11024 fix(ci): Delete pr_reviewer section in .pr_agent.toml
  .pr_agent.toml
Labels: size/s, Review effort 1/5

#11017 feat(blocks): Improve data output of code execution block
  autogpt_platform/backend/backend/blocks/code_executor.py
Labels: size/m, size/l, platform/blocks

#11031 fix(frontend): Fix confetti
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
Labels: size/m, platform/frontend, Review effort 2/5

#11036 fix(frontend): performance and layout issues
  autogpt_platform/frontend/src/app/(platform)/admin/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/error.tsx
  autogpt_platform/frontend/src/app/(platform)/error/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/error/page.tsx
  autogpt_platform/frontend/src/app/(platform)/layout.tsx
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainAgentPage/MainAgentPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainCreatorPage/MainCreatorPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/app/global-error.tsx
  autogpt_platform/frontend/src/components/__legacy__/Wallet.tsx
  autogpt_platform/frontend/src/components/atoms/Avatar/Avatar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/LoginButton.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/providers/onboarding/helpers.ts
  autogpt_platform/frontend/src/providers/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/services/storage/local-storage.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Labels: size/xl, platform/frontend, Review effort 3/5

#10798 fix(blocks, security): Fixes for various DoS vulnerabilities
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
  autogpt_platform/backend/backend/blocks/code_extraction_block.py
  autogpt_platform/backend/backend/blocks/iteration.py
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/rss.py
  autogpt_platform/backend/backend/blocks/test/test_blocks_dos_vulnerability.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/blocks/xml_parser.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
Labels: size/xl, platform/backend, Possible security concern, platform/blocks, Review effort 3/5

#11019 refactor(blocks/code): Clean up & rename code execution blocks
  autogpt_platform/backend/backend/blocks/code_executor.py
  autogpt_platform/backend/backend/blocks/test/test_block.py
Labels: size/l, platform/blocks

#11059 fix(backend): resolve SmartDecisionMaker ChatCompletionMessage error and enhance tool call token counting
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/time_blocks.py
  autogpt_platform/backend/backend/util/prompt.py
  autogpt_platform/backend/backend/util/prompt_test.py
Labels: size/l, size/xl, platform/backend, platform/blocks, Review effort 3/5

#11082 fix(backend): Add dynamic input pin support for Smart Decision Maker Block
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dict.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker_dynamic_fields.py
  autogpt_platform/backend/backend/data/dynamic_fields.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/executor/utils_test.py
  autogpt_platform/backend/backend/util/dynamic_fields.py
  autogpt_platform/backend/backend/util/dynamic_fields_test.py
Labels: size/m, size/s, size/xl, platform/backend, platform/blocks, Review effort 2/5

#11076 feat(frontend): launchdarkly tracking on frontend browser
  autogpt_platform/frontend/instrumentation-client.ts
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
Labels: size/s, platform/frontend, Review effort 2/5

#11105 feat(frontend): add an API key modal for adding credentials in new builder.
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/Flow.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/edges/CustomEdge.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/CustomNode.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/OutputHandler.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/CredentialField.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/SelectCredential.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/APIKeyCredentialModal.tsx
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/models/APIKeyCredentialModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/types.ts
  autogpt_platform/frontend/src/app/(platform)/build/components/FlowEditor/nodes/fields/CredentialField/useCredentialField.ts
  autogpt_platform/frontend/src/app/api/openapi.json
Labels: size/l, platform/frontend, platform/backend, Review effort 3/5
