Repository Significant-Gravitas/AutoGPT, pull requests merged in 2025-07, with the labels that each got.

#10280 fix(frontend): use `NEXT_PUBLIC_AGPT_SERVER_URL` on proxy route
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
Labels: platform/frontend, Review effort 2/5

#9912 dx(platform): Add initial setup scripts for linux and windows
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/installer/setup-autogpt.bat
  autogpt_platform/installer/setup-autogpt.sh
  docs/content/platform/installer.md
Labels: documentation, high priority, size/xl, platform/frontend

#10286 feat: optimize frontend CI with shared setup job
  .github/workflows/platform-frontend-ci.yml
Labels: size/m, Review effort 2/5

#10288 fix(frontend): onboarding runtime error
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
Labels: size/m, platform/frontend, Review effort 2/5

#10289 fix(frontend): do not swallow errors on the proxy
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Labels: size/m, platform/frontend, Review effort 3/5

#10293 feat(backend): improve stop graph execution reliability
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/frontend/src/components/agents/agent-run-status-chip.tsx
  autogpt_platform/frontend/src/components/agents/agent-status-chip.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Labels: size/l, platform/frontend, platform/backend, platform/blocks, Review effort 4/5

#10296 fix(frontend): proxy via API route no actions
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Labels: size/l, platform/frontend, Review effort 4/5

#10287 feat(block): Enhance Mem0 blocks filetering & add more GoogleSheets blocks
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/blocks/google/sheets.py
  autogpt_platform/backend/backend/blocks/mem0.py
Labels: size/xl, platform/blocks, Review effort 4/5

#10304 feat(blocks): add plural outputs where blocks yield singular values in loops
  autogpt_platform/backend/backend/blocks/github/issues.py
  autogpt_platform/backend/backend/blocks/github/pull_requests.py
  autogpt_platform/backend/backend/blocks/github/repo.py
  autogpt_platform/backend/backend/blocks/mem0.py
  autogpt_platform/backend/backend/blocks/reddit.py
  autogpt_platform/backend/backend/blocks/rss.py
Labels: size/l, platform/blocks, Review effort 2/5, codex

#10301 fix(backend/library): Include subgraphs in `get_library_agent`
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
Labels: size/m, platform/backend, Review effort 3/5

#10303 fix(frontend): password reset via server callback
  autogpt_platform/frontend/src/app/(platform)/reset-password/actions.ts
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/app/api/auth/callback/reset-password/route.ts
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
Labels: size/m, size/l, platform/frontend, Review effort 3/5

#10305 fix(frontend): better proxy error logging
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/components/ui/use-toast.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
Labels: size/m, platform/frontend, Review effort 2/5

#10318 fix(frontend): make reading `input_schema` way more defensive
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
Labels: size/m, platform/frontend, Review effort 4/5

#10325 fix(backend;frontend): Add auto-type convertion support for optional types
  autogpt_platform/backend/backend/util/type.py
  autogpt_platform/backend/backend/util/type_test.py
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
Labels: size/m, platform/frontend, platform/backend, Review effort 3/5

#10334 feat(frontend): change to use Sonner toast
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeySection/useAPISection.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/api_keys/components/APIKeysModals/useAPIkeysModals.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/credits/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/useSettingsForm.tsx
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/DataTable.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/InputModalComponent.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/ProfilePopoutMenuLogoutButton.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/WalletRefill.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
  autogpt_platform/frontend/src/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/components/molecules/Toast/styles.module.css
  autogpt_platform/frontend/src/components/molecules/Toast/toast.stories.tsx
  autogpt_platform/frontend/src/components/molecules/Toast/toaster.tsx
  autogpt_platform/frontend/src/components/molecules/Toast/use-toast.tsx
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerOutputUI.tsx
  autogpt_platform/frontend/src/components/ui/toast.tsx
  autogpt_platform/frontend/src/components/ui/toaster.tsx
  autogpt_platform/frontend/src/components/ui/use-toast.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Labels: size/xl, platform/frontend, Review effort 2/5

#10339 feat(toast): update styles
  autogpt_platform/frontend/src/components/molecules/Toast/styles.module.css
  autogpt_platform/frontend/src/components/molecules/Toast/toast.stories.tsx
  autogpt_platform/frontend/src/components/molecules/Toast/toaster.tsx
Labels: size/m, platform/frontend, Review effort 2/5

#10332 feat(backend): Add block error rate monitoring and Discord alerts
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/monitoring/__init__.py
  autogpt_platform/backend/backend/monitoring/block_error_monitor.py
  autogpt_platform/backend/backend/monitoring/late_execution_monitor.py
  autogpt_platform/backend/backend/monitoring/notification_monitor.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, size/l, size/xl, platform/backend, Possible security concern, Review effort 4/5

#10323 feat(platform/builder): Builder credentials support + UX improvements
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/backend/backend/server/v2/library/routes/presets.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/snapshots/grph_single
  autogpt_platform/backend/snapshots/grphs_all
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/CustomEdge.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agptui/action-button-group.tsx
  autogpt_platform/frontend/src/components/agptui/types.ts
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputBlock.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputList.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerInputUI.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerOutputUI.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/hooks/useCopyPaste.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Labels: size/xl, platform/frontend, platform/backend, Possible security concern, Review effort 4/5

#10328 fix(backend): Include node execution steps and cost of sub-graph execution
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, platform/backend, platform/blocks, Review effort 3/5

#10366 fix(readme): Removes MIT icon from readme
  README.md
Labels: size/s, Review effort 1/5

#10360 fix(docs): Updated Discord Badge in README for Better Visibility
  README.md
Labels: size/s, Review effort 1/5

#10357 fix(frontend): fix my agent count in the library
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/LibraryAgentList.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentList/useLibraryAgentList.ts
Labels: size/s, platform/frontend, Review effort 2/5

#10354 fix(frontend): disable Cloudflare on Vercel previews
  autogpt_platform/frontend/next.config.mjs
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
Labels: size/m, platform/frontend, Review effort 2/5

#10071 Fix Gmail body parsing for multipart messages (#9863)
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/blocks/test_gmail.py
Labels: size/l, platform/backend, platform/blocks, Review effort 3/5

#10392 fix(frontend): navbar profile query not working
  autogpt_platform/frontend/src/components/layout/Navbar/data.ts
  autogpt_platform/frontend/src/tests/signin.spec.ts
Labels: size/m, platform/frontend, Review effort 2/5

#10393 feat(blocks): Add Excel support to ReadSpreadsheetBlock and introduced FileReadBlock
  autogpt_platform/backend/backend/blocks/csv.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/backend/test/blocks/test_gmail.py
  autogpt_platform/docker-compose.platform.yml
Labels: size/l, platform/backend, Possible security concern, platform/blocks, Review effort 4/5

#10388 refactor(frontend): e2e tests setup + speed + readability
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryAgentCard/LibraryAgentCard.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/fixtures/index.ts
  autogpt_platform/frontend/src/tests/fixtures/login-page.fixture.ts
  autogpt_platform/frontend/src/tests/fixtures/test-user.fixture.ts
  autogpt_platform/frontend/src/tests/global-setup.ts
  autogpt_platform/frontend/src/tests/monitor.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  autogpt_platform/frontend/src/tests/pages/header.page.ts
  autogpt_platform/frontend/src/tests/pages/library.page.ts
  autogpt_platform/frontend/src/tests/pages/monitor.page.ts
  autogpt_platform/frontend/src/tests/profile.spec.ts
  autogpt_platform/frontend/src/tests/signin.spec.ts
  autogpt_platform/frontend/src/tests/signup.spec.ts
  autogpt_platform/frontend/src/tests/title.spec.ts
  autogpt_platform/frontend/src/tests/util.spec.ts
  autogpt_platform/frontend/src/tests/utils/assertion.ts
  autogpt_platform/frontend/src/tests/utils/auth.ts
  autogpt_platform/frontend/src/tests/utils/selectors.ts
  autogpt_platform/frontend/src/tests/utils/signin.ts
  autogpt_platform/frontend/src/tests/utils/signup.ts
  autogpt_platform/frontend/src/tests/utils/user-generator.ts
Labels: size/xl, platform/frontend, Review effort 4/5

#10396 fix(frontend): navbar missing
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarMainPage.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/data.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/signin.spec.ts
Labels: size/m, platform/frontend, Review effort 2/5

#10368 feat(tests): Add E2E test data creator script for comprehensive testing
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/tests/credentials/index.ts
Labels: size/xl, platform/frontend, platform/backend, Possible security concern, Review effort 4/5

#10340 feat(backend): Integrate GCS file storage with automatic expiration for Agent File Input
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/flux_kontext.py
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/backend/blocks/http.py
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/media.py
  autogpt_platform/backend/backend/blocks/screenshotone.py
  autogpt_platform/backend/backend/blocks/spreadsheet.py
  autogpt_platform/backend/backend/blocks/test/test_http.py
  autogpt_platform/backend/backend/blocks/text.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/routers/v1_test.py
  autogpt_platform/backend/backend/server/v2/store/media.py
  autogpt_platform/backend/backend/server/v2/store/media_test.py
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/backend/util/cloud_storage_test.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/backend/util/file_test.py
  autogpt_platform/backend/backend/util/logging.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/frontend/src/components/type-based-input.tsx
  autogpt_platform/frontend/src/components/ui/progress.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/xl, platform/frontend, platform/backend, Possible security concern, platform/blocks, Review effort 4/5

#10337 feat(blocks): add Replicate model blocks
  autogpt_platform/backend/backend/blocks/replicate/_auth.py
  autogpt_platform/backend/backend/blocks/replicate/_helper.py
  autogpt_platform/backend/backend/blocks/replicate/flux_advanced.py
  autogpt_platform/backend/backend/blocks/replicate/replicate_block.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/l, size/xl, platform/backend, Possible security concern, platform/blocks, Review effort 4/5

#10401 fix(platform): Fix service health check mechanism on app service
  autogpt_platform/backend/backend/monitoring/notification_monitor.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/m, platform/backend, Review effort 3/5

#10398 feat(frontend): beta blocks via launchdarkly + E2E improvements
  .vscode/launch.json
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/feature-flag/feature-flag-provider.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
  autogpt_platform/frontend/src/services/feature-flags/with-feature-flag.tsx
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/global-setup.ts
  autogpt_platform/frontend/src/tests/monitor.spec.ts
  autogpt_platform/frontend/src/tests/pages/base.page.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  autogpt_platform/frontend/src/tests/pages/library.page.ts
  autogpt_platform/frontend/src/tests/signin.spec.ts
  autogpt_platform/frontend/src/tests/utils/auth.ts
Labels: size/l, size/xl, platform/frontend, Possible security concern, Review effort 3/5

#10407 fix(frontend): unhide catpcha
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/reset-password/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Labels: size/s, platform/frontend

#10403 feat(backend): avoid using DatabaseManager when direct query is possible from the API layer
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
Labels: size/m, platform/backend, platform/blocks, Review effort 3/5

#10408 fix(frontend): launch darkly initialisation
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
Labels: size/m, platform/frontend

#10412 feat(backend): Add Missing FK indexes and remove unused & redundant indexes
  autogpt_platform/backend/migrations/20250721081856_add_missing_fk_indexes_remove_unused_indexes/migration.sql
  autogpt_platform/backend/schema.prisma
Labels: size/m, size/l, platform/backend, Possible security concern, Review effort 4/5

#10352 feat(backend): Add ReverseListOrderBlock for reversing list element order
  autogpt_platform/backend/backend/blocks/basic.py
Labels: size/m, platform/blocks, Review effort 2/5

#10409 feat(backend): Register agent subgraphs as library entries during agent import
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/store/image_gen.py
  autogpt_platform/backend/test/e2e_test_data.py
Labels: size/l, platform/backend, Review effort 4/5

#10414 fix(frontend): init LD on the client
  autogpt_platform/frontend/src/components/layout/Navbar/components/AccountMenu/AccountMenu.tsx
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
  autogpt_platform/frontend/src/tests/signin.spec.ts
Labels: size/m, size/s, platform/frontend

#10425 feat(platform): Move NotificationManager service from rest-api pod to scheduler pod
  autogpt_platform/backend/backend/rest.py
  autogpt_platform/backend/backend/scheduler.py
Labels: size/s, platform/backend, Review effort 2/5

#10415 feat(backend): Add thread safety to NodeExecutionProgress output handling
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
Labels: size/m, platform/backend, Review effort 3/5

#10416 feat(frontend): agent activity dropdown
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/README.md
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/Navbar.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/AgentActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityDropdown.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  autogpt_platform/frontend/src/components/layout/Navbar/components/NavbarView.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/useNavbar.ts
  autogpt_platform/frontend/src/components/tutorial.ts
  autogpt_platform/frontend/src/components/ui/popover.tsx
  autogpt_platform/frontend/src/lib/supabase/helpers.ts
  autogpt_platform/frontend/src/services/feature-flags/feature-flag-provider.tsx
  autogpt_platform/frontend/src/services/feature-flags/use-get-flag.ts
  autogpt_platform/frontend/src/tests/agent-activity.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  autogpt_platform/frontend/src/tests/pages/library.page.ts
Labels: size/xl, platform/frontend

#10438 feat: Add alert for notifying stuck running agent for more than a day
  autogpt_platform/backend/backend/monitoring/late_execution_monitor.py
Labels: size/m, platform/backend, Review effort 3/5

#10410 fix: transfer NodeTextBoxInput to use local state to fix cursor jump
  autogpt_platform/backend/backend/server/v2/admin/store_admin_routes.py
  autogpt_platform/frontend/src/components/node-input-components.tsx
Labels: size/m, platform/frontend, platform/backend

#9946 feat(block): Add Ayrshare integration for social media posting
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/blocks/ayrshare/__init__.py
  autogpt_platform/backend/backend/blocks/ayrshare/_util.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_bluesky.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_facebook.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_gmb.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_instagram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_linkedin.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_pinterest.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_reddit.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_snapchat.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_telegram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_threads.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_tiktok.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_x.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_youtube.py
  autogpt_platform/backend/backend/blocks/exa/answers.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/ayrshare.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/api/__generated__/endpoints/files/files.ts
  autogpt_platform/frontend/src/app/api/__generated__/endpoints/integrations/integrations.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/ayrshareSSOResponse.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/bodyPostV1UploadFileToCloudStorage.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/postV1UploadFileToCloudStorageParams.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/uploadFileResponse.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/integrations/credentials-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, platform/frontend, platform/backend, Possible security concern, platform/blocks, Review effort 4/5

#10023 feat(frontend, backend): Publish Agent Dialog Agent List Pagination
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/frontend/src/app/api/__generated__/endpoints/store/store.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/getV2GetMyAgentsParams.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
  docs/mkdocs.yml
Labels: documentation, size/l, platform/frontend, platform/backend, Review effort 2/5

#10449 feat(backend): Avoid executor over-consuming messages when it's fully occupied
  autogpt_platform/backend/backend/data/rabbitmq.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
Labels: size/m, size/l, platform/backend, Review effort 3/5

#10481 feat(backend): Introduce http client refresh on repeated error
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/backend/monitoring/late_execution_monitor.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Labels: size/xl, platform/backend, Review effort 4/5

#10480 fix(frontend): agent activity sometimes broken links
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
Labels: size/m, platform/frontend

#10482 feat(backend): add getting user profile, drafts, update send email to use mulitple to, cc, bcc
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/test/blocks/test_gmail.py
Labels: size/l, size/xl, platform/backend, platform/blocks, Review effort 4/5

#10491 fix(backend): Fix Google OAuth token revocation
  autogpt_platform/backend/backend/integrations/oauth/google.py
Labels: size/m, platform/backend

#10493 Revert "fix(backend): Fix Google OAuth token revocation"
  autogpt_platform/backend/backend/integrations/oauth/google.py
Labels: size/m, platform/backend

#10488 fix(frontend): agent activity links (2)
  autogpt_platform/frontend/pnpm-lock.yaml
  autogpt_platform/frontend/src/app/api/__generated__/endpoints/store/store.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/components/ActivityItem.tsx
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/useAgentActivityDropdown.ts
Labels: size/xl, platform/frontend

#10505 feat(backend): Enable Ayrshare YouTube support
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_youtube.py
  autogpt_platform/backend/backend/server/integrations/router.py
Labels: size/m, platform/backend, platform/blocks

#10504 feat(backend): Enable Ayrshare Instagram support
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_instagram.py
  autogpt_platform/backend/backend/server/integrations/router.py
Labels: size/m, platform/backend, platform/blocks, Review effort 3/5

#10494 feat(blocks): Add Firecrawl Integration for Web Scraping and Data Extraction
  autogpt_platform/backend/backend/blocks/firecrawl/__init__.py
  autogpt_platform/backend/backend/blocks/firecrawl/_api.py
  autogpt_platform/backend/backend/blocks/firecrawl/_config.py
  autogpt_platform/backend/backend/blocks/firecrawl/crawl.py
  autogpt_platform/backend/backend/blocks/firecrawl/extract.py
  autogpt_platform/backend/backend/blocks/firecrawl/map.py
  autogpt_platform/backend/backend/blocks/firecrawl/scrape.py
  autogpt_platform/backend/backend/blocks/firecrawl/search.py
  autogpt_platform/backend/poetry.lock
  autogpt_platform/backend/pyproject.toml
Labels: size/l, platform/backend, Possible security concern, platform/blocks, Review effort 3/5

#10510 chore(backend): Remove grok-beta llm
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
Labels: size/s, platform/backend, platform/blocks

#10514 fix(backend): we're making loops
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Labels: size/m, platform/blocks, Review effort 2/5

#10516 feat(backend): Agent Executor reliability; make RPC to DB manager durable
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/l, platform/backend, Review effort 4/5
