Repository Significant-Gravitas/AutoGPT, pull requests merged in 2025-03, with the labels that each got.

#9551 fix(backend): Use raw content from the LLM as conversation history
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Labels: size/m, platform/backend, platform/blocks

#9552 feat(backend): Add tool execution response on Smart Decision Block
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/l, platform/backend, platform/blocks, Review effort 4/5

#9546 feat(platform): Library Agent "Delete" functionality
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes/agents.py
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/agents/agent-delete-confirm-dialog.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/components/agptui/types.ts
  autogpt_platform/frontend/src/components/library/library-agent-card.tsx
  autogpt_platform/frontend/src/components/monitor/FlowInfo.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, platform/frontend, platform/backend

#9534 feat(backend): low balance notiifcation
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/notifications/templates/low_balance.html.jinja2
  autogpt_platform/backend/backend/util/exceptions.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/text.py
Labels: size/xl, platform/backend, platform/blocks, Review effort 4/5

#9555 feat(backend): Enable safe URL redirect on web requests for blocks
  autogpt_platform/backend/backend/util/request.py
Labels: size/m, platform/backend, Review effort 3/5

#9566 fix(backend): Error out execution when no starting node is available
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, platform/backend, Review effort 1/5

#9570 fix(frontend): Consolidate Application Buttons to ShadcN Base Button Component
  autogpt_platform/frontend/src/app/error.tsx
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/auth/AuthButton.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/edit/control/ControlPanel.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/components/profile/settings/SettingsForm.tsx
  autogpt_platform/frontend/src/components/ui/button.stories.tsx
  autogpt_platform/frontend/src/components/ui/button.tsx
Labels: size/l, platform/frontend, platform/backend

#9565 Enhance process management with error handling and lifecycle improvements
  autogpt_platform/backend/backend/app.py
  autogpt_platform/backend/backend/util/process.py
Labels: size/m, platform/backend, Review effort 3/5

#9571 fix(frontend): Refactor FeaturedSection and FeaturedAgentCard components.
  autogpt_platform/frontend/src/components/agptui/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
Labels: size/l, platform/frontend, platform/backend

#9572 fix(library): Anchor message to bottom of page
  autogpt_platform/frontend/src/app/library/page.tsx
Labels: size/m, platform/frontend, platform/backend

#9576 fix(backend): Increase logging level threshold of RPC service to WARNING
  autogpt_platform/backend/backend/util/service.py
Labels: size/s, platform/backend, Review effort 1/5

#9482 fix(frontend): Featured agents cards layout+sizing
  autogpt_platform/frontend/src/components/agptui/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/FeaturedSection.tsx
Labels: size/l, platform/frontend, platform/backend

#9575 Revert "fix(frontend): Consolidate Application Buttons to ShadcN Base Button Component"
  autogpt_platform/frontend/src/app/error.tsx
  autogpt_platform/frontend/src/app/globals.css
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/PrimaryActionButton.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/auth/AuthButton.tsx
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/edit/control/ControlPanel.tsx
  autogpt_platform/frontend/src/components/edit/control/SaveControl.tsx
  autogpt_platform/frontend/src/components/profile/settings/SettingsForm.tsx
  autogpt_platform/frontend/src/components/ui/button.stories.tsx
  autogpt_platform/frontend/src/components/ui/button.tsx
Labels: size/l, platform/frontend, platform/backend

#9547 feat(platform): Agent Run "Stop" + "Delete" functionality
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/migrations/20250228161607_agent_graph_execution_soft_delete/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/monitoring/page.tsx
  autogpt_platform/frontend/src/components/Flow.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-summary-card.tsx
  autogpt_platform/frontend/src/components/agents/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/components/agents/agent-schedule-details-view.tsx
  autogpt_platform/frontend/src/components/agptui/delete-confirm-dialog.tsx
  autogpt_platform/frontend/src/components/monitor/scheduleTable.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#9582 fix(backend): serialize the pydantic objects correctly for github checks and statuses
  autogpt_platform/backend/backend/blocks/github/checks.py
  autogpt_platform/backend/backend/blocks/github/statuses.py
Labels: size/m, platform/backend, platform/blocks, Review effort 1/5

#9583 feat(blocks): add list comments and update comment blocks
  autogpt_platform/backend/backend/blocks/github/_api.py
  autogpt_platform/backend/backend/blocks/github/issues.py
Labels: size/l, platform/backend, platform/blocks

#9578 fix(backend): Unbreak `add_marketplace_agent_to_library`
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
Labels: size/m, platform/frontend, platform/backend

#9585 feat(backend): Improve SmartDecisionMaker Agent-loop capability & add Anthropics support
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/frontend/src/components/OutputModalComponent.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
Labels: size/l, platform/frontend, platform/backend, platform/blocks, Review effort 3/5

#9581 docs(security): Update disclosure timeline
  SECURITY.md
Labels: size/xs, platform/backend, Review effort 1/5

#9591 fix(frontend/library): Use correct graph version to render I/O
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
Labels: size/m, platform/frontend, platform/backend

#9266 Feat(Otto) Add Initial Otto Chat Bot code
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/otto/models.py
  autogpt_platform/backend/backend/server/v2/otto/routes.py
  autogpt_platform/backend/backend/server/v2/otto/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/app/build/actions.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/components/OttoChatWidget.tsx
  autogpt_platform/frontend/src/components/TallyPopup.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, platform/frontend, platform/backend

#9604 fix(block): Add missing error pin to Exa Contents Block
  autogpt_platform/backend/backend/blocks/exa/contents.py
Labels: size/xs, platform/backend, platform/blocks

#9580 docs(online/offline): #8887 Move to a single source of truth for docs — Remove duplicate info from backend readme[.advanced].md
  autogpt_platform/backend/README.advanced.md
  autogpt_platform/backend/README.md
  docs/content/platform/advanced_setup.md
  docs/content/platform/getting-started.md
Labels: documentation, size/xl, platform/backend, Review effort 1/5

#9599 feat(block): Allow undefined self-loop link to `list` input pin on `AddToListBlock`
  autogpt_platform/backend/backend/blocks/basic.py
Labels: size/m, platform/backend, platform/blocks, Review effort 2/5

#9605 feat(backend): Reduce excessive application log, Make DB configurable, Set DB connection limit & timeout
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/data/queue.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/schema.prisma
Labels: size/m, platform/backend, Review effort 2/5

#9586 feat(backend): batching operations for queues + agent run become batched
  autogpt_platform/backend/backend/app.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/executor/__init__.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/email.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/templates/agent_run.html.jinja2
  autogpt_platform/backend/backend/rest.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/test/executor/test_scheduler.py
Labels: size/xl, platform/backend, Review effort 3/5

#9608 fix(backend): Remove useless agent marketplace indices
  autogpt_platform/backend/migrations/20250310095931_delete_duplicate_indices/migration.sql
  autogpt_platform/backend/schema.prisma
Labels: size/m, platform/backend, Review effort 1/5

#9619 fix(platform): Set Supabase CLI version
  .github/workflows/platform-backend-ci.yml
Labels: size/s, platform/backend, Review effort 1/5

#9610 fix(platform): Make LibraryAgent image as initial StoreListing image
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/image_gen.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelect.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9596 feat(backend): baseline summary processing
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/email.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/templates/weekly_summary.html.jinja2
Labels: size/l, platform/backend, Review effort 3/5

#9617 fix(platform): Make LibraryAgent image as initial StoreListing image - Followup
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/frontend/src/app/reset_password/actions.ts
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/components/agptui/BecomeACreator.tsx
  autogpt_platform/frontend/src/components/agptui/ProfileInfoForm.tsx
  autogpt_platform/frontend/src/components/agptui/PublishAgentSelectInfo.tsx
  autogpt_platform/frontend/src/components/agptui/StoreCard.tsx
  autogpt_platform/frontend/src/components/agptui/composite/PublishAgentPopout.tsx
  autogpt_platform/frontend/src/components/library/library-agent-card.tsx
  autogpt_platform/frontend/src/components/library/library-agent-list.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/l, platform/frontend, platform/backend, Review effort 2/5

#9613 fix(otto): prevent breaking when failing to make api call
  autogpt_platform/backend/backend/server/v2/otto/routes.py
  autogpt_platform/backend/backend/server/v2/otto/service.py
  autogpt_platform/frontend/src/app/build/actions.ts
  autogpt_platform/frontend/src/components/OttoChatWidget.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, platform/frontend, platform/backend

#9626 fix(backend): Move Notification service to DB manager
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/l, platform/backend

#9630 feat(backend): Fix failed RPC on Notification Service
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/m, platform/backend, Review effort 3/5

#9616 fix: backend admin page logic was broken
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/withRoleAccess.ts
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9627 feat(platform/library): Add "Export agent to file" action
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
Labels: size/l, platform/frontend, platform/backend

#9640 feat(backend): Support sub-agent on export/import agent feature
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/library/model_test.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/migrations/20250316095525_remove_graph_template/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/data/test_graph.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/xl, platform/frontend, platform/backend, Review effort 4/5

#9618 feat(frontend): break out the sidebar into a reusable component + use it for admin page
  autogpt_platform/frontend/src/app/admin/layout.tsx
  autogpt_platform/frontend/src/app/profile/(user)/layout.tsx
  autogpt_platform/frontend/src/components/agptui/Sidebar.tsx
Labels: size/l, platform/frontend, platform/backend, Review effort 2/5

#9651 feat(platform/library): Add icons to primary agent run action buttons
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agptui/types.ts
Labels: size/m, platform/frontend, platform/backend

#9652 fix(platform): Fix possible db-config permission denied when running two different Supabase versions
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/docker-compose.yml
Labels: size/s, platform/backend, Review effort 1/5

#9629 fix(block): Avoid infinite loop execution on AddToListBlock self-loop
  autogpt_platform/backend/backend/blocks/basic.py
Labels: size/m, platform/backend, platform/blocks, Review effort 2/5

#9650 feat(frontend/library): Make agent input fields expandable
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/components/agptui/Button.tsx
Labels: size/m, UI, Feature, platform/frontend, platform/backend

#9654 fix(backend): drastically increase batching time for the agent run
  autogpt_platform/backend/backend/data/notifications.py
Labels: size/s, platform/backend, Review effort 1/5

#9656 fix(frontend/library): Improve agent I/O rendering
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-draft-view.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 2/5

#9658 fix(frontend/library): Truncate agent card title and description
  autogpt_platform/frontend/src/components/library/library-agent-card.tsx
  autogpt_platform/frontend/src/components/library/library-agent-list.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 1/5

#9660 fix(backend/ws): Add `user_id` to websocket event subscription key
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/conn_manager.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/test/server/test_con_manager.py
  autogpt_platform/backend/test/server/test_ws_api.py
Labels: size/l, platform/backend

#9662 feat(platform): Use a single DB manager across the system
  autogpt_platform/backend/backend/exec.py
  autogpt_platform/docker-compose.platform.yml
Labels: size/s, platform/backend, Review effort 2/5

#9668 feat(backend): Avoid connecting the same host and falling-back to defined api_host
  autogpt_platform/backend/backend/util/service.py
Labels: size/m, platform/backend, Review effort 2/5

#9666 fix(frontend): Fix unreliable websocket connection for node execution update
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
Labels: size/m, platform/frontend, platform/backend, Review effort 2/5

#9665 feat(backend): Mark starting nodes as QUEUED instead of INCOMPLETE during the initial execution
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/s, platform/backend, Review effort 1/5

#9667 feat(backend): Avoid loading all node executions on large continuos agent
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/l, platform/backend, Review effort 3/5

#9632 fix(frontend): Fill defaults from schema to `hardcodedValues` at node creation
  autogpt_platform/frontend/src/components/Flow.tsx
Labels: size/m, platform/frontend, platform/backend

#9672 [Snyk] Security upgrade next from 14.2.23 to 14.2.25
  autogpt_platform/frontend/package.json
  autogpt_platform/frontend/yarn.lock
Labels: size/l, platform/frontend, platform/backend

#9628 feat(backend): add backend support for store listings submissions
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/library/db_test.py
  autogpt_platform/backend/backend/server/v2/store/admin_routes.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/db_test.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/migrations/20250318043016_update_store_submissions_format/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/test/data/test_graph.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/backend/test/test_data_creator.py
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, platform/frontend, platform/backend, Review effort 4/5

#9657 feat(block): Add agent input block subtypes
  autogpt_platform/backend/backend/blocks/basic.py
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/blocks/screenshotone.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/exec.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/file.py
  autogpt_platform/backend/test/data/test_graph.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/frontend/src/components/edit/control/BlocksControl.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Labels: size/xl, platform/frontend, platform/backend, platform/blocks, Review effort 3/5

#9661 feat(backend): Add capability to charge based on block execution count
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/backend/test/data/test_credit.py
Labels: size/l, platform/backend, Review effort 3/5

#9677 fix(blocks): Disable and provide toggle for Agent Input Block subtypes
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, platform/backend, platform/blocks

#9664 refactor(backend): Defer loading of `.blocks` and `.integrations.webhooks` on module init
  autogpt_platform/backend/backend/blocks/__init__.py
  autogpt_platform/backend/backend/blocks/compass/triggers.py
  autogpt_platform/backend/backend/blocks/github/triggers.py
  autogpt_platform/backend/backend/blocks/slant3d/webhook.py
  autogpt_platform/backend/backend/data/block.py
  autogpt_platform/backend/backend/integrations/webhooks/__init__.py
  autogpt_platform/backend/backend/integrations/webhooks/graph_lifecycle_hooks.py
  autogpt_platform/backend/backend/server/external/routes/v1.py
  autogpt_platform/backend/backend/server/integrations/router.py
  autogpt_platform/backend/backend/server/routers/v1.py
  docs/content/platform/new_blocks.md
Labels: documentation, size/l, platform/backend, platform/blocks, Review effort 3/5

#9688 fix(backend): Increase block request security; Prevent DNS rebinding & open redirect attack
  autogpt_platform/backend/backend/util/request.py
  autogpt_platform/backend/test/util/test_request.py
Labels: size/l, platform/backend, Review effort 4/5

#9452 feat(backend): Migrate old models in existing agents
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/server/rest_api.py
Labels: size/m, platform/backend

#9636 feat(platform): Onboarding updates
  autogpt_platform/backend/backend/data/onboarding.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/migrations/20250325100000_update_user_onboarding/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/login/actions.ts
  autogpt_platform/frontend/src/app/onboarding/1-welcome/page.tsx
  autogpt_platform/frontend/src/app/onboarding/2-reason/page.tsx
  autogpt_platform/frontend/src/app/onboarding/3-services/page.tsx
  autogpt_platform/frontend/src/app/onboarding/4-agent/page.tsx
  autogpt_platform/frontend/src/app/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/onboarding/6-congrats/actions.ts
  autogpt_platform/frontend/src/app/onboarding/6-congrats/page.tsx
  autogpt_platform/frontend/src/app/onboarding/layout.tsx
  autogpt_platform/frontend/src/app/onboarding/page.tsx
  autogpt_platform/frontend/src/app/onboarding/reset/page.ts
  autogpt_platform/frontend/src/app/providers.tsx
  autogpt_platform/frontend/src/app/signup/actions.ts
  autogpt_platform/frontend/src/components/onboarding/OnboardingAgentInput.tsx
  autogpt_platform/frontend/src/components/onboarding/OnboardingStep.tsx
  autogpt_platform/frontend/src/components/onboarding/onboarding-provider.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
  autogpt_platform/frontend/src/lib/utils.ts
  autogpt_platform/frontend/src/tests/pages/login.page.ts
Labels: size/xl, platform/frontend, platform/backend, Review effort 4/5

#9697 fix(backend): Filter Redis messages by user ID
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/server/ws_api.py
Labels: size/m, platform/backend, platform/blocks, Review effort 4/5

#9696 fix(backend): Skip updating status of already terminated graph
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, Review effort 2/5

#9710 feat(backend): Make agent store data to be publicly accessible by non authenticated user
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
Labels: size/m, platform/backend, Review effort 3/5

#9703 fix(platform): Fixs to allow formatting and tests to work from sub command
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/docker-compose.test.yaml
  autogpt_platform/backend/linter.py
  autogpt_platform/backend/run_tests.py
Labels: size/m, platform/backend, Review effort 2/5

#9695 feat(platform/library): Real-time execution updates
  autogpt_platform/backend/backend/blocks/io.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/graph.py
  autogpt_platform/backend/backend/data/includes.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/server/conn_manager.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/ws_api.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/test.py
  autogpt_platform/backend/test/executor/test_manager.py
  autogpt_platform/backend/test/executor/test_tool_use.py
  autogpt_platform/backend/test/server/test_con_manager.py
  autogpt_platform/backend/test/server/test_ws_api.py
  autogpt_platform/frontend/src/app/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/monitoring/page.tsx
  autogpt_platform/frontend/src/components/RunnerUIWrapper.tsx
  autogpt_platform/frontend/src/components/agents/agent-run-details-view.tsx
  autogpt_platform/frontend/src/components/agents/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/components/monitor/AgentFlowList.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunInfo.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsStatus.tsx
  autogpt_platform/frontend/src/components/monitor/FlowRunsTimeline.tsx
  autogpt_platform/frontend/src/components/runner-ui/RunnerOutputUI.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, API, platform/frontend, platform/backend, platform/blocks, Review effort 4/5

#9718 refactor(libs): Remove print statements
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Labels: size/s, platform/backend, Review effort 1/5, tech debt

#9706 fix(frontend): Add extra padding bottom on library agent page
  autogpt_platform/frontend/src/app/library/page.tsx
Labels: size/s, platform/frontend, platform/backend, Review effort 1/5
