Repository Significant-Gravitas/AutoGPT, pull requests merged in 2025-08, with the labels that each got.

#10520 refactor(frontend): Update data fetching strategy in marketplace main page
  autogpt_platform/frontend/src/app/(platform)/marketplace/actions.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentsSection/AgentsSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/AgentsSection/useAgentsSection.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/BecomeACreator/BecomeACreator.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorCard/CreatorCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorCard/helper.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FeaturedAgentCard/FeaturedAgentCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FeaturedCreators/FeaturedCreators.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FeaturedCreators/useFeaturedCreators.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FeaturedSection/FeaturedSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FeaturedSection/helper.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FeaturedSection/useFeaturedSection.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FilterChips/FilterChips.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/FilterChips/useFilterChips.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/HeroSection.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/HeroSection/useHeroSection.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SearchBar/SearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/SearchBar/useSearchBar.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/StoreCard/StoreCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/page.tsx
Labels: size/xl, platform/frontend, Review effort 4/5

#10522 feat: Avoid Rest & DatabaseManager service serving traffic when the db is not yet connected
  autogpt_platform/backend/backend/data/db.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/m, platform/backend, Review effort 2/5

#10526 refactor: improve executor reliability and error handling
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/decorator.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/retry_test.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/l, size/xl, platform/backend, platform/blocks, Review effort 4/5

#10434 feat(frontend): Add marketplace agent page tests
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/components/agptui/AgentInfo.tsx
  autogpt_platform/frontend/src/tests/marketplace-agent.spec.ts
Labels: size/l, platform/frontend, Review effort 2/5

#10538 refactor(backend): remove Ayrshare from execution & credentials manager
  autogpt_platform/backend/backend/blocks/ayrshare/_util.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_bluesky.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_facebook.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_gmb.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_instagram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_linkedin.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_pinterest.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_reddit.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_snapchat.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_telegram.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_threads.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_tiktok.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_x.py
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_youtube.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/server/integrations/router.py
Labels: size/l, platform/backend, Possible security concern, platform/blocks, Review effort 4/5

#10529 feat(backend): Make Graph & Node Execution Stats Update Durable
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/util/decorator.py
Labels: size/l, platform/backend, Review effort 4/5

#10541 fix(backend/executor): Fix node execution status and output persistence ordering
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, platform/backend, platform/blocks

#10542 fix(backend/executor): Avoid stopping agent node evaluation when stopping graph
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, platform/backend, Review effort 3/5

#10543 feat(frontend): Show CAPTCHA only in cloud environments
  autogpt_platform/frontend/src/app/(platform)/login/page.tsx
  autogpt_platform/frontend/src/app/(platform)/login/useLoginPage.ts
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
  autogpt_platform/frontend/src/app/(platform)/signup/useSignupPage.ts
Labels: size/m, platform/frontend, Review effort 2/5

#10558 refactor(backend): Refactor log client and resource cleanup
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/ayrshare/_util.py
  autogpt_platform/backend/backend/blocks/persistence.py
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
  autogpt_platform/backend/backend/data/execution.py
  autogpt_platform/backend/backend/data/rabbitmq.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/scheduler_test.py
  autogpt_platform/backend/backend/executor/utils.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/monitoring/block_error_monitor.py
  autogpt_platform/backend/backend/monitoring/late_execution_monitor.py
  autogpt_platform/backend/backend/monitoring/notification_monitor.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/process.py
  autogpt_platform/backend/backend/util/retry.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
Labels: size/xl, platform/backend, platform/blocks, Review effort 4/5

#10355 test(frontend): e2e tests for library page
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryActionSubHeader/LibraryActionSubHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySearchBar/LibrarySearchBar.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibrarySortMenu/LibrarySortMenu.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/tests/assets/testing_agent.json
  autogpt_platform/frontend/src/tests/global-setup.ts
  autogpt_platform/frontend/src/tests/library.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
  autogpt_platform/frontend/src/tests/pages/library.page.ts
  autogpt_platform/frontend/src/tests/utils/auth.ts
  autogpt_platform/frontend/src/tests/utils/get-browser.ts
Labels: size/xl, platform/frontend, platform/backend, Possible security concern, Review effort 4/5

#10564 fix(backend): migrate notification service to fully async to resolve RabbitMQ connection issues
  autogpt_platform/backend/backend/blocks/google/calendar.py
  autogpt_platform/backend/backend/blocks/google/gmail.py
  autogpt_platform/backend/backend/blocks/slant3d/order.py
  autogpt_platform/backend/backend/blocks/slant3d/webhook.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/manager.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/metrics.py
Labels: size/l, platform/backend, platform/blocks, Review effort 4/5

#10577 Revert "feat(docker): add frontend service to docker-compose with env config improvements"
  .github/workflows/platform-frontend-ci.yml
  autogpt_platform/README.md
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
  autogpt_platform/frontend/.env.example
  autogpt_platform/frontend/Dockerfile
  autogpt_platform/frontend/playwright.config.ts
  autogpt_platform/frontend/src/app/api/proxy/[...path]/route.ts
  autogpt_platform/frontend/src/app/layout.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/client.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/helpers.ts
  autogpt_platform/frontend/src/lib/autogpt-server-api/proxy-action.ts
  autogpt_platform/frontend/src/lib/env-config.ts
  autogpt_platform/frontend/src/lib/supabase/hooks/useSupabase.ts
  autogpt_platform/frontend/src/lib/supabase/middleware.ts
  autogpt_platform/frontend/src/lib/supabase/server/getServerSupabase.ts
  autogpt_platform/frontend/src/lib/turnstile.ts
  docs/content/platform/getting-started.md
Labels: documentation, size/xl, platform/frontend, Review effort 2/5

#10578 fix(backend): Fix executor running RabbitMQ operations on closed/closing connection
  autogpt_platform/backend/backend/data/rabbitmq.py
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, platform/backend, Review effort 3/5

#10571 fix(frontend): marketplace top agents section
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/useMainMarketplacePage.ts
  autogpt_platform/frontend/src/tests/pages/navbar.page.ts
Labels: size/s, size/xs, platform/frontend, Review effort 2/5

#10568 fix(backend): add graph validation before scheduling recurring jobs
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/executor/utils.py
Labels: size/l, platform/backend, Review effort 3/5

#10566 fix(backend): resolve unclosed HTTP client session errors
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/store/media.py
  autogpt_platform/backend/backend/server/v2/store/media_test.py
  autogpt_platform/backend/backend/util/cloud_storage.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/l, platform/backend, Review effort 3/5

#10579 refactor(backend): separate notification service from scheduler
  autogpt_platform/autogpt_libs/autogpt_libs/auth/config.py
  autogpt_platform/backend/backend/notification.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/scheduler.py
  autogpt_platform/backend/pyproject.toml
  autogpt_platform/docker-compose.platform.yml
  autogpt_platform/docker-compose.yml
Labels: size/m, platform/backend, Possible security concern, platform/blocks, Review effort 3/5

#10584 feat(backend): standardize service health checks with UnhealthyServiceError
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/m, platform/backend, Review effort 2/5

#10537 feat(backend): Enable Ayrshare TikTok support
  autogpt_platform/backend/backend/blocks/ayrshare/post_to_tiktok.py
  autogpt_platform/backend/backend/server/integrations/router.py
Labels: size/m, size/l, platform/backend, platform/blocks, Review effort 2/5

#10585 fix(backend): correct LLM configurations
  autogpt_platform/backend/backend/blocks/llm.py
Labels: size/s, platform/blocks

#10586 feat(backend): add more discord blocks support
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/blocks/discord.py
Labels: size/xl, platform/blocks, Review effort 4/5

#10589 fix(backend): resolve scheduler deadlock and improve health checks
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/util/service.py
Labels: size/m, platform/backend, Review effort 2/5

#10622 ref(infra): Supabase DB Docker env management and compose
  .gitignore
  autogpt_platform/CLAUDE.md
  autogpt_platform/db/docker/.env.default
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/docker-compose.yml
Labels: size/l, Possible security concern, Review effort 3/5

#10595 feat(feature-flag): add LaunchDarkly user context and metadata support
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache.py
  autogpt_platform/autogpt_libs/autogpt_libs/utils/cache_test.py
  autogpt_platform/backend/backend/blocks/test/test_smart_decision_maker.py
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/executor/manager_test.py
  autogpt_platform/backend/backend/server/integrations/utils.py
  autogpt_platform/backend/backend/usecases/block_autogen.py
  autogpt_platform/backend/backend/usecases/reddit_marketing.py
  autogpt_platform/backend/backend/usecases/sample.py
  autogpt_platform/backend/backend/util/clients.py
  autogpt_platform/backend/backend/util/service.py
  autogpt_platform/backend/backend/util/service_test.py
  autogpt_platform/backend/test/e2e_test_data.py
Labels: size/xl, platform/backend, platform/blocks, Review effort 3/5

#10627 feat(block): Remove paralel tool-call system prompting
  autogpt_platform/backend/backend/blocks/smart_decision_maker.py
Labels: size/s, platform/blocks

#10632 refactor(backend): consolidate LaunchDarkly feature flag management
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/__init__.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/client_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/feature_flag/config.py
  autogpt_platform/backend/.env.example
  autogpt_platform/backend/backend/executor/activity_status_generator.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/routers/v1.py
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/util/feature_flag.py
  autogpt_platform/backend/backend/util/feature_flag_test.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/l, platform/backend, Review effort 3/5

#10629 fix(marketplace): loading state
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
Labels: size/m, platform/frontend, Review effort 1/5

#10634 fix(backend): resolve CloudLoggingHandler deadlock causing scheduler hangs
  autogpt_platform/autogpt_libs/autogpt_libs/logging/config.py
Labels: size/m, Review effort 2/5

#10635 fix(backend/AM): Fix AutoMod api key issue
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
Labels: size/s, platform/backend

#10402 docs(blocks): Add AI/ML API integration guide and update LLM headers
  autogpt_platform/backend/backend/blocks/llm.py
  docs/content/imgs/aimlapi/Step 1 AutoGPT Running.png
  docs/content/imgs/aimlapi/Step 2 Build Screen.png
  docs/content/imgs/aimlapi/Step 3 AI Block.png
  docs/content/imgs/aimlapi/Step 4 AI Generator Block.png
  docs/content/imgs/aimlapi/Step 5 AIMLAPI Models.png
  docs/content/imgs/aimlapi/Step 6.1 Key Placeholder.png
  docs/content/imgs/aimlapi/Step 6.2 No Fill Key Placeholder.png
  docs/content/imgs/aimlapi/Step 6.3 Filled Key Placeholder.png
  docs/content/imgs/aimlapi/Step 6.4 Overview.png
  docs/content/imgs/aimlapi/Step 7.1 Save.png
  docs/content/imgs/aimlapi/Step 8 Run.png
  docs/content/imgs/aimlapi/Step 9 Output.png
  docs/content/index.md
  docs/content/platform/aimlapi.md
  docs/mkdocs.yml
Labels: documentation, size/l, platform/blocks, Review effort 2/5

#10639 feat(docker): streamline Supabase to minimal essential services
  autogpt_platform/db/docker/docker-compose.yml
  autogpt_platform/docker-compose.yml
Labels: size/m, Review effort 2/5

#10343 fix(backend): update and fix weekly summary email
  autogpt_platform/backend/backend/data/generate_data.py
  autogpt_platform/backend/backend/data/model.py
  autogpt_platform/backend/backend/executor/database.py
  autogpt_platform/backend/backend/executor/scheduler.py
  autogpt_platform/backend/backend/notifications/notifications.py
  autogpt_platform/backend/backend/notifications/templates/weekly_summary.html.jinja2
Labels: size/l, size/xl, platform/backend, Review effort 4/5

#9924 feat(blocks): Enrichlayer integration
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/enrichlayer/_api.py
  autogpt_platform/backend/backend/blocks/enrichlayer/_auth.py
  autogpt_platform/backend/backend/blocks/enrichlayer/linkedin.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
  autogpt_platform/frontend/src/components/integrations/credentials-input.tsx
Labels: size/xl, platform/frontend, platform/backend, platform/blocks, Review effort 3/5

#10641 feat(backend): add support for v0 by Vercel models and credentials
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/llm.py
  autogpt_platform/backend/backend/data/block_cost_config.py
  autogpt_platform/backend/backend/integrations/credentials_store.py
  autogpt_platform/backend/backend/integrations/providers.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/m, platform/backend, platform/blocks, Review effort 2/5

#10649 fix(frontend): remove console.log
  autogpt_platform/frontend/src/app/(platform)/signup/page.tsx
Labels: size/xs, platform/frontend, Review effort 1/5

#10661 hotfix(backend/executor): Fix RabbitMQ channel retry logic in executor
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/s, platform/backend, Review effort 2/5

#10674 feat(frontend): add Line Tabs component
  autogpt_platform/frontend/src/components/molecules/TabsLine/TabsLine.stories.tsx
  autogpt_platform/frontend/src/components/molecules/TabsLine/TabsLine.tsx
Labels: size/l, platform/frontend, Review effort 2/5

#10675 fix(frontend): agent activity cap
  autogpt_platform/frontend/src/components/layout/Navbar/components/AgentActivityDropdown/helpers.tsx
Labels: size/m, platform/frontend, Possible security concern, Review effort 5/5

#10689 fix(frontend): flaky e2e tests
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
  autogpt_platform/frontend/src/tests/build.spec.ts
  autogpt_platform/frontend/src/tests/pages/build.page.ts
Labels: size/l, platform/frontend, Review effort 2/5

#10694 chore(api): remove launch darkly feature flags from api key endpoints
  autogpt_platform/backend/backend/server/routers/v1.py
Labels: size/s, platform/backend, Review effort 1/5

#10545 feat(platform/dashboard): Enable editing for agent submissions
  autogpt_platform/backend/backend/data/credit.py
  autogpt_platform/backend/backend/server/model.py
  autogpt_platform/backend/backend/server/v2/admin/credit_admin_routes_test.py
  autogpt_platform/backend/backend/server/v2/admin/model.py
  autogpt_platform/backend/backend/server/v2/library/db.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/exceptions.py
  autogpt_platform/backend/backend/server/v2/store/model.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/backend/util/models.py
  autogpt_platform/backend/migrations/20250805111135_add_video_url_and_categories_to_store_submission_view/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/backend/snapshots/sub_success
  autogpt_platform/backend/test/e2e_test_data.py
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTable/AgentTable.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableCard/AgentTableCard.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/AgentTableRow.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/AgentTableRow/useAgentTableRow.ts
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/MainDashboardPage.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/dashboard/components/MainDashboardPage/useMainDashboardPage.ts
  autogpt_platform/frontend/src/app/api/__generated__/models/storeSubmissionEditRequest.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/components/agptui/Status.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/EditAgentModal.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/EditAgentForm.tsx
  autogpt_platform/frontend/src/components/contextual/EditAgentModal/components/useEditAgentForm.ts
  autogpt_platform/frontend/src/tests/agent-dashboard.spec.ts
Labels: size/l, size/xl, platform/frontend, platform/backend, Review effort 4/5

#10703 fix(frontend): clear agent name and description on agent file removal
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/LibraryUploadAgentDialog.tsx
  autogpt_platform/frontend/src/app/(platform)/library/components/LibraryUploadAgentDialog/useLibraryUploadAgentDialog.ts
Labels: size/m, platform/frontend, Review effort 2/5

#10693 feat(docs): Update Ollama setup docs with new methods
  docs/content/imgs/ollama/Ollama-Expose-Network.png
  docs/content/imgs/ollama/Ollama-Select-llama3.2.png
  docs/content/platform/ollama.md
Labels: documentation, size/l, Possible security concern, Review effort 2/5

#10723 feat(backend): DiscordGetCurrentUserBlock to fetch authenticated user details via OAuth2
  autogpt_platform/backend/.env.default
  autogpt_platform/backend/backend/blocks/discord/_api.py
  autogpt_platform/backend/backend/blocks/discord/_auth.py
  autogpt_platform/backend/backend/blocks/discord/bot_blocks.py
  autogpt_platform/backend/backend/blocks/discord/oauth_blocks.py
  autogpt_platform/backend/backend/integrations/oauth/__init__.py
  autogpt_platform/backend/backend/integrations/oauth/discord.py
  autogpt_platform/backend/backend/util/metrics.py
  autogpt_platform/backend/backend/util/settings.py
Labels: size/xl, platform/backend, platform/blocks, Review effort 3/5

#10725 fix(frontend): filter credentials to ones that are supported
  autogpt_platform/frontend/src/hooks/useCredentials.ts
Labels: size/s, platform/frontend, Review effort 2/5

#10633 feat(backend): add store meta blocks
  autogpt_platform/CLAUDE.md
  autogpt_platform/backend/backend/blocks/system/__init__.py
  autogpt_platform/backend/backend/blocks/system/library_operations.py
  autogpt_platform/backend/backend/blocks/system/store_operations.py
  autogpt_platform/backend/backend/blocks/test/test_store_operations.py
  autogpt_platform/backend/backend/executor/database.py
Labels: size/xl, platform/backend, platform/blocks, Review effort 3/5

#10730 fix(frontend): Remove old experience alert
  autogpt_platform/frontend/src/app/(platform)/library/page.tsx
Labels: size/m, platform/frontend, Review effort 1/5

#10719 fix(frontend): Validate and sanitize cron expressions for scheduler API
  autogpt_platform/frontend/src/components/cron-scheduler-dialog.tsx
  autogpt_platform/frontend/src/components/cron-scheduler.tsx
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/cron-expression-utils.ts
Labels: size/m, size/l, size/xl, platform/frontend, Review effort 2/5

#10728 feat(AutoMod): add ``moderation id`` to moderation message
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
  autogpt_platform/backend/backend/server/v2/AutoMod/models.py
  autogpt_platform/backend/backend/util/exceptions.py
Labels: size/m, platform/backend

#10718 feat(backend,frontend): Send applicant email on review response
  autogpt_platform/backend/backend/data/notifications.py
  autogpt_platform/backend/backend/data/notifications_test.py
  autogpt_platform/backend/backend/data/user.py
  autogpt_platform/backend/backend/notifications/templates/agent_approved.html.jinja2
  autogpt_platform/backend/backend/notifications/templates/agent_rejected.html.jinja2
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/migrations/20250824000317_add_notifications_for_approved_and_denied_agents/migration.sql
  autogpt_platform/backend/schema.prisma
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/NotificationForm.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/useNotificationForm.ts
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/l, size/xl, platform/frontend, platform/backend, Review effort 2/5

#10733 feat(AM): fix moderation id message
  autogpt_platform/backend/backend/server/v2/AutoMod/manager.py
Labels: size/m, platform/backend

#10533 fix(blocks): handle invalid or empty response from MusicGen model
  autogpt_platform/backend/backend/blocks/ai_music_generator.py
Labels: size/s, platform/blocks, Review effort 2/5

#10128 feat(backend): Blocks Menu redesign backend
  autogpt_platform/backend/backend/blocks/agent.py
  autogpt_platform/backend/backend/blocks/system/store_operations.py
  autogpt_platform/backend/backend/server/rest_api.py
  autogpt_platform/backend/backend/server/v2/builder/db.py
  autogpt_platform/backend/backend/server/v2/builder/model.py
  autogpt_platform/backend/backend/server/v2/builder/routes.py
  autogpt_platform/backend/backend/server/v2/library/model.py
  autogpt_platform/backend/backend/server/v2/library/routes_test.py
  autogpt_platform/backend/backend/server/v2/store/db.py
  autogpt_platform/backend/backend/server/v2/store/routes.py
  autogpt_platform/backend/backend/server/v2/store/routes_test.py
  autogpt_platform/backend/backend/util/models.py
  autogpt_platform/backend/snapshots/lib_agts_search
  autogpt_platform/frontend/src/app/api/openapi.json
  autogpt_platform/frontend/src/hooks/useAgentGraph.tsx
  autogpt_platform/frontend/src/lib/autogpt-server-api/types.ts
Labels: size/xl, platform/frontend, platform/backend, platform/blocks, Review effort 4/5

#10746 fix(backend/executor): prevent infinite requeueing of malformed messages
  autogpt_platform/backend/backend/executor/manager.py
Labels: size/m, size/l, platform/backend, Review effort 2/5

#10726 feat(lib): add tests + fix minor bugs
  .github/workflows/platform-backend-ci.yml
  autogpt_platform/autogpt_libs/autogpt_libs/auth/config.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/config_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/dependencies_tests.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/helpers.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/helpers_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/jwt_utils.py
  autogpt_platform/autogpt_libs/autogpt_libs/auth/jwt_utils_test.py
  autogpt_platform/autogpt_libs/autogpt_libs/conftest.py
  autogpt_platform/autogpt_libs/poetry.lock
  autogpt_platform/autogpt_libs/pyproject.toml
  autogpt_platform/backend/.env.default
Labels: size/xl, platform/backend, Review effort 3/5

#10750 fix(frontend/library): Fix new runs not appearing in list
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/use-agent-runs.ts
Labels: size/m, platform/frontend

#10737 refactor(frontend): Revamp creator page data fetching and structure
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorInfoCard/CreatorInfoCard.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorLinks/CreatorLinks.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/CreatorPageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainCreatorPage/MainCreatorPage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainCreatorPage/useMainCreatorPage.ts
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePage/MainMarketplacePage.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/components/MainMarketplacePageLoading.tsx
  autogpt_platform/frontend/src/app/(platform)/marketplace/creator/[creator]/page.tsx
Labels: size/l, size/xl, platform/frontend

#10696 feat(frontend): new run agent modal (1/2)
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/AgentRunsView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AgentCostSection/AgentCostSection.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AgentDetails/AgentDetails.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AgentDetails/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AgentInputFields/AgentInputFields.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AgentSectionHeader/AgentSectionHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/DefaultRunView/DefaultRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/RunActions/RunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleActions/ScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleView/ScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleView/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleView/useScheduleView.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/WebhookTriggerBanner/WebhookTriggerBanner.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/helpers.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/components/atoms/Badge/Badge.tsx
  autogpt_platform/frontend/src/components/atoms/LLMItem/assets/chat-gpt.png
  autogpt_platform/frontend/src/components/atoms/LLMItem/assets/claude.png
  autogpt_platform/frontend/src/components/atoms/LLMItem/assets/perplexity.png
  autogpt_platform/frontend/src/components/atoms/Text/helpers.ts
  autogpt_platform/frontend/src/components/molecules/ShowMore/ShowMore.stories.tsx
  autogpt_platform/frontend/src/components/molecules/ShowMore/ShowMore.tsx
  autogpt_platform/frontend/src/components/molecules/ShowMore/helpers.ts
  autogpt_platform/frontend/src/lib/utils/time.ts
Labels: size/xl, platform/frontend

#10764 test(frontend): fix library flaky e2e test
  autogpt_platform/frontend/src/tests/pages/library.page.ts
Labels: size/xs, platform/frontend

#10781 fix(frontend): Fix checking of `Date` and `NaN` input values
  autogpt_platform/frontend/src/lib/utils.ts
Labels: size/s, platform/frontend

#10769 feat(frontend): New Run Agent Modal (2/2)
  autogpt_platform/frontend/src/app/(no-navbar)/onboarding/5-run/page.tsx
  autogpt_platform/frontend/src/app/(platform)/auth/integrations/oauth_callback/route.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/APIKeyCredentialsModal/APIKeyCredentialsModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/APIKeyCredentialsModal/useAPIKeyCredentialsModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/CredentialsInputs/CredentialsInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/HotScopedCredentialsModal/HotScopedCredentialsModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/OAuthWaitingModal/OAuthWaitingModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/PasswordCredentialsModal/PasswordCredentialsModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/RunAgentInputs.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentInputs/useRunAgentInputs.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/RunAgentModal.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AgentDetails/AgentDetails.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/AgentDetails/helpers.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/DefaultRunView/DefaultRunView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ModalHeader/ModalHeader.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/RunActions/RunActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleActions/ScheduleActions.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/components/ScheduleView/ScheduleView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/context.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/AgentRunsView/components/RunAgentModal/useAgentRunModal.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/OldAgentLibraryView.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-run-draft-view.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/components/agent-runs-selector-list.tsx
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/components/OldAgentLibraryView/use-agent-runs.ts
  autogpt_platform/frontend/src/app/(platform)/library/agents/[id]/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/integrations/page.tsx
  autogpt_platform/frontend/src/app/(platform)/profile/(user)/settings/components/SettingsForm/components/NotificationForm/NotificationForm.tsx
  autogpt_platform/frontend/src/components/CustomNode.tsx
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.stories.tsx
  autogpt_platform/frontend/src/components/atoms/FileInput/FileInput.tsx
  autogpt_platform/frontend/src/components/atoms/FileInput/helpers.ts
  autogpt_platform/frontend/src/components/atoms/Input/Input.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Input/Input.tsx
  autogpt_platform/frontend/src/components/atoms/Input/useInput.ts
  autogpt_platform/frontend/src/components/atoms/Progress/Progress.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Progress/Progress.tsx
  autogpt_platform/frontend/src/components/atoms/Select/Select.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Select/Select.tsx
  autogpt_platform/frontend/src/components/atoms/Switch/Switch.stories.tsx
  autogpt_platform/frontend/src/components/atoms/Switch/Switch.tsx
  autogpt_platform/frontend/src/components/integrations/oauth2-flow-waiting-modal.tsx
  autogpt_platform/frontend/src/components/molecules/Dialog/Dialog.stories.tsx
  autogpt_platform/frontend/src/components/molecules/TimePicker/TimePicker.stories.tsx
  autogpt_platform/frontend/src/components/molecules/TimePicker/TimePicker.tsx
  autogpt_platform/frontend/src/components/node-input-components.tsx
  autogpt_platform/frontend/src/components/type-based-input.tsx
  docs/content/platform/new_blocks.md
Labels: documentation, size/xl, platform/frontend

#10786 fix(frontend): use new dialog in schedule agent
  autogpt_platform/frontend/src/components/cron-scheduler-dialog.tsx
Labels: size/m, platform/frontend
